﻿@{
    Layout = null;
    IMeet.IBT.Services.SupplierService supplierService = new IMeet.IBT.Services.SupplierService();
    IMeet.IBT.Services.WidgetService widgetService = new IMeet.IBT.Services.WidgetService();
    int countryId = 0;
    int cityId = 0;
    string countryName = "";
    //string direction = "";
    if (Request.QueryString["countryId"].ToString() != "")
    {
        countryId = Convert.ToInt32(Request.QueryString["countryId"].ToString());
        ViewBag.countryName = supplierService.GetCountryInfo(countryId).CountryName;
        countryName = ViewBag.countryName == "" ? "" : ViewBag.countryName;
    }
    if (Request.QueryString["countryId"].ToString() != "" && Request.QueryString["cityId"].ToString() != "")
    {
        countryId = Convert.ToInt32(Request.QueryString["countryId"].ToString());
        cityId = Convert.ToInt32(Request.QueryString["cityId"].ToString());
        ViewBag.countryName = supplierService.GetCountryInfo(countryId).CountryName;
        //ViewBag.direction = supplierService.GetCityInfo(cityId).Direction;
        countryName = ViewBag.countryName == "" ? "" : ViewBag.countryName;
        //direction = ViewBag.direction == "" ? "" : ViewBag.direction;
        ViewBag.Score = supplierService.GetCityInfo(cityId).Sort;
    }
}
<script type="text/javascript">
    function initCountry() {
        $("#ddlCountry option[value='" + $("#countryId").val() + "']").attr("selected", "selected");
        $("#ddlCountry").change(function () {
            var value = $("#ddlCountry").val();
            $("#countryId").attr("value", value);  //隐藏控件赋值
        });
    }
    function GetCountryByJquery() {
        $("#ddlCountry").empty();
        $.getJSON("/Admin/Home/GetCountry", function (data) {
            $.each(data, function (i, item) {
                $("#ddlCountry").append($("<option title=\"" + item + "\"></option>").val(i).text(item.substring(0,43)));
            });
        });
        $("#ddlCountry").prepend($("<option></option>").val("-1").text("Select Country"));
    }

    function Save() {
        if ($("#CityName").val() == "" || $("#countryId").val() == "") {
            Boxy.alert("Incomplete information！", null, { title: "Save City" });
            $(".boxyInner").addClass("popup");
        }
        else {
            CityManage.save($("#countryId").val());
        }
    }
</script>
<input id="UserId" name="UserId" type="hidden" value="@User.Identity.Name" />
<input id="countryId" name="countryId" type="hidden" value="@countryId"/>
<input id="cityId" name="cityId" type="hidden" value="@cityId"/>
<div id="NewCity">
    <div class="w450 popupMain boxyContent">
        <div class="postBox grayBox">
            <form name="Cityform">
                <ul class="form">
                    <li class="formLi">
                        <label class="title">Country Name</label>: <span class="rightCol" style="z-index: 0;">
                              <select id="ddlCountry" class="select mR10" style="width: 273px;">
                            </select>
                         @*   <span class="select" style="z-index: 0;">
                                <span class="arrow inlineBox">@countryName</span>
                                <div style="display: none;" class="list">
                                    <ul id="ddlCountry">
                                        @{
                                            foreach (var countryItem in supplierService.GetAllCountry())
                                            {
                                            <li class="" data-countryId="@countryItem.CountryId" onclick="GetCity('@countryItem.CountryId');">@countryItem.CountryName</li>
                                            }
 }
                                    </ul>
                                </div>
                            </span>*@
                            <span class="tip">This information is required.</span>
                        </span>
                    </li>
                    <li class="formLi">
                        <label class="title">City Name</label>: <span class="rightCol" style="z-index: 0;">
                            <input type="text" class="inputBg" id="CityName" name="CityName" />
                            <span class="tip">This information is required.</span>
                        </span>
                    </li>
                    <li class="formLi">
                        <label class="title">Score	</label>
                        : 
                        <span class="rightCol" style="z-index: 0;">
                            <input type="text" value="@ViewBag.Score"  class="inputBg" id="score" /></span>
                    </li>
                    @*<li class="formLi lastForm">
                        <label class="title">Direction</label>: 
                        <span class="rightCol" style="z-index: 0;">
                            <input type="text" value="@direction"  class="inputBg" id="direction" name="direction"/>
                        </span>
                    </li>*@
                    <li>
                        <div class="btn">
                            <a href="javascript:void(0);" onclick="Save();" class="btnBlueH45 mR5"><span class="bg">Save</span></a>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
