﻿@{
    Layout = null;
    IMeet.IBT.Services.SearchService searchService = new IMeet.IBT.Services.SearchService();
}
<script src="/App/js/jSearchSupply.js"></script>
<script type="text/javascript">
    function initCountryCity() {
        $("#ddlCountry").change(function () {
            GetCity();
            var value = $("#ddlCountry").val();
            $("#hidfldCountry").attr("value", value);  //隐藏控件赋值
        });
        $("#ddlCity").change(function () {
            var value = $("#ddlCity").val();
            $("#hidfldCity").attr("value", value);
        });
    }
    function GetByJquery() {
        $("#ddlCountry").empty();
        $.getJSON("/Admin/Home/GetCountry", function (data) {
            $.each(data, function (i, item) {
                $("#ddlCountry").append($("<option></option>").val(i).text(item));
            });
            GetCity();

        });
        $("#ddlCountry").prepend($("<option></option>").val("-1").text("Select Country"));
    }
    function GetCity() {
        $("#ddlCity").empty();
        var url = "/Admin/Home/SelectCity/" + $("#ddlCountry").val() + "/";
        $.getJSON(url, function (data) {
            $.each(data, function (i, item) {
                $("#ddlCity").append($("<option></option>").val(i).text(item));
            });
        });
        $("#ddlCity").prepend($("<option></option>").val("-1").text("Select City"));
    }
    function GetSelectItem() {
        $('#selectedItem').empty();
        var selAttrIds = ibtAdmin.getCheckboxVal("#attrList li>span", "data-attrId");
        $("#hidcateIds").val(selAttrIds);
        var json_data = { selAttrIds: $("#hidcateIds").val() };
        $.ajax({
            url: '/Admin/Home/SelectItemAjx', async: false, dataType: "json", data: json_data, type: 'post', success: function (json) {
                if (json.Success) {
                    $('#selectedItem').append(json.Message);
                }
            }
        });
    }
    function remove(objId) {
        $("span[objId=" + objId + "]").remove();
        $(".checkboxSmall").each(function () {
            $("span[data-attrId=" + objId + "]").removeClass("uncheckbox");
        });

    }
    function GetSeachTab(tabId) {
        $("#hidfldTab").val(tabId);
    }
</script>
<input id="hidfldCountry" name="hidfldCountry" value="" type="hidden" />
<input id="hidfldCity" name="hidfldCity" value="" type="hidden" />
<input type="hidden" id="hidcateIds" value="" />
<input id="hidpageType" name="hidpageType" type="hidden" value="2"/>
<input id="hidfldTab" name="hidfldTab" type="hidden" value="0"/>
<div id="AddNewRecommend">
    <div class=" W600 popupMain grayF3Bg">
        <form class="filterBox">
            <ul class="">
                <li class="noLineT searchLi NBorderB">
                    <input type="text" id="keyWord" value="Type in something to search" class="inputBg wFull search" /></li>
            </ul>
            <ul class="filter">
                <li>
                    <div class="fixbox">
                        <span class="select IEbg mR15" style="z-index: 0;">
                            <select id="ddlCountry" class="select mR10">
                            </select>
                        </span>
                        <span class="select IEbg" style="z-index: 0;">
                            <select id="ddlCity" class="select mR10">
                            </select>
                        </span>
                    </div>
                </li>
                <li>
                    <div class="fixbox">
                        <span class="select IEbg mR15" style="z-index: 0;">
                            <input type="hidden" id="IsShowSearch" value="0" />
                            <span class="arrow">Select Ratings</span>
                            <span class="list" style="display: none;">
                                <ul id="recommendList">
                                    <li onclick="SearchManage.changeSort(1);">Recommended</li>
                                    <li onclick="SearchManage.changeSort(2);">Most Visited</li>
                                </ul>
                            </span>
                        </span>
                        <span class="select IEbg" style="z-index: 0;">
                            <span class="arrow">Recommended</span>
                            <div style="display: none;" class="list">
                                <ul>
                                    <li class="noLineT" onclick="GetSeachTab(1);">Recommended</li>
                                    <li class="last" onclick="GetSeachTab(2);">Not Recommended</li>
                                </ul>
                            </div>
                        </span>
                    </div>
                </li>
                <li class="">
                    <span class="select selecBtnList wFull" style="z-index: 0;">
                        <span class="title">
                            <a class="downArrow" href="#"></a>
                            <span class="selected" id="selectedItem" style="color: #A9A9A9; padding-left: 10px;">Select Category
                               @* <span class="selectedBox">Garden <a href="#">x</a></span>
                                <span class="selectedBox">School <a href="#">x</a></span>
                                <span class="selectedBox">Pharmacy <a href="#">x</a></span>
                                <span class="selectedBox">Pharmacy <a href="#">x</a></span>
                                <span class="selectedBox">Garden <a href="#">x</a></span>
                                <span class="selectedBox">School <a href="#">x</a></span>
                                <span class="selectedBox">Pharmacy <a href="#">x</a></span>
                                <span class="selectedBox">Pharmacy <a href="#">x</a></span>
                                <span class="selectedBox">Garden <a href="#">x</a></span>
                                <span class="selectedBox">School <a href="#">x</a></span>
                                <span class="selectedBox">Pharmacy <a href="#">x</a></span>
                                <span class="selectedBox">Pharmacy <a href="#">x</a></span>*@
                            </span>
                        </span>
                        <span class="list" style="display: none;">
                            <ul id="attrList">
                                @{
                                    foreach (var item in searchService.GetAttributeDataList())
                                    {
                                    <li onclick="GetSelectItem();"><span class="checkboxSmall" data-attrId="@item.AttrDataId"></span>@item.AttrDataName</li>
                                    }
                                }
                                @*  <li><span class="checkboxSmall uncheckbox"></span>Hotel</li>
                                <li><span class="checkboxSmall"></span>Hotel</li>
                                <li><span class="checkboxSmall"></span>Hotel</li>
                                <li><span class="checkboxSmall"></span>Hotel</li>
                                <li><span class="checkboxSmall"></span>Hotel</li>
                                <li><span class="checkboxSmall"></span>Hotel</li>
                                <li><span class="checkboxSmall"></span>Hotel</li>*@
                            </ul>
                        </span>
                    </span>

                </li>
                <li class="NBorderB">
                    <div class="alignR"><a href="javascript:void(0);" onclick="SearchManage.goTab();" class="btnBlueH45"><span class="bg">search > </span></a></div>
                </li>

            </ul>

        </form>
        <div class="resultsBar" style="display: none;">
            <span class="right">9/10</span>
            81Results found
        </div>
        <div class="resultsBox">
            <div class="scrollBox">
                <ul id="searchSupplyList">
                    @*<li>
                        <div class="control">
                            <a href="#">
                                <img src="/images/icon/lower.gif" alt="Lower" /></a>
                        </div>
                        <a href="#" class="img">
                            <img src="/images/photos/img_W50.gif" alt="" /></a>
                        <dl>
                            <dt>
                                <span class="title"><a href="#">London Tower Bridge</a>  London, United  Kingdom</span>
                                <span class="friendsInfo italic f10 C7a7a7a"><a href="#">9 Friends</a>  has Been There</span>
                            </dt>
                        </dl>
                    </li>
                    <li>
                        <div class="control">
                            <a href="#">
                                <img src="/images/icon/add.gif" alt="ADD" /></a>
                        </div>
                        <a href="#" class="img">
                            <img src="/images/photos/img_W50.gif" alt="" /></a>
                        <dl>
                            <dt>
                                <span class="title"><a href="#">London Tower Bridge</a>  London, United  Kingdom</span>
                                <span class="friendsInfo italic f10 C7a7a7a"><a href="#">9 Friends</a>  has Been There</span>
                            </dt>
                        </dl>
                    </li>*@

                </ul>
            </div>
        </div>
        <div class="botBox"><span class="txt"><span id="resultCount"></span> Results found</span> <a href="javascript:void(0);" onclick="SearchManage.GetDataListByClick();">+ Load more</a></div>
    </div>
</div>



