﻿@{
    Layout = null;
}
<script src="/App/js/scroll.js"></script>
<script src="/App/js/jSearchAllData.js"></script>
<script type="text/javascript">
    function initTxtValue() {
        $("#txtValue").focus(function () {
            var val = "Type in something to search";
            if ($(this).val() == val) {
                $(this).val("");
            }
        }).blur(function () {
            if ($(this).val() == "") {
                $(this).val("Type in something to search");
            }
        });
    }
</script>
<div id="AddWidgetCountry">

    <div class=" W600 popupMain grayF3Bg">
        <form class="filterBox">
            <ul class="mT15">
                <li class="noLineT NBorderB">
                    <input type="text" value="Type in something to search" class="inputBg wFull" id="txtValue" /></li>
            </ul>
            <div class="alignR">
                <a href="javascript:void(0);" onclick="SearchData.goTab(1);">
                    <img src="/App/images/button/btn_go.gif" alt="GO >" id="GoSearch" /></a>
            </div>
        </form>
        <div class="resultsBar">
            <span class="right"></span>

        </div>
        <div class="resultsBox">
            <div class="scrollBox">
                <ul id="ulData">
                    @*<li>
                       <div class="control">
                           <a href="#"><img src="images/icon/lower.gif" alt="Lower" /></a>
                        </div>
                    	<a href="#" class="img"><img src="images/photos/img_W50.gif" alt=""  /></a>
                        <dl>
                        		<dt>
                                   <span class="title"> <a href="#" >London Tower Bridge</a>  London, United  Kingdom</span>
                                    <span class="friendsInfo italic f10 C7a7a7a"><a href="#">9 Friends</a>  has Been There</span>
                                </dt>
                        </dl>
                    </li>
                    <li>
                       <div class="control">
                           <a href="#"><img src="images/icon/add.gif" alt="ADD" /></a>
                        </div>
                    	<a href="#" class="img"><img src="images/photos/img_W50.gif" alt=""  /></a>
                        <dl>
                        		<dt>
                                   <span class="title"> <a href="#" >London Tower Bridge</a>  London, United  Kingdom</span>
                                    <span class="friendsInfo italic f10 C7a7a7a"><a href="#">9 Friends</a>  has Been There</span>
                                </dt>
                        </dl>
                    </li>*@
                </ul>
            </div>
        </div>
        <div class="botBox">
            <span class="txt">54 Results found</span>
            <a href="javascript:void(0);" onclick="SearchData.GetCountryDataListByClick();">+ Load more</a>
        </div>
    </div>
</div>
