﻿@{
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";

    IMeet.IBT.DAL.BadgeSpecial badgeSpecial = ViewBag.BadgeSpecial;

    string selectedEmailSignup = "";
    string selectedIbtDriven = "";
    string selectedUniqueIbt = "";
    string selectedUniqueSpecificActivity = "";
    if (badgeSpecial != null)
    {
        switch (badgeSpecial.Type)
        {
            case (int)IMeet.IBT.Services.Identifier.BadgeSpecialType.EmailSignup:
                selectedEmailSignup = "selected='selected'";
                break;
            case (int)IMeet.IBT.Services.Identifier.BadgeSpecialType.IbtDriven:
                selectedIbtDriven = "selected='selected'";
                break;
            case (int)IMeet.IBT.Services.Identifier.BadgeSpecialType.UniqueIbt:
                selectedUniqueIbt = "selected='selected'";
                break;
            case (int)IMeet.IBT.Services.Identifier.BadgeSpecialType.UniqueSpecificActivity:
                selectedUniqueSpecificActivity = "selected='selected'";
                break;
            default:
                break;
        }
    }

    string commentTypePostVisitGeneralComments = "";
    string commentTypePostVisit = "";
    string commentTypeCountry = "";
    string commentTypeCity = "";
    string commentTypeSupply = "";
    string commentTypeRate = "";
    if(badgeSpecial!=null)
    {
        switch(badgeSpecial.USAActivity)
        {
            case "Country":
                commentTypeCountry = "selected='selected'";
                break;
            case "City":
                commentTypeCity = "selected='selected'";
                break;
            case "Supply":
                commentTypeSupply = "selected='selected'";
                break;
            case "Rate":
                commentTypeRate = "selected='selected'";
                break;
            case "PostVisit":
                commentTypePostVisit = "selected='selected'";
                break;
            default:
                commentTypePostVisitGeneralComments = "selected='selected'";
                break;
        }
    }
}

<!-- adminContainer -->
<div id="adminContainer">
    <div id="adminHeader" class="left">
        <!--<div class="createnewBtn"><a href="#" class="btnCreateNew">CREATE NEW</a></div>-->
    </div>

    <!-- adminContent -->
    <div id="adminContent" class="left">
        <form id="adminContentForm">
            <input id="badgeSpecialId" type="hidden" name="id" value="@(badgeSpecial == null ? 0 : badgeSpecial.BadgeSpecialId)" />
            <!-- Admin Form Container -->
            <div class="adminFormContainer">
                <div class="formStandarRow left">
                    <div class="formTitleStd left">
                        <p>Title</p>
                    </div>

                    <div class="formDoubleMarkStd left">
                        <p>:</p>
                    </div>

                    <div class="formFillerStd left">
                        <input type="text" name="title" class="formInputStd" value="@(badgeSpecial == null ? "" : badgeSpecial.Title)" />
                    </div>
                </div>

                <div class="formStandarRow formTypeRow left">
                    <div class="formTitleStd left">
                        <p>Type</p>
                    </div>

                    <div class="formDoubleMarkStd left">
                        <p>:</p>
                    </div>

                    <div class="formFillerStd left">
                        <select class="formTypeSelection" name="type">
                            <option @selectedIbtDriven value="@((int)IMeet.IBT.Services.Identifier.BadgeSpecialType.IbtDriven)">CLICK FOR POINTS</option>
                            <option @selectedEmailSignup value="@((int)IMeet.IBT.Services.Identifier.BadgeSpecialType.EmailSignup)">EXTERNAL EVENT</option>
                            <option @selectedUniqueIbt value="@((int)IMeet.IBT.Services.Identifier.BadgeSpecialType.UniqueIbt)">POSTING ACTIVITY BONUS</option>
                            <option @selectedUniqueSpecificActivity value="@((int)IMeet.IBT.Services.Identifier.BadgeSpecialType.UniqueSpecificActivity)">COMMENT/RATE BONUS</option>
                        </select>
                    </div>
                    <div class="tpyeExpandContainer left formTypeUnselected" id="expandUniqueIBT">
                        <div class="typeExpCtnHeader left">
                            <div class="typeExpTitle left">
                                <p>Unique - IBT</p>
                            </div>
                            <div class="typeExpDbMark left"></div>
                            <div class="typeExpFiller left"></div>
                        </div>
                        <div class="typeExpCtnRow left">
                            <div class="typeExpTitle left">
                                <p>No. of Post Visits</p>
                            </div>
                            <div class="typeExpDbMark left">
                                <p>:</p>
                            </div>
                            <div class="typeExpFiller left">
                                <input type="text" name="UIBTPV" class="typeExpInput" maxlength="4" onkeypress="return numbersonly(this, event)" value="@(badgeSpecial==null?0:badgeSpecial.UIBTPV)" />
                            </div>
                        </div>
                        <div class="typeExpCtnRow left">
                            <div class="typeExpTitle left">
                                <p>Percentage of Bonus</p>
                            </div>
                            <div class="typeExpDbMark left">
                                <p>:</p>
                            </div>
                            <div class="typeExpFiller left">
                                <input type="text" name="UIBTPOF" class="typeExpInput" value="@(badgeSpecial==null?0:badgeSpecial.UIBTPOF)" />
                                <div class="typeExpTips formTips left">
                                    <p>(e.g: 15%, no decimal place behind the percentage)</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tpyeExpandContainer left formTypeUnselected" id="expandUnqSpecificAct">
                        <div class="typeExpCtnHeader left">
                            <div class="typeExpTitle left">
                                <p>Unique - Specific Activity</p>
                            </div>
                            <div class="typeExpDbMark left"></div>
                            <div class="typeExpFiller left"></div>
                        </div>
                        <div class="typeExpCtnRow left">
                            <div class="typeExpTitle left">
                                <p>Activity</p>
                            </div>
                            <div class="typeExpDbMark left">
                                <p>:</p>
                            </div>
                            <div class="typeExpFiller left">
                                @*<input type="text" name="USAActivity" class="typeExpInput" value="@((badgeSpecial==null||string.IsNullOrEmpty(badgeSpecial.USAActivity))?"Comment":badgeSpecial.USAActivity)" />*@
                                <select class="formTypeSelection" name="USAActivity">
                                    <option @commentTypePostVisitGeneralComments value="@IMeet.IBT.Services.Identifier.BadgeSpecialCommentType.PostVisitGeneralComments">General Comments on Post Visit</option>
                                    <option @commentTypePostVisit value="@IMeet.IBT.Services.Identifier.BadgeSpecialCommentType.PostVisit">Meeting Comments on Post Visit</option>
                                    <option @commentTypeCountry value="@IMeet.IBT.Services.Identifier.BadgeSpecialCommentType.Country">Comment on Country Listing</option>
                                    <option @commentTypeCity value="@IMeet.IBT.Services.Identifier.BadgeSpecialCommentType.City">Comment on City Listing</option>
                                    <option @commentTypeSupply value="@IMeet.IBT.Services.Identifier.BadgeSpecialCommentType.Supply">Comment on Supplier Listing</option>
                                    <option @commentTypeRate value="@IMeet.IBT.Services.Identifier.BadgeSpecialCommentType.Rate">Rate</option>
                                </select>
                            </div>
                        </div>
                        <div class="typeExpCtnRow left">
                            <div class="typeExpTitle left">
                                <p>No. of Points</p>
                            </div>
                            <div class="typeExpDbMark left">
                                <p>:</p>
                            </div>
                            <div class="typeExpFiller left">
                                <input type="text" name="USAPoint" class="typeExpInput" maxlength="4" onkeypress="return numbersonly(this, event)" value="@(badgeSpecial==null?0:badgeSpecial.USAPoint)" />
                                <div class="typeExpTips formTips left">
                                    <p>(e.g: 1300, no decimal place and special characters)</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="formTallRow left">
                    <div class="formTitleTl left">
                        <p>
                            Short<br />
                            Description
                        </p>
                    </div>

                    <div class="formDoubleMarkTl left">
                        <p>:</p>
                    </div>

                    <div class="formFillerTl left">
                        <textarea class="formTextArea left" name="shortDescription" id="shortDescripTxtArea" maxlength="200">@(badgeSpecial == null ? "" : badgeSpecial.ShortDescription)</textarea>
                        <div class="wordsCount formTips left">
                            <p>Word Count <span id="shortDescripLength">@(badgeSpecial == null ? 200 : (200 - badgeSpecial.ShortDescription.Length))</span> Character(s) Left</p>
                        </div>
                    </div>
                </div>

                <div class="formTallRow left">
                    <div class="formTitleTl left">
                        <p>
                            Long<br />
                            Description
                        </p>
                    </div>

                    <div class="formDoubleMarkTl left">
                        <p>:</p>
                    </div>
                    <div class="formFillerTl left">
                        <textarea class="formTextArea left" name="longDescription" id="longDescripTxtArea" maxlength="300">@(badgeSpecial == null ? "" : badgeSpecial.LongDescription)</textarea>
                        <div class="wordsCount formTips left">
                            <p>Word Count <span id="longDescripLength">@(badgeSpecial == null ? 300 : (300 - badgeSpecial.LongDescription.Length))</span> Character(s) Left</p>
                        </div>
                    </div>
                    @*                    <div class="formFillerTl left">
                        <textarea class="formTextArea left" name="longDescription">@(badgeSpecial == null ? "" : badgeSpecial.LongDescription)</textarea>
                        <div class="wordsCount formTips left">
                            <p>Word Count 300 Character(s) Left</p>
                        </div>
                    </div>*@
                </div>

                <div class="formTallRow formImgRow left">
                    <div class="formTitleTl left">
                        <p>Images</p>
                    </div>

                    <div class="formDoubleMarkTl left">
                        <p>:</p>
                    </div>

                    <div class="formFillerTl left">
                        @*<input type="text" name="imagesUpload" class="formImgsInput left" value="@(badgeSpecial==null?"":badgeSpecial.ImageSrc)" />*@
                        @*<div class="formImgChoose"><a href="#" class="btnChooseFile"></a></div>*@
                        @*<div class="formImgUpload left"><a href="#" class="btnUpload"></a></div>*@
                        <div class="left">
                            <input id="imagesrc" name="imagesrc" type="hidden" value="@(badgeSpecial == null ? "" : badgeSpecial.ImageSrc)" />
                            <input id="imageUploadify" type="file" />
                            <p>(File Format: *.jpg, *.gif)</p>
                        </div>
                        @*<div class="formImgTips formTips left">
                            <p>(dimension: 468px by 60px, file format : *.jpg, *.gif)</p>
                        </div>*@
                        <div class="uploadPreview left">
                            @*<span class="uploadTip">Please press the "UPLOAD" button in order to preview the images that you choose.</span>*@
                            <span class="uploadExmp">
                                <img id="show_images" src="@(badgeSpecial == null ? "/app/images/photos/img_W110_02.gif" : badgeSpecial.ImageSrc)" width="110" height="110" alt="Image name" /></span>
                        </div>
                    </div>
                </div>

                <div class="formStandarRow left">
                    <div class="formTitleStd left">
                        <p>Start Date</p>
                    </div>

                    <div class="formDoubleMarkStd left">
                        <p>:</p>
                    </div>

                    <div class="formFillerStd left">
                        <input id="startDate" type="text" name="startDate" readonly="readonly" class="formInputDate" value="@(badgeSpecial == null ? DateTime.Now.ToString("yyyy-MM-d") : badgeSpecial.StartDate.ToString("yyyy-MM-d"))"/>
                        @*<div class="calendarContainer left"><a href="#" class="calendarIcon"></a></div>*@
                    </div>
                </div>

                <div class="formStandarRow left">
                    <div class="formTitleStd left">
                        <p>End Date</p>
                    </div>

                    <div class="formDoubleMarkStd left">
                        <p>:</p>
                    </div>

                    <div class="formFillerStd left">
                        <input id="endDate" type="text" name="endDate" class="formInputDate" readonly="readonly" value="@(badgeSpecial == null ? DateTime.Now.ToString("yyyy-MM-d") : badgeSpecial.EndDate.ToString("yyy-MM-d"))" />
                        @*<div class="calendarContainer left"><a href="#" class="calendarIcon"></a></div>*@
                    </div>
                </div>

                <div id="badgeSpecial_link" class="formStandarRow left">
                    <div class="formTitleStd left">
                        <p>Link</p>
                    </div>

                    <div class="formDoubleMarkStd left">
                        <p>:</p>
                    </div>

                    <div class="formFillerStd left">
                        <input type="text" name="link" class="formInputStd" value="@(badgeSpecial == null ? "" : badgeSpecial.Link)" />
                    </div>
                </div>

                <div id="badgeSpecial_point" class="formStandarRow left">
                    <div class="formTitleStd left">
                        <p>No. of Points</p>
                    </div>

                    <div class="formDoubleMarkStd left">
                        <p>:</p>
                    </div>

                    <div class="formFillerStd left">
                        <input type="tel" name="numbOfPoints" class="formInputStd" maxlength="4" onkeypress="return numbersonly(this, event)" value="@(badgeSpecial == null ? "" : badgeSpecial.Point.ToString())" />
                    </div>
                </div>

                <div class="formStandarRow left">
                    <div class="formTitleStd left">
                        <p>Visible</p>
                    </div>

                    <div class="formDoubleMarkStd left">
                        <p>:</p>
                    </div>

                    <div class="formFillerStd left">
                        <input type="checkbox" @((badgeSpecial == null || badgeSpecial.Visible == (int)IMeet.IBT.Services.Identifier.BadgeSpecialVisible.Invisible) ? "" : "checked='checked'") name="visible" class="formCheckbox" />
                    </div>
                </div>

                <div class="adnCreateBtmBtn left">
                    <div class="createBadgeBtmBtn left"><a onclick="jBadgeSpecial.save();" class="btnSaveAdnForm"></a></div>
                    <div class="createBadgeBtmBtn left"><a href="/admin/home/badgespecials" class="btnCancelAdnForm"></a></div>
                </div>

            </div>
            <!-- End of Admin Formm Container -->
        </form>
    </div>
    <!-- End of adminContent -->
</div>
<!-- End of adminContainer -->
@section PageFoot{
    <link href="/App/js/uploadify/uploadify.css" rel="stylesheet" />
    <link href="/App/js/ui/jquery-ui.css" rel="stylesheet" />
    <script src="/App/js/uploadify/jquery.uploadify.min.js"></script>
    <script src="/App/js/ui/jquery-ui.js"></script>
    <script src="/App/js/admin_badge_special_management.js"></script>
    <script type="text/javascript">

        function numbersonly(myfield, e, dec) {
            var key;
            var keychar;

            if (window.event) {
                key = window.event.keyCode;
            } else if (e) {
                key = e.which;
            } else {
                return true;
            }
            keychar = String.fromCharCode(key);

            //control keys
            if ((key == null) || (key == 0) || (key == 8) ||
            (key == 9) || (key == 13) || (key == 27)) {
                return true;
            } else if ((("0123456789").indexOf(keychar) > -1)) {		//numbers
                return true;
            } else if (dec && (keychar == ".")) {
                //decimal point jump
                myfield.form.elements[dec].focus();
                return true;
            } else {
                return false;
            }
        };

        $(function () {
            jBadgeSpecial.init();
            $('.formTypeSelection').change();
        });

        var jBadgeSpecial = {
            init: function () {
                jBadgeSpecial.datepicker();
                jBadgeSpecial.images();
            },
            save: function () {
                if ($('#adminContentForm [name="title"]').val().length == 0) {
                    Boxy.alert("Title is required!");
                    return false;
                }
                if ($('#adminContentForm [name="shortDescription"]').val().length == 0) {
                    Boxy.alert("ShortDescription is required!");
                    return false;
                }
                if ($('#adminContentForm [name="longDescription"]').val().length == 0) {
                    Boxy.alert("LongDescription is required!");
                    return false;
                }
                //if ($('#adminContentForm [name="link"]').val().length == 0) {
                //    Boxy.alert("Link is required!");
                //    return false;
                //}

                $.ajax({
                    url: '/admin/home/badgespecialsave',
                    data: $('#adminContentForm').serialize(),
                    type: 'post',
                    dataType: 'json',
                    success: function (json) {
                        $('#badgeSpecialId').val(json.Item);
                        if (json.Item != parseInt(json.Message)) {
                            Boxy.alert("You have successfully saved the information.", function () { }, { title: "Add Badge Special" });
                        } else {
                            Boxy.alert("You have successfully saved the information.", function () { }, { title: "Edit Badge Special" });
                        }
                        $(".boxyInner").addClass("popup");
                    }
                });
            },
            datepicker: function () {
                $("#startDate").datepicker({
                    dateFormat: "yy-mm-dd",
                    changeMonth: true,
                    changeYear: true,
                    maxDate: $("#endDate").val(),
                    onClose: function (selectedDate) {
                        $("#endDate").datepicker("option", "minDate", selectedDate);
                    }
                });
                $("#endDate").datepicker({
                    dateFormat: "yy-mm-dd",
                    changeMonth: true,
                    changeYear: true,
                    minDate: $("#startDate").val(),
                    onClose: function (selectedDate) {
                        $("#startDate").datepicker("option", "maxDate", selectedDate);
                    }
                });
            },
            images: function () {
                $('#imageUploadify').uploadify({
                    'buttonImage': '/App/images/button/btn_choose_file.gif',
                    'swf': '/App/js/uploadify/uploadify.swf',
                    'cancelImg': '/App/js/uploadify/uploadify-cancel.png',
                    'fileTypeDesc': 'image',
                    'fileTypeExts': '*.jpg;*.jpeg;*.png;*.gif',
                    'width': 190,
                    'height': 22,
                    'auto': true,
                    'multi': false,
                    'onInit': function () {
                        //$("#upload_logo-queue").hide();
                    },
                    'uploader': '/Admin/Home/BadgeSpecialUpload',
                    'onUploadSuccess': function (file, data, response) {
                        eval("data=" + data);
                        if (data.Success) {
                            $('#show_images').attr('src', data.Message);
                            $('#imagesrc').val(data.Message);
                        } else {
                            Boxy.alert(data.Message);
                        }
                    }
                });
            }
        };

    </script>
}