﻿@{
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";

    IMeet.IBT.DAL.BadgeSpecial bs = ViewBag.BadgeSpecial;
    IMeet.IBT.DAL.BadgeSpecialEmail bse = ViewBag.BadgeSpecialEmail;
}

<!-- adminContainer -->
<div id="adminContainer">
    <div id="adminHeader" class="left">
        <!--<div class="createnewBtn"><a href="#" class="btnCreateNew">CREATE NEW</a></div>-->
        <p class="emailCommHeader">@(bs == null ? "" : bs.Title)</p>

        Import Email:<input type="file" id="upload_excel" />
    </div>

    <!-- adminContent -->
    <div id="adminContent" class="left">
        <!-- Admin Form Container -->
        <div class="adminFormContainer">

            <!-- Report Table List -->
            <div class="emailListMainContainer left">
                <div id="emailListTitle" class="emailListTitle left">
                    <p>Total Number of Sign-ups: 40</p>
                </div>
                <div id="emailListTable" class="emailListTable left">
                    <div class="emailListHeader left">
                        <div class="emlListName left">
                            <p>Name</p>
                            <div class="emlListNameArrowWhite listSortSelected" onclick="j_email_list.orderbyPage('name');"></div>
                        </div>
                        <div class="emlListEmailAddress left">
                            <p>Email Address</p>
                            <div class="emlListEmlAddArrowWhite" onclick="j_email_list.orderbyPage('email');"></div>
                        </div>
                        <div class="emlListDateOfAction left">
                            <p>Date of Action</p>
                            <div class="emlListDateArrowWhite" onclick="j_email_list.orderbyPage('date');"></div>
                        </div>
                        <div class="emlListTotalPoints left">
                            <p>
                                Total Number<br />
                                of Points (as of register)
                            </p>
                            <div class="emlListPointsArrowWhite" onclick="j_email_list.orderbyPage('point');"></div>
                        </div>
                    </div>
                </div>

                <div id="emailListPages" class="emailListPages left">
                </div>
            </div>
            <!-- End Report Table List -->

            <div class="adnCreateBtmBtn left">
                <div class="createBadgeBtmBtn left"><a href="/admin/home/badgespecialexportreport/@(bs == null ? 0 : bs.BadgeSpecialId)" class="btnGenerateReport"></a></div>
                <div class="createBadgeBtmBtn left"><a href="/admin/home/badgespecials" class="btnCancelAdnForm"></a></div>
            </div>
        </div>
        <!-- End of Admin Formm Container -->
    </div>
    <!-- End of adminContent -->
</div>
<!-- End of adminContainer -->
@section PageFoot{
    <script src="/App/js/admin_badge_special_management.js"></script>
    <script src="/App/js/jBadgeSpecialEmailList.js"></script>
    <script src="/App/js/uploadify/jquery.uploadify.min.js"></script>
    <script type="text/javascript">

        function numbersonly(myfield, e, dec) {
            var key;
            var keychar;

            if (window.event) {
                key = window.event.keyCode;
            } else if (e) {
                key = e.which;
            } else {
                return true;
            }
            keychar = String.fromCharCode(key);

            //control keys
            if ((key == null) || (key == 0) || (key == 8) ||
            (key == 9) || (key == 13) || (key == 27)) {
                return true;
            } else if ((("0123456789").indexOf(keychar) > -1)) {		//numbers
                return true;
            } else if (dec && (keychar == ".")) {
                //decimal point jump
                myfield.form.elements[dec].focus();
                return true;
            } else {
                return false;
            }
        };

        $(function () {
            j_email_list.id = @(bs == null ? 0 : bs.BadgeSpecialId) +0;
            j_email_list.bseId =@(bse != null ? bse.BadgeSpecialEmailId : 0) +0;
            j_email_list.get();
            uploadExcel();
        });
        function uploadExcel() {
            $('#upload_excel').uploadify({
                "formData":{id:@(bs == null ? 0 : bs.BadgeSpecialId)},
                'buttonImage': '/App/images/button/btn_choose_file.gif',
                'swf': '/App/js/uploadify/uploadify.swf',
                'cancelImg': '/App/js/uploadify/uploadify-cancel.png',
                'fileTypeDesc': 'Excel',
                'fileTypeExts': '*.xls',
                'width': 190,
                'height': 22,
                'auto': true,
                'multi': false,
                'onInit': function () {
                    //$("#upload_logo-queue").hide();
                },
                'uploader': '/Admin/Home/BadgeSpecialUploadEmail',
                'onUploadSuccess': function (file, data, response) {
                    eval("data=" + data);
                    if (data.Success) {
                        if(data.Message=="")
                            Boxy.alert("SUCCESS", null, { title: "Import Email" });
                        else
                            //Boxy.alert("Import success,but some email not import successfully:("+data.Message+")", null, { title: "Import Email" });
                            Boxy.alert("Import success,but <a target='_blank' href='/admin/home/badgespecialuploademailfalse?emails="+data.Message+"'>some email</a> not import successfully.", null, { title: "Import Email" });
                        $(".boxyInner").addClass("popup");
                        j_email_list.searchPage(1);
                    } else {
                        Boxy.alert(data.Message);
                    }
                }
            });
        };
    </script>
}