﻿@{
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}
<input id="hidOrderTypeName" name="hidOrderTypeName" type="hidden" />
<input id="hidOrderValue" name="hidOrderValue" type="hidden" />
<input id="hidCountryNameSort" name="hidCountryNameSort" type="hidden" value="Desc" />
<input id="hidOrderSortNum" name="hidOrderSortNum" type="hidden" value="Desc" />
<input id="hidcountryId" name="hidcountryId" type="hidden" />
<div class="tabList">
    <div class=" bg">
        <a class=" fold unfold " href="CountryManage">Country</a>
        <a class="fold " href="CityManage">City</a>
    </div>
</div>
<div class="fixbox mT20 mB15">
     <div class="right mR15 Cb2b6b8 mT5">
        <input type="text" value="" id="SearchKeyword">
        <a href="javascript:void(0);" onclick="CountryManage.goTab();" class="searchBtn"><span class="imgMiddle inlineBox alignM"></span>
            <img src="/App/images/icon/search.gif" alt="Search"></a>
    </div>
    @*<div class=""><a href="javascript:void(0);" onclick="ibtAdmin.loadUrlPop('/Admin/Home/AddNewCountry?countryId=','Get','',function(){CountryManage.uploadFlag();$('#Countryform').bValidator({singleError:true}); },'Add new country');" class="btnBlueH45"><span class="bg">+ NEW COUNTRY</span></a></div>*@
    <div class=""><a href="/admin/home/EditCountryManage" class="btnBlueH45"><span class="bg">+ NEW COUNTRY</span></a></div>
</div>
<div class="table table02 mT20">
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
         <thead>
            <tr>
                <th width="3%">&nbsp;</th>
                <th width="12%" ><a href="javascript:void(0);" onclick="NameSort();">Country</a></th>
                <th  width="14%">Recommended</th>
                <th  width="10%">Want to Go</th>
                <th  width="10%">Bucket List</th>
                <th  width="10%">Rating</th>
                <th  width="15%">Flag</th>
                <th  width="10%"><a href="javascript:void(0);" onclick="NumSort();">Score</a></th>
                <th width="4%">&nbsp;</th>
            </tr>
        </thead>
        <tbody id="talCountry"></tbody>
    </table>
    <br />
    <div id="clickloadmore" style="width: 100%; border: 1px solid #E5E5E5; text-align: center; height: 24px; padding-top: 10px;">
        <a href="javascript:void(0);" onclick="CountryManage.GetCountryListOnClick();">Click to load more!</a>
    </div>
</div>
@section PageFoot{
    <script src="/App/js/jCountry.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            CountryManage.initCountryData();
            CountryManage.init();
        });
        function GetCountryId(countryId) {
            $("#hidcountryId").val(countryId);
        }
        function NameSort() {
            $("#hidOrderTypeName").attr("value", "Title");
            if ($("#hidCountryNameSort").val() == "Desc") {
                $("#hidCountryNameSort").attr("value", "Asc");
                $("#hidOrderValue").attr("value", "Asc");
            }
            else {
                $("#hidCountryNameSort").attr("value", "Desc");
                $("#hidOrderValue").attr("value", "Desc");
            }
            //supplyManager.sortbyTitle($("#hidOrderTypeName").val(), $("#hidSupplierNameSort").val());
            CountryManage.sortbyTitle();
        }
        function NumSort() {
            $("#hidOrderTypeName").attr("value", "Sort");
            if ($("#hidOrderSortNum").val() == "Desc") {
                $("#hidOrderSortNum").attr("value", "Asc");
                $("#hidOrderValue").attr("value", "Asc");
            }
            else {
                $("#hidOrderSortNum").attr("value", "Desc");
                $("#hidOrderValue").attr("value", "Desc");
            }
            //supplyManager.sortbyTitle($("#hidOrderTypeName").val(), $("#hidSupplierNameSort").val());
            CountryManage.sortbyNum();
        }
    </script>
}
