﻿@{
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}

<div class="tabList ">
    <div class=" bg">
        <a class=" fold unfold " href="Destination">Destination</a>
        <a class="fold " href="Recommend">Recommend</a>
        <a class="fold " href="Visited">Visited</a>
    </div>
</div>
<div class="fixbox mT20 mB15">
    <div class="right mR15 Cb2b6b8 mT5">
        <input type="text" value="" id="SearchKeyword">
        @* Sort By :
                        <span class="select" style="z-index: 0;">
                            <span class="arrow inlineBox w200">i-Meet Global Talent Bench</span>
                            <div style="display: none; " class="list">
                                <ul>
                                    <li class="">i-Meet Global Talent Bench</li>
                                    <li>i-Meet Global Talent Bench</li>
                                    <li>i-Meet Global Talent Bench</li>
                                    <li class="last">i-Meet Global Talent Bench</li>
                                </ul>
                            </div>
                        </span>*@
        <a href="javascript:void(0);" onclick="AddNewDestination.goTab();" class="searchBtn"><span class="imgMiddle inlineBox alignM"></span>
            <img src="/App/images/icon/search.gif" alt="Search"></a>
        <input type="hidden" id="hidArray" value="" />
        <input id="hidOrderTypeName" name="hidOrderTypeName" type="hidden" />
        <input id="hidOrderValue" name="hidOrderValue" type="hidden" />
        <input id="hidSupplyIdSort" name="hidSupplyIdSort" type="hidden" value="Desc" />
        <input id="hidSupplyNameSort" name="hidSupplyNameSort" type="hidden" value="Desc" />
        <input id="hidOrderSortNum" name="hidOrderSortNum" type="hidden" value="Desc" />
        <input id="hidDWeekId" name="hidDWeekId" type="hidden" />
    </div>
    <a href="javascript:void(0);" onclick="ibtAdmin.loadUrlPop('/Admin/Home/AddNewDestination?dWeekId=','Get','',function(){$('#SupplierName').removeAttr('disabled');supplyManager.uploadAvator();supplyManager.autoComplete();$('#addNewDesform').bValidator({singleError:true}); },'Add new destination');" class="btnBlueH45"><span class="bg">add new destination</span></a>
</div>
<div class="table table02 mT20">
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <thead>
            <tr class="trBg">
                <th width="3%">&nbsp;</th>
                <th width="12%"><a href="javascript:void(0);" onclick="NameSort();">Name</a></th>
                <th width="14%">Address</th>
                <th width="10%">Country</th>
                <th width="10%">City</th>
                <th width="10%">State</th>
                <th width="18%">Description</th>
                <th width="6%">Type</th>
@*                <th width="6%"><a href="javascript:void(0);" onclick="NumSort();">Sort</a></th>*@
                <th width="4%">&nbsp;</th>
            </tr>
        </thead>
        <tbody id="talDes"></tbody>
        @* <tr>
                    	<td>1.</td>
                        <td><a href="#">A&W Restaurants</a></td>
                        <td>1735 Market Street Suite A501</td>
                        <td>United States</td>
                        <td>Los Angeles</td>
                        <td>Las Vegas, NV</td>
                        <td>As social media channels...</td>
                        <td>Hotel</td>
                        <td class=" alignR">
                        	<div class="controlBg control2">
                            	<span class="bg">
                            	<a href="#" class="edit NborderL" ></a>
                            	<a href="#" class="delete NborderR" ></a>
                                </span>
                            </div>
                        </td>
                    </tr>*@

    </table>
    <div class="mT10 alignR">
        <a href="javascript:void(0);" onclick="AddNewDestination.saveSort();" class="btnBlueH33 mR5"><span class="bg" id="save">SAVE</span></a>
    </div>
</div>
@* <div class=" mT20 alignC">
            		<img src="/App/images/icon/loading.gif" alt="Loading" />
            </div>*@
@section PageFoot{
    <script src="/App/js/tablednd/jquery-1.7.1.js"></script>
    <script src="/App/js/tablednd/jquery.tablednd.0.7.min.js"></script>
    <script src="/App/js/jAddNewDes.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            AddNewDestination.initData();
            AddNewDestination.init();
        });
        function GetDWeekId(dweekId) {
            $("#hidDWeekId").attr("value", dweekId);
        }
        function NameSort() {
            $("#hidOrderTypeName").attr("value", "Title");
            if ($("#hidSupplyNameSort").val() == "Desc") {
                $("#hidSupplyNameSort").attr("value", "Asc");
                $("#hidOrderValue").attr("value", "Asc");
            }
            else {
                $("#hidSupplyNameSort").attr("value", "Desc");
                $("#hidOrderValue").attr("value", "Desc");
            }
            //supplyManager.sortbyTitle($("#hidOrderTypeName").val(), $("#hidSupplierNameSort").val());
            AddNewDestination.sortbyTitle();
        }
        function NumSort() {
            $("#hidOrderTypeName").attr("value", "Sort");
            if ($("#hidOrderSortNum").val() == "Desc") {
                $("#hidOrderSortNum").attr("value", "Asc");
                $("#hidOrderValue").attr("value", "Asc");
            }
            else {
                $("#hidOrderSortNum").attr("value", "Desc");
                $("#hidOrderValue").attr("value", "Desc");
            }
            //supplyManager.sortbyTitle($("#hidOrderTypeName").val(), $("#hidSupplierNameSort").val());
            AddNewDestination.sortbyNum();
        }

    </script>
    <link href="/App/js/ui/jquery-ui.css" rel="stylesheet" />
    <script src="/App/js/ui/jquery-ui.js"></script>

}

