﻿@{
    Layout = null;
}
<script src="/App/js/jSupplyType.js"></script>
 <script type="text/javascript">
     $(document).ready(function () {       
         checkboxshow();
     });

     function Save() {
         //var str = "";
         //$(".uncheckbox").attr("data-attrId").each(function () { str += $(this) });

         var selAttrIds = ibtAdmin.getCheckboxVal("#TypeList li>ul>li>span", "data-attrId");
         $("#hidSelAttrId").val(selAttrIds);
         supplyTypeManager.saveSelType();
         //alert($("#hidEditsupplyId").val());
     }
    //var arr1 = ["one", "two", "three", "four", "five"];
    //$.each(arr1, function () {
    //    alert(this);
    //});
</script>
<input type="hidden" id="hidEditsupplyId" value="" />
<input type="hidden" id="hidSelAttrId" value="" />
<div class="W600 popupMain boxyContent">
	<div class=" grayBox ">
    	<div class="mainBox">
    		<h2 id="EditSupplyName"></h2>
            
            <form class="chooseBox">
            	<ul class="form" id="TypeList">               	
                </ul>
             	<div class="btn">
                	<a href="#" class="btnBlueH45" onclick="Save();"><span class="bg">Save</span></a>
                	<a href="#" class="btnGrayH45 close"><span class="bg">Cancel</span></a>
                </div>
            </form>
            
      	</div>
    </div>
</div>