﻿@{
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";

    IMeet.IBT.DAL.Email email = ViewBag.Email;
}
@section PageHead{
    <link href="/app/css/style_email_management.css" rel="Stylesheet" />
    <link href="/App/js/uploadify/uploadify.css" rel="stylesheet" />
    <link href="/App/js/ui/jquery-ui.css" rel="stylesheet" />
}
<!-- adminContainer -->
<div id="wrapper-email-manager">
    <!-- compose email header -->
    <div id="cmp-email-header" class="left">
        <h1>Compose @(email == null ? "New" : "Edit") Email</h1>
    </div>

    <form>
        <!-- compose email content -->
        <div id="cmp-email-container" class="left">
            <input name="EmailId" type="text" style="display:none;" value="@(email == null ? 0 : email.EmailId)" />
            <ul class="cmp-email-container">
                <!-- compose email container rows -->
                <li class="cmp-email-rows left">
                    <div class="cmp-email-row-title left">
                        <p>Sender's Name</p>
                    </div>
                    <div class="cmp-email-row-semicollan left">
                        <p>:</p>
                    </div>
                    <div class="cmp-email-fillin left">
                        <input name="SenderName" type="text" value="@(email == null ? "" : email.SenderName)" />
                    </div>
                </li>
                <!-- compose email container rows -->
                <li class="cmp-email-rows left">
                    <div class="cmp-email-row-title left">
                        <p>Sender's Email Address</p>
                    </div>
                    <div class="cmp-email-row-semicollan left">
                        <p>:</p>
                    </div>
                    <div class="cmp-email-fillin left">
                        <input name="SenderEmail" type="text" value="@(email == null ? "" : email.SenderEmail)" />
                    </div>
                </li>

                <!-- compose email container rows -->
                <li class="cmp-email-rows left">
                    <div class="cmp-email-row-title left">
                        <p>Title of Email</p>
                    </div>
                    <div class="cmp-email-row-semicollan left">
                        <p>:</p>
                    </div>
                    <div class="cmp-email-fillin left">
                        <input name="Title" type="text" value="@(email == null ? "" : email.Title)" />
                    </div>
                </li>

                <!-- compose email container rows -->
@*                <li class="cmp-email-rows left">
                    <div class="cmp-email-row-title left">
                        <p>Subtitle of Email</p>
                    </div>
                    <div class="cmp-email-row-semicollan left">
                        <p>:</p>
                    </div>
                    <div class="cmp-email-fillin left">
                        <input name="SubTitle" type="text" value="@(email == null ? "" : email.SubTitle)" />
                    </div>
                </li>*@

                <!-- compose email container rows -->
                <li class="cmp-email-rows left">
                    <input name="Logo" type="text" style="display:none;" value="@(email == null ? "" : email.Logo)" />
                    <div class="cmp-email-row-title left">
                        <p>Upload Logo</p>
                    </div>
                    <div class="cmp-email-row-semicollan left">
                        <p>:</p>
                    </div>
                    <div class="cmp-email-fillin left">
                        <div class="email-choose-logo-container">
                            <input id="imageUploadify" type="file" />
                        </div>
                        @*<input type="text" class="cmp-email-img-upload left" value="No file chosen" />
                    <div class="email-choose-logo-container"><a class="email-choose-logo-button"></a></div>
                    <div class="email-upload-logo-container left"><a class="email-upload-logo-button"></a></div>
                    <div class="email-upload-logo-tips left">
                        <p>(dimension: 170*170 pixel, file format: *.jpg, *.gif)</p>
                    </div>*@
                        <div class="email-upload-preview-container right">
                            <span class="email-preview-tips left">
                                <p>
                                    file format: *.jpg, *.gif
                                </p>
                            </span>
                            <span class="email-preview-photo left">
                                <img id="show_images" src="@((email == null||string.IsNullOrEmpty(email.Logo)) ? "/app/images/photos/img_W110_02.gif" : email.Logo)" alt="Image name" /></span>
                        </div>
                    </div>
                </li>
                <!-- compose email container rows -->
                <li class="cmp-email-rows left">
                    <div class="cmp-email-row-title left">
                        <p>Email Subject</p>
                    </div>
                    <div class="cmp-email-row-semicollan left">
                        <p>:</p>
                    </div>
                    <div class="cmp-email-fillin left">
                        <input name="Subject" type="text" value="@(email == null ? "" : email.Subject)" />
                    </div>
                </li>

                <!-- compose email container rows -->
                <li class="cmp-email-rows left">
                    <div class="cmp-email-row-title left">
                        <p>Recipients</p>
                    </div>
                    <div class="cmp-email-row-semicollan left">
                        <p>:</p>
                    </div>
                    <div class="cmp-email-fillin left">
                        <select name="Recipients">
                            <option @(email!=null&&email.Recipients==1?"selected=selected":"") value="1">All Members</option>
                            <option @(email!=null&&email.Recipients==2?"selected=selected":"") value="2">Badges Members</option>
                            <option @(email!=null&&email.Recipients==3?"selected=selected":"") value="3">Not Activated Members</option>
                            <option @(email!=null&&email.Recipients==4?"selected=selected":"") value="4">Custom</option>
                        </select>
                    </div>
                </li>

                <!-- compose email container rows -->
                <li class="cmp-email-rows left">
                    <div class="cmp-email-row-title left">
                        <p>Recipients Email</p>
                    </div>
                    <div class="cmp-email-row-semicollan left">
                        <p>:</p>
                    </div>
                    <div class="cmp-email-fillin left">
                        <input name="RecipientsEmail" type="text" class="left" value="@(email == null ? "" : email.RecipientsEmail)" />
                        <div class="recp-email-buttons left"><a class="grey-button-search" onclick="jEmail.ShowSearchRecipients();"></a></div>
                    </div>
                </li>

                <!-- compose email container rows -->
                <li class="cmp-email-rows left">
                    <div class="cmp-email-row-title left">
                        <p>Content</p>
                    </div>
                    <div class="cmp-email-row-semicollan left">
                        <p>:</p>
                    </div>
                    <div class="cmp-email-fillin left">
                        @*                    <div class="emailFunctionBar">
                        <img src="/app/images/admin_email_manager/btn_email_list.jpg" alt="" />
                    </div>*@
                        <textarea id="emailContent" name="Content" class="cmp-email-content-textarea">@(email == null ? "" : email.Content)</textarea>
                        <div class="cmp-email-content-navigation">
                            <ul class="cmp-email-content-buttons">
                                <li class="cmp-email-content-btn left"><a class="grey-button-save" onclick="jEmail.Save();"></a></li>
                                @*<li class="cmp-email-content-btn left"><a class="grey-button-preview"></a></li>*@
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <!-- compose email header -->
        <div id="cmp-email-header" class="left">
            <h1>Test Email</h1>
        </div>
        <!-- compose email content -->
        <div id="cmp-email-container" class="left">
            <ul class="cmp-email-container">
                <!-- compose email container rows -->
                <li class="cmp-email-rows left">
                    <div class="cmp-email-row-title left">
                        <p>Test Email</p>
                    </div>

                    <div class="cmp-email-row-semicollan left">
                        <p>:</p>
                    </div>

                    <div class="cmp-email-fillin left">
                        <input name="testEmail" type="text" />
                        <div class="test-email-buttons"><a class="grey-button-send-for-test" onclick="jEmail.TestEmailSend();"></a></div>
                    </div>
                </li>
            </ul>
        </div>

        <!-- compose email header -->
        <div id="cmp-email-header" class="left">
            <h1>Schedule Email</h1>
        </div>
        <!-- compose email content -->
        <div id="cmp-email-container" class="left">
            <ul class="cmp-email-container">
                <!-- compose email container rows -->
                <li class="cmp-email-rows left">
                    <div class="cmp-email-row-title left">
                        <p>Type of Email Sending</p>
                    </div>

                    <div class="cmp-email-row-semicollan left">
                        <p>:</p>
                    </div>

                    <div class="cmp-email-fillin left">
                        <select name="ScheduleStatus">
                            <option @(email!=null&&email.SendStatus==(int)IMeet.IBT.Services.Identifier.EmailScheduleStatus.Immediate?"selected=selected":"") value="0">Immediate</option>
                            <option @(email!=null&&email.SendStatus==(int)IMeet.IBT.Services.Identifier.EmailScheduleStatus.Auto?"selected=selected":"") value="1">Auto</option>
                        </select>
                    </div>
                </li>

                <!-- compose email container rows -->
                <li class="cmp-email-rows left">
                    <div class="cmp-email-row-title left">
                        <p>Start Date</p>
                    </div>
                    <div class="cmp-email-row-semicollan left">
                        <p>:</p>
                    </div>
                    <div class="cmp-email-fillin left">
                        <input id="ScheduleTime" name="ScheduleTime" type="date" class="cmp-fillin-date left" value="@(email != null&&email.ScheduleTime!=null ? email.ScheduleTime.Value.ToString("yyyy-MM-dd"):"" )" />
                        @*<div class="calendarContainer left"><a class="calendarIcon"></a></div>*@
                    </div>
                </li>
            </ul>
        </div>

        <!-- end page buttons -->
        <div id="cmp-email-end-buttons" class="left">
            <ul class="cmp-email-end-buttons">
                <li class="cmp-email-end-btn left"><a onclick="jEmail.Confirm();" class="cmp-email-btn-confirm"></a></li>
                @*<li class="cmp-email-end-btn left"><a class="cmp-email-btn-save-now end-btn-disabled"></a></li>*@
            </ul>
        </div>
    </form>
</div>
<!-- End of adminContainer -->

@section PageFoot{

    <!-- Pop-Up -->
    <div id="cmp-popup-wrapper" style="display:none;">
        <div id="cmp-popup-fade"></div>
        <div id="cmp-popup-holder">
            <div id="cmp-popup-border"></div>
            <div id="cmp-popup-contents">
                <div id="cmp-popup-header" class="left">
                    <h3 class="left">Search Recipients</h3>
                    <a class="popup-close-button right" onclick="jEmail.HideSearchRecipients();">&times;</a>
                </div>
                <div id="cmp-popup-search" class="left">
                    <input id="search_keyword" type="search" placeholder="Type and search" onkeypress="jEmail.Search(event);" />
                </div>
                <div id="cmp-popup-recipients" class="left">
                    <ul class="cmp-poopup-recipients">
                        <!-- recipients row -->
                    </ul>
                </div>
                <div id="cmp-popup-footbar" class="left">
                    <p><span id="user_count"></span> Results found</p>
                    <a class="popup-btn-complete right" onclick="jEmail.HideSearchRecipients();"></a>
                    <a class="popup-btn-selectAll right" onclick="jEmail.SelectAll();"></a>
                </div>
            </div>
        </div>
        <!-- end of cmp-popup-holder -->
    </div>
    <!-- End of Pop-Up -->


    <script src="/App/js/uploadify/jquery.uploadify.min.js"></script>
    <script src="/App/js/ckeditor/ckeditor.js"></script>
    <script src="/App/js/ui/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {
            jEmail.init();
        });
        var jEmail = {
            uPage: 1,
            uPageSize: 10,
            uEnable: true,
            uEmails: null,
            uPosting:false,
            instance: null,
            confirming: false,
            selecting:false,
            CheckForm: function () {
                if ($('#cmp-email-container [name="SenderName"]').val().length == 0) {
                    Boxy.alert("SenderName is required.", function () { }, { title: "Email Campaign Management" });
                    return false;
                }
                if ($('#cmp-email-container [name="SenderEmail"]').val().length == 0) {
                    Boxy.alert("SenderEmail is required.", function () { }, { title: "Email Campaign Management" });
                    return false;
                }
                var email = $('#cmp-email-container [name="SenderEmail"]').val();
                @{
                    string regexStr = @"/^([a-zA-Z0-9]+[_|\-|\.]?)*[a-zA-Z0-9]+@([a-zA-Z0-9]+[_|\-|\.]?)*[a-zA-Z0-9]+\.[a-zA-Z]{2,3}$/gi";
                    }
                var reg = new RegExp(@regexStr);
                if(!reg.test(email))
                {
                    Boxy.alert("Email address is invalid.", function () { }, { title: "Email Campaign Management" });
                    return false;
                }

                if ($('#cmp-email-container [name="Title"]').val().length == 0) {
                    Boxy.alert("Tile of Email is required.", function () { }, { title: "Email Campaign Management" });
                    return false;
                }
                //if ($('#cmp-email-container [name="SubTitle"]').val().length == 0) {
                //    Boxy.alert("Subtitle of Email is required.", function () { }, { title: "Email Campaign Management" });
                //    return false;
                //}
                //if ($('#cmp-email-container [name="Logo"]').val().length == 0) {
                //    Boxy.alert("Logo is required.", function () { }, { title: "Email Campaign Management" });
                //    return false;
                //}
                if ($('#cmp-email-container [name="Subject"]').val().length == 0) {
                    Boxy.alert("Email Subject is required.", function () { }, { title: "Email Campaign Management" });
                    return false;
                }
                if (jEmail.instance.getData().length == 0) {
                    Boxy.alert("Content is required.", function () { }, { title: "Email Campaign Management" });
                    return false;
                }
                return true;
            },
            init: function () {
                jEmail.Images();
                jEmail.Ckeditor();
                jEmail.DatePicker();
                jEmail.HideSearchRecipients();
                jEmail.instance = CKEDITOR.instances["emailContent"];
                $('#cmp-popup-recipients').scroll(function () { jEmail.SearchScroll();});
            },
            Images: function () {
                $('#imageUploadify').uploadify({
                    'buttonImage': '/App/images/button/btn_choose_file.gif',
                    'swf': '/App/js/uploadify/uploadify.swf',
                    'cancelImg': '/App/js/uploadify/uploadify-cancel.png',
                    'fileTypeDesc': 'image',
                    'fileTypeExts': '*.jpg;*.jpeg;*.png;*.gif',
                    'width': 190,
                    'height': 22,
                    'auto': true,
                    'multi': false,
                    'onInit': function () {
                        //$("#upload_logo-queue").hide();
                    },
                    'uploader': '/Admin/Home/EmailLogoUpload',
                    'onUploadSuccess': function (file, data, response) {
                        eval("data=" + data);
                        if (data.Success) {
                            $('#show_images').attr('src', data.Message);
                            $('#cmp-email-container [name="Logo"]').val(data.Message);
                        } else {
                            Boxy.alert(data.Message);
                        }
                    }
                });
            },
            Ckeditor: function () {
                CKEDITOR.replace(
                'emailContent',
                {
                    toolbar: 'SourceToolbar',
                    resize_enabled: false,
                    width: 800,
                    height: 400,
                    pasteFromWordRemoveStyles: false,
                    pasteFromWordRemoveFontStyles: false,
                    toolbarCanCollapse: false,
                    pasteFromWordNumberedHeadingToList: true,
                    filebrowserImageUploadUrl: '/admin/home/emailcommunicationuploadimage',
                    removePlugins: 'tabletools,liststyle'
                });
            },
            Save: function () {
                if (!jEmail.CheckForm())
                    return false;
                var content = jEmail.instance.getData();
                $('#cmp-email-container [name="Content"]').val(content);
                $.ajax({
                    url: '/admin/home/emailsave',
                    data: $('form').serialize(),
                    type: 'POST',
                    dataType: 'json',
                    success: function (json) {
                        if (json.Success) {
                            $('#cmp-email-container [name="EmailId"]').val(json.Item);
                            Boxy.alert("You have successfully saved the information.", function () { }, { title: "Email Campaign Management" });
                        }
                        $(".boxyInner").addClass("popup");
                    },
                    error: function () { }
                });
            },
            Confirm: function () {
                if (!jEmail.CheckForm())
                    return false;
                if (jEmail.confirming)
                    return false;

                jEmail.confirming = true;

                var content = jEmail.instance.getData();
                $('#cmp-email-container [name="Content"]').val(content);
                $.ajax({
                    url: '/admin/home/emailconfirm',
                    data: $('form').serialize(),
                    type: 'POST',
                    dataType: 'json',
                    success: function (json) {
                        if (json.Success) {
                            jEmail.confirming = false;
                            $('#cmp-email-container [name="EmailId"]').val(json.Item);
                            Boxy.alert("You have successfully confirm the information.", function () { }, { title: "Email Campaign Management" });
                        }
                        $(".boxyInner").addClass("popup");
                    },
                    error: function () { jEmail.confirming = false; }
                });
            },
            ShowSearchRecipients: function () {
                $('#cmp-popup-recipients .cmp-poopup-recipients').html('');
                $('#search_keyword').val('');
                $('#cmp-popup-wrapper').show();
                var emails = $('#cmp-email-container [name="RecipientsEmail"]').val();
                if (emails == '')
                    jEmail.uEmails = [];
                else
                    jEmail.uEmails = emails.split(',');
                jEmail.uEnable = true;
                jEmail.uPage = 1;
                jEmail.LoadUser();
            },
            HideSearchRecipients: function () {
                $('#cmp-popup-wrapper').hide();
            },
            LoadUser: function () {
                if (!jEmail.uEnable)
                    return false;

                $.ajax({
                    url: '/admin/home/userlist',
                    data: { keyword: $('#search_keyword').val(), page: jEmail.uPage, pageSize: jEmail.uPageSize, emails: $('#cmp-email-container [name="RecipientsEmail"]').val() },
                    type: 'post',
                    dataType: 'json',
                    success: function (json) {
                        if (json.Success) {
                            jEmail.uTotal = json.Item;
                            $('#cmp-popup-recipients .cmp-poopup-recipients').append(json.Message);
                            $('#user_count').html(json.Item);
                            if (jEmail.uPage * jEmail.uPageSize >= json.Item)
                                jEmail.uEnable = false;
                        }
                    },
                    error: function () { }
                });
            },
            LoadUserPageAdd: function () {
                jEmail.uPage++;
                jEmail.LoadUser();
            },
            Btn: function (obj) {
                var email = $(obj).attr('email');
                var index = $.inArray(email, jEmail.uEmails);
                if ($(obj).hasClass('popup-btn-add')) {
                    $(obj).attr('class', 'popup-btn-min');
                    if (index < 0)
                        jEmail.uEmails.push(email);
                } else {
                    if (index >= 0)
                        jEmail.uEmails.splice(index, 1);
                    $(obj).attr('class', 'popup-btn-add');
                }
                $('#cmp-email-container [name="RecipientsEmail"]').val(jEmail.uEmails.toString());
            },
            TestEmailSend: function () {
                $.ajax({
                    url: '/admin/home/emailtestsend',
                    data: $('form').serialize(),
                    type: 'post',
                    dataType: 'json',
                    success: function (json) {
                        if (json.Success) {
                            Boxy.alert("Success", function () { }, { title: "Test Email" });
                        } else {
                            Boxy.alert(json.Message, function () { }, { title: "Test Email" });
                        }
                        $(".boxyInner").addClass("popup");
                    },
                    error: function () {  }
                });
            },
            DatePicker: function () {
                $("#ScheduleTime").datepicker({
                    dateFormat: "yy-mm-dd",
                    changeMonth: true,
                    changeYear: true,
                });
            },
            Search: function (event) {
                if (event.keyCode == 13)
                {
                    jEmail.uPage = 1;
                    jEmail.uEnable = true;
                    $('#cmp-popup-recipients .cmp-poopup-recipients').html('');
                    jEmail.LoadUser();
                }
            },
            SearchScroll: function () {
                if (jEmail.uPosting)
                    return false;
                if (($('#cmp-popup-recipients ul').height() - $('#cmp-popup-recipients').scrollTop()) == $('#cmp-popup-recipients').height()) {
                    jEmail.uPosting = true;
                    jEmail.LoadUserPageAdd();
                    jEmail.uPosting = false;
                }
            },
            SelectAll: function () {
                if (jEmail.selecting)
                    return false;

                jEmail.selecting = true;
                $.ajax({
                    url: '/admin/home/userlistselectall',
                    data: { keyword: $('#search_keyword').val() },
                    type: 'post',
                    dataType: 'json',
                    success: function (json) {
                        if (json.Success) {
                            $.each(json.Item, function (n,v) {
                                var index = $.inArray(v, jEmail.uEmails);
                                if (index < 0)
                                    jEmail.uEmails.push(v);
                            });
                            $('#cmp-email-container [name="RecipientsEmail"]').val(jEmail.uEmails.toString());
                            $('.cmp-poopup-recipients .popup-btn-add').each(function () {
                                if ($(this).hasClass('popup-btn-add')) {
                                    $(this).attr('class', 'popup-btn-min');
                                }
                            });
                        }
                        jEmail.selecting = false;
                    },
                    error: function () {
                        jEmail.selecting = false;
                    }
                });
            }
        };
    </script>
}