﻿@{
    Layout = null;
    IMeet.IBT.Services.SearchService searchService = new IMeet.IBT.Services.SearchService();
    IMeet.IBT.Services.SupplierService supplierService = new IMeet.IBT.Services.SupplierService();
}
<script src="/App/js/jSearchSupply.js"></script>
<script src="/App/js/scroll.js"></script>
<script type="text/javascript">
    function GetByJquery() {
        $("#ddlCountry").empty();
        $.getJSON("/Admin/Home/GetCountry", function (data) {
            $.each(data, function (i, item) {
                $("#ddlCountry").append($("<option></option>").val(i).text(item));
            });
            GetCity();

        });
        $("#ddlCountry").prepend($("<option></option>").val("-1").text("Select Country"));
    }
    function GetCity() {
        $("#ddlCity").empty();
        var url = "/Admin/Home/SelectCity/" + $("#ddlCountry").val() + "/";
        $.getJSON(url, function (data) {
            $.each(data, function (i, item) {
                $("#ddlCity").append($("<option></option>").val(i).text(item));
            });
        });
        $("#ddlCity").prepend($("<option></option>").val("-1").text("Select City"));
    }
    function GetSelectItem() {
        $('#selectedItem').empty();
        //$('#hidselectedItem').empty();
        var selAttrIds = ibtAdmin.getCheckboxVal("#tbodyType tr>td>span", "data-attrId");
        $("#hidcateIds").val(selAttrIds);
        var json_data = { selAttrIds: $("#hidcateIds").val() };
        $.ajax({
            url: '/Admin/Home/SelectItemAjx', async: false, dataType: "json", data: json_data, type: 'post', success: function (json) {
                if (json.Success) {
                    $('#selectedItem').append(json.Message);
                    //$('#hidselectedItem').append(json.Message);
                }
            }
        });
    }
    function remove(objId) {
        $("span[objId=" + objId + "]").remove();
        $(".checkboxSmall").each(function () {
            $("span[data-attrId=" + objId + "]").removeClass("uncheckbox");
        });

    }
</script>
<input id="hidfldCountry" name="hidfldCountry" value="" type="hidden" />
<input id="hidfldCity" name="hidfldCity" value="" type="hidden" />
<input type="hidden" id="hidcateIds" value="" />
<input id="hidpageType" name="hidpageType" type="hidden" value="1" />
<input id="hidfldTab" name="hidfldTab" type="hidden" value="0" />
<div id="popupSearch">
    <div class=" W600 popupMain grayF3Bg">
        <form class="filterBox">
            <ul class="mT15">
                <li class="noLineT">
                    <input type="text" id="keyWord" value="Type in something to search" class="inputBg wFull" /></li>
                <li class="select3">
                    <select id="ddlCountry" class="select mR10">
                    </select>
                    @*    <span class="select mR10" style="z-index: 0;">                      
                                <span class="title arrow" id="countryName">Country</span>
                                <span class="list" style="display: none;">
                                     <div class="scrollBox" style="height: 200px;">
                                    <ul id="ddlCountry">
                                        @{
                                            foreach (var countryItem in supplierService.GetAllCountry())
                                            {
                                            <li data-countryId="@countryItem.CountryId" onclick="GetCity('@countryItem.CountryId');">@countryItem.CountryName</li>
                                                }
 }
                                    </ul>
</div>
                                </span>
                        </span>*@
                    <select id="ddlCity" class="select mR10">
                    </select>
                    @*   <span class="select mR10" style="z-index: 0;">                       
                            <span class="title arrow">City</span>
                            <span class="list" style="display: none;">
                                <div class="scrollBox" style="height: 200px;">
                                    <ul id="ddlCity">
                                    </ul>
                                </div>
                            </span>
                            </span>*@

                </li>
                <li class="NBorderB">
                    <span class="select" style="z-index: 0;">
                        <input type="hidden" id="IsShowSearch" value="0" />
                        <span class="title arrow">Select Ratings</span>
                        <span class="list" style="display: none;">
                            <ul id="recommendList">
                                <li onclick="SearchManage.changeSort(1);">Recommended</li>
                                <li onclick="SearchManage.changeSort(2);">Most Visited</li>
                            </ul>
                        </span>
                    </span>
                </li>
                <li class="NBorderB">
                    <span class="select selecBtnList wFull" style="z-index: 0;">
                        <span class="title arrow">
                            <a class="downArrow" href="#"></a>
                            <span class="selected" id="selectedItem" style="color: #31AEE3;">Select Category 
                                      @*  <span class="selectedBox">Garden <a href="#">x</a></span>
                                        <span class="selectedBox">School <a href="#">x</a></span>
                                        <span class="selectedBox">Pharmacy <a href="#">x</a></span>
                                        <span class="selectedBox">Pharmacy <a href="#">x</a></span>*@
                            </span>

                        </span>
                        <span class="list" style="display: none;">
                            <span class="selected" id="hidselectedItem"></span>
                            <div class="titleBar">
                                <img alt="" src="/App/images/text_oops_maximum_number_of_tags_selected.gif">
                            </div>
                            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                                <tbody id="tbodyType">
                                    @{
                                        foreach (var item in searchService.GetAttributeDataList())
                                        {
                                        <tr>
                                            <td onclick="GetSelectItem();"><span class="checkboxSmall" data-attrId="@item.AttrDataId"></span>@item.AttrDataName </td>
                                        </tr>
                                        }
                                    }
                                    @*  <tr><td width="40%"><span class="checkboxSmall uncheckbox"></span>Cafe </td><td width="40%"><span class="uncheckboxSmall"></span>Hotel </td></tr>
                                        <tr><td><span class="checkboxSmall"></span>Club </td><td><span class="checkboxSmall"></span>Spa </td></tr>
                                        <tr><td><span class="checkboxSmall"></span>Bars </td><td><span class="checkboxSmall"></span>Salon </td></tr>
                                        <tr><td><span class="checkboxSmall"></span>Dessert </td><td><span class="checkboxSmall uncheckbox"></span>Restaurant </td></tr>
                                        <tr><td><span class="checkboxSmall"></span>Parks </td><td><span class="checkboxSmall uncheckbox"></span>Wine Bar </td></tr>*@
                                </tbody>
                            </table>
                        </span>
                    </span>
                </li>
            </ul>
            <div class="alignR">
                <a href="javascript:void(0);" onclick="SearchManage.goTab();">
                    <img src="/App/images/button/btn_go.gif" alt="GO >" /></a>
            </div>
        </form>
        <div class="resultsBar">
            @*<span class="right">9/10</span>*@
            <span id="resultCount"></span>Results found
        </div>
        <div class="resultsBox" id="resultsBox">
            <div class="scrollBox" id="scrollBox">
                <ul id="searchSupplyList">
                    @*<li>
                       <div class="control">
                           <a href="#"><img src="/App/images/icon/lower.gif" alt="Lower" /></a>
                        </div>
                    	<a href="#" class="img"><img src="/App/images/photos/img_W50.gif" alt=""  /></a>
                        <dl>
                        		<dt>
                                   <span class="title"> <a href="#" >London Tower Bridge</a>  London, United  Kingdom</span>
                                    <span class="friendsInfo italic f10 C7a7a7a"><a href="#">9 Friends</a>  has Been There</span>
                                </dt>
                        </dl>
                    </li>*@
                </ul>
            </div>
        </div>
        <div class="botBox"><span class="txt"><span id="resultCount"></span>Results found</span> <a href="javascript:void(0);" onclick="SearchManage.GetDataListByClick();">+ Load more</a></div>
    </div>
</div>
