﻿@{
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}
<input type="hidden" id="hidArray" value="" />
<div id="map_canvas" class="mapBox"></div>

@*<div style="background: url(/App/images/map01.jpg) left top no-repeat;" class="mapBox">
    <div id="mapTips" style="position: absolute; right: 83px; top: 32px; display: block;" class="mapInfoBox">
        <div class="mapTips">
            <div class="mapMain">
                <div class="slideBox">
                    <div class="slideMain">
                        <ul>
                            <li>
                                <dl>
                                    <dt>
                                        <h3>Top 3 Hotels in ADELAIDE, AUS</h3>
                                        <a class="more" href="#">more</a>
                                        <div class="info">
                                            <h4><a href="#">Kempinski Hotel N'Djamena2</a></h4>
                                            <p class="link"><a href="#">Quartier Diguel Est, N'Djamena, TD, Chad</a></p>
                                            <p class="rating">
                                                <span class="title">rating</span>
                                                <span class="starW12 full"></span>
                                                <span class="starW12 full"></span>
                                                <span class="starW12 full"></span>
                                                <span class="starW12 "></span>
                                                <span class="starW12 "></span>
                                            </p>
                                        </div>
                                    </dt>
                                    <dd>
                                        <img src="/App/images/slide/map_slide_img01.jpg"></dd>
                                    <dd>To get an overview of our locations please view the Kempinski Collection brochure. Each year, an increasing number of guests come to appreciate these qualities, as Kempinski adds new, </dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                    <span class="next">
                        <img src="/App/images/icon/arrow_left.png"></span>
                    <span class="prev" style="opacity: 1; cursor: pointer;">
                        <img src="/App/images/icon/arrow_right.png"></span>
                </div>
            </div>
        </div>
    </div>
</div>*@
<div class="mT5 note alignR">Note : Drag to re-order</div>
<div class="table table02 mT40">
    <table cellpadding="0" cellspacing="0" border="0" width="100%" id="addLanding">
        <tr>
            <td class=" alignL" colspan="9">
                <div class="mB15 mT40">
                    <a class="btnBlueH45" onclick="ibtAdmin.loadUrlPop('/Admin/Home/GoSearch','Get','',function(){selectSpan();$('.jscroll-e').show();scroll_init(scroll_blueSearch);SearchManage.initData();SearchManage.init(); GetByJquery();$('#popupSearch').bValidator({singleError:true});},'Search');" href="javascript:void(0);"><span class="bg">+ ADD NEW RECOMMEND</span></a>
                </div>
            </td>
        </tr>
    </table>
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <thead>
            <tr id="0" class="trBg">
                <th width="3%">&nbsp;</th>
                <th width="10%">Date Added</th>
                <th width="12%">Name</th>
                <th width="10%">Country</th>
                <th width="10%">City</th>
                <th width="10%">State</th>
                <th width="10%">Type</th>
                @*    <th width="10%">Score</th>*@
                <th width="4%">&nbsp;</th>
            </tr>
        </thead>
        <tbody id="talSupply"></tbody>
    </table>
@*    <table cellpadding="0" cellspacing="0" border="0" width="100%" id="addLanding">
        <tr>
            <td class=" alignR" colspan="9">
                <div class="controlBg control1">
                    <span class="bg">
                        <a href="javascript:void(0);" class="add NborderR " onclick="ibtAdmin.loadUrlPop('/Admin/Home/GoSearch','Get','',function(){selectSpan();$('.jscroll-e').show();scroll_init(scroll_blueSearch);SearchManage.initData();SearchManage.init(); GetByJquery();$('#popupSearch').bValidator({singleError:true});},'Search');"></a>
                    </span>
                </div>
            </td>
        </tr>
    </table>*@
    <div class="mT10 alignR">
        @*<a href="#map_canvas" class="btnBlueH33 mR10" onclick="localrefresh();"><span class="bg">PREVIEW</span></a>*@
        <a href="javascript:void(0);" onclick="LandingManage.saveSort();" class="btnBlueH33 mR5"><span class="bg">SAVE</span></a>
    </div>
</div>

@section PageFoot{
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="/App/js/infobox.js"></script>
    <script src="/App/js/indexMaps.js"></script>
    <script src="/App/js/tablednd/jquery-1.7.1.js"></script>
    <script src="/App/js/tablednd/jquery.tablednd.0.7.min.js"></script>
    <script src="/App/js/ibtAdmin.js"></script>
    <script src="/App/js/jLanding.js"></script>
    <link href="/App/js/ui/jquery-ui.css" rel="stylesheet" />
    <script src="/App/js/ui/jquery-ui.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            LandingManage.initSupplyData();
            LandingManage.init();
          
            localrefresh();
        });
        function localrefresh() {
            indexMaps.source = @Html.Raw(ViewBag.MapsTopList)
            indexMaps.init(indexMaps.source);
        }
    </script>
}