﻿@{
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}

<input id="hidOrderTypeName" name="hidOrderTypeName" type="hidden" />
<input id="hidOrderValue" name="hidOrderValue" type="hidden" />
<input id="hidUserIdSort" name="hidUserIdSort" type="hidden" value="Desc" />
<input id="hidUserNameSort" name="hidUserNameSort" type="hidden" value="Desc" />
<input id="hidBirthSort" name="hidBirthSort" type="hidden" value="Desc" />
<input id="hidEmailSort" name="hidEmailSort" type="hidden" value="Desc" />
<input id="hidMemberFeaturedSort" name="hidMemberFeaturedSort" value="Desc" type="hidden" />
<input id="hidGenderSort" name="hidGenderSort" value="Desc" type="hidden" />
<input id="hidLocationSort" name="hidLocationSort" type="hidden" value="Desc" />
<input id="hidMethodSort" name="hidMethodSort" type="hidden" value="Desc" />
<input id="hidOrderActive" name="hidOrderActive" type="hidden" value="Desc" />
<input id="hidPasswordSort" name="hidPasswordSort" type="hidden" value="Desc" />
<input id="hidOrderSortNum" name="hidOrderSortNum" type="hidden" value="Desc" />
<input id="hidUserId" name="hidUserId" type="hidden" value="@User.Identity.Name" />
<input id="filterField" name="filterField" type="hidden" value="Firstname" />
<div class="fixbox mT20">
    <span class="smallSearch right mR20">
        <input type="text" value="" id="SearchKeyword">

        <span class="select" style="z-index: 0;">
@*            <select>
                <option value="1" selected="selected">Email</option>
                <option value="2">Displayed name</option>
            </select>*@
            <span class="arrow">Filter by First Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <div style="display: none; width: 132px;" class="list">
                <ul>
                    <li class="" onclick="changeFilter('Firstname')">Filter by First Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    <li onclick="changeFilter('Lastname')">Filter by Last Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    <li class="last" onclick="changeFilter('Email')">Filter by Email Address</li>
                </ul>
            </div>
        </span>

        <a href="javascript:void(0);" onclick="memberManager.goTab();" class="searchBtn"><span class="imgMiddle inlineBox alignM"></span>
            <img src="/App/images/icon/search.gif" alt="Search"></a>
        @* <span class="resultsText"><a href="#">There are <span id="count" >0</span> search results</a></span>*@
    </span>
</div>
<div class="table table02 mT20">
    <table cellspacing="0" border="0" width="100%">
        <thead>

            <tr>
                <th width="3%">&nbsp;</th>
                <th width="10%"><a href="javascript:void(0);" onclick="NameSort();">Name</a></th>
                <th width="8%">Date of Birth</th>
                <th width="16%">Email / Alternative Email</th>
                <th width="5%">Gender</th>
                <th width="8%">Location</th>
                <th width="9%">Sign in Method</th>
                <th width="7%">Activate</th>
                <th width="7%">Featured</th>
                <th width="6%">Password</th>
                <th width="6%">Type</th>
                <th width="6%">Source</th>
                <th width="10%"><a href="javascript:void(0);" onclick="NumSort();">Search Score</a></th>
                <th width="8%">&nbsp;</th>
            </tr>
        </thead>
        <tbody id="tabMember"></tbody>
        @*  <tr>
                    	<td>1.</td>
                        <td><a href="#">Jamie Yeo</a></td>
                        <td>1 May 1983</td>
                        <td><a href="mailto:ujaco-865@yopmail.com">ujaco-865@yopmail.com</a> <a href="mailto:ujaco-865@yopmail.com">ujaco-865@yopmail.com</a></td>
                        <td>Female</td>
                        <td>Gecia</td>
                        <td>Facebook</td>
                        <td>Karis, ...</td>
                        <td>Account...</td>
                        <td>aaksjd905</td>
                        <td class="cssTaskSn" >0</td>
                        <td class=" alignR">
                        	<div class="controlBg control3">
                            	<span class="bg">
                            	<a href="#" class="activation "  ></a>
                            	<a href="#" class="feature active" ></a>
                            	<a href="#" class="delete " ></a>
                                </span>
                            </div>
                        </td>
                    </tr>*@

    </table>
    <br />
    <div id="clickloadmore" style="width: 100%; border: 1px solid #E5E5E5; text-align: center; height: 24px; padding-top: 10px;">
        <a href="javascript:void(0);" onclick="memberManager.GetMemberListOnClick();">Click to load more!</a>
    </div>
</div>
@* <div class=" mT20 alignC">
            		<img src="/App/images/icon/loading.gif" alt="Loading" />
            </div>*@
@section PageFoot{
    <script src="/App/js/scroll.js"></script>
    <script src="/App/js/jManage.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            memberManager.initData();
            memberManager.init();
        });
        function GetUserId(userId) {
            //alert(userId);
            $("#hidUserId").attr("value", userId);
        }
        function changeFilter(f) {
            $("#filterField").attr("value", f);
        }
        function NameSort() {
            $("#hidOrderTypeName").attr("value", "FirstName");
            if ($("#hidUserNameSort").val() == "Desc") {
                $("#hidUserNameSort").attr("value", "Asc");
                $("#hidOrderValue").attr("value", "Asc");
            }
            else {
                $("#hidUserNameSort").attr("value", "Desc");
                $("#hidOrderValue").attr("value", "Desc");
            }
            //supplyManager.sortbyTitle($("#hidOrderTypeName").val(), $("#hidSupplierNameSort").val());
            memberManager.sortbyName();
        }
        function NumSort() {
            $("#hidOrderTypeName").attr("value", "Sort");
            if ($("#hidOrderSortNum").val() == "Desc") {
                $("#hidOrderSortNum").attr("value", "Asc");
                $("#hidOrderValue").attr("value", "Asc");
            }
            else {
                $("#hidOrderSortNum").attr("value", "Desc");
                $("#hidOrderValue").attr("value", "Desc");
            }
            //supplyManager.sortbyTitle($("#hidOrderTypeName").val(), $("#hidSupplierNameSort").val());
            memberManager.sortbyNum();
        }
    </script>
}