﻿@{
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}
<input type="hidden" id="hidArray" value="" />
<input id="hidOrderTypeName" name="hidOrderTypeName" type="hidden" />
<input id="hidOrderValue" name="hidOrderValue" type="hidden" />
<input id="hidSupplyIdSort" name="hidSupplyIdSort" type="hidden" value="Desc" />
<input id="hidSupplyNameSort" name="hidSupplyNameSort" type="hidden" value="Desc" />
<input id="hidOrderSortNum" name="hidOrderSortNum" type="hidden" value="Desc" />
<input id="hidMRPId" name="hidMRPId" type="hidden" />
<div class="tabList">
    <div class=" bg">
        <a class="fold " href="Destination">Destination</a>
        <a class="fold unfold " href="Recommend">Recommend</a>
        <a class="fold " href="Visited">Visited</a>
    </div>
</div>
<div class="fixbox mT20 mB15">
    <div class="right mR15 Cb2b6b8 mT5">
        <input type="text" value="" id="SearchKeyword">
        <a href="javascript:void(0);" onclick="AddNewRecommend.goTab();" class="searchBtn"><span class="imgMiddle inlineBox alignM"></span>
            <img src="/App/images/icon/search.gif" alt="Search"></a>
    </div>
    <a href="javascript:void(0);" onclick="ibtAdmin.loadUrlPop('/Admin/Home/AddRecommend','Get','',function(){ SearchManage.initData();SearchManage.init();selectSpan();scroll_init(scroll_blue);$('.jscroll-e').show();searchLi(); GetByJquery();initCountryCity();},'Add recommend');" class="btnBlueH45"><span class="bg">add new recommend</span></a>
</div>
<div class="table table02 mT20">
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <thead>
            <tr style="background-color: #F9F7F7;">
                <th width="3%">&nbsp;</th>
                <th width="12%"><a href="javascript:void(0);" onclick="NameSort();">Name</a></th>
                <th width="14%">Address</th>
                <th width="10%">Country</th>
                <th width="10%">City</th>
                <th width="10%">State</th>
                <th width="13%">Description</th>
                <th width="10%">Type</th>
                <th width="4%">&nbsp;</th>
            </tr>
        </thead>
        <tbody id="talRecommend"></tbody>
    </table>
    <div class="mT10 alignR">
        <a href="javascript:void(0);" onclick="AddNewRecommend.saveSort();" class="btnBlueH33 mR5"><span class="bg" id="save">SAVE</span></a>
    </div>
</div>
@section PageFoot{
    <script src="/App/js/tablednd/jquery-1.7.1.js"></script>
    <script src="/App/js/tablednd/jquery.tablednd.0.7.min.js"></script>
    <script src="/App/js/jAddNewRecommend.js"></script>
    <script type="text/javascript" src="/App/js/scroll.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            AddNewRecommend.initData();
            AddNewRecommend.init();          
        });
        function GetMRPId(mrpId) {
            $("#hidMRPId").attr("value", mrpId);
        }
        function NameSort() {
            $("#hidOrderTypeName").attr("value", "Title");
            if ($("#hidSupplyNameSort").val() == "Desc") {
                $("#hidSupplyNameSort").attr("value", "Asc");
                $("#hidOrderValue").attr("value", "Asc");
            }
            else {
                $("#hidSupplyNameSort").attr("value", "Desc");
                $("#hidOrderValue").attr("value", "Desc");
            }
            //supplyManager.sortbyTitle($("#hidOrderTypeName").val(), $("#hidSupplierNameSort").val());
            AddNewRecommend.sortbyTitle();
        }
        function NumSort() {
            $("#hidOrderTypeName").attr("value", "Sort");
            if ($("#hidOrderSortNum").val() == "Desc") {
                $("#hidOrderSortNum").attr("value", "Asc");
                $("#hidOrderValue").attr("value", "Asc");
            }
            else {
                $("#hidOrderSortNum").attr("value", "Desc");
                $("#hidOrderValue").attr("value", "Desc");
            }
            //supplyManager.sortbyTitle($("#hidOrderTypeName").val(), $("#hidSupplierNameSort").val());
            AddNewRecommend.sortbyNum();
        }
    </script>
}