﻿@{
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}

<div class="mB15 mT40">
    <a href="javascript:void(0);" onclick="ibtAdmin.loadUrlPop('/Admin/Home/AddNewMedia?mediaId=0','Get','',function(){initAllData();WidgetManage.uploadImg();selectSpan();scroll_init(scroll_blue);},'Add New Media');" class="btnBlueH45"><span class="bg">add new media</span></a>
</div>
<div class="mT5"><span class="C31AEE3 bold f13">Current Advertisement List</span></div>
<div class="table table02 mT40">
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <thead>
            <tr>
                <th width="3%">&nbsp;</th>
                <th width="10%">Name</th>
                <th width="10%">StartDate</th>
                <th width="10%">EndDate</th>
                <th width="16%">Target URL</th>
                <th width="8%">MediaType</th>
                <th width="7%">Position</th>
                <th width="6%">Type</th>
                <th width="4%">&nbsp;</th>
            </tr>
        </thead>
        <tbody id="talWidget"></tbody>
    </table>
    <br />
    <div id="clickloadmore" style="width: 100%; border: 1px solid #E5E5E5; text-align: center; height: 24px; padding-top: 10px;">
        <a href="javascript:void(0);" onclick="WidgetManage.GetWidgetListOnClick();">Click to load more!</a>
    </div>
</div>
@section PageFoot{
    <script src="/App/js/jquery-1.7.1.min.js"></script>
    <link href="/App/js/uploadify/uploadify.css" rel="stylesheet" />
    <script src="/App/js/uploadify/jquery.uploadify.js"></script>
    <link href="/App/js/ui/jquery-ui.css" rel="stylesheet" />
    <script src="/App/js/ui/jquery-ui.js"></script>
    <script src="/App/js/scroll.js"></script>
    <script src="/App/js/jWidget.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            WidgetManage.initData();
            WidgetManage.init();
        });
    </script>

}