﻿@{
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}
<link href="/App/js/uploadify/uploadify.css" rel="stylesheet" />
<script src="/App/js/uploadify/jquery.uploadify.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#uploadImport').uploadify({
            'buttonImage': '/App/images/choose_file.gif',
            'swf': '/App/js/uploadify/uploadify.swf',
            'cancelImg': '/App/js/uploadify/uploadify-cancel.png',
            'fileTypeDesc': '请选择excel文件',
            'fileTypeExts': '*.xls',
            'width': 280,
            'sizeLimit': 1024 * 1024 * 4, //4M
            'uploader': '/Admin/Home/BatchImport?UserId=' + $("#UserId").val() + '&AttrDataId=' + $("#hidattrDataId").val() + "&d=" + (new Date()).getTime(),
            'onUploadSuccess': function (file, data, response) {
                eval("data=" + data);
                alert('文件 ' + file.name + ' 已经上传成功，并返回 ' + response + ' 保存文件名称为 ' + data.SaveName);

            }
        });
    });
</script>
<div class="updatebox">
    <div class="fixbox">
        <label>Update Supplier file :</label>
        <span class="chooseFile">
            <input type="file" id="uploadFile" name="uploadFile" style="display: none;" />
                <input type="image" id="uploadImport" name="uploadImport" onclick="document.getElementById('uploadFile').click();" src="/App/images/choose_file.gif" />
           @* <img src="/App/images/choose_file.gif" /><br />*@
            <span class="mT5">* Only Excel file is acceptable</span></span> <a href="#" class="btnBlueH33 mL10"><span class="bg">Submit</span></a> <a href="/Admin/Home/GetFile" class="btnBlueH33 mL20"><span class="bg">Download Template</span></a>
    </div>
</div>
