﻿@{
    Layout = null;
    IMeet.IBT.Services.SupplierService supplyService = new IMeet.IBT.Services.SupplierService();
   
}
<link href="/App/js/tablednd/tablednd.css" rel="stylesheet" />
<script src="/App/js/tablednd/jquery-1.7.1.js"></script>
<script src="/App/js/tablednd/jquery.tablednd.0.7.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var supplyId = $("#hidsupplyId").val();
        supplyTypeManager.viewTitle(supplyId);
        // Initialise the table
        $("#tableSort").tableDnD({
            onDrop: function (table, row) {
                var rows = table.rows;
                var debugStr = "";
                var strId = "";
                for (var i = 0; i < rows.length; i++) {
                    debugStr += rows[i].id + "-" + i.toString() + ",";
                    strId += rows[i].id + ",";
                }
                //var strs= new Array(); //定义一数组
                //strs=debugStr.split(","); //字符分割  
                //for (i=0;i<strs.length ;i++ )   
                //{
                //    $("#hidSort").val(strs[i]);
                //    alert($("#hidSort").val());
                //    //document.write(strs[i]+"<br/>");    //分割后的字符输出
                //}
                $("#hidArray").val(strId);
                //alert($("#hidArray").val());
            }
        });
        // Make a nice striped effect on the table
        $("#tableSort tr:even").addClass("trBg");
    })
   
	</script>
<input type="hidden" id="hidArray" value="" />
<input type="hidden" id="hidsupplyId" value="" />
<input type="hidden" id="hidtypeId" value="1" />
<input type="hidden" id="popType" value="Order" />
<div class="W600 popupMain boxyContent">
	<div class=" grayBox ">
    	<div class="mainBox ">
    		<h2 id="EditSortTitle"></h2>        
            <div class="storTable ">
                <table id="tableSort" cellpadding="0" cellspacing="0" border="0" width="100%">
                   @* <tr id="0">
                        <th width="80%">Type</th>
                        <th width="16%">Sort</th>
                    </tr>
                    <tr id="1">
                        <td>Hotel</td>
                        <td>1</td>
                    </tr>
                    <tr id="2">
                        <td>Dining</td>
                        <td>1</td>
                    </tr>
                    <tr id="3">
                        <td>Event Venues</td>
                        <td>1</td>
                    </tr>*@
                </table>
            	</div>
             	<div class="btn">
                	<a href="#" onclick="supplyTypeManager.saveSort();" class="btnBlueH45"><span class="bg">Save Sort</span></a>  @*alert('Serialized table is: '+$('#tableSort').tableDnDSerialize())*@
 @*               	<a href="#" id="showType" onclick="ibtAdmin.loadUrlPop('/Admin/Home/EditSupplyTypes','Get','',function(){supplyTypeManager.GetPopType($('#hidsupplyId').val(),2); supplyTypeManager.viewTitle($('#hidsupplyId').val())},'Edit Category');" class="btnBlueH45 close"><span class="bg">Edit Type</span></a>*@
                	<a href="#" class="btnGrayH45 close"><span class="bg">Cancel</span></a>
                </div>           
      	</div>
    </div>
</div>
