﻿@charset "utf-8";
/* CSS Document */

body{font-family:Arial, Helvetica, sans-serif;font-weight:normal;margin:0;padding:0;}
div, ul, img{display:block;}div, img, a{text-decoration:none;border:none;outline:none;}
.left{float:left;}.right{float:right;}.hide{display:none !important;}

#wrapper{min-width:1000px;width:100%;height:auto;margin:0 auto;padding:0;background:#e2e2e2;}
#wrapper>div{max-width:1004px;}

#wrapperView{min-width:1000px;width:100%;height:auto;margin:0 auto;padding:0;background:#e2e2e2;text-align:center;}

/*-------------------------------------
	Header
-------------------------------------*/
#header{background:rgba(255,255,255,1);width:1000px;height:auto;margin:0 auto 23px auto;padding:12px 0;border:none;border-right:1px solid #ababab;border-bottom:1px solid #ababab;border-left:1px solid #ababab;text-align:center;color:#797979;}

ul.headerHolder{width:100%;height:auto;margin:0 auto;padding:0;list-style:none;text-align:center;}
ul.headerHolder>li{width:auto;height:auto;border-right:1px solid #b7b7b7;padding:0 20px;display:inline-block;vertical-align:middle;}ul.headerHolder>li:last-child{border-right:none;}

li.headerHd h3{font-size:18px;font-weight:normal;line-height:1.2em;color:#797979;}

li.headerShares{max-width:270px;}
li.headerShares>div{}
/*column 1*/
.hdShareHd{width:auto;height:100%;margin:0;padding:0;padding-right:16px;}.hdShareHd p{font-size:12px;line-height:3em;color:#797979;}
/*column 2*/
.hdShares{width:auto;height:50%;margin:0;padding:5px 0;}
.hdShares ul{width:auto;height:auto;margin:0;padding:0;list-style:none;}
.hdShares li.hdShareCnt{width:auto;height:auto;margin:0 5px 0 0;padding:0;display:inline-block;}
li.hdShareCnt a{width:27px;height:27px;margin:0;padding:0;display:block;}
li.hdShareCnt a.shareFacebook{background:transparent url(../../images/personalProfile/icons/icons_socialsmedia.png) no-repeat;background-size:auto;background-position: top left;}
li.hdShareCnt a.shareTwitter{background:transparent url(../../images/personalProfile/icons/icons_socialsmedia.png) no-repeat;background-size:auto;background-position: top center;}
li.hdShareCnt a.shareLinkedIn{background:transparent url(../../images/personalProfile/icons/icons_socialsmedia.png) no-repeat;background-size:auto;background-position: top right;}
li.hdShareCnt a:hover{opacity:0.55;filter: alpha(opacity=55);}

.hdInput{width:auto;height:50%;margin:0;padding:0;}
.hdInputAdds{width:190px;height:20px;border:1px solid #b7b7b7;}

.headerBtn{width:auto;height:auto;margin:0;padding:0;}.headerBtn ul{width:auto;height:auto;margin:0;padding:0;list-style:none;}
li.hdButton{width:auto;height:auto;margin:0 10px 0 0;padding:0;}li.hdButton:last-child{margin-right:0;}li.hdButton a{width:133px;height:47px;margin:0;padding:0;display:block;overflow:hidden;background-size:100% auto;background-position:0 0;}
li.hdButton a.btn-hdPreview{background:transparent url(../../images/personalProfile/buttons/btn_hdpreview.png) no-repeat;}
li.hdButton a.btn-hdSave{background:transparent url(../../images/personalProfile/buttons/btn_hdsave.png) no-repeat;}
li.hdButton a.btn-hdCancel{background:transparent url(../../images/personalProfile/buttons/btn_cancel.png) no-repeat;}
li.hdButton a:hover{background-position:0 100%;cursor:pointer;}


/*-------------------------------------
	Profile
-------------------------------------*/
#profile{width:1000px;height:auto;margin:0 auto 50px auto;padding:0;text-align:center;}

/*Profile Cover Photos*/
.profCvPhoto{width:100%;height:auto;margin:0 0 25px 0;padding:0;position:relative;display:inline-block;}

.profCvPhotoContainer{width:100%;height:auto;margin:0;padding:0;position:relative;}
.profCvPhotoHold{background:#ededed;width:1000px;height:300px;margin:0;padding:0;overflow:hidden;text-align:center;vertical-align:middle;display:-webkit-box;display:flex;display:inline-flex;}.profCvPhotoHold img{width:100%;height:auto;margin:auto;padding:0;vertical-align:middle;display:inline-block;}

.profCvDefault, .profCvUpload{width:500px;height:60px;position:absolute;bottom:0;margin:0;padding:0;}
.profCvDefault{left:0;}.profCvUpload{right:0;}
.profCvDefault a, .profCvUpload a{background-image:url(../../images/personalProfile/icons/icon_photo.png);background-repeat:no-repeat;background-size:34px auto;background-position:151px 12px;width:500px;height:60px;margin:0;padding:0;display:block;font-size:16px;line-height:4em;}
.btn-defaultCvPhoto{background:rgba(255,255,255,0.45);color:#444444;transition-duration:1.2s;-webkit-transition-duration:1.2s;}.btn-defaultCvPhoto span{padding-left:43px;}.btn-defaultCvPhoto:hover, .btn-defaultCvPhoto:focus{background:rgba(255,255,255,0.75);background-image:url(../../images/personalProfile/icons/icon_photo.png);background-repeat:no-repeat;background-size:34px auto;background-position:151px 12px;cursor:pointer;}
.btn-uploadCvPhoto{background:rgba(22,161,206,0.45);color:#ffffff;transition-duration:1.2s;-webkit-transition-duration:1.2s;}.btn-uploadCvPhoto span{padding-left:43px;}.btn-uploadCvPhoto:hover, .btn-uploadCvPhoto:focus{background:rgba(22,161,206,0.70);background-image:url(../../images/personalProfile/icons/icon_photo.png);background-repeat:no-repeat;background-size:34px auto;background-position:151px 12px;cursor:pointer;}

.profCvPhotoRefer{width:100%;height:auto;margin:0;padding:0;text-align:center;}.profCvPhotoRefer p{font-size:12px;font-style:italic;color:#acacac;}

/*Profile Details Field*/
.profDetWrapper{width:100%;height:auto;margin:0 auto;padding:0;text-align:center;}.profDetWrapper>div{display:inline-block;vertical-align:top;}

.profDetRequired:before{content:'*';position:absolute;top:0;left:0;margin:0 0 0 -10px;padding:0;font-size:16px;text-align:left;color:#000000;}

/*profile photo*/
.profDetPhHolder{position:relative;width:auto;height:auto;margin:0;padding:0 10px 0 0;text-align:center;}

.profPhotoContainer{position:relative;background:rgba(180,180,180,1);width:198px;height:198px;margin:0;padding:0;border:1px solid #7e8a8a;overflow:hidden;}
.profPhotoUpload{position:absolute;bottom:0;width:198px;height:50px;margin:0;padding:0;}
.profPhotoUpload a.btn-uploadProfPhoto{background: url(../../images/personalProfile/icons/icon_photo.png) rgba(22,161,206,0.45) no-repeat;background-size:34px auto;background-position:16% 54%;width:198px;height:50px;margin:0;padding:0;display:block;transition-duration:1.2s;-webkit-transition-duration:1.2s;font-size:16px;font-weight:500;line-height:3.5em;text-align:center;color:#ffffff;}a.btn-uploadProfPhoto:hover, a.btn-uploadProfPhoto:focus{background: url(../../images/personalProfile/icons/icon_photo.png) rgba(22,161,206,0.75) no-repeat;background-size:34px auto;background-position:16% 54%;cursor:pointer;}
.profPhotoUpload a.btn-uploadProfPhoto span{padding-left:48px;}

/*profile introduction*/
.profDetIntroContainer{width:auto;height:auto;margin:0;padding:0 10px;}
.profDetIntroContainer>ul{width:auto;height:auto;margin:0;padding:0;list-style:none;top:0;left:0;}
.profDetIntroContainer>ul li.profDetIntroFields{width:auto;height:auto;margin:0 0 6px 0;padding:0;display:table;}li.profDetIntroFields>div{display:inline-block;float:left;vertical-align:middle;}

.profDetIntTag{width:196px;height:auto;margin:0;padding:0 10px 0 0;font-size:16px;font-weight:normal;line-height:1.9em;text-align:left;color:#000000;position:relative;}.profDetIntTag>p{width:auto;height:auto;margin:0;padding:0;}
.profDefIntField{width:auto;height:auto;margin:0;padding:0;position:relative;}
/*text field*/.profDefIntField input[type=text]{background-color:#d4d4d4;text-deocration:none;border:none;outline:none;height:20px;padding:5px 10px;font-size:12px;font-weight:normal;text-align:left;color:#000000;}
.profDefIntField input[type=text].profDetFieldLg{width:284px;}.profDefIntField input[type=text].profDetFieldMd{width:156px;}.profDefIntField input[type=text].profDetFieldSm{width:106px;margin-left:2px;}
.profDefIntField input[type=text]::-webkit-input-placeholder{color:rgba(0,0,0,0.25);}.profDefIntField input[type=text]:-moz-placeholder{color:rgba(0,0,0,0.25);}.profDefIntField input[type=text]::-moz-placeholder{color:rgba(0,0,0,0.25);}.profDefIntField input[type=text]:-ms-input-placeholder{color:rgba(0,0,0,0.25);}
/*check box*/
.profDefIntField input[type=checkbox]{background:rgba(42,163,214,0.5);width:22px;height:22px;}
/**/
.profDetIntroRefer{width:1000px;height:auto;margin:0;padding:0;display:block;text-align:center;}.profDetIntroRefer p{margin:0;padding:0;font-size:12px;font-style:italic;text-align:center;color:#acacac;}

/*-------------------------------------
	Contents
-------------------------------------*/
#contentHolder{background:#ffffff;width:944px;height:auto;margin:0 auto 16px auto;padding:58px 30px 15px 30px;border:1px solid #ababab;position:relative;}

/*content Header Title*/
.contentHdHolder{position:absolute;top:0;left:0;width:auto;height:auto;margin:15px 0 0 -5px;padding:0;}.contentHdHolder>div{display:inline-block;float:left;vertical-align:top;}

.cntHdHoldFold{background:url(../../images/personalProfile/bgs/bg_cntheader_fold.png) no-repeat;background-size:100% auto;background-position:right center;width:5px;height:45px;margin:0;padding:0;}
.cntHdHoldTitle{background:rgba(22,161,206,1);width:auto;height:38px;margin:0 0 7px 0;padding:0 20px;}.cntHdHoldTitle h3{margin:0;margin-top:10px;padding:0;font-size:15px;font-weight:600;line-height:1.2em;text-align:left;color:#ffffff;}
.cntHdHoldEnd{background:url(../../images/personalProfile/bgs/bg_cntheader_end.png) no-repeat;background-size:100% auto;background-position:left top;width:19px;height:45px;margin:0;padding:0;}

/*content Section Display Options*/
.contentDspHolder{position:absolute;top:0;right:0;width:auto;height:auto;margin:8px 20px 0 0;padding:0;}.contentDspHolder>div{display:inline-block;float:right;vertical-align:middle;text-align:right;}
.contentDspTexts{width:auto;height:auto;margin:0;padding:0;}
.contentDspTexts input[type=checkbox]{width:25px;height:25px;margin:0;padding:0;display:inline-block;vertical-align:middle;}
.contentDspTexts p{margin:0;padding:0;padding-left:10px;font-size:18px;font-weight:normal;line-height:3em;text-align:right;color:#666666;display:inline-block;vertical-align:middle;}


/*------------------- General Information -------------------*/
.generalInfoWrapper{width:100%;height:auto;margin:0;padding:0;}
.generalHolder{width:100%;height:auto;margin:0;padding:0;list-style:none;}
.generalContainer{width:100%;height:auto;margin:0;padding:36px 6px 37px 6px;display:inline-block;border:none;border-bottom:1px dashed #bebebe;outline:none;}.generalContainer:last-child{border-bottom:none;}

.genrCatHolder{width:100%;height:auto;margin:0;padding:0;display:table;}.genrCatHolder>div{height:auto;display:inline-block;vertical-align:middle;}
.genrCatIcon{width:40px;margin:0;margin-right:12px;padding:0;}.genrCatIcon img{width:40px;height:auto;margin:0;padding:0;}
.genrCatTitle{width:auto;margin:0;margin-right:20px;padding:0;}.genrCatTitle p{font-size:15px;font-weight:bold;text-align:left;color:#000000;}
.genrCatDisplay{margin:13px 0 0 0;padding:0;position:relative;}.genrCatDisplay input[type=checkbox]{width:20px;height:20px;margin:auto 10px 0 0;padding:0;vertical-align:middle;display:inline-block;}.genrCatDisplay span{display:inline-block;width:auto;height:auto;margin:auto 0;padding:0;font-size:15px;font-style:italic;text-align:left;color:#999999;vertical-align:middle;}

/*Links*/
.genLinksFldHolder{width:auto;height:auto;margin:10px 0 0 0;padding:0 35px;list-style:none;}
li.genLinksFldCont{position:relative;width:auto;height:auto;margin:0 20px 14px 0;padding:0;display:inline-block;float:left;}li.genLinksFldCont:nth-child(4n+4){margin-right:0;}
.genLinksFldCont input[type=text]{background:#ffffff;position:relative;width:166px;height:12px;margin:0;padding:5px 27px 5px 5px;border:1px solid #bbbbbb;font-size:14px;font-weight:normal;line-height:1.2em;text-align:left;color:#999999;}.genLinksFldCont input[type=text]::-webkit-input-placeholder{color:rgba(0,0,0,0.25);}.genLinksFldCont input[type=text]:-moz-placeholder{color:rgba(0,0,0,0.25);}.genLinksFldCont input[type=text]::-moz-placeholder{color:rgba(0,0,0,0.25);}.genLinksFldCont input[type=text]:-ms-input-placeholder{color:rgba(0,0,0,0.25);}

a.btn-genLinksFldClosed{background:#ffffff;position:absolute;top:0;right:0;width:22px;height:22px;margin:1px;padding:0;content:"x";display:block;font-size:18px;text-align:center;color:#cccccc;}a.btn-genLinksFldClosed:hover, a.btn-genLinksFldClosed:focus{background:#cccccc;color:#ffffff;cursor:pointer;}

/*Photo*/
.genPhotoHolder{width:auto;height:auto;margin:10px 0 0 0;padding:0 35px;list-style:none;}
li.genPhotoCol{width:auto;height:auto;margin:0 15px 14px 0;padding:0;display:inline-block;float:left;}li.genPhotoCol:nth-child(4n+4){margin-right:0;}

.genPhotoContainer{background:rgba(177,177,177,0.7);position:relative;width:108px;height:108px;margin:0;padding:0;border:1px solid #7e8a8a;}
.genPhotoImage{background:rgba(177,177,177,1) url(../../images/personalProfile/icons/icon_photo.png) no-repeat;background-size:35% auto;background-position:center center;position:relative;width:108px;height:108px;margin:0;padding:0;display:-webkit-box;display:flex;display:inline-flex;text-align:center;overflow:hidden;}.genPhotoImage img{position:relative;width:100%;height:auto;margin:auto;padding:0;display:inline-block;vertical-align:middle;}

/*@-webkit-keyframes fadeIn {from{opacity:0;}to{opacity:1;}}
@keyframes fadeIn {from{opacity:0;}to{opacity:1;}}
.genPhotoImgOn:hover>.genPhotoRemove, .genPhotoImgOn:focus>.genPhotoRemove{display:inline-flex !important;cursor:pointer;animation:fadeIn 0.15s;-webkit-animation:fadeIn 0.15s;}
.genPhotoImgOff:hover>.genPhotoUpload, .genPhotoImgOff:focus>.genPhotoUpload{display:inline-flex !important;cursor:pointer;animation:fadeIn 0.15s;-webkit-animation:fadeIn 0.15s;}
.genPhotoImgOff:hover>.btn-genPhotoCancel, .genPhotoImgOff:focus>.btn-genPhotoCancel{display:block !important;cursor:pointer;animation:fadeIn 0.15s;-webkit-animation:fadeIn 0.15s;}*/
.genPhotoContainer:hover, .genPhotoContainer:focus{cursor:pointer;}
.genPhotoImgOn:hover>.genPhotoRemove, .genPhotoImgOn:focus>.genPhotoRemove{opacity:1;filter:alpha(opacity=100);cursor:pointer;}
.genPhotoImgOff:hover>.genPhotoUpload, .genPhotoImgOff:focus>.genPhotoUpload{opacity:1;filter:alpha(opacity=100);cursor:pointer;}
.genPhotoImgOff:hover>.btn-genPhotoCancel, .genPhotoImgOff:focus>.btn-genPhotoCancel{opacity:1;filter:alpha(opacity=100);cursor:pointer;}

.genPhotoRemove{background:rgba(22,161,206,0.80);position:absolute;top:0;left:0;width:100%;height:100%;margin:0;padding:0;display:-webkit-box !important;display:flex !important;display:inline-flex !important;text-align:center;overflow:hidden;transition-duration:0.25s;-webkit-transition-duration:0.25s;opacity:0;filter:alpha(opacity=0);}.genPhotoRemove:after{content:"Remove";display:inline-blox;vertical-align:middle;width:100%;height:auto;font-size:13.7px;font-weight:bold;line-height:8em;text-transform:uppercase;text-align:center;color:#ffffff;}

.genPhotoUpload{background:rgba(22,161,206,0.35);position:absolute;top:0;left:0;width:100%;height:100%;margin:0;padding:0;display:-webkit-box !important;display:flex !important;display:inline-flex !important;text-align:center;overflow:hidden;transition-duration:0.25s;-webkit-transition-duration:0.25s;opacity:0;filter:alpha(opacity=0);}.genPhotoUpload:after{content:"UPLOAD";display:inline-blox;vertical-align:middle;width:100%;height:auto;font-size:13.7px;font-weight:bold;line-height:8em;text-transform:uppercase;text-align:center;color:#ffffff;}

a.btn-genPhotoCancel{background:rgba(22,161,206,1);position:absolute;top:0;right:0;width:20px;height:20px;margin:0;padding:0;display:block !important;font-size:14px;line-height:1.2em;text-align:center;color:#ffffff;transition-duration:0.4s;-webkit-transition-duration:0.4s;opacity:0;filter:alpha(opacity=0);}a.btn-genPhotoCancel:hover, a.btn-genPhotoCancel:focus{background:rgba(255,255,255,0.85);color:rgba(22,161,206,1);cursor:pointer;}

/*btn - Add More*/
.addColBtn{width:auto;height:auto;margin:0;padding:0;vertical-align:middle;display:inline-block;}.addColBtn a{background:transparent url(../../images/personalProfile/buttons/btn_add_more.jpg) no-repeat;background-size:100% auto;background-position:center center;display:block;margin:0;padding:0;}.addColBtn a:hover, .addColBtn a:focus{opacity:0.5;filter:alpha(opacity=50);cursor:pointer;}
a.btn-addMoreSm{width:24px;height:24px;}
a.btn-addMoreLg{width:108px;height:108px;border:1px solid #7e8a8a;}


/*------------------- Where I've Been -------------------*/
.ivbMap{background:#dddddd;width:1004px;height:388px;margin:0 0 0 -30px;padding:0;display:inline-blcok;overflow:hidden;}.ivbMap iframe{width:100%;height:auto;margin:auto;padding:0;display:inline-block;vertical-align:middle;text-decoration:none;border:none;outline:non;e}
ul.ivbMCounter{background:#f0f0f0;width:944px;height:auto;margin:0 0 34px -30px;padding:0 30px;list-style:none;display:inline-block;}
li.ivbMCounterCol{width:auto;height:auto;margin:0;padding:16px 28px 10px 28px;border:none;border-right:1px solid #b4b4b4;display:inline-block;vertical-align:middle;}li.ivbMCounterCol:first-child{padding-left:2px;}li.ivbMCounterCol:last-child{border-right:none;}

li.ivbMCounterCol>span{display:block;float:left;vertical-align:middle;}
.imcFigures{background:#ffffff;width:auto;height:auto;margin:auto 8px auto 0;padding:10px;border:1px solid #31aee3;font-size:16px;font-weight:bold;line-height:1.2em;text-align:center;color:#087fb2;}
.imcDescp{width:auto;height:auto;margin:auto 0;padding:0;font-size:12px;font-weight:normal;line-height:3.4em;text-align:left;color:#1a7aa3;}

.interacHistHeader{width:100%;height:auto;margin:0 0 10px 0;padding:0;display:inline-block;}.interacHistHeader>div{vertical-align:middle;}
.ihhIconHolder{width:auto;height:auto;margin:0;margin-right:8px;padding:0;}.ihhIconHolder img{width:40px;height:auto;margin:0;padding:0;}
.ihhHeader{width:auto;height:auto;margin:0;margin-top:8px;padding:0;}.ihhHeader p{font-size:15px;font-weight:bold;line-height:1.2em;text-align:left;color:#000000;display:block;margin:0 0 8px 0;padding:0;}.ihhHeader span{font-size:12px;font-weight:normal;line-height:1.2em;text-align:left;color:#7f7e7e;display:block;margin:0;padding:0;}

.ihhButtonHld{width:auto;height:auto;margin:0;margin-top:14px;padding:0;}.ihhButtonHld a{display:block;width:auto;height:auto;margin:0;padding:5px 10px;font-size:12px;font-weight:bold;text-transform:capitalize;text-align:right;color:#087fb2;transition-duration:0.6s;-webkit-transition-duration:0.6s;}.ihhButtonHld a:hover, .ihhButtonHld a:focus{background-color:rgba(8,127,178,0.75);color:#ffffff;cursor:pointer;}

.ihhDivideHold{background:rgba(8,127,172,1);width:888x;height:5px;margin:0 0 0 48px;padding:0;}

ul.ihhCountriesWrapper{width:100%;height:auto;margin:0;margin-top:10px;padding:0;list-style:none;}
li.ihhCountriesHolder{width:100%;height:auto;margin:0 0 10px 0;padding:5px 0;display:inline-block;}
.ihhCountriesDisplay{width:100%;height:auto;margin:0;padding:0;display:inline-block;}.ihhCountriesDisplay>div{display:inline-block;float:left;vertical-align:middle;}
/*icons*/
.ihhCountriesIcons{width:24px;height:24px;margin:0 0 0 0;padding:0;padding-left:34px;}.ihhCountriesIcons img{width:100%;height:auto;margin:0;padding:0;}
.ihhCountriesIcons:hover, .ihhCountriesIcons:focus{background:transparent url(../../images/personalProfile/icons/icon_movedrag.png) no-repeat;background-size:auto 98%;background-position:center left;cursor:move;cursor:-webkit-move;cursor:-webkit-grab;cursor:-moz-grab;}
/*country name*/
.ihhCountriesName{width:129px;height:auto;margin:auto;padding:0 0 0 20px;}.ihhCountriesName p{margin:0;padding:0;font-size:12px;font-weight:normal;line-height:2.2em;text-align:left;color:#666666;}
/*dashed lines*/
.ihhDashedLines{width:660px;height:auto;margin:0;padding:0 14px 0 0;}.ihhDashedLines svg{width:100%;min-height:20px;height:auto;max-height:24px;margin:0;padding:0;display:block;}.ihhDashedLines svg g{width:100%;height:100%;margin:0;padding:0;display:block;}
/*Cities Figures*/
.ihhCitiesFigure{width:auto;height:auto;margin:0;padding:0 10px 0 14px;}.ihhCitiesFigure p{min-width:14px;margin:0;padding:0;font-size:12px;font-weight:normal;line-height:2.2em;text-align:left;color:#087fb2;}
/*Show More Button*/
.ihhCntMoreButtons{width:20px;height:20px;margin:0;padding:0;}
.ihhCntMoreButtons a.btn-ihhCitiesInfo{width:20px;height:20px;margin:0;padding:5px 8px;font-size:10px;font-weight:bold;line-height:2.5em;text-align:center;color:#2b89b7;transition-duration:0.5s;-webkit-transition-duration:0.5s;}
a.btn-ihhCitiesInfo:hover, a.btn-ihhCitiesInfo:focus{background:rgba(43,137,183,0.75);color:#ffffff;cursor:pointer;}

.ihhCitiesDisplay{width:100%;height:auto;margin:6px 0 30px 0;padding:0;display:inline-block;}
/*Cities Names | Hodler*/
ul.ihhCitiesHolder{width:100%;height:auto;margin:0;padding:0;list-style:none;display:inline-block;text-align:center;}
li.ihhCitiesCol{width:auto;height:auto;margin:0 50px 14px 50px;padding:0;display:inline-block;}li.ihhCitiesCol p{margin:0;padding:0;font-size:12px;font-weight:normal;line-height:1.2em;text-align:center;color:#666666;}li.ihhCitiesCol p span{font-weight:bold;}
/*Cities Divider*/
.ihhCitiesDivider{background:rgba(22,161,206,1);width:898px;height:5px;margin:0;margin-top:2px;padding:0;display:block;float:right;}


/*------------------- Meeting Experiences -------------------*/
ul.meScoresWrapper{width:100%;height:auto;margin:0;padding:0;display:inline-block;list-style:none;}
li.meScoresHolder{width:856px;height:auto;margin:0;padding:25px 44px;border:none;border-bottom:1px dashed rgba(190,190,190,1);}li.meScoresHolder:last-child{border-bottom:none;}

.meScoresBox{position:relative;width:100%;height:auto;margin:0 0 18px 0;padding:0;display:table;}
/*M.E. Score Title*/
.meScoreTitle{width:auto;height:auto;margin:0;margin-right:20px;padding:0;display:inline-block;vertical-align:middle;}.meScoreTitle h3{margin:0;padding:0;font-size:15px;font-weight:bold;text-transform:capitalize;text-align:left;color:#000000;}
/*M.E. Display Status*/
.meScoreDispStat{width:auto;height:auto;margin:0;padding:0;display:inline-block;vertical-align:middle;position:relative;}.meScoreDispStat input[type=checkbox]{width:20px;height:20p;margin:0;margin-right:5px;padding:0;display:inline-block;vertical-align:middle;}.meScoreDispStat span{width:auto;height:auto;margin:0;padding:0;display:inline-block;font-size:15px;font-weight:normal;font-style:italic;text-align:left;color:#999999;vertical-align:middle;}
/*M.E. Description*/
.meScoreTexts{width:auto;height:auto;margin:15px 0 30px 0;padding:0;display:block;}.meScoreTexts p{margin:0;padding:0;font-size:12px;font-weight:normal;line-height:1.2em;text-align:left;color:#7f7e7e;}
/*M.E. Score Rates*/
.meScoreRates{position:absolute;width:auto;height:auto;margin:0;margin-top:10px;padding:0;display:inline-block;float:right;top:0;right:0;}.meScoreRates p{margin:0;padding:0;font-size:12px;font-weight:bold;line-height:1.2em;text-align:right;color:#16a1ce;}
/*Specialties*/
.specTxts{width:100%;height:auto;margin:0;padding:0;display:block;text-align:center;}
textarea.specTextField{background:#ffffff;width:860px;height:56px;margin:0 auto;padding:0;display:block;border:1px solid #e2e1e1;resize:none;font-size:14px;font-weight:normal;line-height:1.2em;text-align:left;color:#666666;}
.specTxts p{width:100%;height:auto;margin:0;margin-top:10px;padding:0;font-size:12px;font-weight:normal;line-height:1.2em;text-align:right;color:#7f7e7e;}

/*Meeting Challenges Experienced*/
ul.mceCheckLists{width:100%;height:auto;margin:0;padding:0;list-style:none;-moz-column-count:2;-moz-column-gap:80px;-webkit-column-count:2;-webkit-column-gap:80px;column-count:2;column-gap:80px;}
li.mceCheckCol{width:auto;height:auto;margin:0 0 10px 0;padding:0;display:table;}
li.mceCheckCol span.mceCheckCont{width:32px;height:32px;margin:0 10px 0 0;padding:0;display:inline-block;vertical-align:middle;position:relative;}
li.mceCheckCol span.mceCheckCont input[type=checkbox]{width:32px;height:32px;margin:0;padding:0;}
li.mceCheckCol span.mceCheckText{width:auto;height:auto;margin:auto;padding:0;display:inline-block;vertical-align:middle;font-size:12px;font-weight:normal;line-height:1.2em;text-align:left;color:#666666;}

/*Venues Contracted*/
.venuesAddButton{width:100%;height:auto;margin:0 0 15px 0;padding:0;text-align:center;}
a.btn-addVenuesContracted{background:rgba(39,159,209,1);width:865px;height:40px;margin:0 auto;padding:2px 0;display:block;font-size:22px;font-weight:bold;line-height:1.9em;text-align:center;color:#ffffff;transition-duration:0.45s;-ewbkit-transition-duration:0.45s;}
a.btn-addVenuesContracted span{background:rgba(103,188,222,1);width:auto;height:auto;margin:0 10px 0 0;padding:3px 9px;;border-radius:10em;-webkit-border-radius:10em;-moz-border-radius:10em;-ms-border-radius:10em;-o-border-radius:10em;text-align:center;transition-duration:0.45s;-webkit-transition-duration:0.45s;}
a.btn-addVenuesContracted:hover, a.btn-addVenuesContracted:focus{background:rgba(103,188,222,1);cursor:pointer;}
a.btn-addVenuesContracted:hover>span, a.btn-addVenuesContracted:focus>span{background:rgba(39,159,209,0.8)}

.venueNewAddHolder{width:100%;height:auto;margin:0 0 12px 0;padding:0;text-align:center;}
.venueNewAddList{background:#e1e1e1;width:834px;height:auto;margin:0 auto;padding:17px;display:inline-block;border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px;}
.venueNewAddList>div{display:inline-block;vertical-align:middle;}

.vcInsertImage{background:#fcfefd;width:158px;height:90px;margin:0 14px 0 0;padding:0;overflow:hidden;border:1px dashed rgba(0,0,0,0.5);position:relative;}span.vcInsertImgDescp{position:absolute;top:3.3vh;left:0;width:100%;height:auto;margin:auto;padding:0;font-size:12px;font-weight:normal;line-height:2.2em;text-align:center;color:rgba(0,0,0,0.7);z-index:1;}.vcInsertPhoto{background:rgba(255,255,255,0.5);position:absolute;top:0;left:0;width:100%;height:100%;margin:0;padding:0;overflow:hidden;display:inline-flex;display:flex;z-index:2;}.vcInsertPhoto img{width:100%;height:auto;margin:auto;padding:0;display:inline-block;vertical-align:middle;}

.vcInsertInfos{width:auto;height:auto;margin:22px 0 0 0;padding:0;text-align:left;}
.vcInsertDescp{width:auto;height:auto;margin:0 0 10px 0;padding:0;font-size:12px;font-weight:normal;line-height:1.4em;text-align:left;color:#7f7e7e;display:block;}
.vcInsertName{width:auto;height:auto;margin:0;padding:0;display:block;}
.vcInsertName input[type=text]{background:#ffffff;width:365px;height:10px;margin:0;padding:5px 10px;display:block;border:1px solid #afafaf;font-size:12px;font-weight:normal;line-height:1.2em;text-align:left;color:#666666;}

.vcInsertButtons{width:auto;height:auto;margin:0.95em 1em 0 0;padding:0;}
a.btn-vcInstSave{width:auto;height:auto;margin:0 0 5px 0;padding:4px 8px;display:block;font-size:20px;font-weight:bold;line-height:1.4em;text-align:center;color:#3e4040;transition-duration:0.45s;-webkit-transition-duration:0.45s;}a.btn-vcInstSave:hover, a.btn-vcInstSave:focus{background:rgba(190,190,190,1);cursor:pointer;}
a.btn-vcInstCancel{width:auto;height:auto;margin:0;padding:4px 8px;display:block;font-size:15px;font-weight:normal;line-height:1.2em;text-align:center;color:#bbbbbb;transition-duration:0.45s;-webkit-transition-duration:0.45s;}a.btn-vcInstCancel:hover, a.btn-vcInstCancel:focus{background:rgba(205,205,205,1);color:#f5f5f5;cursor:pointer;}

ul.vcVenuesListing{width:100%;height:auto;margin:0;padding:0;list-style:none;text-align:center;}
li.vcVenuesRow{background:rgba(231,247,252,1);width:834px;height:auto;margin:0 0 12px 0;padding:17px;display:inline-block;border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px;}
li.vcVenuesRow>div{display:inline-block;vertical-align:middle;}

.vcVenImage{background:#fcfcfc;width:158px;height:90px;margin:0 14px 0 0;padding:0;overflow:hidden;}.vcVenPhoto{background:rgba(255,255,255,0.5);width:100%;height:100%;margin:0;padding:0;display:-webkit-inline-flex;display:flex;text-align:center;overflow:hidden;}.vcVenPhoto img{width:100%;height:auto;margin:auto;padding:0;vertical-align:middle;display:inline-block;}

.vcVenInfos{width:auto;height:auto;margin:22px 0 0 0;padding:0;text-align:left;}
.vcVenName{width:auto;height:auto;margin:0 0 10px 0;padding:0;font-size:15px;font-weight:400;line-height:1.4em;text-align:left;color:#64b2dd;display:block;}
.vcVenCountry, .vcVenCity{width:auto;height:auto;margin:0 70px 0 0;padding:0;font-size:12px;font-weight:normal;line-height:1.3em;text-align:left;color:#666666;display:inline-block;}
.vcVenCity{margin-right:auto;}

.vcVenButton{width:auto;height:auto;margin:2.3em 1em 0 0;padding:0;}
a.btn-vcVenDelete{background:transparent;width:auto;height:auto;margin:0;padding:8px 12px;border-radius:5em;-webkit-border-radius:5em;-moz-border-radius:5em;-ms-border-radius:5em;-o-border-radius:5em;font-size:14px;font-weight:bold;line-height:normal;text-align:center;color:rgba(39,159,209,1);transition-duration:0.45s;-webkit-transition-duration:0.45s;}
a.btn-vcVenDelete:hover, a.btn-vcVenDelete:focus{background:rgba(39,159,209,1);color:rgba(231,247,252,0.75);cursor:pointer;}

/*====================CheckBox Stlye====================*/
/*Small Display Checkbox*/
input[type=checkbox].defCheckboxSm{position:relative;width:20px;height:20px;visibility:hidden;}
label.defLabelSm{background:transparent url(../../images/personalProfile/icons/icon_checkbox_default.png) no-repeat;background-size:100% auto;background-position:0 0;position:absolute;top:0;left:0;width:20px;height:20px;margin:0;padding:0;}label.defLabelSm:hover, label.defLabelSm:focus{background-position:0 100%;opacity:0.7;filter:aplha=(opacity=70);cursor:pointer;}input[type=checkbox].defCheckboxSm:checked + label.defLabelSm{background-position:0 100%;}

/*Large Display Checkbox*/
input[type=checkbox].defCheckboxLg{position:relative;width:25px;height:25px;visibility:hidden;}
label.defLabelLg{background:transparent url(../../images/personalProfile/icons/icon_checkbox_default.png) no-repeat;background-size:100% auto;background-position:0 0;position:relative;top:0;left:0;width:25px;height:25px;margin:0 0 -8px -25px;padding:0;display:inline-block;}label.defLabelLg:hover, label.defLabelLg:focus{background-position:0 100%;opacity:0.7;filter:alpha(opacity=70);cursor:pointer;}
input[type=checkbox].defCheckboxLg:checked + label.defLabelLg{background-position:0 100%;}

/*Checkbox - Location Pin*/
input[type=checkbox].mceCheckbox{position:relative;top:0;left:0;width:32px;height:32px;visibility:hidden;}
label.mceCheckLabel{background:transparent url(../../images/personalProfile/icons/icon_checkbox_locate.png) no-repeat;background-size:100% auto;background-position:0 0;position:absolute;top:0;left:0;width:32px;height:32px;margin:0;padding:0;}label.mceCheckLabel:hover, label.mceCheckLabel:focus{background-position:0 100%;opacity:0.7;filter:alpha(opacity=70);cursor:pointer;}input[type=checkbox].mceCheckbox:checked + label.mceCheckLabel{background-position:0 100%;}


/*====================Admin Score Board Style====================*/
.pfadmScbrdWrapper{position:relative;width:100%;height:auto;margin:0;padding:0;text-align:center;}
.pfadmScbrdHolder{position:relative;width:auto;height:auto;margin:0;padding:0;text-align:left;display:inline-block;}

.pfadmScbrdBased{background:transparent url(../../images/personalProfile/img_adminscore_02.png) no-repeat;background-size:100% auto;background-position:center;position:relative;top:0;left:0;width:860px;height:20px;margin:0;padding:0;text-align:center;display:inline-block;}

.pfadmScbrdHghlghtBase{position:absolute;top:0;left:0;width:840px;height:6px;margin:7px auto auto 10px;padding:0;display:inline-block;overflow:hidden;}
.pfadmScbrdHghlghts{background:rgba(20,147,184,1) url(/App/images/personalProfile/bgs/bg_adminscore_highlight.jpg);background-size:auto;background-position:center;background-repeat:repeat-x;position:absolute;top:0;left:0;width:100%;height:6px;margin:0;padding:0;}
.pfadmScbrdHghlghts.pfadmScbrdHglgh01{left:-840px;}
.pfadmScbrdHghlghts.pfadmScbrdHglgh02{left:-630px;}
.pfadmScbrdHghlghts.pfadmScbrdHglgh03{left:-420px;}
.pfadmScbrdHghlghts.pfadmScbrdHglgh04{left:-210px;}
.pfadmScbrdHghlghts.pfadmScbrdHglgh05{left:0;}

ul.pfadmScbrdPltfrmBased{position:absolute;top:0;left:0;width:100%;height:auto;margin:0;padding:0;display:inline-block;list-style:none;}
li.pfadmScbrdPltfrmBox{position:relative;top:0;left:auto;width:auto;height:auto;margin:0 185.5px 0 0;padding:0;display:inline-block;vertical-align:middle;}li.pfadmScbrdPltfrmBox:last-child{margin-right:0;}
a.btn-pfadmScbrdPlatform{background:transparent url(../../images/personalProfile/icons/icon_adminscore_pltpoint.png) no-repeat;background-size:100% auto;background-position:0 0;width:20px;height:20px;margin:0;padding:0;display:inline-block;}a.btn-pfadmScbrdPlatform:hover, a.btn-pfadmScbrdPlatform:focus{background-position:0 50%;cursor:pointer;}
a.btn-pfadmScbrdPlatform.pfadmScbrdPltformAct{background-position:0 100%;}
.pfadmScbrdButton{background:transparent url(../../images/personalProfile/icons/icon_adminscore_btn.png) no-repeat;background-size:100% auto;background-position:0 0;position:absolute;top:0;left:0;width:20px;height:20px;margin:0;padding:0;display:inline-block;}.pfadmScbrdButton:hover, .pfadmScbrdButton:focus{background-position:0 100%;cursor:pointer;z-index:1;}
.pfadmScbrdButton.pfadmScbrdBtn01{left:0;}
.pfadmScbrdButton.pfadmScbrdBtn02{left:210px;}
.pfadmScbrdButton.pfadmScbrdBtn03{left:420px;}
.pfadmScbrdButton.pfadmScbrdBtn04{left:630px;}
.pfadmScbrdButton.pfadmScbrdBtn05{left:840px;}



/*====================================== Profile View page ======================================*/
.profVwHeader{width:100%;height:auto;margin:0 auto;padding:0;text-align:center;}.profVwHeader h1{margin:0;padding:0;font:40px/1.4em HelveticaNeue, Arial, sans-serif;font-weight:400;text-transform:uppercase;text-align:center;}.profVwHeader h1.h1White{color:rgba(255,255,255,1);}.profVwHeader h1.h1Blue{color:rgba(74,149,176,1);}

.pvSecHeader{width:100%;height:auto;margin:0 auto;padding:84px 0 34px 0;text-align:center;}.pvSecHeader h2{margin:0;padding:0;font-size:20px;font-weight:normal;line-height:1.3em;text-transform:uppercase;text-align:center;}.pvSecHeader h2.sech2Blue{color:rgba(52,127,200,1);}

.secDividerWrapper{width:100%;height:auto;margin:30px 0;padding:0;text-align:center;}.secDividerWrapper>div{height:16px;margin:0 auto;padding:0;}
.secDividerHolderSm{width:882px;}
.secDividerWrapper>div svg{width:100%;height:16px;margin:0 auto;padding:0;vertical-align:middle;overflow:hidden;}.secDividerWrapper>div svg g{width:100%;height:auto;margin:0 auto;padding:0;display:block;overflow:hidden;}

/*-------------------------------------
	ProfV - My Profile Details
-------------------------------------*/
#myProfDetails{background:rgba(255,255,255,1);width:100%;height:auto;margin:0;padding:0 0 35px 0;text-align:center;border:none;border-bottom:1px solid rgba(149,149,149,1);}

/*My Profile Details Section 01*/
.myProfDtsec01{width:100%;height:auto;margin:0;padding:0 0 180px 0;text-align:center;position:relative;}
/*My Profile - Cover Photo*/
.myProfDtCover{background:#eaeaea;width:100%;height:auto;max-height:652px;margin:0;padding:0;text-align:center;position:relative;}.myProfDtCover:before{content:'\A';display:block;margin:0;padding:0;padding-top:60%;}
.myProfDtCvImg{position:absolute;top:0;left:0;width:100%;height:100%;margin:0;padding:0;overflow:hidden;display:-webkit-box;display:flex;display:inline-flex;text-align:center;}.myProfDtCvImg img{width:100%;height:auto;margin:0;padding:0;display:-webkit-box;display:block;vertical-align:middle}

.myProfDtCvShadeTop, .myProfDtCvShadeBtm{position:absolute;width:100%;height:266px;}
.myProfDtCvShadeTop{background:transparent url(../../images/personalProfile/bgs/bg_cover_shade_top.png) no-repeat;background-size:auto;background-position:top center;background-repeat:repeat-x;top:0;left:0;opacity:0.8;filter:alpha(opacity=80);}.myProfDtCvShadeBtm{background:transparent url(../../images/personalProfile/bgs/bg_cover_shade_btm.png) no-repeat;background-size:auto;background-position:top center;background-repeat:repeat-x;bottom:0;left:0;opacity:0.8;filter:alpha(opacity=80);}
/*Profile Intro*/
.myProfIntro01Wrapper{position:absolute;bottom:0;left:0;width:100%;height:auto;margin:0 auto 0 auto;padding:0;text-align:center;display:inline-block;}
.myProfIntro01Holder{position:;width:300px;height:auto;margin:0 auto 0 auto;padding:0 0 10px 0;overflow:visible;text-align:center;white-space:nowrap;display:inline-block;}.myProfIntro01Holder>div{position:;top:0;right:auto;bottom:auto;left:auto;width:500px;height:auto;display:inline-block;vertical-align:top;text-align:center;z-index:1;}
.myProfIntroCol-left{margin:0 auto;margin-left:-165%;padding:0;float:left;}.myProfIntroCol-right{margin:0 auto;margin-right:-165%;padding:0;float:right;}
.myProfIntroCol-leftInn{float:right;}.myProfIntroCol-rightInn{float:left;}
.myProfIntroIcons{width:52px;height:auto;margin:0 auto;margin-bottom:16px;padding:0;text-align:center;}.myProfIntroIcons img{width:100%;height:auto;margin:0 auto;padding:0;vertical-align:middle;display:inline-block;}
.myProfIntroText{width:auto;max-width:300px;height:auto;margin:0 auto;padding:0;text-align:center;overflow:hidden;}.myProfIntroText p{width:auto;margin:0;padding:0;font-size:21px;font-weight:bold;line-height:1.2em;text-align:right;color:#ffffff;}.myProfIntroText p.mptLocations{text-transform:uppercase;text-align:left;}

.myProfIntro02Wrapper{position:absolute;top:100%;left:0;width:100%;height:auto;margin:0 auto 0 auto;padding:0;text-align:center;display:inline-block;}
.myProfIntro02Holder{position:;width:300px;height:auto;margin:0 auto 0 auto;padding:10px 0 0 0;overflow:visible;text-align:center;white-space:nowrap;display:inline-block;}.myProfIntro02Holder>div{top:0;right:auto;bottom:auto;left:auto;width:500px;height:auto;display:inline-block;vertical-align:top;text-align:center;z-index:1;}

.myProfIntroCol02-left{margin:0 auto;margin-left:-165%;padding:0;float:left;}
.myProfIntroCol02-leftInn{float:right;}
.myProfIntroCol02-leftInn .myProfIntroText p{font-size:20px;font-weight:normal;color:#5b5b5b;}

/*Profile Photo*/
.myProfileImgCol{position:absolute;bottom:0;left:50%;width:auto;height:auto;margin:0 auto 0 auto;padding:0;text-align:center;}
.myProfileImg{width:252px;height:252px;margin:0 0 -130px -130px;padding:0;border:4px solid #ffffff;border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;-khtml-border-radius:50%;overflow:hidden;display:inline-block;}
.myProfilePhoto{background:#eaeaea;width:252px;height:252px;margin:0;padding:0;display:-webkit-box;display:flex;display:inline-flex;text-align:center;-khtml-border-radius:50%;overflow:hidden;}
.myProfilePhoto img{width:100%;height:auto;margin:auto;padding:0;display:block;vertical-align:middle;-khtml-border-radius:50%}

.myProfileIcons{position:absolute;bottom:0;width:116px;height:116px;margin:0 0 -180px -58px;padding:0;}.myProfileIcons img{width:100%;height:auto;margin:0;padding:0;display:block;}

/*My Profile - Logo*/
.myProfLogoHolder{position:absolute;top:0;left:0;width:auto;height:auto;margin:48px 0 0 66px;padding:0;}
.myProfLogoHolder a.myProfLogo{width:auto;height:auto;margin:0;padding:4px;display:block;}a.myProfLogo img{width:auto;height:auto;margin:0;padding:0;display:inline-block;opacity:0.8;filter:alpha(opacity=80);transition-duration:0.45s;-webkit-transition-duration:0.45s;}a.myProfLogo:hover, a.myProfLogo:focus{cursor:pointer;}a.myProfLogo:hover>img, a.myProfLogo:focus>img{opacity:1;filter:alpha(opacity=100);}
/*My Profile - Shares*/
.myProfSocialHolder{position:absolute;top:0;right:0;width:auto;height:auto;margin:48px 48px 0 0;padding:2px;text-align:right;}
.myProfSocialText{width:auto;height:auto;margin:0 0 7px 0;padding:0;}.myProfSocialText p{margin:0;padding:0;font-size:12px;font-weight:normal;line-height:1.2em;text-align:right;color:#ffffff;}
ul.myProfSocialIcons{width:auto;height:auto;margin:0;padding:0;}
li.myProfSocialBtn{width:auto;height:auto;margin:0 0 0 6px;padding:0;display:inline-block;}
li.myProfSocialBtn a{background-size:auto 100%;background-repeat:no-repeat;width:38px;height:38px;margin:0;padding:0;display:block;opacity:0.8;filter:alpha(opacity=80);transition-duration:0.45s;-webkit-transition-duration:0.45s;}li.myProfSocialBtn a:hover, li.myProfSocialBtn a:focus{opacity:1;filter:alpha(opacity=100);cursor:pointer;}
li.myProfSocialBtn a.btn-myprofBtnFb{background-image:url(../../images/personalProfile/icons/icons_socialsmedia.png);background-position:0 0;}
li.myProfSocialBtn a.btn-myprofBtnTwitt{background-image:url(../../images/personalProfile/icons/icons_socialsmedia.png);background-position:50% 0;}
li.myProfSocialBtn a.btn-myprofBtnLIn{background-image:url(../../images/personalProfile/icons/icons_socialsmedia.png);background-position:100% 0;}


/*My Profile Details Section 02*/
.myProfDtsec02{position:relative;min-width:940px;width:100%;height:auto;margin:0 auto;padding:0;text-align:center;}
.myProfDtCntCol{width:auto;height:auto;margin:0 80px 0 80px;padding:0;display:inline-block;vertical-align:top;text-align:left;}
.myProfDtCntCol:last-child{margin-right:0;margin-left:0;}
/*Header*/
.myProfCntHeaders{width:auto;height:auto;margin:0;padding:0;text-align:left;}.mypfCntHdContainer{width:auto;height:auto;margin:0;padding:5px 8px;text-align:left;}.mypfCntHdContainer img, .mypfCntHdContainer h3{display:inline-block;vertical-align:middle;}
.mypfCntHdContainer img{width:40px;height:40px;margin:0 14px 0 0;padding:0;}.mypfCntHdContainer h3{margin:6px 0 0 0;padding:0;font-size:19px;font-weight:bold;line-height:1.4em;text-align:left;color:#000000;}
/*Content Copies*/
ul.myProfCntInfo{width:auto;height:auto;margin:0;padding:0 0 0 60px;text-align:left;list-style:none;}
li.mypfCntInfoCol{width:200px;height:auto;margin:0 0 12px 0;padding:0 20px 0 0;display:inline-block;float:left;vertical-align:top;}
li.mypfCntInfoCol:nth-child(2n+1){clear:left;margin-left:0;}li.mypfCntInfoCol:nth-child(2n+1):after{content:'\A';clear:both;display:block;}
li.mypfCntInfoCol span{margin:0;padding:0;font-size:16px;font-weight:1.2em;line-height:1.2em;text-align:left;color:#666666;}


/*My Profile Details Section 03*/
.myProfDtsec03{position:relative;min-width:1000px;width:100%;height:auto;margin:0 auto;padding:0;text-align:center;}
ul.myProfDataCnt{width:auto;height:auto;margin:0;padding:0;list-style:none;text-align:center;}
li.myProfDataCol{width:auto;height:auto;margin:0 50px;padding:0;text-align:center;display:inline-block;vertical-align:middle;font-family:HelveticaNeue, Arial, sans-serif;}li.myProfDataCol{}
.mypfDataFigures{width:auto;height:auto;margin:0;margin-bottom:14px;padding:0;text-align:center;}.mypfDataFigures span{margin:0 auto;padding:0;font-size:30px;font-weight:600;line-height:1.2em;text-align:center;color:rgba(74,149,176,1);}
.mypfDataCatg{width:auto;height:auto;margin:0;padding:0;text-align:center;}.mypfDataCatg span{margin:0 auto;padding:0;font-size:30px;font-weight:600;line-height:1.2em;text-align:center;color:rgba(74,149,176,1);}


/*-------------------------------------
	ProfV - My Gallery
-------------------------------------*/
#myGallery{background:rgba(204,204,204,1);min-width:1000px;width:100%;height:auto;margin:0 auto;padding:88px 0 138px 0;text-align:center;}

.mygallSubhead{width:100%;height:auto;margin:0;padding:0;text-align:center;}.mygallSubhead h3{margin:0;padding:0;font:22px/1.2em HelveticaNeue, Arial, sans-serif;font-weight:500;text-align:center;color:#666666;}

.mygallImgWrapper{min-width:1010px;width:100%;height:auto;margin:0 auto;padding:5px 0 0 0;display:inline-block;text-align:center;position:relative;}
.mygallImgHolder{width:auto;max-width:1010px;height:auto;margin:0 auto;padding:0;display:inline-block;text-align:center;}.mygallImgHolder>div{display:-webkit-box;display:inline-flex;display:flex;text-align:center;margin:5px;padding:0;float:left;vertical-align:top;}.mygallImgHolder>div:after{content:'\A';clear:both;display:inline-grid;}.mygallImgHolder>div>img{width:100%;height:auto;margin:auto;padding:0;vertical-align:middle;display:inline-block;}

.mygallImgColLg{width:664px;height:474px;}
.mygallImgColSm{width:322px;height:232px;}

.mygallButton{background:rgba(204,204,204,1);position:absolute;top:100%;left:0;bottom:0;width:100%;height:auto;margin:0 auto;padding:0;}
.mygallButton a.btn-gallMorePhotos{width:100%;height:auto;margin:0;padding:10px 0;display:inline-block;transition-duration:0.45s;-webkit-transition-duration:0.45s;}
.mygallButton a.btn-gallMorePhotos span{background:transparent url(../../images/personalProfile/icons/icon_btm_arrow_down.png) no-repeat;background-size:auto auto;background-position:10px -36px;width:auto;margin:0 auto;padding:8px 14px 8px 58px;display:inline-block;font:26px/1.2em HelveticaNeue, Arial, sans-serif;font-weight:500;text-align:center;color:rgba(74,149,176,1);transition-duration:0.45s;-webkit-transition-duration:0.45s;}
.mygallButton a.btn-gallMorePhotos:hover, .mygallButton a.btn-gallMorePhotos:focus{background-color:rgba(196,196,196,1);cursor:pointer;}.mygallButton a.btn-gallMorePhotos:hover>span, .mygallButton a.btn-gallMorePhotos:focus>span{background-position:10px 4px;}


/*-------------------------------------
	ProfV - Travel History
-------------------------------------*/
#travelHistory{background:rgba(50,102,152,1) url(../../images/personalProfile/bgs/bg_trav_history.png) no-repeat;background-size:100% 100%;background-position:right bottom;width:100%;height:auto;margin:0 auto;padding:97px 0 0 0;text-align:center;}

.prvthMapWrapper{background:#eaeaea;min-width:1000px;width:100%;height:auto;max-height:694px;margin:0;padding:0;overflow:hidden;position:relative;}.prvthMapWrapper:before{content:'\A';display:block;margin:0;padding:0;padding-top:50%;}
.prvthMap{width:100%;height:100%;margin:0;padding:0;display:inline-block;position:absolute;top:0;left:0;overflow:hidden;}.prvthMap iframe{width:100%;height:100%;margin:0;padding:0;display:inline-block;}

.trvhstCntsec01{background:rgba(50,102,152,0);width:100%;height:auto;margin:0;margin-top:30px;padding:0;text-align:center;}
ul.trvhstListWrapper{width:auto;height:auto;margin:0 auto;padding:0;list-style:none;text-align:center;display:inline-block;}
li.trvhstListRow{width:auto;height:auto;margin:0 0 20px 0;padding:0;display:block;text-align:center;}
dl.trvhstListCont{width:auto;height:auto;margin:0;padding:0;display:block;text-align:center;}
dt.trvhstListCol{width:auto;height:auto;margin:0;padding:0;display:block;text-align:center;}
div.trvhstCntContainer{display:inline-block;vertical-align:middle;width:226px;height:27px;margin:0 22px 0 0;padding:10px 0;border:1px solid rgba(255,255,255,0.42);transition-duration:0.3s;-webkit-transition-duration:0.3s;}div.trvhstCntContainer:last-child{margin-right:0;}
div.trvhstCntContainer.trhvstActiveCountry{background-color:rgba(157,207,216,1);}
div.trvhstCntContainer:hover, div.trvhstCntContainer:focus{border-color:rgba(255,255,255,1);cursor:pointer;}

.trvhstContCountry{width:auto;height:auto;margin:0;margin-left:20px;padding:0;float:left;font-size:20px;font-weight:normal;line-height:1.4em;text-align:left;color:#ffffff;}
.trvhstContFigure{width:auto;height:auto;margin:0;margin-right:20px;padding:0;float:right;font-size:20px;font-weight:normal;line-height:1.4em;text-align:right;color:#8acafb;}
div.trvhstCntContainer.trhvstActiveCountry .trvhstContCountry{color:rgba(83,167,185,1);}div.trvhstCntContainer.trhvstActiveCountry .trvhstContFigure{color:rgba(59,131,147,1);}


div.trvhstListCtsWrapper{position:relative;width:100%;height:auto;margin:0;padding:0;padding-top:18px;}
.trvhstListCtsHolder{background:rgba(157,207,216,0.61) url(../../images/personalProfile/bgs/bg_trvhst_cities.png) no-repeat;background-size:100% 100%;background-position:bottom right;position:relative;width:100%;max-width:994px;height:auto;margin:0;padding:0;text-align:center;display:inline-block;}
ul.trvhstListCtsContainer{width:auto;height:auto;margin:0 auto;padding:18px 20px 2px 20px;list-style:none;text-align:center;display:inline-block;}
div.trvhstListCtsArrow{background:url(../../images/personalProfile/bgs/bg_trvhst_citarrow.png) no-repeat;background-size:auto 14px;background-position:bottom center;position:absolute;bottom:100%;width:228px;height:14px;margin:auto;padding:0;}.thLstCtsArw01{left:0;}.thLstCtsArw02{left:254px;}.thLstCtsArw03{right:254px;}.thLstCtsArw04{right:0;}
li.trvhstListCtsCol{width:auto;height:auto;margin:0 auto 16px auto;padding:0;padding-right:20px;display:inline-block;text-align:left;float:left;vertical-align:middle;}li.trvhstListCtsCol:last-child{margin-right:0;}li.trvhstListCtsCol:nth-child(4n+1){clear:left;margin-left:0;}li.trvhstListCtsCol:nth-child(4n+1):after{content:'\A';clear:both;display:block;}
li.trvhstListCtsCol p{width:200px;margin:0;padding:0;font-size:15px;font-weight:normal;line-height:1.2em;text-align:center;color:rgba(31,70,81,1);}li.trvhstListCtsCol p span{font-weight:bold;}

.trvhstButtons{position:relative;width:100%;height:auto;margin:0;padding:0;text-align:center;}
a.btn-travelMoreHistory{width:100%;height:auto;margin:0;padding:10px 0;text-align:center;display:block;transition-duration:0.45s;-webkit-transition-duration:0.45s;}
a.btn-travelMoreHistory span{background:transparent url(../../images/personalProfile/icons/icon_btm_arrowdown_white.png) no-repeat;background-size:40px auto;background-position:8px -44px;width:auto;height:auto;margin:0 auto;padding:0 8px 0 62px;text-align:center;display:inline-block;font:26px/1.2em HelveticaNeue, Arial, sans-serif;font-weight:500;color:rgba(255,255,255,1);transition-duration:0.45s;-webkit-transition-duration:0.45s;}
a.btn-travelMoreHistory:hover, a.btn-travelMoreHistory:focus{background:rgba(50,102,152,0.3);cursor:pointer;}
a.btn-travelMoreHistory:hover>span, a.btn-travelMoreHistory:focus>span{background-position:8px -4px;}


/*-------------------------------------
	ProfV - Meeting Experiences
-------------------------------------*/
#mtgExpWrapper{background:rgba(255,255,255,1);width:100%;height:auto;margin:0;padding:110px 0 88px 0;text-align:center;border:none;border-bottom:1px solid rgba(149,149,149,1);}

/*Meeting Experiences - Section 01*/
.viewRatingSection{width:100%;height:auto;margin:0 auto;padding:0;text-align:center;}

.vratingIconHolder{width:auto;height:auto;margin:0 auto;padding:4px 0;text-align:center;display:block;}
.vratingIconHolder>div{margin-right:1px;vertical-align:top;display:inline-block;}
.vratingImgCols{width:195px;height:auto;margin:0;padding:0;text-align:center;}.vratingImgCols img{width:46px;height:auto;margin:2px auto 2px auto;padding:0;display:block;}.vratingImgCols span{width:auto;height:auto;margin:0;padding:4px 8px;display:block;font-size:12px;font-weight:normal;line-height:1.2em;text-align:center;color:#666666;}

.vratingWrapper{width:100%;height:auto;margin:0;padding:0;text-align:center;}
ul.vratingHolder{width:auto;height:auto;margin:0 auto;padding:0;text-align:center;display:inline-block;}
li.vratingLines{width:auto;height:auto;margin:0 0 0 auto;padding:0;text-align:right;display:block;}
li.vratingLines>div{height:50px;border:none;border-right:1px dashed rgba(199,200,201,1);display:inline-block;vertical-align:bottom;}
li.vratingContainer{width:auto;height:auto;margin:0 auto;padding:0;text-align:right;display:block;}
li.vratingContainer>div{display:inline-block;vertical-align:middle;}
div.vratingColTexts{width:270px;margin:0;padding:0;padding-right:16px;}div.vratingColTexts p{font-size:16px;font-weight:normal;line-height:1.2em;text-transform:uppercase;text-transform:uppercase;text-align:right;color:#666666;}div.vratingColTexts p span{margin:0;padding:0;display:block;font-size:12px;font-style:italic;text-transform:none;color:#858484;}
div.vratingColSub{width:195px;margin:0;padding:0;}
.vratingScaleHolder{width:800px;height:auto;margin:0 0 0 1px;padding:0;text-align:center;}
.vratingScaleFrame{background:rgba(244,244,244,1) url(../../images/personalProfile/bgs/bg_rating_scale.jpg);background-size:auto 100%;background-position:center;background-repeat:repeat-x;position:relative;width:796px;height:22px;margin:0 auto;padding:0;border:2px solid #ffffff;border-radius:4em;-webkit-border-radius:4em;-moz-border-radius:4em;-ms-border-radius:4em;-o-border-radius:4em;display:block;overflow:hidden;}
.vratingBarBlue{background:rgba(0,146,184,1) url(../../images/personalProfile/bgs/bg_rating_bar.jpg);background-size:auto 100%;background-position:center;background-repeat:repeat-x;width:100%;height:22px;margin:0 auto;padding:0;border-radius:4em;}
.vratingBarBlue.vratingRates01{position:absolute;top:0;left:-75%;}.vratingBarBlue.vratingRates02{position:absolute;top:0;left:-50%;}.vratingBarBlue.vratingRates03{position:absolute;top:0;left:-25%;}.vratingBarBlue.vratingRates04{position:absolute;top:0;left:0%;}
p.vratingScaleInfos{width:auto;height:auto;margin:0;padding:0;padding-left:4px;font-size:16px;font-weight:normal;line-height:1.2em;text-align:left;color:rgba(0,157,201,1);}

/*Meeting Experiences - Section 02*/
.mtgExpsec02{width:100%;max-width:1050px;height:auto;margin:0 auto;padding:0;text-align:center;}

ul.mtchInfoWrapper{width:auto;height:auto;margin:0 auto;margin-top:26px;padding:0;list-style:none;text-align:center;display:inline-block;}
li.mtchInfoHolder{width:auto;height:auto;margin:0 52px 48px 52px;padding:0;display:inline-block;vertical-align:top;float:left;text-align:center;}li.mtchInfoHolder:nth-child(4n+1){clear:left;margin-left:0;}li.mtchInfoHolder:nth-child(4n+1):after{content:'\A';clear:left;clear:both;display:block;}li.mtchInfoHolder:nth-last-child(4n+1){margin-right:0;}

.mtchInfoImg{width:134px;height:auto;margin:0 auto;margin-bottom:14px;padding:0;}.mtchInfoImg img{width:100%;height:auto;margin:0;padding:0;display:inline-block;}
.mtchInfoTexts{width:100%;max-width:170px;height:auto;margin:0 auto;padding:0;text-align:center;}.mtchInfoTexts p{margin:0;padding:0;font-size:14px;font-weight:normal;line-height:1.2em;text-align:center;color:rgba(102,102,102,1);display:inline-block;}


/*-------------------------------------
	ProfV - Booking & Conrtacting Experience
-------------------------------------*/
#bkCntrExpWrapper{background:rgba(255,255,255,1);width:100%;height:auto;margin:0;padding:110px 0 88px 0;text-align:center;}

.bksec02{width:100%;max-width:1050px;height:auto;margin:0 auto;padding:0;}

.vnCntrWrapper{width:100%;height:auto;margin:0;padding:0;display:inline-block;text-align:center;}
.vnCntrHolder{width:1040px;height:230px;margin:0 auto;padding:0;overflow:hidden;background:#f4f4f4;position:relative;}
ul.vnCntrContainer{width:auto;height:auto;margin:auto;padding:5px 0;display:-webkit-box;display:inline-flex;display:flex;list-style:none;vertical-align:middle;}
li.vnCntrCol{background:rgba(255,255,255,1);width:184px;height:180px;margin:0 10px;padding:20px 8px;display:table;vertical-align:middle;border:1px solid rgba(184,184,184,1);border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;-ms-border-radius:10px;-o-border-radius:10px;}
/*Images*/
.vnCntrVnImg{;width:184px;height:90px;margin:0;margin-bottom:20px;padding:0;padding-bottom:25px;border:none;border-bottom:1px solid rgba(204,204,204,1);overflow:hidden;}.nvCntrVnPhoto{background:rgba(252,252,252,1);width:100%;height:100%;margin:0;padding:0;display:-webkit-box;display:inline-flex;display:flex;text-align:center;overflow:hidden;}.nvCntrVnPhoto img{width:100%;height:auto;margin:auto;padding:0;display:table;vertical-align:middle;}
/*Infos*/
.vnCntrVnInfo{width:100%;height:auto;margin:0;padding:0;display:inline-block;text-align:center;}
.vnCntrVnInName{width:100%;height:auto;margin:0 auto 9px auto;padding:0;display:block;text-align:center;}.vnCntrVnInName h4{margin:0;padding:0;font-size:12.4px;font-weight:bold;line-height:1.2em;text-align:center;color:#3db6e5;}
.vnCntrVnInPlc{width:100%;height:auto;margin:0 auto;padding:0;display:block;text-align:center;}.vnCntrVnInPlc p{margin:0;padding:0;font-size:11px;font-weight:normal;line-height:1.2em;color:#818181;display:inline-block;}.vnCntrVnInPlc p:first-child{text-align:left;}.vnCntrVnInPlc p:last-child{text-align:right;}
/*Button Navigate*/
.vnCntrBtnLeft, .vnCntrBtnRight{width:auto;height:100%;display:block;position:absolute;top:0;margin:0;padding:0;}
.vnCntrBtnLeft{left:0;}.vnCntrBtnRight{right:0;}
.vnCntrBtnLeft a, .vnCntrBtnRight a{background:rgba(255,255,255,1);width:auto;height:150px;margin:0;padding:40px 15px;display:block;font-size:25px;font-weight:bolder;line-height:6.4em;color:rgba(0,0,0,0.5);opacity:0;filter:alpha(opacity=0);transition-duration:0.6s;-webkit-transition-duration:0.6s;}.vnCntrBtnLeft a:hover, .vnCntrBtnRight a:hover, .vnCntrBtnLeft a:focus, .vnCntrBtnRight a:focus{opacity:1;filter:alpha)opacity=100);cursor:pointer;}