﻿@{
    Layout = null;
    IMeet.IBT.Services.SupplierService supplyService = new IMeet.IBT.Services.SupplierService();
    int countryId = 0;
    string ImgSrc = "";
    string showImg = "";
    if (Request.QueryString["countryId"].ToString() != "")
    {
        countryId = Convert.ToInt32(Request.QueryString["countryId"].ToString());
        ViewBag.Score = supplyService.GetCountryInfo(countryId).Sort;
        ViewBag.ImgSrc = supplyService.GetCountryInfo(countryId).FlagSrc;
        ImgSrc = ViewBag.ImgSrc;
        showImg = ImgSrc == "" ? "/App/images/photos/img_W110.gif" : ImgSrc;
    }
}
<link href="/App/js/uploadify/uploadify.css" rel="stylesheet" />
<script src="/App/js/uploadify/jquery.uploadify.js"></script>
<script type="text/javascript">
    function Save() {
        if ($("#CountryName").val() == "" || $("#score").val() == "") {
            Boxy.alert("Incomplete information！", null, { title: "Save Country" });
            $(".boxyInner").addClass("popup"); 
        }
        else {
            CountryManage.save($("#countryId").val());
        }
    }
</script>

<input id="UserId" name="UserId" type="hidden" value="@User.Identity.Name" />
<input id="imgSave" name="imgSave" type="hidden" value="@ImgSrc"/>
<input id="countryId" name="countryId" type="hidden" value="@countryId"/>
<div id="NewCountry">
<div class="w450 popupMain boxyContent">
            <div class="postBox grayBox">
                 <form name="Countryform" id="Countryform">
				<ul class="form">
                   <li class="formLi">
                        <label class="title alignM"> Country Name</label>: <span class="rightCol alignM" style="z-index: 0;">
                        	<input type="text" value="" id="CountryName" class="inputBg" />
                        </span>
                    </li>
                   <li class="formLi">
                        <label class="title alignM"> Score	</label>: 
                        <span class="rightCol alignM" style="z-index: 0;"><input type="text" value="@ViewBag.Score" id="score"  class="inputBg" /></span>
                    </li>
                    <li class="formLi lastForm">
                        <label class="title alignT">Flag</label>: 
                        <span class="rightCol alignT" style="z-index: 0;">
                             <input type="file" id="upload" name="upload" style="display:none;" />
                            @*  <div class="uploadBg"> <input type="image" id="uploadImage" name="uploadImage"  style=" background:url(/App/images/button/btn_choose_file.gif) left top no-repeat; height:32px; width:279px; " /></div><br />*@
                        <div class="uploadBg2"><div id="uploadFlag" onclick="document.getElementById('upload').click();" style=" background:url(/App/images/button/btn_choose_file.gif) left top no-repeat; height:32px; width:279px; "></div>
                        </div>	<a href="javascript:$('#uploadFlag').uploadify('upload','*')" ><img src="/App/images/button/btn_upload.gif" alt="UPLOAD"/></a><span class="tip">(dimension: 468px by 60px, file format : *.jpg, *.gif)</span> 
                           <span class="imgBg2 mTB15">
                           	<img id="imgPreview" width="50" height="50" alt="Image name" src="@showImg">
                            <span class="uploadTip">Please press the "UPLOAD" button in order to preview the images that you choose.</span>
                           </span>
                        </span>
                    </li>
                    <li>
                        <div class="btn">
                            <a href="javascript:void(0);" onclick="Save();" class="btnBlueH45 mR5"><span class="bg">Save</span></a>@*Boxy.get(this).hideAndUnload();*@
                        </div>
                    </li>
            </ul>
                 </form>
			</div>
       </div></div>
