﻿@{
    Layout = null;
    IMeet.IBT.Services.WidgetService widgetService = new IMeet.IBT.Services.WidgetService();
    int dWeekId = 0;
    int ObjId = 0;
    string Desc = "";
    string showImg = "/App/images/photos/img_W110.jpg";
    if (Request.QueryString["dWeekId"].ToString() != "")
    {
        dWeekId = Convert.ToInt32(Request.QueryString["dWeekId"].ToString());
        ObjId = widgetService.GetWidgetDWeekInfo(dWeekId).ObjId;
        int userId = widgetService.GetWidgetDWeekInfo(dWeekId).UserId;
        ViewBag.Desc = widgetService.GetWidgetDWeekInfo(dWeekId).Desp;
        ViewBag.ImgSrc = widgetService.GetWidgetDWeekInfo(dWeekId).ImgSrc;
        Desc = ViewBag.Desc == "" ? "" : ViewBag.Desc;
        showImg = (string)ViewBag.ImgSrc;
        showImg = System.IO.File.Exists(Server.MapPath(showImg)) ? showImg : "/App/images/photos/img_W110.jpg";
        ViewBag.Sort = widgetService.GetWidgetDWeekInfo(dWeekId).Sort;
    }
}
<link href="/App/js/uploadify/uploadify.css" rel="stylesheet" />
<script src="/App/js/uploadify/jquery.uploadify.min.js"></script>
<script src="/App/js/jSupplier.js"></script>

<script type="text/javascript">
    function Save() {
        if ($("#SupplierName").val() == "" || $("#Desp").val() == "") {
            Boxy.alert("Please ensure all mandatory fields are entered!", null, { title: "Save Destination" });
            //$(".boxyInner").addClass("popup");
        }
        else {
            var str = $("#SupplierName").val();
            var str2 = str.split("(")[1].split(")")[0].split("-")[0];
            $("#ObjId").attr("value", str2);
            AddNewDestination.save($("#dWeekId").val());
        }
    }
</script>

<div id="AddNewDestination">
    <div class="W624 popupMain">
        <div class="postBox grayBox">
            <form name="addNewDesform">
                <ul class="form">
                    <li class="formLi">
                        <label class="title">Name</label>:  
                       <span class="rightCol">
                           <input type="text" id="SupplierName" name="SupplierName" style="width: 300px;" disabled="disabled" />
                       </span>
                        @*<span class="rightCol">i-Meet Global</span>*@
                    </li>
                    <li class="formLi">
                        <label class="title">*Description	</label>
                        : 
                        <span class="rightCol">
                            <textarea id="Desp" name="Desp">@Desc</textarea>
                            <span class="C31AEE3 italic">This information is required.</span>
                        </span>
                    </li>

                    <li class="titleBar">UPLOAD IMAGE
                    </li>
                    <li class="formLi lastForm">
                        <label class="title">Images</label>: 
                        <span class="rightCol">
                            <input type="file" id="upload" name="upload" style="display: none;" />
                            <div class="uploadBg">
                                <input type="image" id="uploadImage" name="uploadImage" onclick="document.getElementById('upload').click();" src="/App/images/button/file.gif" /></div>
                            <br />
                            <span class="C31AEE3 italic">Please upload 430 * 282 pixels</span>
                            @*<div class="uploadBg"><div style=" background:url(images/button/file.gif) left top no-repeat; height:32px; width:279px;"></div></div>*@
                            <span class="imgBg">
                                <img src="@showImg" alt="Image name" id="imgPreview" />
                            </span>
                            <input id="UserId" name="UserId" type="hidden" value="@User.Identity.Name" />
                            <input id="ObjId" name="ObjId" type="hidden" value="@ObjId"/>
                            <input id="ObjType" name="ObjType" type="hidden" value=""/>
                            <input id="hidSort" name="hidSort" type="hidden"  value="@ViewBag.Sort"/>
                            <input id="imgSave" name="imgSave" type="hidden" value="@ViewBag.ImgSrc"/>
                            <input id="dWeekId" name="dWeekId" type="hidden" value="@Request.QueryString["dWeekId"].ToString()"/>
                        </span>
                    </li>
                    <li>
                        <div class="btn">
                            <a class="btnBlueH45 mR5" href="javascript:void(0);" onclick="Save();"><span class="bg">Submit</span></a>
                            <a class="btnBlueH45 close"><span class="bg">Cancel</span></a>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>



