﻿@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<link href="/App/css/style.css" rel="stylesheet" />
<link href="/App/js/boxy/boxy.css" rel="stylesheet" />
<link href="/App/js/bvalidator/adminstyle.css" rel="stylesheet" />
<script type="text/javascript" src="/App/js/jquery-1.7.1.min.js"></script>
<script src="/App/js/boxy/jquery.boxy.js"></script>
<script src="/App/js/ibtAdmin.js"></script>
<script src="/App/js/effect.js"></script>
<script type="text/javascript" src="/App/js/bvalidator/jquery.bvalidator.js"></script>
<script type="text/javascript">
    $(document).ready(function ()
    {
        $('#admin_login').bValidator();
        inputText();
    });
    function check() {
        var str = document.getElementById("txt_username").value;
        if (str.indexOf("@Html.Raw("@")") > -1) {
            if (checkemail(str) == false) {
                Boxy.alert("Your email format there is any error, please correct input!", null, { title: "Admin Login" });
                $(".boxyInner").addClass("popup");
                //$("#tipMsg").html("Your email format there is any error, please correct input!");
                document.getElementById("txt_username").focus();
                return false;
            }
            else {
                ibtAdmin.login();
                return true;
            }
        }
        else {
            ibtAdmin.login();
            return true;
        }
    }
    function checkemail(temail) {
        var pattern = /^([a-zA-Z\d_\.\-\+%])+\@@(([a-zA-Z\d\-])+\.)+([a-zA-Z\d]{2,4})+$/;
        if (pattern.test(temail)) {
            return true;
        }
        else {
            return false;
        }
    }
    function sub(e) {
        var e = e || window.event;
        var keyCode = e.keyCode || e.which;
        var oTarget = e.srcElement || e.target;
        if (keyCode == 13) {
            check();
        }
    }
</script>
<div class="wrapper loginBox grayF3Bg" id="admin_login">
    <div class="header">
        <div class="fixbox">
            <a href="MemberManage" class="logo">i 've Been There!</a>
        </div>
    </div>
    <div class="content">
        <h1>Welcome to I've Been There Admin page</h1>
        <div class="mainBox">
            <form class="login" id="adminForm">
                <div class="row">
                    <label>E-mail :</label>
                    <input type="text" value="E-mail" class="inputBg" id="txt_username" name="txt_username" data-bvalidator="required,rangelength[4:150]" />
                </div>
                <div class="row">
                    <label>Password :</label>
                    <span class="relative inlineBox">
                        <input type="password" value="" onkeydown="sub(event);" class="inputBg inputPassword" id="txt_password" name="txt_password" data-bvalidator="required,rangelength[4:12]" />
                        <label class="value" for="password">Password</label>
                    </span>
                </div>
                <div class="row">
                    <a href="javascript:void(0);" onclick="check();" class="btnBlueH45 mR20"><span class="bg">Login NOw</span></a>
                    <a href="AdminLoginForgot" class="italic underline">Forgot Password</a>
                    <input type="hidden" id="createPersistentCookie" name="createPersistentCookie" value="false" />
                </div>
            </form>
        </div>
    </div>
    <div class="footer">
        <span class="right">
            <a href="#">
                <img src="/App/images/logo/imeet.jpg" alt="I-Meet"></a>
        </span>
        2010-2012 i-Meet All rights reserved.
    </div>
</div>
