﻿@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<link href="/App/css/style.css" rel="stylesheet" />
<div class="wrapper loginBox grayF3Bg">
        <div class="header">
                    <div class="fixbox">
                             <a href="MemberManage" class="logo">i 've Been There!</a>
                    </div>
                </div>
         <div class="content">
                <div class="correctBox">
                    We've sent information about resetting your password to your recovery email address.
              </div>
              <div class="mainBox mL10">
              		<p class="mL20 mB20">Check the message sent to you at eddyok9@gmail.com to find out what to do next. </p>
                    <a href="MemberManage" class="btnBlueH45 mL20"><span class="bg">Finish</span></a>
              </div>         
         </div>
         <div class="footer">
            <span class="right">
                <a href="#"><img src="/App/images/logo/imeet.jpg" alt="I-Meet"></a>
            </span>
               2010-2012 i-Meet All rights reserved.
            </div>
</div>
