﻿@{
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}
<script></script>
<!-- adminContainer -->
<div id="adminContainer">
    <div id="adminHeader" class="left">
        <div class="createnewBtn"><a href="/admin/home/badgespecial" class="btnCreateNew">CREATE NEW</a></div>
    </div>

    <div id="adminContent" class="left">
        <div class="adnCntTitle left">
            <div class="adnCntNumb left"></div>
            <div class="adnCntName left">
                <p>Name</p>
            </div>
            <div class="adnCntPoints left">
                <p>Bonus Points</p>
            </div>
            <div class="adnCntStartDate left">
                <p class="left">Start Date</p>
                <span class="adminArrowBtnContainer left"><a class="adminArrowBtnBlack left" href="javascript:void(0);" onclick="jBadgeSpecials.orderbyPage('StartDate');"></a></span>
            </div>
            <div class="adnCntEndDate left">
                <p class="left">End Date</p>
                <span class="adminArrowBtnContainer left"><a class="adminArrowBtnBlack left" href="javascript:void(0);" onclick="jBadgeSpecials.orderbyPage('EndDate');"></a></span>
            </div>
            <div class="adnCntType left">
                <p>Type</p>
            </div>
            <div class="adnCntVisible left">
                <p class="left">Visiblity</p>
                <span class="adminArrowBtnContainer left"><a class="adminArrowBtnBlack left" href="javascript:void(0);" onclick="jBadgeSpecials.orderbyPage('Visible');"></a></span>
            </div>
            <div class="adnCntActions left">
                <p>Actions</p>
            </div>
        </div>

        <!-- badge list -->
    </div>
</div>
@section PageFoot{
    <script src="/App/js/jBadgeSpecials.js"></script>
    <script type="text/javascript">
        $(function () {
            jBadgeSpecials.list();
            jBadgeSpecials.init();
        });
    </script>
}