﻿@{
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}
<input id="hidOrderTypeName" name="hidOrderTypeName" type="hidden" />
<input id="hidOrderValue" name="hidOrderValue" type="hidden" />
<input id="hidSupplierNameSort" name="hidSupplierNameSort" type="hidden" value="Desc" />
<input id="hidScoreSort" name="hidScoreSort" type="hidden" value="Desc" />
<input id="hidSupplierId" name="hidSupplierId" type="hidden" value="" />
<div class="fixbox mT20 mB15">
    <div class=""><a href="/admin/home/EditSupplierManage"  class="btnBlueH45"><span class="bg">+ NEW SUPPLIER</span></a></div>
</div>
<div class="fixbox mT20">
    <span class="smallSearch right mR20">
        <input type="text" value="" id="SearchKeyword">
        @* <span class="select" style="z-index: 0;">
                                <span class="arrow">Filter by Name</span>
                                <div style="display: none; width: 112px;" class="list">
                                    <ul>
                                        <li class="">Filter by Name</li>
                                        <li>Filter by Name</li>
                                        <li>Filter by Name</li>
                                        <li class="last">Filter by Name</li>
                                    </ul>
                                </div>
                                 
                            </span>*@
        <a href="javascript:void(0);" onclick="supplyManager.goTab();" class="searchBtn"><span class="imgMiddle inlineBox alignM"></span>
            <img src="/App/images/icon/search.gif" alt="Search"></a>
        @* <span class="resultsText"><a href="#">There are <span id="count" >0</span> search results</a></span>*@
    </span>
</div>
<div class="table table02 mT20">
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <thead>
            <tr>
                <th width="3%">&nbsp;</th>
                <th width="28%"><a href="javascript:void(0);" onclick="TitleSort();">Name</a></th>
                <th width="10%">Country</th>
                <th width="10%">City</th>
                <th width="6%">Area</th>
                <th width="15%">Date of update</th>
                <th width="15%">Type</th>
                <th width="15%"><a href="javascript:void(0);" onclick="NumSort();">Search Score</a></th>
                <th width="10%">&nbsp;</th>
            </tr>
        </thead>
        <tbody id="tabSupply"></tbody>
        @*<tr>
                    	<th width="3%">&nbsp;</th>
                        <th width="28%"><a href="javascript:void(0);" onclick="TitleSort();">Name</a></th>
                        <th  width="15%">Status</th>
                        <th  width="10%">Country</th>
                        <th  width="13%">City</th>
                        <th  width="9%">Area</th>
                        <th  width="11%">Date of update</th>
                        <th  width="7%">Type</th>
                        <th  width="10%">Associated media</th>
                        <th width="6%"><a href="javascript:void(0);" onclick="NumSort();">Sort</a></th>
                        <th  width="10%">&nbsp;</th>
                        <th width="10%">&nbsp;</th>
                    </tr>*@
        @*<tr>
                    	<td>1.</td>
                        <td><a href="#">Jamie Yeo</a></td>
                        <td>MemberSuggested</td>
                        <td>United States</td>
                        <td>Los Angeles</td>
                        <td>Las Vegas, NV</td>
                        <td>11/1/2012  3:00:36PM </td>
                        <td>Hotel</td>
                        <td>1</td>
                        <td><a href="#" class="underline italic C31AEE3">Confiq</a></td>
                        <td class=" alignR">
                        	<div class="controlBg control4">
                            	<span class="bg">
                            	<a href="#" class="preview NborderL" ></a>
                            	<a href="#" class="edit" ></a>
                            	<a href="#" class="admin" ></a>
                            	<a href="#" class="delete NborderR " ></a>
                                </span>
                            </div>
                        </td>
                    </tr>       *@
    </table>
    <br />
    <div id="clickloadmore" style="width:100%; border:1px solid #E5E5E5; text-align:center; height:24px;padding-top:10px;">
        <a href="javascript:void(0);" onclick="supplyManager.GetDateListOnClick();">Click to load more!</a>
    </div>
</div>
@*  <div class=" mT20 alignC">
            		<img src="/App/images/icon/loading.gif" alt="Loading" />
            </div>*@
@section PageFoot{
    <script src="/App/js/ibtAdmin.js"></script>
    <script src="/App/js/jSupplier.js"></script>
    <script src="/App/js/jSupplyType.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            supplyManager.initData();
            supplyManager.init();
            checkboxshow();
        });
        function TitleSort() {
            $("#hidOrderTypeName").attr("value", "Title");
            if ($("#hidSupplierNameSort").val() == "Desc") {
                $("#hidSupplierNameSort").attr("value", "Asc");
                $("#hidOrderValue").attr("value", "Asc");
            }
            else {
                $("#hidSupplierNameSort").attr("value", "Desc");
                $("#hidOrderValue").attr("value", "Desc");
            }
            //supplyManager.sortbyTitle($("#hidOrderTypeName").val(), $("#hidSupplierNameSort").val());
            supplyManager.sortbyTitle();
        }
        function NumSort() {
            $("#hidOrderTypeName").attr("value", "Score");
            if ($("#hidScoreSort").val() == "Desc") {
                $("#hidScoreSort").attr("value", "Asc");
                $("#hidOrderValue").attr("value", "Asc");
            }
            else {
                $("#hidScoreSort").attr("value", "Desc");
                $("#hidOrderValue").attr("value", "Desc");
            }
            //supplyManager.sortbyTitle($("#hidOrderTypeName").val(), $("#hidSupplierNameSort").val());
            supplyManager.sortbyScore();
        }
        function GetSupplyId(supplyId) {
            $("#hidSupplierId").attr("value", supplyId);
        }
    </script>
}