﻿@{
    Layout = null;
    IMeet.IBT.Services.SearchService searchService = new IMeet.IBT.Services.SearchService();
}
<script type="text/javascript" src="/app/js/jSupplier.js"></script>
<script type="text/javascript" src="/App/js/scroll.js"></script>
<script type="text/javascript" src="/app/js/effect.js"></script>
<script type="text/javascript" src="/app/js/boxy/jquery.boxy.js"></script>
<script type="text/javascript">
    function initCountryCityList() {
        $("#ddlCountry_pop").change(function () {
            GetCity();
            var value = $("#ddlCountry_pop").val();
            $("#hidfldCountry_pop").attr("value", value);  //隐藏控件赋值
        });
        $("#ddlCity_pop").change(function () {
            var value = $("#ddlCity_pop").val();
            $("#hidfldCity_pop").attr("value", value);
        });
    }
    function GetDataByJquery() {
        $("#ddlCountry_pop").empty();
        $.getJSON("/Admin/Home/GetCountry", function (data) {
            $.each(data, function (i, item) {
                $("#ddlCountry_pop").append($("<option></option>").val(i).text(item));
            });
            GetCity();

        });
        $("#ddlCountry_pop").prepend($("<option></option>").val("-1").text("Select Country"));
    }
    function GetCity() {
        $("#ddlCity_pop").empty();
        var url = "/Admin/Home/SelectCity/" + $("#ddlCountry_pop").val() + "/";
        $.getJSON(url, function (data) {
            $.each(data, function (i, item) {
                $("#ddlCity_pop").append($("<option></option>").val(i).text(item));
            });
        });
        $("#ddlCity_pop").prepend($("<option></option>").val("-1").text("Select City"));
    }
    function GetSelectItem() {
        $('#selectedItem').empty();
        var selAttrIds = ibtAdmin.getCheckboxVal("#attrList li>span", "data-attrId");
        $("#hidcateIds").val(selAttrIds);
        var json_data = { selAttrIds: $("#hidcateIds").val() };
        $.ajax({
            url: '/Admin/Home/SelectItemAjx', async: false, dataType: "json", data: json_data, type: 'post', success: function (json) {
                if (json.Success) {
                    $('#selectedItem').append(json.Message);
                }
            }
        });
    }
    function remove(objId) {
        $("span[objId=" + objId + "]").remove();
        $(".checkboxSmall").each(function () {
            $("span[data-attrId=" + objId + "]").removeClass("uncheckbox");
        });

    }
    function GetSeachTab(tabId) {
        $("#hidfldTab").val(tabId);
    }
    function showPop2() {
        var mybox = null;
        mybox = new Boxy($("#overBox").html(), {
            title: "",
            modal: true,
            center: true,
            boxCss: 'smallPopup',
            unloadOnHide: true,
            closeText: "",
            afterHide: function (e) {
                $(".boxyModalBlackout").css("z-index", "1330");
                $(".boxyModalBlackout").eq(0).show();
            },
            afterShow: function (e) {
                // $(".boxyModalBlackout").eq(0).css("opacity","0.6");
                $(".boxyModalBlackout").eq(0).css("z-index", "1340");

            }
        });
        $(".boxyInner").addClass("popup");
        scroll_init(scroll_blue);
        $(".jscroll-e").show();
    }
    function Confirm() {
        $("#SponsorSupplie").attr("value", $("#previewtitle").html());
        $("#SponsorSupplieId").attr("value", $("#previewid").val());
        $('.boxyWrapper').remove();
        $('.boxyModalBlackout').remove();
    }
</script>
<!--div start-->
<input id="hidfldCountry" name="hidfldCountry_pop" value="" type="hidden" />
<input id="hidfldCity" name="hidfldCity_pop" value="" type="hidden" />
<input type="hidden" id="hidcateIds" value="" />
<input id="hidpageType" name="hidpageType" type="hidden" value="2"/>
<input id="hidfldTab" name="hidfldTab" type="hidden" value="0"/>
<div id="popupSearch">
    <div class=" W600 popupMain grayF3Bg relative">
        <form class="filterBox">
            <ul class="">
                <li class="noLineT searchLi NBorderB">
                    <input type="text" id="SearchKeyword" value="Type in something to search" class="inputBg wFull search" /></li>
            </ul>
            <ul class="filter">
                <li>
                    <div class="fixbox">
                        <span class="select IEbg mR15" style="z-index: 0;">
                             <select id="ddlCountry_pop" class="select mR10">
                            </select>
                           @* <span class="arrow">Select Country</span>
                            <div style="display: none;" class="list">
                                <ul>
                                    <li class="noLineT">Country1</li>
                                    <li>Country2</li>
                                    <li>Country3</li>
                                    <li class="last">Country4</li>
                                </ul>
                            </div>*@
                        </span>
                        <span class="select IEbg" style="z-index: 0;">
                             <select id="ddlCity_pop" class="select mR10">
                            </select>
                           @* <span class="arrow">Select City</span>
                            <div style="display: none;" class="list">
                                <ul>
                                    <li class="noLineT">City1</li>
                                    <li>City2</li>
                                    <li>City3</li>
                                    <li class="last">City4</li>
                                </ul>
                            </div>*@
                        </span>
                    </div>
                </li>
                <li>
                    <div class="fixbox">
                        <span class="select IEbg mR15" style="z-index: 0;">
                             <input type="hidden" id="IsShowSearch" value="0" />
                            <span class="arrow">Select Ratings</span>
                            <div style="display: none;" class="list">
                                 <ul id="recommendList">
                                    <li onclick="supplyEdit.changeSort(1);">Recommended</li>
                                    <li onclick="supplyEdit.changeSort(2);">Most Visited</li>
                                </ul>
                            </div>
                        </span>
                        <span class="select IEbg" style="z-index: 0;">
                            <span class="arrow">Recommended</span>
                            <div style="display: none;" class="list">
                                <ul>
                                    <li class="noLineT" onclick="GetSeachTab(1);">Recommended</li>
                                    <li class="last" onclick="GetSeachTab(2);">Not Recommended</li>
                                </ul>
                            </div>
                        </span>
                    </div>
                </li>
                <li class="">
                    <span class="select selecBtnList wFull" style="z-index: 0;">
                        <span class="title">
                            <a class="downArrow" href="#"></a>
                            <span class="selected" id="selectedItem" style="color: #A9A9A9; padding-left: 10px;">Select Category
                            </span>
                        </span>
                        <span class="list" style="display: none;">
                            <ul id="attrList">
                                @{
                                    foreach (var item in searchService.GetAttributeDataList())
                                    {
                                    <li onclick="GetSelectItem();"><span class="checkboxSmall" data-attrId="@item.AttrDataId"></span>@item.AttrDataName</li>
                                    }
                                }
                            </ul>
                        </span>
                    </span>

                </li>
                <li class="NBorderB">
                    <div class="alignR"><a href="javascript:void(0);" onclick="supplyEdit.goTab();" class="btnBlueH45"><span class="bg">search > </span></a></div>
                </li>

            </ul>

        </form>
        <div class="resultsBar" style="display: none;">
            <span class="right">9/10</span>
            54 Results found
        </div>
        <div class="resultsBox">
            <div class="scrollBox">
                <ul id="sponsorsupplielist">
                    <!--
                    <li onclick="showPop2()">
                        <a href="#" class="img">
                            <img src="images/photos/img_W50.gif" alt="" /></a>
                        <dl>
                            <dt>
                                <span class="title"><a href="#">London Tower Bridge</a>  London, United  Kingdom</span>
                                <span class="friendsInfo italic f10 C7a7a7a"><a href="#">9 Friends</a>  has Been There</span>
                            </dt>
                        </dl>
                    </li>
                    -->
                </ul>
            </div>
        </div>
        <div class="botBox"><span class="txt" style="display:none;"></span> <a href="javascript:void(0);" onclick="supplyEdit.GetDateListOnClick();">+ Load more</a></div>
    </div>
</div>
<!--div end-->
