﻿@{
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}
<script src="/App/js/ibtAdmin.js"></script>
<script type="text/javascript">
$(document).ready(function(){
		selectSpan();
})
</script>
<script  type="text/javascript">
function showPop(){
	var mybox = null;
	mybox = new Boxy($("#AddNewVideo").html(), {
		title:"Add new video",
		 modal: true, 
		 center: true, 
		 unloadOnHide: true,
		 closeText:"x", 
		 afterHide: function(e) {}, 
         afterShow: function(e) {}
		 });
		 $(".boxyInner").addClass("popup");
		checkboxshow();
		selectSpan();
}
</script>
 <div class="tabList">
                    <div class=" bg">
                        <a class="fold " href="Destination">Destination</a>
                        <a class="fold " href="Recommend">Recommend</a>
                        @*<a class="fold unfold " href="Video">Video</a>*@
                    </div>
            </div>
            <div class="fixbox mT20 mB15">
                      <a href="javascript:void(0);" onclick="ibtAdmin.loadUrlPop('/Admin/Home/AddNewVideo','Get','',function(){$('#AddNewVideo').bValidator({singleError:true});},'Add new video');"  class="btnBlueH45"><span class="bg">add new  Video</span></a>
            </div>
            <div class="table table02 mT20">
            	<table cellpadding="0" cellspacing="0" border="0" width="100%">
                	<tr>
                    	<th width="3%">&nbsp;</th>
                        <th width="15%" >Video Title</th>
                        <th  width="45%">Description</th>
                        <th width="4%">&nbsp;</th>
                    </tr>
                    <tr>
                    	<td>1.</td>
                        <td><a href="#">A&W Restaurants</a></td>
                        <td>As social media channels As social media channels As social media channels As social media channels...</td>
                        <td class=" alignR">
                        	<div class="controlBg control3">
                            	<span class="bg">
                            	<a href="#" class="preview NborderL" ></a>
                            	<a href="#" class="edit" ></a>
                            	<a href="#" class="delete  NborderR" ></a>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                    	<td>2.</td>
                        <td><a href="#">A&W Restaurants</a></td>
                        <td>As social media channels As social media channels As social media channels As social media channels...</td>
                        <td class=" alignR">
                        	<div class="controlBg control3">
                            	<span class="bg">
                            	<a href="#" class="preview NborderL" ></a>
                            	<a href="#" class="edit" ></a>
                            	<a href="#" class="delete  NborderR" ></a>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                    	<td>3.</td>
                        <td><a href="#">A&W Restaurants</a></td>
                        <td>As social media channels As social media channels As social media channels As social media channels...</td>
                        <td class=" alignR">
                        	<div class="controlBg control3">
                            	<span class="bg">
                            	<a href="#" class="preview NborderL" ></a>
                            	<a href="#" class="edit" ></a>
                            	<a href="#" class="delete  NborderR" ></a>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                    	<td>4.</td>
                        <td><a href="#">A&W Restaurants</a></td>
                        <td>As social media channels As social media channels As social media channels As social media channels...</td>
                        <td class=" alignR">
                        	<div class="controlBg control3">
                            	<span class="bg">
                            	<a href="#" class="preview NborderL" ></a>
                            	<a href="#" class="edit" ></a>
                            	<a href="#" class="delete  NborderR" ></a>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                    	<td>5.</td>
                        <td><a href="#">A&W Restaurants</a></td>
                        <td>As social media channels As social media channels As social media channels As social media channels...</td>
                        <td class=" alignR">
                        	<div class="controlBg control3">
                            	<span class="bg">
                            	<a href="#" class="preview NborderL" ></a>
                            	<a href="#" class="edit" ></a>
                            	<a href="#" class="delete  NborderR" ></a>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                    	<td>6.</td>
                        <td><a href="#">A&W Restaurants</a></td>
                        <td>As social media channels As social media channels As social media channels As social media channels...</td>
                        <td class=" alignR">
                        	<div class="controlBg control3">
                            	<span class="bg">
                            	<a href="#" class="preview NborderL" ></a>
                            	<a href="#" class="edit" ></a>
                            	<a href="#" class="delete  NborderR" ></a>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                    	<td>8.</td>
                        <td><a href="#">A&W Restaurants</a></td>
                        <td>As social media channels As social media channels As social media channels As social media channels...</td>
                        <td class=" alignR">
                        	<div class="controlBg control3">
                            	<span class="bg">
                            	<a href="#" class="preview NborderL" ></a>
                            	<a href="#" class="edit" ></a>
                            	<a href="#" class="delete  NborderR" ></a>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                    	<td>9.</td>
                        <td><a href="#">A&W Restaurants</a></td>
                        <td>As social media channels As social media channels As social media channels As social media channels...</td>
                        <td class=" alignR">
                        	<div class="controlBg control3">
                            	<span class="bg">
                            	<a href="#" class="preview NborderL" ></a>
                            	<a href="#" class="edit" ></a>
                            	<a href="#" class="delete  NborderR" ></a>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                    	<td>10.</td>
                        <td><a href="#">A&W Restaurants</a></td>
                        <td>As social media channels As social media channels As social media channels As social media channels...</td>
                        <td class=" alignR">
                        	<div class="controlBg control3">
                            	<span class="bg">
                            	<a href="#" class="preview NborderL" ></a>
                            	<a href="#" class="edit" ></a>
                            	<a href="#" class="delete  NborderR" ></a>
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class=" mT20 alignC">
            		<img src="/App/images/icon/loading.gif" alt="Loading" />
            </div>
<div id="AddNewVideo"  style="display:none;">
		<div class="W600 popupMain">
            <div class="postBox grayBox">
				<ul class="form">
                   <li class="formLi">
                        <label class="title"> *Video Title	</label>: <span class="rightCol"><input type="text" class="input" /></span>
                    </li>
                   <li class="formLi">
                        <label class="title"> *Description	</label>: 
                        <span class="rightCol">
                        	<textarea></textarea>
                            <span class="C31AEE3 italic">This information is required.</span>
                        </span>
                    </li>
                    <li class="titleBar">
                    	Video Embeded Code
                    </li>
                    <li class="formLi">
                        <label class="title">*Youtube  Embeded Code</label>: 
                        <span class="rightCol"><input type="text" class="input" value="URL" /></span></span>
                    </li>
                    <li class="titleBar">
                    	Video Preview
                    </li>
                    <li class="formLi lastForm">
                        <label class="title">Video</label>: 
                        <span class="rightCol">
                        	<span class="video"><img src="images/photos/video_W275.jpg" alt="Video Title" /></span>
                        </span>
                    </li>
                    <li>
                        <div class="btn">
                            <a class="btnBlueH45 mR5" href="#"><span class="bg">Submit</span></a>
                            <a class="btnBlueH45" href="#" onclick="Boxy.get(this).hideAndUnload();"><span class="bg">Cancel</span></a>
                        </div>
                    </li>
            </ul>
			</div>
       </div>
</div>