﻿@{
    ViewBag.Title = "WidgetCode";
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}
<script src="/App/js/jscolor/jscolor.js"></script>
<div class="margintop10">
    <div style="width: 250px; float: left; margin-right: 20px;">
        <div class="margintop10">
            <span style="margin-top: 5px; float: left;"><span style="width: 60px; text-align: right; float: left; margin-right: 5px;">Member</span><span style="float: left">
                <input type="text" id="txtMember" onkeydown="return checkNum(event);" value="6" maxlength="2" style="width: 30px" /></span></span>
            <br />
            <div class="clear">
            </div>
            <span style="margin-top: 5px; float: left;"><span style="width: 60px; text-align: right; float: left; margin-right: 5px;">Topic</span> <span style="float: left">
                <input type="text" id="txtTopic" onkeydown="return checkNum(event);" value="3" maxlength="2" style="width: 30px" /></span></span>
            <br />
            <div class="clear">
            </div>
            <span style="margin-top: 5px; float: left;"><span style="width: 60px; text-align: right; float: left; margin-right: 5px;">Width</span> <span style="float: left">
                <input type="text" id="txtWidth" onkeydown="return checkNum(event);" value="180" maxlength="3" style="width: 40px" />px</span></span>
            <br />
            <div class="clear">
            </div>
            <span style="margin-top: 5px; float: left;"><span style="width: 60px; text-align: right; float: left; margin-right: 5px;">Height</span> <span style="float: left">
                <input type="text" id="txtHeight" onkeydown="return checkNum(event);" value="300" maxlength="3" style="width: 40px" />px</span></span>
            <br />
            <div class="clear">
            </div>
            <span style="margin-top: 5px; float: left;"><span style="width: 60px; text-align: right; float: left; margin-right: 5px;">bgColor</span> <span style="float: left">
                <input type="text" id="txtBgColor" class="color" value="3d7ebe" style="background: none;" /></span></span>
        </div>
        <div class="clear">
        </div>
        <div class="margintop10 marginbottom20 marginleft20">
            <input type="button" onclick="WidgetCode.previewWidget();" value="Preview" />
        </div>
    </div>
    <div id="divWidget_Preview" style="float: left;">
    </div>
</div>
<div class="clear">
</div>
<div class="margintop10 marginbottom20">
    Embed Code:<br />
    (copy and paste following code into your web page to display group widget)
        <br />
    <div class="left">
        <textarea id="txtGroupWidgetCode" class="widgets-textarea left" cols="25" rows="2"
            name="widgetCode">
<script src="/App/js/jquery-1.7.1.min.js"></script>
<script src="/App/js/jWidgetCode.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#divWidget_214').getGroupWidget({
            groupId: '214',
            memberCount: 6,
            topicCount: 3,
            width: 180,
            key: '56EEACAA865394B8',
            headingText: 'Argentina Community @Html.Raw("@") i-Meet',
            bgcolor: '#3d7ebe'
        });
    });
   
</script>
<div id="divWidget_214"></div>
                    </textarea>
    </div>
    <div class="clear">
    </div>
    <div class="left">
        <textarea id="txtIframeCode" class="widgets-textarea left" cols="25" rows="2"
            name="widgetCode"><iframe src="http://alpha.i-meet.com/widget/GetGroupWidget.aspx?groupId=214&key=56EEACAA865394B8&headingText=Argentina Community @Html.Raw("@") i-Meet&memberCount=6&topicCount=3&width=180&bgcolor=%233d7ebe" width="200" height="300" scrolling="no" frameborder="0" style="border:none;"></iframe>
                    </textarea>
    </div>
</div>
<script src="/App/js/jquery-1.7.1.min.js"></script>
<script src="/App/js/jWidgetCode.js"></script>
<script src="/App/js/groupWidget.js"></script>
<script type="text/javascript">
    function checkNum(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;

        //alert(charCode);
        if ((charCode >= 48 && charCode <= 57) || (charCode >= 37 && charCode <= 40) || (charCode >= 96 && charCode <= 105) || charCode == 8 || charCode == 109 || charCode == 189) {
            return true;
        }
        return false;
    }
    $(document).ready(function () {
        @* $('#divWidget_Preview').getGroupWidget({
            groupId: '214',
            memberCount: 6,
            topicCount: 3,
            width: 180,
            key: '56EEACAA865394B8',
            headingText: 'Argentina Community @Html.Raw("@") i-Meet',
            bgcolor: '#3d7ebe'
        });*@
    });
  @*  function createWidgetKey() {
        var strHtml="<iframe src=\"http://alpha.i-meet.com/widget/GetGroupWidget.aspx?groupId=214&key=56EEACAA865394B8&headingText=Argentina Community @Html.Raw("@") i-Meet&memberCount=6&topicCount=3&width=180&bgcolor=%233d7ebe\" width=\"200\" height=\"300\" scrolling=\"no\" frameborder=\"0\" style=\"border:none;\"></iframe>";
        $("#divWidget_Preview").html(strHtml);
   }*@
    $(document).ready(function () {
        WidgetCode.previewWidget();
        var GetRandomn = 1;
        function GetRandom(n) { GetRandomn = Math.floor(Math.random() * n + 1) }
        GetRandom("100000");
        alert(GetRandomn);
    });
</script>
