﻿@{
    Layout = null;
}

<div id="AddNewVideo">
		<div class="W600 popupMain">
            <div class="postBox grayBox">
				<ul class="form">
                   <li class="formLi">
                        <label class="title"> *Video Title	</label>: <span class="rightCol"><input type="text" class="input" /></span>
                    </li>
                   <li class="formLi">
                        <label class="title"> *Description	</label>: 
                        <span class="rightCol">
                        	<textarea></textarea>
                            <span class="C31AEE3 italic">This information is required.</span>
                        </span>
                    </li>
                    <li class="titleBar">
                    	Video Embeded Code
                    </li>
                    <li class="formLi">
                        <label class="title">*Youtube  Embeded Code</label>: 
                        <span class="rightCol"><input type="text" class="input" value="URL" /></span></span>
                    </li>
                    <li class="titleBar">
                    	Video Preview
                    </li>
                    <li class="formLi lastForm">
                        <label class="title">Video</label>: 
                        <span class="rightCol">
                        	<span class="video"><img src="/App/images/photos/video_W275.jpg" alt="Video Title" /></span>
                        </span>
                    </li>
                    <li>
                        <div class="btn">
                            <a class="btnBlueH45 mR5" href="#"><span class="bg">Submit</span></a>
                            <a class="btnBlueH45" href="#" onclick="Boxy.get(this).hideAndUnload();"><span class="bg">Cancel</span></a>
                        </div>
                    </li>
            </ul>
			</div>
       </div>
</div>
