﻿@{
    Layout = null;
}
<script src="/App/js/jSupplier.js"></script>
<link href="/App/js/ui/jquery-ui.css" rel="stylesheet" />
<script src="/App/js/ui/jquery-ui.js"></script>
<script type="text/javascript">
    function Save() {
        if ($("#SupplierName").val() == "") {
            Boxy.alert("Incomplete information！", null, { title: "Save Recommend" });
            $(".boxyInner").addClass("popup"); 
        }
        else {
            var str = $("#SupplierName").val();
            var str2 = str.split("(")[1].split(")")[0];
            $("#SupplyId").attr("value", str2);
            AddNewRecommend.save();
        }
    }
</script>
 <input id="UserId" name="UserId" type="hidden" value="@User.Identity.Name" />
 <input id="SupplyId" name="SupplyId" type="hidden"/> 
<div id="AddNewRecommend">
		<div class="W600 popupMain">
            <div class="postBox grayBox">
                 <form name="addNewRecform">
				<ul class="form">
                   <li class="formLi">
                        <label class="title"> Supplier Name</label>:  
                       <span class="rightCol">
                            <input type="text" id="SupplierName" name="SupplierName" style="width:300px;" disabled="disabled" />
                            </span>
                       @*<span class="rightCol">i-Meet Global</span>*@
                    </li>
                    <li>
                        <div class="btn">
                            <a class="btnBlueH45 mR5" href="javascript:void(0);" onclick="Save();"><span class="bg">Submit</span></a>
                            <a class="btnBlueH45 close" ><span class="bg">Cancel</span></a>
                        </div>
                    </li>
            </ul>
                </form>
			</div>
       </div>
</div>



