﻿@{
    Layout = null;
}
<script src="/App/js/scroll.js"></script>
<script src="/App/js/jSearchAllData.js"></script>
<script type="text/javascript">
    function GetByJquery() {
        $("#ddlCountry").empty();
        $.getJSON("/Admin/Home/GetCountry", function (data) {
            $.each(data, function (i, item) {
                $("#ddlCountry").append($("<option></option>").val(i).text(item));
            });
            GetCity();
        });
        $("#ddlCountry").prepend($("<option></option>").val("-1").text("Select Country"));
    }
    function GetCity() {
        $("#ddlCity").empty();
        var url = "/Admin/Home/SelectCity/" + $("#ddlCountry").val() + "/";
        $.getJSON(url, function (data) {
            $.each(data, function (i, item) {
                $("#ddlCity").append($("<option></option>").val(i).text(item));
            });
        });
        $("#ddlCity").prepend($("<option></option>").val("-1").text("Select City"));
    }
    function initTxtValue() {
        $("#txtValue").focus(function () {
            var val = "Type in something to search";
            if ($(this).val() == val) {
                $(this).val("");
            }
        }).blur(function () {
            if ($(this).val() == "") {
                $(this).val("Type in something to search");
            }
        });
    }
</script>
<input id="hidfldCountry" name="hidfldCountry" value="" type="hidden" />
<input id="hidfldCity" name="hidfldCity" value="" type="hidden" />
<div id="AddWidgetCity">
    <div class=" W600 popupMain grayF3Bg">
        <form class="filterBox">
            <ul class="mT15">
                <li class="noLineT NBorderB">
                    <input type="text" value="Type in something to search" class="inputBg wFull" id="txtValue" /></li>
                <li class="NBorderB">
                    <select id="ddlCountry" class="select mR10">
                    </select>
                    <select id="ddlCity" class="select mR10">
                    </select>
                </li>
            </ul>
            <div class="alignR">
                <a href="javascript:void(0);" onclick="SearchData.goTab(2);">
                    <img src="/App/images/button/btn_go.gif" alt="GO >" id="GoSearch" /></a>
            </div>
        </form>
        <div class="resultsBar">
        </div>
        <div class="resultsBox">
            <div class="scrollBox">
                <ul id="ulData">
                </ul>
            </div>
        </div>
        <div class="botBox">
            <span class="txt">54 Results found</span>
            <a href="javascript:void(0);" onclick="SearchData.GetCityDataListByClick();">+ Load more</a>
        </div>
    </div>
</div>
