﻿@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<link href="/App/css/style.css" rel="stylesheet" />
<link href="/App/js/boxy/boxy.css" rel="stylesheet" />
<link href="/App/js/bvalidator/adminstyle.css" rel="stylesheet" />
<script type="text/javascript" src="/App/js/jquery-1.7.1.min.js"></script>
<script src="/App/js/boxy/jquery.boxy.js"></script>
<script type="text/javascript" src="/App/js/bvalidator/jquery.bvalidator.js" ></script>
<script src="/App/js/jsend.js"></script>
<script type="text/javascript">
    $(document).ready(function ()
    { $('#forgotForm').bValidator(); });
</script>
<div class="wrapper loginBox grayF3Bg">
        <div class="header">
                    <div class="fixbox">
                            <a href="MemberManage" class="logo">i 've Been There!</a>
                    </div>
                </div>
         <div class="content">
                <h1>Forgot your Password?</h1>
              <div class="mainBox">
              		<p class="mB15 textbox">Please enter the e-mail address for your account. A verification token will be sent to you.
Once you have received the token, you will be able to choose a new password 
for your account.</p>
                  <form class="mB15" id="forgotForm">
                      <div class="mB15 row">
                          <label>E-mail Address :</label>
                          <input type="text" value="" class="inputBg" id="txtFemail" name="txtFemail" data-bvalidator="required,email" />
                      </div>
                  </form>
                    <a href="javascript:void(0);" onclick="adminSendPwd.send();" class="btnBlueH45"><span class="bg">Submit</span></a>
              </div>         
         </div>
         <div class="footer">
            <span class="right">
                <a href="#"><img src="/App/images/logo/imeet.jpg" alt="I-Meet"></a>
            </span>
               2010-2012 i-Meet All rights reserved.
            </div>
</div>
