﻿@{
    ViewBag.Title = "EditCountryManage";
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";

    IMeet.IBT.DAL.Country country = ViewData["Country"] as IMeet.IBT.DAL.Country;
    IMeet.IBT.DAL.CountriesDe descript = ViewData["CountryDes"] as IMeet.IBT.DAL.CountriesDe;
}
@Html.Hidden("ce_flag_val",string.Empty)
<h2 class="blugBigBg titlePosition mB40"><span class="bg"><a href="/admin/home/CountryManage" class="doubleArrow">Country Management</a></span><span class="subTitle"><span class="bg">@(country==null?"Add":"Edit") Country</span></span></h2>
<div class="editInfoBox">
    <dl>
        <dt></dt>
        <dd  class="NBorderB">
            <span class="col2">
                <label>Country Name</label>:<input id="ce_countryName" type="text" value="@(country==null?string.Empty:country.CountryName)" />
            </span>
        </dd>
    </dl>
    <dl>
        <dt>Images</dt>
        <dd class="NBorderB">
            <span class="col2 ">
                <label>Flag</label>:<span class="main">
                    <span class="uploadBtn fixbox">
                        @*<img src="/App/images/choose_file.gif" alt="" /><a href="#" class="btnGrayH22 mL10"><span class="bg">UPLOAD</span></a>*@
                        <input id="ce_upload" type="file" />
                    </span>
                    <span class="tips">(dimension: 50px by 50px, file format : *.jpg, *.gif)</span>
                                
                    </span>
            </span>
            <span class="col2 rightCol">
            <span class="imgBg2 ">
                        <span class="uploadTip">Please press the "UPLOAD" button in order to preview the images that you choose.</span>
                        <span id="ce_flag" class="bg"> <img style="width:110px" src="@(country==null?"/App/images/photos/img_w110_02.gif":IMeet.IBT.Controllers.PageHelper.GetCountryFlagToConvert(country.FlagSrc)) " alt="@(country==null?"Image name":country.CountryName)"></span>
                        </span>
            </span>
        </dd>
    </dl>
                
    <dl>
        <dt>Info</dt>
        <dd>
            <span class="col2">
                <label>Description</label>:<textarea id="ce_txt">@(descript==null?string.Empty:descript.CountryTxt)</textarea>
            </span>
        </dd>
        <dd>
                <label>Things to do	</label>:<input id="ce_ttd" class="urltext" type="text" value="@(descript==null?"Enter URL...":descript.TTD)" />
        </dd>
        <dd>
                <label>Shopping Nightlife</label>:<input id="ce_sn" class="urltext" type="text" value="@(descript==null?"Enter URL...":descript.SN)" />
        </dd>
        <dd>
                <label>Food and Drink	</label>:<input id="ce_fad" class="urltext" type="text" value="@(descript==null?"Enter URL...":descript.FAD)" />
        </dd>
        <dd class="NBorderB">
                <label>Event</label>:<input id="ce_event" class="urltext" type="text" value="@(descript==null?"Enter URL...":descript.Events)" />
        </dd>
    </dl>
    <dl>
        <dt>Location</dt>
        <dd  class="NBorderB">
            <span class="col2">
                <ul>
                    <li  class="">
                        <label>Longitude</label>:<input id="ce_lo" type="text" value="@(country==null?0:country.CoordsLongitude)" class="w100"/>
                        <label class="w60 mL5">Latitude</label>: <input id="ce_la" type="text" value="@(country==null?0:country.CoordsLatitude)" class="w100"  />
                        <a href="javascript:void(0);" onclick="codeAddress();" class="btnGrayH22 btnRight"><span class="bg">Convert >> </span></a>
                    </li>
                </ul>
            </span>
            <span class="col2 rightCol col2Style">
                <label>Map</label>:
                <span id="map_canvas" class="main" style="width: 288px; height: 242px">
                    <@*img src="images/map_w282.jpg" alt="" height="242px;" />*@
                </span>
            </span>
        </dd>
    </dl>
<div class="fixbox">
    <a href="#" onclick="countryEdit.submit(this);" class="btnBlueH45 mL20" data-country="@(country==null?0:country.CountryId)"><span class="bg">Submit</span></a>
    <a href="/admin/home/CountryManage" class="btnBlueH45 mL20"><span class="bg">CANCEL</span></a>
</div>
</div>

<script type="text/javascript">
    var countryEdit = {
        init: function () {
            this.uploadify();
        },
        submit: function (obj) {
            if ($("#ce_countryName").val() == "")
            {
                Boxy.alert("Input the country name!", null, { "title": "Country" });
                return;
            }
            data = {
                id: $(obj).attr("data-country"),
                name: $("#ce_countryName").val(),
                flag: $("#ce_flag_val").val(),
                txt: $("#ce_txt").val(),
                ttd: $("#ce_ttd").val(),
                sn: $("#ce_sn").val(),
                fad: $("#ce_fad").val(),
                eve: $("#ce_event").val(),
                longitude: $("#ce_lo").val(),
                latitude: $("#ce_la").val()
            };
            $.ajax({
                url: "/Admin/Home/EditCountryManageSave",
                data: data,
                type: "post",
                dataType: "json",
                success: function (json) {
                    if (json.Success) {
                        Boxy.alert("You have successfully saved the information for this country!", function () {
                            location.href = "/admin/home/CountryManage";
                        }, { title: "Edit Country" });
                    } else {
                        Boxy.alert(json.Message, function () {
                            if (Number(json.Item) > 0) { location.href = "/admin/home/EditCountryManage/" + json.Item; }
                        }, { title: "Edit City" });
                    }
                }
            });
        },
        uploadify: function () {
            $('#ce_upload').uploadify({
                'buttonImage': '/App/images/button/btn_choose_file.gif',
                'swf': '/App/js/uploadify/uploadify.swf',
                'cancelImg': '/App/js/uploadify/uploadify-cancel.png',
                'fileTypeDesc': '图片文件',
                'fileTypeExts': '*.jpg;*.jpeg;*.png;*.gif',
                'width': 190,
                'height': 22,
                'auto': true,
                'multi': false,
                'uploader': '/Admin/Home/UploadCountryFlag',
                'onUploadSuccess': function (file, data, response) {
                    var json = eval("(" + data + ")");
                    if (json.Success) {
                        $("#ce_flag").html("<img src='" + json.Item + "' alt=''>");
                        $("#ce_flag_val").val(json.Item);
                    }
                }
            })
        }
    };

    $(document).ready(function () {
        countryEdit.init();
        $(".urltext").focus(function () {
            var val = "Enter URL...";
            if (val === $(this).val()) { $(this).val(""); }
        }).blur(function () {
            if ($(this).val() == "") { $(this).val("Enter URL...") }
        });
    });
</script>
<script src="/App/js/uploadify/jquery.uploadify.min.js"></script>
@section PageFoot{
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script type="text/javascript">
        $(function () {
            initialize();
        });
        var geocoder;
        var map;
        var initLatlng;
        function initialize() {
            geocoder = new google.maps.Geocoder();
            var lng = $("#ce_lo").val();
            var lat = $("#ce_la").val();
            var latlng = new google.maps.LatLng(lat, lng);
            var mapOptions = {
                zoom: 3,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
            var marker = new google.maps.Marker({
                map: map,
                position: latlng
            });
        }

        function codeAddress() {
            initialize();
        }
    </script>
}