﻿@{
    ViewBag.Title = "EditCityManage";
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
    IMeet.IBT.DAL.City city = ViewData["city"] as IMeet.IBT.DAL.City;
    IMeet.IBT.DAL.CityDescription des = (city != null ? city.CityDescription : null);
}

@Html.Hidden("ce_flag_val",string.Empty)
<h2 class="blugBigBg titlePosition mB40"><span class="bg"><a href="/admin/home/CityManage" class="doubleArrow">City Management</a></span><span class="subTitle"><span class="bg">@(city==null?"Add":"Edit") City</span></span></h2>
<div class="editInfoBox">
    <dl>
        <dt></dt>
        <dd class="">
            <span class="col2">
                <label>Country Name</label>: @Html.DropDownList("ce_country", ViewData["CountryList"] as List<SelectListItem>, new Dictionary<string, object>() {{"class","select w300"} })
@*                <select>
                    <option>Select One</option>
                </select>*@
            </span>
        </dd>
        <dd class="NBorderB">
            <span class="col2">
                <label>City Name</label>:<input id="ce_cityName" type="text" value="@(city==null?string.Empty:city.CityName)" />
            </span>
        </dd>
    </dl>
    <dl>
        <dt>Images</dt>
        <dd class="NBorderB">
            <span class="col2 ">
                <label>Profile Image</label>:<span class="main">
                    <span class="uploadBtn fixbox">
                        @*<img src="images/choose_file_168.gif" alt="" /><a href="#" class="btnGrayH22 mL10"><span class="bg">UPLOAD</span></a>*@
                        <input id="ce_upload" type="file" />
                    </span>
                    <span class="tips">(dimension: 170px by 170px, file format : *.jpg, *.gif)</span>
                                
                    </span>
            </span>
            <span class="col2 rightCol">
            <span class="imgBg2 ">
                        <span class="uploadTip">Please press the "UPLOAD" button in order to preview the images that you choose.</span>
                        <span id="ce_flag" class="bg"> <img src="@((city==null||string.IsNullOrEmpty(city.FlagSrc))?"/App/images/photos/img_w110_02.gif":city.FlagSrc)" alt="Image name" style="width:110px"></span>
                        </span>
            </span>
        </dd>
    </dl>
                
    <dl>
        <dt>Info</dt>
        <dd>
            <span class="col2">
                <label>Description</label>:<textarea id="ce_txt">@(des==null?string.Empty:des.Txt)</textarea>
            </span>
        </dd>
        <dd>
                <label>URL	</label>:<input id="ce_url" class="urltext" type="text" value="@(des==null?"Enter URL...":des.Url)" />
        </dd>
        <dd>
                <label>Photo</label>:<input id="ce_pho" class="urltext" type="text" value="@(des==null?"Enter URL...":des.PhotoUrl)" />
        </dd>
        <dd>
                <label>Things to do	</label>:<input id="ce_ttd" class="urltext" type="text" value="@(des==null?"Enter URL...":des.TTDUrl)" />
        </dd>
        <dd>
                <label>Shopping</label>:<input id="ce_sho" class="urltext" type="text" value="@(des==null?"Enter URL...":des.ShoppingUrl)" />
        </dd>
        <dd>
                <label>Restaurants</label>:<input id="ce_res" class="urltext" type="text" value="@(des==null?"Enter URL...":des.RestaurantsUrl)" />
        </dd>
        <dd>
                <label>Hotels</label>:<input id="ce_hot" class="urltext" type="text" value="@(des==null?"Enter URL...":des.HotelsUrl)" />
        </dd>
        <dd class="NBorderB">
                <label>Event</label>:<input id="ce_eve" class="urltext" type="text" value="@(des==null?"Enter URL...":des.EventsUrl)" />
        </dd>
    </dl>
    
    <dl>
        <dt>Location</dt>
        <dd  class="NBorderB">
            <span class="col2">
                <ul>
                    <li  class="">
                        <label>Longitude</label>:<input id="ce_lo" type="text" value="@(city==null?0:city.CoordsLongitude)" class="w100"/> 
                        <label class="w60 mL5">Latitude</label>: <input id="ce_la" type="text" value="@(city==null?0:city.CoordsLatitude)" class="w100"  /> 
                        <a href="javascript:void(0);" onclick="codeAddress();" class="btnGrayH22 btnRight"><span class="bg">Convert >> </span></a>
                    </li>
                </ul>
            </span>
            <span class="col2 rightCol col2Style">
                <label>Map</label>:
                <span id="map_canvas" class="main" style="width: 288px; height: 242px">
                    @*<img src="images/map_w282.jpg" alt="" height="242px;" />*@
                </span>
            </span>
        </dd>
    </dl>
<div class="fixbox">
    <a href="javascript:void(0);" onclick="editCity.submit(this);" class="btnBlueH45 mL20" data-city="@(city==null?0:city.CityId)"><span class="bg">Submit</span></a>
    <a href="/admin/home/CityManage" class="btnBlueH45 mL20"><span class="bg">CANCEL</span></a>
</div>
</div>
<script type="text/javascript">
    var editCity = {
        submit: function (obj) {
            if ($("#ce_country").val() == "0") {
                Boxy.alert("Choose the country", null, { title: "Edit City" });
                return;
            }
            if ($("#ce_cityName").val() == "")
            {
                Boxy.alert("Input the city name", null, { title: "Edit City" });
                return;
            }
            var urlval = $("#ce_url").val();
            var phoval = $("#ce_pho").val();
            var ttdval = $("#ce_ttd").val();
            var shoval = $("#ce_sho").val();
            var resval = $("#ce_res").val();
            var hotval = $("#ce_hot").val();
            var eveval = $("#ce_eve").val();
            if (urlval == "Enter URL...")
            { urlval = ""; }
            if (phoval == "Enter URL...")
            { phoval = ""; }
            if (ttdval == "Enter URL...")
            { ttdval = ""; }
            if (shoval == "Enter URL...")
            { shoval = ""; }
            if (resval == "Enter URL...")
            { resval = ""; }
            if (hotval == "Enter URL...")
            { hotval = ""; }
            if (eveval == "Enter URL...")
            { eveval = "";}
            var data = { countryId: $("#ce_country").val(),
                cityId: $(obj).attr("data-city"),
                cityName: $("#ce_cityName").val(),
                longitude: $("#ce_lo").val(),
                latitude: $("#ce_la").val(),
                flag: $("#ce_flag_val").val(),
                txt: $("#ce_txt").val(),
                cityUrl: urlval,
                pho: phoval,
                ttd: ttdval,
                sho: shoval,
                res: resval,
                hot: hotval,
                eve: eveval
            };
            $.ajax({
                url: "/Admin/Home/EditCityManageSave",
                data: data,
                type: "post",
                dataType: "json",
                success: function (json) {
                    if (json.Success) {
                        Boxy.alert("You have successfully saved the information for this city!", function () {
                            location.href = "/admin/home/CityManage";
                        }, { title: "Edit City" });
                    } else {
                        Boxy.alert(json.Message, function () {
                            if (Number(json.Item) > 0) { location.href = "/admin/home/EditCityManage/"+json.Item; }
                        }, { title: "Edit City" });
                    }
                }
            });
        },
        uploadify: function () {
            $('#ce_upload').uploadify({
                'buttonImage': '/App/images/button/btn_choose_file.gif',
                'swf': '/App/js/uploadify/uploadify.swf',
                'cancelImg': '/App/js/uploadify/uploadify-cancel.png',
                'fileTypeDesc': '图片文件',
                'fileTypeExts': '*.jpg;*.jpeg;*.png;*.gif',
                'width': 190,
                'height': 22,
                'auto': true,
                'multi': false,
                'uploader': '/Admin/Home/UploadCityFlag',               
                'onUploadSuccess': function (file, data, response) {
                    var json = eval("(" + data + ")");
                    if (json.Success) {
                        $("#ce_flag").html("<img src='" + json.Item + "' alt=''  style=\"width:110px\">");
                        $("#ce_flag_val").val(json.Item);
                    }
                }
            })
        }
    };
    $(document).ready(function () {
        editCity.uploadify();
        $(".urltext").focus(function () {
            var val = "Enter URL...";
            if (val === $(this).val()) { $(this).val(""); }
        }).blur(function () {
            if ($(this).val() == "") { $(this).val("Enter URL..."); }
        });
    });
</script>

@section PageFoot{
    <link href="/js/uploadify/uploadify.css" rel="stylesheet" />
    <script src="/js/uploadify/jquery.uploadify.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script type="text/javascript">
        $(function () {
            initialize();
        });
        var geocoder;
        var map;
        var initLatlng;
        function initialize() {
            geocoder = new google.maps.Geocoder();
            var lng = $("#ce_lo").val();
            var lat = $("#ce_la").val();
            var latlng = new google.maps.LatLng(lat, lng);
            var mapOptions = {
                zoom: 8,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
            var marker = new google.maps.Marker({
                map: map,
                position: latlng
            });
        }

        function codeAddress() {
            initialize();
        }
    </script>
}