﻿@{
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
    IMeet.IBT.Services.SupplierService _supplierService = new IMeet.IBT.Services.SupplierService();
    IMeet.IBT.DAL.Supply supply = Model["supply"];
    IList<IMeet.IBT.DAL.SupplyAttributeData> dataList = Model["dataList"];
    IList<IMeet.IBT.DAL.SuppliesAttachment> attaList_logo = Model["attaList_logo"];
    IList<IMeet.IBT.DAL.SuppliesAttachment> attaList_images = Model["attaList_images"];
    IMeet.IBT.DAL.Supply parent_supply = Model["parent_supply"];
    string data = string.Empty;
    if (dataList != null)
    {
        string[] _data = (from a in dataList select a.ArrtDataId.ToString()).ToArray();
        data = string.Join(",", _data);
    }
}
<script type="text/javascript" src="/app/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/app/js/effect.js"></script>
<script type="text/javascript" src="/app/js/jSupplier.js"></script>
<link rel="stylesheet" type="text/css" href="/app/jquery.imgareaselect-0.9.10/css/imgareaselect-default.css" />
<script type="text/javascript" src="/app/jquery.imgareaselect-0.9.10/scripts/jquery.imgareaselect.pack.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#ddlSupplieType option[value='@supply.SupplierTypes']").attr("selected", "selected");
        ShowSupplietype();
        //加载logo图片上传控件
        supplyManager.uploadly_logo();
        supplyManager.uploadly_images();
        checkboxshow();
        selectSpan();
        GetByJquery();
        $("#hidfldCountry").attr("value", '@supply.CountryId');// Hiddenid为隐藏控件的ID  给它赋值

        setTimeout("initCountryData()", 1000);
        setTimeout("initCityData()", 1000);
        var t = setTimeout;
        clearTimeout(t);
        //	scroll_init(scroll_blue);
    })
    function initCountryData() {
        $("#ddlCountry option[value='" + $("#hidfldCountry").val() + "']").attr("selected", "selected");
        $("#ddlCountry").change(function () {
            var value = $("#ddlCountry").val();
            $("#hidfldCountry").attr("value", value);  //隐藏控件赋值
            GetCity();
            $("#hidfldCity").attr("value", '-1');// Hiddenid为隐藏控件的ID  给它赋值        
        });
    }
    function initCityData() {
        $("#hidfldCity").attr("value", '@supply.CityId');// Hiddenid为隐藏控件的ID  给它赋值        
        $("#ddlCity option[value='" + $("#hidfldCity").val() + "']").attr("selected", "selected");
        $("#ddlCity").change(function () {
            var value = $("#ddlCity").val();
            $("#hidfldCity").attr("value", value);
        });
    }
    function GetByJquery() {
        var datanum = 0;
        $("#ddlCity").empty();
        $.getJSON("/Account/GetCountry", function (data) {
            $("#ddlCountry").prepend($("<option></option>").val("-1").text("Your Country"));
            $.each(data, function (i, item) {
                $("#ddlCountry").append($("<option></option>").val(i).text(item));
            });
            GetCity();
        });
    }
    function GetCity() {
        $("#ddlCity").empty();
        var url = "/Account/GetCity/" + $("#hidfldCountry").val();
        var datanum = 0;
        $.getJSON(url, function (data) {
            $.each(data, function (i, item) {
                datanum = 1;
            });
            if (datanum == 0) {
                $("#ddlCity").prepend($("<option></option>").val("-1").text("Your City"));
            } else {
                $("#ddlCity").prepend($("<option></option>").val("0").text("Not Shown"));
                $("#ddlCity").prepend($("<option></option>").val("-1").text("Your City"));
            }
            $.each(data, function (i, item) {
                $("#ddlCity").append($("<option></option>").val(i).text(item));
            });
            $("#ddlCity option[value='-1']").attr("selected", "selected");
        });
    }
    function remove(objId) {
        DelImg(objId);
    }
    function DelImg(objId) {
        if (confirm('Do you really want to delete this article data?')) {
            $("span[objId=" + objId + "]").remove();
            var json_data = { objId: objId };
            $.post("/Supplier/PostVisitIsDel", json_data, function (json) {
                if (json.Success) {
                    Boxy.alert(json.Message, function () {
                        location.reload();
                    }, { title: "Del Img" });
                    $(".boxyInner").addClass("popup");
                } else {
                    Boxy.alert(json.Message, null, { title: "Del Img" });
                    $(".boxyInner").addClass("popup");
                }
            }, "json");
        } else { return false }
    }
    function ShowSupplietype() {
        var value = $("#ddlSupplieType").val();
        if (value == "2") {
            $(".sponsorSupplie").show();
        } else {
            $(".sponsorSupplie").hide();
        }
    }
    function showPop() {
        var mybox = null;
        mybox = new Boxy($("#popupSearch").html(), {
            title: "SEARCH",
            modal: true,
            center: true,
            unloadOnHide: true,
            closeText: "X",
            afterHide: function (e) { },
            afterShow: function (e) { }
        });
        $(".boxyInner").addClass("popup");
        inputText();
        selectSpan();
        searchLi();
        scroll_init(scroll_blue);
        $(".jscroll-e").show();
    }
    function ShowSponsorSupplie() {
        ibtAdmin.loadUrlPop('/Admin/Home/Type3OfSupplier', 'Get', '', function () {
            $(".jscroll-e").show();
            scroll_init(scroll_blueSearch2);
            supplyEdit.initData();
            searchLi();
        }, 'Select');
    }
</script>
<link href="/App/js/uploadify/uploadify.css" rel="stylesheet" />
<script src="/App/js/uploadify/jquery.uploadify.min.js"></script>
<script src="/App/kindeditor/kindeditor-min.js"></script>
<div class="wrapper">
    <div class="wrapBg fixbox">
        <div class="content">
            <div class="fixbox mT20" style="display: none;">
                <a href="#" class="btnBlueH45 mL20"><span class="bg">Sutbmit</span></a>
                <a href="#" class="btnBlueH45 mL20"><span class="bg">CANCEL</span></a>
            </div>
            <div class="editInfoBox">
                <dl>
                    <dt>&nbsp;</dt>
                    <dd class="NBorderB">
                        <span class="col2">
                            <label>Supplier Name</label>:<input type="text" id="txtSupplierName" value="@(Html.Raw(supply.Title))" />
                        </span>
                    </dd>
                </dl>
                <!--Types of Suppliers start-->
                <dl>
                    <dt>Types of Suppliers</dt>
                    <dd class="NBorderB">
                        <span class="col2">
                            <label>Type of Supplie</label>:
                            <select id="ddlSupplieType" class="select IEbg" onchange="ShowSupplietype();">
                                <option value="1">basic</option>
                                <option value="2">sponsored listing</option>
                                <option value="3">interactive listing</option>
                            </select>
                        </span>
                    </dd>
                    <dd class="NBorderB sponsorSupplie" style="display: none;">
                        <label>Sponsored Supplier</label>:<input type="text" value="@parent_supply.Title" id="SponsorSupplie" class="w210" /><input type="hidden" id="SponsorSupplieId" value="@parent_supply.SupplyId" />
                        <a href="javascript:void(0);" class="btnGrayH22" onclick="ShowSponsorSupplie();"><span class="bg">SELECT</span></a>
                    </dd>
                </dl>
                <!--Types of Suppliers end-->
                <!--logo start-->
                <dl>
                    <dt>Logo</dt>
                    <dd class="NBorderB">
                        <span class="col2 rightCol">
                            <label>Upload Image</label>:
                             <span class="main">
                                 <span class="uploadBtn fixbox">
                                     <input id="upload_logo" name="upload_logo" type="file">
                                 </span>
                                 <span class="tips">(file format : *.jpg, *.gif)</span>
                                 <span>
                                     @*<img src="@(attaList_logo != null && attaList_logo.Count > 0 ? attaList_logo[0].SourceFileName + "_bn.jpg" : "/app/images/photos/img_W110_02.gif")" alt="Image name" id="preview_logo" />*@
                                     <img src="@(string.IsNullOrEmpty(supply.CoverPhotoSrc) ? "/app/images/photos/img_W110_02.gif" : supply.CoverPhotoSrc + "_bn.jpg")" alt="Image name" id="preview_logo" />
                                 </span>
                             </span>
                            <input type="hidden" id="x1" name="x1" value="" />
                            <input type="hidden" id="y1" name="y1" value="" />
                            <input type="hidden" id="x2" name="x2" value="" />
                            <input type="hidden" id="y2" name="y2" value="" />
                            <input type="hidden" value="@(attaList_logo != null && attaList_logo.Count > 0 ? attaList_logo[0].Guid : "")" id="logo_save" />
                        </span>
                    </dd>
                </dl>
                <!--logo end-->
                <!--images start-->
                <dl>
                    <dt>Images</dt>
                    <dd class="NBorderB">
                        <span class="col2 rightCol">
                            <label>Upload Image</label>:
                             <span class="main">
                                 <span class="uploadBtn fixbox">
                                     <input id="upload_images" name="upload_images" type="file">
                                 </span>
                                 <span class="tips">(file format : *.jpg, *.gif)</span>
                             </span>
                        </span>
                    </dd>
                    <dd class="NBorderB">
                        <div id="upload_end_images" style="width: 100%;">
                            @if (attaList_images != null)
                            {
                                foreach (var item in attaList_images)
                                {
                                <div style="float: right; border: 1px solid #E2E2E2; margin: 3px 3px 3px 3px;">
                                    <span onclick="supplyManager.cbkImages(this);" data-imgguid="@item.Guid" class="checkboxBig mL5 mR5 uncheckbox"></span>
                                    <img src="@(item.SourceFileName + "_mn.jpg")" />
                                </div>
                                }
                            }
                        </div>
                        <input type="hidden" value="@(attaList_images != null ? string.Join(",", attaList_images.Select(a => a.Guid)) : "")" id="txtimageguids" />
                    </dd>
                </dl>
                <!--images end-->
                <!--info start-->
                <dl>
                    <dt>Info</dt>
                    <dd>
                        <span class="col2">
                            <label>Description</label>:<textarea id="txtDescription">@(Server.HtmlDecode(supply.Desp))</textarea>
                        </span>
                    </dd>
                    <dd>
                        <label>Email Address</label>:<input type="text" id="txtEmailAddress" value="@supply.InfoEmail" />
                    </dd>
                    <dd>
                        <label>Phone</label>:<input type="text" id="txtPhone" value="@supply.InfoPhone" />
                    </dd>
                    <dd>
                        <label>Fax</label>:<input type="text" id="txtFax" value="@supply.InfoFax" />
                    </dd>
                    <dd class="NBorderB">
                        <label>Website</label>:<input type="text" id="txtWebSite" value="@supply.InfoWebsite" />
                    </dd>
                </dl>
                <!--info end-->
                <!--Location start-->
                <dl>
                    <dt>Location</dt>
                    <dd class="NBorderB">
                        <span class="col2">
                            <ul>
                                <li>
                                    <label>Country</label>:
                                            <select id="ddlCountry" class="select IEbg">
                                            </select>
                                </li>
                                <li>
                                    <label>City</label>:
                                           <select id="ddlCity" class="select IEbg"></select>
                                </li>
                                <li>
                                    <label>State / Province</label>:<input type="text" id="txtStateOrProvince" value="@supply.InfoState" /></li>
                                <li class="NBorderB NpaddingB">
                                    <label>Address</label>:<textarea id="txtAddress">@supply.InfoAddress</textarea>
                                </li>
                                <li>
                                    <label>Zip/Postal Code</label>:<input type="text" id="txtInfoZip" value="@supply.InfoZip" class="w200" />
                                    <a href="javascript:;" class="btnGrayH22" onclick="codeAddress()"><span class="bg">Convert >> </span></a></li>
                                <li class="NBorderB NpaddingB">
                                    <label>Longitude</label>:<input type="text" id="txtCoordsLongitude" value="@supply.CoordsLongitude" class="w100" />
                                    <label class="w60 mL5">Latitude</label>:<input type="text" id="txtCoordsLatitude" value="@supply.CoordsLatitude" class="w100" /></li>
                            </ul>
                        </span>
                        <span class="col2 rightCol">
                            <label>Map</label>:
                            <span class="main">
                                <div id="map_canvas" style="width: 450px; height: 250px"></div>
                            </span>
                        </span>
                    </dd>
                </dl>
                <!--Location end-->
                <!--Categories start-->
                <dl>
                    <dt>Categories</dt>
                    @foreach (var parent in _supplierService.GetAttributeDataList(0))
                    {
                        <dd>
                            <label>@parent.AttrDataName</label>
                            <span class="checkList">
                                @foreach (var item in _supplierService.GetAttributeDataList(parent.AttrDataId))
                                {
                                    bool ischecked = false;
                                    if (dataList != null)
                                    {
                                        ischecked = (from a in dataList where a.ArrtDataId == item.AttrDataId select a).FirstOrDefault() == null ? false : true;
                                    }
                                    
                                    <span class="rightCol3"><span class="checkboxBig mL5 mR5 @(ischecked ? "uncheckbox" : "")" data-attrdataid="@item.AttrDataId" onclick="supplyManager.ckbCountry(this);"></span>@item.AttrDataName</span>
                                }
                            </span>
                        </dd>
                    }
                </dl>
                <!--Categories end-->
                <div class="fixbox">
                    <input id="hidfldCountry" name="hidfldCountry" value="-1" type="hidden" />
                    <input id="hidfldCity" name="hidfldCity" value="-1" type="hidden" />
                    <input type="hidden" id="txtSupplyId" name="txtSupplyId" value="@supply.SupplyId" />
                    <input type="hidden" id="iptCategoriesIds" name="iptCategoriesIds" value="@data" />
                    <a href="javascript:void(0);" class="btnBlueH45 mL20" onclick="supplyManager.submitEditData();"><span class="bg">SUBMIT</span></a>
                    <a href="SupplierManage" class="btnBlueH45 mL20"><span class="bg">CANCEL</span></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="overBox" style="display: none;">
    <div class="overBox W600">
        <dl>
            <dt>
                <input type="hidden" id="previewid" value="" />
                <span class="img">
                    <img id="previewimgsrc" src="/app/images/photos/img_w135.jpg" alt="" /></span>
                <h3><span id="previewtitle"></span></h3>
            </dt>
            <dd>London, United Kingdom</dd>
            <dd><a href="javascript:void(0);" class="btnBlueH48 mR10" onclick="Boxy.get(this).hideAndUnload();"><span class="bg">Cancel</span></a>
                <a href="javascript:void(0);" class="btnBlueH48" onclick="Confirm();"><span class="bg">Confirm</span></a></dd>
        </dl>
    </div>
</div>
<script type="text/javascript">
    KindEditor.ready(function (K) { K.create('textarea#txtDescription', KindEditorOptions) });
</script>
@section PageFoot{
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script type="text/javascript">
        $(function () {
            initialize();
        });
        var geocoder;
        var map;
        var initLatlng;
        function initialize() {
            geocoder = new google.maps.Geocoder();
            var lng = $("#txtCoordsLongitude").val();
            var lat = $("#txtCoordsLatitude").val();
            var latlng = new google.maps.LatLng(lat, lng);
            var mapOptions = {
                zoom: 8,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
            var marker = new google.maps.Marker({
                map: map,
                position: latlng
            });
        }

        function codeAddress() {
            var address = document.getElementById('txtInfoZip').value;
            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    initLatlng = results[0].geometry.location;
                    $("#txtCoordsLongitude").attr("value", initLatlng.lng());
                    $("#txtCoordsLatitude").attr("value", initLatlng.lat());
                    map.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }
    </script>
}
