﻿@{
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";

    IMeet.IBT.DAL.BadgeSpecial bs = ViewBag.BadgeSpecial;
    IMeet.IBT.DAL.BadgeSpecialEmail bse = ViewBag.BadgeSpecialEmail;
}
<!-- adminContainer -->
<div id="adminContainer">
    <div id="adminHeader" class="left">
        <p class="emailCommHeader">@(bs==null?"":bs.Title)</p>
    </div>

    <!-- adminContent -->
    <div id="adminContent" class="left">
        <!-- Admin Email Container -->
        <div class="adminEmailContainer left">

            <div class="emailHeaderRow left">
                <div class="emailTitleStd left">
                    <p>Sender's Email Address</p>
                </div>

                <div class="emailDbMarkStd left">
                    <p>:</p>
                </div>

                <div class="emailFillerStd left">
                    <input id="fromMail" type="text" name="from" class="emailInputStd" value="@(bse == null ? "" : bse.EmailFrom)" />
                </div>
            </div>

            <div class="emailStdRow left">
                <div class="emailTitleStd left">
                    <p>Email Title</p>
                </div>

                <div class="emailDbMarkStd left">
                    <p>:</p>
                </div>

                <div class="emailFillerStd left">
                    <input id="emailTitle" type="text" name="emailTitle" class="emailInputStd" value="@(bse == null ? "" : bse.Title)" />
                </div>
            </div>

            <div class="emailStdRow emailContentRow left">
                <div class="emailTitleStd left">
                    <p>Content</p>
                </div>

                <div class="emailDbMarkStd left">
                    <p>:</p>
                </div>

                <div class="emailFillerStd left">
                    @*                    <div class="emailFunctionBar">
                        <img src="/app/images/admin_button/btn_email_list.jpg" width="417" height="23" alt="" />
                    </div>*@
                    <textarea id="emailTextArea" class="emailTextArea" name="content">@(bse == null ? "" : bse.Content)</textarea>
                    <div class="emailContentBtn">
                        <ul>
                            <li class="mailCntBtn"><a href="javascript:void(0);" onclick="j_email_list.save();" class="btnSaveMailContent">
                                <p>SAVE</p>
                            </a></li>
                            @*                            <li class="mailCntBtn"><a href="#" class="btnPreviewMailContent">
                                <p>PREVIEW</p>
                            </a></li>*@
                            <li><a class="btnShowListMailContent">
                                <p>Show List</p>
                                <div class="showListArrowBlue"></div>
                            </a></li>
                            <!--<li><a class="btnShowListMailContent"><p>Show List<span class="showListArrowBlue"></span></p></a></li>-->
                        </ul>
                    </div>
                </div>
                <!-- Email List -->
                <div class="emailListMainContainer left hideListTable">
                    <div id="emailListTitle" class="emailListTitle left">
                        <p>Total Number of Sign-ups: 40</p>
                    </div>
                    <div id="emailListTable" class="emailListTable left">
                        <div class="emailListHeader left">
                            <div class="emlListName left">
                                <p>Name</p>
                                <div class="emlListNameArrowWhite listSortSelected" onclick="j_email_list.orderbyPage('name');"></div>
                            </div>
                            <div class="emlListEmailAddress left">
                                <p>Email Address</p>
                                <div class="emlListEmlAddArrowWhite" onclick="j_email_list.orderbyPage('email');"></div>
                            </div>
                            <div class="emlListDateOfAction left">
                                <p>Date of Action</p>
                                <div class="emlListDateArrowWhite" onclick="j_email_list.orderbyPage('date');"></div>
                            </div>
                            <div class="emlListTotalPoints left">
                                <p>
                                    Total Number<br />
                                    of Points (as of register)
                                </p>
                                <div class="emlListPointsArrowWhite" onclick="j_email_list.orderbyPage('point');"></div>
                            </div>
                        </div>
                    </div>
                    <div id="emailListPages" class="emailListPages left">
                        @*                        <ul>
                            <li class="emlPageBtn left"><a href="#" class="emlPgBtnPrevious"></a></li>
                            <li class="emlPageBtn left"><a class="emlPgBtnNumeric">
                                <!-- button space numeric -->
                            </a></li>
                            <li class="emlPageBtn left"><a class="emlPgBtnNumeric">
                                <!-- button space numeric -->
                            </a></li>
                            <li class="emlPageBtn left"><a href="#" class="emlPgBtnNumeric emlSelectedListPg">1</a></li>
                            <li class="emlPageBtn left"><a href="#" class="emlPgBtnNumeric">2</a></li>
                            <li class="emlPageBtn left"><a href="#" class="emlPgBtnNumeric">3</a></li>
                            <li class="emlPageBtn left"><a href="#" class="emlPgBtnNumeric">4</a></li>
                            <li class="emlPageBtn left"><a href="#" class="emlPgBtnNumeric">5</a></li>
                            <li class="emlPageBtn left"><a href="#" class="emlPgBtnNumeric">6</a></li>
                            <li class="emlPageBtn left"><a href="#" class="emlPgBtnNumeric">7</a></li>
                            <li class="emlPageBtn left"><a href="#" class="emlPgBtnNumeric">8</a></li>
                            <li class="emlPageBtn left"><a href="#" class="emlPgBtnNumeric">9</a></li>
                            <li class="emlPageBtn left"><a href="#" class="emlPgBtnNumeric">10</a></li>
                            <li class="emlPageBtn left"><a href="#" class="emlPgBtnNumeric">. . .</a></li>
                            <li class="emlPageBtn left"><a class="emlPgBtnNumeric">
                                <!-- button space numeric -->
                            </a></li>
                            <li class="emlPageBtn left"><a class="emlPgBtnNumeric">
                                <!-- button space numeric -->
                            </a></li>
                            <li class="emlPageBtn left"><a href="#" class="emlPgBtnNext"></a></li>
                        </ul>*@
                    </div>
                </div>
                <!-- End of Email List -->
            </div>

            <div class="emailStdRow left">
                <div class="emailTitleStd left">
                    <p>Test Email</p>
                </div>

                <div class="emailDbMarkStd left">
                    <p>:</p>
                </div>

                <div class="emailFillerStd left">
                    <input id="testEmail" type="text" name="testEmail" class="emailInputStd" />
                </div>
            </div>

            <div class="adnEmailBtmBtn left">
                <div class="emailCommBtmBtn left"><a class="btnSendTestAdnForm" onclick="j_email_list.sendForTest();"></a></div>
                <div class="emailCommBtmBtn left"><a class="btnSendNowAdnForm" onclick="j_email_list.send();"></a></div>
            </div>

        </div>
        <!-- End of Admin Email Container -->
    </div>
    <!-- End of adminContent -->
</div>
<!-- End of adminContainer -->
@section PageFoot{
    <script src="/App/js/admin_badge_special_management.js"></script>
    <script src="/App/js/jBadgeSpecialEmailList.js"></script>
    <script src="/App/js/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        //KindEditor.ready(function (K) { K.create('textarea#emailTextArea', KindEditorOptionsHtml) });

        function numbersonly(myfield, e, dec) {
            var key;
            var keychar;

            if (window.event) {
                key = window.event.keyCode;
            } else if (e) {
                key = e.which;
            } else {
                return true;
            }
            keychar = String.fromCharCode(key);

            //control keys
            if ((key == null) || (key == 0) || (key == 8) ||
            (key == 9) || (key == 13) || (key == 27)) {
                return true;
            } else if ((("0123456789").indexOf(keychar) > -1)) {		//numbers
                return true;
            } else if (dec && (keychar == ".")) {
                //decimal point jump
                myfield.form.elements[dec].focus();
                return true;
            } else {
                return false;
            }
        };

        $(function () {
            j_email_list.id = @(bs == null ? 0 : bs.BadgeSpecialId) +0;
            j_email_list.bseId =@(bse != null ? bse.BadgeSpecialEmailId : 0) +0;
            j_email_list.get();
            CKEDITOR.replace(
                'emailTextArea',
                {
                    toolbar: 'SourceToolbar',
                    resize_enabled: false,
                    width: 800,
                    height: 200,
                    pasteFromWordRemoveStyles: false,
                    pasteFromWordRemoveFontStyles: false,
                    toolbarCanCollapse: false,
                    pasteFromWordNumberedHeadingToList: true,
                    filebrowserImageUploadUrl: '/admin/home/emailcommunicationuploadimage',
                    removePlugins: 'tabletools,liststyle'
                });
            j_email_list.instance = CKEDITOR.instances["emailTextArea"];
        });
    </script>
}