﻿@{
    ViewBag.Title = "ImportCityDescript";
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}

<h2>ImportCityDescript</h2>
<input id="import" type="file" />
<script type="text/javascript">
    $(document).ready(function () {
        $('#import').uploadify({
            'buttonImage': '/App/images/button/btn_choose_file.gif',
            'swf': '/App/js/uploadify/uploadify.swf',
            'cancelImg': '/App/js/uploadify/uploadify-cancel.png',
            'fileTypeDesc': 'Excel',
            'fileTypeExts': '*.xls',
            'width': 190,
            'height': 22,
            'auto': true,
            'multi': false,
            'uploader': '/Admin/Home/ImportCityDescriptSave',
            'onUploadSuccess': function (file, data, response) {
                var json = eval("(" + data + ")");
                alert(json.Success);
            }
        })
    });
</script>
@section PageFoot{
<link href="/js/uploadify/uploadify.css" rel="stylesheet" />
<script src="/js/uploadify/jquery.uploadify.min.js"></script>
    }