﻿@{
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}
<link href="/App/js/uploadify/uploadify.css" rel="stylesheet" />
<script src="/App/js/jSupplyType.js"></script>
<script src="/App/js/uploadify/jquery.uploadify.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        GetAttrData();
        $("#ddlAttrData").change(function () {
            var value = $("#ddlAttrData").val();
            $("#hidSaveId").attr("value", value);
            //alert($("#hidCateId").val());
        });
        supplyTypeManager.initData(1);
        //$("#showbox").click(function () {
        //    $(".addBox").slideDown(500);
        //})
        //$("#Cancel").click(function () {
        //    $(".addBox").slideUp(500);
        //})
    })
    function ChangeTitle() {
        $("#type_Title").html("Add New Type");
        $("#handleType").attr("value", "Add");
        $("#typeName").attr("value","");
    }
    function GetAttrData() {
        var url = "/Admin/Home/GetAttrData/" + $("#hidCateId").val() + "/";
        $.getJSON(url, function (data) {
            $.each(data, function (i, item) {
                $("<option></option>")
                .val(item["AttrDataId"])
                .text(item["AttrDataName"])
                .appendTo($("#ddlAttrData"));
            });
        });
       
    }
    function GetIcon() {
        var url = "/Admin/Home/GetAttrDataImg/" + $("#hidattrDataId").val() + "/";
        $.getJSON(url, function (data) {
            $.each(data, function (i, item) {
                $("#imgSave").attr("value", item["IconSrc"]);
                $("#imgMapSave").attr("value", item["IconMap"]);
                $("#imgMap2Save").attr("value", item["IconMap2"]);

                $("#imgIconPreview").attr("src", item["IconSrc"]);
                $("#imgMapPreview").attr("src",  item["IconMap"]);
                $("#imgMap2Preview").attr("src", item["IconMap2"]);

            });
        });

    }
</script>
 <input id="UserId" name="UserId" type="hidden" value="@User.Identity.Name" />
<input type="hidden" id="hidattrDataId" value="" />
<input type="hidden" id="hidCateId" value="0" />
<input type="hidden" id="hidSaveId" value="1" />
<input id="imgSave" name="imgSave" type="hidden" /> 
<input id="imgMapSave" name="imgMapSave" type="hidden" /> 
<input id="imgMap2Save" name="imgMap2Save" type="hidden" /> 
<input type="hidden" id="handleType" value="Add" />
<div class="popupMain">
    <div class=" grayBox ">
        <div class="mainBox">
            <form class="chooseBox">
                <ul class="form" id="SupplyTypeList">
                    @*<li class="formLi">
                        <h3>Hotels</h3>
                        <ul>
                            <li><a href="#">Hotel</a></li>
                        </ul>
                    </li>
                    <li class="formLi">
                        <h3>Life Style </h3>
                        <ul>
                            <li><a href="#" id="showbox">Nightlife</a></li>
                            <li><a href="#">Shopping</a></li>
                        </ul>
                    </li>
                    <li class="formLi">
                        <h3>Attractions</h3>
                        <ul>
                            <li><a href="#">Arts and Culture</a></li>
                            <li><a href="#">Museums and Monuments</a></li>
                        </ul>
                    </li>*@
                </ul>
                <div class="addBox">
                    <div class="main">
                        <h3 id="type_Title">Add New Type</h3>
                        <ul class="form">
                            <li>
                                <label class="title">Type Name:</label>
                                <span class="rightCol">
                                    <input type="text" value="" class="input" id="typeName"/>
                                </span>
                            </li>
                            <li>
                                <label class="title">Category:</label>
                                <span class="rightCol">
                                    <select id="ddlAttrData" class="select w300" ></select>
                                   @* <span class="select">
                                        <span class="arrow inlineBox">Hotels</span>
                                        <div class="list">
                                            <ul>
                                                <li>Hotels</li>
                                                <li>Hotels</li>
                                            </ul>
                                        </div>
                                    </span>*@
                                </span>
                            </li>
                            <li>
                                <label class="title">Icon File:</label>
                                <span class="rightCol">
                                     <input type="file" id="uploadIcon" name="uploadIcon" style="display:none;" />
                                    <div class="uploadBg">
                                        <input type="image" id="uploadTypeIcon" name="uploadTypeIcon" />
                                      @*  <div style="background: url(images/button/file.gif) left top no-repeat; height: 32px; width: 279px;"></div>*@
                                    </div>
                                    <span class="imgBg">
                                        <img id="imgIconPreview" alt="Image name" src="/App/images/photos/img_W110.jpg" width="110" height="110">
                                    </span>
                                </span>
                            </li>
                             <li>
                                <label class="title">Map File:</label>
                                <span class="rightCol">
                                     <input type="file" id="uploadMap" name="uploadMap" style="display:none;" />
                                    <div class="uploadBg">
                                        <input type="image" id="uploadTypeMap" name="uploadTypeMap" />
                                      @*  <div style="background: url(images/button/file.gif) left top no-repeat; height: 32px; width: 279px;"></div>*@
                                    </div>
                                    <span class="imgBg">
                                        <img id="imgMapPreview" alt="ImageMap name" src="/App/images/photos/img_W110.jpg" width="110" height="110">
                                    </span>
                                </span>
                            </li>
                             <li>
                                <label class="title">Map2 File:</label>
                                <span class="rightCol">
                                     <input type="file" id="uploadMap2" name="uploadMap2" style="display:none;" />
                                    <div class="uploadBg">
                                        <input type="image" id="uploadTypeMap2" name="uploadTypeMap2" />
                                      @*  <div style="background: url(images/button/file.gif) left top no-repeat; height: 32px; width: 279px;"></div>*@
                                    </div>
                                    <span class="imgBg">
                                        <img id="imgMap2Preview" alt="ImageMap2 name" src="/App/images/photos/img_W110.jpg" width="110" height="110">
                                    </span>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="btn">
                        <a href="#" class="btnBlueH45" onclick="supplyTypeManager.saveType($('#handleType').val());"><span class="bg">Save</span></a>
                        <a href="#" class="btnGrayH45" id="Cancel" onclick="ChangeTitle();"><span class="bg">Cancel</span></a>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>