﻿@{
    ViewBag.Title = "I've Been There";
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}

@section PageHead{
    <link href="/app/css/style_email_management.css" rel="Stylesheet" />
}
<!-- adminContainer -->
<div id="wrapper-email-manager">
    <!-- tabs -->
    <div id="email-pg-tab-container" class="left">
        <ul class="email-pg-tab-container">
            <li class="email-pg-tab">
                <a class="email-pg-tab-title" href="/admin/home/emaillist/">
                    <p>Email</p>
                </a>
            </li>
            <li class="email-pg-tab">
                <a class="email-pg-tab-title" href="/admin/home/surveylist/">
                    <p>Survey</p>
                </a>
            </li>
            <li class="email-pg-tab">
                <a class="email-pg-tab-title" href="/admin/home/newemaillist/">
                    <p>New-Email</p>
                </a>
            </li>
            <li class="email-pg-tab">
                <a class="email-pg-tab-title" href="/admin/home/newsurveylist/">
                    <p>New-Survey</p>
                </a>
            </li>
        </ul>
    </div>
    <!-- create button -->
    <div id="email-create-new-mail" class="left"><a href="/admin/home/surveyupdate" class="email-create-new-button" style="background:url(/app/images/admin_email_manager/btn_create_survey.png)"></a></div>
    <!-- email status -->
    <div id="email-status-container" class="left">
        <ul class="email-status-container">
            <!-- row header -->
            <li class="email-status-rows left">
                <!-- number -->
                <div class="email-stat-number left">
                    <p></p>
                </div>
                <!-- email campaign title -->
                <div class="email-stat-campg-title left">
                    <p>Survey Title</p>
                </div>
                <!-- date of email blast -->
                <div class="email-stat-blast left">
                    <p>Date of Survey Blast</p>
                </div>
                <!-- recipients -->
                <div class="email-stat-recipients left">
                    <p>Recipients</p>
                </div>
                <!-- created by -->
                <div class="email-stat-created-by left">
                    <p>Created By</p>
                </div>
                <!-- status -->
                <div class="email-stat-status left">
                    <p>Status</p>
                </div>
                <!-- edit buttons -->
                <div class="email-stat-buttons left">
                    <p></p>
                </div>
            </li>
        </ul>
    </div>
    <!-- end of email status -->
    <!-- email expand container -->
    <div id="email-expand-container" class="left">
        <a class="email-expand-more-button" onclick="jEmailList.LoadListPage();">+ View More</a><p class="email-expand-stat"><span id="EmailCount">0</span> of <span id="EmailTotal">0</span> results</p>
    </div>
</div>
<!-- End of adminContainer -->
@section PageFoot{
    <script type="text/javascript">
        $(function () {
            jEmailList.LoadList();
        });
        var jEmailList = {
            page: 1,
            pageSize: 10,
            total: 0,
            loading: false,
            enable: true,
            Init: function () {
                jEmailList.LoadList();
            },
            LoadList: function () {
                if (!jEmailList.enable)
                    return false;

                jEmailList.enable = false;
                $.ajax({
                    url: '/admin/home/getsurveylistpage',
                    data: { page: jEmailList.page, pageSize: jEmailList.pageSize },
                    type: 'post',
                    dataType: 'json',
                    success: function (json) {
                        $('#email-status-container ul.email-status-container').append(json.Message);
                        if (jEmailList.page * jEmailList.pageSize >= json.Item) {
                            $('#email-expand-container .email-expand-more-button').hide();
                            $('#EmailCount').html(json.Item);
                        } else
                            $('#EmailCount').html(jEmailList.page * jEmailList.pageSize);
                        $('#EmailTotal').html(json.Item);
                        jEmailList.enable = true;
                    },
                    error: function () { jEmailList.enable = true; }
                });
            },
            LoadListPage: function () {
                jEmailList.page++;
                jEmailList.LoadList();
            },
            Del: function (id) {
                Boxy.ask("Are you sure you want to permanently delete this Email?", ["YES", "NO"], function (val) {
                    if (val == "YES") {
                        $.ajax({
                            url: '/admin/home/emaillistdel',
                            data: { id: id },
                            type: 'post',
                            dataType: 'json',
                            success: function (json) {
                                location.reload();
                            },
                            error: function () {
                                Boxy.alert("server error");
                            }
                        });
                    }
                }, { title: "Delete Email" });
                $(".boxyInner").addClass("popup");
            }
        };
    </script>
}