﻿@{
    Layout = null;
    IMeet.IBT.Services.SupplierService supplyService = new IMeet.IBT.Services.SupplierService();
    int indexId = 0;
    int supplyId = 0;
    string ImgSrc = "/App/images/photos/img_W110.jpg";
    string txtDesc = "";
    if (Request.QueryString["indexId"].ToString() != "")
    {
        indexId = Convert.ToInt32(Request.QueryString["indexId"].ToString());
        ImgSrc = supplyService.GetIndexSupplyInfo(indexId).ImgSrc;
        txtDesc = supplyService.GetIndexSupplyInfo(indexId).Desp;
        supplyId = supplyService.GetIndexSupplyInfo(indexId).ObjId;
    }
}
<script src="/App/js/jSupplier.js"></script>
<link href="/App/js/uploadify/uploadify.css" rel="stylesheet" />
<script src="/App/js/uploadify/jquery.uploadify.min.js"></script>
<script type="text/javascript">
    function Save() {
        LandingManage.Save($("#hidIndexId").val());
    }
</script>
<input id="UserId" name="UserId" type="hidden" value="@User.Identity.Name" />
<input type="hidden" id="hidIndexId" value="@indexId" />
<input type="hidden" id="hidSupplyId" value="@supplyId" />
<input id="imgSave" name="imgSave" type="hidden" value="@ImgSrc"/>
<div id="UploadNewImg">
    <div class="W600 popupMain">
        <div class="postBox grayBox">
            <form name="addNewDesform">
                <ul class="form">
                    <li class="titleBar">UPLOAD IMAGE
                    </li>
                    <li class="formLi">
                        <label class="title">Images</label>: 
                        <span class="rightCol">
                            <input type="file" id="upload" name="upload" style="display: none;" />
                            <div class="inlineBox">
                                <input type="image" id="uploadImage" name="uploadImage" onclick="document.getElementById('upload').click();" src="/App/images/button/file.gif" />
                            </div>
                            <br />
                            <span class="C31AEE3 italic">Please upload 430 * 282 pixels</span>
                            @*<div class="uploadBg"><div style=" background:url(images/button/file.gif) left top no-repeat; height:32px; width:279px;"></div></div>*@
                            <span class="imgBg">
                                <img src="@ImgSrc" alt="Image name" id="imgPreview" style="max-height: 103px; max-width: 270px;"/>
                            </span>
                        </span>
                    </li>
                    <li class="formLi lastForm">
                        <label class="title alignM">Describe</label>: <span class="rightCol alignM" style="z-index: 0;">
                            <textarea id="txtDesc">@txtDesc</textarea>
                        </span>
                    </li>
                    <li>
                        <div class="btn">
                            <a class="btnBlueH45 mR5" href="javascript:void(0);" onclick="Save();"><span class="bg">Submit</span></a>
                            <a class="btnBlueH45 close"><span class="bg">Cancel</span></a>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>



