﻿@{
    IMeet.IBT.DAL.Email email = (IMeet.IBT.DAL.Email)ViewBag.Email;
    IMeet.IBT.DAL.Models.UserTravelBadge ubt = (IMeet.IBT.DAL.Models.UserTravelBadge)ViewBag.ubt;

    string savename = ubt.User.UserId.ToString() + "_100.jpg";
    string path = "/Staticfile/Avatar/" + (ubt.User.UserId / 1000) + "/" + ubt.User.UserId.ToString() + "/";
    string avatarpath = path + savename;
    if (string.IsNullOrEmpty(ubt.User.Profile.ProfileImage))
    {
        avatarpath = "/Staticfile/Avatar/icon/9ab2285b_100.jpg"; //默认图片
    }
    string height = "auto";
    if (string.IsNullOrEmpty(email.Logo))
    {
        height = "20px";
        //email.Logo = @"/images/notactivate/logo_ibt.jpg";
    }
    string emailContent = string.Empty;//EDM
    if (email != null && !String.IsNullOrWhiteSpace(email.Content))
    {
        emailContent = email.Content.Replace(" (Le+|-(((w4+---====r-GQ ", "");
    }
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Weekly Badges Update - Active Badges</title>
</head>

<body>
    <table cellpadding="0" cellspacing="0" border="0" align="center" width="600px" height="auto" bgcolor="#fff">
        <tr height="30px" bgcolor="#fff">
            <td width="100%" style="color: #666; font: 12px/14px Arial, Helvetica, sans-serif; text-align: center; background-color: #fff;">
                <span>If this newsletter is not displaying correctly, please <a href="/admin/home/viewnewemail/@email.EmailId" style="color: #ff0002;" target="_blank">Click Here</a>.</span>
            </td>
        </tr>

        <!-- Header -->

        <tr height="auto">
            <td width="100%">
                <table width="600px" height="auto" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff" style="border:none;">
                    <tr height="16px"><td width="100%" style="background-color:#ffffff;width:600px;height:16px;padding:0;display:block;text-decoration:none;border:none;outline:none;"></td></tr>

                    <tr height="auto">
                        <td width="100%">
                            <table width="600px" height="auto" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff" style="background-color:#1C95C9;">
                                <tr height="40px">
                                    <td width="28px" style="width:28px;height:40px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;"></td>
                                    <!-- col 1 -->
                                    <td width="40px" style="width:40px;height:40px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;"><span style="background-color:#f2f2f2;width:38px;height:38px;padding:0;display:block;text-decoration:none;outline:none;border:1px solid #d2d2d2;overflow:hidden;"><img src="@avatarpath" width="100%" height="auto" alt="Profile Photo" style="width:38px;height:auto;padding:0;display:block;text-decoration:none;border:none;outline:none;" /></span></td>
                                    <td width="90px" style="width:90px;height:40px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;"><span style="width:76px;height:auto;padding:0 0 0 14px;display:block;text-decoration:none;border:none;outline:none;font:16px/18px Arial, Helvetica, sans-serif;text-align:left;color:#ffffff;">@ubt.User.Profile.Firstname</span></td>
                                    <!-- col 2 -->
                                    <td width="62px" style="width:62px;height:40px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;"><span style="width:58px;height:auto;padding: 0;display:block;text-decoration:none;border:none;outline:none;font:16px/18px Arial, Helvetica, sans-serif;text-align:right;color:#ffffff;">@ubt.UserPermanentPoint.CountryNumber</span></td>
                                    <td width="88px" style="width:88px;height:40px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;"><span style="color:#ffffff;font:16px/18px Arial,Helvetica,sans-serif">Countries</span></td>
                                    <!-- col 3 -->
                                    <td width="70px" style="width:70px;height:40px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;"><span style="width:66px;height:auto;padding: 0;display:block;text-decoration:none;border:none;outline:none;font:16px/18px Arial, Helvetica, sans-serif;text-align:right;color:#ffffff;">@ubt.UserPermanentPoint.CityNumber.ToString()</span></td>
                                    <td width="59px" style="width:59px;height:40px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;"><span style="color:#ffffff;font:16px/18px Arial,Helvetica,sans-serif">Cities</span></td>
                                    <!-- col 4 -->
                                    <td width="70px" style="width:70px;height:40px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;"><span style="width:66px;height:auto;padding: 0;display:block;text-decoration:none;border:none;outline:none;font:16px/18px Arial, Helvetica, sans-serif;text-align:right;color:#ffffff;">@ubt.UserPermanentPoint.PlacesNumber.ToString()</span></td>
                                    <td width="93px" style="width:93px;height:40px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;"><span style="color:#ffffff;font:16px/18px Arial,Helvetica,sans-serif">Venues</span></td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr height="16px"><td width="100%" style="background-color:#ffffff;width:600px;height:16px;padding:0;display:block;text-decoration:none;border:none;outline:none;"></td></tr>
                </table>
            </td>
        </tr>

        <!-- [Contents] - body of contents -->


        <tr height="auto">
            <td width="100%" align="left" bgcolor="#FFFFFF" style="width: 600px; height: auto; padding: 0; border: none; outline: none;">
                <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff" style="margin-top: 10px;">
                    <tr height="auto">
                        @*<td width="55px" style="background-color: #ffffff; width: 55px; padding: 0; display: table-cell; border: none; outline: none;"></td>*@
                        <td style="background-color: #ffffff; height: auto; padding: 0; display: table-cell; border: none; outline: none;">
                            @*<a href="http://www.ive-been-there.com/" target="_blank" style="max-height: 100px; padding: 0; display: block; text-decoration: nnoe; border: none; outline: none;">
                                <img src="@email.Logo" alt="I've Been There" border="1" style="width: @width; max-height: 100px; padding: 0; display: block; text-decoration: none; border: none; outline: none;" />
                            </a>*@
                            <p style="display: block; padding: 0; padding-left: 5px; padding-right: 18px; font-size: 12px; font-weight: normal; text-transform: none; text-align: left; line-height: normal; color: #9d9d9d; height:@height">
                                @Html.Raw(email.Logo == null ? "" : email.Logo)
                            </p>
                        </td>
                        <td style="background-color: #ffffff; padding: 0; display: table-cell; border: none; outline: none;"></td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- [Contents] - header -->
        <!-- [Contents] - contents -->
        <tr height="auto">
            <td width="100%" style="width: 600px; height: auto; padding: 0; border: none; outline: none;">
                <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff">
                    <tr height="auto">
                        <!--<td width="48px" style="background-color: #ffffff; width: 48px; height: auto; padding: 0; display: table-cell; border: none; outline: none;"></td>-->
                        <td width="600px" style="background-color: #ffffff; width: 600px; height: auto; padding: 0; display: table-cell; border: none; outline: none; font-family: Arial, Helvetica, sans-serif;">
                            <h1 style="text-align: left; padding: 0; padding-left: 5px; font-size: 25px; width: 100%; line-height: 28px; font-weight: normal; text-transform: capitalize; color: #31aee3;">@email.Title</h1>
                            <p style="display: block; padding: 0; padding-left: 5px; padding-right: 18px; font-size: 12px; font-weight: normal; text-transform: none; text-align: left; line-height: normal; color: #9d9d9d;">
                                @Html.Raw(emailContent == null ? "" : emailContent)
                            </p>
                        </td>
                        <!--<td width="48px" style="background-color: #ffffff; width: 48px; height: auto; padding: 0; display: table-cell; border: none; outline: none;"></td>-->
                    </tr>
                </table>
            </td>
        </tr>
        <!--Portin to be made as optional-->
        <!--<tr height="137px">
            <td width="100%" style="background-color: #ffffff; width: 600px; height: 137px; padding: 0; border: none; outline: none;">
                <img src="/images/notactivate/images_13.jpg" width="600" height="137" alt="MEETING PROFESSIONAL BADGE, The industry's only EXPERIENTAL MEETINGS BADGE brought to you by i-Meet and American Express Meetings & Events." style="width: 600px; height: 137; padding: 0; display: block; text-decoration: none; border: none; outline: none;" />
            </td>
        </tr>

        <tr height="48px">
            <td width="100%" style="background-color: #fefefe; width: 600px; height: 48px; padding: 0; border: none; outline: none;">
                <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#fefefe">
                    <tr height="48px">
                        <td width="230px" style="width: 230px; height: 48px; padding: 0; display: table-cell; border: none; outline: none;">
                            <img src="/images/notactivate/images_14.jpg" width="230" height="48" alt="" style="width: 230px; height: 48px; padding: 0; display: block; text-decoration: none; border: none; outline: none;" />
                        </td>-->
                        <!-- [Button] - Active Now -->
                        <!--<td width="171px" style="width: 171px; height: 48px; padding: 0; display: table-cell; border: none; outline: none;">
                            <a href="/Account/PointSummary" target="_blank" style="width: 171px; height: 48px; padding: 0; display: block; text-decoration: none; border: none; outline: none;">
                                <img src="/images/notactivate/btn_active_now.jpg" width="171" height="48" alt="ACTIVE NOW" style="width: 171px; height: 48px; padding: 0; display: block; text-decoration: none; border: none; outline: none;" />
                            </a>
                        </td>
                        <td width="3px" style="width: 3px; height: 48px; padding: 0; display: table-cell; border: none; outline: none;">
                            <img src="/images/notactivate/images_15.jpg" width="3" height="48" alt="" style="width: 3px; height: 48px; padding: 0; display: block; text-decoration: none; border: none; outline: none;" />
                        </td>-->
                        <!-- [Button] - Post More Visists -->
                        <!--<td width="182px" style="width: 182px; height: 48px; padding: 0; display: table-cell; border: none; outline: none;">
                            <a href="/Supplier/TravelsAdd" target="_blank" style="width: 182px; height: 48px; padding: 0; display: block; text-decoration: none; border: none; outline: none;">
                                <img src="/images/notactivate/btn_post_more_visits.jpg" width="182" height="48" alt="POST MORE VISITS" style="width: 182px; height: 48px; padding: 0; display: block; text-decoration: none; border: none; outline: none;" />
                            </a>
                        </td>
                        <td width="14px" style="width: 14px; height: 48px; padding: 0; display: table-cell; border: none; outline: none;">
                            <img src="/images/notactivate/images_16.jpg" width="14" height="48" alt="" style="width: 14px; height: 48px; padding: 0; display: block; text-decoration: none; border: none; outline: none;" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
                            
        <tr height="48px">
            <td width="100%" style="background-color: #ffffff; width: 600px; height: 48px; padding: 0; border: none; outline: none;">
                <img src="/images/notactivate/images_17.jpg" width="600" height="48" alt="" style="width: 600px; height: 48px; padding: 0; display: block; text-decoration: none; border: none; outline: none;" />
            </td>
        </tr>-->

        <tr>
            <td width="100%" style="background-image:url('http://www.ive-been-there.com/images/notactivate/Badge_btn.jpg'); width: 600px; height: 94px; padding: 0; border: none; outline: none; float: right;">
                <div style="width:580px; height: 29px; margin-top:13px; margin-right:15px">
                    <a href="/Account/PointSummary" style="float:right;height:29px; "><img src="http://www.ive-been-there.com/images/notactivate/Active_btn.jpg" style="width:100%;height:29px;float:right;" /></a>
                </div>
                <div style="width:580px; height: 29px; margin-top:8px;margin-right:15px">
                    <a href="/Supplier/Travels" style="float:right; "><img src="http://www.ive-been-there.com/images/notactivate/post_btn.jpg" style="width:100%;height:29px; float:right;" /></a>
                </div>
            </td>
        </tr>

        
        <!--Portin to be made as optional-->
        <!-- Footer -->
        <tr height="auto">
            <td width="100%" style="background-color: #ffffff; width: 600px; height: auto; padding: 0; border: none; outline: none;">
                <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff">
                    <tr height="auto">
                        <td width="22px" style="background-color: #ffffff; width: 22px; height: auto; padding: 0; display: table-cell; border: none; outline: none;"></td>
                        <td width="556px" style="background-color: #ffffff; width: 556px; height: auto; padding: 0; display: table-cell; border: none; outline: none; font-family: Arial, Helvetica, sans-serif;">
                            <p style="height: auto; padding: 0; padding-left: 5px; display: block; text-decoration: none; border: none; outline: none; font-size: 11px; font-weight: normal; line-height: normal; text-align: left; color: #9d9d9d;">Important Note About Privacy: No personal contact information is visible within I've Been There so your privacy is always protected. We always respect your wishes. If for any reason you do not wish to be included in our online community, choose Update Settings/Profile to change your preference or de-activate your account.</p>
                        </td>
                        <td width="22px" style="background-color: #ffffff; width: 22px; height: auto; padding: 0; display: table-cell; border: none; outline: none;"></td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr height="10px">
            <td width="100%" style="background-color: #ffffff; width: 600px; height: 10px; padding: 0; border: none; outline: none;"></td>
        </tr>

        <!--<tr height="auto">
            <td width="100%" style="background-color: #ffffff; width: 600px; height: auto; padding: 0; border: none; outline: none;">
                <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff">
                    <tr height="auto">
                        <td width="22px" style="background-color: #ffffff; width: 22px; height: auto; padding: 0; display: table-cell; border: none; outline: none;"></td>
                        <td width="556px" style="background-color: #ffffff; width: 556px; height: auto; padding: 0; display: table-cell; border: none; outline: none; font-family: Arial, Helvetica, sans-serif;">
                            <p style="height: auto; padding: 0; padding-left: 5px; display: block; text-decoration: none; border: none; outline: none; font-size: 11px; font-weight: normal; line-height: normal; text-align: left; color: #9d9d9d;">
                                Visit <a href="http://www.ive-been-there.com/" target="_blank" style="display: inline-block; text-decoration: none; border: none; outline: none; color: #9d9d9d;">www.Ive-Been-There.com</a> | <a href="/PrivacyPolicy" target="_blank" style="display: inline-block; text-decoration: none; border: none; outline: none; color: #9d9d9d;">Privacy Statement</a> | <a href="/Account/AccountSetting" target="_blank" style="display: inline-block; text-decoration: none; border: none; outline: none; color: #9d9d9d;">Update Settings/Profile</a>
                            </p>
                        </td>
                        <td width="22px" style="background-color: #ffffff; width: 22px; height: auto; padding: 0; display: table-cell; border: none; outline: none;"></td>
                    </tr>
                </table>
            </td>
        </tr>-->

        <tr>
            <td>
                <div>
                    <p style="height: auto; padding-top: 15px; padding-bottom: 15px; display: block; text-decoration: none; border: none; outline: none; text-align: center;font-size: 12px; font-weight: bold; line-height: normal; background-color:#1C95C9; color: #ffffff;">
                        Visit <a href="http://www.ive-been-there.com/" target="_blank" style="display: inline-block; text-decoration: none; border: none; outline: none; color: #ffffff;">www.Ive-Been-There.com</a> | <a href="/PrivacyPolicy" target="_blank" style="display: inline-block; text-decoration: none; border: none; outline: none; color: #ffffff;">Privacy Statement</a> | <a href="/Account/AccountSetting" target="_blank" style="display: inline-block; text-decoration: none; border: none; outline: none; color: #ffffff;">Update Settings/Profile</a>
                        | <a href="/Account/unsubscribe?key={Key}" target="_blank" style="display: inline-block; text-decoration: none; border: none; outline: none; color: #ffffff;">Email Unsubscribe</a>
                    </p>
                </div>
            </td>
        </tr>

        <!-- Padding Bottom -->
        <tr height="18px">
            <td width="100%" style="background-color: #ffffff; width: 600px; height: 18px; padding: 0; border: none; outline: none;"></td>
        </tr>
        <!--<tr>
            <td>
                <div>
                    <p style="font-family: Arial; font-size: 8pt; color: #c0c0c0;">
                        “American Express Meetings & Events” is a service provided by American Express Global Business Travel (“GBT”). GBT is a joint venture that is not
                        wholly-owned by American Express Company or any of its subsidiaries (“American Express”). “American Express Global Business Travel”, “American Express” and the American Express logo are trademarks of American Express, and are used under limited license.
                        <br />
                    </p>
                </div>
            </td>
        </tr>-->
    </table>
</body>
</html>
