﻿@{
    Layout = null;
    var emailContent = ViewBag.emailObj.Content.Split(new string[] { " (Le+|-(((w4+---====r-GQ " }, StringSplitOptions.None);
    //var emailObj = ViewBag.emailObj;

    var surveyLogo = ViewBag.emailObj.Logo != "" ? ViewBag.emailObj.Logo : "/images/activate/logo_ibt_survey.jpg";
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>I've Been There</title>
</head>

<body style="background-color:#ffffff;text-align:center;">
    @*<form action="/admin/home/viewsurvey" method="post">*@
        <form>

            <table width="600px" height="auto" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff">

                <!-- Header -->
                @*<tr height="auto">
                    <td width="100%">
                        <table width="600px" height="auto" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff" style="border:none;border-bottom:2px solid #e7e7e7;">
                            <tr height="16px"><td width="100%" style="background-color:#ffffff;width:600px;height:16px;padding:0;display:block;text-decoration:none;border:none;outline:none;"></td></tr>

                            <tr height="auto">
                                <td width="100%">
                                    <table width="600px" height="auto" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff">
                                        <tr height="40px">
                                            <td width="28px" style="background-color:#ffffff;width:28px;height:40px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;"></td>
                                            <!-- col 1 -->
                                            <td width="40px" style="width:40px;height:40px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;"><span style="background-color:#f2f2f2;width:38px;height:38px;padding:0;display:block;text-decoration:none;outline:none;border:1px solid #d2d2d2;overflow:hidden;"><img src="{AlphaSiteUrl}{ProfilePic}" width="100%" height="auto" alt="Profile Photo" style="width:38px;height:auto;padding:0;display:block;text-decoration:none;border:none;outline:none;" /></span></td>
                                            <td width="90px" style="background-color:#ffffff;width:90px;height:40px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;"><span style="width:76px;height:auto;padding:4px 0 0 14px;display:block;text-decoration:none;border:none;outline:none;font:14px/16px Arial, Helvetica, sans-serif;text-align:left;color:#207ca3;">{UserName}</span></td>
                                            <!-- col 2 -->
                                            <td width="62px" style="background-color:#ffffff;width:62px;height:40px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;"><span style="width:58px;height:auto;padding:4px 4px 0 0;display:block;text-decoration:none;border:none;outline:none;font:16px/18px Arial, Helvetica, sans-serif;font-weight:bold;text-align:right;color:#5c94ae;">{CountryNumber}</span></td>
                                            <td width="88px" style="background-color:#ffffff;width:88px;height:40px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;"><img src="ive-been-there.com/app/images/survey/head_countries.jpg" width="88" height="40" alt="Countries" style="width:88px;height:40px;padding:0;display:block;text-decoration:none;border:none;outline:none;" /></td>
                                            <!-- col 3 -->
                                            <td width="70px" style="background-color:#ffffff;width:70px;height:40px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;"><span style="width:66px;height:auto;padding:4px 4px 0 0;display:block;text-decoration:none;border:none;outline:none;font:16px/18px Arial, Helvetica, sans-serif;font-weight:bold;text-align:right;color:#5c94ae;">{CityNumber}</span></td>
                                            <td width="59px" style="background-color:#ffffff;width:59px;height:40px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;"><img src="ive-been-there.com/app/images/survey/head_cities.jpg" width="59" height="40" alt="Cities" style="width:59px;height:40px;padding:0;display:block;text-decoration:none;border:none;outline:none;" /></td>
                                            <!-- col 4 -->
                                            <td width="70px" style="background-color:#ffffff;width:70px;height:40px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;"><span style="width:66px;height:auto;padding:4px 4px 0 0;display:block;text-decoration:none;border:none;outline:none;font:16px/18px Arial, Helvetica, sans-serif;font-weight:bold;text-align:right;color:#5c94ae;">{PlacesNumber}</span></td>
                                            <td width="93px" style="background-color:#ffffff;width:93px;height:40px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;"><img src="ive-been-there.com/app/images/survey/head_venues.jpg" width="93" height="40" alt="Countries" style="width:93px;height:40px;padding:0;display:block;text-decoration:none;border:none;outline:none;" /></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr height="16px"><td width="100%" style="background-color:#ffffff;width:600px;height:16px;padding:0;display:block;text-decoration:none;border:none;outline:none;"></td></tr>
                        </table>
                    </td>
                </tr>*@



                <!-- Content -->
                <!--<tr height="155px"><td width="100%" style="width:600px;height:155px;padding:0;display:block;text-decoration:none;border:none;outline:none;"><img src="alpha.ibt.i-meet.com{Logo}" width="600" height="155" alt="I've Been There" style="width:600px;height:155px;padding:0;display:block;text-decoration:none;border:none;outline:none;" /></td></tr>-->

                <tr height="auto">
                    <td width="100%">
                        <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" height="auto" bgcolor="#ffffff">
                            <tr height="135px">
                                <td width="237px" style="width:237px;height:135px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;"><img src="/App/images/survey/img_column01.jpg" width="237" height="135" alt="" style="width:237px;height:135px;padding:0;display:block;text-decoration:none;border:none;outline:none;" /></td>
                                <td width="126px" style="width:126px;height:135px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;">
                                    <span style="width:126px;height:126px;padding:9px 0 0 0;display:block;text-decoration:none;border:none;outline:none;">
                                        <span style="background-color:#f7f7f7;width:122px;height:122px;padding:2px;display:block;text-decoration:none;border:none;outline:none;"><img src="@surveyLogo" alt="client's logo" style="max-width:122px;max-height:122px;padding:0;display:block;text-decoration:none;border:none;outline:none;" /></span>
                                    </span>
                                </td>
                                <td width="237px" style="width:237px;height:135px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;"><img src="/App/images/survey/img_column01.jpg" width="237" height="135" alt="" style="width:237px;height:135px;padding:0;display:block;text-decoration:none;border:none;outline:none;" /></td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr height="20px"><td width="100%" style="background-color:#f7f7f7;width:600px;height:20px;padding:0;display:block;text-decoration:none;border:none;outline:none;"></td></tr>



                <tr height="auto">
                    <td width="100%" style="background-color:#f7f7f7;width:600px;height:auto;padding:0;display:block;text-decoration:none;border:none;outline:none;">
                        <span style="padding:0 0 12px 30px;display:block;text-decoration:none;border:none;outline:none;font:26px/28px Arial, Helvetica, sans-serif;text-align:left;color:#16a1ce;">@ViewBag.emailObj.Title</span>
                        <span style="padding:0 30px 4px 30px;display:block;text-decoration:none;border:none;outline:none;font:14px/16px Arial, Helvetica, sans-serif;text-align:left;color:#7b7b7b;">
                            @Html.Raw(ViewBag.Content1)
                            <!--It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.-->
                        </span>
                    </td>
                </tr>

                <tr height="22px"><td width="100%" style="width:600px;height:22px;padding:0;display:block;text-decoration:none;border:none;outline:none;"><img src="/app/images/survey/img_division.jpg" width="600" height="22" alt="" style="width:600px;height:22px;padding:0;display:block;text-decoration:none;border:none;outline:none;" /></td></tr>

                <tr height="auto"><td width="100%" style="width:600px;height:auto;padding:0;display:block;text-decoration:none;border:none;outline:none;"><span style="background-color:#f7f7f7;width:570px;height:auto;padding:4px 0 10px 30px;display:block;text-decoration:none;border:none;outline:none;font:16px/18px Arial, Helvetica, sans-serif;text-align:left;color:#16a1ce;">Have you been to these places? Let us know!</span></td></tr>

                <!-- rating & checkbox -->
                <tr height="auto">
                    <td width="100%">
                        <input type="hidden" name="uid" value="@ViewBag.userIdEncrypted" hidden="hidden" />
                        <input type="hidden" name="eid" value="@ViewBag.emailObj.EmailId" hidden="hidden" />
                        <table width="600px" height="auto" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#f7f7f7">
                            @Html.Raw(ViewBag.placesList)
                        </table>
                    </td>
                </tr>

                <tr height="auto">
                    <td width="100%">
                        <table width="600px" height="auto" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#f7f7f7">
                            <tr height="40px">
                                <td width="40px" style="background-color:#f7f7f7;width:40px;height:40px;padding:24px 0 8px 0;display:table-cell;text-decoration:none;border:none;outline:none;"></td>
                                <!--<td width="240px" style="background-color:#f7f7f7;width:240px;height:40px;padding:24px 0 8px 0;display:table-cell;text-decoration:none;border:none;outline:none;"><a href="" target="_blank" style="background-color:#f7f7f7;width:240px;height:40px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;"><img src="ive-been-there.com/app/images/survey/btn_postrated.jpg" width="240" height="40" alt="POST RATED DESTINATIONS" /></a></td>-->
                                <!--<td width="240px" style="background-color:#f7f7f7;width:240px;height:40px;padding:24px 0 8px 0;display:table-cell;text-decoration:none;border:none;outline:none;"><a href="" target="_blank" style="background-color:#f7f7f7;width:240px;height:40px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;"><input type="submit" style="background-image:url('ive-been-there.com/app/images/survey/btn_postrated.jpg');" width="240" height="40" alt="POST RATED DESTINATIONS" /></a></td>-->

                                <td width="240px" style="background-color:#f7f7f7;width:240px;height:40px;padding:24px 0 8px 0;display:table-cell;text-decoration:none;border:none;outline:none;"><a href="javascript:void(0)" target="_blank" style="background-color:#f7f7f7;width:240px;height:40px;padding:0;display:block;text-decoration:none;border:none;outline:none;"><input type="button" onclick="ibt.loadUrlPop('/account/login','Get','',function(){$('#pop_login').bValidator({singleError:true});  $('.boxyInner').addClass('popup');inputText();},'Login');" value="POST CHOSEN DESTINATIONS" style="background-color:#16a1ce;width:240px;height:40px;padding:0;display:block;text-decoration:none;border:none;outline:none;font:14px/16px Arial, Helvetica, sans-serif;text-align:center;color:#ffffff;-khtml-border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;-ms-border-radius:8px;-o-border-radius:8px;border-radius:8px;cursor:pointer;" /></a></td>

                                <td width="40px" style="background-color:#f7f7f7;width:40px;height:40px;padding:24px 0 8px 0;display:table-cell;text-decoration:none;border:none;outline:none;"></td>
                                <td width="240px" style="background-color:#f7f7f7;width:20px;height:40px;padding:24px 0 8px 0;display:table-cell;text-decoration:none;border:none;outline:none;"><a href="/Supplier/TravelsAdd?key=@ViewBag.userIdEncrypted" target="_blank" style="background-color:#f7f7f7;width:240px;height:40px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;"><img src="/app/images/survey/btn_findmore.jpg" width="240" height="40" alt="FIND MORE DESTINATIONS" /></a></td>
                                <td width="40px" style="background-color:#f7f7f7;width:40px;height:40px;padding:24px 0 8px 0;display:table-cell;text-decoration:none;border:none;outline:none;"></td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr height="22px"><td width="100%" style="background-color:#f7f7f7;width:600px;height:22px;padding:0;display:block;text-decoration:none;border:none;outline:none;"><img src="/app/images/survey/img_division.jpg" width="600" height="22" alt="" style="width:600px;height:22px;padding:0;display:block;text-decoration:none;border:none;outline:none;" /></td></tr>

                <tr height="auto">
                    <td width="100%" style="background-color:#f7f7f7;width:600px;height:auto;padding:0;display:block;text-decoration:none;border:none;outline:none;">
                        <span style="background-color:#f7f7f7;width:auto;height:auto;padding:8px 30px 24px 30px;display:block;text-decoration:none;border:none;outline:none;font:14px/16px Arial, Helvetica, sans-serif;text-align:left;color:#7b7b7b;">
                            @Html.Raw(ViewBag.Content2)
                            <!--It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. <br /><br />Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.-->
                        </span>
                    </td>
                </tr>

                @*<tr height="auto">
                    <td width="100%">
                        <table width="600px" height="auto" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#e2e2e2">
                            <tr height="154px">
                                <td width="273px" style="width:273px;height:154px;pading:0;display:table-cell;text-decoration:none;border:none;outline:none;"><img src="http://ive-been-there.com/app/images/survey/logo_meetprof.jpg" width="273" height="154" alt="i-Meet, MEETING PROFESSIONAL, AMERICAN EXPRESS MEETING & EVENTS" style="width:273px;height:154px;pading:0;display:block;text-decoration:none;border:none;outline:none;" /></td>

                                <td width="297px" style="background-color:#e2e2e2;width:327px;height:154px;padding:0 0 0 30px;display:table-cell;text-decoration:none;border:none;outline:none;">
                                    <table width="297px" height="154px" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#e2e2e2">
                                        <tr height="94px">
                                            <td width="200px" style="width:200px;height:94px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;">
                                                <span style="width:200px;height:auto;padding:20px 0 14px 0;display:block;text-decoration:none;border:none;outline:none;font:12px/14px Arial, Helvetica, sans-serif;font-weight:bold;text-transform:uppercase;text-align:center;color:#a1a1a1;">MEETING PROFESSIONAL BADGE</span>
                                                <span style="width:200px;height:auto;padding:0;display:block;text-decoration:none;border:none;outline:none;font:20px/22px Arial, Helvetica, sans-serif;font-weight:bold;text-transform:uppercase;text-align:center;color:#16a1ce;"><span style="font-size:38px;">{TotalPoints}</span>&nbsp;PTS</span>
                                            </td>

                                            <td width="97px" style="background-color:#e2e2e2;width:97px;height:40px;padding:0 0 20px 0;display:table-cell;text-decoration:none;border:none;outline:none;"></td>
                                        </tr>

                                        <tr height="auto">
                                            <td width="200px" style="width:200px;height:40px;padding:0 0 20px 0;display:table-cell;text-decoration:none;border:none;outline:none;"><a href="http://alpha.ibt.i-meet.com/Account/PointSummary?key={Key}" target="_blank" style="width:200px;height:40px;padding:0;display:block;text-decoration:none;border:none;outline:none;"><img src="http://ive-been-there.com/app/images/survey/btn_viewpoint.jpg" width="200" height="40" style="width:200px;height:40px;padding:0;display:block;text-decoration:none;border:none;outline:none;" /></a></td>
                                            <td width="97px" style="background-color:#e2e2e2;width:97px;height:40px;padding:0 0 20px 0;display:table-cell;text-decoration:none;border:none;outline:none;"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>*@

                <!-- Footer -->
                @*<tr height="auto">
                    <td width="100%" style="background-color: #ffffff; width: 600px; height: auto; padding: 0; border: none; outline: none;">
                        <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff">
                            <tr height="auto">
                                <td width="22px" style="background-color: #ffffff; width: 22px; height: auto; padding: 0; display: table-cell; border: none; outline: none;"></td>
                                <td width="556px" style="background-color: #ffffff; width: 556px; height: auto; padding: 0; display: table-cell; border: none; outline: none; font-family: Arial, Helvetica, sans-serif;">
                                    <p style="height: auto; padding: 0; padding-left: 5px; display: block; text-decoration: none; border: none; outline: none; font-size: 11px; font-weight: normal; line-height: normal; text-align: left; color: #9d9d9d;">Important Note About Privacy: No personal contact information is visible within I've Been There so your privacy is always protected. We always respect your wishes. If for any reason you do not wish to be included in our online community, choose Update Settings/Profile to change your preference or de-activate your account.</p>
                                </td>
                                <td width="22px" style="background-color: #ffffff; width: 22px; height: auto; padding: 0; display: table-cell; border: none; outline: none;"></td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr height="10px">
                    <td width="100%" style="background-color: #ffffff; width: 600px; height: 10px; padding: 0; border: none; outline: none;"></td>
                </tr>

                <tr height="auto">
                    <td width="100%" style="background-color: #ffffff; width: 600px; height: auto; padding: 0; border: none; outline: none;">
                        <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff">
                            <tr height="auto">
                                <td width="22px" style="background-color: #ffffff; width: 22px; height: auto; padding: 0; display: table-cell; border: none; outline: none;"></td>
                                <td width="556px" style="background-color: #ffffff; width: 556px; height: auto; padding: 0; display: table-cell; border: none; outline: none; font-family: Arial, Helvetica, sans-serif;">
                                    <p style="height: auto; padding: 0; padding-left: 5px; display: block; text-decoration: none; border: none; outline: none; font-size: 11px; font-weight: normal; line-height: normal; text-align: left; color: #9d9d9d;">
                                        Visit <a href="http://www.ive-been-there.com/" target="_blank" style="display: inline-block; text-decoration: none; border: none; outline: none; color: #9d9d9d;">www.Ive-Been-There.com</a> | <a href="{AlphaSiteUrl}/PrivacyPolicy" target="_blank" style="display: inline-block; text-decoration: none; border: none; outline: none; color: #9d9d9d;">Privacy Statement</a> | <a href="{AlphaSiteUrl}/Account/AccountSetting" target="_blank" style="display: inline-block; text-decoration: none; border: none; outline: none; color: #9d9d9d;">Update Settings/Profile</a>
                                        | <a href="http://alpha.ibt.i-meet.com/Account/unsubscribe?key={Key}" target="_blank" style="display: inline-block; text-decoration: none; border: none; outline: none; color: #9d9d9d;">Email Unsubscribe</a>
                                    </p>
                                </td>
                                <td width="22px" style="background-color: #ffffff; width: 22px; height: auto; padding: 0; display: table-cell; border: none; outline: none;"></td>
                            </tr>
                        </table>
                    </td>
                </tr>*@

                <!-- Padding Bottom -->
                <tr height="18px">
                    <td width="100%" style="background-color: #ffffff; width: 600px; height: 18px; padding: 0; border: none; outline: none;"></td>
                </tr>

                <tr>
                    <td>
                        <div>
                            <span style="font-family: Arial; font-size: 8pt; color: #c0c0c0;">
                                “American Express Meetings & Events” is a service provided by American Express Global Business Travel (“GBT”). GBT is a joint venture that is not
                                wholly-owned by American Express Company or any of its subsidiaries (“American Express”). “American Express Global Business Travel”, “American Express” and the American Express logo are trademarks of American Express, and are used under limited license.
                                <br />
                            </span>
                        </div>
                    </td>
                </tr>
            </table>
        </form>

    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link href="/js/boxy/boxy.css" rel="stylesheet" />
    @* <link type="text/css" href="/js/bvalidator/bvalidator.css" rel="stylesheet" />*@
    <link href="/js/bvalidator/signupstyle.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>

    @*<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>*@
    @*<script type="text/javascript" src="/js/jquery-ui-1.9.0.custom.min.js"></script>*@
    <script type="text/javascript" src="/js/scroll.js"></script>
    <script type="text/javascript" src="/js/boxy/jquery.boxy.js"></script>
    <script type="text/javascript" src="/js/ibt.js?v=1.0"></script>
    <script type="text/javascript" src="/js/effect.js?v=1.0"></script>
    <script type="text/javascript" src="/js/bvalidator/jquery.bvalidator.js"></script>
    @* <script type="text/javascript" src="/js/bvalidator/jquery.bvalidator-yc.js"></script>*@
    <script type="text/javascript" src="/js/jquery.raty.min.js"></script>
    <script type="text/javascript" src="/js/uploadify/jquery.uploadify.min.js"></script>
    


    <script>
    function loginPopUp() {
        alert('popUp!!');
    }
    </script>
</body>
</html>

