﻿@{
    IMeet.IBT.DAL.Email email = (IMeet.IBT.DAL.Email)ViewBag.Email;
    IMeet.IBT.DAL.Models.UserTravelBadge ubt = (IMeet.IBT.DAL.Models.UserTravelBadge)ViewBag.ubt;

    string savename = ubt.User.UserId.ToString() + "_100.jpg";
    string path = "/Staticfile/Avatar/" + (ubt.User.UserId / 1000) + "/" + ubt.User.UserId.ToString() + "/";
    string avatarpath = path + savename;
    if (string.IsNullOrEmpty(ubt.User.Profile.ProfileImage))
    {
        avatarpath = "/Staticfile/Avatar/icon/9ab2285b_100.jpg"; //默认图片
    }
    string width = "auto";
    if (string.IsNullOrEmpty(email.Logo))
    {
        width = "0px";
        email.Logo = @"/images/notactivate/logo_ibt.jpg";
    }
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Weekly Badges Update - Active Badges</title>
</head>

<body>
    <table cellpadding="0" cellspacing="0" border="0" align="center" width="600px" height="auto" bgcolor="#fff">
        <tr height="30px" bgcolor="#fff">
            <td width="100%" style="color: #666; font: 12px/14px Arial, Helvetica, sans-serif; text-align: center; background-color: #fff;">
                <span>If this newsletter is not displaying correctly, please <a href="/admin/home/viewemail/@email.EmailId" style="color: #ff0002;" target="_blank">Click Here</a>.</span>
            </td>
        </tr>

        <!-- Header -->

        <tr height="40px">
            <td width="100%" style="width: 600px; height: 40px; padding: 0; text-decoration: none; border: none; outline: none;">
                <table style="border: 5px solid #e7e7e7;" cellpadding="0" cellspacing="0" border="0" align="center" width="600px" height="auto" bgcolor="#e7e7e7">
                    <tr height="3a0px">
                        <td width="28px" style="background-color: #e7e7e7; width: 28px; height: 40px; padding: 0; display: table-cell; text-decoration: none; border: none; outline: none;"></td>
                        <td width="40px" style="width: 40px; height: 40px; padding: 0; display: table-cell; text-decoration: none; border: none; outline: none;">
                            <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#e7e7e7">
                                <tr height="36px">
                                    <td width="36px" style="background-color: #a1a1a1; width: 36px; height: 36px; padding: 2px; text-decoration: none; border: none; outline: none;">
                                        <img src="@avatarpath" alt="Profile Photo" style="width: 100%; height: auto; padding: 0; display: block; text-decoration: none; border: none; outline: none;" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="10px" style="background-color: #e7e7e7; width: 10px; height: 40px; padding: 0; display: table-cell; text-decoration: none; border: none; otuline: none;"></td>
                        <td width="46px" style="width: 46px; height: 40px; padding: 0; display: table-cell; text-decoration: none; border: none; outline: none;">
                            <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#e7e7e7">
                                <tr height="5px">
                                    <td width="46px" style="background-color: #e7e7e7; width: 46px; height: 5px; border: none; outline: none;"></td>
                                </tr>
                                <tr height="28px">
                                    <td width="46px" style="background-color: #e7e7e7; width: 46px; height: 28px; border: none; outline: none; font-family: Arial, Helvetica, sans-serif;">
                                        <p style="display: table-cell; height: 28px; padding: 0; padding-right: 5px; border: none; outline: none; font-size: 14px; line-height: 28px; text-align: right; color: #207ca3;">@ubt.User.Profile.Firstname</p>
                                    </td>
                                </tr>
                                <tr height="7px">
                                    <td width="46px" style="background-color: #e7e7e7; width: 46px; height: 7px; border: none; outline: none;"></td>
                                </tr>
                            </table>
                        </td>
                        <td width="73px" style="background-color: #e7e7e7; width: 73px; height: 40px; padding: 0; display: table-cell; text-decoration: none; border: none; outline: none;">
                            <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#e7e7e7">
                                <tr height="40px">
                                    <td width="53px" style="background-color: #e7e7e7; width: 53px; height: 40px; padding: 0; display: table-cell; border: none; outline: none;"></td>
                                    <td width="1px" style="background-color: #d6d6d6; width: 1px; height: 40px; padding: 0; display: table-cell; border: none; outline: none;"></td>
                                    <td width="19px" style="background-color: #e7e7e7; width: 19px; height: 40px; padding: 0; display: table-cell; border: none; outline: none;"></td>
                                </tr>
                            </table>
                        </td>
                        <td width="42px" style="background-color: #e7e7e7; width: 42px; height: 40px; padding: 0; display: table-cell; text-decoration: none; border: none; outline: none;">
                            <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#e7e7e7">
                                <tr height="2px">
                                    <td width="42px" style="background-color: #e7e7e7; width: 42px; height: 2px; padding: 0; display: block; text-decoration: none; border: none; outline: none;">
                                        <!-- top border -->
                                    </td>
                                </tr>
                                <tr height="34px">
                                    <td width="40px" style="width: 40px; height: 32px; padding: 0; display: block; text-decoration: none; border: 1px; border-color: #4ab3df; border-style: solid; outline: none; font-family: Arial, Helvetica, sans-serif;">
                                        <p style="background-color: #ffffff; width: 36px; height: 30px; padding: 0; padding-right: 2px; display: table-cell; text-decoration: none; border: 1px; border-color: #e4e4e4; border-style: solid; outline: none; font-size: 18px; line-height: 30px; text-align: center; color: #207ca3;">@ubt.UserPermanentPoint.CountryNumber.ToString()</p>
                                    </td>
                                </tr>
                                <tr height="4px">
                                    <td width="42px" style="background-color: #e7e7e7; width: 42px; height: 4px; padding: 0; display: block; text-decoration: none; border: none; outline: none;">
                                        <!-- bottom border -->
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <!-- countries -->
                        <td width="76px" style="background-color: #e7e7e7; width: 76px; height: 40px; padding: 0; display: table-cell; text-decoration: none; border: none; border-right: 1px; border-right-style: solid; border-right-color: #d6d6d6; outline: none;">
                            <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#e7e7e7">
                                <tr height="5px">
                                    <td width="76px" style="background-color: #e7e7e7; width: 76px; height: 5px; padding: 0; border: none; outline: none;"></td>
                                </tr>
                                <tr height="28px">
                                    <td width="76px" style="background-color: #e7e7e7; width: 76px; height: 28px; padding: 0; border: none; outline: none; font-family: Arial, Helvetica, sans-serif;">
                                        <p style="height: 28px; display: table-cell; padding-left: 5px; text-decoration: none; border: none; outline: none; font-size: 12px; font-weight: bold; line-height: 28px; text-align: left; color: #3186aa;">Countries</p>
                                    </td>
                                </tr>
                                <tr height="7px">
                                    <td width="76px" style="background-color: #e7e7e7; width: 76px; height: 7px; padding: 0; border: none; outline: none;"></td>
                                </tr>
                            </table>
                        </td>
                        <td width="14px" style="background-color: #e7e7e7; width: 14px; height: 40px; padding: 0; display: table-cell; text-decoration: none; border: none; outline: none;"></td>
                        <td width="62px" style="background-color: #e7e7e7; width: 62px; height: 40px; padding: 0; display: table-cell; text-decoration: none; border: none; outline: none;">
                            <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#e7e7e7">
                                <tr height="2px">
                                    <td width="62px" style="background-color: #e7e7e7; width: 62px; height: 2px; padding: 0; display: block; text-decoration: none; border: none; outline: none;">
                                        <!-- top border -->
                                    </td>
                                </tr>
                                <tr height="34px">
                                    <td width="60px" style="width: 60px; height: 32px; padding: 0; display: block; text-decoration: none; border: 1px; border-color: #4ab3df; border-style: solid; outline: none; font-family: Arial, Helvetica, sans-serif;">
                                        <p style="background-color: #ffffff; width: 56px; height: 30px; padding: 0; padding-right: 2px; display: table-cell; text-decoration: none; border: 1px; border-color: #e4e4e4; border-style: solid; outline: none; font-size: 18px; line-height: 30px; text-align: center; color: #207ca3;">@ubt.UserPermanentPoint.CityNumber.ToString()</p>
                                    </td>
                                </tr>
                                <tr height="4px">
                                    <td width="62px" style="background-color: #e7e7e7; width: 62px; height: 4px; padding: 0; display: block; text-decoration: none; border: none; outline: none;">
                                        <!-- bottom border -->
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <!-- cities -->
                        <td width="53px" style="background-color: #e7e7e7; width: 53px; height: 40px; padding: 0; display: table-cell; text-decoration: none; border: none; border-right: 1px; border-right-style: solid; border-right-color: #d6d6d6; outline: none;">
                            <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#e7e7e7">
                                <tr height="5px">
                                    <td width="53px" style="background-color: #e7e7e7; width: 53px; height: 5px; padding: 0; border: none; outline: none;"></td>
                                </tr>
                                <tr height="28px">
                                    <td width="53px" style="background-color: #e7e7e7; width: 53px; height: 28px; padding: 0; border: none; outline: none; font-family: Arial, Helvetica, sans-serif;">
                                        <p style="height: 28px; display: table-cell; padding-left: 5px; text-decoration: none; border: none; outline: none; font-size: 12px; font-weight: bold; line-height: 28px; text-align: left; color: #3186aa;">Cities</p>
                                    </td>
                                </tr>
                                <tr height="7px">
                                    <td width="53px" style="background-color: #e7e7e7; width: 53px; height: 7px; padding: 0; border: none; outline: none;"></td>
                                </tr>
                            </table>
                        </td>
                        <td width="13px" style="background-color: #e7e7e7; width: 13px; height: 40px; padding: 0; display: table-cell; text-decoration: none; border: none; outline: none;"></td>
                        <td width="58px" style="background-color: #e7e7e7; width: 58px; height: 40px; padding: 0; display: table-cell; text-decoration: none; border: none; outline: none;">
                            <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#e7e7e7">
                                <tr height="2px">
                                    <td width="58px" style="background-color: #e7e7e7; width: 58px; height: 2px; padding: 0; display: block; text-decoration: none; border: none; outline: none;">
                                        <!-- top border -->
                                    </td>
                                </tr>
                                <tr height="34px">
                                    <td width="56px" style="width: 56px; height: 32px; padding: 0; display: block; text-decoration: none; border: 1px; border-color: #4ab3df; border-style: solid; outline: none; font-family: Arial, Helvetica, sans-serif;">
                                        <p style="background-color: #ffffff; width: 52px; height: 30px; padding: 0; padding-right: 2px; display: table-cell; text-decoration: none; border: 1px; border-color: #e4e4e4; border-style: solid; outline: none; font-size: 18px; line-height: 30px; text-align: center; color: #207ca3;">@ubt.UserPermanentPoint.PlacesNumber.ToString()</p>
                                    </td>
                                </tr>
                                <tr height="4px">
                                    <td width="58px" style="background-color: #e7e7e7; width: 58px; height: 4px; padding: 0; display: block; text-decoration: none; border: none; outline: none;">
                                        <!-- bottom border -->
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <!-- venues -->
                        <td width="83px" style="background-color: #e7e7e7; width: 83px; height: 40px; padding: 0; display: table-cell; text-decoration: none; border: none; outline: none;">
                            <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#e7e7e7">
                                <tr height="5px">
                                    <td width="83px" style="background-color: #e7e7e7; width: 83px; height: 5px; padding: 0; border: none; outline: none;"></td>
                                </tr>
                                <tr height="28px">
                                    <td width="83px" style="background-color: #e7e7e7; width: 83px; height: 28px; padding: 0; border: none; outline: none; font-family: Arial, Helvetica, sans-serif;">
                                        <p style="height: 28px; display: table-cell; padding-left: 5px; text-decoration: none; border: none; outline: none; font-size: 12px; font-weight: bold; line-height: 28px; text-align: left; color: #3186aa;">Venues</p>
                                    </td>
                                </tr>
                                <tr height="7px">
                                    <td width="83px" style="background-color: #e7e7e7; width: 83px; height: 7px; padding: 0; border: none; outline: none;"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- [Contents] - body of contents -->


        <tr height="auto">
            <td width="100%" align="left" bgcolor="#FFFFFF" style="width: 600px; height: auto; padding: 0; border: none; outline: none;">
                <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff" style="margin-top: 10px;">
                    <tr height="auto">
                        <td width="55px" style="background-color: #ffffff; width: 55px; padding: 0; display: table-cell; border: none; outline: none;"></td>
                        <td style="background-color: #ffffff; height: auto; padding: 0; display: table-cell; border: none; outline: none;">
                            <a href="http://www.ive-been-there.com/" target="_blank" style="max-height: 100px; padding: 0; display: block; text-decoration: nnoe; border: none; outline: none;">
                                <img src="@email.Logo" alt="I've Been There" border="1" style="width: @width; max-height: 100px; padding: 0; display: block; text-decoration: none; border: none; outline: none;" />
                            </a>
                        </td>
                        <td style="background-color: #ffffff; padding: 0; display: table-cell; border: none; outline: none;"></td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- [Contents] - header -->
        <!-- [Contents] - contents -->
        <tr height="auto">
            <td width="100%" style="width: 600px; height: auto; padding: 0; border: none; outline: none;">
                <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff">
                    <tr height="auto">
                        <td width="48px" style="background-color: #ffffff; width: 48px; height: auto; padding: 0; display: table-cell; border: none; outline: none;"></td>
                        <td width="504px" style="background-color: #ffffff; width: 504px; height: auto; padding: 0; display: table-cell; border: none; outline: none; font-family: Arial, Helvetica, sans-serif;">
                            <h1 style="text-align: left; padding: 0; padding-left: 5px; font-size: 25px; width: 100%; line-height: 28px; font-weight: normal; text-transform: capitalize; color: #31aee3;">@email.Title</h1>
                            <p style="display: block; padding: 0; padding-left: 5px; padding-right: 18px; font-size: 12px; font-weight: normal; text-transform: none; text-align: left; line-height: normal; color: #9d9d9d;">
                                @Html.Raw(email.Content)
                            </p>
                        </td>
                        <td width="48px" style="background-color: #ffffff; width: 48px; height: auto; padding: 0; display: table-cell; border: none; outline: none;"></td>
                    </tr>
                </table>
            </td>
        </tr>
        <!--Portin to be made as optional-->
        <tr height="137px">
            <td width="100%" style="background-color: #ffffff; width: 600px; height: 137px; padding: 0; border: none; outline: none;">
                <img src="/images/notactivate/images_13.jpg" width="600" height="137" alt="MEETING PROFESSIONAL BADGE, The industry's only EXPERIENTAL MEETINGS BADGE brought to you by i-Meet and American Express Meetings & Events." style="width: 600px; height: 137; padding: 0; display: block; text-decoration: none; border: none; outline: none;" />
            </td>
        </tr>

        <tr height="48px">
            <td width="100%" style="background-color: #fefefe; width: 600px; height: 48px; padding: 0; border: none; outline: none;">
                <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#fefefe">
                    <tr height="48px">
                        <td width="230px" style="width: 230px; height: 48px; padding: 0; display: table-cell; border: none; outline: none;">
                            <img src="/images/notactivate/images_14.jpg" width="230" height="48" alt="" style="width: 230px; height: 48px; padding: 0; display: block; text-decoration: none; border: none; outline: none;" />
                        </td>
                        <!-- [Button] - Active Now -->
                        <td width="171px" style="width: 171px; height: 48px; padding: 0; display: table-cell; border: none; outline: none;">
                            <a href="/Account/PointSummary" target="_blank" style="width: 171px; height: 48px; padding: 0; display: block; text-decoration: none; border: none; outline: none;">
                                <img src="/images/notactivate/btn_active_now.jpg" width="171" height="48" alt="ACTIVE NOW" style="width: 171px; height: 48px; padding: 0; display: block; text-decoration: none; border: none; outline: none;" />
                            </a>
                        </td>
                        <td width="3px" style="width: 3px; height: 48px; padding: 0; display: table-cell; border: none; outline: none;">
                            <img src="/images/notactivate/images_15.jpg" width="3" height="48" alt="" style="width: 3px; height: 48px; padding: 0; display: block; text-decoration: none; border: none; outline: none;" />
                        </td>
                        <!-- [Button] - Post More Visists -->
                        <td width="182px" style="width: 182px; height: 48px; padding: 0; display: table-cell; border: none; outline: none;">
                            <a href="/Supplier/TravelsAdd" target="_blank" style="width: 182px; height: 48px; padding: 0; display: block; text-decoration: none; border: none; outline: none;">
                                <img src="/images/notactivate/btn_post_more_visits.jpg" width="182" height="48" alt="POST MORE VISITS" style="width: 182px; height: 48px; padding: 0; display: block; text-decoration: none; border: none; outline: none;" />
                            </a>
                        </td>
                        <td width="14px" style="width: 14px; height: 48px; padding: 0; display: table-cell; border: none; outline: none;">
                            <img src="/images/notactivate/images_16.jpg" width="14" height="48" alt="" style="width: 14px; height: 48px; padding: 0; display: block; text-decoration: none; border: none; outline: none;" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr height="48px">
            <td width="100%" style="background-color: #ffffff; width: 600px; height: 48px; padding: 0; border: none; outline: none;">
                <img src="/images/notactivate/images_17.jpg" width="600" height="48" alt="" style="width: 600px; height: 48px; padding: 0; display: block; text-decoration: none; border: none; outline: none;" />
            </td>
        </tr>
        <!--Portin to be made as optional-->
        <!-- Footer -->
        <tr height="auto">
            <td width="100%" style="background-color: #ffffff; width: 600px; height: auto; padding: 0; border: none; outline: none;">
                <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff">
                    <tr height="auto">
                        <td width="22px" style="background-color: #ffffff; width: 22px; height: auto; padding: 0; display: table-cell; border: none; outline: none;"></td>
                        <td width="556px" style="background-color: #ffffff; width: 556px; height: auto; padding: 0; display: table-cell; border: none; outline: none; font-family: Arial, Helvetica, sans-serif;">
                            <p style="height: auto; padding: 0; padding-left: 5px; display: block; text-decoration: none; border: none; outline: none; font-size: 11px; font-weight: normal; line-height: normal; text-align: left; color: #9d9d9d;">Important Note About Privacy: No personal contact information is visible within I've Been There so your privacy is always protected. We always respect your wishes. If for any reason you do not wish to be included in our online community, choose Update Settings/Profile to change your preference or de-activate your account.</p>
                        </td>
                        <td width="22px" style="background-color: #ffffff; width: 22px; height: auto; padding: 0; display: table-cell; border: none; outline: none;"></td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr height="10px">
            <td width="100%" style="background-color: #ffffff; width: 600px; height: 10px; padding: 0; border: none; outline: none;"></td>
        </tr>

        <tr height="auto">
            <td width="100%" style="background-color: #ffffff; width: 600px; height: auto; padding: 0; border: none; outline: none;">
                <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff">
                    <tr height="auto">
                        <td width="22px" style="background-color: #ffffff; width: 22px; height: auto; padding: 0; display: table-cell; border: none; outline: none;"></td>
                        <td width="556px" style="background-color: #ffffff; width: 556px; height: auto; padding: 0; display: table-cell; border: none; outline: none; font-family: Arial, Helvetica, sans-serif;">
                            <p style="height: auto; padding: 0; padding-left: 5px; display: block; text-decoration: none; border: none; outline: none; font-size: 11px; font-weight: normal; line-height: normal; text-align: left; color: #9d9d9d;">
                                Visit <a href="http://www.ive-been-there.com/" target="_blank" style="display: inline-block; text-decoration: none; border: none; outline: none; color: #9d9d9d;">www.Ive-Been-There.com</a> | <a href="/PrivacyPolicy" target="_blank" style="display: inline-block; text-decoration: none; border: none; outline: none; color: #9d9d9d;">Privacy Statement</a> | <a href="/Account/AccountSetting" target="_blank" style="display: inline-block; text-decoration: none; border: none; outline: none; color: #9d9d9d;">Update Settings/Profile</a>
                            </p>
                        </td>
                        <td width="22px" style="background-color: #ffffff; width: 22px; height: auto; padding: 0; display: table-cell; border: none; outline: none;"></td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- Padding Bottom -->
        <tr height="18px">
            <td width="100%" style="background-color: #ffffff; width: 600px; height: 18px; padding: 0; border: none; outline: none;"></td>
        </tr>
        <tr>
            <td>
                <div>
                    <span style="font-family: Arial; font-size: 8pt; color: #c0c0c0;">
                        “American Express Meetings & Events” is a service provided by American Express Global Business Travel (“GBT”). GBT is a joint venture that is not
                        wholly-owned by American Express Company or any of its subsidiaries (“American Express”). “American Express Global Business Travel”, “American Express” and the American Express logo are trademarks of American Express, and are used under limited license.
                        <br />
                    </span>
                </div>
            </td>
        </tr>
    </table>
</body>
</html>
