﻿@{
    Layout = null;
    var emailContent = ViewBag.emailObj.Content.Split(new string[] { " (Le+|-(((w4+---====r-GQ " }, StringSplitOptions.None);
    var surveyLogo = ViewBag.emailObj.Logo != "" ? ViewBag.emailObj.Logo : "/images/activate/logo_ibt_survey.jpg";
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>I've Been There - Experiences Rating</title>
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <style>
        .starRating:not(old) {
            display: inline-block;
            width: 9.5em;
            height: 1.5em;
            overflow: hidden;
            vertical-align: bottom;
        }

            .starRating:not(old) > input {
                margin-right: -100%;
                opacity: 0;
            }

            .starRating:not(old) > label {
                display: block;
                float: right;
                position: relative;
                background: url('/App/images/survey/star-off.jpg');
                background-size: contain;
                margin-right: 6px;
            }

                .starRating:not(old) > label:before {
                    content: '';
                    display: block;
                    width: 1.5em;
                    height: 1.5em;
                    background: url('/App/images/survey/star-on.jpg');
                    background-size: contain;
                    opacity: 0;
                    transition: opacity 0.2s linear;
                }

                .starRating:not(old) > label:hover:before,
                .starRating:not(old) > label:hover ~ label:before,
                .starRating:not(:hover) > :checked ~ label:before {
                    opacity: 1;
                }

        .star-rating {
            margin: 9px 6px 9px 20px;
        }
        /*.star-rating input[type=radio]{background:#efefef url(../images/stars_00.jpg) no-repeat;background-size:100% auto;background-position:center;width:22px;height:21px;-webkit-appearance:none;-moz-appearance:none;appearance:none;transition-duration:0.45s;-webkit-transition-duration:0.45s;}*/
        /*.star-rating:hover>input[type=radio]{background-image:url(../images/stars_01.jpg);cursor:pointer;}*/
        /*.star-rating input[type=radio]:hover ~ input[type=radio]{background-image:url(../images/stars_00.jpg);}*/
        /*.star-rating input[type=radio]:checked{background-image:url(../images/stars_02.jpg);}*/
        /*.star-rating input[type=radio]:checked + input[type=radio]{background-image:url(../images/stars_02.jpg);}*/
        /*=====BLUE BUTTONS=====*/
        input[type=submit].blueButtons {
            transition-duration: 0.45s;
            -webkit-transition-duration: 0.45s;
        }

            input[type=submit].blueButtons:hover, input[type=submit].blueButtons:focus {
                background-color: #097294 !important;
                cursor: pointer;
            }
    </style>
</head>
<body>
    @*<form action="/admin/home/RatingSurvey" method="post">*@
    <form>
        <input type="hidden" id="userid" name="userid" value="@ViewBag.userIdEncrypted" hidden="hidden" />
        <table width="600px" height="auto" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff">

            @*<tr height="155px"><td width="100%" style="width:600px;height:155px;padding:0;display:block;text-decoration:none;border:none;outline:none;"><img src="@ViewBag.emailObj.Logo" width="600" height="155" alt="I've Been There" style="width:600px;height:155px;padding:0;display:block;text-decoration:none;border:none;outline:none;" /></td></tr>*@

            <tr height="auto">
                <td width="100%">
                    <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" height="auto" bgcolor="#ffffff">
                        <tr height="135px">
                            <td width="237px" style="width:237px;height:135px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;"><img src="/App/images/survey/img_column01.jpg" width="237" height="135" alt="" style="width:237px;height:135px;padding:0;display:block;text-decoration:none;border:none;outline:none;" /></td>
                            
                            <td width="126px" style="width:126px;height:135px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;">
                                <span style="width:126px;height:126px;padding:9px 0 0 0;display:block;text-decoration:none;border:none;outline:none;">
                                    <span style="background-color:#f7f7f7;width:122px;height:122px;padding:2px;display:block;text-decoration:none;border:none;outline:none;"><img src="@surveyLogo" alt="Survey's logo" style="max-width:122px;max-height:122px;padding:0;display:block;text-decoration:none;border:none;outline:none;" /></span>
                                </span>
                            </td>


                            <td width="237px" style="width:237px;height:135px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;"><img src="/App/images/survey/img_column01.jpg" width="237" height="135" alt="" style="width:237px;height:135px;padding:0;display:block;text-decoration:none;border:none;outline:none;" /></td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr height="20px"><td width="100%" style="background-color:#f7f7f7;width:600px;height:20px;padding:0;display:block;text-decoration:none;border:none;outline:none;"></td></tr>

            <tr height="auto">
                <td width="100%" style="background-color:#f7f7f7;width:600px;height:auto;padding:0;display:block;text-decoration:none;border:none;outline:none;">
                    <span style="padding:0 0 12px 30px;display:block;text-decoration:none;border:none;outline:none;font:26px/28px Arial, Helvetica, sans-serif;text-align:left;color:#16a1ce;">@ViewBag.emailObj.Title</span>
                    <span style="padding:0 30px 4px 30px;display:block;text-decoration:none;border:none;outline:none;font:14px/16px Arial, Helvetica, sans-serif;text-align:left;color:#7b7b7b;">
                        @Html.Raw(emailContent[0])
                    </span>
                </td>
            </tr>
            <tr height="22px"><td width="100%" style="width:600px;height:22px;padding:0;display:block;text-decoration:none;border:none;outline:none;"><img src="/app/images/survey/img_division.jpg" width="600" height="22" alt="" style="width:600px;height:22px;padding:0;display:block;text-decoration:none;border:none;outline:none;" /></td></tr>
            <tr height="auto"><td width="100%" style="width:600px;height:auto;padding:0;display:block;text-decoration:none;border:none;outline:none;"><span style="background-color:#f7f7f7;width:570px;height:auto;padding:4px 0 10px 30px;display:block;text-decoration:none;border:none;outline:none;font:16px/18px Arial, Helvetica, sans-serif;text-align:left;color:#16a1ce;">Rate your chosen destinations before moving on!</span></td></tr>
            @foreach (var item in ViewBag.optionsArrList)
            {
                if (item[0] == "place")
                {
                    string placeHtml = @"<tr height='auto'><td width='100%'><table width='600px' height='auto' cellpadding='0' cellspacing='0' border='0' align='center' bgcolor='#f7f7f7'>
<tr height='74px' style='background-color:#efefef;width:570px;height:74px;padding:0 0 0 30px;display:block;text-decoration:none;outline:none;border:none;border-bottom:1px solid #f7f7f7;'>";

                    placeHtml += @"<td width='28px' style='width:28px;height:74px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;'><span style='width:28px;height:28px;padding:6px 0;display:block;text-decoration:none;border:none;outline:none;overflow:hidden;'><img src='" + item[1] + "' width='26px' height='auto' alt='Countries' Flag' style='width:26px;height:auto;padding:1px;display:block;text-decoration:none;border:none;outline:none;' /></span></td>";
                    placeHtml += @"<td width='236px' style='width:236px;height:74px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;'><span style='width:auto;height:auto;padding:4px 0 0 18px;display:block;text-decoration:none;border:none;outline:none;font:14px/16px Arial, Helvetica, sans-serif;text-align:left;color:#a1a1a1;'><span>" + item[3] + "</span> <br /><span style='font-weight:bold;'>" + item[5] + "</span> / City <br /><span style='font-size:13px;line-height:20px;'><span style='font-weight:bold;'>" + item[7] + "</span> / Place</span></span></td>";
                    placeHtml += @"<td width='174px' style='width:174px;height:74px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;'>";
                    placeHtml += @"<span class='star-rating starRating'>";
                    placeHtml += @"<input id='rating5-pl" + item[6] + "' type='radio' name='rating-pl" + item[6] + "' value='5' /><label for='rating5-pl" + item[6] + "'>5</label>";
                    placeHtml += @"<input id='rating4-pl" + item[6] + "' type='radio' name='rating-pl" + item[6] + "' value='4' /><label for='rating4-pl" + item[6] + "'>4</label>";
                    placeHtml += @"<input id='rating3-pl" + item[6] + "' type='radio' name='rating-pl" + item[6] + "' value='3' /><label for='rating3-pl" + item[6] + "'>3</label>";
                    placeHtml += @"<input id='rating2-pl" + item[6] + "' type='radio' name='rating-pl" + item[6] + "' value='2' /><label for='rating2-pl" + item[6] + "'>2</label>";
                    placeHtml += @"<input id='rating1-pl" + item[6] + "' type='radio' name='rating-pl" + item[6] + "' value='1' checked='checked' /><label for='rating1-pl" + item[6] + "'>1</label></span></td>";
                    placeHtml += @"<td width='132px' style='width:132px;height:auto;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;text-align:left;'><span style='width:auto;height:auto;padding:12px 0 0 42px;text-decoration:none;border:none;outline:none;'><input type='checkbox' checked= checked checked= checked checked= checked checked= checked disabled= disabled disabled= disabled disabled= disabled disabled= disabled width='20px' height='20px' style='background-color:#a9a9a9;width:20px;height:20px;padding:0;text-decoration:none;outline:none;border-color:#f7f7f7;' /></span></td></tr></table></td></tr>";
                    placeHtml += @"";
                    placeHtml += @"";
                    placeHtml += @"";

                    @Html.Raw(placeHtml)
                }
                else if (item[0] == "city")
                {
                    string placeHtml = @"<tr height='auto'><td width='100%'><table width='600px' height='auto' cellpadding='0' cellspacing='0' border='0' align='center' bgcolor='#f7f7f7'>
<tr height='74px' style='background-color:#efefef;width:570px;height:74px;padding:0 0 0 30px;display:block;text-decoration:none;outline:none;border:none;border-bottom:1px solid #f7f7f7;'>";

                    placeHtml += @"<td width='28px' style='width:28px;height:74px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;'><span style='width:28px;height:28px;padding:6px 0;display:block;text-decoration:none;border:none;outline:none;overflow:hidden;'><img src='" + item[1] + "' width='26px' height='auto' alt='Countries' Flag' style='width:26px;height:auto;padding:1px;display:block;text-decoration:none;border:none;outline:none;' /></span></td>";
                    placeHtml += @"<td width='236px' style='width:236px;height:74px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;'><span style='width:auto;height:auto;padding:4px 0 0 18px;display:block;text-decoration:none;border:none;outline:none;font:14px/16px Arial, Helvetica, sans-serif;text-align:left;color:#a1a1a1;'><span>" + item[3] + "</span> <br /><span style='font-weight:bold;'>" + item[5] + "</span> / City <br /><span style='font-size:13px;line-height:20px;'><span style='font-weight:bold;'></span></span></span></td>";
                    placeHtml += @"<td width='174px' style='width:174px;height:74px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;'>";
                    placeHtml += @"<span class='star-rating starRating'>";
                    placeHtml += @"<input id='rating5-ci" + item[4] + "' type='radio' name='rating-ci" + item[4] + "' value='5' /><label for='rating5-ci" + item[4] + "'>5</label>";
                    placeHtml += @"<input id='rating4-ci" + item[4] + "' type='radio' name='rating-ci" + item[4] + "' value='4' /><label for='rating4-ci" + item[4] + "'>4</label>";
                    placeHtml += @"<input id='rating3-ci" + item[4] + "' type='radio' name='rating-ci" + item[4] + "' value='3' /><label for='rating3-ci" + item[4] + "'>3</label>";
                    placeHtml += @"<input id='rating2-ci" + item[4] + "' type='radio' name='rating-ci" + item[4] + "' value='2' /><label for='rating2-ci" + item[4] + "'>2</label>";
                    placeHtml += @"<input id='rating1-ci" + item[4] + "' type='radio' name='rating-ci" + item[4] + "' value='1' checked='checked' /><label for='rating1-ci" + item[4] + "'>1</label></span></td>";
                    placeHtml += @"<td width='132px' style='width:132px;height:auto;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;text-align:left;'><span style='width:auto;height:auto;padding:12px 0 0 42px;text-decoration:none;border:none;outline:none;'><input type='checkbox' checked= checked checked= checked checked= checked checked= checked disabled= disabled disabled= disabled disabled= disabled disabled= disabled width='20px' height='20px' style='background-color:#a9a9a9;width:20px;height:20px;padding:0;text-decoration:none;outline:none;border-color:#f7f7f7;' /></span></td></tr></table></td></tr>";
                    placeHtml += @"";
                    placeHtml += @"";
                    placeHtml += @"";

                    @Html.Raw(placeHtml)
                }
                else if (item[0] == "country")
                {
                    string placeHtml = @"<tr height='auto'><td width='100%'><table width='600px' height='auto' cellpadding='0' cellspacing='0' border='0' align='center' bgcolor='#f7f7f7'>
<tr height='74px' style='background-color:#efefef;width:570px;height:74px;padding:0 0 0 30px;display:block;text-decoration:none;outline:none;border:none;border-bottom:1px solid #f7f7f7;'>";

                    placeHtml += @"<td width='28px' style='width:28px;height:74px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;'><span style='width:28px;height:28px;padding:6px 0;display:block;text-decoration:none;border:none;outline:none;overflow:hidden;'><img src='" + item[1] + "' width='26px' height='auto' alt='Countries' Flag' style='width:26px;height:auto;padding:1px;display:block;text-decoration:none;border:none;outline:none;' /></span></td>";
                    placeHtml += @"<td width='236px' style='width:236px;height:74px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;'><span style='width:auto;height:auto;padding:4px 0 0 18px;display:block;text-decoration:none;border:none;outline:none;font:14px/16px Arial, Helvetica, sans-serif;text-align:left;color:#a1a1a1;'><span>" + item[3] + "</span> <br /><span style='font-weight:bold;'></span><br /><span style='font-size:13px;line-height:20px;'><span style='font-weight:bold;'></span></span></span></td>";
                    placeHtml += @"<td width='174px' style='width:174px;height:74px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;'>";
                    placeHtml += @"<span class='star-rating starRating'>";
                    placeHtml += @"<input id='rating5-co" + item[2] + "' type='radio' name='rating-co" + item[2] + "' value='5' /><label for='rating5-co" + item[2] + "'>5</label>";
                    placeHtml += @"<input id='rating4-co" + item[2] + "' type='radio' name='rating-co" + item[2] + "' value='4' /><label for='rating4-co" + item[2] + "'>4</label>";
                    placeHtml += @"<input id='rating3-co" + item[2] + "' type='radio' name='rating-co" + item[2] + "' value='3' /><label for='rating3-co" + item[2] + "'>3</label>";
                    placeHtml += @"<input id='rating2-co" + item[2] + "' type='radio' name='rating-co" + item[2] + "' value='2' /><label for='rating2-co" + item[2] + "'>2</label>";
                    placeHtml += @"<input id='rating1-co" + item[2] + "' type='radio' name='rating-co" + item[2] + "' value='1' checked='checked' /><label for='rating1-co" + item[2] + "'>1</label></span></td>";
                    placeHtml += @"<td width='132px' style='width:132px;height:auto;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;text-align:left;'><span style='width:auto;height:auto;padding:12px 0 0 42px;text-decoration:none;border:none;outline:none;'><input type='checkbox' checked= checked checked= checked checked= checked checked= checked disabled= disabled disabled= disabled disabled= disabled disabled= disabled width='20px' height='20px' style='background-color:#a9a9a9;width:20px;height:20px;padding:0;text-decoration:none;outline:none;border-color:#f7f7f7;' /></span></td></tr></table></td></tr>";
                    placeHtml += @"";
                    placeHtml += @"";
                    placeHtml += @"";

                    @Html.Raw(placeHtml)
                }
            }
            @*<!-- row 00 -->
                    <tr height="auto">
                        <td width="100%">
                            <table width="600px" height="auto" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#f7f7f7">
                                <tr height="74px" style="background-color:#efefef;width:570px;height:74px;padding:0 0 0 30px;display:block;text-decoration:none;outline:none;border:none;border-bottom:1px solid #f7f7f7;">
                                    <td width="28px" style="width:28px;height:74px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;"><span style="width:28px;height:28px;padding:6px 0;display:block;text-decoration:none;border:none;outline:none;overflow:hidden;"><img src="http://ecx.images-amazon.com/images/I/3153rt5c4UL._SY300_.jpg" width="26px" height="auto" alt="Countries' Flag" style="width:26px;height:auto;padding:1px;display:block;text-decoration:none;border:none;outline:none;" /></span></td>
                                    <td width="236px" style="width:236px;height:74px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;"><span style="width:auto;height:auto;padding:4px 0 0 18px;display:block;text-decoration:none;border:none;outline:none;font:14px/16px Arial, Helvetica, sans-serif;text-align:left;color:#a1a1a1;"><span>Canada</span> <br /><span style="font-weight:bold;">Alberta</span> / City <br /><span style="font-size:13px;line-height:20px;"><span style="font-weight:bold;">Super Long Locations Place Name</span> / Places</span></span></td>
                                    <td width="174px" style="width:174px;height:74px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;">
                                        <span class="star-rating starRating">
                                            <input id="rating5-1" type="radio" name="rating-1" value="5" />
                                            <label for="rating5-1">5</label>
                                            <input id="rating4-1" type="radio" name="rating-1" value="4" />
                                            <label for="rating4-1">4</label>
                                            <input id="rating3-1" type="radio" name="rating-1" value="3" />
                                            <label for="rating3-1">3</label>
                                            <input id="rating2-1" type="radio" name="rating-1" value="2" />
                                            <label for="rating2-1">2</label>
                                            <input id="rating1-1" type="radio" name="rating-1" value="1" checked="checked" />
                                            <label for="rating1-1">1</label>
                                        </span>
                                    </td>
                                    <td width="132px" style="width:132px;height:auto;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;text-align:left;"><span style="width:auto;height:auto;padding:12px 0 0 42px;text-decoration:none;border:none;outline:none;"><input type="checkbox" checked= checked checked= checked checked= checked checked= checked disabled= disabled disabled= disabled disabled= disabled disabled= disabled width="20px" height="20px" style="background-color:#a9a9a9;width:20px;height:20px;padding:0;text-decoration:none;outline:none;border-color:#f7f7f7;" /></span></td>
                                </tr>
                            </table>
                        </td>
                    </tr><!-- end of row 00 -->

                <!-- row 01 -->
                <tr height="auto">
                    <td width="100%">
                        <table width="600px" height="auto" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#f7f7f7">
                            <tr height="74px" style="background-color:#efefef;width:570px;height:74px;padding:0 0 0 30px;display:block;text-decoration:none;outline:none;border:none;border-bottom:1px solid #f7f7f7;">
                                <td width="28px" style="width:28px;height:74px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;"><span style="width:28px;height:28px;padding:6px 0;display:block;text-decoration:none;border:none;outline:none;overflow:hidden;"><img src="http://ecx.images-amazon.com/images/I/3153rt5c4UL._SY300_.jpg" width="26px" height="auto" alt="Countries' Flag" style="width:26px;height:auto;padding:1px;display:block;text-decoration:none;border:none;outline:none;" /></span></td>
                                <td width="236px" style="width:236px;height:74px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;"><span style="width:auto;height:auto;padding:4px 0 0 18px;display:block;text-decoration:none;border:none;outline:none;font:14px/16px Arial, Helvetica, sans-serif;text-align:left;color:#a1a1a1;"><span>Canada</span> <br /><span style="font-weight:bold;">Alberta</span> / City <br /><span style="font-size:13px;line-height:20px;"><span style="font-weight:bold;">Super Long Locations Place Name</span> / Places</span></span></td>
                                <td width="174px" style="width:174px;height:74px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;">
                                    <span class="star-rating starRating">
                                        <input id="rating5" type="radio" name="rating" value="5" />
                                        <label for="rating5">5</label>
                                        <input id="rating4" type="radio" name="rating" value="4" />
                                        <label for="rating4">4</label>
                                        <input id="rating3" type="radio" name="rating" value="3" />
                                        <label for="rating3">3</label>
                                        <input id="rating2" type="radio" name="rating" value="2" />
                                        <label for="rating2">2</label>
                                        <input id="rating1" type="radio" name="rating" value="1" checked="checked" />
                                        <label for="rating1">1</label>
                                    </span>
                                </td>
                                <td width="132px" style="width:132px;height:auto;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;text-align:left;"><span style="width:auto;height:auto;padding:12px 0 0 42px;text-decoration:none;border:none;outline:none;"><input type="checkbox" checked= checked checked= checked disabled= disabled disabled= disabled width="20px" height="20px" style="background-color:#a9a9a9;width:20px;height:20px;padding:0;text-decoration:none;outline:none;border-color:#f7f7f7;" /></span></td>
                            </tr>
                        </table>
                    </td>
                </tr><!-- end of row 01 -->
                <!-- row 02 -->
                <tr height="auto">
                    <td width="100%">
                        <table width="600px" height="auto" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#f7f7f7">
                            <tr height="74px" style="background-color:#efefef;width:570px;height:74px;padding:0 0 0 30px;display:block;text-decoration:none;outline:none;border:none;border-bottom:1px solid #f7f7f7;">
                                <td width="28px" style="width:28px;height:74px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;"><span style="width:28px;height:28px;padding:6px 0;display:block;text-decoration:none;border:none;outline:none;overflow:hidden;"><img src="http://ecx.images-amazon.com/images/I/3153rt5c4UL._SY300_.jpg" width="26px" height="auto" alt="Countries' Flag" style="width:26px;height:auto;padding:1px;display:block;text-decoration:none;border:none;outline:none;" /></span></td>
                                <td width="236px" style="width:236px;height:74px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;"><span style="width:auto;height:auto;padding:4px 0 0 18px;display:block;text-decoration:none;border:none;outline:none;font:14px/16px Arial, Helvetica, sans-serif;text-align:left;color:#a1a1a1;"><span>Canada</span> <br /><span style="font-weight:bold;">Alberta</span> / City <br /><span style="font-size:13px;line-height:20px;"><span style="font-weight:bold;">Super Long Locations Place Name</span> / Places</span></span></td>
                                <td width="174px" style="width:174px;height:74px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;">
                                    <span class="star-rating" style="width:134px;height:22px;padding:0;display:;text-decoration:none;border:none;outline:none;overflow:hidden;">
                                        <input type="radio" name="rating02" value="1" />
                                        <input type="radio" name="rating02" value="2" />
                                        <input type="radio" name="rating02" value="3" />
                                        <input type="radio" name="rating02" value="4" />
                                        <input type="radio" name="rating02" value="5" />
                                    </span>
                                </td>
                                <td width="132px" style="width:132px;height:auto;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;text-align:left;"><span style="width:auto;height:auto;padding:12px 0 0 42px;text-decoration:none;border:none;outline:none;"><input type="checkbox" checked= checked checked= checked disabled= disabled disabled= disabled width="20px" height="20px" style="background-color:#a9a9a9;width:20px;height:20px;padding:0;text-decoration:none;outline:none;border-color:#f7f7f7;" /></span></td>
                            </tr>
                        </table>
                    </td>
                </tr><!-- end of row 02 -->*@

            <tr height="auto">
                <td width="100%" style="border:none;border-bottom:#f7f7f7 solid 18px;">
                    <table width="600px" height="auto" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#f7f7f7">
                        <tr height="40px">
                            <td width="40px" style="background-color:#f7f7f7;width:40px;height:40px;padding:24px 0 8px 0;display:table-cell;text-decoration:none;border:none;outline:none;"></td>
                            <td width="240px" style="background-color:#f7f7f7;width:240px;height:40px;padding:24px 0 8px 0;display:table-cell;text-decoration:none;border:none;outline:none;"><a href="javascript:void(0);" onclick="submitRating();" style="background-color:#f7f7f7;width:240px;height:40px;padding:0;display:block;text-decoration:none;border:none;outline:none;"><input class="blueButtons" type="button" value="RATE CHOSEN DESTINATIONS" style="background-color:#16a1ce;width:240px;height:40px;padding:0;display:block;text-decoration:none;border:none;outline:none;font:14px/16px Arial, Helvetica, sans-serif;text-align:center;color:#ffffff;-khtml-border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;-ms-border-radius:8px;-o-border-radius:8px;border-radius:8px;cursor:pointer;" /></a></td>
                            <td width="40px" style="background-color:#f7f7f7;width:40px;height:40px;padding:24px 0 8px 0;display:table-cell;text-decoration:none;border:none;outline:none;"></td>
                            @*<td width="240px" style="background-color:#f7f7f7;width:20px;height:40px;padding:24px 0 8px 0;display:table-cell;text-decoration:none;border:none;outline:none;"><a href="" target="_blank" style="background-color:#f7f7f7;width:240px;height:40px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;"><input class="blueButtons" onclick="window.location.href = '/Supplier/TravelsAdd?key=@ViewBag.userIdEncrypted'" type="button" value="FIND MORE DESTINATIONS" style="background-color:#16a1ce;width:240px;height:40px;padding:0;display:block;text-decoration:none;border:none;outline:none;font:14px/16px Arial, Helvetica, sans-serif;text-align:center;color:#ffffff;-khtml-border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;-ms-border-radius:8px;-o-border-radius:8px;border-radius:8px;cursor:pointer;" /></a></td>*@
                            
                            <td width="240px" style="background-color:#f7f7f7;width:20px;height:40px;padding:24px 0 8px 0;display:table-cell;text-decoration:none;border:none;outline:none;"><a href="/Supplier/TravelsAdd?key=@ViewBag.userIdEncrypted" target="_blank" style="background-color:#f7f7f7;width:240px;height:40px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;"><img src="/app/images/survey/btn_findmore.jpg" width="240" height="40" alt="FIND MORE DESTINATIONS" /></a></td>
                            <td width="40px" style="background-color:#f7f7f7;width:40px;height:40px;padding:24px 0 8px 0;display:table-cell;text-decoration:none;border:none;outline:none;"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr height="22px"><td width="100%" style="background-color:#f7f7f7;width:600px;height:22px;padding:0;display:block;text-decoration:none;border:none;outline:none;"><img src="/app/images/survey/img_division.jpg" width="600" height="22" alt="" style="width:600px;height:22px;padding:0;display:block;text-decoration:none;border:none;outline:none;" /></td></tr>

            <tr height="auto">
                <td width="100%" style="background-color:#f7f7f7;width:600px;height:auto;padding:0;display:block;text-decoration:none;border:none;outline:none;">
                    <span style="background-color:#f7f7f7;width:auto;height:auto;padding:8px 30px 24px 30px;display:block;text-decoration:none;border:none;outline:none;font:14px/16px Arial, Helvetica, sans-serif;text-align:left;color:#7b7b7b;">
                        @Html.Raw(emailContent[1])

                        <!--It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. <br /><br />Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.-->
                    </span>
                </td>
            </tr>

            <!-- Footer -->
            <tr height="auto">
                <td width="100%" style="background-color: #ffffff; width: 600px; height: auto; padding: 0; border: none; outline: none;">
                    <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff">
                        <tr height="auto">
                            <td width="22px" style="background-color: #ffffff; width: 22px; height: auto; padding: 0; display: table-cell; border: none; outline: none;"></td>
                            <td width="556px" style="background-color: #ffffff; width: 556px; height: auto; padding: 0; display: table-cell; border: none; outline: none; font-family: Arial, Helvetica, sans-serif;">
                                <p style="height: auto; padding: 0; padding-left: 5px; display: block; text-decoration: none; border: none; outline: none; font-size: 11px; font-weight: normal; line-height: normal; text-align: left; color: #9d9d9d;">Important Note About Privacy: No personal contact information is visible within I've Been There so your privacy is always protected. We always respect your wishes. If for any reason you do not wish to be included in our online community, choose Update Settings/Profile to change your preference or de-activate your account.</p>
                            </td>
                            <td width="22px" style="background-color: #ffffff; width: 22px; height: auto; padding: 0; display: table-cell; border: none; outline: none;"></td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr height="10px">
                <td width="100%" style="background-color: #ffffff; width: 600px; height: 10px; padding: 0; border: none; outline: none;"></td>
            </tr>

            <tr height="auto">
                <td width="100%" style="background-color: #ffffff; width: 600px; height: auto; padding: 0; border: none; outline: none;">
                    <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff">
                        <tr height="auto">
                            <td width="22px" style="background-color: #ffffff; width: 22px; height: auto; padding: 0; display: table-cell; border: none; outline: none;"></td>
                            <td width="556px" style="background-color: #ffffff; width: 556px; height: auto; padding: 0; display: table-cell; border: none; outline: none; font-family: Arial, Helvetica, sans-serif;">
                                <p style="height: auto; padding: 0; padding-left: 5px; display: block; text-decoration: none; border: none; outline: none; font-size: 11px; font-weight: normal; line-height: normal; text-align: left; color: #9d9d9d;">
                                    Visit <a href="http://www.ive-been-there.com/" target="_blank" style="display: inline-block; text-decoration: none; border: none; outline: none; color: #9d9d9d;">www.Ive-Been-There.com</a> | <a href="/PrivacyPolicy" target="_blank" style="display: inline-block; text-decoration: none; border: none; outline: none; color: #9d9d9d;">Privacy Statement</a> | <a href="/Account/AccountSetting" target="_blank" style="display: inline-block; text-decoration: none; border: none; outline: none; color: #9d9d9d;">Update Settings/Profile</a>
                                    | <a href="/Account/unsubscribe?key=@ViewBag.userIdEncrypted" target="_blank" style="display: inline-block; text-decoration: none; border: none; outline: none; color: #9d9d9d;">Email Unsubscribe</a>
                                </p>
                            </td>
                            <td width="22px" style="background-color: #ffffff; width: 22px; height: auto; padding: 0; display: table-cell; border: none; outline: none;"></td>
                            
                            

                        </tr>
                    </table>
                </td>
            </tr>
            <!-- Padding Bottom -->
            <tr height="18px">
                <td width="100%" style="background-color: #ffffff; width: 600px; height: 18px; padding: 0; border: none; outline: none;"></td>
            </tr>

            <tr>
                <td>
                    <div>
                        <span style="font-family: Arial; font-size: 8pt; color: #c0c0c0;">
                            “American Express Meetings & Events” is a service provided by American Express Global Business Travel (“GBT”). GBT is a joint venture that is not
                            wholly-owned by American Express Company or any of its subsidiaries (“American Express”). “American Express Global Business Travel”, “American Express” and the American Express logo are trademarks of American Express, and are used under limited license.
                            <br />
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </form>

    <link href="/App/js/boxy/boxy.css" rel="stylesheet" />
    <link rel="stylesheet" href="/App/css/style.css" type="text/css" />
    @*<link rel="Stylesheet" href="/App/css/style_admin.css" type="text/css" />*@
    <link href="/App/js/ui/jquery-ui.css" rel="stylesheet" />

    <script type="text/javascript" src="/App/js/jquery-1.7.1.min.js"></script>

    <script src="/App/js/ui/jquery-ui.js"></script>
    <script src="/App/js/boxy/jquery.boxy.js"></script>
    
    <script>
    function submitRating() {
        $.ajax({
            url: '/admin/home/ratingsurvey',
            data: $('form').serialize(),
            type: 'POST',
            dataType: 'json',
            success: function (data) {
                if (data.Success) {
                    Boxy.alert("<center><b>Your posted visits have been confirmed.</b></center>", function () {
                       window.location.href = '/Account/PointSummary?key=' + $('#userid').val();
                    }, { title: "Ratting" });
                }
            },
            error: function () {
                Boxy.alert("<center><b>Something goes wrong, please try again later !!!</b></center>", function () {
                    //window.location.href = '/Account/PointSummary?key=' + $('#userid').val();
                }, { title: "Ratting" });
            }
        });
    }
    </script>

</body>
</html>
