﻿@{
    IMeet.IBT.DAL.Email email = (IMeet.IBT.DAL.Email)ViewBag.Email;
    IMeet.IBT.DAL.Models.UserTravelBadge ubt = (IMeet.IBT.DAL.Models.UserTravelBadge)ViewBag.ubt;

    string savename = ubt.User.UserId.ToString() + "_100.jpg";
    string path = "/Staticfile/Avatar/" + (ubt.User.UserId / 1000) + "/" + ubt.User.UserId.ToString() + "/";
    string avatarpath = path + savename;
    if (string.IsNullOrEmpty(ubt.User.Profile.ProfileImage))
    {
        avatarpath = "/Staticfile/Avatar/icon/9ab2285b_100.jpg"; //默认图片
    }
    string height = "auto";
    if (string.IsNullOrEmpty(email.Logo))
    {
        height = "20px";
        //email.Logo = @"/images/activate/logo_ibt.jpg";
    }

    string emailContent = string.Empty;//EDM
    if (email != null && !String.IsNullOrWhiteSpace(email.Content))
    {
        emailContent = email.Content.Replace(" (Le+|-(((w4+---====r-GQ ","");
    }
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Weekly Badges Update - MEETING PROFESSIONAL BADGE Points - test</title>
</head>

<body onload="ibt.loadUrlPop('/account/login','Get','',function(){$('#pop_login').bValidator({singleError:true});  $('.boxyInner').addClass('popup');inputText();},'Login');">

    <table cellpadding="0" cellspacing="0" border="0" align="center" width="600px" height="auto" bgcolor="#ffffff">
        <tr height="30px" bgcolor="#fff">
            <td width="100%" style="color: #666; font: 12px/14px Arial, Helvetica, sans-serif; text-align: center; background-color: #fff;">
                <span>If this newsletter is not displaying correctly, please <a href="/admin/home/viewnewemail/@email.EmailId" style="color: #ff0002;" target="_blank">Click Here</a>.</span>
               
            </td>
        </tr>

        <!-- Header test code -->


       <!-- <tr>
            <td width="100%" style="width: 600px; height: 40px; padding: 0; text-decoration: none; border: none; outline: none;">
                <table style="border: 5px solid #e7e7e7;" cellpadding="0" cellspacing="0" border="0" align="center" width="600px" height="auto" bgcolor="#e7e7e7">
                    <tr height="3a0px">
                        <td width="28px" style="background-color: #e7e7e7; width: 28px; height: 40px; padding: 0; display: table-cell; text-decoration: none; border: none; outline: none;"></td>

                        <td width="40px" style="width: 40px; height: 40px; padding: 0; display: table-cell; text-decoration: none; border: none; outline: none;">
                            <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#e7e7e7">
                                <tr height="36px">
                                    <td width="36px" style="background-color: #a1a1a1; width: 36px; height: 36px; padding: 2px; text-decoration: none; border: none; outline: none;">
                                        <img src="@avatarpath" alt="Profile Photo" style="width: 100%; height: auto; padding: 0; display: block; text-decoration: none; border: none; outline: none;" />
                                    </td>
                                </tr>
                            </table>
                        </td>

                        <td width="10px" style="background-color: #e7e7e7; width: 10px; height: 40px; padding: 0; display: table-cell; text-decoration: none; border: none; otuline: none;"></td>

                        <td width="46px" style="width: 46px; height: 40px; padding: 0; display: table-cell; text-decoration: none; border: none; outline: none;">
                            <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#e7e7e7">
                                <tr height="5px">
                                    <td width="46px" style="background-color: #e7e7e7; width: 46px; height: 5px; border: none; outline: none;"></td>
                                </tr>
                                <tr height="28px">
                                    <td width="46px" style="background-color: #e7e7e7; width: 46px; height: 28px; border: none; outline: none; font-family: Arial, Helvetica, sans-serif;">
                                        <p style="display: table-cell; height: 28px; padding: 0; padding-right: 5px; border: none; outline: none; font-size: 14px; line-height: 28px; text-align: right; color: #207ca3;">@ubt.User.Profile.Firstname</p>
                                    </td>
                                </tr>
                                <tr height="7px">
                                    <td width="46px" style="background-color: #e7e7e7; width: 46px; height: 7px; border: none; outline: none;"></td>
                                </tr>
                            </table>
                        </td>

                        <td width="73px" style="background-color: #e7e7e7; width: 73px; height: 40px; padding: 0; display: table-cell; text-decoration: none; border: none; outline: none;">
                            <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#e7e7e7">
                                <tr height="40px">
                                    <td width="53px" style="background-color: #e7e7e7; width: 53px; height: 40px; padding: 0; display: table-cell; border: none; outline: none;"></td>
                                    <td width="1px" style="background-color: #d6d6d6; width: 1px; height: 40px; padding: 0; display: table-cell; border: none; outline: none;"></td>
                                    <td width="19px" style="background-color: #e7e7e7; width: 19px; height: 40px; padding: 0; display: table-cell; border: none; outline: none;"></td>
                                </tr>
                            </table>
                        </td>

                        <td width="42px" style="background-color: #e7e7e7; width: 42px; height: 40px; padding: 0; display: table-cell; text-decoration: none; border: none; outline: none;">
                            <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#e7e7e7">
                                <tr height="2px">
                                    <td width="42px" style="background-color: #e7e7e7; width: 42px; height: 2px; padding: 0; display: block; text-decoration: none; border: none; outline: none;">-->
                                        <!-- top border -->
                                    <!--</td>
                                </tr>
                                <tr height="34px">
                                    <td width="40px" style="width: 40px; height: 32px; padding: 0; display: block; text-decoration: none; border: 1px; border-color: #4ab3df; border-style: solid; outline: none; font-family: Arial, Helvetica, sans-serif;">
                                        <p style="background-color: #ffffff; width: 36px; height: 30px; padding: 0; padding-right: 2px; display: table-cell; text-decoration: none; border: 1px; border-color: #e4e4e4; border-style: solid; outline: none; font-size: 18px; line-height: 30px; text-align: center; color: #207ca3;">@ubt.UserPermanentPoint.CountryNumber</p>
                                    </td>
                                </tr>
                                <tr height="4px">
                                    <td width="42px" style="background-color: #e7e7e7; width: 42px; height: 4px; padding: 0; display: block; text-decoration: none; border: none; outline: none;">-->
                                        <!-- bottom border -->
                                    <!--</td>
                                </tr>
                            </table>
                        </td>-->

                        <!-- countries -->
                        <!--<td width="76px" style="background-color: #e7e7e7; width: 76px; height: 40px; padding: 0; display: table-cell; text-decoration: none; border: none; border-right: 1px; border-right-style: solid; border-right-color: #d6d6d6; outline: none;">
                            <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#e7e7e7">
                                <tr height="5px">
                                    <td width="76px" style="background-color: #e7e7e7; width: 76px; height: 5px; padding: 0; border: none; outline: none;"></td>
                                </tr>
                                <tr height="28px">
                                    <td width="76px" style="background-color: #e7e7e7; width: 76px; height: 28px; padding: 0; border: none; outline: none; font-family: Arial, Helvetica, sans-serif;">
                                        <p style="height: 28px; display: table-cell; padding-left: 5px; text-decoration: none; border: none; outline: none; font-size: 12px; font-weight: bold; line-height: 28px; text-align: left; color: #3186aa;">Countries</p>
                                    </td>
                                </tr>
                                <tr height="7px">
                                    <td width="76px" style="background-color: #e7e7e7; width: 76px; height: 7px; padding: 0; border: none; outline: none;"></td>
                                </tr>
                            </table>
                        </td>

                        <td width="14px" style="background-color: #e7e7e7; width: 14px; height: 40px; padding: 0; display: table-cell; text-decoration: none; border: none; outline: none;"></td>

                        <td width="62px" style="background-color: #e7e7e7; width: 62px; height: 40px; padding: 0; display: table-cell; text-decoration: none; border: none; outline: none;">
                            <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#e7e7e7">
                                <tr height="2px">
                                    <td width="62px" style="background-color: #e7e7e7; width: 62px; height: 2px; padding: 0; display: block; text-decoration: none; border: none; outline: none;">-->
                                        <!-- top border -->
                                    <!--</td>
                                </tr>
                                <tr height="34px">
                                    <td width="60px" style="width: 60px; height: 32px; padding: 0; display: block; text-decoration: none; border: 1px; border-color: #4ab3df; border-style: solid; outline: none; font-family: Arial, Helvetica, sans-serif;">
                                        <p style="background-color: #ffffff; width: 56px; height: 30px; padding: 0; padding-right: 2px; display: table-cell; text-decoration: none; border: 1px; border-color: #e4e4e4; border-style: solid; outline: none; font-size: 18px; line-height: 30px; text-align: center; color: #207ca3;">@ubt.UserPermanentPoint.CityNumber.ToString()</p>
                                    </td>
                                </tr>
                                <tr height="4px">
                                    <td width="62px" style="background-color: #e7e7e7; width: 62px; height: 4px; padding: 0; display: block; text-decoration: none; border: none; outline: none;">-->
                                        <!-- bottom border -->
                                    <!--</td>
                                </tr>
                            </table>
                        </td>-->

                        <!-- cities -->
                        <!--<td width="53px" style="background-color: #e7e7e7; width: 53px; height: 40px; padding: 0; display: table-cell; text-decoration: none; border: none; border-right: 1px; border-right-style: solid; border-right-color: #d6d6d6; outline: none;">
                            <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#e7e7e7">
                                <tr height="5px">
                                    <td width="53px" style="background-color: #e7e7e7; width: 53px; height: 5px; padding: 0; border: none; outline: none;"></td>
                                </tr>
                                <tr height="28px">
                                    <td width="53px" style="background-color: #e7e7e7; width: 53px; height: 28px; padding: 0; border: none; outline: none; font-family: Arial, Helvetica, sans-serif;">
                                        <p style="height: 28px; display: table-cell; padding-left: 5px; text-decoration: none; border: none; outline: none; font-size: 12px; font-weight: bold; line-height: 28px; text-align: left; color: #3186aa;">Cities</p>
                                    </td>
                                </tr>
                                <tr height="7px">
                                    <td width="53px" style="background-color: #e7e7e7; width: 53px; height: 7px; padding: 0; border: none; outline: none;"></td>
                                </tr>
                            </table>
                        </td>

                        <td width="13px" style="background-color: #e7e7e7; width: 13px; height: 40px; padding: 0; display: table-cell; text-decoration: none; border: none; outline: none;"></td>

                        <td width="58px" style="background-color: #e7e7e7; width: 58px; height: 40px; padding: 0; display: table-cell; text-decoration: none; border: none; outline: none;">
                            <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#e7e7e7">
                                <tr height="2px">
                                    <td width="58px" style="background-color: #e7e7e7; width: 58px; height: 2px; padding: 0; display: block; text-decoration: none; border: none; outline: none;">-->
                                        <!-- top border -->
                                    <!--</td>
                                </tr>
                                <tr height="34px">
                                    <td width="56px" style="width: 56px; height: 32px; padding: 0; display: block; text-decoration: none; border: 1px; border-color: #4ab3df; border-style: solid; outline: none; font-family: Arial, Helvetica, sans-serif;">
                                        <p style="background-color: #ffffff; width: 52px; height: 30px; padding: 0; padding-right: 2px; display: table-cell; text-decoration: none; border: 1px; border-color: #e4e4e4; border-style: solid; outline: none; font-size: 18px; line-height: 30px; text-align: center; color: #207ca3;">@ubt.UserPermanentPoint.PlacesNumber.ToString()</p>
                                    </td>
                                </tr>
                                <tr height="4px">
                                    <td width="58px" style="background-color: #e7e7e7; width: 58px; height: 4px; padding: 0; display: block; text-decoration: none; border: none; outline: none;">-->
                                        <!-- bottom border -->
                                    <!--</td>
                                </tr>
                            </table>
                        </td>-->

                        <!-- venues -->
                        <!--<td width="83px" style="background-color: #e7e7e7; width: 83px; height: 40px; padding: 0; display: table-cell; text-decoration: none; border: none; outline: none;">
                            <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#e7e7e7">
                                <tr height="5px">
                                    <td width="83px" style="background-color: #e7e7e7; width: 83px; height: 5px; padding: 0; border: none; outline: none;"></td>
                                </tr>
                                <tr height="28px">
                                    <td width="83px" style="background-color: #e7e7e7; width: 83px; height: 28px; padding: 0; border: none; outline: none; font-family: Arial, Helvetica, sans-serif;">
                                        <p style="height: 28px; display: table-cell; padding-left: 5px; text-decoration: none; border: none; outline: none; font-size: 12px; font-weight: bold; line-height: 28px; text-align: left; color: #3186aa;">Venues</p>
                                    </td>
                                </tr>
                                <tr height="7px">
                                    <td width="83px" style="background-color: #e7e7e7; width: 83px; height: 7px; padding: 0; border: none; outline: none;"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>-->

        <tr height="auto">
            <td width="100%">
                <table width="600px" height="auto" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff" style="border:none;">
                    <tr height="16px"><td width="100%" style="background-color:#ffffff;width:600px;height:16px;padding:0;display:block;text-decoration:none;border:none;outline:none;"></td></tr>

                    <tr height="auto">
                        <td width="100%">
                            <table width="600px" height="auto" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff" style="background-color:#1C95C9;">
                                <tr height="40px">
                                    <td width="28px" style="width:28px;height:40px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;"></td>
                                    <!-- col 1 -->
                                    <td width="40px" style="width:40px;height:40px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;"><span style="background-color:#f2f2f2;width:38px;height:38px;padding:0;display:block;text-decoration:none;outline:none;border:1px solid #d2d2d2;overflow:hidden;"><img src="@avatarpath" width="100%" height="auto" alt="Profile Photo" style="width:38px;height:auto;padding:0;display:block;text-decoration:none;border:none;outline:none;" /></span></td>
                                    <td width="90px" style="width:90px;height:40px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;"><span style="width:76px;height:auto;padding:0 0 0 14px;display:block;text-decoration:none;border:none;outline:none;font:16px/18px Arial, Helvetica, sans-serif;text-align:left;color:#ffffff;">@ubt.User.Profile.Firstname</span></td>
                                    <!-- col 2 -->
                                    <td width="62px" style="width:62px;height:40px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;"><span style="width:58px;height:auto;padding: 0;display:block;text-decoration:none;border:none;outline:none;font:16px/18px Arial, Helvetica, sans-serif;text-align:right;color:#ffffff;">@ubt.UserPermanentPoint.CountryNumber</span></td>
                                    <td width="88px" style="width:88px;height:40px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;"><span style="color:#ffffff;font:16px/18px Arial,Helvetica,sans-serif">Countries</span></td>
                                    <!-- col 3 -->
                                    <td width="70px" style="width:70px;height:40px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;"><span style="width:66px;height:auto;padding: 0;display:block;text-decoration:none;border:none;outline:none;font:16px/18px Arial, Helvetica, sans-serif;text-align:right;color:#ffffff;">@ubt.UserPermanentPoint.CityNumber.ToString()</span></td>
                                    <td width="59px" style="width:59px;height:40px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;"><span style="color:#ffffff;font:16px/18px Arial,Helvetica,sans-serif">Cities</span></td>
                                    <!-- col 4 -->
                                    <td width="70px" style="width:70px;height:40px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;"><span style="width:66px;height:auto;padding: 0;display:block;text-decoration:none;border:none;outline:none;font:16px/18px Arial, Helvetica, sans-serif;text-align:right;color:#ffffff;">@ubt.UserPermanentPoint.PlacesNumber.ToString()</span></td>
                                    <td width="93px" style="width:93px;height:40px;padding:0;display:table-cell;text-decoration:none;border:none;outline:none;"><span style="color:#ffffff;font:16px/18px Arial,Helvetica,sans-serif">Venues</span></td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr height="16px"><td width="100%" style="background-color:#ffffff;width:600px;height:16px;padding:0;display:block;text-decoration:none;border:none;outline:none;"></td></tr>
                </table>
            </td>
        </tr>

        <!-- [Contents] - body of contents -->

        <tr height="auto">
            <td width="100%" align="left" style="width: 600px; height: auto; padding: 0; border: none; outline: none;">
                <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff" style="margin-top: 10px;">
                    <tr height="auto">
                        @*<td width="55px" style="background-color: #ffffff; width: 55px; padding: 0; display: table-cell; border: none; outline: none;"></td>*@
                        <td style="background-color: #ffffff; height: auto; padding: 0; display: table-cell; border: none; outline: none;">
                            @*<a href="http://www.ive-been-there.com/" target="_blank" style="height: auto; padding: 0; display: block; text-decoration: none; border: none; outline: none;">*@
                                @*<img src="@email.Logo" alt="I've Been There" border="1" style="width: @width; max-height: 100px; padding: 0;margin: 0 auto; display: block; text-decoration: none; border: none; outline: none;" />*@
                                <p style="display: block; padding: 0; padding-left: 5px; padding-right: 18px; font-size: 12px; font-weight: normal; text-transform: none; text-align: left; line-height: normal; color: #9d9d9d;height:@height">
                                    @Html.Raw(email.Logo== null ? "" : email.Logo)
                                </p>
                            @*</a>*@
                        </td>
                        <td style="background-color: #ffffff; padding: 0; display: table-cell; border: none; outline: none;"></td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- [Contents] - header -->
        <!-- [Contents] - contents -->
        <tr height="auto">
            <td width="100%" bgcolor="#ffffff" style="width: 600px; height: auto; padding: 0; border: none; outline: none;">
                <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff">
                    <tr height="auto">
                        <!--<td width="48px" style="background-color: #ffffff; width: 48px; height: auto; padding: 0; display: table-cell; border: none; outline: none;"></td>-->
                        <td width="600px" style="background-color: #ffffff; width: 600px; height: auto; padding: 0; display: table-cell; border: none; outline: none; font-family: Arial, Helvetica, sans-serif;">
                            <h1 style="text-align: left; padding: 0; padding-left: 5px; font-size: 25px; width: 100%; line-height: 28px; font-weight: normal; text-transform: capitalize; color: #31aee3;">@email.Title</h1>
                            <p style="display: block; padding: 0; padding-left: 5px; padding-right: 18px; font-size: 12px; font-weight: normal; text-transform: none; text-align: left; line-height: normal; color: #9d9d9d;">
                                @Html.Raw(emailContent == null ? "" : emailContent)
                            </p>
                        </td>
                        <!--<td width="48px" style="background-color: #ffffff; width: 48px; height: auto; padding: 0; display: table-cell; border: none; outline: none;"></td>-->
                    </tr>
                </table>
            </td>
        </tr>

        <!--Portin to be made as optional-->
        <tr style="background-color: #e2e2e2;">
            <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td rowspan="3" align="left">
                            <img src="http://www.ive-been-there.com/images/activate/newBadge.jpg" width="181" height="172" />
                            <!--<img src="/images/activate/travelBadge.jpg" width="181" height="172" />-->
                        </td>
                        <td rowspan="3">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td align="center"><span style="font-size: 12pt; color: #a1a1a1; font-weight: bold; font-family: arial;">MEETING PROFESSIONAL BADGE</span></td>
                                </tr>
                                <tr>
                                    <td align="center"><span style="font-size: 18pt; color: #16a1ce; font-weight: bold; font-family: arial;"><span style="font-size: 40pt;">@ubt.TotalPoints.ToString()</span>PTS</span></td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <a href="/Account/PointSummary" target="_blank"><img style="margin-right: 10px;" src="/images/activate/btn_view_points_summary.jpg" width="178" height="47" /></a>
                                        <a href="/Supplier/TravelsAdd" target="_blank"><img src="/images/activate/btn_post_more_visits.jpg" width="136" height="47" /></a>
                                    </td>
                                </tr>
                            </table>
                        </td>

                    </tr>
                </table>
            </td>
        </tr>
        <!--Portin to be made as optional-->
        <!-- Footer -->
        <tr height="10px">
            <td width="100%" style="background-color: #ffffff; width: 600px; height: 10px; padding: 0; border: none; outline: none;"></td>
        </tr>
        <tr height="auto">
            <td width="100%" style="background-color: #ffffff; width: 600px; height: auto; padding: 0; border: none; outline: none;">
                <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff">
                    <tr height="auto">
                        <td width="22px" style="background-color: #ffffff; width: 22px; height: auto; padding: 0; display: table-cell; border: none; outline: none;"></td>
                        <td width="556px" style="background-color: #ffffff; width: 556px; height: auto; padding: 0; display: table-cell; border: none; outline: none; font-family: Arial, Helvetica, sans-serif;">
                            <p style="height: auto; padding: 0; padding-left: 5px; display: block; text-decoration: none; border: none; outline: none; font-size: 11px; font-weight: normal; line-height: normal; text-align: left; color: #9d9d9d;">Important Note About Privacy: No personal contact information is visible within I've Been There so your privacy is always protected. We always respect your wishes. If for any reason you do not wish to be included in our online community, choose Update Settings/Profile to change your preference or de-activate your account.</p>
                        </td>
                        <td width="22px" style="background-color: #ffffff; width: 22px; height: auto; padding: 0; display: table-cell; border: none; outline: none;"></td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr height="10px">
            <td width="100%" style="background-color: #ffffff; width: 600px; height: 10px; padding: 0; border: none; outline: none;"></td>
        </tr>

        <!--<tr height="auto">
            <td width="100%" style="background-color: #ffffff; width: 600px; height: auto; padding: 0; border: none; outline: none;">
                <table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff">
                    <tr height="auto">
                        <td width="22px" style="background-color: #ffffff; width: 22px; height: auto; padding: 0; display: table-cell; border: none; outline: none;"></td>
                        <td width="556px" style="background-color: #ffffff; width: 556px; height: auto; padding: 0; display: table-cell; border: none; outline: none; font-family: Arial, Helvetica, sans-serif;">
                            <p style="height: auto; padding: 0; padding-left: 5px; display: block; text-decoration: none; border: none; outline: none; font-size: 11px; font-weight: normal; line-height: normal; text-align: left; color: #9d9d9d;">
                                Visit <a href="http://www.ive-been-there.com/" target="_blank" style="display: inline-block; text-decoration: none; border: none; outline: none; color: #9d9d9d;">www.Ive-Been-There.com</a> | <a href="/PrivacyPolicy" target="_blank" style="display: inline-block; text-decoration: none; border: none; outline: none; color: #9d9d9d;">Privacy Statement</a> | <a href="/Account/AccountSetting" target="_blank" style="display: inline-block; text-decoration: none; border: none; outline: none; color: #9d9d9d;">Update Settings/Profile</a>
                            </p>
                        </td>
                        <td width="22px" style="background-color: #ffffff; width: 22px; height: auto; padding: 0; display: table-cell; border: none; outline: none;"></td>
                    </tr>
                </table>
            </td>
        </tr>-->

        <tr>
            <td>
                <div>
                    <p style="height: auto; padding-top: 15px; padding-bottom: 15px; display: block; text-decoration: none; border: none; outline: none; text-align: center;font-size: 12px; font-weight: bold; line-height: normal; background-color:#1C95C9; color: #ffffff;">
                        Visit <a href="http://www.ive-been-there.com/" target="_blank" style="display: inline-block; text-decoration: none; border: none; outline: none; color: #ffffff;">www.Ive-Been-There.com</a> | <a href="/PrivacyPolicy" target="_blank" style="display: inline-block; text-decoration: none; border: none; outline: none; color: #ffffff;">Privacy Statement</a> | <a href="/Account/AccountSetting" target="_blank" style="display: inline-block; text-decoration: none; border: none; outline: none; color: #ffffff;">Update Settings/Profile</a>
                        | <a href="/Account/unsubscribe?key={Key}" target="_blank" style="display: inline-block; text-decoration: none; border: none; outline: none; color: #ffffff;">Email Unsubscribe</a>
                    </p>
                </div>
            </td>
        </tr>

        <!-- Padding Bottom -->
        <tr height="18px">
            <td width="100%" style="background-color: #ffffff; width: 600px; height: 18px; padding: 0; border: none; outline: none;"></td>
        </tr>

        <!--<tr>
            <td>
                <div>
                    <P style="font-family: Arial; font-size: 8pt; color: #c0c0c0; text-align:left;">
                        “American Express Meetings & Events” is a service provided by American Express Global Business Travel (“GBT”). GBT is a joint venture that is not
                        wholly-owned by American Express Company or any of its subsidiaries (“American Express”). “American Express Global Business Travel”, “American Express” and the American Express logo are trademarks of American Express, and are used under limited license.
                        <br />
                    </P>
                </div>
            </td>
        </tr>-->

    </table>

</body>
</html>