﻿@{
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}
<input type="hidden" id="hidArray" value="" />
<div class="tabList">
    <div class=" bg">
        <a href="WidgetCountriesManage" class=" fold unfold">Country</a>
        <a href="WidgetCitiesManage" class="fold ">City</a>
    </div>
</div>
<div class="fixbox mT20 mB15">
    <div class=""><a href="javascript:void(0);"onclick="ibtAdmin.loadUrlPop('/Admin/Home/AddWidgetCountry','Get','',function(){$('.jscroll-e').show();scroll_init(scroll_blueSearch2);SearchData.initData(1);SearchData.init(1);initTxtValue();},'Search');" class="btnBlueH45"><span class="bg">+ NEW COUNTRY</span></a></div>
</div>
<div class="mT5 note alignR">Note : Drag to re-order</div>
<div class="table table02 mT40">
    <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <thead>
            <tr>
                <th width="3%">&nbsp;</th>
                <th width="6%">Date Added</th>
                <th width="8%">Country</th>
                <th width="4%">&nbsp;</th>
            </tr>
        </thead>
        <tbody id="talCountry"></tbody>
    </table>
    <table cellpadding="0" cellspacing="0" border="0" width="100%" id="addCountry">
        @*<tr>
            <td class=" alignR" colspan="9">
                <div class="controlBg control1">
                    <span class="bg">
                        <a href="javascript:void(0);" class="add NborderR " onclick="ibtAdmin.loadUrlPop('/Admin/Home/AddWidgetCountry','Get','',function(){$('.jscroll-e').show();scroll_init(scroll_blueSearch2);SearchData.initData(1);SearchData.init(1);},'Search');"></a>
                    </span>
                </div>
            </td>
        </tr>*@
    </table>
    <input type="hidden" id="hid" value="" />
    <div class="mT10 alignR">
        @*<a href="javascript:void(0);" class="btnBlueH33 mR10"><span class="bg">PREVIEW</span></a>*@
        <a href="javascript:void(0);" onclick="WidgetCountryManage.saveSort();" class="btnBlueH33 mR5"><span class="bg" id="save">SAVE</span></a>
    </div>
</div>
@section PageFoot{
    <script src="/App/js/tablednd/jquery-1.7.1.js"></script>
    <script src="/App/js/tablednd/jquery.tablednd.0.7.min.js"></script>
    <script src="/App/js/jWidgetCountry.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            WidgetCountryManage.initData();
            WidgetCountryManage.init();

            // Initialise the table
            $("#talCountry").tableDnD({
                onDrop: function (table, row) {
                    var rows = table.rows;
                    var debugStr = "";
                    var strId = "";
                    for (var i = 0; i < rows.length; i++) {
                        debugStr += rows[i].id + "-" + i.toString() + ",";
                        strId += rows[i].id + ",";
                    }
                    $("#hidArray").val(strId);
                    //alert($("#hidArray").val());

                }
            });
            // Make a nice striped effect on the table
            $("#talCountry tr:even").addClass("trBg");
        });
    </script>
}