﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>@Html.Raw(ViewBag.Title)</title>
     <meta name="keywords" content="@Html.Raw(ViewBag.Keywords)" />
     <meta name="description" content="@Html.Raw(ViewBag.Description)" />
<link rel="stylesheet" href="/css/style.css" type="text/css" />
<link type="text/css" rel="stylesheet" href="/js/boxy/boxy.css" />
     <script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
      <script type="text/javascript" src="/js/effect.js"></script>
     <script type="text/javascript" src="/js/boxy/jquery.boxy.js"></script>
     <script type="text/javascript" src="/js/ibt.js"></script>
    <script src="/js/bvalidator/jquery.bvalidator.js" type="text/javascript"></script>
      <script type="text/javascript" src="/js/jquery.raty.min.js"></script>
</head>
<body>
<div class="wrapper">
    @Html.Partial("Widget/_Header")
        @RenderBody()
     @Html.Partial("Widget/_Footer")
    </div>
     <script type="text/javascript">
         $(document).ready(function () {
             checkboxshow();
             searchTab();
             selectSpan();
             //popup();
             $(".fadeClick").fadeClick();
             inputText();
         })
    </script>
</body>
</html>
