﻿@{
    RRWB rrwb = ViewBag.RRWB as RRWB;
    int ibtType = (int)ViewBag.IbtType;
    Country country = null;
    City city = null;
    switch (ibtType)
    {
        case (int)IMeet.IBT.Services.Identifier.IBTType.Country:
            {
                country = ViewBag.IbtObject as IMeet.IBT.DAL.Country;
                break;
            }
        case (int)IMeet.IBT.Services.Identifier.IBTType.City:
            {
                IMeet.IBT.Services.IIBTService ibtService = StructureMap.ObjectFactory.GetInstance<IMeet.IBT.Services.IIBTService>();
                
                city = ViewBag.IbtObject as IMeet.IBT.DAL.City;
                country = ibtService.GetCountry(city.CountryId);
                break;
            }
        case (int)IMeet.IBT.Services.Identifier.IBTType.Supply:
            {
                break;
            }
        default:
            break;
    }
    string recommended = string.Empty;
    if (rrwb.Recommended == 1)
    {
        recommended = "uncheckbox";
    }
    string wantoGo = string.Empty;
    if (rrwb.WanttoGo == 1)
    {
        wantoGo = "uncheckbox";
    }
    string bucketList = string.Empty;
    if (rrwb.BucketList == 1)
    {
        bucketList = "uncheckbox";
    }
}

@if (country != null&&ibtType==(int)IMeet.IBT.Services.Identifier.IBTType.Country)
{
<div class="feature feedList">
                    	
    <a class="img" href="/Country/NewsFeed/@ibtType/@country.CountryId"><span class="middle"></span><img alt="" src="@PageHelper.GetCountryFlagToConvert(country.FlagSrc)"></a>
    <div class="info">
        <span class="operating">
            <span class="rating" data-rating="@rrwb.Rating"><span class="f10  mR5"> RATING</span>
                <span id="ibtrating" data-rating="@rrwb.Rating"></span>
            </span>
            @if((int)ViewBag.IBTCount==0){
                <a href="@PageHelper.PostVisitNUrl(ibtType,country.CountryId)" class="btnBlueH45">
                    <span class="bg">I've been there</span></a>
            }else{
                <a href="@PageHelper.PostVisitNUrl(ibtType,country.CountryId)" class="btnBlueH45">
                    <span class="btnBlueNumH45"><span class="btnBlueAddH45">I've been there</span>@ViewBag.IBTCount</span></a>
            }
            <span class="control mT10">
                @if ((int)ViewBag.IBTFriendsCount == 0) { 
                    <span class="friendsInfo f10 C7a7a7a">Friends That Have Been Here: @ViewBag.IBTFriendsCount</span>
                }else{
                    <span class="friendsInfo f10 C7a7a7a">Friends That Have Been Here: <a href="javascript:void(0);" onclick="ibt.loadUrlPop('/ShowFriend/@ibtType/@country.CountryId','Get','',null,' @ViewBag.IBTFriendsCount Friend Who\'ve Been There');" class="underline">@ViewBag.IBTFriendsCount </a> </span>
                }
            </span>
        </span>
        <dl class="">
            <dt>
                <a href="#" class="title">@country.CountryName</a>
                @*<span class="f11  ">@ViewBag.IBTPoepleCount people have been there</span>*@
                <span class="f11  ">Members That Have Been There: @ViewBag.IBTPoepleCount</span>
@*                @if ((int)ViewBag.IBTFriendsCount == 0) { 
                    <span class="f11">Friends That Have Been Here: @ViewBag.IBTFriendsCount</span>
                }else{
                    <span class="f11">Friends That Have Been Here: <a href="javascript:void(0);" onclick="ibt.loadUrlPop('/ShowFriend/@ibtType/@country.CountryId','Get','',null,' @ViewBag.IBTFriendsCount Friend Who\'ve Been There');" class="underline">@ViewBag.IBTFriendsCount </a> </span>
                }*@
            </dt>
                <dd>
                <div id="ibtcommon_rrwb" class="choose  checkboxTxtBox">
                    <span class="checkboxTxt mR5 @recommended" data-val="@rrwb.Recommended" data-ibttype="@ibtType" data-rrwbtype="2" onclick="ibt_common.rrwb(this);">
                        <span class="bg"><span class="alignM"></span><span class="txt">Recommended<span class="num">(@country.RecommendedCount)</span></span></span>
                    </span>
                    <span class="checkboxTxt mR5 @wantoGo" data-val="@rrwb.WanttoGo" data-ibttype="@ibtType" data-rrwbtype="3" onclick="ibt_common.rrwb(this);">
                        <span class="bg"><span class="alignM"></span><span class="txt">Want to Go/Go Back<span class="num">(@country.WanttoGoCount)</span></span></span>
                    </span>
                    <span class="checkboxTxt mR5 mT5 @bucketList" data-val="@rrwb.BucketList" data-ibttype="@ibtType" data-rrwbtype="4" onclick="ibt_common.rrwb(this);">
                        <span class="bg"><span class="alignM"></span><span class="txt">Bucket List<span class="num">(@country.BucketListCount)</span></span></span>
                    </span>
                </div>
                </dd>
        </dl>
        <div class="botBar fixbox">
            <a href="@("/Search/ResultSearch?countryId="+country.CountryId+"&cityId=&cateIds=&sortBy=0&listType=City")"><span class="cities">@ViewBag.CountCity Cities</span></a>
            <a href="@("/Search/ResultSearch?countryId="+country.CountryId+"&cityId=&cateIds=&sortBy=0&listType=Supplier")"><span class="suppliers">@ViewBag.CountSupply Suppliers</span></a>
            <a href="@("/Search/ResultSearch?countryId="+country.CountryId+"&cityId=&cateIds=&sortBy=0&listType=Member")"><span class="members">@ViewBag.CountMember Members</span></a>
        </div>
    </div>
</div>
}

@if (city != null&&ibtType==(int)IMeet.IBT.Services.Identifier.IBTType.City)
{
<div class="feature feedList">
                    	
    <a class="img" href="/City/NewsFeed/@ibtType/@city.CityId">
        <span class="middle"></span><img alt="" src="@(string.IsNullOrEmpty(city.FlagSrc)?PageHelper.GetCountryFlagToConvert(country.FlagSrc):city.FlagSrc)">
    </a>
    <div class="info">
        <span class="operating">
            <span class="rating" data-rating="@rrwb.Rating"><span class="f10  mR5"> RATING</span>
                <span id="ibtrating" data-rating="@rrwb.Rating"></span>
            </span>
            @if((int)ViewBag.IBTCount==0){
                <a href="@(PageHelper.PostVisitNUrl(ibtType,city.CityId))" class="btnBlueH45">
                    <span class="bg">I've been there</span></a>
            }else{
                <a href="@PageHelper.PostVisitNUrl(ibtType,city.CityId)" class="btnBlueH45">
                    <span class="btnBlueNumH45"><span class="btnBlueAddH45">I've been there</span>@ViewBag.IBTCount</span></a>
            }
            <span class="control mT10">
                @if((int)ViewBag.IBTFriendsCount == 0){
                    <span class="friendsInfo f10 C7a7a7a">Friends That Have Been Here: @ViewBag.IBTFriendsCount</span>
                }else{
                    <span class="friendsInfo f10 C7a7a7a">Friends That Have Been Here: <a href="javascript:void(0);" onclick="ibt.loadUrlPop('/ShowFriend/@ibtType/@city.CityId','Get','',null,' @ViewBag.IBTFriendsCount Friend Who\'ve Been There');" class="underline">@ViewBag.IBTFriendsCount</a></span>
                }
            </span>
        </span>
        <dl class="">
            <dt><a href="#" class="title">@city.CityName</a><span class="f11  ">@ViewBag.IBTPoepleCount people have been there</span>
                                    
            </dt>
                <dd>
                <div id="ibtcommon_rrwb" class="choose  checkboxTxtBox">
                    <span class="checkboxTxt mR5 @recommended" data-val="@rrwb.Recommended" data-ibttype="@ibtType" data-rrwbtype="2" onclick="ibt_common.rrwb(this);">
                        <span class="bg"><span class="alignM"></span><span class="txt">Recommended<span class="num">(@city.RecommendedCount)</span></span></span>
                    </span>
                    <span class="checkboxTxt mR5 @wantoGo" data-val="@rrwb.WanttoGo" data-ibttype="@ibtType" data-rrwbtype="3" onclick="ibt_common.rrwb(this);">
                        <span class="bg"><span class="alignM"></span><span class="txt">Want to Go/Go Back<span class="num">(@city.WanttoGoCount)</span></span></span>
                    </span>
                    <span class="checkboxTxt mR5 mT5 @bucketList" data-val="@rrwb.BucketList" data-ibttype="@ibtType" data-rrwbtype="4" onclick="ibt_common.rrwb(this);">
                        <span class="bg"><span class="alignM"></span><span class="txt">Bucket List<span class="num">(@city.BucketListCount)</span></span></span>
                    </span>
                </div>
                </dd>
        </dl>
        <div class="botBar fixbox">
            <a href="@("/Search/ResultSearch?countryId="+city.CountryId+"&cityId="+city.CityId+"&cateIds=&sortBy=0&listType=Supplier")"><span class="suppliers">@ViewBag.CountSupply Suppliers</span></a>
            <a href="@("/Search/ResultSearch?countryId="+city.CountryId+"&cityId="+city.CityId+"&cateIds=&sortBy=0&listType=Member")"><span class="members">@ViewBag.CountMember Members</span></a>
        </div>
    </div>
</div>
}
