﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("Widget/_Header")
<script type="text/javascript">
    $(document).ready(function () {
        $("#a_pointsummary").attr("class", "active");
    });
</script>
@section PageSide{
    @Html.Partial("Widget/_TravelBadge")
    @Html.Partial("Widget/_Advertisement")
    @Html.Partial("Widget/_Video")
    @Html.Partial("Widget/_IBT")
}
<div class="bgdgeBox">
    <div class="navList">
        <div class=" bg">
            <a href="/account/pointsummary" class=" fold">Point<br />
                Summary</a>
            <a href="/travelbadge/about" class="fold">About</a>
            <a href="/travelbadge/earning" class="fold unfold">Earning<br />
                Points</a>
            <a href="/travelbadge/achievement" class="fold">Achievement<br />
                Levels</a>
            <a href="/travelbadge/rewards" class="fold">Rewards</span></a>
            <a href="/supplier/travelsadd" class="btn btnBlueH53"><span class="bg"><span class="arrow">Earn Points &  <br />Post Visits Now</span></span></a>
            @*            <a href="#" class="fold  lastLi">Set up Travel Badge
                <br />
                Signature</a>*@
        </div>
    </div>
    <div class="txtBox ">
        <p>The Badge Program is designed to acknowledge the experience gained by Meeting Professionals when they travel, and scoring reflects both the travel and the efforts based on the nature of the events handled. You can earn points in a number of different ways:</p>
        <h2 class="blugBigBg mT40"><span class="bg">PERMANENT POINTS</span></h2>
        <p class="mL10">PERMANENT POINTS are based on unique visits, and these points never expire. They are rewarded the first time you post a unique visit, and are scored as follows:</p>
        <div class=" permanent">
            <span class="country50  iconPoints mR15"></span>
            <span class="city30 iconPoints mR15"></span>
            <span class="venues10 iconPoints"></span>
            <div class="grayRadius mT15 italic ">
                Note: these permanent points are scored when you post and save a unique visit 
                                through any action/method throughout the site
            </div>

        </div>

        <h2 class="blugBigBg mT40"><span class="bg">BONUS POINTS</span></h2>
        <p>BONUS POINTS are for event-specific visits, and these points are valid for up to 3 years (the calendar year posted plus two additional calendar years thereafter). Points are earned for every meeting post, even if it involves a repeat visit to a location.</p>

        <div class="bonus">
            <div class="fixbox">
                <dl class="leftCol left">
                    <dt>Purpose of Visit:</dt>
                    <dd>
                        <span class="iconPoints operateEvent mR15"></span>
                        <span class="iconPoints siteInspection"></span>
                    </dd>
                </dl>
                <dl class="left rightCol">
                    <dt></dt>
                    <dd>
                        <span class="iconPoints challenges"></span>
                    </dd>
                    <dd>If you are posting a visit based on Operating an Event, the posting screen will expand, allowing you to check challenging experiences in 
connection with the event.</dd>
                </dl>
            </div>
            <div class="grayRadius mT15 italic ">
                Note: these bonus points are available only when you post a visit using the 
                                I'VE BEEN THERE buttons on destination or supplier listings 
            </div>
        </div>

        <h2 class="blugBigBg mT40"><span class="bg">SPECIAL POINTS</span></h2>
        <p>SPECIAL POINTS are for specific actions relating to industry knowledge, events, and/or information, and these points are valid for up to one year (in the calendar year earned).</p>
        <div class="special">
            <p><span class="C000 bold">Specials</span>: points vary as posted</p>
            <span class="iconPoints specialActivity"></span>
            <div class="grayRadius mT15 italic ">
                Note: these bonus points are available only when you post a visit using the 
                                    I'VE BEEN THERE buttons on destination or supplier listings 
            </div>
        </div>
    </div>
</div>

@section PageFoot{
    <script type="text/javascript">
    </script>
}
@section PageNanigation{
    @Html.Partial("Widget/Nav/_TravelBadgeBar")
<script type="text/javascript">
    $(function () {
        ibt_travelBadge_index = 2;
        $('#_travelBadgeBar a:eq(' + ibt_travelBadge_index + ')').addClass('unfold');
    });
</script>
}