﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("Widget/_Header")
<script type="text/javascript">
    $(document).ready(function () {
        $("#a_pointsummary").attr("class", "active");
    });
</script>
@section PageSide{
    @Html.Partial("Widget/_TravelBadge")
    @Html.Partial("Widget/_Advertisement")
    @Html.Partial("Widget/_Video")
    @Html.Partial("Widget/_IBT")
}
<div class="bgdgeBox">
    <div class="navList">
        <div class=" bg">
            <a href="/account/pointsummary" class=" fold">Point<br />
                Summary</a>
            <a href="/travelbadge/about" class="fold">About</a>
            <a href="/travelbadge/earning" class="fold">Earning<br />
                Points</a>
            <a href="/travelbadge/achievement" class="fold">Achievement<br />
                Levels</a>
            <a href="/travelbadge/rewards" class="fold unfold">Rewards</span></a>
            <a href="/supplier/travelsadd" class="btn btnBlueH53"><span class="bg"><span class="arrow">Earn Points &  <br />Post Visits Now</span></span></a>
            @*            <a href="#" class="fold  lastLi">Set up Travel Badge
                <br />
                Signature</a>*@
        </div>
    </div>
    <img src="/images/img_rewards.jpg" alt="" class="mT20" />
    <p class="C666">
        The Meeting Professional Badge program is designed to acknowledge your experience and accomplishments!
You will receive confirmation at each new level of achievement during the course of each year. <span class="C000 bold">Rewards Information Coming Soon</span>.
    </p>
</div>

@section PageFoot{
    <script type="text/javascript">
    </script>
}
@section PageNanigation{
    @Html.Partial("Widget/Nav/_TravelBadgeBar")
<script type="text/javascript">
    $(function () {
        ibt_travelBadge_index = 4;
        $('#_travelBadgeBar a:eq(' + ibt_travelBadge_index + ')').addClass('unfold');
    });
</script>
}