﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("Widget/_Header")
<script type="text/javascript">
    $(document).ready(function () {
        $("#a_pointsummary").attr("class", "active");
    });
</script>
@section PageSide{
    @Html.Partial("Widget/_TravelBadge")
    @Html.Partial("Widget/_Advertisement")
    @Html.Partial("Widget/_Video")
    @Html.Partial("Widget/_IBT")
}
<div class="bgdgeBox">
    <div class="navList">
        <div class=" bg">
            <a href="/account/pointsummary" class=" fold">Point<br />
                Summary</a>
            <a href="/travelbadge/about" class="fold unfold">About</a>
            <a href="/travelbadge/earning" class="fold">Earning<br />
                Points</a>
            <a href="/travelbadge/achievement" class="fold">Achievement<br />
                Levels</a>
            <a href="/travelbadge/rewards" class="fold">Rewards</span></a>
            <a href="/supplier/travelsadd" class="btn btnBlueH53"><span class="bg"><span class="arrow">Earn Points &  <br />Post Visits Now</span></span></a>
            @*            <a href="#" class="fold  lastLi">Set up Travel Badge
                <br />
                Signature</a>*@
        </div>
    </div>
    <div class="banner">
        <img src="/images/about_travel_banner.jpg" alt="" /></div>
    <div class="txtBox ">
        <p>Brought to you by i-Meet and American Express Meetings & Events, this "Experiential Badge" for Meeting Professionals is the industry's only acknowledgement of your on-the-ground experience!</p>
        <p>Here you can track all your travels, including where you've managed events, site inspections, and other event-related experiences.</p>
        <p>Once you've activated your <span class="C000 bold">MEETING PROFESSIONAL BADGE</span>, it's a simple process to get started. Simply <span class="C000 bold">POST YOUR EXPERiENCES</span> in one of three ways:</p>
        <ol>
            <li>Use the <a href="/supplier/travelsadd" class="underline">ADD + HISTORY</a> link. Here you can recreate YOUR ENTIRE TRAVEL HISTORY. Start with the list of countries, and click all those you visited. Then click on any country visited to see the cities displayed in that country. Use the same process to indicate the cities you visited, and then repeat the process for venues for a look at all the hotels in these cities. Don't forget to SAVE your selections, and then you can view your map and history in the MY INFO link.</li>
            <li>Use the QUICK ADD LISTS displayed throughout the site. These simple checklists allow you to post visits fast. Remember to save.</li>
            <li>Find a country, city or supplier listing link anywhere on the site. Click on it and you'll see the listing, as well as an easy way to rate, recommend, and indicate whether you would go back. Click the I'VE BEEN THERE button, which will allow you to POST A VISIT with details and photos if you'd like. <span class="C000 bold">Bonus points are available through this process.</span></li>
        </ol>
        <p>See the <span class="C000 bold">EARNING POINTS</span> section for more details and scoring.</p>
        <p>When you activate your badge, you will receive summaries via email that detail your points earned, your level of achievement, rewards, specials and opportunities to earn more.</p>

        <div class="tcBox grayRadius">
            <h3>Terms & Conditions: </h3>
            
            <p>This Meeting Professional Badge is available only to meeting and event professionals who indicate this status as part of their I’ve Been There member profile.  By activating a Meeting Professional Badge, you will also be subject to the intent; rules and measurements detailed in <a class="underline bold" href="/travelbadge/about">About Badge Program</a>, and I’ve Been There’s <a class="underline bold" href="/TermsOfUse">Terms of Use</a> for members.</p>
            <p>The program is sponsored by American Express Meetings & Events.   Sponsors do not have access to member’s personal information on I’ve Been There.  Sponsors will have access to levels of achievement for Badge Program participants, with total scoring data, and blind consolidated data on member activities in connection with the Badge program.  No personal information will be shared with American Express Meetings & Events, unless this information is posted at the site by individual members. </p>
            <p>Members of I’ve Been There that activate this badge program agree to receive communications, updates and point summaries from time to time.  Award levels and acknowledgements may apply at different levels of achievement, and sponsors have the right to change awards at any time. Points earned on this site are for site use only and are not redeemable for American Express Membership Rewards points or other American Express products or cash.</p>
            <p>You may cancel your participation in the Meeting Professional Badge Program at any time (My Info>Edit Profile>uncheck Meeting and Event Planner from the “How You See The World” section).</p>
@*            <p>This Meeting Professional Badge is available only to meeting and event professionals, who indicate this status as part of their I've Been There member profile. By activating, member acknowledges that they have read, understand and agree to the intent, rules and measurements detailed in About Badge Program, and agree to I've Been There's <a class="underline bold" href="/TermsOfUse">Terms of Use</a> for members.</p>
            <p>The program is sponsored by i-Meet and American Express Meetings &amp; Events. Sponsors do not have access to member's personal information on I've Been There. Sponsors will have access to levels of achievement for Badge Program participants, with total scoring data, and blind consolidated data on member activities in connection with the Badge program. No personal information will be shared with American Express Meetings &amp; Events, unless this information is posted at the site by individual members. Email addresses are not shared with sponsors, except that email addresses are used for Badge Program communications.</p>
            <p>Members of I've Been There that activate this badge program agree to receive communications, updates and point summaries from time to time. Award levels and acknowledgements may apply at different levels of achievement, and sponsors have the right to change awards at any time.</p>
            <p>You may cancel your participation in the Meeting Professional Badge Program at any time (My Info &gt; Edit Profile &gt; Uncheck Meeting and Event Planner from the "How You See The World" section).</p>
            <p>By activating your Meeting Professional Badge, you AGREE to these terms and conditions.</p>*@

        </div>
    </div>
</div>

@section PageFoot{
    <script type="text/javascript">
    </script>
}
@section PageNanigation{
    @Html.Partial("Widget/Nav/_TravelBadgeBar")
<script type="text/javascript">
    $(function () {
        ibt_travelBadge_index = 1;
        $('#_travelBadgeBar a:eq(' + ibt_travelBadge_index + ')').addClass('unfold');
    });
</script>
}