﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<BadgeSpecial> list = ViewBag.list;
}

@Html.Partial("Widget/_Header")

@section PageSide{
    @Html.Partial("Widget/_TravelBadge")
    @Html.Partial("Widget/_Advertisement")
    @Html.Partial("Widget/_Video")
    @Html.Partial("Widget/_IBT")
}

<div class="bgdgeBox">
    <h2 class="blugBigBg mT40"><span class="bg">List of Badge Specials</span></h2>
    <div class=" italic bold C31AEE3 mL10">Here's a chance to get more bonus points!</div>

    <div class="specials">
        <ul class="list">
            @foreach (BadgeSpecial bs in list)
            {
                <li>
                    <img class="imgPoint" style="width:80px;height:80px;" src="@bs.ImageSrc" />
                    <div class="info inlineBox">

                        @{if (bs.Type == (int)IMeet.IBT.Services.Identifier.BadgeSpecialType.UniqueIbt)
                          {
                            <h2>Post @bs.UIBTPV visits to receive @bs.UIBTPOF% more points!</h2>
                          }
                          else
                          {
                            <h2>@(bs.Type == (int)IMeet.IBT.Services.Identifier.BadgeSpecialType.UniqueSpecificActivity ? bs.USAPoint : bs.Point) Bonus Points<span class="subTitle">@bs.Title</span></h2>
                          }
                        }

                        @*                        <h2>
                            @(bs.Type == (int)IMeet.IBT.Services.Identifier.BadgeSpecialType.UniqueSpecificActivity ? bs.USAPoint : bs.Point) Bonus Points<span class="subTitle">@bs.Title</span>
                        </h2>*@
                        <p>@bs.ShortDescription</p>
                        <div class="date">Available Until @(bs.EndDate.ToString("m")), @bs.EndDate.Year  </div>
                    </div>
                    <span class="rightCol inlineBox"><a href="/travelbadge/badgespecial/@bs.BadgeSpecialId" class="btnBlueH45 btn"><span class="bg">VIEW MORE</span></a></span>
                </li>
            }
        </ul>
    </div>
</div>
