﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    BadgeSpecial badgeSpecial = ViewBag.badgeSpecial;
}

@Html.Partial("Widget/_Header")

@section PageSide{
    @Html.Partial("Widget/_TravelBadge")
    @Html.Partial("Widget/_Advertisement")
    @Html.Partial("Widget/_Video")
    @Html.Partial("Widget/_IBT")
}

<div class="bgdgeBox">
    @*<h2 class="blugBigBg mT40"><span class="bg">Badge Special</span></h2>*@
    <h2 class="blugBigBg mT40"><span class="bg"><a href="/travelbadge/badgespecials" class="blueTagBackBtn">List of Badge Specials</a></span></h2>
    <div class=" italic bold C31AEE3 mL10">Here's a chance to get more bonus points!</div>

    <div class="specials">
        <ul class="list">
            <li>
                <h2 class="fixbox">
                    @*<img src="/images/img_points50.png" />*@
                    <span class="txt">@badgeSpecial.Title <span class="date">Available Until @(badgeSpecial.EndDate.ToString("m")), @badgeSpecial.EndDate.Year</span></span>
                </h2>
                <div class="infoDetail">
                    <div class="img" style="height:auto;"><img style="width:200px;" src="@badgeSpecial.ImageSrc" /></div>
                    <p>@badgeSpecial.LongDescription</p>
                    @if(User.Identity.IsAuthenticated&&badgeSpecial.Type==(int)IMeet.IBT.Services.Identifier.BadgeSpecialType.IbtDriven){
                        <a target="_blank" href="@badgeSpecial.Link" onclick="j_badge_special.getPoint(@badgeSpecial.BadgeSpecialId)" class="btnBlueH45 btn"><span class="bg">GET POINTS</span></a>
                    }else{
                        @*<a target="_blank" onclick="j_badge_special.getPoint(@badgeSpecial.BadgeSpecialId)" class="btnBlueH45 btn"><span class="bg">GET POINTS</span></a>*@
                        <a class="btnBlueH45 btn" onclick="ibt.loadUrlPop('/account/login','Get','',function(){$('#pop_login').bValidator({singleError:true});  $('.boxyInner').addClass('popup');inputText();},'Login&lt;span class=\'f12\'&gt;(Required For This Activity)&lt;/span&gt;');" href="javascript:void(0);"><span class="bg">GET POINTS</span></a>
                    }
                </div>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript">
    var j_badge_special = {
        getPoint: function (id) {
            $.ajax({
                url: '/travelbadge/badgespecialgetpoint',
                data: { id: id },
                type: 'post',
                dataType: 'json',
                success: function (json) {
                    if (json.Success) {
                        Boxy.alert("Points for this activity have been added to your Meeting Professional Badge", null, { title: "CONGRATULATIONS!" });
                    } else {
                        Boxy.alert("Points for this activity have already been added to your Meeting Professional Badge", null, { title: "PLEASE NOTE" })
                    }
                    $(".boxyInner").addClass("popup");
                },
                error: function () { Boxy.alert("Service error", null, { title: "GET POINT" }); }
            });
        }
    };
</script>
