.boxyWrapper
{
    position: absolute;
}

    .boxyWrapper.fixed
    {
        position: absolute;
    }

/* Modal */

.boxyModalBlackout
{
    position: absolute;
    background-color: black;
    left: 0;
    top: 0;
}

/* Border */

.boxyWrapper
{
    empty-cells: show;
}

    .boxyWrapper .boxyTopLeft,
    .boxyWrapper .boxyTopRight,
    .boxyWrapper .boxyBottomRight,
    .boxyWrapper .boxyBottomLeft
    {
        width: 10px;
        height: 10px;
        padding: 0;
    }


    .boxyWrapper .boxyTopLeft
    {
        background: url('images/boxy-nw.png') no-repeat;
        _background: none;
        _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='js/boxy/images/boxy-nw.png', sizingMethod='crop');
    }

    .boxyWrapper .boxyTopRight
    {
        background: url('images/boxy-ne.png') no-repeat;
        _background: none;
        _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='js/boxy/images/boxy-ne.png', sizingMethod='crop');
    }

    .boxyWrapper .boxyBottomRight
    {
        background: url('images/boxy-se.png') no-repeat;
        _background: none;
        _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='js/boxy/images/boxy-se.png', sizingMethod='crop');
    }

    .boxyWrapper .boxyBottomLeft
    {
        background: url('images/boxy-sw.png') no-repeat;
        _background: none;
        _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='js/boxy/images/boxy-sw.png', sizingMethod='crop');
    }

    .boxyWrapper .boxyTop,
    .boxyWrapper .boxyBottom
    {
        height: 10px;
        background-color: black;
        opacity: 0.6;
        filter: alpha(opacity=60);
        padding: 0;
    }

    .boxyWrapper .boxyLeft,
    .boxyWrapper .boxyRight
    {
        width: 10px;
        background-color: black;
        opacity: 0.6;
        filter: alpha(opacity=60);
        padding: 0;
    }

    /* Title bar */

    .boxyWrapper .title-bar
    {
        background-color: black;
        padding: 6px;
        position: relative;
    }

    .boxyWrapper .titleBar.dragging
    {
        cursor: move;
    }

    .boxyWrapper .titleBar h2
    {
        font-size: 18px;
        color: white;
        line-height: 1;
        margin: 0;
        padding: 0;
        text-transform: uppercase;
    }

    .boxyWrapper .titleBar .close
    {
        border: 0;
        color: white;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 90%;
        line-height: 1;
        font-weight: bold;
    }

/* Content Region */

.boxyInner
{
    background-color: white;
    padding: 0;
}

/* Question Boxes */

.boxyWrapper .question
{
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    padding: 15px 10px;
    font-size:13px;
    width:280px;
}

.boxyWrapper .answers
{
    padding: 10px;
    text-align: center;
}

.answers input
{
    background-color: #65C8F2;
    border: 1px solid #3CA0CA;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    padding: 5px 10px;
}
