﻿@{
    string keyWord = IMeet.IBT.Common.Helpers.RequestHelper.GetVal("k", "Key in Keyword");
}

@if(User.Identity.IsAuthenticated)
{
<div class="topBar">
    <div class="wrap">
        <div class="fixbox">
            @Html.Partial("Widget/Nav/_Profile")
            <div class="searchBar2">
                <div class="main">
                    <div class="btnBox right">
                        <a class="btn btnSearch btnActive left" href="javascript:void(0);" onclick="searchListing.search();"><span>Search</span></a>
                        <a class="btn left" href="/search/listing?s=countries">Browse by Country</a>
                    </div>
                    <span class="select w120 left" style="z-index: 0;">
                        <span class="arrow">Search By</span>
                        <span class="list" style="display: none;">
                            <ul>
                                <li onclick="searchListing.searchByN('hotels');">Hotels</li>
                                <li onclick="searchListing.searchByN('countries');">Countries</li>
                                <li onclick="searchListing.searchByN('cities');">Cities</li>
                                <li onclick="searchListing.searchByN('other');">Other Venues</li>
                                <li onclick="searchListing.searchByN('all');">All Suppliers</li>
                                <li onclick="searchListing.searchByN('member');">People</li>
                            </ul>
                        </span>
                    </span>
                    <div class="key ">
                        <input id="nav_search_keywork" type="text" value="@keyWord" onblur="if(this.value==''){ this.value='Key in Keyword'}" onfocus="if(this.value=='Key in Keyword'){ this.value=''}" class="">
                    </div>
                </div>
            </div>
        </div>
        <div class="searchBox">
            <div class="listMain ">
                <div class="letterBar ">
                    <div class="bg">
                        <div class="main">
                            @{
                                System.Text.StringBuilder sb = new System.Text.StringBuilder();
                                for (int i = 65; i < 91; i++)
                                {
                                    sb.Append("<a class='filter_id_"+Convert.ToChar(i).ToString()+"' href='javascript:void(0);' onclick='searchListing.filterSearch(this)'>" + Convert.ToChar(i).ToString() + "</a>");
                                }
                            }
                            @Html.Raw(sb.ToString())
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $(window).scroll(function () {
            if ($(this).scrollTop() > 115) {
                $(".topBar").show();
                if ($(this).scrollTop() > 160) {
                    $(".topBar").find(".searchBox ").show();
                    if (!searchListing.isNav) {
                        $('#nav_search_keywork').val($('#keyWord').val());
                        searchListing.isNav = true;
                    }
                } else {
                    $(".topBar").find(".searchBox ").hide();
                }
            } else {
                $(".topBar").hide();
                if (searchListing.isNav) {
                    $('#keyWord').val($('#nav_search_keywork').val());
                    searchListing.isNav = false;
                }
            }
        });
    })
</script>
}
