﻿<div class="topBar topBarShadow">
    <div class="wrap">
        <div class="fixbox">
            @if(User.Identity.IsAuthenticated){
                @Html.Partial("Widget/Nav/_Profile")
            }
            <div class="bgdgeBox">
                <div class="navList">
                    <div id="_travelBadgeBar" class=" bg">
                        <a class="fold" href="/account/pointsummary">Point<br>
                            Summary</a>
                        <a class="fold " href="/travelbadge/about">About</a>
                        <a class="fold " href="/travelbadge/earning">Earning<br>
                            Points</a>
                        <a class="fold " href="/travelbadge/achievement">Achievement<br>
                            Levels</a>
                        <a class="fold  last" href="/travelbadge/rewards">Rewards</a>
                        <a class="btn btnBlueH53" href="/supplier/travelsadd"><span class="bg"><span class="arrow">Earn Points &amp; 
                            <br>
                            Post Visits Now</span></span></a>
                        <a style="display: none;" class="fold lastLi" href="/supplier/travelsadd">Set up Travel Badge
                            <br>
                            Signature</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(window).scroll(function () {
        if ($(this).scrollTop() > 130) {
            $(".topBar").show();
        } else {
            $(".topBar").hide();
        }
    });
    var ibt_travelBadge_index = 0;
</script>
