﻿<div class="commnet">
    <div class="fixbox"><h3 class="left mL15">Message Journals :</h3></div>
    <ul id="SupplyFeedbackLists">

    </ul>
    <div id="loadMoreComment" style="display:none;"><span onclick="jFeedbacks.LoadMore();">See More...</span></div>
    <ul>
        <li class="write">
            <textarea class="C7a7a7a autogrow-short" id="supplyCommentTxt" rows="1"  style="line-height:20px; height:20px;">Write a comment...</textarea>
            <span class="supplyCommnet_btnSave"><input onclick="jFeedbacks.Save();" type="button" value="Comment" /></span>
        </li>
    </ul>
</div>

