﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var mapsFirst = ViewBag.MapsFirst as MapsItem;

    //IList<Country> countryList = ViewBag.CountryList;
    int step = IMeet.IBT.Common.Helpers.RequestHelper.GetValInt("step");
    string ids = IMeet.IBT.Common.Helpers.RequestHelper.GetVal("ids");
}
@Html.Partial("Widget/_Header")
<script type="text/javascript">
        $("#a_addtravels").attr("class", "active");
</script>
<div class="stepTitle">
    <a href="javascript:void(0);" onclick="jAddTravels.Step1(0);"></a>
    <a href="javascript:void(0);" onclick="jAddTravels.Step2(0);"></a>
    <a href="javascript:void(0);" onclick="jAddTravels.Step3(0);"></a>
    <a href="javascript:void(0);" class="last" onclick="jAddTravels.Step4(0);"></a>
</div>
<div class="countriesBox" id="countriesBox">

</div>

<input type="hidden" id="iptEpoch" value="@ViewBag.Epoch" />
<input type="hidden" id="iptCountryIds" value="" />
<input type="hidden" id="iptVenuesIds" value="" />

<input type="hidden" id="iptCountryCity" value="" />
<input type="hidden" id="iptCityVenues" value="" />
<input type="hidden" id="iptTravelsData" value="" />


@section PageSide{
    @Html.Partial("Widget/_WBT")
    @Html.Partial("Widget/_Promotions")
    @Html.Partial("Widget/_IBT")
}

@section PageFoot{
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="/js/infobox.js"></script>
    <script src="/js/AddTravelsMaps.js?v=1"></script>
    <script src="/js/jAddTravels.js"></script>

    <script type="text/javascript">
        
        var $config = {};
        $config["lat"] = @Html.Raw(mapsFirst.lat + ";")
        $config["lng"] = @Html.Raw(mapsFirst.lng +";")
        var step =@Html.Raw(step.ToString() +";")
        var ids =  '@ids';
        addTravelsMaps.UserId = UserId;
        $(document).ready(function () {
            $("#iptCountryIds").val(ids);
            jAddTravels.Step1();
        });
    </script>
}

