﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    IMeet.IBT.Services.SupplierService supplyService = new IMeet.IBT.Services.SupplierService();
    IMeet.IBT.Services.ProfileService profileService = new IMeet.IBT.Services.ProfileService();
    Supply supply = ViewBag.Supply;
    RRWB rrwb = ViewBag.RRWB;
    int userId = profileService.GetUserId();
    Profile profile = profileService.GetUserProfile(userId);
    int ibtcount = supplyService.GetIBTInfo(userId, supply.SupplyId, supply.CountryId, supply.CityId).IbtCount;
    int friendcount = supplyService.HasBeenThereFriendsCount(userId, supply.CountryId, supply.CityId, supply.SupplyId);
    int allcount = supplyService.GetIBTInfo(0, supply.SupplyId, supply.CountryId, supply.CityId).IbtCount;
    string supplyName = supplyService.GetSupplyDetail(supply.SupplyId).Title;
    City BasicCity = supplyService.GetCityInfo(supply.CityId);
    if (BasicCity == null)
    {
        BasicCity = new City();
    }
    Country BasicCountry = supplyService.GetCountryInfo(supply.CountryId);
    if (BasicCountry == null)
    {
        BasicCountry = new Country();
    }
}
@Html.Partial("Widget/_Header")
@*@Html.Partial("Widget/_Search")*@
@Html.Partial("Widget/_SearchBar2")

<script src="/js/jsupplier.js"></script>

<input id="supplyId" value="@supply.SupplyId" type="hidden" />
<div class="supplierBox">
    <div class="feature feedList">
        <a class="img" href="#">
            <img alt="@supply.Title" src="@PageHelper.GetInterSupplyPhoto(supply.SupplyId, supply.CoverPhotoSrc, IMeet.IBT.Services.Identifier.SuppilyPhotoSize._bn)" /><span class="middle"></span></a>
        <div class="info">
            <span class="operating">
                <span class="rating"><span class="f10  mR5">RATING</span>
                    <span id="myRating" class="IBTRating" data-ibtType="3" data-rating="@rrwb.Rating" data-objId="@supply.SupplyId"></span>
                </span>
                @*判断是否ServerType的supply*@
                @if (!(supply.ServiceType == (int)IMeet.IBT.Services.Identifier.ServiceType.ServiceProvider))
                {
                    <a class="btnBlueH45" href="@PageHelper.PostVisitNUrl((int)IMeet.IBT.Services.Identifier.IBTType.Supply, supply.SupplyId)">
                        @{
                    if (ibtcount < 1)
                    {
                            <span class="bg">I've been there</span>
                    }
                    else
                    {
                            <span class="btnBlueNumH45"><span class="btnBlueAddH45">I've been there</span>@ibtcount</span>  
                    }
                        }
                    </a>
                    <span class="control mT10">Friends That Have Been Here: 
                        @if (friendcount == 0)
                        { 
                            @friendcount
                        }
                        else
                        {
                            <a href="javascript:void(0);" onclick="ibt.loadUrlPop('/ShowFriend/3/@supply.SupplyId','Get','',null,'Friends Who\'ve Been There');">@friendcount</a>
                        }
                        @*<span class="friendsInfo f10 C7a7a7a"><a href="#" class="underline">@friendcount @(friendcount > 1 ? " Friends" : " Friend")</a>@(friendcount > 1 ? "  have " : "  has ")Been There</span>*@
                    </span>
                }
                else
                {
                    <a href="@PageHelper.PostVisitNUrl((int)IMeet.IBT.Services.Identifier.IBTType.Supply, supply.SupplyId)" class="btnBlueH45">
                        @{
                    if (ibtcount < 1)
                    {
                            <span class="bg">I've used the service</span> 
                    }
                    else
                    {
                            <span class="btnBlueNumH45"><span class="btnBlueAddH45">I've used the service</span>@ibtcount</span>
                    }
                        }
                    </a>
                    <span class="control mT10">Friends That Have Been Here: 
                        @if (friendcount == 0)
                        { 
                            @friendcount
                        }
                        else
                        {
                            <a href="javascript:void(0);" onclick="ibt.loadUrlPop('/ShowFriend/3/@supply.SupplyId','Get','',null,'Friends Who\'ve Been There');">@friendcount</a>
                        }
                        @*<span class="friendsInfo f10 C7a7a7a"><a href="#" class="underline">@friendcount @(friendcount > 1 ? " Friends" : " Friend")</a>@(friendcount > 1 ? "  have " : "  has ")used the service</span>*@
                    </span>
                }

            </span>
            <dl class="">
                <dt>
                    <a href="javascript:void(0);" class="title">@supply.Title</a>
                    @*<span class="f11  ">@allcount @((supply.ServiceType == (int)IMeet.IBT.Services.Identifier.ServiceType.ServiceProvider) ? "people used the service" : "people have been there")</span>*@
                    <span class="f11  ">@((supply.ServiceType == (int)IMeet.IBT.Services.Identifier.ServiceType.ServiceProvider) ? "Members that have used this service:" : "Members That Have Been There:") @allcount</span>
                </dt>
                <dd>
                    <div class="choose checkboxTxtBox">
                        <span  class="checkboxTxt @Html.Raw(rrwb.Recommended.ToString() == "1" ? "uncheckbox" : "") mR5" onclick="ibt.rrwb_rwb(this);" data-postType="1" data-rrwbType="2"  data-ibtType="3" data-val="@rrwb.Recommended" data-objId="@supply.SupplyId.ToString()">
                            <span class="bg"><span class="alignM"></span><span class="txt">Recommended @Html.Raw(supply.RecommendedCount > 0 ? "<span id=\"r2\"  class=\"num\">(" + supply.RecommendedCount.ToString() + ")</span>" : "")</span></span>
                        </span>
                        @{if (supply.ServiceType != (int)IMeet.IBT.Services.Identifier.ServiceType.ServiceProvider)
                          {
                            <span  class="checkboxTxt @Html.Raw(rrwb.WanttoGo.ToString() == "1" ? "uncheckbox" : "") mR5 " onclick="ibt.rrwb_rwb(this);" data-postType="1" data-rrwbType="3"  data-ibtType="3" data-val="@rrwb.WanttoGo" data-objId="@supply.SupplyId.ToString()">
                                <span class="bg"><span class="alignM"></span><span class="txt">Want to Go/Go Back @Html.Raw(supply.WanttoGoCount > 0 ? "<span id=\"w3\"  class=\"num\">(" + supply.WanttoGoCount.ToString() + ")</span>" : "")</span></span>
                            </span>
                            <span class="checkboxTxt @Html.Raw(rrwb.BucketList.ToString() == "1" ? "uncheckbox" : "")" onclick="ibt.rrwb_rwb(this);" data-postType="1" data-rrwbType="4"  data-ibtType="3" data-val="@rrwb.BucketList" data-objId="@supply.SupplyId.ToString()">
                                <span class="bg"><span class="alignM"></span><span class="txt">Bucket List @Html.Raw(supply.BucketListCount > 0 ? "<span id=\"b4\"  class=\"num\">(" + supply.BucketListCount.ToString() + ")</span>" : "")</span></span>
                            </span>}
                        }
                    </div>
                </dd>
            </dl>
            <div class="botBar fixbox">
                @if (!string.IsNullOrEmpty(BasicCountry.CountryName))
                { 
                    <span class="country"><a href="/Country/NewsFeed/1/@BasicCountry.CountryId">@(BasicCountry.CountryName)(Country)</a></span>
                }
                @if (!string.IsNullOrEmpty(BasicCity.CityName))
                { 
                    <span class="cities"><a href="/City/NewsFeed/2/@BasicCity.CityId">@(BasicCity.CityName)(Cities)</a></span>
                }
            </div>
        </div>
    </div>
    <div class="info info2">
        <div class="navList">
            <div class="bg">
                <a href="?p=about" id="tb_about" class="fold" onclick="SupplyV(this,'about')"><span class="line">About</span></a>
                <a href="?p=newsfeeds" id="tb_newsfeeds" class="fold" onclick="SupplyV(this,'newsfeeds')"><span class="line">Newsfeed</span></a>
                <a href="?p=photo" id="tb_photo" class="fold" onclick="SupplyV(this,'photo')"><span class="line">Photo Album</span></a>
                <a href="?p=specials" id="tb_specials" class="fold" onclick="SupplyV(this,'specials')"><span class="line">Specials</span></a>
                <a href="?p=request" id="tb_request" class="fold" onclick="SupplyV(this,'request')">Request Information</a>
            </div>
        </div>
        @Html.Hidden("att_guid", System.Guid.NewGuid().ToString().Replace("-", ""))
        @Html.Hidden("att_type", (int)IMeet.IBT.Services.Identifier.AttachmentType.NewsFeed)
        @Html.Hidden("obj_type", 3)
        <input id="att_objid" value="@supply.SupplyId" type="hidden" />
        <!--comment uploadly-->
        <div class="shareTravel fixbox">
            <div class="shareTravel fixbox">
                <a href="javascript:void(0);" class="userImg">
                    <img src="@PageHelper.GetUserAvatar(userId, (int)IMeet.IBT.Services.Identifier.AccountSettingAvatarSize._xat)" alt="" /></a>
                @if (userId > 0)
                {
                    <div class="shareBox">
                        <div class="mainBg IERound">
                            <div class="txtMain">
                                <textarea id="supplyCommentTxt">Write a message...</textarea>
                                <div id="fileList" class="showPhoto fixbox" style="display: none;">
                                    <span class="fileBox add">
                                        <input type="file" id="supply_uploadify" />
                                    </span>
                                    <div id="progress" style="display: none;">
                                        <div class="bar" style="width: 0%; height: 3px; background: green;"></div>
                                    </div>
                                </div>
                                <div id="fileListFlash" class="showPhoto fixbox" style="display: none;">
                                    <span class="fileBox add">
                                        <input type="file" id="supply_uploadify_flash" />
                                    </span>
                                </div>
                                <input type="hidden" value="" id="imageids" />
                            </div>
                            <a href="javascript:;" class="btnBlueH38" onclick="jFeedbacks.Save()"><span class="bg">Post</span></a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="shareBox">
                        <div class="mainBg" id="shareBox1">
                            <div class="txtMain">
                                <textarea id="shareTextarea">Share your travel tips...</textarea>
                            </div>
                            <a href="javascript:;" class="btnIcon">
                                <img alt="" src="/images/icon/camera_icon.gif"></a>
                        </div>
                        <div class="mainBg" id="shareBox2" style="display: none;">
                            <div class="txtMain txtMain2">
                                <p class="alignR">
                                    Share your travel tips, Please   
                                    <a class="mL10" href="javascript:;" onclick="ibt.loadUrlPop('/account/login','Get','',function(){$('#pop_login').bValidator({singleError:true});  $('.boxyInner').addClass('popup');inputText();},'Login');">Log in</a>  l  
                                    <a href="/Account/signup">Sign up</a>
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <!--comment uploadly-->
        <!--about-->
        <div class="main" id="_about" style="display: none;">
            <ul class="mainList fixbox">
                <li>
                    @if (supply.SourceType == (int)IMeet.IBT.Services.Identifier.SourceType.Lanyon)
                    {
                        <span class="logoBox">
                            <h4>Hotel Data Powered By</h4>
                            <a href="http://lanyon.com/" target="_blank">
                                <img src="/images/logo/logo_lanyon.gif" alt="" /></a>
                        </span>
                    }
                    <span class="@(supply.SourceType == (int)IMeet.IBT.Services.Identifier.SourceType.Lanyon ? "description" : string.Empty)">
                        <h2>Description</h2>
                        <p>@(Html.Raw(supply.Desp))</p>
                    </span>
                </li>
                <li>
                    <h2>Info</h2>
                    <ul>
                        <li style="display: none;"><span class="title">Brand / Chain   </span><span class="answer">
                            <img src="/images/logo/hyatt.jpg" alt="" class="alignT" />( Hyatt )</span></li>
                        <li><span class="title">Address </span><span class="answer">@supply.InfoAddress</span></li>
                        <li><span class="title">Country </span><span class="answer">@(BasicCountry.CountryName)</span></li>
                        <li><span class="title">City </span><span class="answer">@(BasicCity.CityName)</span></li>
                        <li><span class="title">State	 </span><span class="answer">@supply.InfoState</span></li>
                        <li><span class="title">Zip / Postal </span><span class="answer">@supply.InfoZip</span></li>
                        <li><span class="title">Phone </span><span class="answer">@supply.InfoPhone</span></li>
                        <li><span class="title">Fax </span><span class="answer">@supply.InfoFax</span></li>
                        <li><span class="title">Website </span><span class="answer">
                            @if (!string.IsNullOrWhiteSpace(supply.InfoWebsite))
                            {
                                if (supply.InfoWebsite.ToLower().StartsWith("http://"))
                                {
                                <a href="@supply.InfoWebsite"  target="_blank">@supply.InfoWebsite</a>
                                }
                                else
                                {
                                <a href="@Html.Raw("http://" + supply.InfoWebsite)" target="_blank">@supply.InfoWebsite</a>
                                }
                            }
                            else
                            {
                                <text>N/A</text>
                            }
                        </span></li>
                    </ul>
                </li>
                <li>
                    <input type="hidden" id="txtCoordsLongitude" name="txtCoordsLongitude" value="@supply.CoordsLongitude" />
                    <input type="hidden" id="txtCoordsLatitude" name="txtCoordsLatitude" value="@supply.CoordsLatitude" />
                    <h2>Map</h2>
                    <div class="mapBox">
                        <div id="map_canvas" style="width: 100%; height: 100%;"></div>
                    </div>
                </li>
            </ul>
        </div>
        <!--about-->

        <!--news feeds-->
        <div class="commentList" id="_newsfeeds" style="display: none;">
            <ul class="fixbox" id="SupplyFeedbackLists">
            </ul>
            <div id="clickloadmore" style="width: 100%; border: 1px solid #E5E5E5; text-align: center; height: 24px; padding-top: 10px;">
                <a href="javascript:void(0);" onclick="jFeedbacks.GetFeedListOnClick();">Click to load more!</a>
            </div>
        </div>
        <!--news feeds-->

        <!--photo album-->
        <div id="_photoalbum" style="display: none;">
            <div class="main">
                <ul class="photosList fixbox" id="photolist"></ul>
                <br />
                <div id="clickloadmore_photo" style="width: 100%; border: 1px solid #E5E5E5; text-align: center; height: 24px; padding-top: 10px;">
                    <a href="javascript:void(0);" onclick="PhotoManage.GetPhotoListOnClick();">Click to load more!</a>
                </div>
            </div>
        </div>
        <!--photo album-->

        <!--specials-->
        <div id="_specials" style="display: none;">
            <div class="infoList offersList">
                <ul>
                    @{    string StartDate = "";
                          string ExpiryDate = "";
                          int showType = 0;
                          IList<Media> SpecialAds = supplyService.GetSpecialAdsList(supply.SupplyId);
                    }

                    @if (SpecialAds != null && SpecialAds.Count > 0)
                    {
                        foreach (var item in SpecialAds)
                        {
                            StartDate = DateTime.Parse(item.StartDate.ToString()).ToString("d MMMM yyyy");
                            ExpiryDate = DateTime.Parse(item.ExpiryDate.ToString()).ToString("d MMMM yyyy");
                            showType = item.MediaType;
                   
                        <li><span class="img">
                            @if (showType == 2)
                            {
                                <a href="@Html.Raw(item.FileSrc + "_ori.jpg")" rel="lightbox[img_@(item.MediaId.ToString())]" title="@item.Title" class="mR5">
                                    <img src="@Html.Raw(item.FileSrc + "_spec.jpg")" /></a>
                            }
                            else
                            {
                                @Html.Raw(item.Code)
                            }

                        </span>
                            <div class="infoMain">
                                <dl>
                                    <dt>@item.Title</dt>
                                    <dd class="date bold">From @StartDate - @ExpiryDate</dd>
                                </dl>
                                <div class="mT20">
                                    <p class="italic bold f11 C7a7a7a">@item.Desp</p>
                                    @*                       <dl class="dlList">
                                                            <dt>Package Includes</dt>
                                                            <dd> Professional Meeting Space</dd>
                                                            <dd> Professional Meeting Space</dd>
                                                            <dd> Professional Meeting Space</dd>
                                                            <dd> Professional Meeting Space</dd>
                                                            <dd> Professional Meeting Space</dd>
                                                        </dl>*@
                                    @*<a href="#" class="arrowBlueR mT10 bold">Request Info</a>*@
                                </div>
                            </div>
                        </li>
                        }
                    }
                </ul>
            </div>
        </div>
        <!--specials-->

        <!--request infomation-->
        <div id="_requestinfomation" style="display: none;"></div>
        <!--request infomation-->
    </div>
</div>


@section PageSide{
    @Html.Partial("Widget/_Advertisement")
    @Html.Partial("Widget/_Promotions")
    @Html.Partial("Widget/_IBT")
}

@section PageFoot{
    <script src="/js/jQuery-File-Upload-8.1.0/js/jquery.fileupload.js"></script>
    <script src="/js/jquery.autogrow-textarea.js"></script>
    <script src="/js/jFeedbacks.js"></script>
    <script src="/js/jFeedComments.js"></script>
    <script src="/js/photoAlbum.js"></script>
    <script src="/js/jFeeds.js"></script>
    <script src="/js/jFeedHistory.js"></script>
    <script src="/js/lightbox.js"></script>
    <link href="/css/lightbox.css" rel="stylesheet" />
    <script src="/js/jQueryRotate.2.2.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#SupplyRating').raty({
                readOnly: true,
                score: function () {
                    return $(this).attr('data-rating');
                }
            });
            $("#shareTextarea").focus(function () {
                $("#shareBox1").hide();
                $("#shareBox2").show();
            })
        });
        function golink() {
            $("a[name='SpecialLink']").each(function () {
                this.href = "/Supplier/s/" + $('#supplyId').val();
            });
        }
    </script>
    <script type="text/javascript">
        var geocoder;
        var map;
        var initLatlng;
        function initialize() {
            geocoder = new google.maps.Geocoder();
            var lng = $("#txtCoordsLongitude").val();
            var lat = $("#txtCoordsLatitude").val();
            var latlng = new google.maps.LatLng(lat, lng);
            var mapOptions = {
                zoom: 18,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            var image = new google.maps.MarkerImage('/images/icon/restaurant2.png');

            map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
            var marker = new google.maps.Marker({
                map: map,
                position: latlng
            });
        }
    </script>
}