﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    IMeet.IBT.Services.SupplierService supplyService = new IMeet.IBT.Services.SupplierService();
    IMeet.IBT.Services.ProfileService profileService = new IMeet.IBT.Services.ProfileService();
    Supply supply = ViewBag.Supply;
    string StartDate = "";
    string ExpiryDate = "";
    int showType = 0;
    string supplyName = supplyService.GetSupplyDetail(supply.SupplyId).Title;
}
@Html.Partial("Widget/_Header")
@Html.Partial("Widget/_Search")
<input id="supplyId" value="@supply.SupplyId" type="hidden" />
<div class="supplierBox">
    <div class="synopsis  grayBgG">
        <a class="right">
            <img alt="@supply.Title" src="@PageHelper.GetSupplyPhoto(supply.SupplyId, supply.CoverPhotoSrc, IMeet.IBT.Services.Identifier.SuppilyPhotoSize._bn)"></a>
        <dl>
            <dt class="fixbox"><span class="title">@(supply.Title)</span>
                <span class="rating">
                    <span class="mR5 inlineBox alignM">RATING</span>
                    <span id="SupplyRating"  data-rating="@supply.Rating"></span>
                </span>
            </dt>
            <dd>
                @(Html.Raw(supply.Desp))
            </dd>
        </dl>
    </div>
    <div class="info">
        <div class="navList">
            <div class=" bg">
                <a class="fold" href="@Html.Raw("/Supplier/v/" + supply.SupplyId + "-" + IMeet.IBT.Common.UrlSeoUtils.BuildValidUrl(supplyName))">Supplier Details</a>
                <a class="fold unfold" href="@Html.Raw("/Supplier/s/" + supply.SupplyId + "-" + IMeet.IBT.Common.UrlSeoUtils.BuildValidUrl(supplyName))">Specials</a>
                <a class="fold" href="javascript:void(0);">Request information</a>
            </div>
        </div>
        <div class="infoList offersList">
            <ul>
                @{
                    IList<Media> SpecialAds = ViewBag.SpecialAds;
                }

                @if (SpecialAds.Count > 0)
                {
                    foreach (var item in SpecialAds)
                    {
                        StartDate = DateTime.Parse(item.StartDate.ToString()).ToString("d MMMM yyyy");
                        ExpiryDate = DateTime.Parse(item.ExpiryDate.ToString()).ToString("d MMMM yyyy");
                        showType = item.MediaType;
                   
                    <li><span class="img">
                        @if (showType == 2)
                        {
                            <img src="@Html.Raw(item.FileSrc + "_spec.jpg")" />
                        }
                        else
                        {
                            @Html.Raw(item.Code)
                        }

                    </span>
                        <div class="infoMain">
                            <dl>
                                <dt>@item.Title</dt>
                                <dd class="date bold">From @StartDate - @ExpiryDate</dd>
                            </dl>

                            <div class="mT20">
                                <p class="italic bold f11 C7a7a7a">@item.Desp</p>
                                @*                       <dl class="dlList">
                                                            <dt>Package Includes</dt>
                                                            <dd> Professional Meeting Space</dd>
                                                            <dd> Professional Meeting Space</dd>
                                                            <dd> Professional Meeting Space</dd>
                                                            <dd> Professional Meeting Space</dd>
                                                            <dd> Professional Meeting Space</dd>
                                                        </dl>*@
                                <a href="#" class="arrowBlueR mT10 bold">Request Info</a>
                            </div>
                        </div>
                    </li>
                    }
                }

            </ul>
        </div>
    </div>
</div>

@section PageSide{
    @Html.Partial("Widget/_Advertisement")
    @Html.Partial("Widget/_Promotions")
    @Html.Partial("Widget/_IBT")
}
@section PageFoot{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#SupplyRating').raty({
                readOnly: true,
                score: function () {
                    return $(this).attr('data-rating');
                }
            });
        });
    </script>
}