﻿@{
    Layout = null;
    IMeet.IBT.Services.SupplierService supplierService = new IMeet.IBT.Services.SupplierService();
    int userId = ViewBag.UserId;
    PostVisitItem sls = ViewBag.PostVisitInfo as PostVisitItem;
    int countryId=0;
    int cityId=0;
    int supplyId=0;
    int ibtType = ViewBag.IbtType;
    if (ibtType == 1)
    {
        countryId = sls.CountryId;
    }
    else if (ibtType == 2)
    {
        countryId = sls.CountryId;
        cityId = sls.CityId;
    }
    else
    {
        countryId = sls.CountryId;
        cityId = sls.CityId;
        supplyId = sls.SupplyId;
    }
    int friendCount = supplierService.HasBeenThereFriendsCount(userId, sls.CountryId, sls.CityId, sls.SupplyId);
    Profile profile = ViewBag.Profile as Profile;
}

<script type="text/javascript">
    $(document).ready(function () {

    });
</script>

<div id="FriendsList">
    <div class="W600 popupMain">
    		<div class="friendsList">
            	<div class="scrollBox">
                	<ul id="friendsList">
                        @{
                            foreach (var Item in supplierService.GetAllFriend(userId, countryId, cityId, supplyId))
                            {
                    	<li>
                        		<a href="/Profile/@Item.UserId"><img src="@PageHelper.GetUserAvatar(Item.UserId, (int)IMeet.IBT.Services.Identifier.AccountSettingAvatarSize._xat)" class="userPic" alt="@Item.UserName" /></a>
                                <dl>
                                	<dt><a href="/Profile/@Item.UserId">@Item.FirstName @Item.LastName</a></dt>
                                    <dd>@Item.CityName, @Item.CountryName</dd>
                                </dl>
                        </li>
                        }
                        }
                    </ul>
                </div>
            </div>
    </div>
</div>
