﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    IMeet.IBT.Services.SupplierService supplierService = new IMeet.IBT.Services.SupplierService();
    IMeet.IBT.Services.ProfileService profileService = new IMeet.IBT.Services.ProfileService();
    int UserId = profileService.GetUserId();
    int pvCount = supplierService.HasPostVisitAllCount(UserId);
    int i = 0;
}
@Html.Partial("Widget/_Header")
<link href="/js/ui/jquery-ui.css" rel="stylesheet" />
<script src="/js/ui/jquery-ui.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        initData();
        $("#pvCountries li>a").each(function () {
            if ($(this).hasClass("active")) {
                var id = $(this).attr("data-countryId");
                var name = $(this).attr("data-countryName");
                $("#listCountryName").val(name);
                $("#listCountryId").val(id);
                goTab(this, name, id);
            }
        });
        //$("#filterKeyword").autocomplete({
        //    source: function (request, response) {
        //        $.ajax({
        //            url: "/Connection/GetUserName",
        //            data: {
        //                name: request.term,
        //            },
        //            dataType: "json"
        //        });
        //    },
        //    minLength: 2
        //});
    });
    $("#a_addtravels").attr("class", "active");
    function initData() {
        stepTab();
        $("#historyList").empty();
        //$("a [name='United States']").attr("class", "active");
        //GetCitiesListByCountryId();
        $('.noData').detach();
    }
    function GetCitiesListByCountryId() {
        $('<div class="loading"><img src="/images/icon_waiting.gif"/>Wait a moment... it\'s loading!</div>').appendTo('#historyList');
        var json_data = { listCountryId: $("#listCountryId").val(), listCountryName: $("#listCountryName").val(), filterKeyword: $("#filterKeyword").val(), filterField: $("#filterField").val() };
        $.ajax({
            url: '/Supplier/MyHistoryListAjx', async: false, dataType: "json", data: json_data, type: 'post', success: function (json) {
                if (json.Success) {
                    $("#historyList_count").text(json.Item.total);
                    $('#historyList').append(json.Message);
                    $('.loading').remove();
                    checkboxshow();
                    searchTab();
                    selectSpan();
                    //scroll_init(scroll_blue);
                    stepTab();
                    if ($('#historyList').children('li').length == 0) {
                        $('<div class="noData">Currently, no data!</div>').appendTo('#historyList');
                    }
                }
            }
        });
    }
    function goTab(obj, name, id) {
        $("#historyList").empty();//先删除以前的
        $('.noData').detach();
        if ($("#listCountryId").val() == id) {
            $(this).addClass("active");
            $("#listCountryId").val(id);
            GetCitiesListByCountryId();
        } else {
            $("#pvCountries li>a").each(function () {
                $(this).removeClass("active");
            });
            $("#pvCountries li").each(function () {
                $(this).removeClass("active");
            });
            $("#liId_" + id).addClass("active");
            $(obj).addClass("active");
            $("#listCountryName").val(name);
            $("#listCountryId").val(id);
            GetCitiesListByCountryId();
        }
       
    }
    function SelectVenues(obj, name, objId) {
        var id = $(obj).attr("data-cityid");
        $("#listCityName").val(name);
        $("#listCityId").val(id);
        if ($("#sub_cid_" + id).attr("data-show") == "1") {
            $("#sub_cid_" + id).stop(true, true).slideUp(500);
            $("#sub_cid_" + id).attr("data-show", 0);
            $(obj).attr("data-load", 0);
            $("#sub_cid_" + id).siblings(".rowMain").children(".txt").addClass("close").removeClass("open");
        }
        else {
            $(".subList").stop(true, true).slideUp(500);
            $(".subList").siblings(".rowMain").children(".txt").addClass("close").removeClass("open");
            //$(obj).attr("data-load", 0);
            //$("#sub_cid_" + id).attr("data-show", 0);
            if ($(obj).attr("data-load") == "1") {
                $("#sub_cid_" + id).stop(true, true).slideDown(500);
                $("#sub_cid_" + id).attr("data-show", 1);
                $(obj).attr("data-load", 0);
                $("#sub_cid_" + id).siblings(".rowMain").children(".txt").addClass("open").removeClass("close");
            } else {
                $('<div class="loading"><img src="/images/icon_waiting.gif"/>Wait a moment... it\'s loading!</div>').appendTo('#subList_' + id);
                var json_data = { listCountryId: $("#listCountryId").val(), listCityId: $("#listCityId").val(), listCityName: $("#listCityName").val() };
                $.ajax({
                    url: '/Supplier/MyVenuesListAjx', async: false, dataType: "json", data: json_data, type: 'post', success: function (json) {
                        if (json.Success) {
                            //$("#subList_count").text(json.Item.total);
                            $("#subList_" + id).html(json.Message);//ajax
                            //$('#subList').append(json.Message);
                            $('.loading').remove();
                            checkboxshow();
                            searchTab();
                            selectSpan();
                            scroll_init(scroll_blue);
                            stepTab();
                            if ($('#subList_' + id).children('li').length == 0) {
                                $('<div class="noData">Currently, no data!</div>').appendTo('#subList_' + id);
                            }
                        }
                    }
                });
                $("#sub_cid_" + id).stop(true, true).slideDown(500);
                $(obj).attr("data-load", 1);
                $("#sub_cid_" + id).attr("data-show", 1);
                $("#sub_cid_" + id).siblings(".rowMain").children(".txt").addClass("open").removeClass("close");
            }
        }
    }
</script>
<input type="hidden" id="listCountryId" value="3" />
<input type="hidden" id="listCityId" value="" />
<input type="hidden" id="listCountryName" value="United States" />
<input type="hidden" id="listCityName" value="" />
<div class="content travelHistory">
    <div class="tabNav">
        <ul>
            <li><a href="TravelsAdd" class="addTravels">Add Travels</a></li>
            <li class="active"><a href="TravelHistory" class="histiory">My Travel History</a></li>
        </ul>
    </div>
    <div class="countriesBox">
        <div class="sideColumn">
            <div class="country">
                <div class="top">
                    @*<input type="text" id="filterKeyword" value="Search By Country" onfocus="if(this.value=='Search By Country'){this.value=''}" onblur="if(this.value==''){this.value='Search By Country'}" />*@
                    <div class="visited">TOTAL POSTED VISITS: @pvCount</div>
                </div>
                <div class="scrollBox">
                    <ul id="pvCountries">
                        @{
                            foreach (var countryItem in supplierService.GetAllCountry())
                            {
                                int cnCount = supplierService.HasCountriesPostVisitCount(UserId, countryItem.CountryId);
                                if (cnCount > 0)
                                {
                                    i++;
                            <li class="@Html.Raw(i == 1 ? "active" : "")" id="@Html.Raw("liId_" + countryItem.CountryId.ToString())"><a href="javascript:void(0);" data-index="@i" data-countryId="@countryItem.CountryId" data-countryName="@countryItem.CountryName"  class="@Html.Raw(i == 1 ? "active" : "")"  onclick="goTab(this,'@countryItem.CountryName',@countryItem.CountryId);"><span class="total" data-countryId="@Html.Raw("countryId_" + countryItem.CountryId.ToString())"><span class="f10">Total</span>@cnCount</span><img src="@countryItem.FlagSrc" width="27" height="27" /><span class="name">@countryItem.CountryName</span></a></li>
                                    
                                }
                            }
                        }

                    </ul>
                </div>
            </div>
        </div>
        <div class="listMain">
            <ul class="historyList" id="historyList">
                @* <li class="frist row">
                    <div class="rowMain">
                        <span class="visitedPost">500 <span class="f12">visited posts</span></span>
                        <span class="checkboxBig disable mR10"></span>
                        <span class="txt">Australia <span class="italic mL5 f12">/  Country</span></span>
                    </div>
                </li>
                <li class="row  ">
                    <div class="rowMain">
                        <span class="visitedPost C31AEE3">2000 <span class="f12">visited posts</span></span>
                        <span class="close txt C31AEE3">Sydney <span class="italic mL5 f12">/  Cities</span></span>
                    </div>
                    <div class="subList">
                        <ul>
                            <li class="titleBar">
                                <span class="visitedPost C31AEE3">2000 </span>
                                <span class="checkboxBig uncheckbox disable mR10"></span>
                                <span class="txt"><span class="C31AEE3">Sydney</span> <span class="italic mL5 f12">/  Cities</span></span>
                            </li>
                            <li class="">
                                <span class="visitedPost C31AEE3">500 </span>
                                <span class="checkboxBig uncheckbox disable mR10"></span>
                                <span class="txt"><a href="#" class="">Arinex Destination Management</a> <span class="italic mL5 f12">/  Entertaiments</span></span>
                            </li>
                            <li class="">
                                <span class="visitedPost C31AEE3">500 </span>
                                <span class="checkboxBig uncheckbox disable mR10"></span>
                                <span class="txt"><a href="#" class="">Blacket Hotel</a> <span class="italic mL5 f12">/  Entertaiments</span></span>
                            </li>
                            <li class="NBorderB">
                                <span class="visitedPost C31AEE3">500 </span>
                                <span class="checkboxBig uncheckbox disable mR10"></span>
                                <span class="txt"><a href="#" class="">Blue Sydney</a> <span class="italic mL5 f12">/  Entertaiments</span></span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="row">
                    <div class="rowMain">
                        <span class="visitedPost C31AEE3">200 <span class="f12">visited posts</span></span>
                        <span class="close C31AEE3 txt">Orange <span class="italic mL5 f12">/  Cities</span></span>
                    </div>
                    <div class="subList">
                        <ul>
                            <li class="titleBar">
                                <span class="visitedPost C31AEE3">2000 </span>
                                <span class="checkboxBig uncheckbox disable mR10"></span>
                                <span class="txt"><span class="C31AEE3">Sydney</span> <span class="italic mL5 f12">/  Cities</span></span>
                            </li>
                            <li class="">
                                <span class="visitedPost C31AEE3">500 </span>
                                <span class="checkboxBig uncheckbox disable mR10"></span>
                                <span class="txt"><a href="#" class="">Arinex Destination Management</a> <span class="italic mL5 f12">/  Entertaiments</span></span>
                            </li>
                            <li class="">
                                <span class="visitedPost C31AEE3">500 </span>
                                <span class="checkboxBig uncheckbox disable mR10"></span>
                                <span class="txt"><a href="#" class="">Blacket Hotel</a> <span class="italic mL5 f12">/  Entertaiments</span></span>
                            </li>
                            <li class="NBorderB">
                                <span class="visitedPost C31AEE3">500 </span>
                                <span class="checkboxBig uncheckbox disable mR10"></span>
                                <span class="txt"><a href="#" class="">Blue Sydney</a> <span class="italic mL5 f12">/  Entertaiments</span></span>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="row">
                    <div class="rowMain">
                        <span class="visitedPost C31AEE3">200 <span class="f12">visited posts</span></span>
                        <span class="close C31AEE3 txt">Orange <span class="italic mL5 f12">/  Cities</span></span>
                    </div>
                    <div class="subList">
                        <ul>
                            <li class="titleBar">
                                <span class="visitedPost C31AEE3">2000 </span>
                                <span class="checkboxBig uncheckbox disable mR10"></span>
                                <span class="txt"><span class="C31AEE3">Sydney</span> <span class="italic mL5 f12">/  Cities</span></span>
                            </li>
                            <li class="">
                                <span class="visitedPost C31AEE3">500 </span>
                                <span class="checkboxBig uncheckbox disable mR10"></span>
                                <span class="txt"><a href="#" class="">Arinex Destination Management</a> <span class="italic mL5 f12">/  Entertaiments</span></span>
                            </li>
                            <li class="">
                                <span class="visitedPost C31AEE3">500 </span>
                                <span class="checkboxBig uncheckbox disable mR10"></span>
                                <span class="txt"><a href="#" class="">Blacket Hotel</a> <span class="italic mL5 f12">/  Entertaiments</span></span>
                            </li>
                            <li class="NBorderB">
                                <span class="visitedPost C31AEE3">500 </span>
                                <span class="checkboxBig uncheckbox disable mR10"></span>
                                <span class="txt"><a href="#" class="">Blue Sydney</a> <span class="italic mL5 f12">/  Entertaiments</span></span>
                            </li>
                        </ul>
                    </div>
                </li>*@
            </ul>
        </div>
    </div>
    @*    <div class="outBtn fixbox mT10 mB20">
        <span class="mL10 txt left">
            <p><span class="checkbox disable"></span>Check the place that I've BeenM</p>
            <p><span class="smallHistiory"></span>The place that I've posted</p>
        </span>
                <span class="right">
            <a href="step1.html" class="btnBlueH33"><span class="bg">BACK</span></a>
            <a href="step2.html" class="btnBlueH33"><span class="bg">NEXT</span></a>
            <a href="step4.html" class="btnBlueH33"><span class="bg">FINSH</span></a>
        </span>
    </div>*@
</div>
@section PageSide{
    @Html.Partial("Widget/_Advertisement")
    @Html.Partial("Widget/_Promotions")
    @Html.Partial("Widget/_IBT")
}

@section PageFoot{

}