﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var mapsFirst = ViewBag.MapsFirst as MapsItem;

    //IList<Country> countryList = ViewBag.CountryList;
    int step = IMeet.IBT.Common.Helpers.RequestHelper.GetValInt("step");
    string ids = IMeet.IBT.Common.Helpers.RequestHelper.GetVal("ids");
    string cids = IMeet.IBT.Common.Helpers.RequestHelper.GetVal("cids");
}
@Html.Partial("Widget/_Header")
<script type="text/javascript">
    $("#a_addtravels").attr("class", "active");
</script>
<div>
    <div class="tabNav">
        <ul>
            <li class="active"><a href="TravelsAdd" class="addTravels">Add Travels</a></li>
            <li><a href="TravelHistory" class="histiory" id="t_history" onclick="changeLink('History');return false;">My Travel History</a></li>
        </ul>
    </div>
    <div class="stepTitle">
        <div class="stepBox">
            <div class="bg">
                <a href="javascript:void(0);" onclick="jTravelsAdd.Step1(0);"></a>
                <a href="javascript:void(0);" onclick="jTravelsAdd.Step2(0);"></a>
                <a href="javascript:void(0);" onclick="jTravelsAdd.Step3(0);"></a>
                <a href="javascript:void(0);" class="last" onclick="jTravelsAdd.Step4(0);"></a>
            </div>
        </div>
        <div class="rightCol right mR10" id="TopStep1">
            <div class="btnControl">
                <a href="#" class="btnBack btnBackDisabled"><span class="arrowBack">Back</span></a>
                <a href="javascript:void(0);" class="btnNext" onclick="jTravelsAdd.Step2(1);"><span class="arrowNext" title="See cities in these countries">NEXT</span></a>
                <a href="javascript:void(0);" class="btnFinish" onclick="jTravelsAdd.Step4(1);" title="Save to your travel history">COMPLETE</a>
            </div>
            <a onclick="showPop2_addTravel();" class="iconVideoSmall" href="javascript:void(0);">How to Post Multiple Visits?</a>
        </div>
        <div class="rightCol right mR10" id="TopStep2" style="display: none;">
            <div class="btnControl">
                <a href="javascript:void(0);" class="btnBack" onclick="jTravelsAdd.Step1(2);"><span class="arrowBack" title="See countries">BACK</span></a>
                <a href="javascript:void(0);" class="btnNext" onclick="jTravelsAdd.Step3(2);"><span class="arrowNext" title="See venues in these cities">NEXT</span></a>
                <a href="javascript:void(0);" class="btnFinish" onclick="jTravelsAdd.Step4(2);" title="Save to your travel history">COMPLETE</a>
            </div>
        </div>
        <div class="rightCol right mR10" id="TopStep3" style="display: none;">
            <div class="btnControl">
                <a href="javascript:void(0);" class="btnBack" onclick="jTravelsAdd.Step2(3);"><span class="arrowBack" title="See cities">BACK</span></a>
                <a href="javascript:void(0);" class="btnNext btnNextDisabled"><span class="arrowNext">NEXT</span></a>
                <a href="javascript:void(0);" class="btnFinish" onclick="jTravelsAdd.Step4(3);" title="Save to your travel history">COMPLETE</a>
            </div>
        </div>
        <div class="rightCol right mR10" id="TopStep4" style="display: none;">
            <div class="btnControl btnControl2">
                <a href="javascript:void(0);" class="btnBack" onclick="jTravelsAdd.back();"><span class="arrowBack" title="See venues">Back</span></a>
                @*<a href="javascript:void(0);" class="btnNext btnNextDisabled"><span class="arrowNext">NEXT</span></a>*@
                <a href="javascript:void(0);" class="btnFinish" onclick="jTravelsAdd.btnConfrim();">COMPLETE</a>
            </div>
        </div>
    </div>
    <div class="countriesBox" id="countriesBox">
    </div>

    <div class="outBtn fixbox mT10 mB20" id="step1" style="display: none;">
        <span class="mL10 txt left">
            <p><span class="checkbox disable"></span>Check boxes to indicate places you've been</p>
            <p><span class="smallHistiory"></span>Indicates places where you've posted a visit</p>
            @*<p><span class="checkbox disable"></span>Check boxes to indicate places you've been</p>
            <p><span class="smallHistiory mL20"></span>Indicates places where you've posted a visit</p>*@
        </span>
@*        <span class="rightCol right mR10">
            <div class="btnControl">
                <a href="#" class="btnBack btnBackDisabled"><span class="arrowBack">Back</span></a>
                <a href="javascript:void(0);" class="btnNext" onclick="jTravelsAdd.Step2(1);"><span class="arrowNext" title="See cities in these countries">NEXT</span></a>
                <a href="javascript:void(0);" class="btnFinish" onclick="jTravelsAdd.Step4(1);" title="Save to your travel history">COMPLETE</a>
            </div>
        </span>*@
    </div>
    <div class="outBtn fixbox mT10 mB20" id="step2" style="display: none;">
        <span class="mL10 txt left">
            <p><span class="checkbox disable"></span>Check boxes to indicate places you've been</p>
            <p><span class="smallHistiory"></span>Indicates places where you've posted a visit</p>
        </span>
@*        <span class="rightCol right mR10">
            <div class="btnControl">
                <a href="javascript:void(0);" class="btnBack" onclick="jTravelsAdd.Step1(2);"><span class="arrowBack" title="See countries">BACK</span></a>
                <a href="javascript:void(0);" class="btnNext" onclick="jTravelsAdd.Step3(2);"><span class="arrowNext" title="See venues in these cities">NEXT</span></a>
                <a href="javascript:void(0);" class="btnFinish" onclick="jTravelsAdd.Step4(2);" title="Save to your travel history">COMPLETE</a>
            </div>
        </span>*@
    </div>
    <div class="outBtn fixbox mT10 mB20" id="step3" style="display: none;">
        <span class="mL10 txt left">
            <p><span class="checkbox disable"></span>Check boxes to indicate places you've been</p>
            <p><span class="smallHistiory"></span>Indicates places where you've posted a visit</p>
        </span>
@*        <span class="rightCol right mR10">
            <div class="btnControl">
                <a href="javascript:void(0);" class="btnBack" onclick="jTravelsAdd.Step2(3);"><span class="arrowBack" title="See cities">BACK</span></a>
                <a href="javascript:void(0);" class="btnNext btnNextDisabled"><span class="arrowNext">NEXT</span></a>
                <a href="javascript:void(0);" class="btnFinish" onclick="jTravelsAdd.Step4(3);" title="Save to your travel history">COMPLETE</a>
            </div>
        </span>*@
    </div>
    <div class="outBtn fixbox mT10 mB20" id="step4" style="display: none;">
        <span class="mL10 txt left">
            <p><span class="checkbox disable"></span>Check boxes to indicate places you've been</p>
            <p><span class="smallHistiory"></span>Indicates places where you've posted a visit</p>
        </span>
@*        <span class="right">
            <a href="javascript:void(0);" class="btnBlueH33 mR5" onclick="jTravelsAdd.back();"><span class="bg">Edit</span></a>
            <a href="javascript:void(0);" class="btnBlueH33" onclick="jTravelsAdd.btnConfrim();"><span class="bg">SAVE</span></a>
        </span>*@
    </div>
</div>

<input type="hidden" id="iptEpoch" value="@ViewBag.Epoch" />
<input type="hidden" id="iptCountryIds" value="" />
<input type="hidden" id="iptCityIds" value="" />
<input type="hidden" id="iptVenuesIds" value="" />

<input type="hidden" id="filterLetter" value="" />

<input type="hidden" id="iptCountryCity" value="" />
<input type="hidden" id="iptCityVenues" value="" />
<input type="hidden" id="iptTravelsData" value="" />
<input type="hidden" id="hidePageType" value="1" />
<div id="loading" style="display: none;">
    <div class="w200 popupMain alignC">
        <div class="mTB15">
            <img src="/images/icon_waiting.gif">
        </div>
    </div>
</div>

@section PageSide{
    @Html.Partial("Widget/_TravelBadge")
    @*@Html.Partial("Widget/_TravelBadge2")*@
    @Html.Partial("Widget/_Advertisement")
    @Html.Partial("Widget/_Promotions")
    @*@Html.Partial("Widget/_IBT")*@
}

@section PageFoot{
@*    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="/js/infobox.js"></script>
    <script src="/js/AddTravelsMaps.js?v=1"></script>*@
    <script src="/js/jTravelsAdd.js"></script>
    <link href="/js/ui/jquery-ui.css" rel="stylesheet" />
    <script src="/js/ui/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/effect.js"></script>
    <script type="text/javascript">   
        var $config = {};
        $config["lat"] = @Html.Raw(mapsFirst.lat + ";")
        $config["lng"] = @Html.Raw(mapsFirst.lng + ";")
        var step =@Html.Raw(step.ToString() + ";")
        var ids =  '@ids';
        var cids='@cids';
        var myloadingbox = null;
        //addTravelsMaps.UserId = UserId;
        $(document).ready(function () {
            $("#iptCountryIds").val(ids);
            $("#iptCountryCity").val(cids);
            $("#iptCityIds").val(cids);
            //$("#hidePageType").val("1");
            var request = new Object();
            request = GetRequest();
            var step = request["t"];
            if(step=='1'){
                jTravelsAdd.Step3();
            }else if(step=='2'||step=='3'){
                jTravelsAdd.Step2();
            }else
            {jTravelsAdd.Step1();}
            //jTravelsAdd.SearchCountries();
        });
        function GetRequest() { 
            var url = location.search; //获取url中"?"符后的字串 
            var theRequest = new Object(); 
            if (url.indexOf("?") != -1) { 
                var str = url.substr(1); 
                strs = str.split("&"); 
                for(var i = 0; i < strs.length; i ++) { 
                    theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]); 
                } 
            } 
            return theRequest; 
        } 
        function sub(e) {
            var e = e || window.event;
            var keyCode = e.keyCode || e.which;
            var oTarget = e.srcElement || e.target;
            if (keyCode == 13) {
                jTravelsAdd.goTab();
            }
        }
        function initKeyWord() {
            $("#supplyKeyword").focus(function () {
                var val = "Search Supplier Name";
                if ($(this).val() == val) {
                    $(this).val("");
                }
            }).blur(function () {
                if ($(this).val() == "") {
                    $(this).val("Search Supplier Name");
                }
            });
        }
        function showPop(){
            var mybox =null;
            mybox = new Boxy($("#loading").html(), {
                title:"Please wait... ",
                modal: true,
                center: true,
                unloadOnHide: true,
                closeText:false,
                afterHide: function(e) {myloadingbox=null;},
                afterShow: function(e) { }
            });
            myloadingbox=mybox;
            $(".boxyInner").addClass("popup");
            //inputText();
            //selectSpan();
            //scroll_init(scroll_blue);
            //$(".jscroll-e").show();
            //toggle();
        } 
    </script>
}
@section PageNanigation{
    @Html.Partial("Widget/Nav/_TravelAdd")
}