﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("Widget/_Header")
@*@Html.Partial("Widget/_Search")*@
@Html.Partial("Widget/_SearchBar2")
<script src="/js/jBrowse.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        jbrowse.initData();
        //jbrowse.init();
        checkboxshow();
    });
</script>
<input type="hidden" id="saveLetter" value="" />
<input type="hidden" id="hidkeyword" value="" />
<div class="grayBox browseList ">
            <h3 id="browseTitle">Browse by country
                <span class="txt">About 196 Country in the world</span>
            </h3>
            <div class="letterBar mB15">
                    <div class="bg">
                        <div class="main" id="letterFilter">
                            @for (int i = 65; i < 91; i++)
                                {
                                <a href="javascript:void(0);" onclick="jbrowse.letterSearch(this,'@Convert.ToChar(i).ToString()');">@Convert.ToChar(i).ToString()</a>
                                }
                        </div>
                    </div>
                </div>
            <div class="feedList"> 
                  <ul class="listUl" id="browseList">
                    @*  <li>
                          <span class="operating">
                              <span class="rating"><span class="f10  mR5">RATING</span>
                                  <span class="starW15 full"></span>
                                  <span class="starW15 full"></span>
                                  <span class="starW15 full"></span>
                                  <span class="starW15 full"></span>
                                  <span class="starW15"></span>
                              </span>
                              <a href="#" class="btnBlueH45" onclick="showPop()"><span class="bg">I've been there</span></a>

                          </span>
                          <a class="img" href="#">
                              <img src="/images/national_flag/united_kingdom.gif" alt="United Kingdom" /></a>
                          <dl class="info">
                              <dt><a href="#" class="f15">United Kingdom</a> <span class="f11  ">United Kingdom, United Kingdom</span>
                                  <span class="friendsInfo italic f10 C7a7a7a"><a href="#">9 Friends</a> has Been There</span>
                              </dt>
                              <dd>
                                  <div class="choose NBorderB">
                                      <span class="checkboxMTxt uncheckbox  mR5">
                                          <span class="bg"><span class="alignM"></span><span class="txt">Recommended</span></span>
                                      </span>
                                      <span class="checkboxMTxt uncheckbox mR5">
                                          <span class="bg"><span class="alignM"></span><span class="txt">Want to Go/Go Back</span></span>
                                      </span>
                                      <span class="checkboxMTxt mR5">
                                          <span class="bg"><span class="alignM"></span><span class="txt">Bucket List</span></span>
                                      </span>
                                  </div>
                              </dd>
                          </dl>
                      </li>
                        <li>
                        		<span class="operating">
                                	<span class="rating"><span class="f10  mR5"> RATING</span>
                                            <span class="starW15 full"></span> 
                                            <span class="starW15 full"></span> 
                                            <span class="starW15 full"></span> 
                                            <span class="starW15 full"></span>
                                            <span class="starW15"></span> 
                                    </span>
                                    <a href="#" class="btnBlueH45" onclick="showPop()"><span class="bg">I've been there</span></a>
                                    
                                </span>	
                        		<a class="img" href="#"><img  src="/images/national_flag/united_kingdom.gif" alt="United Kingdom" /></a>
                                <dl class="info">
                                    <dt><a href="#" class="f15">United Kingdom</a> <span class="f11  ">United Kingdom, United Kingdom</span>
                                            <span class="friendsInfo italic f10 C7a7a7a"><a href="#">9 Friends</a> has Been There</span>
                                    </dt>
                                     <dd>
                                        <div class="choose NBorderB">
                                            <span class="checkboxMTxt uncheckbox  mR5">
                                                <span class="bg"><span class="alignM"></span><span class="txt">Recommended</span></span>
                                            </span>
                                            <span class="checkboxMTxt uncheckbox mR5">
                                                <span class="bg"><span class="alignM"></span><span class="txt">Want to Go/Go Back</span></span>
                                            </span>
                                            <span class="checkboxMTxt mR5">
                                                <span class="bg"><span class="alignM"></span><span class="txt">Bucket List</span></span>
                                            </span>
                                        </div>
                                     </dd>
                                </dl>
                            </li>
                        <li>
                        		<span class="operating">
                                	<span class="rating"><span class="f10  mR5"> RATING</span>
                                            <span class="starW15 full"></span> 
                                            <span class="starW15 full"></span> 
                                            <span class="starW15 full"></span> 
                                            <span class="starW15 full"></span>
                                            <span class="starW15"></span> 
                                    </span>
                                    <a href="#" class="btnBlueH45" onclick="showPop()"><span class="bg">I've been there</span></a>
                                    
                                </span>	
                        		<a class="img" href="#"><img  src="/images/national_flag/united_kingdom.gif" alt="United Kingdom" /></a>
                                <dl class="info">
                                    <dt><a href="#" class="f15">United Kingdom</a> <span class="f11  ">United Kingdom, United Kingdom</span>
                                            <span class="friendsInfo italic f10 C7a7a7a"><a href="#">9 Friends</a> has Been There</span>
                                    </dt>
                                     <dd>
                                        <div class="choose NBorderB">
                                            <span class="checkboxMTxt uncheckbox  mR5">
                                                <span class="bg"><span class="alignM"></span><span class="txt">Recommended</span></span>
                                            </span>
                                            <span class="checkboxMTxt uncheckbox mR5">
                                                <span class="bg"><span class="alignM"></span><span class="txt">Want to Go/Go Back</span></span>
                                            </span>
                                            <span class="checkboxMTxt mR5">
                                                <span class="bg"><span class="alignM"></span><span class="txt">Bucket List</span></span>
                                            </span>
                                        </div>
                                     </dd>
                                </dl>
                            </li>
                        <li>
                        		<span class="operating">
                                	<span class="rating"><span class="f10  mR5"> RATING</span>
                                            <span class="starW15 full"></span> 
                                            <span class="starW15 full"></span> 
                                            <span class="starW15 full"></span> 
                                            <span class="starW15 full"></span>
                                            <span class="starW15"></span> 
                                    </span>
                                    <a href="#" class="btnBlueH45" onclick="showPop()"><span class="bg">I've been there</span></a>
                                    
                                </span>	
                        		<a class="img" href="#"><img  src="/images/national_flag/united_kingdom.gif" alt="United Kingdom" /></a>
                                <dl class="info">
                                    <dt><a href="#" class="f15">United Kingdom</a> <span class="f11  ">United Kingdom, United Kingdom</span>
                                            <span class="friendsInfo italic f10 C7a7a7a"><a href="#">9 Friends</a> has Been There</span>
                                    </dt>
                                     <dd>
                                        <div class="choose NBorderB">
                                            <span class="checkboxMTxt uncheckbox  mR5">
                                                <span class="bg"><span class="alignM"></span><span class="txt">Recommended</span></span>
                                            </span>
                                            <span class="checkboxMTxt uncheckbox mR5">
                                                <span class="bg"><span class="alignM"></span><span class="txt">Want to Go/Go Back</span></span>
                                            </span>
                                            <span class="checkboxMTxt mR5">
                                                <span class="bg"><span class="alignM"></span><span class="txt">Bucket List</span></span>
                                            </span>
                                        </div>
                                     </dd>
                                </dl>
                            </li>
                        <li>
                        		<span class="operating">
                                	<span class="rating"><span class="f10  mR5"> RATING</span>
                                            <span class="starW15 full"></span> 
                                            <span class="starW15 full"></span> 
                                            <span class="starW15 full"></span> 
                                            <span class="starW15 full"></span>
                                            <span class="starW15"></span> 
                                    </span>
                                    <a href="#" class="btnBlueH45" onclick="showPop()"><span class="bg">I've been there</span></a>
                                    
                                </span>	
                        		<a class="img" href="#"><img  src="/images/national_flag/united_kingdom.gif" alt="United Kingdom" /></a>
                                <dl class="info">
                                    <dt><a href="#" class="f15">United Kingdom</a> <span class="f11  ">United Kingdom, United Kingdom</span>
                                            <span class="friendsInfo italic f10 C7a7a7a"><a href="#">9 Friends</a> has Been There</span>
                                    </dt>
                                     <dd>
                                        <div class="choose NBorderB">
                                            <span class="checkboxMTxt uncheckbox  mR5">
                                                <span class="bg"><span class="alignM"></span><span class="txt">Recommended</span></span>
                                            </span>
                                            <span class="checkboxMTxt uncheckbox mR5">
                                                <span class="bg"><span class="alignM"></span><span class="txt">Want to Go/Go Back</span></span>
                                            </span>
                                            <span class="checkboxMTxt mR5">
                                                <span class="bg"><span class="alignM"></span><span class="txt">Bucket List</span></span>
                                            </span>
                                        </div>
                                     </dd>
                                </dl>
                            </li>*@
                 </ul>
                 <a id="clickloadmore_browse"  href="javascript:void(0);" class="btnLoadMore" onclick="jbrowse.GetCountryListOnClick();">+ Load More</a>
            </div>
            </div>
@section PageSide{
    @Html.Partial("Widget/_Advertisement")
    @Html.Partial("Widget/_Promotions")
    @Html.Partial("Widget/_IBT")
}