﻿@{
    //ViewBag.Title = "Listing";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string searchBy = IMeet.IBT.Common.Helpers.RequestHelper.GetVal("s", "hotels");
    string keyWord = IMeet.IBT.Common.Helpers.RequestHelper.GetVal("k", "Key in Keyword");
}
@Html.Partial("Widget/_Header")

<div class="searchBar2">
    <div class="main">
        <div class="btnBox right">
            <a href="javascript:void(0);" onclick="searchListing.search();" class="btn btnSearch btnActive left"><span>Search</span></a>
            <a href="/search/listing?s=countries" class="btn left">Browse by Country</a>
        </div>
        <span class="select w120 left">
            <span id="searchByArrow" class="arrow">Search By</span>
            <span class="list">
                <ul>
                    <li onclick="searchListing.searchByN('hotels');">Hotels</li>
                    <li onclick="searchListing.searchByN('countries');">Countries</li>
                    <li onclick="searchListing.searchByN('cities');">Cities</li>
                    <li onclick="searchListing.searchByN('other');">Other Venues</li>
                    <li onclick="searchListing.searchByN('all');">All Suppliers</li>
                    <li onclick="searchListing.searchByN('member');">People</li>
                </ul>
            </span>
        </span>
        <div class="key ">
            <input id="keyWord" type="text" class="" value="@keyWord" onfocus="if(this.value=='Key in Keyword'){ this.value=''}" onblur="if(this.value==''){ this.value='Key in Keyword'}" />
        </div>
    </div>
</div>
<div class="fixbox myListBox mT10 searchBox searchWrap">
    <div class="listMain ">
        <div class="fixbox">
            <h3>Search Results
                 <span id="searchResultTxt" class="txt"></span>
            </h3>
        </div>
        <div class="letterBar mB15">
            <div class="bg">
                <div class="main">
                    @{
                        System.Text.StringBuilder sb = new System.Text.StringBuilder();
                        for (int i = 65; i < 91; i++)
                        {
                            sb.Append("<a href='javascript:void(0);' class='filter_id_" + Convert.ToChar(i).ToString() + "' onclick='searchListing.filterSearch(this)'>" + Convert.ToChar(i).ToString() + "</a>");
                        }
                        }
                    @Html.Raw(sb.ToString())
                </div>
            </div>
        </div>
        <div class="feedList">
            <ul id="listUl" class="listUl fixbox">
                @*listing*@
            </ul>
            <div id="loading" style="display:none" class="mT20 alignC loading"><img src="/images/icon/loading.gif" /></div>
            <a style="display:none;" onclick="searchListing.nextPage();" class="btnLoadMore" href="javascript:void(0);" id="clickloadmore_searchList">+ Load More</a>
        </div>
    </div>
</div>


@section PageSide{
    @Html.Partial("Widget/_Advertisement")
    @Html.Partial("Widget/_Promotions")
    @Html.Partial("Widget/_IBT")
}

@section PageFoot{
    <script src="/js/jSearchListing.js"></script>
    <script src="/js/connection.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            searchListing.searchBy = @Html.Raw("'" +searchBy+"'") +"";

            switch (searchListing.searchBy) {
                case "countries":
                    //$("#searchByArrow").html("Countries");
                    $('.searchBar2 .select .arrow').html("Countries");
                    break;
                case "cities":
                    //$("#searchByArrow").html("Cities");
                    $('.searchBar2 .select .arrow').html("Cities");
                    break;
                case "hotels":
                    //$("#searchByArrow").html("Hotels");
                    $('.searchBar2 .select .arrow').html("Hotels");
                    break;
                case "other":
                    //$("#searchByArrow").html("Other Venues");
                    $('.searchBar2 .select .arrow').html("Other Venues");
                    break;
                case "all":
                    //$("#searchByArrow").html("All Suppliers");
                    $('.searchBar2 .select .arrow').html("All Suppliers");
                    break;
                case "member":
                    //$("#searchByArrow").html("People");
                    $('.searchBar2 .select .arrow').html("People");
                    break;
                default:
                    break;
            }

            searchListing.init();
        });
    </script>
}

@section PageNanigation{
    @Html.Partial("Widget/Nav/_NavSearchListing")
    }
