﻿@{
    User user = ViewBag.User as User;
    }
<div class="shareTravel fixbox">
    @Html.Hidden("ibtcommon_guid",System.Guid.NewGuid().ToString().Replace("-",string.Empty))
            <a href="#" class="userImg"><img src="@PageHelper.GetUserAvatar(user.UserId,(int)IMeet.IBT.Services.Identifier.AccountSettingAvatarSize._xat)" alt="" /></a>
    @if(user.UserId>0){
            <div class="shareBox">
                <div class="mainBg IERound">
                    <div class="txtMain">
                        <textarea id="ibtcommon_val">Write a message...</textarea>
                         <div id="ibtcommon_fixbox" class="showPhoto fixbox" style="display:none;">
                             <span class="fileBox add">
                                 <input type="file" id="ibtcommon_uploadify" />
                             </span>
                             <div id="progress" style="display: none;">
                                 <div class="bar" style="width: 0%;height:3px;background:green;"></div>
                             </div>
                         </div>
                         <div id="ibtcommon_fixbox_flash" class="showPhoto fixbox" style="display:none;">
                             <span class="fileBox add">
                                 <input type="file" id="ibtcommon_uploadify_flash" />
                             </span>
                         </div>
                    </div>
                        <a href="javascript:void(0);" class="btnBlueH38" onclick="ibt_common.saveNewsFeed();"><span class="bg">Post</span></a>
                </div>
            </div>
    }
    else{
            <div class="shareBox">
                <div class="mainBg" id="shareBox1">
                    <div class="txtMain">
                        <textarea id="shareTextarea">Share your travel tips...</textarea>
                    </div>
                    <a href="javascript:;" class="btnIcon">
                        <img alt="" src="/images/icon/camera_icon.gif"></a>
                </div>
                <div class="mainBg" id="shareBox2" style="display: none;">
                    <div class="txtMain txtMain2">
                        <p class="alignR">
                            Share your travel tips, Please   
                            <a class="mL10" href="javascript:void(0);" onclick="ibt.loadUrlPop('/account/login','Get','',function(){$('#pop_login').bValidator({singleError:true});  $('.boxyInner').addClass('popup');inputText();},'Login');">Log in</a>  l  
                            <a href="/Account/signup">Sign up</a>
                        </p>
                    </div>
                </div>
            </div>
    }
</div>
<script src="/js/jQuery-File-Upload-8.1.0/js/jquery.fileupload.js"></script>
