﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    IMeet.IBT.Services.SupplierService supplierService = new IMeet.IBT.Services.SupplierService();
    string countryId = ViewBag.countryId == "" ? "-1" : ViewBag.countryId;
    string cityId = ViewBag.cityId == "" ? "-1" : ViewBag.cityId;
    IMeet.IBT.DAL.Country _country = supplierService.GetCountryInfo(Convert.ToInt32(countryId));
    IMeet.IBT.DAL.City _city = supplierService.GetCityInfo(Convert.ToInt32(cityId));
    string countryName = _country == null ? "" : _country.CountryName;
    string cityName =  _city == null ?"":_city.CityName;
    string snsType = ViewBag.snsType;
}

<script src="/js/create.js"></script>
<script type="text/javascript">
       $(document).ready(function () {
           $('#fillForm').bValidator();  
           GetByJquery();
           initData();
           $("#ddlCountry").change(function () {
               GetCity();
               var value = $("#ddlCountry").val();
               $("#hidfldCountry").attr("value", value);  //隐藏控件赋值
           });
           $("#ddlCity").change(function () {
               var value = $("#ddlCity").val();
               $("#hidfldCity").attr("value", value);
           });
       });
       function initData() {
         
           $("#hidfldCity").attr("value", '@cityId');// Hiddenid为隐藏控件的ID  给它赋值 
           $("#ddlCity option[value='" + $("#hidfldCity").val() + "']").attr("selected", "selected");
       }
       function GetByJquery() {
           $("#ddlCountry").empty();
           $.getJSON("/Account/GetCountry", function (data) {
               $.each(data, function (i, item) {
                   $("#ddlCountry").append($("<option></option>").val(i).text(item));
               });            
               $("#hidfldCountry").attr("value", '@countryId');// Hiddenid为隐藏控件的ID  给它赋值 
               $("#ddlCountry").attr("value", '@countryId');
               $("#ddlCountry option[value='" + $("#hidfldCountry").val() + "']").attr("selected", "selected");
               GetCity();
           });
           $("#ddlCountry").prepend($("<option></option>").val("-1").text("Select Country"));
       }
       function GetCity() {
           $("#ddlCity").empty();
           var url = "/Account/GetCity/" + $("#ddlCountry").val() + "/";
           $.getJSON(url, function (data) {
               $.each(data, function (i, item) {
                   $("<option></option>")
                   .val(i)
                   .text(item)
                   .appendTo($("#ddlCity"));
               });
               initData();
           });
           $("#ddlCity").prepend($("<option></option>").val("-1").text("Select City"));
       }

    //function CheckType() {
    //    var selCheckValue = ibt.getCheckboxVal("#fillList li>span", "data-type");
    //    if (selCheckValue != "") {
    //        $("#createUserType").val(selCheckValue);
    //    }
    //    else {
    //        $("#createUserType").val("false");
    //    }
    //}

    function initSelect() {

        $("#ddlCountry li[data-countryId='@countryId']").addClass("selected");
        $("#tilcountry").text('@countryName');
        GetCity(@countryId);
        $("#ddlCity li[data-cityId='@cityId']").addClass("selected");
        $("#tilcity").text('@cityName');
       @* $("#ddlCity li[data-cityId='@cityId']").each(function () {
            $(this).addClass("selected");
        });*@
    }

    function getIsPleasure(obj) {
        var d_val = $(obj).attr("data-type");
        if (d_val == "1") {
            $(obj).addClass("uncheckbox");
            $(obj).attr("data-type", "0");
        }
        else {
            $(obj).removeClass("uncheckbox");
            $(obj).attr("data-type", "1");
        }
        $("#createIsPle").val($(obj).attr("data-type"));
    }
    function getIsBusiness(obj) {
        var d_val = $(obj).attr("data-type");
        if (d_val == "1") {
            $(obj).addClass("uncheckbox");
            $(obj).attr("data-type", "0");
        }
        else {
            $(obj).removeClass("uncheckbox");
            $(obj).attr("data-type", "1");
        }
        $("#createIsBus").val($(obj).attr("data-type"));
    }
    function getIsPlanner(obj) {
        var d_val = $(obj).attr("data-type");
        if (d_val == "1") {
            $(obj).addClass("uncheckbox");
            $(obj).attr("data-type", "0");
        }
        else {
            $(obj).removeClass("uncheckbox");
            $(obj).attr("data-type", "1");
        }
        $("#createUserType").val($(obj).attr("data-type"));
    }
   </script>
     <div class="grayBox">
                <h2 class="blugBigBg"><span class="bg">Create Your Account</span></h2>
                <div class="grayBar">
                    @{
                        if (snsType == "1")
                        {
                        <img src="/images/logo/facebook_h26.gif" alt="Facebook" class="mR5" /> 
                        }
                        else if (snsType == "2")
                        {
                        <img src="/images/logo/twitter_h26.gif" alt="Twitter" class="mR5" /> 
                        }
                        else if (snsType == "3")
                        {
                        <img src="/images/logo/linkedin_h26.gif" alt="Linkedin" class="mR5" /> 
                        }
                        else
                        {
                        <img width="27" height="27" alt="I-Meet" src="/images/logo/I-Meet-ICON48.gif" />
                        }        
                    }
                        Connected as <a href="#">@ViewBag.firstName</a>
                </div>
         <form id="fillForm" name="fillForm" class="fillForm">
             <input type="hidden" id="hidAccessToken" name="hidAccessToken" value="@ViewBag.accessToken" />
             <input type="hidden" id="hidTokenSecret" name="hidTokenSecret" value="@ViewBag.tokenSecret" />
             <input type="hidden" id="hidSnsType" name="hidSnsType" value="@ViewBag.snsType" />
             <input type="hidden" id="hidSnsId" name="hidSnsId" value="@ViewBag.snsId" />
             <input id="hidfldCountry" name="hidfldCountry" value="@countryId" type="hidden" />
             <input id="hidfldCity" name="hidfldCity" value="@cityId" type="hidden" />
             <ul id="fillList">
                 <li class="formLi">
                     <label class="title">First Name</label>: 
                            <span class="rightCol">
                                <input type="text" id="txtFirstname" name="txtFirstname" class="inputBg w300 " value="@ViewBag.firstName"  data-bvalidator="required,rangelength[2:15]" />
                            </span>
                 </li>
                 <li class="formLi">
                     <label class="title">Last Name</label>: 
                            <span class="rightCol">
                                <input type="text" id="txtLastname" name="txtLastname" class="inputBg w300 " value="@ViewBag.lastName"  data-bvalidator="required,rangelength[2:15]" />
                            </span>
                 </li>
                 <li class="formLi">
                     <label class="title">Country</label>: 
                            <span class="rightCol">
                                <select id="ddlCountry" class="select w300" >
                     </select>
                               @* <span class="select w300">
                                    <span class="title arrow" id="tilcountry">Country</span>
                                    <span class="list">
                                        <div class="scrollBox">
                                            <ul id="ddlCountry">
                                                @{
                                                    foreach (var countryItem in supplierService.GetAllCountry())
                                                    {
                                                    <li data-countryId="@countryItem.CountryId" onclick="GetCity('@countryItem.CountryId');">@countryItem.CountryName</li>
                                                 }
 }

                                            </ul>
                                        </div>
                                    </span>
                                </span>*@
                            </span>
                 </li>
                 <li class="formLi">
                     <label class="title">City</label>: 
                            <span class="rightCol">
                                 <select id="ddlCity" class="select w300"></select>
                               @* <span class="select w300">
                                    <span class="title arrow" id="tilcity">City</span>
                                    <span class="list">
                                        <div class="scrollBox" style="height: 200px;">
                                            <ul id="ddlCity">
                                            </ul>
                                        </div>
                                    </span>
                                </span>*@
                            </span>
                 </li>
                 <li class="formLi">
                     <label class="title">Email</label>: 
                            <span class="rightCol">
                                <input type="text" id="txtEmail" name="txtEmail" class="inputBg w300 " value="@ViewBag.email" data-bvalidator="required,email" data-bvalidator-msg=" Email Address invaild "/>
                            </span>
                 </li>
                 <li class="formLi">
                     <label class="title">Password</label>: 
                            <span class="rightCol">
                                <input type="password" id="txtPassword" name="txtPassword" class="inputBg w300" value="" data-bvalidator="required,rangelength[4:12]" />
                                <span class="Ccbcbcb mL10">Please use at keast 6 characters </span>
                            </span>
                 </li>
                 <li class="formLi NBorderB">
                     <label class="title">&nbsp;</label>
                     <span class="rightCol">
                         <span class="mL15 bold">Tell us how you see the world (check all that applies)</span><br /><br />
                         <input type="hidden" id="createIsPle" name="createIsPle" value="0" />
                         <span class="checkboxBigTxt mL15 mB15" data-type="0" onclick="getIsPleasure(this);"><span class="bg"><span class="alignM"></span>Travel for Pleasure</span></span><br />
                           <input type="hidden" id="createIsBus" name="createIsBus" value="0" />
                         <span class="checkboxBigTxt mL15 mB15" data-type="0" onclick="getIsBusiness(this);" ><span class="bg"><span class="alignM"></span>Travel for Business</span></span><br />
                          <input type="hidden" id="createUserType" name="createUserType" value="3" />
                         <span class="checkboxBigTxt mL15 mB15" data-type="0" onclick="getIsPlanner(this);" ><span class="bg"><span class="alignM"></span>Meeting & Event Planner</span></span><br />
                         <span class="mL15 bold">By creating an account, I accept I've Been There's <a href="/TermsOfUse">Terms</a> of <a href="/PrivacyPolicy">Service and Privacy Policy</a></span>
                     </span>
                 </li>
                 <li class="">
                     <div class="btn">
                         <a href="#" onclick="createUser.create();" class="btnBlueH45"><span class="bg">Create account</span></a>
                     </div>
                 </li>
             </ul>
         </form>
            </div>
@section PageSide{
    @Html.Partial("Widget/_Advertisement")
    @Html.Partial("Widget/_Promotions")
    @Html.Partial("Widget/_IBT")
}