﻿

<title>Popup</title>
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<style>
    .container {
        width: 500px;
        height: 628px;
        margin: 0px;
        padding-top: 15px;
        background-size: contain;
        background-repeat-x: no-repeat;
        background-image: url(../../App/images/popup_images/popup_bg.png);
    }

    .form-group {
        text-align: center;
    }

    .form-control {
        width: 320px;
        height: 18px;
        margin-left: auto;
        margin-right: auto;
    }

    .form-group > input, .form-group > select {
        margin-bottom: 12px;
        border-radius: 5px;
        border: 2px solid #2babe2;
        padding-left: 20px;
        color: #B1A9B1;
        font-size: 11px;
    }

    .form-group > button {
        border: 2px solid #2babe2;
        background-color: #2babe2;
        border-radius: 5px;
        color: white;
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
    }

    .button-control {
        width: 147px;
        height: 30px;
        margin: 5px auto 0 auto;
    }

    .container h1, h2, h5, p {
        text-align: center;
        color: #13A0CD;
    }

    .container p {
        font-size: 10px;
        margin-bottom: 5px;
        font-family: 'Montserrat', sans-serif;
    }

    .footer_pop p {
        color: #878787;
        font-size: 13px;
    }

    .footer_pop a {
        color: #2babe2;
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
    }

    h2 {
        font-size: 24px;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: -2px;
        margin-bottom: 0px;
        font-weight: bold;
        margin-top: 35px;
    }

    h1 {
        font-size: 30px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: -2px;
        margin-top: 12px;
        margin-bottom: 18px;
    }

    h5 {
        font-size: 11px;
        font-family: 'Montserrat', sans-serif;
        margin-top: 0px;
        margin-bottom: 25px;
        font-weight: 100;
    }

    p {
        font-family: 'Montserrat', sans-serif;
    }

    .close {
        float: right;
    }

        .close img {
            width: 16px;
            height: 17px;
        }

    #videoPopup, #addTravel_videoPopup, #howToPostVisit {
        display: none !important;
    }

    .footer {
        display: none !important;
    }

    .titleBar {
        display: none !important;
    }

    .boxyContent {
        Width: 505px !important;
    }

    .boxyWrapper {
        top: 25% !important;
        left: 25% !important;
        display: block;
    }

    .bvalidator_errmsg {
        top: -13px !important;
        left: 72px !important;
    }
</style>

<script type="text/javascript" src="/js/effect.js"></script>
<script src="/js/signup.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        GetByJquery();
        setTimeout("initCountryData()", 1000);
        setTimeout("initCityData()", 3000);
        var t = setTimeout;
        clearTimeout(t);
        $('#signupForm').bValidator();
    });
    function initCountryData() {
        $("#ddlCountry").change(function () {
            var value = $("#ddlCountry").val();
            $("#hidfldCountry").attr("value", value);  //隐藏控件赋值
            GetCity();
            $("#hidfldCity").attr("value", '-1');// Hiddenid为隐藏控件的ID  给它赋值
        });
    }
    function initCityData() {
        $("#ddlCity").change(function () {
            var value = $("#ddlCity").val();
            $("#hidfldCity").attr("value", value);
        });
    }
    function GetByJquery() {
        var datanum = 0;
        $.getJSON("/Account/GetCountry", function (data) {
            $.each(data, function (i, item) {
                $("#ddlCountry").append($("<option></option>").val(i).text(item));
                datanum = 1;
            });
            GetCity();
        });
        $("#ddlCountry").prepend($("<option></option>").val("-1").text("Your Country"));
    }
    function GetCity() {
        $("#ddlCity").empty();
        var hidfldcid = $("#hidfldCountry").val();
        var url = "/Account/GetCity/" + hidfldcid;
        var datanum = 0;
        $.getJSON(url, function (data) {
            $.each(data, function (i, item) {
                datanum = 1;
            });
            if (datanum == 0) {
                $("#ddlCity").prepend($("<option></option>").val("-1").text("Your City"));
            } else {
                $("#ddlCity").prepend($("<option></option>").val("-1").text("Your City"));
                $("#ddlCity").append($("<option></option>").val("0").text("Not Shown"));
            }
            $.each(data, function (i, item) {
                $("#ddlCity").append($("<option></option>").val(i).text(item));
            });
        });
    }
    function changeAttr($this, defaultValue) {
        $this.setAttribute("type", "password");
        //如果当前值为默认值，则清空
        if ($this.value == defaultValue) value = "";

    }
    function changeAttr2($this, defaultValue) {
        if ($this.value == "") {
            $this.setAttribute("type", "text");
            value = defaultValue;
        }
    }
    function validatorName(value, num) {
        if (num == "1") {
            if (value == "First Name") { return false; }
        }
        if (num == "2") {
            if (value == "Last Name") { return false; }
        }
        return true;
    }
    function changeValue($this, defaultValue) {
        //如果当前值为默认值，则清空
        if ($this.value == defaultValue) value = "";

    }
    function changeValue2($this, defaultValue) {
        if ($this.value == "") {
            value = defaultValue;
        }
    }
    function getIsPleasure(obj) {
        var d_val = $(obj).attr("data-type");
        if (d_val == "1") {
            $(obj).addClass("uncheckbox");
            $(obj).attr("data-type", "0");
        }
        else {
            $(obj).removeClass("uncheckbox");
            $(obj).attr("data-type", "1");
        }
        $("#createIsPle").val($(obj).attr("data-type"));
    }
    function getIsBusiness(obj) {
        var d_val = $(obj).attr("data-type");
        if (d_val == "1") {
            $(obj).addClass("uncheckbox");
            $(obj).attr("data-type", "0");
        }
        else {
            $(obj).removeClass("uncheckbox");
            $(obj).attr("data-type", "1");
        }
        $("#createIsBus").val($(obj).attr("data-type"));
    }
    function getIsPlanner(obj) {
        var d_val = $(obj).attr("data-type");
        if (d_val == "1") {
            $(obj).addClass("uncheckbox");
            $(obj).attr("data-type", "0");
        }
        else {
            $(obj).removeClass("uncheckbox");
            $(obj).attr("data-type", "1");
        }
        $("#createUserType").val($(obj).attr("data-type"));
    }
</script>


<body>
    <div class="container">
        <div class="close">
            <a href="#"><img src="../../App/images/popup_images/close.png" /></a>
        </div>
        <div></div>
        <h2>Joining Opens Up a</h2> <h1>World of Possibilities!</h1>
        <p>Over 100,000 meeting professionals. Post Visits, Rate, Recommend, Comment.<br /> See your travel and meetings history all in one place with your<br /> own unique web page to display your experiences.</p>
        <h5>Join Now at No Cost and Continue Posting.</h5>

        <form id="signupForm" name="signupForm" method="post" style="z-index: auto;">
            <div class="form-group" id=" signuplist">
                <input type="text" placeholder="First Name" id="firstname" name="firstname" data-bvalidator="required,rangelength[2:15],validatorName[1]" data-bvalidator-msg="Please enter the first name." class="form-control inputBg">
                <input type="text" placeholder="Last Name" class="inputBg form-control" id="lastname" name="lastname" data-bvalidator="required,rangelength[2:15],validatorName[2]" data-bvalidator-msg="Please enter the last name.">

                <input type="text" class="form-control inputBg inputError" placeholder="E-Mail Address" id="email" name="email" data-bvalidator="required,email" data-bvalidator-msg=" Email Address invalid. ">
                <input type="text" class="form-control inputBg inputError" placeholder="Confirm E-mail Address" id="ConfirmEmail" onfocus="changeValue(this,'Confirm Your Email Address')" onblur="changeValue2(this,'Confirm Your Email Address')" data-bvalidator="required,equalto[email],email" data-bvalidator-msg="Please enter the same value again.">

                <input type="text" class="form-control inputBg inputPassword" placeholder="Password" id="password" name="password" onfocus="changeAttr(this,'Password')" onblur="changeAttr2(this,'Password')" data-bvalidator="required,rangelength[4:50]" data-bvalidator-msg="The length must be between 4 and 50">
                <input type="text" class="form-control inputBg inputError inputPassword" placeholder="Confirm Password" id="Confirm" onfocus="changeAttr(this,'Confirm Your Password')" onblur="changeAttr2(this,'Confirm Your Password')" data-bvalidator="required,equalto[password],rangelength[4:50]" data-bvalidator-msg="Please enter the same value again.">
                <select id="ddlCountry" class="form-control select" style="width:346px; height: 30px;" name="xxx"></select>
                <input id="hidfldCountry" name="hidfldCountry" value="-1" type="hidden" />
                <select id="ddlCity" class="form-control select" style="width:346px; height: 30px;" name="xxx"></select>
                <input id="hidfldCity" name="hidfldCity" value="-1" type="hidden" />
                <br />
                <button type="button" class="button-control" onclick="signup.signup();">Join Us!</button>

            </div>
        </form>
        <div class="footer_pop">
            <p>Already a member? <a  href="javascript:void(0);" onclick="SetPopup()"><u>Sign In </u></a>to continue posting.</p>
        </div>  
        <script>            
            function SetPopup() {
                ibt.isCall = true;
                ibt.mybox.hide();
                return false;
            }
        </script>  
    </div>
</body>





