﻿huafeng@{
    Layout = null;
}

<script type="text/javascript" src="/js/effect.js"></script>
<script type="text/javascript">
    function check() {
        var str = document.getElementById("pop_username").value;
        if (str.indexOf("@Html.Raw("@")") > -1) {
            if (checkemail(str) == false) {
                $("#tipMsg").removeClass("error3");
                $("#tipMsg").addClass("error2");
                $("#tipMsg").html("Your email format there is any error, please correct input!");
                document.getElementById("pop_username").focus();
                return false;
            }
            else {
                remember();
                ibt.login();
                return true;
            }
        }
        else {
            remember();
            ibt.login();
            return true;
        }
    }
    function checkemail(temail) {
        var pattern = /^([a-zA-Z\d_\.\-\+%])+\@@(([a-zA-Z\d\-])+\.)+([a-zA-Z\d]{2,4})+$/;
        if (pattern.test(temail)) {
            return true;
        }
        else {
            return false;
        }
    }
    function sub(e) {
        var e = e || window.event;
        var keyCode = e.keyCode || e.which;
        var oTarget = e.srcElement || e.target;
        if (keyCode == 13) {
            check();
        }
    }
    function remember() {
        var selCheckValue = ibt.getCheckboxVal("#loginList li>span", "data-checked");
        if (selCheckValue != "") {
            $("#createPersistentCookie").val(selCheckValue);
        }
        else {
            $("#createPersistentCookie").val("false");
        }
        //alert($("#createPersistentCookie").val());
    }
</script>
<input type="hidden" id="createPersistentCookie" name="createPersistentCookie" value="false" />
<div id="pop_login">
    <div class="popupMain popupLoging">
        <div class="loginWay fixbox">
            @*<h4>Login with</h4>*@
            <span class="link"><a href="/sns/facebook">
                <img src="/images/logo/facebook_h40.gif" alt="Facebook" /></a></span>
            <span class="link"><a href="/sns/Twitter">
                <img src="/images/logo/twitter_h40.gif" alt="Twitter" /></a></span>
            <span class="link"><a href="/sns/LinkedIn">
                <img src="/images/logo/linkedin_h40.gif" alt="Linkedin" /></a></span>
            <span class="link NborderR"><a href="/sns/iMeet">
                <img src="/images/logo/imeet_h40.gif" alt="i-Meet" /></a></span>
        </div>
        <form name="loginform">
            <div class="error3" id="tipMsg">Input E-mail and password combination.</div>
            <ul class="mT15" id="loginList">
                <li>
                    <input type="text" value="E-mail" class="inputBg" id="pop_username" name="pop_username" data-bvalidator="rangelength[4:150]" /></li>
                <li class="relative" style="margin-top: 13px;">
                    <input tabindex="" type="text" id="ptp_password" value="Password" onfocus="if(this.value==&#39;Password&#39;) {this.value==&#39;&#39;;document.getElementById(&#39;pop_password&#39;).style.display=&#39;inline&#39;;this.style.display=&#39;none&#39;;document.getElementById(&#39;pop_password&#39;).focus()}" onblur="if(this.value==&#39;&#39;) this.value=&#39;Password&#39;" />
                    <input tabindex="2" type="password" id="pop_password" name="pop_password" data-bvalidator="rangelength[4:50]" style="display: none" onkeydown="sub(event);" onblur="if(this.value==&#39;&#39;) {document.getElementById(&#39;ptp_password&#39;).value=&#39;Password&#39;;document.getElementById(&#39;ptp_password&#39;).style.display=&#39;inline&#39;;this.style.display=&#39;none&#39;}" />
                    @*<input type="password"  value=""    class="inputBg inputPassword" id="pop_password" name="pop_password" data-bvalidator="required,rangelength[4:12]" />*@
                    @* <label for="pop_password" class="value"> Password</label>*@
                </li>
                <li style="margin-top: 10px;"><span class="checkboxMedium uncheckbox" data-checked="true"></span>  Remember me</li>
                <li class="alignC"><a href="javascript:void(0);" class="btnBlueH45" onclick="check();"><span class="bg w70 alignC">Login</span></a></li>
                <li class="alignC"><a href="/Account/ForgotPassword" class="italic">Forget password?</a></li>
                <li class="alignC">Don't have an account? @Html.ActionLink("Register now", "signup")</li>
                <li class="Cbababa alignC italic f10 mB10">i-Meet Members are already registered
                    <br>
                    (Use your i-Meet email address and password)</li>
            </ul>
        </form>
    </div>
</div>

@*<div id="pop_login">
    username or Email: <input type="text" id="pop_username" name="pop_username" data-bvalidator="rangelength[3:100],required" data-bvalidator-msg="username length is between 6 and 15 characters"/><br />
    password:<br /> <input type="password" id="pop_password" name="pop_password" data-bvalidator="rangelength[6:15],required" data-bvalidator-msg="password length is between 6 and 15 characters"/><br />
    <input type="button" value="login" onclick="ibt.login()" />
    <input type="button" value="cancel" onclick="ibt.popClose(this);" />
</div>*@
<script type="text/javascript">
    //$(document).ready(function () {
    //});
</script>

