﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    IMeet.IBT.DAL.User currentUser = ViewBag.CurrentUser;

    IMeet.IBT.DAL.Models.UserTravelBadge userTravelBadge = ViewBag.UserTravelbadge;
    IMeet.IBT.DAL.Models.UserPointSummaryByYear userPointSummaryByYear = ViewBag.UserPointSummaryByYear;
}

@Html.Partial("Widget/_Header")
<script type="text/javascript">
    $(document).ready(function () {
        $("#a_pointsummary").attr("class", "active");
    });
</script>
@section PageSide{
    @Html.Partial("Widget/_TravelBadge")
    @Html.Partial("Widget/_Advertisement")
    @Html.Partial("Widget/_Video")
    @Html.Partial("Widget/_IBT")
}
<div class="bgdgeBox">
    <div class="navList">
        <div class=" bg">
            <a href="/account/pointsummary" class=" fold unfold ">
                Point<br />
                Summary
            </a>
            <a href="/travelbadge/about" class="fold">About</a>
            <a href="/travelbadge/earning" class="fold">
                Earning<br />
                Points
            </a>
            <a href="/travelbadge/achievement" class="fold">
                Achievement<br />
                Levels
            </a>
            <a href="/travelbadge/rewards" class="fold">Rewards</span></a>
            <a href="/supplier/travelsadd" class="btn btnBlueH53">
                <span class="bg">
                    <span class="arrow">
                        Earn Points &
                        <br />
                        Post Visits Now
                    </span>
                </span>
            </a>
            @*            <a href="#" class="fold  lastLi">Set up Travel Badge
                <br />
                Signature</a>*@
        </div>
    </div>
    @if (User.Identity.IsAuthenticated && currentUser.IsActivate == (int)IMeet.IBT.Services.Identifier.IsActivate.True)
    {
        <div class="totalPoint">
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                    <th width="46%">
                        <dl>
                            <dt>Total Points</dt>
                            <dd class="num">@userTravelBadge.TotalPoints.ToString("#,0")</dd>
                        </dl>
                    </th>
                    <td width="18%">
                        <dl>
                            <dt>Permanent Points</dt>
                            <dd class="num">@userTravelBadge.UserPermanentPoint.PermanentPointTotal.ToString("#,0")</dd>
                        </dl>
                    </td>
                    <td width="18%">
                        <dl>
                            <dt>Bonus Points</dt>
                            <dd class="num">@userTravelBadge.UserBonusPoint.BonusPointTotal.ToString("#,0")</dd>
                        </dl>
                    </td>
                    <td width="18%">
                        <dl>
                            <dt>Specials Points</dt>
                            <dd class="num">@userTravelBadge.BadgeSpecialTotal.ToString("#,0")</dd>
                        </dl>
                    </td>
                </tr>
            </table>
        </div>

        <div class="table">
            <h2 class="blugBigBg"><span class="bg">Point Summary</span></h2>
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <thead>
                    <tr>
                        <th width="36%"></th>
                        @for (int y = DateTime.Now.Year; y <= (DateTime.Now.Year + 2); y++)
                        {
                            <th width="18%">@y</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    <tr class="first">
                        <th><span class="title">Permanent Points</span></th>
                        @for (int y = DateTime.Now.Year; y <= (DateTime.Now.Year + 2); y++)
                        {
                            <td>
                                @userTravelBadge.UserPermanentPoint.PermanentPointTotal.ToString("#,0")
                            </td>
                        }
                    </tr>
                    <tr>
                        <th><span class="title">Bonus points</span></th>
                        @for (int y = DateTime.Now.Year; y <= (DateTime.Now.Year + 2); y++)
                        {
                            <td>
                                @(userPointSummaryByYear.UserBonusPointList.Where(ubp => ubp.Year >= (y - 2)).Sum(p => p.BonusPointTotal).ToString("#,0"))
                            </td>
                        }
                    </tr>
                    <tr>
                        <th><span class="title">specials points</span></th>
                        @for (int y = DateTime.Now.Year; y <= (DateTime.Now.Year + 2); y++)
                        {
                            <td>
                                @{
                            int specialPoint = 0;
                            if (y == DateTime.Now.Year)
                            {
                                specialPoint = userTravelBadge.BadgeSpecialTotal;
                            }
                            else
                            {
                                specialPoint = 0;
                            }

                            @specialPoint.ToString("#,0")
                                }
                            </td>
                        }
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="table">
            <h2 class="blugBigBg"><span class="bg">Permanent Points</span></h2>
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <thead>
                    <tr>
                        <th width="36%"></th>
                        <th width="18%"></th>
                        <th width="18%">Number</th>
                        <th width="18%">Points</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="first">
                        <th><span class="title">Countries visited</span></th>
                        <td></td>
                        <td class="num">@userTravelBadge.UserPermanentPoint.CountryNumber.ToString("#,0")</td>
                        <td>@userTravelBadge.UserPermanentPoint.CountryPoint.ToString("#,0")</td>
                    </tr>
                    <tr>
                        <th><span class="title">cities visited</span></th>
                        <td></td>
                        <td class="num">@userTravelBadge.UserPermanentPoint.CityNumber.ToString("#,0")</td>
                        <td>@userTravelBadge.UserPermanentPoint.CityPoint.ToString("#,0")</td>
                    </tr>
                    <tr>
                        <th><span class="title">places visited </span></th>
                        <td></td>
                        <td class="num">@userTravelBadge.UserPermanentPoint.PlacesNumber.ToString("#,0")</td>
                        <td>@userTravelBadge.UserPermanentPoint.PlacesPoint.ToString("#,0")</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="table">
            <h2 class="blugBigBg"><span class="bg">Bonus Points</span></h2>
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <thead>
                    <tr>
                        <th width="36%"></th>
                        <th width="18%"></th>
                        <th width="18%">Posts</th>
                        <th width="18%">Points</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="first">
                        <th><span class="title">on-site management</span></th>
                        <td></td>
                        <td class="num">@userTravelBadge.UserBonusPoint.OSMNumber.ToString("#,0")</td>
                        <td>@userTravelBadge.UserBonusPoint.OSMPoint.ToString("#,0")</td>
                    </tr>
                    <tr>
                        <th><span class="title">site inspection</span></th>
                        <td></td>
                        <td class="num">@userTravelBadge.UserBonusPoint.SINumber.ToString("#,0")</td>
                        <td>@userTravelBadge.UserBonusPoint.SIPonit.ToString("#,0")</td>
                    </tr>
                    <tr>
                        <th><span class="title">general travel </span></th>
                        <td></td>
                        <td class="num">@userTravelBadge.UserBonusPoint.GTNumber.ToString("#,0")</td>
                        <td>@userTravelBadge.UserBonusPoint.GTPoint.ToString("#,0")</td>
                    </tr>
                    <tr>
                        <th><span class="title">political/social crisis</span></th>
                        <td></td>
                        <td class="num">@userTravelBadge.UserBonusPoint.PSCNumber.ToString("#,0")</td>
                        <td>@userTravelBadge.UserBonusPoint.PSCPoint.ToString("#,0")</td>
                    </tr>
                    <tr>
                        <th><span class="title">strike</span></th>
                        <td></td>
                        <td class="num">@userTravelBadge.UserBonusPoint.StrikeNumber.ToString("#,0")</td>
                        <td>@userTravelBadge.UserBonusPoint.StrikePoint.ToString("#,0")</td>
                    </tr>
                    <tr>
                        <th><span class="title">natural disaster</span></th>
                        <td></td>
                        <td class="num">@userTravelBadge.UserBonusPoint.NDNumber.ToString("#,0")</td>
                        <td>@userTravelBadge.UserBonusPoint.NDPoint.ToString("#,0")</td>
                    </tr>

                    <tr>
                        <th><span class="title">global audience</span></th>
                        <td></td>
                        <td class="num">@userTravelBadge.UserBonusPoint.GANumber.ToString("#,0")</td>
                        <td>@userTravelBadge.UserBonusPoint.GAPoint.ToString("#,0")</td>
                    </tr>
                    <tr>
                        <th><span class="title">Non-hotel venue</span></th>
                        <td></td>
                        <td class="num">@userTravelBadge.UserBonusPoint.NHVNumber.ToString("#,0")</td>
                        <td>@userTravelBadge.UserBonusPoint.NHVPoint.ToString("#,0")</td>
                    </tr>
                    <tr>
                        <th>
                            <span class="title">
                                cruise ship, heritage sites,
                                <br />
                                congress halls
                            </span>
                        </th>
                        <td></td>
                        <td class="num">@userTravelBadge.UserBonusPoint.VCNumber.ToString("#,0")</td>
                        <td>@userTravelBadge.UserBonusPoint.VCPoint.ToString("#,0")</td>
                    </tr>
                    <tr>
                        <th><span class="title">group 500+attendees</span></th>
                        <td></td>
                        <td class="num">@userTravelBadge.UserBonusPoint.GroupANumber.ToString("#,0")</td>
                        <td>@userTravelBadge.UserBonusPoint.GroupAPoint.ToString("#,0")</td>
                    </tr>
                    <tr>
                        <th>
                            <span class="title">
                                celebrity/political leader
                                <br />
                                participating
                            </span>
                        </th>
                        <td></td>
                        <td class="num">@userTravelBadge.UserBonusPoint.CPLPNumber.ToString("#,0")</td>
                        <td>@userTravelBadge.UserBonusPoint.CPLPPoint.ToString("#,0")</td>
                    </tr>
                    @*                    <tr>
                            <th><span class="title">Others</span></th>
                            <td></td>
                            <td class="num">@userTravelBadge.UserBonusPoint.OthersNumber</td>
                            <td>@userTravelBadge.UserBonusPoint.OthersPoint</td>
                        </tr>*@
                </tbody>
            </table>
        </div>

        <div class="table">
            <h2 class="blugBigBg"><span class="bg">Special Points</span></h2>
            @if (userTravelBadge.UserBadgeSpecial.Count > 0)
            {
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <thead>
                        <tr>
                            <th width="40%">Title of Special</th>
                            <th width="30%">Date Received</th>
                            <th width="30%">Number of Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var s in userTravelBadge.UserBadgeSpecial)
                        {
                            <tr>
                                <th><span class="title">@s.BadgeSpecial.Title</span></th>
                                <td>@s.ReceivedDate.ToString()</td>
                                <td>@s.point</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    }
    else
    {
        <div class="totalPoint">
            <div class="activeteTotal alignC">
                <dl class="inlineBox">
                    @if (currentUser.IsActivate == 0)
                    {
                        <dt>Activate To See Your Total Points</dt>
                        <dd class="num"><span class="inlineBox"><span class="alignR txt">points</span></span></dd>
                        <dd><a href="javascript:void(0);" onclick="showActivePop()" class="btnBlueH60"><span class="bg">ACTIVATE MY BADGE NOW</span></a></dd>
                        <dd>
                            By activating you agree to the
                            <br /><a href="javascript:void(0);" onclick="showActivePop()" class="underline">Badge Program Terms & Conditions</a>
                        </dd>
                        /*
                        <dd><a href="javascript:void(0);" class="btnBlueH60" onclick="showActivePop()"><span class="bg">ACTIVATE MY BADGE NOW</span></a></dd>
                        <dd>By activating you agree to the
                        <br />
                        //<a href="javascript:void(0);" onclick="showActivePop()" class="underline">Badge Program Terms & Conditions</a></dd>
                        */
                    }
                    else
                    {
                        <dt>Thank you, your badge has been activated</dt>
                        <dd>
                            @*<a href="/account/signup" class="btnBlueH60"><span class="bg"> your bagde has ACTIVATED </span></a>*@
                        </dd>
                        <dd>
                            The confirmation email has been sent to your email address
                            <br />
                            <br />
                            @*<a href="/account/signup" class="underline">Badge Program Terms & Conditions</a>*@
                        </dd>
                    }

                </dl>
                <p>Brought to you by i-Meet and American Express Meetings & Events, this <span class="C151515 bold">EXPERIENTIAL BADGE</span> is the industry's only acknowledgement of your on-the-ground experience!</p>
                <p>Here you can track all your travels, including where you've handled events, site inspections, and other meetings-related experiences. </p>
                <p><span class="bold C151515">Earn Points.  Rewards.  Acknowledgement</span>.</p>
                <p>Keep our meeting planning credentials current!</p>
            </div>
        </div>
        <div id="badgeNow" style="display: none;">
            <div class="W600 popupMain">
                <div class="tcBox">
                    <p>This Meeting Professional Badge is available only to meeting and event professionals, who indicate this status as part of their I've Been There member profile. By activating, member acknowledges that they have read, understand and agree to the intent, rules and measurements detailed in <a href="/travelbadge/about" class="underline bold">About Badge Program</a>, and agree to I've Been There's <a href="/TermsOfUse" class="underline bold">Terms of Use</a> for members.</p>
                    <p>The program is sponsored by i-Meet and American Express Meetings & Events. Sponsors do not have access to member's personal information on I've Been There. Sponsors will have access to levels of achievement for Badge Program participants, with total scoring data, and blind consolidated data on member activities in connection with the Badge program. No personal information will be shared with American Express Meetings & Events, unless this information is posted at the site by individual members. Email addresses are not shared with sponsors, except that email addresses are used for Badge Program communications.</p>
                    <p>Members of I've Been There that activate this badge program agree to receive communications, updates and point summaries from time to time. Award levels and acknowledgements may apply at different levels of achievement, and sponsors have the right to change awards at any time.</p>
                    <p>You may cancel your participation in the Meeting Professional Badge Program at any time (My Info > Edit Profile > Uncheck Meeting and Event Planner from the "How You See The World" section).</p>
                    <p>By activating your Meeting Professional Badge, you AGREE to these terms and conditions.</p>
                    <span class="checkboxMedium mR5" onclick="checkIAgree();"></span>
                    <label>By checking this box, you confirm you have reviewed and agree to (1) the above Badge Program Terms & Conditions, (2) I’ve Been There’s <a class="underline bold" href="/TermsOfUse">Terms of Use</a> and (3) the intent, rules and measurements detailed in <a class="underline bold" href="/travelbadge/about">About Badge Program</a>.</label>
                    <div class="btn alignC"><a href="javascript:void(0);" class="btnBlueH45" onclick="ActivateMyBadge()"><span class="bg">Confirm</span></a></div>
                </div>
            </div>
        </div>
    }
</div>

@section PageFoot{
    <script type="text/javascript">
        var iAgreeBadge = false;
        function checkIAgree() {
            if (iAgreeBadge) {
                iAgreeBadge = false;
            } else {
                iAgreeBadge = true;
            }
            return iAgreeBadge;
        };
        function showActivePop() {
            iAgreeBadge = false;
            var mybox = null;
            mybox = new Boxy($("#badgeNow").html(), {
                title: "Terms & conditions",
                modal: true,
                center: true,
                unloadOnHide: true,
                closeText: "x",
                afterHide: function (e) { },
                afterShow: function (e) { }
            });
            $(".boxyInner").addClass("popup");
            checkboxshow();
            selectSpan();
        };
        function ActivateMyBadge() {
            //Boxy.get(this).hideAndUnload();
            if (iAgreeBadge) {
                $.post("/Account/ActivateTravelBadge",
                    { "id": "@(currentUser != null ? ViewBag.EncryptedID : 0)" },
                    function (ms) {
                        location.reload();
                        if (ms.Success) { location.reload(); }
                    });
            }
        };
    </script>
}

@section PageNanigation{
    @Html.Partial("Widget/Nav/_TravelBadgeBar")
    <script type="text/javascript">
        $(function () {
            $('#_travelBadgeBar a:eq(' + ibt_travelBadge_index + ')').addClass('unfold');
        });


        $(function () {
            var pageState = '@ViewBag.textContent';
            if (pageState == 'showLogin') {
                ibt.loadUrlPop('/account/login', 'Get', '', function () { $('#pop_login').bValidator({ singleError: true }); $('.boxyInner').addClass('popup'); inputText(); }, 'Login<span class=\'f12\'>(Required For This Activity)</span>');
            }
        });

    </script>
}