﻿@{
    ViewBag.Title = "Verification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("Widget/_Header")
<div class="articleBox">
    <h2>Email Verification</h2>
    <div class="main">
        <p>
            Your email is verified. Please login using your new email id.
        </p>
    </div>
</div>

@section PageSide{
    @Html.Partial("Widget/_Advertisement")
    @Html.Partial("Widget/_Promotions")
    @Html.Partial("Widget/_IBT")
}