﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    IMeet.IBT.Services.ProfileService profileService = new IMeet.IBT.Services.ProfileService();
    int userId = profileService.GetUserId();
    Profile profile = profileService.GetUserProfile(userId);
    User user = profileService.GetUserInfo(userId);
}

@Html.Partial("Widget/_Header")
@Html.Partial("Widget/_SearchBar2")

<div class=" fixbox welcome">
    <h1>Welcome to I've Been There, @(profile.Firstname)!</h1>
    <p class="txt">May we suggest a few steps to get the most out of our site:</p>
    <dl>
        <dt><span class="num inlineBox">1</span><span class="title">Take 2 minutes to complete your <a href="/profile" class="italic underline">PROFILE</a></span>
        </dt>
        <dd>
            <div class="fixbox">
                <div class="avatar">

                    <img style="width:130px;height:130px;" src="@PageHelper.GetUserCutAvatar(userId, (int)IMeet.IBT.Services.Identifier.AccountSettingAvatarSize._mn)"/></div>
                <div class="info">
                    <h3>Profile Image</h3>
                    <p>Quickly select a photo to personalize your profile </p>
                    <a href="javascript:void(0);" class="btnBlueH38 btn mT20" onclick="ibt.loadUrlPop('/Account/Upload','Get','',function(){AccountSetting.uploadAvator();},'UPLOAD YOUR PROFILE PICTURE');"><span class="bg uppercase">Change My profile image</span></a>
                </div>
            </div>
        </dd>
        <dd class="fillForm">
            <h3>Connect your accounts for easy sharing</h3>
            <ul class="connect">
                <li>
                    <div class="switch right"><span class="switchMain"><span id="@Html.Raw("snsLink-" + ((int)IMeet.IBT.Services.Identifier.SnsType.Facebook).ToString())" data-Status="@ViewBag.Facebook" onclick="ConnectSNS(@Html.Raw(((int)IMeet.IBT.Services.Identifier.SnsType.Facebook).ToString()),'@IMeet.IBT.Services.Identifier.SnsType.Facebook.ToString()');" class="@ViewBag.Facebook draggable"></span></span></div>
                    <span class="facebookH26 main">Connect with Facebook</span>
                </li>
                <li>
                    <div class="switch right"><span class="switchMain"><span id="@Html.Raw("snsLink-" + ((int)IMeet.IBT.Services.Identifier.SnsType.Twitter).ToString())" data-Status="@ViewBag.Twitter"  onclick="ConnectSNS(@Html.Raw(((int)IMeet.IBT.Services.Identifier.SnsType.Twitter).ToString()),'@IMeet.IBT.Services.Identifier.SnsType.Twitter.ToString()');" class="@ViewBag.Twitter draggable"></span></span></div>
                    <span class="twitterH26 main">Connect with Twitter</span>
                </li>
                <li>
                    <div class="switch right"><span class="switchMain"><span id="@Html.Raw("snsLink-" + ((int)IMeet.IBT.Services.Identifier.SnsType.LinkedIn).ToString())" data-Status="@ViewBag.LinkedIn" onclick="ConnectSNS(@Html.Raw(((int)IMeet.IBT.Services.Identifier.SnsType.LinkedIn).ToString()),'@IMeet.IBT.Services.Identifier.SnsType.LinkedIn.ToString()');" class="@ViewBag.LinkedIn draggable"></span></span></div>
                    <span class="linkedinH26 main">Connect with Linkedin</span>
                </li>
                <li>
                    <div class="switch right"><span class="switchMain"><span id="@Html.Raw("snsLink-" + ((int)IMeet.IBT.Services.Identifier.SnsType.IMeet).ToString())" data-Status="@ViewBag.IMeet" onclick="ConnectSNS(@Html.Raw(((int)IMeet.IBT.Services.Identifier.SnsType.IMeet).ToString()),'@IMeet.IBT.Services.Identifier.SnsType.IMeet.ToString()');" class="@ViewBag.IMeet draggable"></span></span></div>
                    <span class="imeetH28 main">Connect with i-Meet</span>
                </li>
            </ul>
        </dd>
        <dd class="last">
            <h3>How you see the world </h3>
            <p>Click all that apply!  You must check Meeting & Event Planner to activate Meeting Professional Badge</p>
            <div class="mT20">
                <span class="checkboxBig @(user.IsPleasure == true ? "uncheckbox" : "")" data-type="1" data-value="@(user.IsPleasure == true ? "1" : "0")" onclick="j_welcome_check(this);"></span>Travel for Pleasure
                <span class="checkboxBig mL15 @(user.IsBusiness == true ? "uncheckbox" : "")" data-type="2" data-value="@(user.IsBusiness == true ? "1" : "0")" onclick="j_welcome_check(this);"></span>Travel for Business
                <span class="checkboxBig mL15 @(user.UserType != 0 ? "uncheckbox" : "")" data-type="3" data-value="@(user.UserType != 0 ? "1" : "0")" onclick="j_welcome_check(this);"></span>Meeting & Event Planner
            </div>
        </dd>
    </dl>
    <dl>
        <dt><span class="num inlineBox">2</span><span class="title">Meeting Professionals – Take 2 Minutes to Activate Your 
        <div class="txt"><a href="/account/pointsummary" class="italic bold underline">Meeting Professional Badge</a></div>
        </span>
        </dt>
        <dd class="last">
            <h3>Check Out the Program </h3>
            <p>Levels of achievement & rewards</p>
            <a href="/travelbadge/about" class="btnBlueH38 btn mT20"><span class="bg uppercase">more info</span></a>
        </dd>
    </dl>
    <dl>
        <dt><span class="num inlineBox">3</span><span class="title">Start Posting Visits to build your Travel History, and to build credits towards your Meeting Professional Badge</span>
        </dt>
        <dd>
            <h3>How to post visits</h3>
            <a href="javascript:void(0);" class="btnBlueH38 btn mT20" onclick="showPopHowToPostVisit();"><span class="bg uppercase">more info</span></a>
        </dd>
    </dl>
</div>


@section PageSide{
    @Html.Partial("Widget/_TravelBadge2")
    @Html.Partial("Widget/_Advertisement")
    @Html.Partial("Widget/_Video")
    @Html.Partial("Widget/_IBT")
}

@section PageFoot{
    <script src="/js/setting.js" type="text/javascript"></script>
    <script type="text/javascript">
        function j_welcome_check(obj) {
            if ($(obj).attr('data-value') == '1') {
                $(obj).attr('data-value', '0');
            } else {
                $(obj).attr('data-value', '1');
            }
            $.ajax({
                url: '/account/UpdateAccountSeeWorld',
                data: { type: $(obj).attr('data-type'), value: $(obj).attr('data-value') },
                type: 'post',
                dataType: 'json',
                success: function () {

                }
            });
        }
        function ConnectSNS(id, name) {
            if ($("#snsLink-" + id).attr("data-status") == "on") {
                //cancel
                Boxy.ask('<br />Are you sure you want to cancel ' + name + ' connect?', { '1': 'Yes', '2': 'No' }, function (val) {
                    if (val == '1') {
                        $.getJSON("/Account/SNSCancelConnect", { id: id }, function (json) {
                            Boxy.ask('Your ' + name + ' account is no longer linked to your profile.', { '1': 'Close' }, function (val) {
                                $("#snsLink-" + id).addClass("off").removeClass("on").css("left", "0px");
                                $("#snsLink-" + id).attr("data-status", "off");
                            }, { title: name + ' Connect' });
                            $(".boxyInner").addClass("popup");
                        });
                    }
                }, { title: name + ' Connect' });

                $(".boxyInner").addClass("popup");
                $("#snsLink-" + id).addClass("off").removeClass("on").css("left", "27px");
            } else {
                //bind
                location.href = "/sns/" + name;
            }
        }
    </script>
}

@section PageNanigation{
    @Html.Partial("Widget/Nav/_NavSearch")
}