﻿@{
    int userId = ViewBag.userId;

    IMeet.IBT.Services.ProfileService profileService = new IMeet.IBT.Services.ProfileService();
    userId = userId == 0 ? profileService.GetUserId() : userId;

    Profile profile = profileService.GetUserProfile(userId);
}
@Html.Partial("Widget/_Header")
 <input id="UserId" name="UserId" type="hidden" value="@ViewBag.userId" />
<div class="grayBg">
            	<div class="grayBox">
                	<h2 class="blugBigBg"><span class="bg">Message</span></h2>
                    <div  class="messageBox">
                        <div class="operating fixbox">
                            <a href="#" class="iconAdd NborderL mL10 NborderR">Compose</a>
                        </div>
                        <div class="listMain">
                            <ul>
                                <li class="recipientBar">
                                    <div class="main">
                                    	<div class="fixbox">
                                    	<a href="#" class="recipient">To:</a>
                                        <dl>
                                            <dd><input type="hidden"  /><input type="text" value="@profile.Firstname @profile.Lastname (@profile.UserId)" id="username"  /></dd>
                                        </dl>
                                        </div>
                                    </div>
                                </li>
                                <li class="">
                                    <div class="main">
                                    	<div class="fixbox">
                                    	<a href="#" class="userPic"><img src="@profileService.GetUserAvatar(userId,(int)IMeet.IBT.Services.Identifier.AccountSettingAvatarSize._at)" alt="My Name" /></a>
                                       <form>
                                            <textarea id="msgContent">Type your mesages here</textarea>
                                            <div class="alignR mT10">
                                            	<a href="javascript:void(0);" class="btnBlueH33" onclick="SendMessage();"><span class="bg">Send</span></a>
                                            </div>
                                       </form>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
@section PageSide{
    @Html.Partial("Widget/_Advertisement")
    @Html.Partial("Widget/_Promotions")
    @Html.Partial("Widget/_IBT")
}
@section PageFoot{
    <script src="/js/jMessage.js"></script>
<link href="/js/ui/jquery-ui.css" rel="stylesheet" />
<script src="/js/ui/jquery-ui.js"></script>
  <script type="text/javascript">
      $(function () {
          $("#username").autocomplete({
              source: function (request, response) {
                  $.ajax({
                      url: "/Connection/GetUserName",
                      data: {
                          name: request.term,
                      },
                      dataType: "json",
                      success: function (data, textStatus, jqXHR) {
                          response($.map(data, function (item, index) {
                              return item["FirstName"] + " " + item["LastName"] + " (" + item["FriendId"] + ")";
                          }));

                      }
                  });
              },
              minLength: 2
          });
          $("#msgContent").focus(function () {
              var val = "Type your mesages here";
              if ($(this).val() == val) {
                  $(this).val("");
              }
          }).blur(function () {
              if ($(this).val() == "") {
                  $(this).val("Type your mesages here");
              }
          });
      });
      function SendMessage() {
          if ($("#username").val() == "" || $("#msgContent").val() == "") {
              Boxy.alert("Incomplete information!", null, { title: "Send Message" });
              $(".boxyInner").addClass("popup");
          }
          else {
              var str = $("#username").val();
              var str2 = str.split("(")[1].split(")")[0];
              $("#UserId").attr("value", str2);
              //alert($("#UserId").val());
              messageList.SendMessage($("#UserId").val(), $("#msgContent").val());  //xg
          }
      }
</script>
}