﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int userId = ViewBag.userId;

    IMeet.IBT.Services.ProfileService profileService = new IMeet.IBT.Services.ProfileService();
    userId = userId == 0 ? profileService.GetUserId() : userId;

    Profile profile = profileService.GetUserProfile(userId);
}
@Html.Partial("Widget/_Header")
@Html.Partial("Widget/_Search")
@Html.Partial("Widget/_ProfileBar")
<script type="text/javascript">
    function selectFilter(obj) {
        var filterField = $(obj).attr("data-filter");
        $("#filterField").val(filterField);
    }
</script>
<input type="hidden" id="filterLetter" value="" />
<input type="hidden" id="filterField" value="Name" />
<input type="hidden" id="userId" value="@ViewBag.userId" />
 <div  class="grayLineBg">
                <div class="grayBox ">
                    <div class="fixbox">
                            <span class="smallSearch right mR20">
                            <input type="text" value="" id="filterKeyword">
                            <span class="select" style="width:115px;">
                                <span class="arrow" style="float:right;">Filter by Name</span>
                                <div class="list" style="display: none;">
                                    <ul id="filterList">
                                        <li data-filter="Name" onclick="selectFilter(this);">Filter by Name</li>
                                        <li data-filter="Country" onclick="selectFilter(this);">Filter by Country</li>
                                        <li data-filter="City" onclick="selectFilter(this);">Filter by City</li>
                                    </ul>
                                </div>
                            </span>
                            <a class="searchBtn" href="javascript:void(0);" onclick="connectionList.goTab();"><img alt="Search" src="/images/icon/search.gif"></a>
                    </span>
                            <h2 class="blugBigBg left"><span class="bg">Connections</span></h2>
                </div>
                	<div class="letterBar mB15">
                    	<div class="bg">
                        	<div class="main" id="quickSearch">
                                @for (int i = 65; i < 91; i++)
                                {
                                    <a href="javascript:void(0);" onclick="connectionList.quickSearch(this,'@Convert.ToChar(i).ToString()');">@Convert.ToChar(i).ToString()</a>
                                }                           	
                            </div>
                        </div>
                    </div>
                    <div class="connectionsBox">
                    		
                                @{
                                    if (profileService.GetConnectionCount(userId) > 0)
                                    {
                                        <ul class="fixbox" id="feedList">
                                     @*  @{
                                        foreach (Connection item in connection.GetConList(Convert.ToInt32(User.Identity.Name), 1))
                                        {
                                           <li>
                                               <div class="bgStripe">
                                                   <a href="#" class="right into">
                                                       <img class="rightArrowBlack" src="/images/icon/img.gif" alt="Into" /></a>
                                                   <a href="#" class="userPic">
                                                       <img src="/images/avatar/w75_01.gif" alt="User Name" /></a>
                                                   <dl>

                                                       <dt>@profile.GetUserProfile(item.FriendId).Lastname<span class="txt">@profile.GetUserCity(item.FriendId, Convert.ToInt32(profile.GetUserProfile(item.FriendId).CityId)).CityName , @profile.GetUserCountry(item.FriendId, Convert.ToInt32(profile.GetUserProfile(item.FriendId).CountryId)).CountryName</span></dt>
                                                       <dd><a href="#">LAST POSTED VISIT: <strong>Paris, France</strong></a></dd>

                                                   </dl>
                                                   <dl style="display: none;">
                                                       <dd>
                                                           <span class="btnBg IEPng">
                                                               <a href="Message">
                                                                   <img class="readEmail" src="/images/icon/img.gif" alt="Email" /></a>
                                                               <a href="javascript:void(0);" onclick="Connection.remove();">
                                                                   <img class="delFriend" src="/images/icon/img.gif" alt="" /></a>
                                                           </span>
                                                           <span class="f15">PROFILE</span>
                                                       </dd>
                                                   </dl>
                                               </div>
                                           </li>
                                                           }*@
                                        }
                                        </ul>
                                    }
                                    else
                                    {
                                         
                                        <div style="font-weight: bold;color: #666666;font-weight: bold;margin-top: 100px;text-align: center;
">@profileService.GetConnectionCount(userId) Connections of List</div>
                                  
                                    }
                                    
                                }
                            
                    </div>
                </div>
             </div>
@section PageSide{
    @Html.Partial("Widget/_Advertisement")
    @Html.Partial("Widget/_Promotions")
    @Html.Partial("Widget/_IBT")
}
@section PageFoot{
    <script src="/js/connection.js"></script>
    <script src="/js/jConnectionList.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#tabConnections").addClass("unfold");
            $("#a_profile").attr("class", "active");
            //document.getElementById("ibtCounter").style.display = "none ";
            //$("#ibtCounter").empty();
            connectionList.initData();
            connectionList.init();
            checkboxshow();
        });

    </script>
}

