﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    IMeet.IBT.Services.ConnectionService connection = new IMeet.IBT.Services.ConnectionService();
    IMeet.IBT.Services.ProfileService profile = new IMeet.IBT.Services.ProfileService();
}
@Html.Partial("Widget/_Header")
    <script  type="text/javascript">
        // <!CDATA[
        $(document).ready(function ()
        {
            checkboxshow();
            Checkbox_ALL();                
        });
        function changeCheck() {
            $("span[name='chkItem']").each(function () {
                $(this).click(function () {
                    if ($(this).hasClass("uncheckbox")) {
                        $("span[name='chkAll']").each(function () {
                            $(this).removeClass("uncheckbox");
                            //$(this).addClass("uncheckbox");
                        });
                    }
                    else {
                        $("span[name='chkAll']").each(function () {
                            $(this).addClass("uncheckbox");
                            //$(this).removeClass("uncheckbox");
                        });
                    }
                });

            });
        }
        function Checkbox_ALL() {
            //如果全部选中勾上全选框，全部选中状态时取消了其中一个则取消全选框的选中状态
            $("span[name='chkAll']").each(function () {
                $(this).click(function () {
                    if ($(this).hasClass("uncheckbox")) {
                        $("span[name='chkItem']").each(function () {
                            $(this).addClass("uncheckbox");
                            $("#feedList li").addClass("selected");
                        });
                    }
                    else {
                        $("span[name='chkItem']").each(function () {
                            $(this).removeClass("uncheckbox");
                            $("#feedList li").removeClass("selected");
                        });
                    }
                });

            });
          

            $("#feedList li").live("click", function () {
                if ($(this).hasClass("selected")) {
                    $(this).removeClass("selected").find("span").removeClass("uncheckbox");
                } else {
                    $(this).addClass("selected").find("span").addClass("uncheckbox");
                }
            });
        }
        function SetAll(tabId) {
            var selMsgIds = ibt.getCheckboxVal("#feedList li>span", "data-msgId");
            $("#hidSelMsgId").val(selMsgIds);
            if ($("#hidSelMsgId").val() == "") {
                Boxy.alert("Please check the message!", null, { title: "Message handle" });
                $(".boxyInner").addClass("popup");
            }
            else {
                messageList.SelAllHandle(tabId);
            }
            //if (tabId == 1) { //全选标记
            //    messageList.SelAllHandle(1);
            //}
            //else {  //全选删除
            //    messageList.SelAllHandle(2);
            //}
        }
        // ]]>
    </script>
<input type="hidden" id="hidSelMsgId" value="" />
<input type="hidden" id="filterField" value="" />
<form id="msgform" method="post">
  <div class="grayBg">
            	<div class="grayBox">
                	<h2 class="blugBigBg"><span class="bg">Message</span></h2>
                    <div  class="messageBox">
                        <div class="operating fixbox">
                            <a href="/Connection/Compose" class="iconAdd NborderL mL10">Compose</a>
                            <a href="#" onclick="SetAll(1);">Read</a>
                            <a href="#" class="iconDeleteS NborderR" onclick="SetAll(2);">Delete</a>
                        </div>
                        <div class="listHead">
                            <span class="smallSearch right ">
                                        <input type="text" value="" id="filterKeyword">
                                       @* <span class="select">
                                            <span class="arrow">Filter by Country</span>
                                            <div style="display: none;" class="list">
                                                <ul>
                                                    <li class="">Filter by Country</li>
                                                    <li class="">Filter by City</li>
                                                    <li class="">Filter by I've Been There</li>
                                                    <li class="">Filter by Recommended</li>
                                                    <li class="last">Filter by Want to Go</li>
                                                </ul>
                                            </div>
                                        </span>*@
                                        <a class="searchBtn" href="javascript:void(0);" onclick="messageList.goTab();"><img src="/images/icon/search.gif" alt="Search"></a>
                                </span>
                            <div class="left w200">
                                <span class="checkboxMedium" id="chkAll" name="chkAll"></span>
                                @*<input id="chkAll" class="checkboxMedium" onclick="return Checkbox_ALL();" type="checkbox" value="All" name="chkAll" />*@
                                <span class="view">
                                    <span style="font-size:15px; color:#31aee3; margin-right:5px; margin-left:10px; display:inline-block; vertical-align:middle;">View:</span>
                                    <span class="select">
                                        <span class="arrow">All</span>
                                        <div style="display: none;" class="list">
                                             <input type="hidden" id="IsShowMyMsg" value="0" />
                                        <ul>
                                            <li class=""  onclick="messageList.changeTab(0);">All</li>
                                            <li class=""  onclick="messageList.changeTab(1);">Read</li>
                                            <li class=""  onclick="messageList.changeTab(2);">Unread</li>
                                        </ul>
                                    </div>
                                </span>
                                   </span>
                              </div>
                              
                        </div>
                            <div class="listMain" id="msglist">
                                <ul id="feedList">                      
                                     @*   <li class="selected">
                                            <span class="checkboxMedium uncheckbox"></span>
                                            <div class="main">
                                                <div class="fixbox">
                                                    <span class="btnBg right IEPng">
                                                        <a href="#" class="readEmail">
                                                            <img src="/images/img.gif" alt="Email" /></a>
                                                        <a href="#" class="iconDeleteB">
                                                            <img src="/images/img.gif" alt="Delete" /></a>
                                                    </span>
                                                    <a href="#" class="userPic">
                                                        <img src="/images/avatar/w55_01.gif" alt="User Name" /></a>
                                                    <dl>
                                                        <dt><a href="#">Krystal Leong</a></dt>
                                                        <dd>Kindly help to like & share this page (http://www.Love.com/LoveAtFristSightSin...</dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </li>        *@                        
                                    
                                </ul>
                            </div>
                    </div>
                </div>
            </div>
    </form>
@section PageSide{
    @Html.Partial("Widget/_Advertisement")
    @Html.Partial("Widget/_Promotions")
    @Html.Partial("Widget/_IBT")
}
@section PageFoot{
    <script src="/js/ibt.js"></script>
    <script src="/js/jMessage.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            messageList.initMsgData();
            messageList.init();
        });

    </script>
}

@section PageNanigation{
    @Html.Partial("Widget/Nav/_Message")
}