﻿@using IMeet.IBT.Controllers.SNSHelper 
@{
    IMeet.IBT.Services.ConnectionService connectionService = new IMeet.IBT.Services.ConnectionService();
    IMeet.IBT.Services.ProfileService profileService = new IMeet.IBT.Services.ProfileService();
    int userId = profileService.GetUserId();
    ViewBag.Title = "Facebook";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<friendData> friendList = ViewBag.FriendList;
    List<friendData> joinIBTList = ViewBag.joinIBTList;
}
@Html.Partial("Widget/_Header")

<div class="grayBg">
            	<div class="grayBox">
                	<h2 class="blugBigBg"><span class="bg">Invite Friends</span></h2>
                    <div class="inviteBox">
                    	<div class="navList">
                        	<ul class="fixbox">
                            	<li><a class="iconEmail" href="/Connection/InviteFriend/@User.Identity.Name">Email</a></li>
                                <li class="active"><a class="facebookH26 " href="/invite/facebook">Facebook</a></li>
                                @*<li><a class="twitterH26" href="#LinkedIn">LinkedIn</a></li>
                                <li><a class="linkedinH26" href="#i-Meet">i-Meet</a></li>*@
                            </ul>
                        </div>
                        <div class="main">
                          <h3 class="">Invite Friends</h3>
                        	<div class="fixbox">
                            	<div class="column">
                                	<div class="head">
                                        <div class="smallSearch2 ">
                                            <input type="text" value="Type a Friend's Name" id="k_search">
                                            <a title="Search" class="searchBtn" href="javascript:void(0);" onclick="Search()"><img alt="Search" src="/images/icon/search.gif"></a>
                                        </div>
                                    </div>
                                    <div class="mainList">
                                    	<ul id="friendList">
                                            @foreach (var item in friendList)
                                            {
                                                <li id="@Html.Raw("fb_"+ item.id)">
                                            	<div class="friend">
                                                	<a href="http://www.facebook.com/@item.id" target="_blank"><img alt="@item.name" width="35px" src="@item.picture.data.url"></a>
                                                     @item.name
                                                </div>
                                                <div class="btn"><a class=" btnBlueH33" href="javascript:void(0);" onclick="FacebookInviteFriends('@item.id','@item.name')"><span class="bg">+ INVITE</span></a></div>
                                            </li>
                                            }

                                            @if (!string.IsNullOrWhiteSpace(Convert.ToString(ViewBag.Tips)))
                                            {
                                                <li id="friendList_noData">@ViewBag.Tips</li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                                <div class="column2">
                                	<div class="head fixbox">
                                        <h4>Friends on <br>I've Been There</h4>
                                        @if(joinIBTList.Count > 0){
                                    	<div class="btn"><a class=" btnGrayH40" href="#"><span class="bg">+ Add all</span></a></div>
                                        }
                                    </div>
                                    <div class="mainList">
                                    	<ul>
                                            @if(joinIBTList.Count > 0){
                                                foreach (var item in joinIBTList)
                                                {
                                                  <li>
                                            	    <div class="friend">
                                                	    <a href="/profile/@item.UserId"><img alt="@item.name" width="35px" src="@item.picture.data.url"></a>
                                                        @item.name
                                                    </div>
                                                    <div class="btn"><a class="btnGrayH33" href="javascript:void(0);" onclick="@connectionService.SendRequest(userId,Convert.ToInt32(item.UserId.ToString()))"><span class="bg">+ Add as friend</span></a></div>
                                                </li>
                                                }
                                            }else{
                                                <li>No Friend on I've Been There!</li>
                                            }
                                         </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

@section PageSide{
    @Html.Partial("Widget/_Advertisement")
    @Html.Partial("Widget/_Promotions")
    @Html.Partial("Widget/_IBT")
}

@section PageFoot{
    <script src="http://connect.facebook.net/en_US/all.js"></script>
    <script>
        FB.init({
            appId: '@System.Configuration.ConfigurationManager.AppSettings["facebookAppID"].ToString()',
            cookie: true,
            status: true,
            xfbml: true
        });

        function FacebookInviteFriends(id,name) {
            var link_url = "http://alpha.ibt.i-meet.com/";
            FB.ui({
                method: 'send',
                to: id,
                name: "Join me on my ibt!",
                description: name +" is on ibt, a place to discover, collect, and share inspiration. Join Pinterest to see Randy's pins and start pinning.",
                picture: "http://alpha.ibt.i-meet.com/images/logo/logo_w100.gif",
                link: link_url
            }, function (response) {
                if (!response) {
                    return;
                }
                $("#fb_" + id).hide(300);
            });
        }

        function Search() {
            $("#k_search").each(function () {
                var val = $(this).val();
                $(this).focus(function () {
                    if (val === $(this).val()) { $(this).val("") }
                }).blur(function () {
                    if ($(this).val() == "") { $(this).val(val) }
                });
            })
            var k = encodeURIComponent($("#k_search").val());
            if($("#k_search").val() =="Type a Friend's Name"){
                k = "";
            }
            var json_data = {k:k};
            $.post("/invite/FacebookFriendSearch", json_data, function (json) {
                if (json.Success) {
                    $("#friendList").empty();
                    $("#friendList").html(json.Message);
                } else {
                    $("#friendList").html("NO Data!");
                }
            }, "json");
        }
    </script>
}
