﻿@{
    IMeet.IBT.Services.ProfileService profileService = new IMeet.IBT.Services.ProfileService();
    IMeet.IBT.Services.Identifier.AccountSettingAvatarSize avatarSize = new IMeet.IBT.Services.Identifier.AccountSettingAvatarSize();
    int userId = profileService.GetUserId();
    IMeet.IBT.DAL.Profile profile = profileService.GetUserProfile(userId);
    int? roleId = profileService.GetUserInfo(userId).RoleId;
}

@if (User.Identity.IsAuthenticated)
{
    <div class="header">
        <div class="fixbox">
            <span class="mySelf">
                <a href="/Profile">
                    <img src="@profileService.GetUserAvatar(userId, (int)IMeet.IBT.Services.Identifier.AccountSettingAvatarSize._xxlat)" />
                    @profile.Firstname</a>

                <a class="message" href="/Profile">@profileService.GetTotalCount(userId)</a>
                <span class="select selecBtnList" style="z-index: 0;">

                    <span class="title">
                        <a class="downArrow" href="#"></a>
                    </span>
                    <span class="list" style="display: none;">
                        <ul>
                            <li><a href="/Account/AccountSetting">My Account</a></li>
                            <li class="lineT"></li>
                            <li><a href="/Connection/Message/@userId"><span class="num">@profileService.GetMsgCount(userId)</span>Messages </a></li>
                            <li><a href="/Connection/Connection/@userId">Connections</a></li>
                            <li><a href="/Account/FriendRequest/@userId"><span class="num">@profileService.GetRequestCount(userId)</span> Friends Requests</a></li>
                            <li><a href="/Connection/InviteFriend/@userId">Invite Friends</a></li>
                            <li class="lineT"></li>
                            <li><a href="/Home/Index">About</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="/PrivacyPolicy">Privacy</a></li>
                            <li><a href="/Account/LogOff">Log Out</a></li>
                            @if (roleId == 1)
                            {
                                <li id="adminList"><a href="AdminLogin">Admin</a></li>
                            }

                        </ul>
                    </span>

                </span>
            </span>
            <div class="menu">
                <a href="/Home/Index">About</a>
                <a href="/home">HOME</a>
                <a href="/Supplier/TravelsAdd">Add+History</a>
                <a href="/account/pointsummary">My Badge</a>
                <a href="/profile">My Info</a>
            </div>
            <a class="logo" href="/home">i 've Been There!</a>
        </div>
    </div>
}
else
{
    <div class="header">
        <div class="fixbox">
            <div class="menu">
                <a href="javascript:void(0);" onclick="ibtAdmin.loadUrlPop('/account/login','Get','',function(){$('#pop_login').bValidator({singleError:true});  $('.boxyInner').addClass('popup');inputText();},'Login With');" class="C31AEE3">Login</a> |
               <a class="C31AEE3" href="/Account/signup">Sign Up</a>
                @* @Html.ActionLink("Sign Up", "signup",null,new{@class="C31AEE3"})*@
            </div>
            <a class="logo" href="/home">i 've Been There!</a>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {

    });
</script>
