﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int IsShowMyProfile = ViewBag.IsShowMyProfile;
    int userId = ViewBag.UserId;
}

@Html.Partial("Widget/_Header")
@Html.Partial("Widget/_Search")
@Html.Partial("Widget/_ProfileBar")

@*<div  class="grayBg">
    <div class="grayBox ">
        <h2 class="blugBigBg"><span class="bg">My Travel</span> <span class="blueBigExtend"><span class="bg">@ViewBag.CategoryName</span></span></h2>
        <div  class="feedList">
            <input type="hidden" id="feed_UserId" value="@ViewBag.UserId" />
            <input type="hidden" id="IsShowMyProfile" value="@IsShowMyProfile" />
            <input type="hidden" id="categoryId" value="@ViewBag.CategoryId" />
            <ul class="listUl" id="feedList"></ul>
        </div>
    </div>
</div>*@
<input type="hidden" id="filterLetter" value="" />
<input type="hidden" id="yearMonth" value="" />
<input type="hidden" id="IsSortRating" value="" />
<input type="hidden" id="feed_UserId" value="@ViewBag.UserId" />
<input type="hidden" id="IsShowMyProfile" value="@IsShowMyProfile" />
<input type="hidden" id="categoryId" value="@ViewBag.CategoryId" />
<div class="totleBox2 totleGray">
    <ul class="fixbox">
        <li id="liCountries" class="firstLi">
            <div class="box"><a href="/Supplier/Countries/@userId"><span class="numBox">@Widget.IbtStatistics(1, userId)</span> Countries</a></div>
        </li>
        <li id="liCities" class="">
            <div class="box"><a href="/Supplier/Cities/@userId"><span class="numBox">@Widget.IbtStatistics(2, userId)</span> Cities</a></div>
        </li>
        <li id="liHotels" class="">
            <div class="box"><a href="/MyTravel/@userId/3"><span class="numBox">@Widget.IbtStatistics(3, userId)</span> Hotels</a></div>
        </li>
        <li id="liLifestyle" class="">
            <div class="box"><a href="/MyTravel/@userId/4"><span class="numBox">@Widget.IbtStatistics(4, userId)</span> Lifestyle</a></div>
        </li>
        <li id="liAttr">
            <div class="box Nbg"><a href="/MyTravel/@userId/5"><span class="numBox">@Widget.IbtStatistics(5, userId)</span> Attractions</a></div>
        </li>
    </ul>
</div>
<div class="supplierBox">
    <div class="info info2">
        <div class="filterTab fixbox">
            <div class="tabNav">
                Filter :
                                    <a href="javascript:void(0);" onclick="showFilter(1);"><span class="letterIcon"></span></a>
                <a href="javascript:void(0);" onclick="showFilter(2);" class="active"><span class="dateIcon"></span></a>
                <a href="javascript:void(0);" onclick="showFilter(3);"><span class="starIcon"></span></a>
            </div>
            <div class="tabMain">
                <div class="letterBar mB15" id="letterBar" style="display: none;">
                    <div class="bg">
                        <div class="main" id="quickSearch">
                            @for (int i = 65; i < 91; i++)
                            {
                                <a href="javascript:void(0);" onclick="jTravel.quickSearch(this,'@Convert.ToChar(i).ToString()');">@Convert.ToChar(i).ToString()</a>
                            }
                        </div>
                    </div>
                </div>
                <div id="tabMain">
                </div>
                @* <a class="btnColorB IERound" href="#">Jan</a>
                <a class="btnColorG IERound" href="#">Dec 2012</a>
                <a class="btnColorG IERound" href="#">Nov 2012</a>
                <a class="btnColorG IERound" href="#">Oct 2012</a>*@
            </div>
        </div>
        @* <div class=" fixBox">
            <span class="select w140 right mT10 mR20" style="z-index: 0;">
                <span class="title arrow">Sort By</span>
                <span style="display: none;" class="list">
                    <ul>
                        <li class="selected">Friends Activity</li>
                        <li>My Activity</li>
                    </ul>
                </span>
            </span>
        </div>*@
        <div class="commentList">
            <ul class="fixbox" id="feedList">

                @*<li class="feed">
                    <span class="operating">
                        <span class="rating"><span class="f10  mR5">RATING</span>
                            <span class="starW15 full"></span>
                            <span class="starW15 full"></span>
                            <span class="starW15 full"></span>
                            <span class="starW15 full"></span>
                            <span class="starW15"></span>
                        </span>
                        <a href="#" class="btnBlueH45" onclick="showPop()"><span class="btnBlueNumH45"><span class="btnBlueAddH45">I've been there</span>1</span></a>
                    </span>
                    <a class="userPic" href="#">
                        <img alt="" src="images/photos/imgW50_01.gif"></a>
                    <dl class="info">
                        <dt><a href="#">Eddy</a> <span class="f15">posted visit to <a href="#">Australia</a></span> <span class="time">March3.2012</span>
                            <div class="choose">
                                <span class="checkBg">
                                    <img src="images/photos/imgW35.gif" class="mR5" alt="" />
                                    <span class="checkboxMTxt ">
                                        <span class="bg"><span class="alignM"></span><span class="txt">Want to Go/Go Back</span></span>
                                    </span><span class="line"></span><span class="checkboxMTxt mR5 mL5">
                                        <span class="bg"><span class="alignM"></span><span class="txt">Bucket List</span></span>
                                    </span>
                                </span>
                                <span class="friendsInfo  italic f10 C7a7a7a mT5">You and <a href="#">9 Friends</a> has Been There</span>
                            </div>
                        </dt>
                        <dd>
                            <div class="relative">
                                <div class="editBox select">
                                    <span class="arrow">&nbsp;</span>
                                    <div class="list">
                                        <ul>
                                            <li>Edit</li>
                                            <li>Delect</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="photo">
                                <img src="images/photos/imgW126_01.jpg" class="mR10" />
                                <img src="images/photos/imgW126_02.jpg" class="mR10" />
                                <img src="images/photos/imgW126_02.jpg" class="mR10" />
                                <img src="images/photos/imgW126_02.jpg" class="mR10" />
                            </div>
                            <p>
                                "A great place to view Adelaide east n west a lil peak of north..! I got to see during sunset n night scene!! Great time!!! Free trip
                            </p>
                            <span class="commentsTxt"><a href="#">Comments(8)</a></span>
                            <div class="history">
                                <span class="sliderD sliderU ">view history  </span>
                                <div class="historyList">
                                    <dl>
                                        <dt>
                                            <div class="relative">
                                                <div class="editBox select">
                                                    <span class="arrow">&nbsp;</span>
                                                    <div class="list">
                                                        <ul>
                                                            <li>Edit</li>
                                                            <li>Delect</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href="#">Eddy</a> <span class="f15">posted visit to <a href="#">Australia</a></span> <span class="time">March3.2012</span>
                                        </dt>
                                        <dd>
                                            <p>"A great place to view Adelaide east n west a lil peak of north..! I got to see during sunset n night scene!! Great time!!! Free trip </p>
                                            <div class="commentTxt">
                                                <a href="#">Comments (8)  </a>
                                            </div>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>

                                            <a href="#">Eddy</a> <span class="f15">posted visit to <a href="#">Australia</a></span> <span class="time">March3.2012</span>
                                        </dt>
                                        <dd>
                                            <p>"A great place to view Adelaide east n west a lil peak of north..! I got to see during sunset n night scene!! Great time!!! Free trip </p>
                                            <div class="commentTxt">
                                                <a href="#">Comments (8)  </a>
                                            </div>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>

                                            <a href="#">Eddy</a> <span class="f15">posted visit to <a href="#">Australia</a></span> <span class="time">March3.2012</span>
                                        </dt>
                                        <dd>
                                            <p>"A great place to view Adelaide east n west a lil peak of north..! I got to see during sunset n night scene!! Great time!!! Free trip </p>
                                            <div class="commentTxt">
                                                <a href="#">Comments (8)  </a>
                                            </div>
                                        </dd>
                                    </dl>
                                    <dl class="lastDl">
                                        <dt>

                                            <a href="#">Eddy</a> <span class="f15">posted visit to <a href="#">Australia</a></span> <span class="time">March3.2012</span>
                                        </dt>
                                        <dd>
                                            <p>"A great place to view Adelaide east n west a lil peak of north..! I got to see during sunset n night scene!! Great time!!! Free trip </p>
                                            <div class="commentTxt">
                                                <a href="#">Comments (8)  </a>
                                            </div>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </dd>
                    </dl>
                </li>*@

            </ul>
            <div id="clickloadmore_travels" style="width: 100%; border: 1px solid rgb(229, 229, 229); text-align: center; height: 24px; padding-top: 10px; display: block;">
                <a onclick="jTravel.getFeedList();" href="javascript:void(0);">Click to load more!</a>
            </div>
        </div>
    </div>
</div>

@section PageSide{
    @Html.Partial("Widget/_Advertisement")
    @Html.Partial("Widget/_Promotions")
    @Html.Partial("Widget/_IBT")
}

@section PageFoot{
    <script src="/js/jquery-ui-1.9.0.custom.min.js"></script>
    <script src="/js/jquery.smooth-scroll.min.js"></script>
    <script src="/js/lightbox.js"></script>
    <link href="/css/lightbox.css" rel="stylesheet" />
    <script src="/js/jquery.autogrow-textarea.js"></script>
    <script src="/js/jFeedComments.js"></script>
    <script src="/js/jFeedHistory.js"></script>
    <script src="/js/jTravel.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#a_profile").attr("class", "active");
            $("#tabMyTravel").addClass("unfold");
            $("#liCities").addClass("current");
            jTravel.initData(2);
            //jTravel.init();
            //feedSlider();
            feedHistory.ShowFeedDate(2);
        });
        function showFilter(objId) {
            if (objId == 1) {
                document.getElementById("tabMain").style.display = "none ";
                document.getElementById("letterBar").style.display = "block ";
            }
            else if (objId == 2) {
                feedHistory.ShowFeedDate(2);
            }
            else {
                $("#IsSortRating").val("Yes");
                jTravel.initData(2);
            }
        }
    </script>
}