﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var mapsItem = ViewBag.MapsItem as MapsItem;
}

@Html.Partial("Widget/_Header")
@Html.Partial("Widget/_Search")
@Html.Partial("Widget/_ProfileBar")
<script type="text/javascript">
    function selectFilter(obj) {
        var filterField = $(obj).attr("data-filter");
        $("#filterField").val(filterField);
    }
</script>
<input type="hidden" id="listType" value="Recommended" />
<input type="hidden" id="filterLetter" value="" />
<input type="hidden" id="filterField" value="" />

@*<div id="map_canvas" class="mapBox"></div>*@

<div  class="grayLineBg">
<div class="grayBox ">
    <h2 class="blugBigBg left"><span class="bg">My Lists</span></h2>
    <div class="fixbox myListBox mT10">
        <div class="listNav">
                <a href="javascript:void(0);" onclick="myList.goTab(this,2);" class="btnBlueH34 btnActive"><span class="bg"><span class="alignM"></span><span class="txt">Recommended</span></span></a>
                <a href="javascript:void(0);" onclick="myList.goTab(this,3);" class="btnBlueH34 "><span class="bg"><span class="alignM"></span><span class="txt">Want to Go / Go Back</span></span></a>
                <a href="javascript:void(0);" onclick="myList.goTab(this,4);" class="btnBlueH34 "><span class="bg"><span class="alignM"></span><span class="txt">Bucket List</span></span></a>
        </div>
        <div class="listMain">
            <div  class="fixbox">
            <span class="smallSearch right">
            <input type="text" value="" id="filterKeyword">
            <span class="select">
                <span class="arrow">Filter by Name</span>
                <div class="list" style="display: none;">
                    <ul>
                        <li data-filter="Name" onclick="selectFilter(this);">Filter by Name</li>
                        <li data-filter="Country" onclick="selectFilter(this);">Filter by Country</li>
                        <li data-filter="City" onclick="selectFilter(this);">Filter by City</li>
                    </ul>
                </div>
            </span>
            <a class="searchBtn" href="javascript:void(0);" onclick="myList.goTab();"><img alt="Search" src="/images/icon/search.gif"></a>
        </span>
                <h3 id="myList_title">List of Recommended
                    <span class="txt">You 've Recommended about 196 places</span>
                </h3>
            </div>
            <div class="letterBar mB15">
                <div class="bg">
                    <div class="main" id="quickSearch">
                        @for (int i = 65; i < 91; i++)
                        {
                           <a href="javascript:void(0);" onclick="myList.quickSearch(this,'@Convert.ToChar(i).ToString()');">@Convert.ToChar(i).ToString()</a>
                        }
                    </div>
                </div>
            </div>
            <div class="feedList" >
                <ul class="listUl" id="feedList">
                </ul>
            </div>
        </div>
    </div>
</div>
</div>

@section PageSide{
    @Html.Partial("Widget/_Advertisement")
    @Html.Partial("Widget/_Promotions")
    @Html.Partial("Widget/_IBT")
}

@section PageHead{
    <script src="/js/jMyList.js"></script>
}

@section PageFoot{
    @*<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>*@
    @*<script src="/js/infobox.js"></script>*@
   
   @*<script src="/js/myListMaps.js?v=1.0"></script>*@
    <script type="text/javascript">
        $(document).ready(function () {
            $("#tabMyList").addClass("unfold");
            $("#a_profile").attr("class", "active");
            myList.initData();
            myList.init();
            //myListMaps.UserId = UserId;
            @*var lat = @Html.Raw(mapsItem.lat + ";")*@
            @*var lng = @Html.Raw(mapsItem.lng + ";")*@
            //var json_data = {userId: UserId, lat: lat, lng:lng,typ:1 };
            //$.ajax({
            //    url: "/map/GetMyListMapsList", data: json_data, success: function (json) {
            //        myListMaps.source = json;
            //        myListMaps.init(json);
            //    }, dataType: "json", async: false
            //});
        });

    </script>
}
