﻿@{
    Layout = null;

    PostVisitItem sls = ViewBag.PostVisitInfo as PostVisitItem;
    int ibtType = ViewBag.IbtType;
    
    Profile profile = ViewBag.Profile as Profile;
    IMeet.IBT.Services.SupplierService supplyService = new IMeet.IBT.Services.SupplierService();
    IMeet.IBT.Services.ProfileService profileService = new IMeet.IBT.Services.ProfileService();
    IMeet.IBT.Services.NewsFeedService feedService = new IMeet.IBT.Services.NewsFeedService();
    List<SelectListItem> yearList = ViewBag.YearList;
    List<SelectListItem> monthList=ViewBag.MonthList;
    List<SelectListItem> dayList = ViewBag.DayList;
    DateTime dt = DateTime.Now;
    string experiences = "";
    string displayImage = "display:block";
    string classOnlyRead = "flase";
    string url = Request.RawUrl.ToString();
    string pvId = "";
    int activeType = 0;
    int newsfeedId = 0;
    if (url.IndexOf("newsfeedId") > 0 && !string.IsNullOrWhiteSpace(Request.QueryString["newsfeedId"].ToString()))
    {
        newsfeedId = Convert.ToInt32(Request.QueryString["newsfeedId"].ToString());
        classOnlyRead = "true";
        displayImage = "display:none";
        experiences = feedService.GetNewsFeedInfo(newsfeedId).ObjVal;
        dt = feedService.GetNewsFeedInfo(newsfeedId).CreateDate;
        activeType = feedService.GetNewsFeedInfo(newsfeedId).ActiveType;
    }
    
    yearList.FirstOrDefault(y => y.Value == dt.Year.ToString()).Selected = true;
    monthList.FirstOrDefault(m => m.Value == dt.Month.ToString()).Selected = true;
    dayList.FirstOrDefault(d => d.Value == dt.Day.ToString()).Selected = true;

    int UserId = profileService.GetUserId();
    IMeet.IBT.Services.SNSConnectService snsConnectService = new IMeet.IBT.Services.SNSConnectService();
    string fShare = "off";
    string lShare = "off";
    string tShare = "off";
    string iShare = "off";
    var linkedinShare = snsConnectService.GetSNSConnect(UserId, IMeet.IBT.Services.Identifier.SnsType.LinkedIn);
    if (linkedinShare != null && linkedinShare.UserId > 0)
    {
        lShare = "on";
    }
    var facebookShare = snsConnectService.GetSNSConnect(UserId, IMeet.IBT.Services.Identifier.SnsType.Facebook);
    if (facebookShare != null && facebookShare.UserId > 0)
    {
        fShare = "on";
    }
    var twitterShare = snsConnectService.GetSNSConnect(UserId, IMeet.IBT.Services.Identifier.SnsType.Twitter);
    if (twitterShare != null && twitterShare.UserId > 0)
    {
        tShare = "on";
    }
    var imeetShare = snsConnectService.GetSNSConnect(UserId, IMeet.IBT.Services.Identifier.SnsType.IMeet);
    if (imeetShare != null && imeetShare.UserId > 0)
    {
        iShare = "on";
    }
    string imgSrc = "";
    if (sls.SupplyId > 0)
    {
        imgSrc = PageHelper.GetSupplyPhoto(sls.SupplyId, sls.ShowImgSrc, IMeet.IBT.Services.Identifier.SuppilyPhotoSize._mn);
    }
    else
    {
        imgSrc = sls.ShowImgSrc;
    }
    string displaySupply = "display:none";
    string displayCity = "display:none";
    string classmL5 = "mL5";
    if (sls.SupplyId > 0)
    {
        displaySupply = string.Empty;
        displayCity = string.Empty;
    }
    else if (sls.CityId > 0)
    {
        displaySupply = string.Empty;
        classmL5 = string.Empty;
    }
    string shareUrl = string.Empty;
    Supply supply = null;
    switch(ibtType)
    {
        case (int)IMeet.IBT.Services.Identifier.IBTType.Country:
            {
                shareUrl = "/Country/About/1/"+sls.CountryId;
                    break;
            }
        case (int)IMeet.IBT.Services.Identifier.IBTType.City:
                {
                    shareUrl = "/City/About/2/"+sls.CityId;
                    break;
                }
        default:
            {
                supply = supplyService.GetSupplyDetail(sls.SupplyId);
                shareUrl = "/Supplier/v/" + sls.SupplyId;
                break;
            }
    }
}
@*<link href="/js/uploadify/uploadify.css" rel="stylesheet" />*@
@*<script src="/js/effect.js"></script>*@
@*<script src="/js/uploadify/jquery.uploadify.min.js"></script>*@
<script type="text/javascript">
    $(function () {

    });
    function pvRemoveImg(objId, attId) {
        DelImg(objId, attId);
    }
    function DelImg(objId, attId) {
        if (confirm('Do you really want to delete this article data?')) {
            $("span[attId=" + attId + "]").remove();
            var json_data = { objId: objId, attId: attId };
            $.post("/Supplier/PostVisitIsDel", json_data, function (json) {
                if (json.Success) {
                    //Boxy.alert(json.Message, null, { title: "Del Img" });
                    //$(".boxyInner").addClass("popup");
                }
                //else {
                //    Boxy.alert(json.Message, null, { title: "Del Img" });
                //    $(".boxyInner").addClass("popup");
                //}
            }, "json");
        } else { return false }
    }
</script>
<input id="newsfeedId" name="newsfeedId" type="hidden" value="@newsfeedId"/>
<input id="activeType" name="activeType" type="hidden" value="@activeType"/>
<input type="hidden" id="handleType" value="0" />
<input type="hidden" id="postType" value="0" />
<input type="hidden" id="pvGuid" value="@System.Guid.NewGuid().ToString().Replace("-", "")" />
<input type="hidden" id="pvAttId" value="" />
<input type="hidden" id="pvSupplyId" value="@sls.SupplyId" />
<input type="hidden" id="selDate" value="false" />
<input type="hidden" id="countryId" value="@sls.CountryId" />
<input type="hidden" id="cityId" value="@sls.CityId" />
<input type="hidden" id="pvIbtType" value="@ibtType" />
<input type="hidden" id="hidTitle" value="@sls.Title" />
<input type="hidden" id="hidCity" value="@sls.CityName" />
<input type="hidden" id="hidState" value="@sls.InfoState" />
<input type="hidden" id="hidCountry" value="@sls.CountryName" />
<input type="hidden" id="hidSupplierURL" value="@shareUrl" />
<div id="postVisit" style="display: none;">
    <div class="W600 popupMain">
        <div class="postBox grayBox layourForm">
            <ul>
                <li class="noLineT infoLi">
                    <a class="img" href="@sls.TitleUrl">
                        <img alt="" src="@imgSrc" /></a>
                    <dl>
                        <dt><a href="#">@profile.Firstname</a> has posted a visit to <a href="@sls.TitleUrl">@sls.Title</a>
                        </dt>
                        <dd><span class="f10 mR5 inlineBox alignM">RATING</span>
                            <span class="IBTRating" data-rating="@sls.Rating" data-ibtType="@ibtType" data-objId="@sls.ObjId"></span>
                        </dd>
                        <dd class="location f11">@sls.CityName , @sls.CountryName  @*Blk E4, Engineering Drive 3#02-12, Singapore*@</dd>
                        <dd class="mT10">
                            <span class="checkboxTxt @Html.Raw(sls.Recommended.Equals(IMeet.IBT.Common.Utils.IntToByte(1)) ? "uncheckbox" : "") mR5" onclick="ibt.rrwb_rwb(this);" data-postType="0" data-rrwbType="2"  data-ibtType="@ibtType" data-val="@Convert.ToInt32(sls.Recommended)" data-objId="@sls.ObjId" data-readonly="@classOnlyRead">
                                <span class="bg"><span class="alignM"></span><span class="txt">Recommended</span></span>
                            </span>
                            @{if(!(supply!=null&&supply.ServiceType==(int)IMeet.IBT.Services.Identifier.ServiceType.ServiceProvider)){
                                <span class="checkboxTxt @Html.Raw(sls.WanttoGo.Equals(IMeet.IBT.Common.Utils.IntToByte(1)) ? "uncheckbox" : "") mR5" onclick="ibt.rrwb_rwb(this);" data-postType="0" data-rrwbType="3"  data-ibtType="@ibtType" data-val="@Convert.ToInt32(sls.WanttoGo)" data-objId="@sls.ObjId" data-readonly="@classOnlyRead">
                                    <span class="bg"><span class="alignM"></span><span class="txt">Want to Go/Go Back</span></span>
                                </span>
                                <span class="checkboxTxt @Html.Raw(sls.BucketList.Equals(IMeet.IBT.Common.Utils.IntToByte(1)) ? "uncheckbox" : "")" onclick="ibt.rrwb_rwb(this);" data-postType="0" data-rrwbType="4"  data-ibtType="@ibtType" data-val="@Convert.ToInt32(sls.BucketList)" data-objId="@sls.ObjId" data-readonly="@classOnlyRead">
                                    <span class="bg"><span class="alignM"></span><span class="txt">Bucket List</span></span>
                                </span>
                            }
                            }
                        </dd>
                    </dl>
                </li>
                <li class="formLi">
                    <label class="title alignT">Tell us your experience(s) <span class="Cc5c5c5">(Optional)</span></label>:
                    <span class="rightCol alignT">
                        @if(activeType==(int)IMeet.IBT.Services.Identifier.FeedActiveType.AddTravel||activeType==(int)IMeet.IBT.Services.Identifier.FeedActiveType.IBT){
                            <textarea id="experiences" readonly="readonly">@experiences</textarea>
                        }else{
                            <textarea id="experiences">@experiences</textarea>
                        }
                    </span>
                </li>
                <li class="formLi">
                    <label class="title alignT">Date  <span class="Cc5c5c5">(Optional)</span></label>:
                    <span class="rightCol alignT">
                        <span class="inlineBox inputBox f15">
                            @Html.DropDownList("dd_day", dayList, new Dictionary<string, object>() { { "class", "w100 mR5" } })/
                            @Html.DropDownList("dd_month", monthList, new Dictionary<string, object>() { { "class", "w120 mL5 mR5" } })/
                            @Html.DropDownList("dd_year", yearList , new Dictionary<string, object> { { "class", "w130 mL5" } })
                            <div class="mT10  C7a7a7a">
                                <span id="includeDate" class="checkboxBig"></span>Include date in your travel
                            </div>
                        </span>
                        @*                        <span class="rightCol alignT">
                          <ul class="choose">
                              <li class="mL5"><span id="includeDate" class="checkboxBig mR5 "></span>Include date in your travel</li>
                          </ul>
                        </span>*@
                    </span>

                </li>
                @*                <li class="formLi">
                    <label class="title">Date  <span class="Cc5c5c5">(Optional)</span></label>: 
                    <span class="rightCol">
                        <span class="inlineBox inputBox f15">
                            <span class="select w50 mR5 alignM">
                                <span class="title arrow" id="sel_day" data-item="01">01</span>
                                <span class="list">
                                    <ul>
                                        @for (int i = 1; i < 13; i++)
                                        {
                                            <li onclick="ibt.PVselDate(this,'sel_day');" data-item="@i.ToString()">@i.ToString().PadLeft(2, '0')</li>
                                        }
                                    </ul>
                                </span>
                            </span>/
                            <span class="select w60 mL5 mR5 alignM">
                                <span class="title arrow" id="sel_month" data-item="5">May</span>
                                <span class="list">
                                    <ul>
                                        <li onclick="ibt.PVselDate(this,'sel_month');" data-item="1">Jan</li>
                                        <li onclick="ibt.PVselDate(this,'sel_month');" data-item="2">Feb</li>
                                        <li onclick="ibt.PVselDate(this,'sel_month');" data-item="3">Mar</li>
                                        <li onclick="ibt.PVselDate(this,'sel_month');" data-item="4">Apr</li>
                                        <li onclick="ibt.PVselDate(this,'sel_month');" data-item="5">May</li>
                                        <li onclick="ibt.PVselDate(this,'sel_month');" data-item="6">Jun</li>
                                        <li onclick="ibt.PVselDate(this,'sel_month');" data-item="7">Jul</li>
                                        <li onclick="ibt.PVselDate(this,'sel_month');" data-item="8">Aug</li>
                                        <li onclick="ibt.PVselDate(this,'sel_month');" data-item="9">Sept</li>
                                        <li onclick="ibt.PVselDate(this,'sel_month');" data-item="10">Oct</li>
                                        <li onclick="ibt.PVselDate(this,'sel_month');" data-item="11">Nov</li>
                                        <li onclick="ibt.PVselDate(this,'sel_month');" data-item="12">Dec</li>
                                    </ul>
                                </span>
                            </span>/
                            <span class="select w70 mR5 mL5 alignM">
                                <span class="title arrow" id="sel_year" data-item="2012">2012</span>
                                <span class="list">
                                    <ul>
                                        @for (int i = DateTime.Now.AddYears(-5).Year; i < DateTime.Now.AddYears(5).Year; i++)
                                        {
                                            <li onclick="ibt.PVselDate(this,'sel_year');" data-item="@i.ToString()">@i.ToString()</li>
                                        }
                                    </ul>
                                </span>
                            </span>
                        </span>
                    </span>
                </li>*@
                <li class="formLi" style="@displayImage">
                    <label class="title">Upload your experience(s)<span class="Cc5c5c5">(Optional)</span></label>: 
                    <span id="upload_span" class="rightCol" style="display:none;">
                        <div class="mT5 fixbox" id="pv_fileList">
                            <div class="fileBox">
                                <a href="javascript:void(0);"><img src="/images/blue_add_w85.gif" /></a>
                                <input id="file_upload" name="file_upload" type="file" multiple="false">
                            </div>
                            <div id="file_progress" style="display: none;">
                                <div class="bar" style="width: 0%;height:3px;background:green;"></div>
                            </div>
                            <div id="queue"></div>
                        </div>
                    </span>
                    <span id="upload_span_flash" class="rightCol" style="display:none;">
                        <div class="mT5 fixbox" id="pv_fileList_flash">
                            <div id="queue_flash"></div>
                            <input id="file_upload_flash" name="file_upload" type="file" multiple="false">
                        </div>
                    </span>
                </li>
                <li class="formLi">
                    <label class="title">Sharing</label>: 
                    <span class="rightCol alignT" id="pv_SnsList">
                        @*                               <span id="share_on_facebook" class="checkboxTxt @fShare">
                                    <span class="bg"><span class="alignM"></span><span class="txt"><img src="/images/logo/facebook.gif" /> Share on Facebook</span></span>
                                </span>
                               <span id="share_on_linkedin" class="checkboxTxt @lShare">
                                    <span class="bg"><span class="alignM"></span><span class="txt"> <img src="/images/logo/linkedin.gif" />Share on Linkedin</span></span>
                                </span>
                                <span id="share_on_twitter" class="checkboxTxt @tShare">
                                    <span  class="bg"><span class="alignM"></span><span class="txt"><img src="/images/logo/twitter.gif" />Share on Twitter</span></span>
                                </span>
                                <span id="share_on_imeet" class="checkboxTxt @iShare">
                                    <span  class="bg"><span class="alignM"></span><span class="txt"><img src="/images/logo/imeet_small.gif" />Share on I-Meet</span></span>
                                </span>*@
                        <ul class="connect">
                            <li class="mR5">
                                <div class="switch right"><span class="switchMain"><span id="share_on_facebook" data-name="@IMeet.IBT.Services.Identifier.SnsType.Facebook.ToString()" data-status="@fShare" class="draggable off"></span></span></div>
                                <img src="/images/logo/facebook_h26.gif" alt="" />
                            </li>
                            <li>
                                <div class="switch right"><span class="switchMain"><span id="share_on_linkedin" data-name="@IMeet.IBT.Services.Identifier.SnsType.LinkedIn.ToString()" data-status="@lShare" class="draggable off"></span></span></div>
                                <img src="/images/logo/linkedin_h26.gif" alt="" />
                            </li>
                            <li class="mR5">
                                <div class="switch right"><span class="switchMain"><span id="share_on_twitter" data-name="@IMeet.IBT.Services.Identifier.SnsType.Twitter.ToString()" data-status="@tShare" class="draggable off"></span></span></div>
                                <img src="/images/logo/twitter_h26.gif" alt="" />
                            </li>
                            <li>
                                <div class="switch right"><span class="switchMain"><span id="share_on_imeet" data-name="@IMeet.IBT.Services.Identifier.SnsType.IMeet.ToString()" data-status="@iShare" class="draggable off"></span></span></div>
                                <img src="/images/logo/imeet_h26.gif" alt="" />
                            </li>
                        </ul>
                    </span>
                </li>
                <li style="@displaySupply" class="formLi">
                    <label class="title">
                        Count Additional Visit To<br />
                        <span class="Cc5c5c5 block">(posted to your profile)</span></label>: 
                <span class="rightCol alignT">
                    <ul class="choose">
                        <li style="@displayCity"><span id="ibtTypeChooseCity" class="checkboxBig mR5" data-readonly="@classOnlyRead"></span>This City  </li>
                        <li class="@classmL5"><span id="ibtTypeChooseCountry" class="checkboxBig mR5 " data-readonly="@classOnlyRead"></span>This Country</li>
                    </ul>
                </span>
                </li>
                @*                @{if (sls.SupplyId > 0)
                  {
                    <li class="formLi">
                        <label class="title">Count Additional Visit To<br />
                            <span class="Cc5c5c5 block">(posted to your profile)</span></label>: 
                  	<span class="rightCol alignT">
                          <ul class="choose">
                              <li><span id="ibtTypeChooseCity" class="checkboxBig mR5"></span>This City  </li>
                              <li class="mL5"><span id="ibtTypeChooseCountry" class="checkboxBig mR5 "></span>This Country</li>
                          </ul>
                      </span>
                    </li>
                  }
                }*@
                <li class="">
                    <div class="btn">
                        <a class="btnBlueH45 mR5" href="javascript:void(0);" onclick="ibt.PostVisitSave(this);"><span class="bg">PUblish</span></a>
                        <a class="btnGrayH45" href="javascript:void(0);" onclick="Boxy.get(this).hideAndUnload();"><span class="bg">Cancel</span></a>
                    </div>
                </li>
            </ul>

        </div>

    </div>
</div>
<script src="/js/jQuery-File-Upload-8.1.0/js/jquery.fileupload.js"></script>
