﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    int IsShowMyProfile = ViewBag.IsShowMyProfile;
    int userId = ViewBag.UserId;
    MapsItem firstMaps = ViewBag.FirstMaps;
}

@Html.Partial("Widget/_Header")
<script type="text/javascript">
    $("#a_profile").attr("class", "active");
</script>
@*@Html.Partial("Widget/_Search")*@
@Html.Partial("Widget/_SearchBar2")
@Html.Partial("Widget/_ProfileBar")
<div id="map_canvas" class="mapBox"></div>
<div class="totleBox2 totleGray">
    <ul class="fixbox">
        <li id="liCountries" class="firstLi">
            <div class="box"><a href="/Supplier/Countries/@userId"><span class="numBox">@Widget.IbtStatistics(1, userId)</span> Countries</a></div>
        </li>
        <li id="liCities" class="">
            <div class="box"><a href="/Supplier/Cities/@userId"><span class="numBox">@Widget.IbtStatistics(2, userId)</span> Cities</a></div>
        </li>
        <li id="liHotels" class="">
            <div class="box"><a href="/MyTravel/@userId/3"><span class="numBox">@Widget.IbtStatistics(3, userId)</span> Hotels</a></div>
        </li>
        <li id="liLifestyle" class="">
            <div class="box"><a href="/MyTravel/@userId/4"><span class="numBox">@Widget.IbtStatistics(4, userId)</span> Lifestyle</a></div>
        </li>
        <li id="liAttr">
            <div class="box Nbg"><a href="/MyTravel/@userId/5"><span class="numBox">@Widget.IbtStatistics(5, userId)</span> Attractions</a></div>
        </li>
    </ul>
</div>
<input type="hidden" id="feed_UserId" value="@ViewBag.UserId" />
<input type="hidden" id="IsShowMyProfile" value="@IsShowMyProfile" />
<div class="supplierBox">
    <div class="info info2">
        <div class=" fixBox">
            @if (ViewBag.ShowMenu)
            {
                <span class="select w140 right mT10 mR20" style="z-index: 0;">
                    <span class="title arrow">Sort By</span>
                    <span class="list" style="display: none;">
                        <ul>
                            <li data-type="2" onclick="jfeed.changeActiveity(2);" class="selected">All Activities</li>
                            <li data-type="0" onclick="jfeed.changeActiveity(0);">Friends' Activities</li>
                            <li data-type="1" onclick="jfeed.changeActiveity(1);">My Activity</li>
                        </ul>
                    </span>
                </span>
            }
@*  <h2 class="blugBigBg left"><span class="bg" id="listTypeTitle">
                @if (IsShowMyProfile == 1)
                {
                    <text>My Activity</text>
                }
                else if (IsShowMyProfile == 0)
                {
                    <text>Friends' Activties</text>
                }
                else
                {
                    <text>All Activities</text>
                }
            </span></h2>*@
        </div>
        <div class="commentList">
            <ul class="fixbox" id="feedList"></ul>
            <a id="clickloadmore_feed" href="javascript:void(0);" class="btnLoadMore" onclick="jfeed.GetFeedListOnClick();">+ Load More</a>

        </div>
    </div>
</div>
@section PageSide{
    @Html.Partial("Widget/_TravelBadge")
    @Html.Partial("Widget/_Advertisement")
    @Html.Partial("Widget/_Promotions")
    @Html.Partial("Widget/_IBT")
}

@section PageFoot{
    <script src="/js/jFeeds.js"></script>
    <script src="/js/jquery-ui-1.9.0.custom.min.js"></script>
    <script src="/js/jquery.smooth-scroll.min.js"></script>
    <script src="/js/lightbox.js"></script>
    <link href="/css/lightbox.css" rel="stylesheet" />
    <script src="/js/jQueryRotate.2.2.js"></script>
    @*<script src="/js/prettyComments.js"></script>*@
    <script src="/js/jquery.autogrow-textarea.js"></script>
    <script src="/js/jFeedComments.js"></script>
    <script src="/js/jFeedHistory.js"></script>
    <script src="/js/photoAlbum.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="/js/geolocationmarker-compiled.js"></script>
    <script src="/js/infobox.js"></script>
    <script src="/js/profileMaps.js?v=1"></script>
    <script type="text/javascript">
        @*
        function initialize() {
            var myLatlng = new google.maps.LatLng(-33.890542, 151.274856);
            var mapOptions = {
                zoom: 10,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            var map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
            setMarkers(map, beaches);

            var userZoom = true;
            google.maps.event.addListener(map, 'zoom_changed', function () {
                if (userZoom) {
                    userZoom = false;

                    var myLatLng = new google.maps.LatLng("-33.980198", "151.299302");
                    var image = new google.maps.MarkerImage('/images/icon/restaurant2.png');
                    var marker = new google.maps.Marker({
                        position: myLatLng,
                        map: map,
                        icon: image,
                        title: "add new 2",
                        customInfo: 'test 002'
                    });
                    alert(map.getZoom());
                    google.maps.event.addListener(marker, "click", function (e) {
                        $(".infoBox:visible").empty();
                        map.setCenter(marker.getPosition());
                        var boxText = document.createElement("div");
                        boxText.style.cssText = "border: 1px solid gray; height:180px; margin-top: 8px; background: yellow; padding: 5px;";
                        boxText.innerHTML = "supply id:" + this.customInfo + "," + map.getZoom() + " <br />City Hall, Sechelt<br>British Columbia<br>Canada";
                        myOptions["content"] = boxText;
                        var ib = new InfoBox(myOptions);
                        ib.open(map, this);
                    });
                    setTimeout(function () {
                        userZoom = true;
                    }, 5000);
                }
            });
        }

        var beaches = [
        ['Bondi Beach', -33.890542, 151.274856, 4],
        ['Coogee Beach', -33.923036, 151.259052, 5],
        ['Cronulla Beach', -34.028249, 151.157507, 3],
        ['Manly Beach', -33.80010128657071, 151.28747820854187, 2],
        ['Maroubra Beach', -33.950198, 151.259302, 1]
        ];


        var myOptions = {
            content: ""
            , disableAutoPan: false
            , maxWidth: 0
            , pixelOffset: new google.maps.Size(-140, 0)
            , zIndex: null
            , boxStyle: {
                background: "url('/images/tipbox.gif') no-repeat"
               , opacity: 0.75
              , width: "280px"
            }
            , closeBoxMargin: "10px 2px 2px 2px"
            , closeBoxURL: "/images/close.gif"
            , infoBoxClearance: new google.maps.Size(20, 20)
            , isHidden: false
            , pane: "floatPane"
            , enableEventPropagation: false
        };

        function setMarkers(map, locations) {
            var image = new google.maps.MarkerImage('/images/icon/restaurant2.png');
            for (var i = 0; i < locations.length; i++) {
                var beach = locations[i];
                var myLatLng = new google.maps.LatLng(beach[1], beach[2]);
                var marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    icon: image,
                    title: beach[0],
                    zIndex: beach[3],
                    customInfo: 'test ' + beach[3]
                });

                google.maps.event.addListener(marker, "click", function (e) {
                    $(".infoBox:visible").empty();
                    var boxText = document.createElement("div");
                    boxText.style.cssText = "border: 1px solid gray; height:180px; margin-top: 8px; background: gray; padding: 5px;";
                    boxText.innerHTML = "supply id:" + this.customInfo + "," + map.getZoom() + " <br />City Hall, Sechelt<br>British Columbia<br>Canada";
                    myOptions["content"] = boxText;
                    var ib = new InfoBox(myOptions);
                    ib.open(map, this);
                });
            } //end:for
        }

        *@

        $(document).ready(function () {
            $("#tabNewFeeds").addClass("unfold");
            //document.getElementById("ibtStatistics").style.display = "none ";
            jfeed.initData(1);
            //jfeed.init();
            //feedSlider();
            profileMaps.UserId = $("#feed_UserId").val();

            @if (firstMaps != null && firstMaps.Id > 0)
            {
                <text>
            var lat = @Html.Raw(firstMaps.lat + ";")
            var lng = @Html.Raw(firstMaps.lng + ";")
            var json_data = { typ: 1, userId: profileMaps.UserId, lat:lat, lng:lng };
            $.ajax({
                url: "/map/GetProfileMapsList", data: json_data, success: function (json) {
                    profileMaps.source = json;
                    profileMaps.init(json);
                }, dataType: "json", async: false
            });
            </text>
            }
            else
            {
                <text>
            var map, GeoMarker;
    
            function initialize() {
                var mapOptions = {
                    zoom: 2,
                    minZoom: 2,
                    maxZoom: 19,
                    center: new google.maps.LatLng(-34.397, 150.644),
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                map = new google.maps.Map(document.getElementById('map_canvas'),
                    mapOptions);
    
                GeoMarker = new GeolocationMarker();
                GeoMarker.setCircleOptions({fillColor: '#808080'});

                google.maps.event.addListenerOnce(GeoMarker, 'position_changed', function() {
                    map.setCenter(this.getPosition());
                    map.fitBounds(this.getBounds());
                });

                google.maps.event.addListener(GeoMarker, 'geolocation_error', function(e) {
                    alert('There was an error obtaining your position. Message: ' + e.message);
                });

                GeoMarker.setMap(map);
            }

            google.maps.event.addDomListener(window, 'load', initialize);
            </text>
            }        
            
        });


    </script>
}
@section PageNanigation{
    @Html.Partial("Widget/Nav/_ProfileBar")
}
