﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("Widget/_Header")

@Html.Partial("Widget/_Search")

<div class="fixbox myListBox mT10 searchBox">
                   		<div class="listNav">
                        	<ul>
                            	<li><a class="btnBlueH34 " href="searchresult_country.html"><span class="bg"><span class="alignM"></span><span class="txt">Country ( 1 )</span></span></a>
                                		<div style="display:none" class="list">
                                        	<ul class="right">
                                            	<li><span class="checkboxSmall"></span> Africa</li>
                                            	<li><span class="checkboxSmall"></span> The Americas</li>
                                            	<li><span class="checkboxSmall"></span> Asia</li>
                                            	<li><span class="checkboxSmall"></span> Europe</li>
                                            	<li><span class="checkboxSmall"></span> Australia/Oceania</li>
                                            </ul>
                                        </div>
                                </li>
                           		<li><a class="btnBlueH34 btnActive" href="#"><span class="bg"><span class="alignM"></span><span class="txt">Cities ( 50 )</span></span></a>
                                        <div class="list">
                                            <ul class="right">
                                                <li><span class="checkboxSmall uncheckbox"></span> North</li>
                                                <li><span class="checkboxSmall uncheckbox"></span> South</li>
                                                <li><span class="checkboxSmall uncheckbox"></span> East</li>
                                                <li><span class="checkboxSmall uncheckbox"></span> West</li>
                                            </ul>
                                        </div>
                                </li>
                           		<li><a class="btnBlueH34 " href="searchresult_venue.html"><span class="bg"><span class="alignM"></span><span class="txt">Venues (1500)</span></span></a>
                                		<div style="display:none" class="list">
                                        	<ul class="right">
                                            	<li><span class="checkboxSmall"></span> Cafe</li>
                                            	<li><span class="checkboxSmall"></span> Garden</li>
                                            	<li><span class="checkboxSmall"></span> Hotel</li>
                                            	<li><span class="checkboxSmall"></span> Pharmacy</li>
                                            	<li><span class="checkboxSmall"></span> Restaurant</li>
                                            	<li><span class="checkboxSmall"></span> School</li>
                                            	<li><span class="checkboxSmall"></span> Wine Bar</li>
                                            </ul>
                                        </div>
                                </li>
                            </ul>
                        		
                        		
                        </div>
                   		<div class="listMain">
                        	<div class="fixbox">
                            	<h3>Search Results
                                	<span class="txt">About 50 Cities in United Kingdom</span>
                                </h3>
                            </div>
                            <div class="letterBar mB15">
                                <div class="bg">
                                    <div class="main">
                                        <a href="#">A</a>
                                        <a href="#">B</a>
                                        <a href="#">C</a>
                                        <a href="#">D</a>
                                        <a href="#">E</a>
                                        <a href="#">F</a>
                                        <a href="#">G</a>
                                        <a href="#">H</a>
                                        <a href="#">I</a>
                                        <a href="#">J</a>
                                        <a href="#">K</a>
                                        <a class="active" href="#">L</a>
                                        <a href="#">M</a>
                                        <a href="#">N</a>
                                        <a href="#">O</a>
                                        <a href="#">P</a>
                                        <a href="#">Q</a>
                                        <a href="#">R</a>
                                        <a href="#">S</a>
                                        <a href="#">T</a>
                                        <a href="#">U</a>
                                        <a href="#">V</a>
                                        <a href="#">W</a>
                                        <a href="#">X</a>
                                        <a href="#">Y</a>
                                        <a href="#">Z</a>
                                    </div>
                                </div>
                            </div>
                            <div class="feedList">
                            	<ul class="listUl">
                                	<li>
                                        <span class="operating">
                                            <span class="rating"><span class="f10  mR5"> RATING</span>
                                                    <span class="starW15 full"></span> 
                                                    <span class="starW15 full"></span> 
                                                    <span class="starW15 full"></span> 
                                                    <span class="starW15 full"></span>
                                                    <span class="starW15"></span> 
                                            </span>
                                            <a href="#" class="btnBlueH45" onclick="showPop()"><span class="bg">I've been there</span></a>
                                        </span>	
                                        <a class="img" href="#"><img alt="" src="/images/photos/imgW50_01.gif"></a>
                                        <dl class="info">
                                            <dt><a href="#" class="f15">Helmsley Park Lane Hotel</a> <span class="f11  ">New York, United States</span>
                                                    <span class="friendsInfo italic f10 C7a7a7a"><a href="#">9 Friends</a> has Been There</span>
                                            </dt>
                                             <dd>
                                                <div class="choose">
                                                    <span class="checkboxMTxt uncheckbox ">
                                                        <span class="bg"><span class="alignM"></span><span class="txt">Recommended</span></span>
                                                    </span>
                                                    <span class="checkboxMTxt uncheckbox">
                                                        <span class="bg"><span class="alignM"></span><span class="txt">Want to Go/Go Back</span></span>
                                                    </span>
                                                    <span class="checkboxMTxt">
                                                        <span class="bg"><span class="alignM"></span><span class="txt">Bucket List</span></span>
                                                    </span>
                                                </div>
                                             </dd>
                                        </dl>
                                    </li>
                                    <li>
                                        <span class="operating">
                                            <span class="rating"><span class="f10  mR5"> RATING</span>
                                                    <span class="starW15 full"></span> 
                                                    <span class="starW15 full"></span> 
                                                    <span class="starW15 full"></span> 
                                                    <span class="starW15 full"></span>
                                                    <span class="starW15"></span> 
                                            </span>
                                            <a href="#" class="btnBlueH45" onclick="showPop()"><span class="bg">I've been there</span></a>
                                        </span>	
                                        <a class="img" href="#"><img alt="" src="/images/photos/imgW50_01.gif"></a>
                                        <dl class="info">
                                            <dt><a href="#" class="f15">Helmsley Park Lane Hotel</a> <span class="f11  ">New York, United States</span>
                                                    <span class="friendsInfo italic f10 C7a7a7a"><a href="#">9 Friends</a> has Been There</span>
                                            </dt>
                                             <dd>
                                                <div class="choose">
                                                    <span class="checkboxMTxt uncheckbox ">
                                                        <span class="bg"><span class="alignM"></span><span class="txt">Recommended</span></span>
                                                    </span>
                                                    <span class="checkboxMTxt uncheckbox">
                                                        <span class="bg"><span class="alignM"></span><span class="txt">Want to Go/Go Back</span></span>
                                                    </span>
                                                    <span class="checkboxMTxt">
                                                        <span class="bg"><span class="alignM"></span><span class="txt">Bucket List</span></span>
                                                    </span>
                                                </div>
                                             </dd>
                                        </dl>
                                    </li>
                                    <li>
                                        <span class="operating">
                                            <span class="rating"><span class="f10  mR5"> RATING</span>
                                                    <span class="starW15 full"></span> 
                                                    <span class="starW15 full"></span> 
                                                    <span class="starW15 full"></span> 
                                                    <span class="starW15 full"></span>
                                                    <span class="starW15"></span> 
                                            </span>
                                            <a href="#" class="btnBlueH45" onclick="showPop()"><span class="bg">I've been there</span></a>
                                        </span>	
                                        <a class="img" href="#"><img alt="" src="/images/photos/imgW50_01.gif"></a>
                                        <dl class="info">
                                            <dt><a href="#" class="f15">Helmsley Park Lane Hotel</a> <span class="f11  ">New York, United States</span>
                                                    <span class="friendsInfo italic f10 C7a7a7a"><a href="#">9 Friends</a> has Been There</span>
                                            </dt>
                                             <dd>
                                                <div class="choose">
                                                    <span class="checkboxMTxt uncheckbox ">
                                                        <span class="bg"><span class="alignM"></span><span class="txt">Recommended</span></span>
                                                    </span>
                                                    <span class="checkboxMTxt uncheckbox">
                                                        <span class="bg"><span class="alignM"></span><span class="txt">Want to Go/Go Back</span></span>
                                                    </span>
                                                    <span class="checkboxMTxt">
                                                        <span class="bg"><span class="alignM"></span><span class="txt">Bucket List</span></span>
                                                    </span>
                                                </div>
                                             </dd>
                                        </dl>
                                    </li>
                                    <li>
                                        <span class="operating">
                                            <span class="rating"><span class="f10  mR5"> RATING</span>
                                                    <span class="starW15 full"></span> 
                                                    <span class="starW15 full"></span> 
                                                    <span class="starW15 full"></span> 
                                                    <span class="starW15 full"></span>
                                                    <span class="starW15"></span> 
                                            </span>
                                            <a href="#" class="btnBlueH45" onclick="showPop()"><span class="bg">I've been there</span></a>
                                        </span>	
                                        <a class="img" href="#"><img alt="" src="/images/photos/imgW50_01.gif"></a>
                                        <dl class="info">
                                            <dt><a href="#" class="f15">Helmsley Park Lane Hotel</a> <span class="f11  ">New York, United States</span>
                                                    <span class="friendsInfo italic f10 C7a7a7a"><a href="#">9 Friends</a> has Been There</span>
                                            </dt>
                                             <dd>
                                                <div class="choose">
                                                    <span class="checkboxMTxt uncheckbox ">
                                                        <span class="bg"><span class="alignM"></span><span class="txt">Recommended</span></span>
                                                    </span>
                                                    <span class="checkboxMTxt uncheckbox">
                                                        <span class="bg"><span class="alignM"></span><span class="txt">Want to Go/Go Back</span></span>
                                                    </span>
                                                    <span class="checkboxMTxt">
                                                        <span class="bg"><span class="alignM"></span><span class="txt">Bucket List</span></span>
                                                    </span>
                                                </div>
                                             </dd>
                                        </dl>
                                    </li>
                                    <li>
                                        <span class="operating">
                                            <span class="rating"><span class="f10  mR5"> RATING</span>
                                                    <span class="starW15 full"></span> 
                                                    <span class="starW15 full"></span> 
                                                    <span class="starW15 full"></span> 
                                                    <span class="starW15 full"></span>
                                                    <span class="starW15"></span> 
                                            </span>
                                            <a href="#" class="btnBlueH45" onclick="showPop()"><span class="bg">I've been there</span></a>
                                        </span>	
                                        <a class="img" href="#"><img alt="" src="/images/photos/imgW50_01.gif"></a>
                                        <dl class="info">
                                            <dt><a href="#" class="f15">Helmsley Park Lane Hotel</a> <span class="f11  ">New York, United States</span>
                                                    <span class="friendsInfo italic f10 C7a7a7a"><a href="#">9 Friends</a> has Been There</span>
                                            </dt>
                                             <dd>
                                                <div class="choose">
                                                    <span class="checkboxMTxt uncheckbox ">
                                                        <span class="bg"><span class="alignM"></span><span class="txt">Recommended</span></span>
                                                    </span>
                                                    <span class="checkboxMTxt uncheckbox">
                                                        <span class="bg"><span class="alignM"></span><span class="txt">Want to Go/Go Back</span></span>
                                                    </span>
                                                    <span class="checkboxMTxt">
                                                        <span class="bg"><span class="alignM"></span><span class="txt">Bucket List</span></span>
                                                    </span>
                                                </div>
                                             </dd>
                                        </dl>
                                    </li>
                                    <li>
                                        <span class="operating">
                                            <span class="rating"><span class="f10  mR5"> RATING</span>
                                                    <span class="starW15 full"></span> 
                                                    <span class="starW15 full"></span> 
                                                    <span class="starW15 full"></span> 
                                                    <span class="starW15 full"></span>
                                                    <span class="starW15"></span> 
                                            </span>
                                            <a href="#" class="btnBlueH45" onclick="showPop()"><span class="bg">I've been there</span></a>
                                        </span>	
                                        <a class="img" href="#"><img alt="" src="/images/photos/imgW50_01.gif"></a>
                                        <dl class="info">
                                            <dt><a href="#" class="f15">Helmsley Park Lane Hotel</a> <span class="f11  ">New York, United States</span>
                                                    <span class="friendsInfo italic f10 C7a7a7a"><a href="#">9 Friends</a> has Been There</span>
                                            </dt>
                                             <dd>
                                                <div class="choose">
                                                    <span class="checkboxMTxt uncheckbox ">
                                                        <span class="bg"><span class="alignM"></span><span class="txt">Recommended</span></span>
                                                    </span>
                                                    <span class="checkboxMTxt uncheckbox">
                                                        <span class="bg"><span class="alignM"></span><span class="txt">Want to Go/Go Back</span></span>
                                                    </span>
                                                    <span class="checkboxMTxt">
                                                        <span class="bg"><span class="alignM"></span><span class="txt">Bucket List</span></span>
                                                    </span>
                                                </div>
                                             </dd>
                                        </dl>
                                    </li>
                                    <li>
                                        <span class="operating">
                                            <span class="rating"><span class="f10  mR5"> RATING</span>
                                                    <span class="starW15 full"></span> 
                                                    <span class="starW15 full"></span> 
                                                    <span class="starW15 full"></span> 
                                                    <span class="starW15 full"></span>
                                                    <span class="starW15"></span> 
                                            </span>
                                            <a href="#" class="btnBlueH45" onclick="showPop()"><span class="bg">I've been there</span></a>
                                        </span>	
                                        <a class="img" href="#"><img alt="" src="/images/photos/imgW50_01.gif"></a>
                                        <dl class="info">
                                            <dt><a href="#" class="f15">Helmsley Park Lane Hotel</a> <span class="f11  ">New York, United States</span>
                                                    <span class="friendsInfo italic f10 C7a7a7a"><a href="#">9 Friends</a> has Been There</span>
                                            </dt>
                                             <dd>
                                                <div class="choose">
                                                    <span class="checkboxMTxt uncheckbox ">
                                                        <span class="bg"><span class="alignM"></span><span class="txt">Recommended</span></span>
                                                    </span>
                                                    <span class="checkboxMTxt uncheckbox">
                                                        <span class="bg"><span class="alignM"></span><span class="txt">Want to Go/Go Back</span></span>
                                                    </span>
                                                    <span class="checkboxMTxt">
                                                        <span class="bg"><span class="alignM"></span><span class="txt">Bucket List</span></span>
                                                    </span>
                                                </div>
                                             </dd>
                                        </dl>
                                    </li>
                                    <li>
                                        <span class="operating">
                                            <span class="rating"><span class="f10  mR5"> RATING</span>
                                                    <span class="starW15 full"></span> 
                                                    <span class="starW15 full"></span> 
                                                    <span class="starW15 full"></span> 
                                                    <span class="starW15 full"></span>
                                                    <span class="starW15"></span> 
                                            </span>
                                            <a href="#" class="btnBlueH45" onclick="showPop()"><span class="bg">I've been there</span></a>
                                        </span>	
                                        <a class="img" href="#"><img alt="" src="/images/photos/imgW50_01.gif"></a>
                                        <dl class="info">
                                            <dt><a href="#" class="f15">Helmsley Park Lane Hotel</a> <span class="f11  ">New York, United States</span>
                                                    <span class="friendsInfo italic f10 C7a7a7a">Elson and <a href="#">9 Friends</a> has Been There</span>
                                            </dt>
                                             <dd>
                                                <div class="choose">
                                                    <span class="checkboxMTxt uncheckbox ">
                                                        <span class="bg"><span class="alignM"></span><span class="txt">Recommended</span></span>
                                                    </span>
                                                    <span class="checkboxMTxt uncheckbox">
                                                        <span class="bg"><span class="alignM"></span><span class="txt">Want to Go/Go Back</span></span>
                                                    </span>
                                                    <span class="checkboxMTxt">
                                                        <span class="bg"><span class="alignM"></span><span class="txt">Bucket List</span></span>
                                                    </span>
                                                </div>
                                             </dd>
                                        </dl>
                                    </li>
                                </ul>
                            </div>
                    	</div>
                    </div>

@section PageSide{
    @Html.Partial("Widget/_Advertisement")
    @Html.Partial("Widget/_Video")
    @Html.Partial("Widget/_IBT")
}

