﻿@{
    Layout = null;
    IMeet.IBT.Services.SupplierService supplyService = new IMeet.IBT.Services.SupplierService();
    IMeet.IBT.Services.ProfileService profileService = new IMeet.IBT.Services.ProfileService();
    PostVisitItem sls = ViewBag.PostVisitInfo as PostVisitItem;
    int ibtType =Convert.ToInt32(ViewBag.IbtType);
    int UserId = profileService.GetUserId();
    Profile profile = ViewBag.Profile as Profile;
    IMeet.IBT.Services.SNSConnectService snsConnectService = new IMeet.IBT.Services.SNSConnectService();
    string fShare = "disable";
    string lShare = "disable";
    string tShare = "disable";
    var linkedinShare = snsConnectService.GetSNSConnect(UserId, IMeet.IBT.Services.Identifier.SnsType.LinkedIn);
    if (linkedinShare != null && linkedinShare.UserId > 0)
    {
        lShare = "";
    }
    var facebookShare = snsConnectService.GetSNSConnect(UserId, IMeet.IBT.Services.Identifier.SnsType.Facebook);
    if (facebookShare != null && facebookShare.UserId > 0)
    {
        fShare = "";
    }
    var twitterShare = snsConnectService.GetSNSConnect(UserId, IMeet.IBT.Services.Identifier.SnsType.Twitter);
    if (twitterShare != null && twitterShare.UserId > 0)
    {
        tShare = "";
    }
}
<script src="/js/jShare.js"></script>
<div id="postVisit">
	<div class="W600 popupMain">
    	<div class="postBox grayBox">
        	<ul >
            	<li class="noLineT infoLi">
                			<a class="img" href="@sls.TitleUrl"><img alt="" src="@sls.ShowImgSrc" /></a>
                        <dl>
                            <dt><a href="#">@profile.Firstname</a> has posted a visit to <a href="#sls.TitleUrl">@sls.Title</a>
                            </dt>
                            <dd><span class="f10 mR5 inlineBox alignM">RATING</span> 
                                 <span class="IBTRating" data-rating="@sls.Rating" data-ibtType="@ibtType" data-objId="@sls.ObjId"></span> 
                             </dd>
                            <dd class="location f11">@sls.CityName , @sls.CountryName  @*Blk E4, Engineering Drive 3#02-12, Singapore*@</dd>
             @*                <dd class="mT10">
                                        RWB
                             </dd>*@
                        </dl>
                </li>
                <li class="formLi">
                    <label class="title">Sharing</label>: 
                    <span class="rightCol" id="pv_SnsList">
                        <span class="checkboxTxt @fShare">
                                    <span class="bg"><span class="alignM"></span><span class="txt"><img src="/images/logo/facebook.gif" /> Share on Facebook</span></span>
                                </span>
                               <span class="checkboxTxt @lShare">
                                    <span class="bg"><span class="alignM"></span><span class="txt"> <img src="/images/logo/linkedin.gif" />Share on Linkedin</span></span>
                                </span>
                                <span  class="checkboxTxt @tShare">
                                    <span  class="bg"><span class="alignM"></span><span class="txt"><img src="/images/logo/twitter.gif" />Share on Twitter</span></span>
                                </span>
                                <span class="checkboxTxt disable">
                                    <span  class="bg"><span class="alignM"></span><span class="txt"><img src="/images/logo/imeet_small.gif" />Share on I-Meet</span></span>
                                </span>
                    </span>
                </li>
                <li class="">
                    <div class="btn">
                        <a class="btnBlueH45 mR5" href="javascript:void(0);" onclick="Share.Sharing(this);"><span class="bg">PUblish</span></a>
                        <a class="btnGrayH45" href="javascript:void(0);" onclick="Boxy.get(this).hideAndUnload();"><span class="bg">Cancel</span></a>
                    </div>
                </li>
            </ul>
            <input type="hidden" id="share_title"  value="@sls.Title" />
            <input type="hidden" id="share_desp" value="@supplyService.GetSupplyDetail(sls.SupplyId).Desp" />
            <input type="hidden" id="share_comment" value="share_comment" />
            <input type="hidden" id="share_pic" value="@sls.ShowImgSrc" />
            <input type="hidden" id="share_url" value="@sls.TitleUrl" />
        </div>
    		
    </div>
</div>
