﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("Widget/_Header")
<script type="text/javascript">
    function selectFilter(obj) {
        var filterField = $(obj).attr("data-filter");
        $("#filterField").val(filterField);
    }
</script>
<input type="hidden" id="filterField" value="Name" />
<input type="hidden" id="filterSort" value="" />
<input type="hidden" id="userId" value="" />
<div class="grayBg">
    <div class="grayBox">
        <h2 class="blugBigBg"><span class="bg">Special Offer Listing</span></h2>
        <div class="fixbox mT15">
            <span class="smallSearch right mR15">
                <input type="text" id="filterKeyword" value="">
                <span class="select" style="z-index: 0;">
                    <span class="arrow">Filter by Name</span>
                    <div style="display: none;" class="list">
                        <ul id="filterList">
                            <li data-filter="Name" onclick="selectFilter(this);">Filter by Name</li>
                            <li data-filter="Country" onclick="selectFilter(this);">Filter by Country</li>
                            <li data-filter="City" onclick="selectFilter(this);">Filter by City</li>
                        </ul>
                    </div>
                </span>
                <a href="javascript:void(0);" onclick="specialsList.goTab();" class="searchBtn">
                    <img src="/images/icon/search.gif" alt="Search"></a>
            </span>

            <span class="select w80 select1">
                <span class="arrow">Sort</span>
                <div class="list">
                    <ul>
                        <li data-type="0" onclick="specialsList.SortByItem(0);">Date</li>
                        <li data-type="1" onclick="specialsList.SortByItem(1);">Alphabet</li>
                    </ul>
                </div>
            </span>
        </div>

        <div class="offersList adsList ">
            <ul id="specialsList">
            </ul>
            <a id="clickloadmore_spec" href="javascript:void(0);" class="btnLoadMore" onclick="specialsList.GetSpecListOnClick();">+ Load More</a>
        </div>
    </div>
</div>
@section PageSide{
    @Html.Partial("Widget/_Advertisement")
    @Html.Partial("Widget/_Promotions")
    @Html.Partial("Widget/_IBT")
}
@section PageFoot{
    <script src="/js/jSpecialsList.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            specialsList.initData();
            //specialsList.init();
        });
    </script>
}