﻿<div class="topBar">
    <div class="wrap">
        <div class="fixbox">
            @Html.Partial("Widget/Nav/_Profile")
            <div class="searchBar2">
                <div class="main">
                    <div class="btnBox right">
                        <a class="btn btnSearch btnActive left" href="javascript:void(0);" onclick="searchBar2.goLink();"><span>Search</span></a>
                        <a class="btn left" href="/search/listing?s=countries">Browse by Country</a>
                    </div>
                    <span class="select w120 left" style="z-index: 0;">
                        <span class="arrow">Search By</span>
                        <span class="list" style="display: none;">
                            <ul>
                                <li onclick="searchBar2.searchByN('hotels');">Hotels</li>
                                <li onclick="searchBar2.searchByN('countries');">Countries</li>
                                <li onclick="searchBar2.searchByN('cities');">Cities</li>
                                <li onclick="searchBar2.searchByN('other');">Other Venues</li>
                                <li onclick="searchBar2.searchByN('all');">All Suppliers</li>
                                <li onclick="searchBar2.searchByN('member');">People</li>
                            </ul>
                        </span>
                    </span>
                    <div class="key ">
                        <input id="nav_search_keywork" type="text" onblur="if(this.value==''){ this.value='Key in Keyword'}" onfocus="if(this.value=='Key in Keyword'){ this.value=''}" value="Key in Keyword" class="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $(window).scroll(function () {
            if ($(this).scrollTop() > 115) {
                $(".topBar").show();
                if ($(this).scrollTop() > 160) {
                    $(".topBar").find(".searchBox ").show();
                    if (!searchBar2.isNav) {
                        $('#nav_search_keywork').val($('#searchBar2_keyWord').val());
                        searchBar2.isNav = true;
                    }
                } else {
                    $(".topBar").find(".searchBox ").hide();
                }
            } else {
                $(".topBar").hide();
                if (searchBar2.isNav) {
                    $('#searchBar2_keyWord').val($('#nav_search_keywork').val());
                    searchBar2.isNav = false;
                }
            }
        });
    })
</script>
