﻿@{
    //ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";

    User user = ViewBag.User as User;
    CountriesDe countryDes = null;
    City city = null;
    int ibtType = (int)ViewBag.IbtType;
    int ibtObjId = 0;
    if (ibtType == (int)IMeet.IBT.Services.Identifier.IBTType.Country)
    {
        ibtObjId = (ViewBag.IbtObject as Country).CountryId;
        countryDes = ViewBag.CountryDes as CountriesDe;
    }
    if (ibtType == (int)IMeet.IBT.Services.Identifier.IBTType.City)
    {
        ibtObjId = (ViewBag.IbtObject as City).CityId;
        city = ViewBag.IbtObject;
        if(city.CityDescription==null)
        {
            countryDes = ViewBag.CountryDes;
        }
    }
}
@Html.Partial("Widget/_Header")
@*@Html.Partial("Widget/_Search")*@
@Html.Partial("Widget/_SearchBar2")
@Html.Hidden("ibcommon_ibtType", ibtType)
@Html.Hidden("ibtcommon_ibtObjId", ibtObjId)
<div  class="supplierBox">
    <div class="feature feedList">
        @Html.Partial("IBT/_Information")      
	</div>
    <div class="info info2">
            <div class="navList">
                    <div class=" bg">
                        <a href="/@(Enum.Parse(typeof(IMeet.IBT.Services.Identifier.IBTType), ibtType.ToString()).ToString())/About/@ibtType/@ibtObjId" class=" fold unfold"><span class="line">About</span></a>
                        <a href="/@(Enum.Parse(typeof(IMeet.IBT.Services.Identifier.IBTType), ibtType.ToString()).ToString())/NewsFeed/@ibtType/@ibtObjId"  class="fold"><span class="line">Newsfeed</span></a>
                        <a href="/@(Enum.Parse(typeof(IMeet.IBT.Services.Identifier.IBTType), ibtType.ToString()).ToString())/PhotoAlbum/@ibtType/@ibtObjId"  class="fold"><span class="line">Photo Album</span></a>
                        <a href="/@(Enum.Parse(typeof(IMeet.IBT.Services.Identifier.IBTType), ibtType.ToString()).ToString())/Specials/@ibtType/@ibtObjId"  class="fold">Specials</a>
                    </div>
            </div>
            @Html.Partial("IBT/_ShareTeavel")
            <div class="main commnet ">
                @if (countryDes != null)
                {
                    <ul class="mainList fixbox">
                        <li>
                            @if(ibtType==(int)IMeet.IBT.Services.Identifier.IBTType.City){
                                <h2>@city.CityName</h2>
                            }else{
                                <h2>@countryDes.CountryName</h2>
                            }
                            <p>@countryDes.CountryTxt</p>
                        </li>
                        <li>
                            <h2>Information You Can Use</h2>
                            <div class="alignR C31AEE3 right">
                                Powered by: <a href="http://worldtravelguide.net/" target="_blank" class="underline">World Travel Guide</a><br />
                                <a href="http://worldtravelguide.net/" target="_blank"><img src="/images/logo/world_travel_guide.gif" alt="World Travel Guide" class="mT10" /></a>
                            </div>
                            <div class="mB10 left mT20">
                            @*<a href="@countryDes.TTD" class="btnColorG IERound" target="_blank">Things to do</a>*@
                            <a href="@countryDes.TTD" class="btnColorB IERound" target="_blank">Things to do</a>
                            <a href="@countryDes.SN" class="btnColorB IERound" target="_blank">Shopping/Night Life</a>
                            <a href="@countryDes.FAD" class="btnColorB IERound" target="_blank">Food and Drink</a>
                            <a href="@countryDes.Events" class="btnColorB IERound" target="_blank">Events</a>
                            <a href="@countryDes.ImageUrl" class="btnColorB IERound" target="_blank">Photos</a>
                            </div>
                        </li>
                    </ul>
                }
                else if (ibtType == (int)IMeet.IBT.Services.Identifier.IBTType.City && city.CityDescription != null)
                { 
                    <ul class="mainList fixbox">
                        <li>
                            <h2>@city.CityName</h2>
                            <p>@city.CityDescription.Txt</p>
                        </li>
                        <li>
                            <h2>Information You Can Use</h2>
                            <div class="alignR C31AEE3 right">
                                Powered by: <a href="http://worldtravelguide.net/" target="_blank" class="underline">World Travel Guide</a><br />
                                <a href="http://worldtravelguide.net/" target="_blank"><img src="/images/logo/world_travel_guide.gif" alt="World Travel Guide" class="mT10" /></a>
                            </div>
                            <div class="mB10 left mT20">
                            <a href="@city.CityDescription.TTDUrl" class="btnColorB IERound" target="_blank">Things to do</a>
                            <a href="@city.CityDescription.ShoppingUrl" class="btnColorB IERound" target="_blank">Shopping</a>
                            <a href="@city.CityDescription.RestaurantsUrl" class="btnColorB IERound" target="_blank">Restaurants</a>
                            <a href="@city.CityDescription.HotelsUrl" class="btnColorB IERound" target="_blank">Hotels</a>
                            <a href="@city.CityDescription.EventsUrl" class="btnColorB IERound" target="_blank">Events</a>
                            @*<a href="@city.CityDescription.PhotoUrl" class="btnColorB IERound" target="_blank">Photos</a>*@
                            </div>
                        </li>
                    </ul>
                }
            </div>
    </div>
                
</div>
@section PageSide{
    @Html.Partial("Widget/_WBT")
    @Html.Partial("Widget/_Promotions")
    @Html.Partial("Widget/_IBT")
}
@section PageFoot{
    <script src="/js/jibt_common.js"></script>
    <script type="text/jscript">
        $(document).ready(function () {
            ibt_common.initData();
        });
    </script>
}
