﻿@{    
    //ViewBag.Title = "NewsFeed";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    User user = ViewBag.User as User;
    int ibtType = (int)ViewBag.IbtType;
    int ibtObjId = 0;
    if(ibtType==(int)IMeet.IBT.Services.Identifier.IBTType.Country)
    {
        ibtObjId = (ViewBag.IbtObject as Country).CountryId;
    }
    if(ibtType==(int)IMeet.IBT.Services.Identifier.IBTType.City)
    {
        ibtObjId = (ViewBag.IbtObject as City).CityId;
    }
}
@Html.Partial("Widget/_Header")
@*@Html.Partial("Widget/_Search")*@
@Html.Partial("Widget/_SearchBar2")
@Html.Hidden("ibcommon_ibtType", ibtType)
@Html.Hidden("ibtcommon_ibtObjId",ibtObjId)
@Html.Hidden("ibtcommon_searchTime",ViewBag.SearchTime as string)
<div  class="supplierBox">
    <div class="feature feedList">
        @Html.Partial("IBT/_Information")      
	</div>
    <div class="info info2">
            <div class="navList">
                    <div class=" bg">
                        <a href="/@(Enum.Parse(typeof(IMeet.IBT.Services.Identifier.IBTType),ibtType.ToString()).ToString())/About/@ibtType/@ibtObjId" class=" fold "><span class="line">About</span></a>
                        <a href="/@(Enum.Parse(typeof(IMeet.IBT.Services.Identifier.IBTType),ibtType.ToString()).ToString())/NewsFeed/@ibtType/@ibtObjId"  class="fold unfold"><span class="line">Newsfeed</span></a>
                        <a href="/@(Enum.Parse(typeof(IMeet.IBT.Services.Identifier.IBTType),ibtType.ToString()).ToString())/PhotoAlbum/@ibtType/@ibtObjId"  class="fold"><span class="line">Photo Album</span></a>
                        <a href="/@(Enum.Parse(typeof(IMeet.IBT.Services.Identifier.IBTType),ibtType.ToString()).ToString())/Specials/@ibtType/@ibtObjId"  class="fold">Specials</a>
                    </div>
            </div>
            @Html.Partial("IBT/_ShareTeavel")
            <div class="commentList">
                    <ul id="ibtcommon_fixlist" class="fixbox">
                        @Html.Partial("IBT/_FeedList")              
                    </ul>
                    <div id="ibtcommon_loadMore" style="width: 100%; border: 1px solid rgb(229, 229, 229); text-align: center; height: 24px; padding-top: 10px; display: block;">
                        <a onclick="ibt_common.getFeedList();" href="javascript:void(0);">Click to load more!</a>
                    </div>
                    <div class="mT20 alignC loading"><img src="/images/icon/loading.gif" /></div>
            </div>
    </div>
                
</div>
@section PageSide{
    @Html.Partial("Widget/_WBT")
    @Html.Partial("Widget/_Promotions")
    @Html.Partial("Widget/_IBT")
}
@section PageFoot{
    <script src="/js/jibt_common.js"></script>
    <script src="/js/jFeedHistory.js"></script>
    <script src="/js/jFeedComments.js"></script>
    <script src="/js/lightbox.js"></script>
    <link href="/css/lightbox.css" rel="stylesheet" />
    <script src="/js/photoAlbum.js"></script>
    <script src="/js/jQueryRotate.2.2.js"></script>
    <script type="text/jscript">
            $(document).ready(function () {
                ibt_common.initData();
                ibt_common.feedlistRating();
            });
    </script>
}