﻿@{
    //ViewBag.Title = "PhotoAlbum";
    Layout = "~/Views/Shared/_Layout.cshtml";

    User user = ViewBag.User as User;
    int ibtType = (int)ViewBag.IbtType;
    int ibtObjId = 0;
    if (ibtType == (int)IMeet.IBT.Services.Identifier.IBTType.Country)
    {
        ibtObjId = (ViewBag.IbtObject as Country).CountryId;
    }
    if (ibtType == (int)IMeet.IBT.Services.Identifier.IBTType.City)
    {
        ibtObjId = (ViewBag.IbtObject as City).CityId;
    }
}

@Html.Partial("Widget/_Header")
@*@Html.Partial("Widget/_Search")*@
@Html.Partial("Widget/_SearchBar2")
@Html.Hidden("ibcommon_ibtType", ibtType)
@Html.Hidden("ibtcommon_ibtObjId",ibtObjId)
@Html.Hidden("ibtcommon_searchTime",ViewBag.SearchTime as string)
@*Album*@
@Html.Hidden("att_objid",ibtObjId)
@Html.Hidden("obj_type",ibtType)
@Html.Hidden("att_type", (int)IMeet.IBT.Services.Identifier.AttachmentType.NewsFeed)  @*AttType:newfeed*@

<div  class="supplierBox">
    <div class="feature feedList">
        @Html.Partial("IBT/_Information")      
	</div>
    <div class="info info2">
            <div class="navList">
                    <div class=" bg">
                        <a href="/@(Enum.Parse(typeof(IMeet.IBT.Services.Identifier.IBTType),ibtType.ToString()).ToString())/About/@ibtType/@ibtObjId" class=" fold "><span class="line">About</span></a>
                        <a href="/@(Enum.Parse(typeof(IMeet.IBT.Services.Identifier.IBTType),ibtType.ToString()).ToString())/NewsFeed/@ibtType/@ibtObjId"  class="fold"><span class="line">Newsfeed</span></a>
                        <a href="/@(Enum.Parse(typeof(IMeet.IBT.Services.Identifier.IBTType),ibtType.ToString()).ToString())/PhotoAlbum/@ibtType/@ibtObjId"  class="fold unfold"><span class="line">Photo Album</span></a>
                        <a href="/@(Enum.Parse(typeof(IMeet.IBT.Services.Identifier.IBTType),ibtType.ToString()).ToString())/Specials/@ibtType/@ibtObjId"  class="fold">Specials</a>
                    </div>
            </div>
            @Html.Partial("IBT/_ShareTeavel")
            <div class="main">
                <ul class="photosList fixbox" id="photolist"></ul>
                <div class="alignC  mT20 mB20 btnMore IERound">
                    <a id="clickloadmore_photo" href="javascript:void(0);" onclick="PhotoManage.GetPhotoListOnClick()">+ Load More</a>
                </div>
            </div>
    </div>
                
</div>
@section PageSide{
    @Html.Partial("Widget/_WBT")
    @Html.Partial("Widget/_Promotions")
    @Html.Partial("Widget/_IBT")
}
@section PageFoot{
    <script src="/js/jibt_common.js"></script>
    <script src="/js/photoAlbum.js"></script>
    <script src="/js/jfeedComments.js"></script>
    <script src="/js/jQueryRotate.2.2.js"></script>
    <script type="text/javascript">
        $(function () {
            PhotoManage.init();
            ibt_common.initData();
        })

    </script>
}
