﻿@{
    //ViewBag.Title = "Specials";
    Layout = "~/Views/Shared/_Layout.cshtml";

    User user = ViewBag.User as User;
    int ibtType = (int)ViewBag.IbtType;
    int ibtObjId = 0;
    if (ibtType == (int)IMeet.IBT.Services.Identifier.IBTType.Country)
    {
        ibtObjId = (ViewBag.IbtObject as Country).CountryId;
    }
    if (ibtType == (int)IMeet.IBT.Services.Identifier.IBTType.City)
    {
        ibtObjId = (ViewBag.IbtObject as City).CityId;
    }
}
@Html.Partial("Widget/_Header")
@*@Html.Partial("Widget/_Search")*@
@Html.Partial("Widget/_SearchBar2")
@Html.Hidden("ibcommon_ibtType", ibtType)
@Html.Hidden("ibtcommon_ibtObjId",ibtObjId)
<div  class="supplierBox">
    <div class="feature feedList">
        @Html.Partial("IBT/_Information")      
	</div>
    <div class="info info2">
            <div class="navList">
                    <div class=" bg">
                        <a href="/@(Enum.Parse(typeof(IMeet.IBT.Services.Identifier.IBTType),ibtType.ToString()).ToString())/About/@ibtType/@ibtObjId" class=" fold "><span class="line">About</span></a>
                        <a href="/@(Enum.Parse(typeof(IMeet.IBT.Services.Identifier.IBTType),ibtType.ToString()).ToString())/NewsFeed/@ibtType/@ibtObjId"  class="fold"><span class="line">Newsfeed</span></a>
                        <a href="/@(Enum.Parse(typeof(IMeet.IBT.Services.Identifier.IBTType),ibtType.ToString()).ToString())/PhotoAlbum/@ibtType/@ibtObjId"  class="fold"><span class="line">Photo Album</span></a>
                        <a href="/@(Enum.Parse(typeof(IMeet.IBT.Services.Identifier.IBTType),ibtType.ToString()).ToString())/Specials/@ibtType/@ibtObjId"  class="fold unfold">Specials</a>
                    </div>
            </div>
            @Html.Partial("IBT/_ShareTeavel")
            <div class="infoList offersList ">
                    <ul  id="offerList">
                    </ul>
            </div>
    </div>
</div>
@section PageSide{
    @Html.Partial("Widget/_WBT")
    @Html.Partial("Widget/_Promotions")
    @Html.Partial("Widget/_IBT")
}
@section PageFoot{
    <script src="/js/jibt_common.js"></script>
    <script src="/js/lightbox.js"></script>
    <link href="/css/lightbox.css" rel="stylesheet" />
    <script type="text/javascript">
            $(document).ready(function () {
                specialsOfCountry.initData();
                specialsOfCountry.init();
                ibt_common.initData();
            });
    </script>
}
