﻿@{  
    int userId = 0;
    if (ViewData["userId"] != null && IMeet.IBT.Common.Utils.IsNumeric(Convert.ToString(ViewData["userId"])))
    {
        userId = Convert.ToInt32(ViewData["userId"]);
    }
    IMeet.IBT.Services.ProfileService profileService = new IMeet.IBT.Services.ProfileService();
    userId = userId == 0 ? profileService.GetUserId() : userId;

    int mid = profileService.GetUserId(); //当前登录用户ID

    Profile profile = profileService.GetUserProfile(userId);

    var profileLastSeenAt = Widget.ProfileLastSeenAt(userId);
    int StatusId = profileService.GetUserConnection(mid, userId).StatusId;
    int count = profileService.GetRequestCount(userId);
}

@if (User.Identity.IsAuthenticated)
{
    <script src="/js/connection.js"></script>
    <script type="text/javascript">
        $(document).ready(function ()
        { editPorfile(); });
    </script>
    <div class="profileBar">
        <div class="fixbox">
            <div class="userNav">
                <span class="userPic">
                    @* <img src="/Staticfile/Avatar/@(Convert.ToInt32(User.Identity.Name)/1000)/@User.Identity.Name/@DateTime.Now.ToString("yyyyMM")/@(profile.GetUserAvatar(userId,(int)IMeet.IBT.Services.Identifier.AccountSettingAvatarSize._mn))" alt="UserName" />*@
                    <img src="@PageHelper.GetUserAvatar(userId, (int)IMeet.IBT.Services.Identifier.AccountSettingAvatarSize._mn)" alt="UserName" />
                    @*                    <div class="img">
                        <a href="#" class="imgBg">
                            <img style="position: relative;" src="/images/logo/facebook_h26.gif" alt="Facebook" /></a>
                    </div>*@
                    @if (mid == userId)
                    {
                        <div class="btn"><a href="/Account/AccountSetting" class="editGray">Edit Profile</a></div>
                    }
                </span>
                <div class="navList">
                    <a href="/Profile/@userId" class="link">Profile </a>
                    <a href="/Connection/Connection/@userId" class="link">Connections </a>
                    @if (mid == userId)
                    {
                        <a href="/Connection/message/@userId" class="link">Message</a>
                    }
                    <a href="/MyTravel/@userId" class="link">My Travels</a>
                    @if (mid == userId)
                    {
                        <a href="/MyList" class="link NBorderB">My Lists</a>
                    }
                    @{
                    if (mid != userId && StatusId == 0 && count != 0)
                    {
                        <a href="javascript:void(0);" class="inlineBox mT5">
                            <img src="/images/button/btn_pending.gif" alt="Pending" /></a>
                       
                    }
                    else if (mid != userId && StatusId == 1)
                    {

                    }
                    else if ((mid != userId && count == 0) || (mid != userId && count != 0 && StatusId != 1))
                    {
                        <a href="javascript:void(0);" onclick="Connection.request(@userId);" class="inlineBox mT5">
                            <img src="/images/button/btn_add_friend.gif" alt="Add As Friend" /></a>
                    }
                    else
                    {

                    }
                    }

                </div>
            </div>
            <dl class="info">
                <dt><a href="/Profile/@userId" class="userName">@profile.Firstname @profile.Lastname</a>
                    @*                  <a href="#">
                        <img src="/images/logo/facebook.gif" alt="Facebook" /></a>
                    <a href="#">
                        <img src="/images/logo/twitter.gif" alt="Twitter" /></a>
                    <a href="#">
                        <img src="/images/logo/linkedin.gif" alt="Linkedin" /></a>*@
                    <span class="country"><a href="javascript:void(0);">@profileService.GetUserCity(userId, Convert.ToInt32(profile.CityId)) , @profileService.GetUserCountry(userId, Convert.ToInt32(profile.CountryId))</a></span>
                </dt>
                @if (profileLastSeenAt.Success)
                {
                    <dd class="location C7a7a7a f10">
                        @Html.Raw("Last posted visit: " + profileLastSeenAt.Message)
                    </dd>
                }
                <dd class="arrowBox">
                    <div class="bg">
                        @profile.StatusUpdate
                        @* Life can only be understood backwards; but it must be lived forwards - Soren Kierkegaard Life*@
                    </div>
                </dd>
            </dl>
        </div>
    </div>
    <div class="totleBox2">
        <ul class="fixbox">
            <li id="liCountries" class=""><div class="box"><a href="/Supplier/Countries/@userId"><span class="numBox"><span class="bg">@Widget.IbtStatistics(1, userId)</span></span> Countries</a></div></li>
            <li id="liCities" class=""><div class="box"><a href="/Supplier/Cities/@userId"><span class="numBox"><span class="bg">@Widget.IbtStatistics(2, userId)</span></span> Cities</a></div></li>
            <li id="liHotels" class=""><div class="box"><a href="/MyTravel/@userId/3"><span class="numBox"><span class="bg">@Widget.IbtStatistics(3, userId)</span></span> Hotels</a></div></li>
            <li id="liLifestyle" class=""><div class="box"><a href="/MyTravel/@userId/4"><span class="numBox"><span class="bg">@Widget.IbtStatistics(4, userId)</span></span> Lifestyle</a></div></li>
            <li id="liAttr"><div class="box"><a href="/MyTravel/@userId/5"><span class="numBox"><span class="bg">@Widget.IbtStatistics(5, userId)</span></span> Attractions</a></div></li>
        </ul>
    </div>
}