﻿@{  
    int userId = 0;
    if (ViewData["userId"] != null && IMeet.IBT.Common.Utils.IsNumeric(Convert.ToString(ViewData["userId"])))
    {
        userId = Convert.ToInt32(ViewData["userId"]);
    }
    IMeet.IBT.Services.ProfileService profileService = new IMeet.IBT.Services.ProfileService();
    userId = userId == 0 ? profileService.GetUserId() : userId;

    int mid = profileService.GetUserId(); //当前登录用户ID

    Profile profile = profileService.GetUserProfile(userId);
    IMeet.IBT.DAL.Models.UserTravelBadge utb = ViewBag.UserTravelBadge;
    var profileLastSeenAt = Widget.ProfileLastSeenAt(userId);
    int StatusId = profileService.GetUserConnection(mid, userId).StatusId;
    int count = profileService.GetRequestCount(userId);
}

@if (User.Identity.IsAuthenticated)
{
    <script src="/js/connection.js"></script>
    <script type="text/javascript">
        $(document).ready(function () { //editPorfile(); 
        });
    </script>  
    <div class="profileBar">
        <div class="fixbox">
            <div class="userNav">
                <span class="userPic alignC">
                    <img src="@PageHelper.GetUserAvatar(userId, (int)IMeet.IBT.Services.Identifier.AccountSettingAvatarSize._mn)" alt="UserName" />
                    @if (mid == userId)
                    {
                        <div class="btn"><a href="/Account/AccountSetting" class="editGray">Edit Profile</a></div>
                    }
@* <div class="img"><a href="#" class="imgBg">
                        <img style="position: relative;" src="images/logo/facebook_h26.gif" alt="Facebook" /></a></div>*@
                </span>
            </div>
            <dl class="info">
                <dt><a href="/Profile/@userId" class="userName mR15">@profile.Firstname @profile.Lastname</a>
                    @* <a href="#">
                        <img src="/images/logo/facebook.gif" alt="Facebook" /></a>
                    <a href="#">
                        <img src="/images/logo/twitter.gif" alt="Twitter" /></a>
                    <a href="#">
                        <img src="/images/logo/linkedin.gif" alt="Linkedin" /></a>*@
                    <span class="subInfo">@Html.Raw(profileService.GetUserCity(userId, Convert.ToInt32(profile.CityId))) , @Html.Raw(profileService.GetUserCountry(userId, Convert.ToInt32(profile.CountryId)))
                        @if (profileLastSeenAt.Success)
                        {
                            <span class="location C7a7a7a f10 mL10">
                                @Html.Raw("Last posted visit: " + profileLastSeenAt.Message)
                            </span>
                        }
                    </span>
                </dt>
                @if (mid == userId)
                {
                    <dd class="arrowBox">
                        <div class="bg">
                            @profile.StatusUpdate
                        </div>
                    </dd>
                    <dd class="logoBox">
                        <a href="/account/pointsummary"><img alt="" src="@(utb != null ? utb.TravelBadgeProfileLogo : "")" /></a>
                    </dd>
                }
                else
                {
                    <dd>
                        @if (StatusId == 0 && count != 0)
                        { 
                            <a href="javascript:void(0);" class="inlineBox mT5">
                                <img src="/images/button/btn_pending.gif" alt="Pending" /></a>
                        }
                        else if (StatusId == 1)
                        { 
                            <span class="btnBg IEPng">
                                <a href="javascript:void(0);">
                                    <img alt="Email" src="/images/icon/img.gif" class="readEmailSmall"></a>
                                <a class="last" href="javascript:void(0);">
                                    <img class="mr5" alt="" src="/images/icon/friend.gif">
                                    Friends</a>
                            </span>
                        }
                        else if (count == 0 || count != 0 && StatusId != 1)
                        {
                            <a href="javascript:void(0);" onclick="Connection.request(@userId);" class="inlineBox mT5">
                                <img src="/images/button/btn_add_friend.gif" alt="Add As Friend" /></a>
                        }
                    </dd>
                    <dd class="logoBox">
                        <img alt="" src="@(utb != null ? utb.TravelBadgeProfileLogo : "")" />
                    </dd>
                }
            </dl>
        </div>
    </div>
    <div class="supplierBox">
        <div class="info info2">
            <div class="navList">
                <div class=" bg">
                    <a id="tabNewFeeds" class="fold" href="/Profile/@userId"><span class="line">Newsfeed</span></a>
                    <a id="tabConnections" class="fold" href="/Connection/Connection/@userId"><span class="line">Connections</span></a>
                    <a id="tabPhotos" class="fold" href="/Account/ProPhotos/@userId"><span class="line">Photos</span></a>
                    <a id="tabMyTravel" class="fold" href="/MyTravel/@userId/3"><span class="line">My Travels</span></a>
                    @if (mid == userId)
                    {
                        <a id="tabMyList" class="fold" href="/MyList"><span class="line">My Lists</span></a>
                    }
                    <a class="fold lastLi" id="tabServices" href="/Services/@userId/43">Services</a>
                </div>
            </div>
            @*<div class="totleBox2 totleGray mT10" id="ibtCounter">
                <ul class="fixbox" id="ibtStatistics">
                    <li id="liCountries" class="firstLi">
                        <div class="box"><a href="/Supplier/Countries/@userId"><span class="numBox">@Widget.IbtStatistics(1, userId)</span> Countries</a></div>
                    </li>
                    <li id="liCities" class="">
                        <div class="box"><a href="/Supplier/Cities/@userId"><span class="numBox">@Widget.IbtStatistics(2, userId)</span> Cities</a></div>
                    </li>
                    <li id="liHotels" class="">
                        <div class="box"><a href="/MyTravel/@userId/3"><span class="numBox">@Widget.IbtStatistics(3, userId)</span> Hotels</a></div>
                    </li>
                    <li id="liLifestyle" class="">
                        <div class="box"><a href="/MyTravel/@userId/4"><span class="numBox">@Widget.IbtStatistics(4, userId)</span> Lifestyle</a></div>
                    </li>
                    <li id="liAttr">
                        <div class="box Nbg"><a href="/MyTravel/@userId/5"><span class="numBox">@Widget.IbtStatistics(5, userId)</span> Attractions</a></div>
                    </li>
                </ul>
            </div>*@
        </div>
    </div>
}