﻿@{
    IMeet.IBT.Services.SupplierService supplyService = new IMeet.IBT.Services.SupplierService();
    int showType = 0;
    string localUrl = HttpContext.Current.Request.Url.ToString();
    var list = Widget.GetWidgetSpecialOffersIBT(localUrl, out showType);
    string url = "";
    string supplyName = "";
    string specUrl = "";
 }
<script type="text/javascript">
    $(document).ready(function () {
        //统计出现的次数
        //var json_data = { objId: $('#hidMediaId').val() };
        //$.post("/Widget/InitWidgetAriseCount", json_data, function (json) {
        //    if (json.Success) {
        //    }
        //}, "json");
    });
    //统计点击数、浏览数
    function GetCountOfHBrowse(objId, ibtType, supplyId, countryId, cityId) {
        if (UserId == 0) {
            ibt.loadUrlPop('/account/login', 'Get', '', function () { $('#pop_login').bValidator({ singleError: true }); $('.boxyInner').addClass('popup'); inputText(); }, 'Login With');
            return;
        }
        $('#hidMediaId').val(objId);
        $('#hidsupplyId').val(supplyId);
        $('#hidcountryId').val(countryId);
        $('#hidcityId').val(cityId);
        $('#hidUrl').val(window.location.href);
        var json_data = { objId: $('#hidMediaId').val(), localUrl: $('#hidUrl').val() };
        $.post("/Widget/StatisticsWidgetHit", json_data, function (json) {
            if (json.Success) {
                //window.open('/Supplier/SpecialAds/' + $('#hidsupplyId').val());
                //var form = $("<form>").attr("method", "post").attr("action", '/Supplier/s/' + $('#hidsupplyId').val());
                var url = "";
                if (ibtType == "1") {
                    url = '/Country/Specials/1/' + $('#hidcountryId').val();
                }
                else if (ibtType == "2") {
                    url = '/City/Specials/2/' + $('#hidcityId').val();
                }
                else {
                    url = '/Supplier/v/' + $('#hidsupplyId').val() + '?p=specials';
                }
                //$.setCookie('tabnum', "specials");
                var form = $("<form>").attr("method", "post").attr("action", url);
                $(form).appendTo(document.body).submit();
                $(form).remove();
            }
        }, "json");
    }
    //function golink() {
    //    $("a[name='SpecialLink']").each(function () {
    //        this.href = "/Supplier/s/" + $('#hidsupplyId').val();
    //    });
    //}
</script>
<input type="hidden" id="hidMediaId" name="hidMediaId" value="" />
<input type="hidden" id="hidsupplyId" name="hidsupplyId" value="" />
<input type="hidden" id="hidcountryId" name="hidcountryId" value="" />
<input type="hidden" id="hidcityId" name="hidcityId" value="" />
<input type="hidden" id="hidUrl" name="hidUrl" value="" />
<div class="box">
    <h2 class="blugBg"><a href="/SpecialsListing" class="right allLink">See All</a><span class="bg">Specials</span></h2>
    @foreach (var item in list)
    {
        supplyName = supplyService.GetSupplyDetail(item.SupplyId).Title;
        url = "/Supplier/v/" + item.SupplyId.ToString() + "-" + IMeet.IBT.Common.UrlSeoUtils.BuildValidUrl(supplyName);
        specUrl = "/Supplier/s/" + item.SupplyId.ToString() + "-" + IMeet.IBT.Common.UrlSeoUtils.BuildValidUrl(supplyName);
        <div class="outline mT15 mR10">
            @if (item.MediaType == 2)
            {
                <a href="javascript:void(0);"  onclick="GetCountOfHBrowse(@item.MediaId,@item.IBTType,@item.SupplyId,@item.CountryId,@item.CityId);">
                    <img src="@Html.Raw(string.IsNullOrEmpty(item.FileSrc) ? "" : item.FileSrc + "_vd.jpg")" alt="@item.Title" /></a>
            }
            else
            {
                @Html.Raw("<a href=\"javascript:void(0);\" onclick=\"GetCountOfHBrowse(" + item.MediaId + "," + item.IBTType + "," + item.SupplyId + "," + item.CountryId + "," + item.CityId + ");\">" + item.Code + "</a>")
            }
            <div class="pointer" onclick="GetCountOfHBrowse(@item.MediaId,@item.IBTType,@item.SupplyId,@item.CountryId,@item.CityId);">
                <h3>@item.Title</h3>
                @{
            if (item.Desp.ToString().Contains("<") || item.Desp.ToString().Contains(">"))
            {
                    <p>@Html.Raw(item.Desp.ToString())</p>
            }
            else
            {     
                    @Html.Raw(string.IsNullOrEmpty(item.Desp.ToString()) ? "" : "<p>" + IMeet.IBT.Common.StringHelper.Truncate(item.Desp, 150, "...") + "</p>")
            }
                }
            </div>
        </div>
       
    }
</div>
