﻿@{
    Layout = "~/Views/Shared/_Static.cshtml";
}

<div class="grayBgLight">
    <div class="contant ">
        <p>
            We want to ensure that you have a  way to leave feedback or ask questions. Our staff will be back to you within two business days.
            <br />
            You can also find answers on our FAQs and other Social Media sites. See you there.
        </p>

        <div class="box">
            <div class="contact ">
                <div class="fixbox">
                    <div class="colMain" style="border-right:none;">
                        <h3>Contact Us</h3>
                        <div>
                            <p>I‘ve Been There</p>
                            <p>1735 Market Street, Suite A501</p>
                            <p>Philadelphia, Pennsylvania 19103 USA</p>

                            <p>Phone: 1.215.667.8950</p>
                            <p>Fax: 1.215.827.5191 </p>
                        </div>
                        <form style="display: none;">
                            <ul>
                                <li>
                                    <label class="title">First Name:</label>
                                    <span class="inlineBox relative">
                                        <input type="text" class="inputBg" value="">
                                    </span>
                                </li>
                                <li>
                                    <label class="title">Last Name:</label>
                                    <span class="inlineBox relative">
                                        <input type="text" class="inputBg inputError" value="">
                                    </span>
                                </li>
                                <li>
                                    <label class="title">Email:</label>
                                    <span class="inlineBox relative">
                                        <input type="text" class="inputBg" value="">
                                        <span class="error">Email Address invaild</span>
                                    </span>
                                </li>
                                <li>
                                    <label class="title">Subject:</label>
                                    <span class="inlineBox relative">
                                        <input type="text" class="inputBg" value="">
                                    </span>
                                </li>
                                <li>
                                    <label class="title">Message:</label>
                                    <span class="inlineBox relative alignT">
                                        <textarea></textarea>
                                    </span>
                                </li>
                                <li>
                                    <label class="title">&nbsp;</label><a class="btnBlueH45" href="#"><span class="bg">Send now</span></a></li>
                            </ul>
                        </form>
                    </div>
                    <div class="colMain followUs" style="display:none;">
                        <h3>Follow Us</h3>
                        <ul class="list">
                            <li><a href="#">
                                <img src="/images/button/btn_faq.gif" /></a></li>
                            <li><a href="#">
                                <img src="/images/button/btn_facebook.gif" /></a></li>
                            <li><a href="#">
                                <img src="/images/button/btn_twitter.gif" /></a></li>
                            <li><a href="#">
                                <img src="/images/button/btn_linkedin.gif" /></a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
