﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    IMeet.IBT.Services.ConnectionService connection = new IMeet.IBT.Services.ConnectionService();
    IMeet.IBT.Services.ProfileService profileService = new IMeet.IBT.Services.ProfileService();
    int userId = profileService.GetUserId();
}
@Html.Partial("Widget/_Header")
<script src="/ckeditor/ckeditor.js"></script>
<script src="/ckfinder/ckfinder.js"></script>
<input type="hidden" id="hidMsgId" value="@Request.QueryString["msgId"].ToString()" />
<input type="hidden" id="hidFriendId" value="@Request.QueryString["friendId"].ToString()" />
 <div class="grayBg">
            	<div class="grayBox">
                	<h2 class="blugBigBg"><span class="bg">Message</span></h2>
                    <div  class="messageBox">
                        <div class="operating fixbox">
                            <a href="/Connection/Compose" class="iconAdd NborderL mL10 NborderR">Compose</a>
                        </div>
                        <div class="listMain">
                            <ul id="replyList">
                             @*   @{
                                    foreach (Messge msg in connection.GetMsgList(userId, Convert.ToInt32(Request.QueryString["friendId"].ToString())))
                                    {
                                    <li class="">
                                        <div class="main">
                                            <div class="fixbox">
                                                <span class="time right">5 July 2012  |  4.46 PM</span>
                                                <a href="/Profile/@msg.FormUserId" class="userPic">
                                                    <img src="@PageHelper.GetUserAvatar(userId,(int)IMeet.IBT.Services.Identifier.AccountSettingAvatarSize._at)" alt="@profileService.GetUserProfile(msg.FormUserId).Username" /></a>
                                                <dl>
                                                    <dt><a href="/Profile/@msg.FormUserId">@profileService.GetUserProfile(msg.FormUserId).Lastname</a></dt>
                                                    <dd>@msg.Content</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </li>
                                    }
                                }
                                <li class="">
                                    <div class="main">
                                    	<div class="fixbox">
                                        <span class="time right">22 July 2012  |  1.03 PM</span>
                                    	<a href="#" class="userPic"><img src="/images/avatar/w55_03.gif" alt="My Name" /></a>
                                        <dl>
                                        	<dt><a href="#">You</a></dt>
                                            <dd>hi Krystal! i saw that you liked the Din'ner page. are you going? i have a slot but i can't go anymore so im giving it away. let me know if you're interested :)</dd>
                                        	<dd>i doubt i would be about to make it for that day.</dd>
                                            <dd>gonna be busy with work. Geez....!</dd>
                                        </dl>
                                        </div>
                                    </div>
                                </li>
                                <li class="">
                                    <div class="main">
                                    	<div class="fixbox">
                                    	<a href="#" class="userPic"><img src="/images/avatar/w55_03.gif" alt="My Name" /></a>
                                       <form>
                                            <textarea id="txtMsgContent" name="txtMsgContent">Type your mesages here</textarea>
                                            <div class="alignR mT10">
                                            	<a href="#" class="btnBlueH33" onclick="messageList.SendReply();"><span class="bg">Reply</span></a>
                                            </div>
                                       </form>
                                        </div>
                                    </div>
                                </li>*@

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
<script src="/js/jMessage.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        messageList.initReplyData();
        $("#txtMsgContent").focus(function () {
            var val = "Type your mesages here";
            if ($(this).val() == val) {
                $(this).val("");
            }
        }).blur(function () {
            if ($(this).val() == "") {
                $(this).val("Type your mesages here");
            }
        });
    });
	//window.onload = function()
	//{
	//    //CKEDITOR.replace('editor1');
	//    var editor = CKEDITOR.replace('txtMsgContent');
	//    CKFinder.setupCKEditor(editor, '/ckfinder/');
	   
	//   // CKEDITOR.config.height = 400;
	//};
</script> 
@section PageSide{
    @Html.Partial("Widget/_Advertisement")
    @Html.Partial("Widget/_Promotions")
    @Html.Partial("Widget/_IBT")
}