﻿@charset "utf-8";
/* CSS Document */
body{margin:0;padding:0;}
div, ul, img{display:block;}div, img, a{text-decoration:none;border:none;outline:none;}
.left{float:left;}.right{float:right}.hide{display:none;}

#wrapper-email-manager{width:100%;height:auto;margin:0;padding:0;}

/*========================================
	Admin Page
========================================*/
/*page inn tab*/
#email-pg-tab-container{background-color:#ececec;width:100%;height:auto;margin:0;padding:0;border-top:1px solid #ffffff}
.email-pg-tab-container{width:100%;height:auto;margin:0;padding:0;display:inline-block;}
.email-pg-tab{background-color:#ffffff;width:auto;height:auto;margin:0;padding:0;display:inline-block;border-right:1px solid #c6d0da;float:left;font-family:Arial, Helvetica, sans-serif;overflow:hidden;}
.email-pg-tab-title{width:100%;height:100%;margin:0;padding:14px 51px 8px 51px;display:inline-block;text-decoration:none;border:none;outline:none;font-size:12px;text-align:center;color:#434344;}
/*.email-pg-tab-title:hover, .email-pg-tab-title:focus{background-color:#eeeeee;cursor:pointer;text-decoration:none;border:none;outline:none;}*//*closed for now, open only when more than 2 tabs*/
.email-pg-tab-title p:before{content:"";background:url(../images/admin_email_manager/btn_email_pg_tab.png);background-size:100% auto;background-position:0 0;width:17px;height:17px;margin:-2% 5% auto -65%;padding:0;display:inline-block;vertical-align:middle;}.email-pg-tab-title p{display:block;}.email-pg-tab-title p:after{margin:0;padding:0;}

/*create an email button*/
#email-create-new-mail{background-color;#ffffff;width:100%;height:auto;margin:0;padding:21px 0;text-align:right;}#email-create-new-mail a{display:inline-block;width:176px;height:45px;margin:0;margin-right:40px;padding:0;}#email-create-new-mail a.email-create-new-button{background:url(../images/admin_email_manager/btn_create_an_email.png) 0 0 no-repeat;}#email-create-new-mail a.email-create-new-button:hover, #email-create-new-mail a.email-create-new-button:focus{background-position:0 -45px;text-decoration:none;border:none;outline:none;cursor:pointer;}

/*email status*/
#email-status-container{background-color:#ffffff;width:100%;height:auto;margin:0;padding:0;}#email-status-container .email-status-container{width:100%;height:auto;margin:0;padding:0;list-style:none;}.email-status-container .email-status-rows{width:100%;height:auto;margin:0;padding:6px 0;border:none;border-top:1px solid #e5e5e5;font-family:Arial, Helvetica, sans-serif;font-size:10px;text-align:left;color:#7a7a7a;}.email-status-container .email-status-rows div p{display:inline-block;width:100%;vertical-align:top;}
.email-status-container .email-status-rows:first-child{padding:20px 0 5px 0;font-size:12px;color:#000000;}
.email-status-container .email-status-rows:last-child{border-bottom:1px solid #e5e5e5;}
/*email number*/.email-stat-number{width:48px;padding-right:10px;text-align:right;}
/*email campaign title*/.email-stat-campg-title{width:131px;padding-left:15px;}
/*email date of blast*/.email-stat-blast{width:145px;padding-left:34px;}
/*email recipients*/.email-stat-recipients{width:139px;padding-left:30px;}
/*email created by*/.email-stat-created-by{width:93px;padding-left:32px;}
/*email status*/.email-stat-status{width:130px;padding-left:30px;vertical-align:middle;}.email-stat-status div{vertical-align:middle;}
.email-stat-stauts-holder{background-color:#e7e7e7;width:19px;height:19px;margin:0;margin-top:4px;padding:2px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;}.email-stat-status-generate{width:100%;height:100%;margin:0;padding:0;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;}.email-genrt-sent{background-color:#55d00b;}.email-genrt-achive{background-color:#9e9e9e;}.email-genrt-notsent{background-color:#ff2323;}
.email-stat-status-content{width:auto;margin:0;margin-left:15px;padding:0;}.email-stat-status-content span{margin:10px 0;display:block;}

/*email edit buttons*/.email-stat-buttons{width:155px;padding-left:20px;}.email-stat-buttons-container{width:99px;height:16px;margin:3px 7px;padding:4px 3px;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;-o-border-radius:3px;display:block;}.actionsButton{width:33px;height:19px;margin-top:-1px;}
.actionsButton .actionsBtnEdit{width:36px;height:25px;margin:-3px 0 0 -3px;display:block;}.actionsButton a.actionsBtnEdit{background:url(../images/admin_email_manager/btn_actions_three.png) 0 0 no-repeat;}.actionsButton a:hover.actionsBtnEdit,.actionsButton a:focus.actionsBtnEdit{background-position:0 -25px;cursor:pointer;}
.actionsButton .actionsBtnPreview{width:33px;height:25px;margin-top:-3px;display:block;}.actionsButton a.actionsBtnPreview{background:url(../images/admin_email_manager/btn_actions_three.png) -35px 0 no-repeat;}.actionsButton a:hover.actionsBtnPreview, .actionsButton a:focus.actionsBtnPreview{background-position:-35px -25px;cursor:pointer;}
.actionsButton .actionsBtnMail{width:36px;height:25px;margin-top:-3px;display:block;}.actionsButton a.actionsBtnMail{background:url(../images/admin_email_manager/btn_actions_three.png) -68px 0 no-repeat;}.actionsButton a:hover.actionsBtnMail, .actionsButton a:focus.actionsBtnMail{background-position:-68px -25px;cursor:pointer;}

.email-stat-btn-delete{width:27px;height:19px;margin:0;margin-top:6px;}.email-stat-btn-delete .emailDeleteBtn{width:27px;height:19px;display:block;}.email-stat-btn-delete a.emailDeleteBtn{background:url(../images/admin_email_manager/btn_delete_admin.jpg) 0 0 no-repeat;}.email-stat-btn-delete a:hover.emailDeleteBtn, a:focus.emailDeleteBtn{background-position:0 -19px;cursor:pointer;}

/*Email Expand*/
#email-expand-container{background-color:#ffffff;width:100%;height:auto;margin:0;padding:46px 0 26px 0;font-family:Arial, Helvetica, sans-serif;text-align:center;}
.email-expand-more-button{padding:20px;font-size:25px;font-weight:bold;color:#1991b8;display:inline-block;transition:all 2s ease;-webkit-transition:all 2s ease;-moz-transition:all 2s ease;-ms-transition:all 2s ease;-o-transition:all 2s ease;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;}.email-expand-more-button:hover, .email-expand-more-button:focus{background-color:#ededed;cursor:pointer;}
.email-expand-stat{margin:5px 0;font-size:15px;color:#bcbcbc;display:block;}

/*========================================
	Create Email Page
========================================*/
/*compose email header*/
#cmp-email-header{background-color:#ffffff;width:100%;height:auto;margin:0;padding:54px 0 5px 0;font-family:Arial, Helvetica, sans-serif;text-align:left;}#cmp-email-header h1{font-size:24.5px;color:#16a1ce;display:block;padding-left:32px;}

/*compose email content*/
#cmp-email-container{background-color:#fcfcfc;width:100%;height:auto;margin:0;padding:0;text-align:center;}#cmp-email-container .cmp-email-container{width:988px;height:auto;margin:auto;padding:0;}.cmp-email-container .cmp-email-rows{width:100%;height:auto;margin:0;padding:0;border:none;border-bottom:1px solid #e2e2e2;font-family:Arial, Helvetica, sans-serif;text-align:left;color:#484848;}.cmp-email-container .cmp-email-rows:last-child{border-bottom:none;}

.cmp-email-row-title{width:165px;height:auto;margin:0;padding:0;position:relative;}.cmp-email-row-title p{margin:18px 0 0 25px;}
.cmp-email-row-semicollan{width:10px;height:auto;margin:0;padding:0;position:relative;}.cmp-email-row-semicollan p{margin:18px 0 0 4px;}
.cmp-email-fillin{width:813px;position:relative;}
.cmp-email-fillin input{background-color:#ffffff;width:396px;margin:10px 0 7px 5px;padding:7px 9px 5px 9px;border:1px solid #f0f0f0;font-size:100%;outline:none;}.cmp-email-fillin input:focus{text-decoration:none;outline:none;}
.cmp-email-fillin input.cmp-email-img-upload{width:164px;position:relative;}

/*choose file button*/.email-choose-logo-container{width:72px;height:18px;margin:14px 0 0 110px;padding:0;position:absolute;top:0;left:0;}.email-choose-logo-container a.email-choose-logo-button{background:url(../images/admin_email_manager/btn_gray.png) -264px 0 no-repeat;width:72px;height:18px;margin:0;padding:0;display:block;}.email-choose-logo-container a:hover.email-choose-logo-button{background-position:-264px -22px;cursor:pointer;text-decoration:none;border:none;outline:none;}
/*upload button*/.email-upload-logo-container{width:88px;height:22px;margin:13px 0 7px 7px;padding:0;position:relative;}.email-upload-logo-container a.email-upload-logo-button{width:88px;height:22px;margin:0;padding:0;background:url(../images/admin_email_manager/btn_gray.png) 0 0 no-repeat;display:block;}.email-upload-logo-container a:hover.email-upload-logo-button{background-position:0 -22px;cursor:pointer;text-decorationn:none;outline:none;}
/*size tips*/.email-upload-logo-tips{width:auto;margin:35px 0 10px -278px;padding:0;position:relative;left:0;font-family:Arial, Helvetica, sans-serif;text-align:left;color:#727272;}.email-upload-logo-tips p{margin-left:3px;font-size:10px;font-style:italic;}
/*image render container*/
.email-upload-preview-container{width:auto;height:auto;margin:7px 13px 10px 0;padding:0;}.email-upload-preview-container span{display:block;}
.email-preview-tips{width:auto;margin:0;padding:0;font-family:Arial, Helvetica, sans-serif;text-align:right;color:#767676;}.email-preview-tips p{margin-right:5px;font-size:10px;font-style:italic;}
.email-preview-photo{background:url(../images/img_W110_bg.gif) left top no-repeat;width:110px;height:110px;margin:0;padding:9px;overflow:hidden;zoom:1;}.email-preview-photo img{width:100%;height:auto;margin:0;padding:0;}

.cmp-email-fillin select{width:179px;margin:10px 0 7px 5px;padding:7px 9px 5px 9px;border:1px solid #f0f0f0;text-decoration:none;outline:none;appearance:none;-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;-o-appearance:none;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;z-index:1;}.cmp-email-fillin select:focus{text-decoration:none;outline:none;}
.cmp-email-fillin select::-ms-expand{display:none;}/*this to remove arrow on IE*/
/*for firefox (may removed below 2 line codes if it affect others)*/
.cmp-email-fillin:before{display:block;position:absolute;z-index:-1;top:0;right:0;font-size:1em;height:100%;line-height:2.5em;padding:0 0.625em;text-align:center;}
:-moz-any(.cmp-email-fillin):before{background-color:#ffffff;pointer-events:none;z-index:1;}

/*recipients email style*/
.recp-email-buttons{width:auto;height:auto;margin:13px 0 7px 5px;padding:0;}.recp-email-buttons a{display:block;margin:0;padding:0;}.recp-email-buttons a:hover{cursor:pointer;}
.recp-email-buttons a.grey-button-search{background:url(../images/admin_email_manager/btn_grey_set01.png) -149px 0 no-repeat;width:88px;height:23px;}.recp-email-buttons a:hover.grey-button-search{background-position:-149px -23px;}

/*content inputs*/
/*email plugins*/
.emailFunctionBar{width:417px;height:auto;margin:10px 0 5px 5px;padding:0;}.emailFunctionBar img{width:100%;height:auto;}
/*content textarea*/.cmp-email-content-textarea{background:#ffffff;width:398px;height:163px;margin:0 0 7px 5px;padding:7px 9px 5px 9px;border:1px solid #f0f0f0;overflow:auto;resize:none;text-decoration:none;outline:none;}.cmp-email-content-textarea:focus{text-decoration:none;outline:none;}
/*content navigations*/.cmp-email-content-navigation{width:100%;height:auto;margin:9px 0 17px 5px;padding:0;}
.cmp-email-content-buttons{width:100%;height:auto;margin:0;padding:0;list-style:none;display:inline-block;}
.cmp-email-content-btn{margin:0 5px;}.cmp-email-content-btn:first-child{margin-left:0;}.cmp-email-content-btn a:hover{text-decoration:none;border:none;outline:none;}
/*buttons*/
.grey-button-save{background:url(../images/admin_email_manager/btn_gray.png) -88px 0 no-repeat;width:88px;height:22px;margin:0;padding:0;display:block;}.grey-button-save:hover{background-position:-88px -22px;cursor:pointer;}
.grey-button-preview{background:url(../images/admin_email_manager/btn_gray.png) -176px 0 no-repeat;width:88px;height:22px;margin:0;padding:0;display:block;}.grey-button-preview:hover{background-position:-176px -22px;cursor:pointer;}

/*test-email buttons*/
.test-email-buttons{width:auto;height:auto;margin:0 0 7px 5px;padding:0;}.test-email-buttons a{display:block;margin:0;padding:0;}.test-email-buttons a:hover{cursor:pointer;text-decoration:none;border:none;outline:none;}
.test-email-buttons a.grey-button-send-for-test{background:url(../images/admin_email_manager/btn_grey_set01.png) 0 0 no-repeat;width:149px;height:23px;}.test-email-buttons a:hover.grey-button-send-for-test{background-position:0 -23px;}

/*select dates*/
.cmp-email-fillin input.cmp-fillin-date{width:157px;}
.calendarContainer{width:24px;height:24px;margin:13px 0 7px 5px;}.calendarContainer .calendarIcon{width:24px;height:24px;display:block;}.calendarContainer a.calendarIcon{background:url(../images/admin_email_manager/btn_calendar.png) 0 0 no-repeat;}.calendarContainer a:hover.calendarIcon{background-position:0 -24px;cursor:pointer;}

/*end page buttons*/
#cmp-email-end-buttons{background:#ffffff;width:100%;height:auto;margin:0;padding:20px 0 40px 0;text-align:center;}#cmp-email-end-buttons .cmp-email-end-buttons{width:auto;height:auto;margin:auto;padding:0;float:none;}
.cmp-email-end-btn{width:136px;height:46px;margin:0 5px;padding:0;}.cmp-email-end-btn:first-child{margin-left:186px;}.cmp-email-end-btn:last-child{margin-right:0;}.cmp-email-end-btn a{width:136px;height:46px;margin:0;padding:0;display:block;}.cmp-email-end-btn a:hover{text-decoration:none;border:none;outline:none;cursor:pointer;}
.cmp-email-btn-confirm{background:url(../images/admin_email_manager/btn_confirm_sendnow.png) 0 0 no-repeat;}
.cmp-email-btn-confirm:hover{background-position:0 -46px;}
.cmp-email-btn-save-now{background:url(../images/admin_email_manager/btn_confirm_sendnow.png) 100% 0 no-repeat;}
.cmp-email-btn-save-now:hover{background-position:100% -46px;}
.cmp-email-btn-save-now.end-btn-disabled{background:url(../images/admin_email_manager/btn_confirm_sendnow.png) 100% 100% no-repeat;}
.cmp-email-btn-save-now.end-btn-disabled:hover{cursor:default;}

/*========================================
	Create Email Page - Pop Up
========================================*/
#cmp-popup-wrapper{width:100%;height:100%;margin:0;padding:0;position:absolute;top:0;left:0;z-index:7;}
#cmp-popup-fade{background-color:#ffffff;width:100%;height:100%;margin:0;padding:0;opacity:0.76;-webkit-opacity:0.76;-moz-opacity:0.76;-ms-opacity:0.76;-o-opacity:0.76;filter:alpha(opacity=76);position:fixed;}
#cmp-popup-holder{width:598px;height:auto;margin:auto;padding:0;padding:10px 10px 0 10px;display:block;position:relative;}
#cmp-popup-border{background-color:#6b7072;width:100%;height:100%;margin:0;padding:0;position:absolute;opacity:0.59;-webkit-opacity:0.59;-moz-opacity:0.59;-ms-opacity:0.59;-o-opacity:0.59;filter:alpha(opacity=59);display:block;}
#cmp-popup-contents{width:598px;height:auto;margin:10px 10px 0 10px;padding:0;position:relative;display:inline-block;}

/*header*/
#cmp-popup-header{background-color:#31aee3;width:568px;height:auto;margin:0;padding:10px 15px;font-family:Arial, Helvetica, sans-serif;color:#ffffff;}
#cmp-popup-header h3{font-size:18px;font-weight:bold;text-transform:uppercase;}
#cmp-popup-header a{display:block;margin:3px 10px 0 0;padding:1px 9px;position:absolute;top:0;right:0;}#cmp-popup-header a.popup-close-button{font-family:Arial, Helvetica, sans-serif;font-size:30px;font-weight:bold;line-height:30px;text-transform:uppercase;text-align:center;color:#ffffff;}#cmp-popup-header a:hover.popup-close-button{cursor:pointer;border-top:1px solid #07648b;border-left:1px solid #07648b;}

/*search engine*/
#cmp-popup-search{background-color:#e3e3e3;width:574px;height:auto;margin:0;padding:10px 12px;text-align:center;}
#cmp-popup-search input{background:#ffffff url(../images/admin_email_manager/search_icon.jpg) 0.5% center no-repeat;width:512px;height:36px;margin:0 auto;padding:10px 10px 10px 30px;border:1px solid #d9d9d9;border-radius:5px;font:15px/normal Arial, Helvetica, sans-serif;box-sizing:content-box;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;-ms-box-sizing:content-box;-o-box-sizing:content-box;-webkit-appearance:none;}#cmp-popup-search input:focus{text-decoration:none;outline:none;}
#cmp-popup-search input::-webkit-input-placeholder{color:#d2d2d2;}
#cmp-popup-search input::-moz-placeholder{color:#d2d2d2;} /*Firefox 19+*/
#cmp-popup-search input:-moz-placeholder{color:#d2d2d2;} /*Firefox 18-*/
#cmp-popup-search input::-ms-input-placeholder{color:#d2d2d2;}

/*Recipients Search Results*/
#cmp-popup-recipients{background-color:#f3f3f3;width:100%;height:auto;max-height:455px;margin:0;padding:0;overflow:auto;}#cmp-popup-recipients .cmp-poopup-recipients{width:90%;height:auto;margin:0;padding:0 5%;list-style:none;}.cmp-poopup-recipients .popup-recipients-row{width:100%;height:auto;margin:0;padding:15px 0;border-bottom:1px dotted #928f8f;display:inline-block;}.cmp-poopup-recipients .popup-recipients-row:first-child{border-top:1px solid #cccccc;}.cmp-poopup-recipients .popup-recipients-row:last-child{border-bottom:none;}.cmp-poopup-recipients .popup-recipients-row>div{vertical-align:middle;}.cmp-poopup-recipients .popup-recipients-row div>div, .cmp-poopup-recipients .popup-recipients-row div>p{vertical-align:middle;}

/*profile photo*/.popup-rcp-photo{width:15%;height:auto;margin:0;padding:0;}.popup-rcp-photo .popup-rcp-photo-container{background-color:#aaaaaa;width:90%;margin:5%;padding:0;overflow:hidden;position:relative;}.popup-rcp-photo .popup-rcp-photo-container:before{content:"";display:block;padding-top:100%;}.popup-rcp-photo .popup-rcp-photo-container img{width:100%;height:auto;margin:0;padding:0;position:absolute;top:0;left:0;}
/*name*/.popup-rcp-name{width:25%;height:auto;margin:0;padding:0;font-family:Arial, Helvetica, sans-serif;text-align:left;color:#1f88b5;}.popup-rcp-name p{font-size:15.5px;font-weight:bold;margin:22% 0 0 10%;}
/*email*/.popup-rcp-email{width:25%;height:auto;margin:0;padding:0;font-family:Arial, Helvetica, sans-serif;text-align:left;color:#565656;}.popup-rcp-email p{font-size:12px;margin:24% 0 0 5%;}
/*recipients role*/.popup-rcp-role{width:25%;height:auto;margin:0;padding:0;font-family:Arial, Helvetica, sans-serif;text-align:left;color:#565656;}.popup-rcp-role p{font-size:12px;margin:24% 0 0 10%;}
/*button*/.popup-rcp-btn{width:10%;height:auto;margin:0;padding:0;}.popup-rcp-btn a{background:url(../images/admin_email_manager/btn_add_min.png) no-repeat;background-size:200% auto;width:90%;height:auto;margin:30% 5% 5% 5%;padding:0;display:block;}.popup-rcp-btn a:before{content:"";display:block;padding-top:100%;}.popup-rcp-btn a:hover{cursor:pointer;text-decoration:none;border:none;outline:none;}.popup-rcp-btn a.popup-btn-add{background-position:0 0;}.popup-rcp-btn a:hover.popup-btn-add{background-position:0 33.33%;}.popup-rcp-btn a.popup-btn-min{background-position:100% 66.66%;}.popup-rcp-btn a:hover.popup-btn-min{background-position:100% 100%;}

/*Complete Button, End Bar*/
#cmp-popup-footbar{background-color:#e3e3e3;width:100%;height:auto;margin:0;padding:16px 0 14px 0;text-align:right;position:relative;}
#cmp-popup-footbar p{width:50%;height:auto;margin:0;margin-top:14px;padding:0;position:absolute;top:0;left:0;font: 10px/normal Arial, Helvetica, sans-serif;font-size:10px;text-align:left; padding-left:30px;color:#a8abac;}
#cmp-popup-footbar a{display:block;margin:0;margin-right:20px;padding:0;}#cmp-popup-footbar a:hover{cursor:pointer;text-decoration:none;border:none;outline:none;}

#cmp-popup-footbar a.popup-btn-complete{
	background:url(../images/admin_email_manager/btn_complete.png) 0 0 no-repeat;
	width:124px;
	height:47px;}

#cmp-popup-footbar a:hover.popup-btn-complete{
	background-position:0 100%;}
	
	
	#cmp-popup-footbar a.popup-btn-selectAll{
	background:url(../images/admin_email_manager/btn_selectAll.png) 0 0 no-repeat;
	width:124px;
	height:47px;}

#cmp-popup-footbar a:hover.popup-btn-selectAll{
	background-position:0 100%;}