﻿@charset "utf-8";
/* CSS Document */
#adminContainer{
	background: #f7f7f7;
	width: 1012px;
	height: auto;
	display: inline-block;
}

input[disabled]{
	background: #eee;
	color: #ccc;
}
textarea[disabled]{
	background: #eee;
	color: #ccc;
}
select[disabled]{
	background: #eee !important;
	color: #ccc;
}

/* Admin Header */
#adminHeader{
	width: 1012px;
	height: 65px;
	margin:20px 0 0 0;
	position: relative;
}

/* Admin Header Buttons */
.createnewBtn{
	width: 145px;
	height: 46px;
	text-align: center;
	text-indent: -9999px;
	margin:5px 20px;
	top: 0;
	position: absolute;
}

.createnewBtn .btnCreateNew{
	width: 145px;
	height: 46px;
	display: block;
}

.createnewBtn a.btnCreateNew{
	background: url(../images/admin_button/btn_createnew.png) 0 0 no-repeat;
}

.createnewBtn a:hover.btnCreateNew{
	background: url(../images/admin_button/btn_createnew.png) 0 -46px no-repeat;
}
/* End of Admin Header Buttons */

/* End of Admin Header*/

/* Admin Content */
#adminContent{
	width: 1012px;
	height: auto;
	display: inline-block;
	padding-bottom: 5px;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

/* Admin - Badge Special Management */
.adnCntTitle{
	width: 1002px;
	height: 30px;
	padding:5px;
	margin: 0;
	font-weight: bold;
}

.adnCntTitle p{
	margin: 16px 0 0 10px;
	padding: 0;
	display: block;
}

.adnCntRow{
	width: 1002px;
	height:30px;
	padding: 5px;
	border-top: 2px #d7d7d7 solid;
}

.adnCntRow p{
	color: #7a7a7a;
	margin: 9px 0 0 10px;
	padding: 0;
	display: block;
}

.adnCntNumb{
	width: 50px;
	height: 30px;
	display: block;
}

.adnCntNumb p{
	margin-right: 10px;
	text-align: right;
}

.adnCntName{
	width: 200px;
	height: 30px;
	display: block;
}

.adnCntPoints{
	width: 100px;
	height: 30px;
	display: block;
}

.adnCntStartDate{
	width: 110px;
	height: 30px;
	display: block;
}.adnCntStartDate .adminArrowBtnContainer{
	width: 7px;
	height: 6px;
	margin: 20px 0 0 6px;
}.adnCntStartDate .adminArrowBtnContainer .adminArrowBtnBlack{
	width: 7px;
	height: 6px;
	display: block;
	margin: 0;
}.adnCntStartDate .adminArrowBtnContainer a.adminArrowBtnBlack{
	background: url(../images/admin_button/btn_point_arrow_black.png) 0 0 no-repeat;
}.adnCntStartDate .adminArrowBtnContainer a:hover.adminArrowBtnBlack{
	background: url(../images/admin_button/btn_point_arrow_black.png) 0 -6px no-repeat;
	cursor: pointer;
}

.adnCntEndDate{
	width: 110px;
	height: 30px;
	display: block;
}.adnCntEndDate .adminArrowBtnContainer{
	width: 7px;
	height: 6px;
	margin: 20px 0 0 6px;
}.adnCntEndDate .adminArrowBtnContainer .adminArrowBtnBlack{
	width: 7px;
	height: 6px;
	display: block;
	margin: 0;
}.adnCntEndDate .adminArrowBtnContainer a.adminArrowBtnBlack{
	background: url(../images/admin_button/btn_point_arrow_black.png) 0 0 no-repeat;
}.adnCntEndDate .adminArrowBtnContainer a:hover.adminArrowBtnBlack{
	background: url(../images/admin_button/btn_point_arrow_black.png) 0 -6px no-repeat;
	cursor: pointer;
}

.adnCntType{
	width: 142px;
	height: 30px;
	display: block;
}

.adnCntVisible{
	width: 130px;
	height: 30px;
	display: block;
}.adnCntVisible .adminArrowBtnContainer{
	width: 7px;
	height: 6px;
	margin: 20px 0 0 6px;
}.adnCntVisible .adminArrowBtnContainer .adminArrowBtnBlack{
	width: 7px;
	height: 6px;
	display: block;
	margin: 0;
}.adnCntVisible .adminArrowBtnContainer a.adminArrowBtnBlack{
	background: url(../images/admin_button/btn_point_arrow_black.png) 0 0 no-repeat;
}.adnCntVisible .adminArrowBtnContainer a:hover.adminArrowBtnBlack{
	background: url(../images/admin_button/btn_point_arrow_black.png) 0 -6px no-repeat;
	cursor: pointer;
}

.adnCntActions{
	width: 160px;
	height: 30px;
	display: block;
}

.actionsContainer{
	width: 99px;
	height: 16px;
	margin: 3px 7px;
	padding: 4px 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	display: block;
}

.actionsButton{
	/*background: ;*/
	width: 33px;
	height: 19px;
	margin-top: -1px;
}

.actionsButton .actionsBtnEdit{
	width: 36px;
	height: 25px;
	margin: -3px 0 0 -3px;
	display: block;
}

.actionsButton a.actionsBtnEdit{
	background: url(../images/admin_button/btn_actions_three.png) 0 0 no-repeat;
}
.actionsButton a:hover.actionsBtnEdit{
	background: url(../images/admin_button/btn_actions_three.png) 0 -25px no-repeat;
}
.actionsButton .btnEditClosed{
	width: 36px;
	height: 25px;
	margin: -3px 0 0 -3px;
	display: block;
}
.actionsButton a.btnEditClosed{
	background: url(../images/admin_button/btn_actions_three.png) 0 -50px no-repeat;
}


.actionsButton .actionsBtnDelete{
	width: 32.4px;
	height: 24px;
	margin-top: -4.5px;
	display: block;
}
.actionsButton a.actionsBtnDelete{
	background: url(../images/admin_button/btn_actions.png) -36.4px 0 no-repeat;
}
.actionsButton a:hover.actionsBtnDelete{
	background: url(../images/admin_button/btn_actions.png) -36.4px -24px no-repeat
}
.actionsButton .btnDeleteClosed{
	width: 32.4px;
	height: 24px;
	margin-top: -4.5px;
	display: block;
}
.actionsButton a.btnDeleteClosed{
	background: url(../images/admin_button/btn_actions.png) -36.4px -48px no-repeat;
}

.actionsButton .actionsBtnPreview{
	width: 33px;
	height: 25px;
	margin-top: -3px;
	display: block;
}
.actionsButton a.actionsBtnPreview{
	background: url(../images/admin_button/btn_actions_three.png) -35px 0 no-repeat;
}
.actionsButton a:hover.actionsBtnPreview{
	background: url(../images/admin_button/btn_actions_three.png) -35px -25px no-repeat;
}
.actionsButton .btnPreviewClosed{
	width: 33px;
	height: 25px;
	margin-top: -3px;;
	display: block;
}
.actionsButton a.btnPreviewClosed{
	background: url(../images/admin_button/btn_actions_three.png) -35px -50px no-repeat;
}

.actionsButton .actionsBtnMail{
	width: 36px;
	height: 25px;
	margin-top: -3px;
	display: block;
}
.actionsButton a.actionsBtnMail{
	background: url(../images/admin_button/btn_actions_three.png) -68px 0 no-repeat;
}
.actionsButton a:hover.actionsBtnMail{
	background: url(../images/admin_button/btn_actions_three.png) -68px -25px no-repeat;
}
.actionsButton .btnMailClosed{
	width: 36px;
	height: 25px;
	margin-top: -3px;;
	display: block;
}
.actionsButton a.btnMailClosed{
	background: url(../images/admin_button/btn_actions_three.png) -68px -50px no-repeat;
}

.actionsButton .actionsBtnInput{
	width: 32.4px;
	height: 24px;
	margin: -4.5px -3px 0 0;
	padding-right: 3px;
	display: block;
}
.actionsButton a.actionsBtnInput{
	background: url(../images/admin_button/btn_actions.png) -133.6px 0 no-repeat;
}
.actionsButton a:hover.actionsBtnInput{
	background: url(../images/admin_button/btn_actions.png) -133.6px -24px no-repeat;
}
.actionsButton .btnInputClosed{
	width: 32.4px;
	height: 24px;
	margin: -4.5px -3px 0 0;
	padding-right: 3px;
	display: block;
}
.actionsButton a.btnInputClosed{
	background: url(../images/admin_button/btn_actions.png) -133.6px -48px no-repeat;
}

.adminDeleteContainer{
	background: #666;
	width: 27px;
	height: 19px;
	margin: 6px 0 0 3px;
}.adminDeleteContainer .adminDeleteBtn{
	width: 27px;
	height: 19px;
	display: block;
}.adminDeleteContainer a.adminDeleteBtn{
	background: url(../images/admin_button/btn_delete_admin.jpg) 0 0 no-repeat;
}.adminDeleteContainer a:hover.adminDeleteBtn{
	background: url(../images/admin_button/btn_delete_admin.jpg) 0 -19px no-repeat;
}

/* End of Admin - Badge Special Management */

/* Admin - Create New Badge Special */
.adminFormContainer{
	background: #ccc;
	width: 1012px;
	height: auto;
}

.formStandarRow{
	width: 1012px;
	height: 27px;
	margin: 0;
	padding: 8px 0;
	font: 12px/14px Arial, Helvetica, sans-serif;
	color: #484848;
	border-bottom: 2px #d7d7d7 solid;
}

.formTitleStd{
	width: 170px;
	height: 27px;
}
.formTitleStd p{
	margin: 10px 7px;
}

.formDoubleMarkStd{
	width: 10px;
	height: 27px;
	text-align: center;
}

.formFillerStd{
	width: 832px;
	height: 27px;
	color: #B2B6B8;
}

.formTallRow{
	width: 1012px;
	height: 95px;
	margin: 0;
	padding: 8px 0;
	font: 12px/14px Arial, Helvetica, sans-serif;
	color: #484848;
	border-bottom: 2px #d7d7d7 solid;
}

.formTitleTl{
	width: 170px;
	height: 95px;
}
.formTitleTl p{
	margin: 10px 7px;
}

.formDoubleMarkTl{
	width: 10px;
	height: 95px;
	text-align: center;
}

.formFillerTl{
	width: 832px;
	height: 95px;
	color: #B2B6B8;
}

/* Form Text Fields */
.formInputStd{
	width: 250px;
	height: 15px;
	margin: 3px 0;
}

.formImgRow{
	padding-bottom: 52px;
}
.formImgsInput{
	width: 170px;
	height: 15px;
	margin: 3px 0;
	position: relative;
}
.formImgChoose{
	width: 72px;
	height: 18px;
	position: absolute;
	margin: 7px 0 0 107px;
}
.formImgChoose .btnChooseFile{
	width: 72px;
	height: 18px;
	display: block;
}
.formImgChoose a.btnChooseFile{
	background: url(../images/admin_button/btn_gray.png) -264px 0 no-repeat;
}
.formImgChoose a:hover.btnChooseFile{
	background: url(../images/admin_button/btn_gray.png) -264px -22px no-repeat;
}
.formImgChoose a:hover.btnChsFileDisable{
	background: url(../images/admin_button/btn_gray.png) -264px 0 no-repeat;
}
.formImgUpload{
	width: 88px;
	height: 22px;
	margin: 5px 3px;
}
.formImgUpload .btnUpload{
	width: 88px;
	height: 22px;
	display: block;
}
.formImgUpload a.btnUpload{
	background: url(../images/admin_button/btn_gray.png) 0 0 no-repeat;
}
.formImgUpload a:hover.btnUpload{
	background: url(../images/admin_button/btn_gray.png) 0 -22px no-repeat;
}
.formImgUpload a:hover.btnUploadDisable{
	background: url(../images/admin_button/btn_gray.png) 0 0 no-repeat;
}
.formImgTips{
	margin: 33px 0 0 -273px;
	display: block;
}
.uploadPreview{
	margin:5px 0 0 250px;
}
.uploadPreview .uploadExmp{
	background: url(../images/img_W110_bg.gif) left top no-repeat;
	width: 110px;
	height: 110px;
	margin-left: 8px;
	padding: 9px;
	overflow: hidden;
	display: inline-block;
	zoom: 1;
}

.formTypeSelection{
	width: 262px;
	height: 25px;
	margin: 3px 0;
}
.formFillerStd select{
	border: 0 !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	background: #fff url(../images/icon/gray_arrow_down.gif) 0 0 no-repeat;
	background-position: 240px 5px;
	width: 262px;
	text-indent: 0.01px;
	text-overflow: "";
	cursor: pointer;
}

.formTextArea{
	width: 250px;
	height: 60px;
	overflow: auto;
	resize: none;
}
.wordsCount{
	margin: 75px -260px;
}
.wordsCount p{
	font-size: 12px;
}

.formInputDate{
	width: 130px;
	height: 15px;
	margin: 3px 0;
	text-align: center;
	color: #555;
	font-weight: bold;
}
.calendarContainer{
	width: 24px;
	height: 24px;
	margin: 4px 3px;
}
.calendarContainer .calendarIcon{
	width: 24px;
	height: 24px;
	display: block;
}
.calendarContainer a.calendarIcon{
	background: url(../images/admin_button/btn_calendar.png) 0 0 no-repeat;
}
.calendarContainer a:hover.calendarIcon{
	background: url(../images/admin_button/btn_calendar.png) 0 -24px no-repeat;
}
.calendarContainer .viewReportCald{
	background: url(../images/admin_button/btn_calendar.png) 0 -48px no-repeat !important;
	width: 24px;
	height: 24px;
	display: block;
}

.formCheckbox{
	border: 0;
	width: 20px;
	height: 20px;
	margin: 7px 2px;
}

.formTips{
	width: auto;
	height: 15px;
	padding-right: 5px;
	color: #31aee3;
	font-size: 10px;
	font-style: italic;
	display: block;
}
.formTips p{
	margin: 0 0;
}
/* End of Form Text Fields */

/* Form Expand Container */
.formTypeRow{
	height: auto;
}
.tpyeExpandContainer{
	width: 440px;
	height: 100px;
	margin: 5px 0 0 7px;
	display: block;
	position: relative;
}
.formTypeUnselected{
	display: none;
}
.typeExpCtnHeader{
	width: 436px;
	height: 26px;
	padding: 2px 0;
	border-bottom: 1px #bbb solid;
}
.typeExpCtnHeader .typeExpTitle p{
	font-weight: bold;
	margin: 15px 0;
}
.typeExpCtnRow{
	width: 436px;
	height: 26px;
	padding: 2px 0;
}
.typeExpTitle{
	width: 163px;
	height: 26px;
}
.typeExpTitle p{
	margin: 10px 0;
}
.typeExpDbMark{
	width: 10px;
	height: 26px;
	text-align: center;
}
.typeExpFiller{
	width: 263px;
	height: 26px;
	color: #B2B6B8;
}
.typeExpInput{
	width: 251px;
	height: 10px;
	margin: 5px 0;
}
.typeExpTips{
	margin: -6px 3px;
}
/* End of Form Expand Container */

/* Create new Badge Special btm BTN */
.adnCreateBtmBtn{
	width: auto;
	height: 65px;
	margin: 0 auto;
	padding: 0;
	display: block;
	position: relative;
	left: 50%;
}
.adnCreateBtmBtn .createBadgeBtmBtn{
	width: 128.5px;
	height: 45px;
	margin: 10px 15px;
	position: relative;
	padding: 0;
	left: -50%;
}
.createBadgeBtmBtn .btnSaveAdnForm{
	width: 128.5px;
	height: 45px;
	display: block;
	cursor: pointer;
}
.createBadgeBtmBtn a.btnSaveAdnForm{
	background: url(../images/admin_button/btn_save_cancel.png) 0 0 no-repeat;
}
.createBadgeBtmBtn a:hover.btnSaveAdnForm{
	background: url(../images/admin_button/btn_save_cancel.png) 0 -46px no-repeat;
}
.createBadgeBtmBtn .btnCancelAdnForm{
	width: 128.5px;
	height: 45px;
	display: block;
	cursor: pointer;
}
.createBadgeBtmBtn a.btnCancelAdnForm{
	background: url(../images/admin_button/btn_save_cancel.png) -128.5px 0 no-repeat;
}
.createBadgeBtmBtn a:hover.btnCancelAdnForm{
	background: url(../images/admin_button/btn_save_cancel.png) -128.5px -46px no-repeat;
}
.createBadgeBtmBtn .btnGenerateReport{
	width: 161px;
	height: 45px;
	display: block;
	margin-left: -30px;
	cursor: pointer;
}
.createBadgeBtmBtn a.btnGenerateReport{
	background: url(../images/admin_button/btn_generatereport.png) 0 0 no-repeat;
}
.createBadgeBtmBtn a:hover.btnGenerateReport{
	background: url(../images/admin_button/btn_generatereport.png) 0 -46px no-repeat;
}

/* End of Admin - Create New Badge Special */

/* Admin - Email Communication */
.adminEmailContainer{
	width: 1002px;
	height: auto;
	margin: 0;
	padding: 5px;
}
.emailCommHeader{
	display: block;
	color: #31aee3;
	font: 25px/26px Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin: 35px 15px;
}
.emailHeaderRow{
	width: 1002px;
	height: auto;
	margin: 0;
	padding: 8px 0 5px 0;
	font: 12px/14px Arial, Helvetica, sans-serif;
	color: #484848;
	border-bottom: 2px #d7d7d7 solid;
	border-top: 2px #d7d7d7 solid;
}
.emailStdRow{
	width: 1002px;
	height: auto;
	margin: 0;
	padding: 8px 0 5px 0;
	font: 12px/14px Arial, Helvetica, sans-serif;
	color: #484848;
	border-bottom: 2px #d7d7d7 solid;
}
.emailTitleStd{
	width: 165px;
	height: 27px;
}
.emailTitleStd p{
	margin: 10px 15px;
}

.emailDbMarkStd{
	width: 10px;
	height: 27px;
	text-align: center;
}

.emailFillerStd{
	width: 827px;
	height: auto;
	color: #B2B6B8;
}
.emailInputStd{
	width: 400px;
	height: 15px;
	margin: 3px 0;
}
.emailContentRow{
	
}
.emailFunctionBar{
	width: 413px;
	height: 35px;
	margin: 3px 0 2px 0;
	padding: 0;
	display: block;
	overflow: hidden;
}
.emailTextArea{
	width: 400px;
	height: 200px;
	margin: -8px 0 0 0;
	overflow: auto;
	resize: none;
}
.emailContentBtn{
	width: 413px;
	height: 26px;
	margin: 7px 0 0 0;
	display: block;
}
.emailContentBtn ul{
	margin: 0;
	padding: 0;
	display: inline;
}
.emailContentBtn ul li{
	display: block;
	float: left;
}
.emailContentBtn .mailCntBtn{
	width: 88px;
	height: 22px;
	display: block;
	margin: 2px 0 0 5px;
	padding: 0;
	position: relative;
	z-index: 1;
}
.emailContentBtn .mailCntBtn p{
	color: #31aee3;
	margin: 5px 15px;
	padding: 0;
	text-align: center;
	position: absolute;
	z-index: -1;
}
.mailCntBtn .btnSaveMailContent{
	width: 88px;
	height: 22px;
	display: block;
	margin: 0;
	padding: 0;
	position: absolute;
}
.mailCntBtn a.btnSaveMailContent{
	background: url(../images/admin_button/btn_gray.png) -88px 0 no-repeat;
}
.mailCntBtn a:hover.btnSaveMailContent{
	background: url(../images/admin_button/btn_gray.png) -88px -22px no-repeat;
}
.mailCntBtn .btnPreviewMailContent{
	width: 88px;
	height: 22px;
	display: block;
	margin: 0;
	padding: 0;
	position: absolute;
}
.mailCntBtn a.btnPreviewMailContent{
	background: url(../images/admin_button/btn_gray.png) -176px 0 no-repeat;
}
.mailCntBtn a:hover.btnPreviewMailContent{
	background: url(../images/admin_button/btn_gray.png) -176px -22px no-repeat;
}
.emailContentBtn .btnShowListMailContent{
	width: 82px;
	height: 22px;
	padding: 0;
	margin: 2px 0 0 10px;
	display: block;
	position: absolute;
	color: #31aee3;
	font: 15px/17px Arial, Helvetica, sans-serif;
}
.btnShowListMailContent p{
	margin: 6px 2px;
	padding: 0;
}
.btnShowListMailContent .showListArrowBlue{
	background: url(../images/admin_button/btn_point_arrow_blue.png) 0 0 no-repeat;
	width: 7px;
	height: 6px;
	margin: -17px 0 0 72px;
	display: inline-block;
	position: absolute;
}
.emailContentBtn a:hover.btnShowListMailContent{
	border-bottom: 1px #069 solid;
	color: #069;
	cursor: pointer;
}
.emailContentBtn a:hover.btnShowListMailContent .showListArrowBlue{
	background: url(../images/admin_button/btn_point_arrow_blue.png) 0 -6px no-repeat;
}
.showListBtnHit{
	background: url(../images/admin_button/btn_point_arrow_blue.png) 0 0 no-repeat;
	-moz-transform: scaleY(-1);
	-webkit-transform: scaleY(-1);
	-o-transform: scaleY(-1);
	transform: scaleY(-1);
	-ms-filter: flipv;
	filter: flipv;
}
/* Email Communication - Email List */
.emailListMainContainer{
	width: 880px;
	height: 425px;
	margin: 80px 0 5px 15px;
	padding: 0;
	position: relative;
	display: block;
}
.hideListTable{
	position: relative;
	display:none;
}
.emailListTitle{
	width: auto;
	height: auto;
	display: block;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
}
.emailListTitle p{
	margin-left: 15px;
	font-weight: bold;
}

.emailListTable{
	background: #fff;
	width: 850px;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	margin: 30px 0 0 15px;
	border: 2px #bbb solid;
	border-bottom: none;
	overflow: hidden;
}
.emailListTable .emailListHeader{
	background: #31aee3;
	width: 850px;
	height: 45px;
	position: relative;
}
.emailListHeader p{
	width: 150px;
	height: auto;
	color: #fff;
	margin: 0 0 auto 12px;
	display: block;
	position: absolute;
	bottom: 0;
}
.emailListHeader .emlListName{
	width: 250px;
	height: 45px;
}
.emlListName p{
	margin-bottom: 12px;
}
.emlListName .emlListNameArrowWhite{
	background: url(../images/admin_button/btn_point_arrow_white.png) 0 0 no-repeat;
	width: 7px;
	height: 6px;
	margin: 22px 0 0 230px;
}
.emlListName div:hover.emlListNameArrowWhite{
	background: url(../images/admin_button/btn_point_arrow_white.png) 0 -6px no-repeat;
	cursor: pointer;
}
.emailListHeader .emlListEmailAddress{
	width: 248px;
	height: 45px;
	border-left: 2px #bbb solid;
}
.emlListEmailAddress p{
	margin-bottom: 12px;
}
.emlListEmailAddress .emlListEmlAddArrowWhite{
	background: url(../images/admin_button/btn_point_arrow_white.png) 0 0 no-repeat;
	width: 7px;
	height: 6px;
	margin: 22px 0 0 228px;
}
.emlListEmailAddress div:hover.emlListEmlAddArrowWhite{
	background: url(../images/admin_button/btn_point_arrow_white.png) 0 -6px no-repeat;
	cursor: pointer;
}
.emailListHeader .emlListDateOfAction{
	width: 143px;
	height: 45px;
	border-left: 2px #bbb solid;
}
.emlListDateOfAction p{
	width: auto;
	margin-bottom: 12px;
}
.emlListDateOfAction div.emlListDateArrowWhite{
	background: url(../images/admin_button/btn_point_arrow_white.png) 0 0 no-repeat;
	width: 7px;
	height: 6px;
	margin: 22px 0 0 123px;
}
.emlListDateOfAction div:hover.emlListDateArrowWhite{
	background: url(../images/admin_button/btn_point_arrow_white.png) 0 -6px no-repeat;
	cursor: pointer;
}
.emailListHeader .emlListTotalPoints{
	width: 203px;
	height: 45px;
	border-left: 2px #bbb solid;
}
.emlListTotalPoints p{
	margin-bottom: 5px;
}
.emlListTotalPoints .emlListPointsArrowWhite{
	background: url(../images/admin_button/btn_point_arrow_white.png) 0 0 no-repeat;
	width: 7px;
	height: 6px;
	margin: 22px 0 0 183px;
}
.emlListTotalPoints div:hover.emlListPointsArrowWhite{
	background: url(../images/admin_button/btn_point_arrow_white.png) 0 -6px no-repeat;
	cursor: pointer;
}
.listSortSelected{
	background: url(../images/admin_button/btn_point_arrow_white.png) 0 0 no-repeat;
	-moz-transform: scaleY(-1);
	-webkit-transform: scaleY(-1);
	-o-transform: scaleY(-1);
	transform: scaleY(-1);
	-ms-filter: flipv;
	filter: flipv;
}
.emailListTable .emailListRow{
	width: 850px;
	height: 30px;
	border-bottom: 2px #bbb solid;
}
.emailListRow p{
	font: 13px/15px Arial, Helvetica, sans-serif;
	margin-left: 12px;
	margin-top: 9px;
	color: #000;
}
.emailListRow .emlListName{
	width: 250px;
	height: 30px;
}
.emailListRow .emlListEmailAddress{
	width: 248px;
	height: 30px;
	border-left: 2px #bbb solid;
}
.emailListRow .emlListDateOfAction{
	width: 143px;
	height: 30px;
	border-left: 2px #bbb solid;
}
.emailListRow .emlListTotalPoints{
	width: 203px;
	height: 30px;
	border-left: 2px #bbb solid;
}

.emailListPages{
	width: auto;
	height: 15px;
	display: block;
	position: relative;
	padding: 0 10px;
	margin: 407px auto;
	float: left;
	left: 50%;
}
.emailListPages ul{
	display: block;
	position: relative;
	float: left;
	left: -50%;
}
.emailListPages .emlPageBtn{
	width: 15px;
	height: 15px;
	display: inline-block;
	margin: 0 2.8px;
}
.emlPageBtn .emlPgBtnNumeric{
	display: block;
	position: absolute;
	margin-top: 1.3px;
}
.emlPageBtn a.emlPgBtnNumeric{
}
.emlPageBtn a:hover.emlPgBtnNumeric{
	color: #069;
	text-decoration: underline;
}
.emlPageBtn .emlPgBtnPrevious{
	width: 15px;
	height: 15px;
	display: block;
}
.emlPageBtn a.emlPgBtnPrevious{
	background: url(../images/admin_button/btn_nextprev.png) 0 0 no-repeat;
}
.emlPageBtn a:hover.emlPgBtnPrevious{
	background: url(../images/admin_button/btn_nextprev.png) 0 -15px no-repeat;
}
.emlPageBtn .emlPgBtnNext{
	width: 15px;
	height: 15px;
	display: block;
}
.emlPageBtn a.emlPgBtnNext{
	background: url(../images/admin_button/btn_nextprev.png) 0 0 no-repeat;
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1);
	-ms-filter: fliph;
	filter: fliph;
}
.emlPageBtn a:hover.emlPgBtnNext{
	background: url(../images/admin_button/btn_nextprev.png) 0 -15px no-repeat;
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1);
	-ms-filter: fliph;
	filter: fliph;
}
.emlSelectedListPg{
	font-weight: bold;
}
/* End of Email Communication - Email List */
/* Email Communication btm BTN */
.adnEmailBtmBtn{
	width: 340px;
	height: 65px;
	margin: 0;
	padding: 0;
	display: block;
}
.adnEmailBtmBtn .emailCommBtmBtn{
	width: auto;
	height: 45px;
	margin: 10px -5px 0 15px;
	padding: 0;
}
.emailCommBtmBtn .btnSendTestAdnForm{
	width: 145.5px;
	height: 45px;
	display: block;
}
.emailCommBtmBtn a.btnSendTestAdnForm{
	background: url(../images/admin_button/btn_sendtestnow.png) 0 0 no-repeat;
}
.emailCommBtmBtn a:hover.btnSendTestAdnForm{
	background: url(../images/admin_button/btn_sendtestnow.png) 0 -46px no-repeat;
}
.emailCommBtmBtn .btnSendNowAdnForm{
	width: 128.5px;
	height: 45px;
	display: block;
}
.emailCommBtmBtn a.btnSendNowAdnForm{
	background: url(../images/admin_button/btn_sendtestnow.png) -145.5px 0 no-repeat;
}
.emailCommBtmBtn a:hover.btnSendNowAdnForm{
	background: url(../images/admin_button/btn_sendtestnow.png) -145.5px -46px no-repeat;
}

/* End of Admin - Email Communication btm BTN */
/* End of Amind - Email Communication */

/* End of Admin Content */


