﻿@{
    var data = ViewData["data"] as IList<DestinationWeekItem>;
}
<div class="destination">
    <div class="fadeClick">
        @*<h2>Destination of the Week </h2>*@
        <div class="img">
            <ul>
                @foreach (var item in data)
                {
                    <li><a class="hbanner" href="@item.TitleUrl">
                        <img src="@item.ShowImgSrc" /></a></li> 
                }
            </ul>
        </div>
        <div class="fadeText">
            <div class="textBox">
                @foreach (var item in data)
                {
                    <dl>
                        <dt><a  href="@item.TitleUrl">@item.Title</a>
                            @if (item.DWType == (int)IMeet.IBT.Services.Identifier.IBTType.Supply)
                            {
                                <p>@item.InfoAddress , @item.CityName , @item.CountryName</p>
                            }
                            else if (item.DWType == (int)IMeet.IBT.Services.Identifier.IBTType.Country)
                            {
                                <p>@item.InfoAddress</p>
                            }
                            else
                            {
                                <p>@item.InfoAddress , @item.CountryName</p>
                            }
                        </dt>
                        <dd><span class="rating">RATING</span>
                            <span class="dw_Rating"  data-rating="@item.Rating"></span>
                        </dd>
                        <dd>
                            @Html.Raw(IMeet.IBT.Common.StringHelper.Truncate(item.Desp, 150, "..."))
                        </dd>
                        <dd class="btn"><a href="@item.TitleUrl" class="btnBlueH45"><span class="bg">I want to Be There</span></a></dd>
                    </dl>
                }
            </div>
            <div class="control">
                <span class="prev"></span>
                <span class="num">
                    <span class="active"></span>
                    @for (int i = 0; i < data.Count - 1; i++)
                    {
                        <span></span>
                    }
                </span>
                <span class="next"></span>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.dw_Rating').raty({
            readOnly: true,
            score: function () {
                return $(this).attr('data-rating');
            }
        });
    });
</script>
