﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    IMeet.IBT.Services.ProfileService profileService = new IMeet.IBT.Services.ProfileService();
    int userId = profileService.GetUserId();
    Profile profile = profileService.GetUserProfile(userId);
    User user = profileService.GetUserInfo(userId);
    string verificationstatus = string.Empty;
    if (user.NewEmailIdVerficationActivate == 0 && user.NewEmailId != null && user.NewEmailId.ToString().Trim() != string.Empty)
    {
        verificationstatus = "Unverified";
    }
    //IMeet.IBT.Services.BaseService baseService=new IMeet.IBT.Services.BaseService();
    //string key = "user_" + userId.ToString();
    //baseService._cache.Remove(key);
}
@Html.Partial("Widget/_Header")
<script src="/js/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="/js/setting.js" type="text/javascript"></script>
<script src="/js/Calendar.js" type="text/javascript"></script>
<script type="text/javascript">
    function countCharacters() {
        var max = 300;
        var keyword = document.getElementById("statusUpdate").value;
        if (keyword.length > max) {
            document.getElementById("statusUpdate").value = keyword.substring(0, max);
            document.getElementById("spnCharLeft").innerHTML = "0";
        }
        else {
            document.getElementById("spnCharLeft").innerHTML = max - keyword.length;
        }
    }
    function initCountryData() {
        $("#ddlCountry option[value='" + $("#hidfldCountry").val() + "']").attr("selected", "selected");
        $("#ddlCountry").change(function () {
            var value = $("#ddlCountry").val();
            $("#hidfldCountry").attr("value", value);  //隐藏控件赋值
            GetCity();
            $("#hidfldCity").attr("value", '-1');// Hiddenid为隐藏控件的ID  给它赋值        
        });
    }
    function initCityData() {
        $("#hidfldCity").attr("value", '@Html.Encode(ViewData["CityID"])');// Hiddenid为隐藏控件的ID  给它赋值        
        $("#ddlCity option[value='" + $("#hidfldCity").val() + "']").attr("selected", "selected");
        $("#ddlCity").change(function () {
            var value = $("#ddlCity").val();
            $("#hidfldCity").attr("value", value);
        });
    }
    function Permissions(obj) {
        var radioss = obj.value
        $("#statis").attr("value", radioss);
    }
    $(document).ready(function () {
        countCharacters();
        GetByJquery();
        $("#hidfldCountry").attr("value", '@Html.Encode(ViewData["CountryID"])');// Hiddenid为隐藏控件的ID  给它赋值

        setTimeout("initCountryData()", 1000);
        setTimeout("initCityData()", 3000);
        var t = setTimeout;
        clearTimeout(t);


        mapSlide();
        drag();
        $("input[name='gender'][value='@profile.Gender']").attr("checked", true);  //radio
        dateLoad();
        $("#selectDay").change(function () {
            var selecday = $(this).val();
            $("#hidfldDay").attr("value", selecday);// Hiddenid为隐藏控件的ID  给它赋值 select
        });
        $("#selectMonth").change(function () {
            var selecmonth = $(this).val();
            $("#hidfldMonth").attr("value", selecmonth);
        });
        $("#selectYear").change(function () {
            var selecyear = $(this).val();
            $("#hidfldYear").attr("value", selecyear);
        });
    });
    function dateLoad() {
        var selecday = $("#selectDay").val();
        $("#hidfldDay").attr("value", selecday);// Hiddenid为隐藏控件的ID  给它赋值
        var selecmonth = $("#selectMonth").val();
        $("#hidfldMonth").attr("value", selecmonth);
        var selecyear = $("#selectYear").val();
        $("#hidfldYear").attr("value", selecyear);
    }
    function GetByJquery() {
        var datanum = 0;
        //$("#ddlCountry").empty();
        $.getJSON("/Account/GetCountry", function (data) {
            $.each(data, function (i, item) {
                $("#ddlCountry").append($("<option></option>").val(i).text(item));
                datanum = 1;
            });
            GetCity();
        });
        $("#ddlCountry").prepend($("<option></option>").val("-1").text("Your Country"));
    }
    function GetCity() {
        $("#ddlCity").empty();
        var hidfldcid = $("#hidfldCountry").val();
        var url = "/Account/GetCity/" + hidfldcid;
        var datanum = 0;
        $.getJSON(url, function (data) {
            $.each(data, function (i, item) {
                datanum = 1;
            });
            if (datanum == 0) {
                $("#ddlCity").prepend($("<option></option>").val("-1").text("Your City"));
            } else {
                $("#ddlCity").prepend($("<option></option>").val("-1").text("Your City"));
                $("#ddlCity").append($("<option></option>").val("0").text("Not Shown"));
            }
            $.each(data, function (i, item) {
                $("#ddlCity").append($("<option></option>").val(i).text(item));
            });
            $("#ddlCity option[value='" + $("#hidfldCity").val() + "']").attr("selected", "selected");
        });
    }

    function ConnectSNS(id, name) {
        if ($("#snsLink-" + id).attr("data-status") == "on") {
            //cancel
            Boxy.ask('<br />Are you sure you want to cancel ' + name + ' connect?', { '1': 'Yes', '2': 'No' }, function (val) {
                if (val == '1') {
                    $.getJSON("/Account/SNSCancelConnect", { id: id }, function (json) {
                        Boxy.ask('Your ' + name + ' account is no longer linked to your profile.', { '1': 'Close' }, function (val) {
                            $("#snsLink-" + id).addClass("off").removeClass("on").css("left", "0px");
                            $("#snsLink-" + id).attr("data-status", "off");
                        }, { title: name + ' Connect' });
                        $(".boxyInner").addClass("popup");
                    });
                }
            }, { title: name + ' Connect' });

            $(".boxyInner").addClass("popup");
            $("#snsLink-" + id).addClass("off").removeClass("on").css("left", "27px");
        } else {
            //bind
            location.href = "/sns/" + name;
        }

        //if ($("#snsLink-" + id).attr("data-status") == "on") {
        //    //cancel
        //    Boxy.confirm('<br />Are you sure cancel ' + name + ' connect?', function () {
        //        $.getJSON("/Account/SNSCancelConnect", { id: id }, function (json) {
        //            Boxy.alert("cancel success！", function () {
        //                $("#snsLink-" + id).addClass("off").removeClass("on").css("left", "0px");
        //                $("#snsLink-" + id).attr("data-status", "off");
        //            }, { title: 'success' });
        //            $(".boxyInner").addClass("popup");
        //        });
        //    },
        //    { title: "Are you sure" }
        //   );
        //    $(".boxyInner").addClass("popup");

        //    $("#snsLink-" + id).addClass("off").removeClass("on").css("left", "27px");
        //} else {
        //    //bind
        //    location.href = "/sns/" + name;
        //}
    }
    function getIsPleasure(obj) {
        var d_val = $(obj).attr("data-type");
        if (d_val == "1") {
            $(obj).addClass("uncheckbox");
            $(obj).attr("data-type", "0");
        }
        else {
            $(obj).removeClass("uncheckbox");
            $(obj).attr("data-type", "1");
        }
        $("#createIsPle").val($(obj).attr("data-type"));
    }
    function getIsBusiness(obj) {
        var d_val = $(obj).attr("data-type");
        if (d_val == "1") {
            $(obj).addClass("uncheckbox");
            $(obj).attr("data-type", "0");
        }
        else {
            $(obj).removeClass("uncheckbox");
            $(obj).attr("data-type", "1");
        }
        $("#createIsBus").val($(obj).attr("data-type"));
    }
    function getIsPlanner(obj) {
        var d_val = $(obj).attr("data-type");
        if (d_val == "1") {
            $(obj).addClass("uncheckbox");
            $(obj).attr("data-type", "0");
        }
        else {
            $(obj).removeClass("uncheckbox");
            $(obj).attr("data-type", "1");
        }
        $("#createUserType").val($(obj).attr("data-type"));
    }
    function getProfileImage(uid) {
        $("#refreshfacebookdiv").html("loading...");

        $.getJSON("/Account/GetFacebookProfileImage", { uid: uid }, function (json) {
            if (json.scuess == "ok") {
                $("#profilepic").attr("src", json.url);
                location.reload();
            } else {
                Boxy.alert(json.message, function () {
                }, { title: 'Message' });
                $(".boxyInner").addClass("popup");
            }

            $("#refreshfacebookdiv").html(json.message);
        });
    }
</script>


<div class="grayBox">
    <h2 class="blugBigBg"><span class="bg">Edit Profile</span></h2>
    <p>
    </p>
    <form class="fillForm" id="setform" name="setform" method="post">
        <ul>
            <li>
                <a><strong>Please review your account and profile for accuracy and completeness. </strong>
                    <br />
                    Adding a photo and status update, as well as turning on connections to Facebook, LinkedIn, Twitter and i-Meet will enhance your experience!
                </a>
            </li>
            <li class="formLi noLineT">
                <label class="title">Username</label>: 
                            <span class="rightCol">
                                <input type="text" class="inputBg w300 " id="username" name="username" value="@profile.Username" />
                                <span class="Ccbcbcb mL10">Not shown publicly </span>
                            </span>
            </li>
            <li class="formLi noLineT">
                <label class="title">First Name</label>: 
                            <span class="rightCol">
                                <input type="text" class="inputBg w300 " id="firstname" name="firstname" value="@profile.Firstname" />
                            </span>
            </li>
            <li class="formLi noLineT">
                <label class="title">Last Name</label>: 
                            <span class="rightCol">
                                <input type="text" class="inputBg w300 " id="lastname" name="lastname" value="@profile.Lastname" />
                            </span>
            </li>
            <li class="formLi">
                <label class="title">Date of Birth</label>: 
                            <span class="rightCol">
                                <span class="inlineBox inputBox f15">

                                    @Html.DropDownList("selectDay", ViewData["dayList"] as List<SelectListItem>, null, new Dictionary<string, object> { { "class", "select w80 mR5" }, { "onchange", "ChangeDateTime('" + "selectYear" + "','" + "selectMonth" + "','" + "selectDay" + "',3)" } })
                                    @Html.DropDownList("selectMonth", ViewData["monthList"] as List<SelectListItem>, null, new Dictionary<string, object> { { "class", "select w90 mL5 mR5" }, { "onchange", "ChangeDateTime('" + "selectYear" + "','" + "selectMonth" + "','" + "selectDay" + "',2)" } })
                                    @Html.DropDownList("selectYear", ViewData["yearList"] as List<SelectListItem>, null, new Dictionary<string, object> { { "class", "select w90 mL5" }, { "onchange", "ChangeDateTime('" + "selectYear" + "','" + "selectMonth" + "','" + "selectDay" + "',1)" } })
                                    @*  <select name="birthday" class="select w70 mR5 mL5" runat="server" id="selectDay">
                                </select>
                                 <select name="birthmth" class="select w70 mR5 mL5" runat="server" id="selectMonth">
                                </select>
                                 <select name="birthyear" class="select w70 mR5 mL5" runat="server" id="selectYear">
                                </select>*@
                                </span>
                                <span class="Ccbcbcb mL10">Not shown publicly </span>
                            </span>

                <input id="hidfldYear" name="hidfldYear" value="-1" type="hidden" />
                <input id="hidfldMonth" name="hidfldMonth" value="-1" type="hidden" />
                <input id="hidfldDay" name="hidfldDay" value="-1" type="hidden" />

            </li>
           <li class="formLi ">
                <label class="title">Email</label>: 
                            <span class="rightCol">
                                <input type="text" class="inputBg w300  inputError" id="email" name="email" value="@profile.Email" data-bvalidator="required,email" disabled="disabled" />
                                @* <span class="error">*The Email Address you have just entered is invaild.</span>*@
                            </span>
            </li>
            <li class="formLi ">
                <label class="title">New Email</label>: 
                            <span class="rightCol">
                                <input type="text" class="inputBg w300  inputError" id="newemail" name="newemail" value="@user.NewEmailId" data-bvalidator="required,newemail" /> <span style="color:red;">@verificationstatus</span>
                                @* <span class="error">*The Email Address you have just entered is invaild.</span>*@
                            </span>
            </li>
            <li class="formLi ">
                <label class="title">Alternate Email</label>: 
                            <span class="rightCol">
                                <input type="text" class="inputBg w300  inputError" id="altemail" name="altemail" value="@profile.AlternateEmail" data-bvalidator="email" />
                                <span class="Ccbcbcb mL10">Optional </span>
                                @* <span class="error">*The Alternate E-mail Address you have just entered is invaild.</span>*@
                            </span>
            </li>
            @* <li class="formLi">
                            <label class="title">Job Title</label>: 
                            <span class="rightCol">
                                <input type="text" class="inputBg w300 " id="jobtitle" name="jobtitle" value="@profile.GetUserProfile(int.Parse(User.Identity.Name)).JobTitle" />
                                <span class="Ccbcbcb mL10">Optional </span>
                            </span>
                        </li>
                        <li class="formLi">
                            <label class="title">Company</label>: 
                            <span class="rightCol">
                                <input type="text" class="inputBg w300" id="company" name="company" value="@profile.GetUserProfile(int.Parse(User.Identity.Name)).Company" />
                                <span class="Ccbcbcb mL10">Optional </span>
                            </span>
                        </li>*@
            <li class="formLi">
                <label class="title">Gender</label>: 
                            <span class="rightCol">
                                <span class="mR20">
                                    <input type="radio" id="gender" name="gender" class="choose" value="0" onclick="Permissions(this);" /><label>Male</label></span>
                                <span class="mR20">
                                    <input type="radio" id="gender2" name="gender" class="choose" value="1" onclick="Permissions(this);" /><label>Female</label></span>
                                <span class="mR20">
                                    <input type="radio" id="gender3" name="gender" class="choose" value="2" onclick="Permissions(this);" /><label>Unspecified</label></span>
                                <input id="statis" name="statis" type="hidden" value="@profile.Gender"/>
                            </span>
            </li>
            <li class="formLi">
                <label class="title">Your Country</label>: 
                            <span class="rightCol">
                                <select id="ddlCountry" class="select w300">
                                </select>
                                <span class="Ccbcbcb mL10">e.g. China</span>
                            </span>
                <input id="hidfldCountry" name="hidfldCountry" value="-1" type="hidden" />
            </li>
            <li class="formLi">
                <label class="title">Your City</label>: 
                            <span class="rightCol">
                                <select id="ddlCity" class="select w300"></select>
                                <span class="Ccbcbcb mL10">e.g. Shanghai</span>
                            </span>
                <input id="hidfldCity" name="hidfldCity" value="-1" type="hidden" />
            </li>
            <li class="formLi">
                <label class="title">Password</label>: 
                            <span class="rightCol">
                                <a href="ChangePassword" class="btnGrayH27"><span class="bg">Change Password</span></a>
                            </span>
            </li>
            <li class="formLi">
                <label class="title alignT">Profile Image</label>: 
                            <span class="rightCol alignT">
                                <span class="userPic">@*<img src="/Staticfile/Avatar/@(Convert.ToInt32(User.Identity.Name)/1000)/@User.Identity.Name/@DateTime.Now.ToString("yyyyMM")/@(User.Identity.Name)_100.jpg" alt="username" />*@
                                    <img id="profilepic" src="@PageHelper.GetUserCutAvatar(userId, (int)IMeet.IBT.Services.Identifier.AccountSettingAvatarSize._mn)" alt="username" width="100" height="100" />
                                </span>
                                <span class="userControl" style="display: none">
                                    <a href="#" class="btnGrayH27 mT5"><span class="bg w130">Upload an Image</span></a><br />
                                    <a href="#" class="btnGrayH27 mT5 "><span class="bg w130">Refresh from Facebook</span></a>
                                </span>
                                <span class="userControl">
                                    <span class="chooseFile"><a href="javascript:void(0);" onclick="ibt.loadUrlPop('/Account/Upload','Get','',function(){AccountSetting.uploadAvator();},'UPLOAD YOUR PROFILE PICTURE');">
                                        <img src="/images/button/btn_upload_w89.gif" /></a><span class="mL10">No file chosen</span></span>
                                    <a href="javascript:void(0);" onclick="getProfileImage(@userId);" class="btnGrayH27 mT5 "><span class="bg w130">Refresh from Facebook</span></a>
                                </span>
                                <span class="userControl">
                                    <div id="refreshfacebookdiv"></div>
                                </span>
                            </span>
            </li>
            <li class="formLi">
                <label class="title alignT">Connect</label>: 
                            <span class="rightCol alignT">
                                <ul class="connect">
                                    <li>
                                        <div class="switch right"><span class="switchMain"><span id="@Html.Raw("snsLink-" + ((int)IMeet.IBT.Services.Identifier.SnsType.Facebook).ToString())" data-Status="@ViewBag.Facebook" onclick="ConnectSNS(@Html.Raw(((int)IMeet.IBT.Services.Identifier.SnsType.Facebook).ToString()),'@IMeet.IBT.Services.Identifier.SnsType.Facebook.ToString()');" class="@ViewBag.Facebook draggable"></span></span></div>
                                        <span class="facebookH26 main">Connect with Facebook</span>
                                    </li>
                                    <li>
                                        <div class="switch right"><span class="switchMain"><span id="@Html.Raw("snsLink-" + ((int)IMeet.IBT.Services.Identifier.SnsType.Twitter).ToString())" data-Status="@ViewBag.Twitter"  onclick="ConnectSNS(@Html.Raw(((int)IMeet.IBT.Services.Identifier.SnsType.Twitter).ToString()),'@IMeet.IBT.Services.Identifier.SnsType.Twitter.ToString()');" class="@ViewBag.Twitter draggable"></span></span></div>
                                        <span class="twitterH26 main">Connect with Twitter</span>
                                    </li>
                                    <li>
                                        <div class="switch right"><span class="switchMain"><span id="@Html.Raw("snsLink-" + ((int)IMeet.IBT.Services.Identifier.SnsType.LinkedIn).ToString())" data-Status="@ViewBag.LinkedIn" onclick="ConnectSNS(@Html.Raw(((int)IMeet.IBT.Services.Identifier.SnsType.LinkedIn).ToString()),'@IMeet.IBT.Services.Identifier.SnsType.LinkedIn.ToString()');" class="@ViewBag.LinkedIn draggable"></span></span></div>
                                        <span class="linkedinH26 main">Connect with Linkedin</span>
                                    </li>
                                    <li>
                                        <div class="switch right"><span class="switchMain"><span  id="@Html.Raw("snsLink-" + ((int)IMeet.IBT.Services.Identifier.SnsType.IMeet).ToString())" data-Status="@ViewBag.IMeet" onclick="ConnectSNS(@Html.Raw(((int)IMeet.IBT.Services.Identifier.SnsType.IMeet).ToString()),'@IMeet.IBT.Services.Identifier.SnsType.IMeet.ToString()');" class="@ViewBag.IMeet draggable"></span></span></div>
                                        <span class="imeetH28 main">Connect with i-Meet</span>
                                    </li>
                                </ul>
                            </span>
            </li>
            <li class="formLi NBorderB">
                <label class="title alignT">Status Update</label>: 
                            <span class="rightCol alignT">
                                <textarea class="w300" id="statusUpdate" name="statusUpdate" onkeydown="countCharacters();" onkeyup="countCharacters();" cols="30" rows="2">@profile.StatusUpdate</textarea><br />
                                <span class="n_characters w300">characters left: <span class="character_count" id="spnCharLeft">300</span></span>
                            </span>
            </li>
            <li class="formLi">
                <label class="title alignT">
                    Tell us how you see the world<br />
                    (check all that applies)</label>: 
                            <span class="rightCol alignT">
                                <ul>
                                    <li>
                                        <span class="checkboxBigTxt @(user.IsPleasure == true ? "uncheckbox" : "")" data-type="@(user.IsPleasure == true ? "1" : "0")" onclick="getIsPleasure(this);">
                                            <span class="bg"><span class="alignM"></span>Travel for Pleasure</span>
                                        </span>
                                        <input type="hidden" id="createIsPle" name="createIsPle" value="@(user.IsPleasure == true ? "1" : "0")" />
                                    </li>
                                    <li>
                                        <span class="checkboxBigTxt @(user.IsBusiness == true ? "uncheckbox" : "")" data-type="@(user.IsBusiness == true ? "1" : "0")" onclick="getIsBusiness(this);">
                                            <span class="bg"><span class="alignM"></span>Travel for Business</span>
                                        </span>
                                        <input type="hidden" id="createIsBus" name="createIsBus" value="@(user.IsBusiness == true ? "1" : "0")" />
                                    </li>
                                    <li>
                                        <span class="checkboxBigTxt @(user.UserType != 0 ? "uncheckbox" : "")" data-type="@user.UserType" onclick="getIsPlanner(this);">
                                            <span class="bg"><span class="alignM"></span>Meeting & Event Planner</span>
                                        </span>
                                        <input type="hidden" id="createUserType" name="createUserType" value="@user.UserType" />
                                    </li>
                                </ul>
                            </span>
                <li class="">
                    <div class="btn">
                        <a href="javascript:void(0);" class="btnBlueH45" onclick="AccountSetting.setting();"><span class="bg">Save Profile</span></a>
                        <a href="#" class="btnGrayH45"><span class="bg">Cancel</span></a>
                    </div>
                </li>
        </ul>
    </form>
</div>
@section PageSide{
    @Html.Partial("Widget/_Advertisement")
    @Html.Partial("Widget/_Promotions")
    @Html.Partial("Widget/_IBT")
}

