﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <div class="content  forgotPassword" >
            <div class="header grayF3Bg">
                <div class="fixbox">
                    <a href="/Home" class="logo">i 've Been There!</a>
                </div>
          </div>
          <div class="grayF3Bg textMain">
              <div class="correctBox">
                    We've sent information about resetting your password to your recovery email address.
              </div>
              <div class="followPrevBox">
                   <p> Check the message sent to you at eddyok9@gmail.com to find out what to do next. </p>
                   <a href="/home" class="btnBlueH45 mT20 btn45Widening "><span class="bg">FNISH</span></a>
              </div>
             </div>
        </div>
@section PageSide{
    @Html.Partial("Widget/_WBT")
}
