﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="/js/send.js"></script>
<script type="text/javascript">
    $(document).ready(function ()
    { $('#forgotForm').bValidator(); });
</script>
  <div class="content  forgotPassword" >
            <div class="header grayF3Bg">
                <div class="fixbox">
                    <a href="/home" class="logo">i 've Been There!</a>
                </div>
          </div>
          <div class="grayF3Bg textMain">
              <div class="box">
                   Forgot your Password?
              </div>
              <div class="followPrevBox box">
                   <p class="dashedBoxBot"> Please enter the e-mail address for your account. A verification token will be sent to you.
Once you have received the token, you will be able to choose a new password 
for your account. </p>
					<form class="mB15" id="forgotForm">
                    	<label>E-mail Address :</label>
                        <input type="text" id="email" name="email" class="inputBg w300" value="" data-bvalidator="required,email"/>
                    </form>
                   <a href="javascript:void(0);" class="btnBlueH45 mT20 btn45Widening " onclick="sendPwd.send();"><span class="bg">Submit</span></a>
              </div>
             </div>
        </div>
@section PageSide{
    @Html.Partial("Widget/_WBT")
}