﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int userId = ViewBag.UserId;
}
@Html.Partial("Widget/_Header")
<script type="text/javascript">
    $("#a_profile").attr("class", "active");
</script>
@Html.Partial("Widget/_Search")
@Html.Partial("Widget/_ProfileBar")
@Html.Hidden("ibt_userId", userId)
@Html.Hidden("att_objid", userId)
@Html.Hidden("obj_type", 0)
@Html.Hidden("country_ibtType", (int)IMeet.IBT.Services.Identifier.IBTType.User)
@Html.Hidden("ibt_guid", System.Guid.NewGuid().ToString().Replace("-", ""))
@Html.Hidden("ibt_attType", (int)IMeet.IBT.Services.Identifier.AttachmentType.NewsFeed)
@Html.Hidden("att_type", (int)IMeet.IBT.Services.Identifier.AttachmentType.NewsFeed)

<input type="hidden" id="feed_UserId" value="@userId" />
<div class="supplierBox">
    <div class="info info2">
        <div class="main">
            <ul class="photosList fixbox" id="photolist"></ul>
            <br />
            <div id="clickloadmore_photo" style="width: 100%; border: 0px solid #E5E5E5; text-align: center; height: 24px; padding-top: 10px;">
                <a href="javascript:void(0);" onclick="PhotoManage.GetPhotoListOnClick();">Click to load more!</a>
            </div>
        </div>

    </div>
</div>
@section PageSide{
    @Html.Partial("Widget/_Advertisement")
    @Html.Partial("Widget/_Promotions")
    @Html.Partial("Widget/_IBT")
}

@section PageFoot{
    <script src="/js/photoAlbum.js"></script>
    <script src="/js/jfeedComments.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#tabPhotos").addClass("unfold");
            //$("#ibtCounter").empty();
            //document.getElementById("ibtCounter").style.display = "none ";
            PhotoManage.init();
        });
    </script>
}

