﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content signup registerSuccess">
        <div class="column2 ">
            <div class="colMain">
                <div class="otherBox">
            	<div class="logoBar">
                     <a href="/home" class="logo">i 've Been There!</a>
                 </div>
                    <div class="correctBox">
                         Registration Success!
                      </div>
                      <div class="textBox">
                      <p class="congratulations">Congratulations!</p>
                      <p>You have successfully completed your registration.
Please check your email as we have sent you 
all your registration details.</p>
						<a href="/Account/AccountSetting" class="btnBlueH45 btn45Widening mT20"><span class="bg">FINISH</span></a>
              		</div>
                  </div>
            </div>
            <div class="colMain">
                <div class="signupBox">
                	<div  class="login alignR">
                    	  <a href="javascript:void(0);" class="C31AEE3 uppercase" onclick="ibt.loadUrlPop('/account/login','Get','',function(){$('#pop_login').bValidator({singleError:true});});">Login</a>
                    </div>
                	<div class="mapBox" style="background-image:url(/images/map_w376_01.gif)">
                    
                    </div>
                </div>
            </div>
        </div>
        </div>
@section PageSide{
    @Html.Partial("Widget/_WBT")
}