﻿@{
    Layout = null;
}
<link href="@Url.Content("~/js/uploadify/uploadify.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/js/uploadify/jquery.uploadify.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/js/jquery.imgareaselect-0.9.8/css/imgareaselect-animated.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/js/jquery.imgareaselect-0.9.8/scripts/jquery.imgareaselect.pack.js")" type="text/javascript"></script>

<script type="text/javascript">
    var ImgConfig = {
        ImageWidth: 282,
        ImageHeight: 282,
        AvatarUrl: ''
    }
    function UpdateAvartar(response) {
        var htmltable = new Object();
        htmltable = eval("(" + response + ")");
        //get the json data and evaluate to the  parmetes
        ImgConfig.ImageWidth = htmltable.ImageWidth;
        ImgConfig.ImageHeight = htmltable.ImageHeight;
        ImgConfig.AvatarUrl = htmltable.AvatarUrl + "?" + Math.random(10000);
    }
    function documentReady() {
        $("#imgshow").css("display", "block");
        $("#imgAvatar").removeAttr("src");
        $("#imgAvatar").attr("src", ImgConfig.AvatarUrl);
        $("#previewAvtar").html('');
        $("<div><img src=\"" + ImgConfig.AvatarUrl + "\" style=\"position: relative;\" /></div>")
          .css({
              float: 'left',
              position: 'relative',
              overflow: 'hidden',
              width: '120px',
              height: '120px'
          })
          .prependTo($('#previewAvtar'));
    }
    $(function () {

    });
    var IfError = function IfError() {
        documentReady();
        picLoad();
    }

    function picLoad() {
        var swich = $('#imgAvatar').imgAreaSelect({
            aspectRatio: '1:1',           //
            onSelectChange: preview,
            //borderWidth: 3,               //selection  borderWidth
            keys: true,                    //enables keybords event ↑ ↓ ← →
            outerOpacity: 0.5,             //未被选中的背景透明度
            x1: 50,
            y1: 50,
            x2: 232,
            y2: 232,
            minHeight: 150,
            minWidth: 150
        });
    }

    //this method fro selection chageing
    function preview(img, selection) {
        var scaleX = 120 / (selection.width || 1);
        var scaleY = 120 / (selection.height || 1);

        $('#previewAvtar > div > img').css({
            width: Math.round(scaleX * ImgConfig.ImageWidth) + 'px',   //width
            height: Math.round(scaleY * ImgConfig.ImageHeight) + 'px',   //height
            marginLeft: '-' + Math.round(scaleX * selection.x1) + 'px',
            marginTop: '-' + Math.round(scaleY * selection.y1) + 'px'
        });
        //保存选取框的参数为了确定以后记录位置
        $("#hidfldBigPointX").val(selection.x1);  //得到选中区域左上角横坐标
        $("#hidfldBigPointY").val(selection.y1);  //得到选中区域左上角纵坐标
        $("#hidfldBigPointX2").val(selection.x2);
        $("#hidfldBigPointY2").val(selection.y2);
        $("#ImgNowWidth").val(selection.width);
        $("#ImgNowHeight").val(selection.height);
    }

    function GetImg() {
        if ($("#imgAvatar").attr("src") == "" || $("#imgAvatar").attr("src") == "/images/icon/upload_imageIcon.jpg") {
            $("#tipMsg").html("Please first upload pictures!");
        }
        else {
            var x1, y1, xwidth, yheight, spath;
            x1 = $("#hidfldBigPointX").val();
            y1 = $("#hidfldBigPointY").val();
            xwidth = $("#ImgNowWidth").val();
            yheight = $("#ImgNowHeight").val();
            /*图片路径，将保存至数据库的值 20130206裕冲修改*/
            //picpath = $("#imgAvatar").attr("src");
            picpath = $("#imgAvatar_temp").attr("src");
            /*修改结束*/
            $.post("/Account/CropImg?UserId=" + $("#UserId").val(), { x1: x1, y1: y1, width: xwidth, height: yheight, picpath: picpath }, function (json) {
                $("#tipMsg").html(json.Message);
                location.reload();
                // $("#previewAvatar").attr("src", url + "?" + Math.random());
            })
        }
    }

    
</script>
<div id="popupUpImage" >
		<div class="popupMain popupUpImage">
            <div class="popupUpImage_imgBox">
                    <div class="ImageBox">
                    <div id="previewAvtar" runat="server" style="margin-right: 10px; width: 120px; float: left;">
                       
                    </div>    
                    <div id="divfile"><input type="file" id="upfile" name="upfile" /></div>
                    <div id="imgshow" style="display:none;">
                        <a href="#" onclick="document.getElementById('upfile').click();">
                            <img id="imgAvatar" src="/images/icon/upload_imageIcon.jpg" width="282" vspace="0" height="282" alt="uploadImage" />
                            <input type="hidden" id="imgAvatar_temp" />
                        </a>
                    </div>
                    <div class="success" style="display: none" id="success"></div>
                         <input id="hidfldBigPointX" name="hidfldBigPointX"  type="hidden" />
                    <input id="hidfldBigPointY" name="hidfldBigPointY"  type="hidden" />
                    <input id="hidfldBigPointX2" name="hidfldBigPointX2"  type="hidden" />
                    <input id="hidfldBigPointY2" name="hidfldBigPointY2"  type="hidden" />
                    <input id="ImgNowWidth" name="ImgNowWidth" value="120" type="hidden" />
                    <input id="ImgNowHeight" name="ImgNowHeight" value="120" type="hidden" />
                    <input id="UserId" name="UserId" type="hidden" value="@User.Identity.Name" /> 
               </div>
                   
                <div class="contentBox" id="tipMsg">Please upload your profile image</div>
            </div>
          <div class="Button mT15  ">
          <div class="mT15 w50p" style="margin:0 auto;">
          
          <a href="#" class="btnGrayH45" onclick="GetImg();"><span class="bg">Done</span></a>
          <a href="javascript:void(0)" onclick="Boxy.get(this).hideAndUnload();" class="btnBlueH45 "><span class="bg">Cancel</span></a>
          </div>                    
                       
           </div>
        </div>

</div>