﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="/js/jquery-1.7.1.min.js"></script>
<script src="/js/changepwd.js"></script>
<script type="text/javascript">
    $(document).ready(function ()
    { $('#changeForm').bValidator(); });
    function changePwd() {
        if ($("#newpwd").val() == "" || $("#confirmpwd").val() == "") {
            Boxy.alert("Sorry, your password information  is incomplete. Please try again.", null, { title: "Change Password" });
            $(".boxyInner").addClass("popup");
        }
        else {
            ChangePwd.change();
        }
    }
</script>
@Html.Partial("Widget/_Header")
<div class="grayBox minHeightBox">
    <div class="fixbox">
        <h2 class="blugBigBg left"><span class="bg">Change Password</span></h2>
    </div>
    <form class="fillForm" id="changeForm" name="changeForm">
        <ul>
            <li class="formLi noLineT">
                <label class="title">Current</label>: 
                                    <span class="rightCol" style="z-index: 0;">
                                        <input type="password" value="" id="oldpwd" name="oldpwd" class="inputBg w300 " data-bvalidator="required,rangelength[4:25]">
                                        <span class="Ccbcbcb mL10 inlineBox alignT">Your current password<br />
                                            <a href="ForgotPassword" class="C626262">Don't know your password?</a></span>
                                    </span>
            </li>
            <li class="formLi">
                <label class="title">New</label>: 
                                    <span class="rightCol" style="z-index: 0;">
                                        <input type="password" value="" id="newpwd" name="newpwd" class="inputBg w300 " data-bvalidator="required,rangelength[4:25]">
                                        <span class="Ccbcbcb mL10">Be Tricky!</span>
                                    </span>
            </li>
            <li class="formLi">
                <label class="title">Retype new</label>: 
                                    <span class="rightCol" style="z-index: 0;">
                                        <input type="password" value="" id="confirmpwd" name="confirmpwd" class="inputBg w300 " data-bvalidator="equalto[newpwd],rangelength[4:25]">
                                        <span class="Ccbcbcb mL10">Confirm password</span>
                                    </span>
            </li>
            <li class="formLi NBorderB">
                <label class="title">&nbsp;</label>
                <a href="javascript:void(0);" class="btnBlueH45 mL15" onclick="changePwd();"><span class="bg">change password</span></a>
                <a href="AccountSetting" class="btnGrayH45 mL10"><span class="bg">Cancel</span></a>
            </li>
        </ul>
    </form>
</div>
@section PageSide{
    @Html.Partial("Widget/_Advertisement")
    @Html.Partial("Widget/_Promotions")
    @Html.Partial("Widget/_IBT")
}