﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    IMeet.IBT.Services.ProfileService profile = new IMeet.IBT.Services.ProfileService();
}
@Html.Partial("Widget/_Header")
<input type="hidden" id="userId" value="@ViewBag.userId" />
<div class="grayLineBg">
    <div class="grayBox ">
        <div class="fixbox">
            <h2 class="blugBigBg left"><span class="bg">Friend Requests</span></h2>
        </div>
        <div class="connectionsBox requestBox">
            @{
                if (profile.GetRequestCount(ViewBag.userId) > 0)
                {
                                    
                <ul class="fixbox" id="requestList">
                    @* @{
                                            foreach (Connection item in connection.GetConList(Convert.ToInt32(User.Identity.Name),0))
                                            {
                                           <li>
                                               <div class="bgStripe">
                                                   <span class="right mT15">
                                                       <a href="javascript:void(0);" class="btnBlueH45 mR10" onclick="Connection.create();"><span class="bg">CONFIRM</span></a>
                                                       <a href="javascript:void(0);" class="btnGrayH45" onclick="Connection.ignore();"><span class="bg">IGNORE</span></a>
                                                   </span>
                                                   <a href="#" class="userPic">
                                                       <img src="/images/avatar/w75_02.gif" alt="User Name" /></a>
                                             
                                                       <dl>
                                                           <dt>@profile.GetUserProfile(item.FriendId).Lastname<span class="txt">@profile.GetUserCity(item.FriendId,Convert.ToInt32(profile.GetUserProfile(item.FriendId).CityId)).CityName , @profile.GetUserCountry(item.FriendId,Convert.ToInt32(profile.GetUserProfile(item.FriendId).CountryId)).CountryName </span></dt>
                                                           <dd><a href="/Connection/Reply?userId=@profile.GetUserId()&friendId=@item.FriendId" class="underline">Send a Message</a></dd>
                                                           <dd class="mutalFriends">18 mutal friends</dd>
                                                       </dl>
                                           
                                               </div>
                                           </li>
                                        }
                                            }*@
                </ul>
                                   
                  }
                  else
                  {
                    <div class="connectionsBox requestBox">
                    		<div class="tipsBox">
                            	<p class="txt">You currently have no invitation or request.</p>
                                <a href="#">Please see the search bar to find your friends!</a>
                            </div>
                    </div>
                @*<div class="connectionsBox requestBox">
                    <span style="font-weight: bold;">@profile.GetRequestCount(ViewBag.userId) Invitations and Requests</span>
                </div>*@
                  }
                                     
            }
        </div>
    </div>
</div>
@section PageSide{ 
    @Html.Partial("Widget/_Advertisement")
    @Html.Partial("Widget/_Promotions")
    @Html.Partial("Widget/_IBT")
}
@section PageFoot{
    <script src="/js/connection.js"></script>
    <script src="/js/jFriendRequestList.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            requestList.initData();
            requestList.init();
        });

    </script>
}