﻿@{
    ViewBag.Title = "Signup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="/js/effect.js"></script>
<script src="/js/signup.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        GetByJquery();
        setTimeout("initCountryData()", 1000);
        setTimeout("initCityData()", 3000);
        var t = setTimeout;
        clearTimeout(t);
        //GetByJquery();
        //initCountryData();
        //initCityData();
        $('#signupForm').bValidator();
    });
    function initCountryData() {
        $("#ddlCountry").change(function () {
            var value = $("#ddlCountry").val();
            $("#hidfldCountry").attr("value", value);  //隐藏控件赋值
            GetCity();
            $("#hidfldCity").attr("value", '-1');// Hiddenid为隐藏控件的ID  给它赋值        
        });
    }
    function initCityData() {
        $("#ddlCity").change(function () {
            var value = $("#ddlCity").val();
            $("#hidfldCity").attr("value", value);
        });
    }
    function GetByJquery() {
        var datanum = 0;
        //$("#ddlCountry").empty();
        $.getJSON("/Account/GetCountry", function (data) {
            $.each(data, function (i, item) {
                $("#ddlCountry").append($("<option></option>").val(i).text(item));
                datanum = 1;
            });
            GetCity();
        });
        $("#ddlCountry").prepend($("<option></option>").val("-1").text("Your Country"));
    }
    function GetCity() {
        $("#ddlCity").empty();
        var hidfldcid = $("#hidfldCountry").val();
        var url = "/Account/GetCity/" + hidfldcid;
        var datanum = 0;
        $.getJSON(url, function (data) {
            $.each(data, function (i, item) {
                datanum = 1;
            });
            if (datanum == 0) {
                $("#ddlCity").prepend($("<option></option>").val("-1").text("Your City"));
            } else {
                $("#ddlCity").prepend($("<option></option>").val("-1").text("Your City"));
                $("#ddlCity").append($("<option></option>").val("0").text("Not Shown"));
            }
            $.each(data, function (i, item) {
                $("#ddlCity").append($("<option></option>").val(i).text(item));
            });
        });
    }
    function changeAttr($this, defaultValue) {
        $this.setAttribute("type", "password");
        //如果当前值为默认值，则清空
        if ($this.value == defaultValue) value = "";

    }
    function changeAttr2($this, defaultValue) {
        if ($this.value == "") {
            $this.setAttribute("type", "text");
            value = defaultValue;
        }
    }
    function validatorName(value, num) {
        if (num == "1") {
            if (value == "First Name") { return false;}
        }
        if (num == "2") {
            if (value == "Last Name") { return false; }
        }
        return true;
    }
    function changeValue($this, defaultValue) {
        //如果当前值为默认值，则清空
        if ($this.value == defaultValue) value = "";

    }
    function changeValue2($this, defaultValue) {
        if ($this.value == "") {
            value = defaultValue;
        }
    }
    //function CheckType() {
    //    var selCheckValue = ibt.getCheckboxVal("#signupList li>span", "data-type");
    //    if (selCheckValue != "") {
    //        $("#createUserType").val(selCheckValue);
    //    }
    //    else {
    //        $("#createUserType").val("3");
    //    }
    //    alert($("#createUserType").val());
    //}
    function getIsPleasure(obj) {
        var d_val = $(obj).attr("data-type");
        if (d_val == "1") {
            $(obj).addClass("uncheckbox");
            $(obj).attr("data-type", "0");
        }
        else {
            $(obj).removeClass("uncheckbox");
            $(obj).attr("data-type", "1");
        }
        $("#createIsPle").val($(obj).attr("data-type"));
    }
    function getIsBusiness(obj) {
        var d_val = $(obj).attr("data-type");
        if (d_val == "1") {
            $(obj).addClass("uncheckbox");
            $(obj).attr("data-type", "0");
        }
        else {
            $(obj).removeClass("uncheckbox");
            $(obj).attr("data-type", "1");
        }
        $("#createIsBus").val($(obj).attr("data-type"));
    }
    function getIsPlanner(obj) {
        var d_val = $(obj).attr("data-type");
        if (d_val == "1") {
            $(obj).addClass("uncheckbox");
            $(obj).attr("data-type", "0");
        }
        else {
            $(obj).removeClass("uncheckbox");
            $(obj).attr("data-type", "1");
        }
        $("#createUserType").val($(obj).attr("data-type"));
    }
</script>

<div class="content signup">
    <div class="column2 ">
        <div class="colMain">
            <div class="otherBox">
                <div class="logoBar">
                    <a href="/" class="logo">i 've Been There!</a>
                </div>
                <h2>Create your account to explore
                           <span class="txt">I've Been There.</span>
                </h2>
                <div class="list">
                    <ul>
                        <li><a href="/sns/facebook" class="right IERound round">Use Facebook Login</a>
                            <img alt="Facebook" src="/images/logo/facebook_h40.gif">
                        </li>
                        <li><a href="/sns/Twitter" class="right IERound round">Use Twitter Login</a>
                            <img alt="Twitter" src="/images/logo/twitter_h40.gif">
                        </li>
                        <li><a href="/sns/LinkedIn" class="right IERound round">Use LinkedIn Login</a>
                            <img alt="Linkedin" src="/images/logo/linkedin_h40.gif">
                        </li>
                        <li class="Nbg"><a href="/sns/iMeet" class="right IERound round">Use i-Meet Login</a>
                            <img alt="i-Meet" src="/images/logo/imeet_h40.gif">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="colMain">
            <div class="signupBox">
                <div class="login alignR">
                    <a href="javascript:void(0);" class="C31AEE3 uppercase" onclick="ibt.loadUrlPop('/account/login','Get','',function(){$('#pop_login').bValidator({singleError:true});  $('.boxyInner').addClass('popup');inputText();},'Login');">Login</a>
                </div>
                <div id="col_signup">
                    <h2>Sign up with
                    <span class="txt">Your Email Address.</span>
                    </h2>

                    <form id="signupForm" name="signupForm" method="post" style="z-index: auto;">
                        <ul id="signupList">
                            <li><span class="inlineBox relative">
                                <input type="text" value="First Name" class="inputBg" id="firstname" name="firstname" data-bvalidator="required,rangelength[2:15],validatorName[1]" data-bvalidator-msg="Please enter the first name."/>
                                @*<label for="firstname" class="value">First Name</label>*@
                                <span class="error"></span>
                            </span>
                            </li>
                            <li><span class="inlineBox relative">
                                <input type="text" value="Last Name" class="inputBg" id="lastname" name="lastname" data-bvalidator="required,rangelength[2:15],validatorName[2]" data-bvalidator-msg="Please enter the last name."/>
                                @*<label for="lastname" class="value">Last Name</label>*@
                                @* <span class="error"></span>*@
                            </span>
                            </li>
                            <li><span class="inlineBox relative">
                                <select id="ddlCountry" class="select" style="width: 305px; border: 1px solid #d3d3d3; padding: 5px; border-radius: 5px; -webkit-border: 5px; -moz-border: 5px; vertical-align: middle;" data-bvalidator="digit" data-bvalidator-msg="Please choose a country.">
                                </select>
                                <input id="hidfldCountry" name="hidfldCountry" value="-1" type="hidden" />
                            </span>
                            </li>
                            <li>
                                <span class="inlineBox relative">
                                    <select id="ddlCity" class="select" style="width: 305px; border: 1px solid #d3d3d3; padding: 5px; border-radius: 5px; -webkit-border: 5px; -moz-border: 5px; vertical-align: middle;" data-bvalidator="digit" data-bvalidator-msg="Please choose a city."></select>
                                </span>
                                <input id="hidfldCity" name="hidfldCity" value="-1" type="hidden" />
                            </li>
                            <li><span class="inlineBox relative">
                                <input type="text" value="Your Email Address" class="inputBg inputError" id="email" name="email" data-bvalidator="required,email" data-bvalidator-msg=" Email Address invaild. " />
                                @*<span class="error">Email Address invaild</span>*@
                            </span>
                            </li>
                            <li><span class="inlineBox relative">
                                <input type="text" value="Confirm Your Email Address" id="ConfirmEmail" class="inputBg inputError" onfocus="changeValue(this,'Confirm Your Email Address')" onblur="changeValue2(this,'Confirm Your Email Address')" data-bvalidator="required,equalto[email],email" data-bvalidator-msg="Please enter the same value again."/>
                            </span>
                            </li>
                            <li><span class="inlineBox relative">
                                <input type="text" value="Password" id="password" name="password" class="inputBg inputPassword" onfocus="changeAttr(this,'Password')" onblur="changeAttr2(this,'Password')" data-bvalidator="required,rangelength[4:50]" data-bvalidator-msg="The length must be between 4 and 50" />
                                @*<label for="password" class="value">Password</label>*@
                                @*<span class="error"></span>*@
                            </span>
                            </li>
                            <li><span class="inlineBox relative">
                                <input type="text" value="Confirm Your Password" id="Confirm" class="inputBg inputError inputPassword" onfocus="changeAttr(this,'Confirm Your Password')" onblur="changeAttr2(this,'Confirm Your Password')" data-bvalidator="required,equalto[password],rangelength[4:50]" data-bvalidator-msg="Please enter the same value again." />
                                @*<label for="Confirm" class="value"> Confirm Passwrod</label>*@
                                @*<span class="error">Please key in your password again</span>*@
                            </span>
                            </li>
                            <li>Tell us how you see the world (check all that applies)</li>
                            <li><span class="checkboxBigTxt" data-type="0" onclick="getIsPleasure(this);"><span class="bg"><span class="alignM"></span>Travel for Pleasure</span></span></li>
                            <input type="hidden" id="createIsPle" name="createIsPle" value="0" />
                            <li><span class="checkboxBigTxt" data-type="0" onclick="getIsBusiness(this);"><span class="bg"><span class="alignM"></span>Travel for Business</span></span></li>
                            <input type="hidden" id="createIsBus" name="createIsBus" value="0" />
                            <li><span class="checkboxBigTxt" data-type="0" onclick="getIsPlanner(this);"><span class="bg"><span class="alignM"></span>Meeting & Event Planner</span></span></li>
                            <input type="hidden" id="createUserType" name="createUserType" value="0" />
                            <li>By clicking Join you confirm that you accept the  <a href="/TermsOfUse" class="italic">Terms & Conditions</a></li>
                            <li><a href="javascript:void(0);" class="btnBlueH45" onclick="signup.signup();"><span class="bg">join now</span></a></li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section PageSide{
    @Html.Partial("Widget/_Advertisement")
    @Html.Partial("Widget/_Promotions")
    @Html.Partial("Widget/_IBT")
}