﻿<div class="topBar">
    <div class="wrap">
        <div class="fixbox">
            @Html.Partial("Widget/Nav/_Profile")
            <div class="messageBox">
                <div class="operating fixbox">
                    <a class="iconAdd NborderL mL10" href="/Connection/Compose">Compose</a>
                    <a href="javascript:void(0);" onclick="SetAll(1);">Reply</a>
                    <a class="iconDeleteS NborderR" href="javascript:void(0);" onclick="SetAll(2);">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(window).scroll(function () {
        if ($(this).scrollTop() > 64) {
            $(".topBar").show();
        } else {
            $(".topBar").hide();
        }
    });
</script>
