﻿@{
    IMeet.IBT.Services.ProfileService profileService = new IMeet.IBT.Services.ProfileService();
    int userId = profileService.GetUserId();
    Profile profile = profileService.GetUserProfile(userId);
    int? roleId = profileService.GetUserInfo(userId).RoleId;
}

<span class="mySelf">
    <a href="/Profile">
        <img style="width:26px; height:26px;" src="@PageHelper.GetUserAvatar(userId, (int)IMeet.IBT.Services.Identifier.AccountSettingAvatarSize._xxlat)" />
        @profile.Firstname</a>

    <a class="message" href="/Connection/Message">@profileService.GetTotalCount(userId)</a>
    <span class="select selecBtnList" style="z-index: 0;">

        <span class="title">
            <a class="downArrow" href="javascript:void(0);"></a>
        </span>
        <span class="list" style="display: none;">
            <ul>
                <li><a href="/account/welcome" id="h_Wel" onclick="">Welcome</a></li>
                <li><a href="/Account/AccountSetting" onclick="changeLink('EditProfile');return false;">My Account</a></li>
                <li><a href="javascript:void(0);" id="h_HTPV" onclick="showPopHowToPostVisit();">How To Post Visits</a></li>
                <li class="lineT"></li>
                <li><a href="/Connection/Message/@userId" onclick="changeLink('Message');return false;"><span class="num">@profileService.GetMsgCount(userId)</span>Messages </a></li>
                <li><a href="/Connection/Connection/@userId" onclick="changeLink('Connection');return false;">Connections</a></li>
                <li><a href="/Account/FriendRequest/@userId" onclick="changeLink('Request');return false;"><span class="num">@profileService.GetRequestCount(userId)</span> Friends Requests</a></li>
                <li><a href="/Connection/InviteFriend/@userId" onclick="changeLink('Invite');return false;">Invite Friends</a></li>
                <li class="lineT"></li>
                <li><a href="/Home/Index" onclick="changeLink('About');return false;">About</a></li>
                <li><a href="/contact_us" onclick="changeLink('Contact');return false;">Help</a></li>
                <li><a href="/PrivacyPolicy" onclick="changeLink('Privacy');return false;">Privacy</a></li>
                <li><a href="/Account/LogOff" onclick="changeLink('Logout');return false;">Log Out</a></li>
                @if (roleId == 1)
                {
                    <li><a href="/admin/home/MemberManage">Admin</a></li>
                }

            </ul>
        </span>
    </span>
</span>
<span class="menuList">
    <img src="/images/icon/menu.gif" />
    <div class="dropDownList">
        <div class="arrow"></div>
        <ul>
            <li><a href="/home/index" onclick="changeLink('About');return false;">ABOUT</a></li>
            <li><a href="/home"  onclick="changeLink('Home');return false;">HOME</a></li>
            <li><a href="/supplier/travelsadd" onclick="changeLink('AddTravel');return false;">ADD+HISTORY</a></li>
            <li><a href="/account/pointsummary" onclick="changeLink('PointSummary');return false;">TRAVEL BADGE</a></li>
            <li><a href="/profile" onclick="changeLink('Profile');return false;">MY INFO</a></li>
        </ul>
    </div>
</span>