﻿@{  
    int userId = 0;
    if (ViewData["userId"] != null && IMeet.IBT.Common.Utils.IsNumeric(Convert.ToString(ViewData["userId"])))
    {
        userId = Convert.ToInt32(ViewData["userId"]);
    }
    IMeet.IBT.Services.ProfileService profileService = new IMeet.IBT.Services.ProfileService();
    userId = userId == 0 ? profileService.GetUserId() : userId;

    int mid = profileService.GetUserId(); //当前登录用户ID

    Profile profile = profileService.GetUserProfile(userId);
    IMeet.IBT.DAL.Models.UserTravelBadge utb = ViewBag.UserTravelBadge;
    var profileLastSeenAt = Widget.ProfileLastSeenAt(userId);
    int StatusId = profileService.GetUserConnection(mid, userId).StatusId;
    int count = profileService.GetRequestCount(userId);
}

@if(User.Identity.IsAuthenticated){
    
<div class="topBar">
    <div class="wrap">
        <div class="fixbox">
            @Html.Partial("Widget/Nav/_Profile")
            <div class="searchBar2">
                <div class="main">
                    <div class="btnBox right">
                        <a class="btn btnSearch btnActive left" href="javascript:void(0);" onclick="searchBar2.goLink();"><span>Search</span></a>
                        <a class="btn left" href="/Search/BrowseByCountry">Browse by Country</a>
                    </div>
                    <span class="select w120 left" style="z-index: 0;">
                        <span class="arrow">Search By</span>
                        <span class="list" style="display: none;">
                            <ul>
                                <li onclick="searchBar2.searchByN('hotels');">Hotels</li>
                                <li onclick="searchBar2.searchByN('countries');">Countries</li>
                                <li onclick="searchBar2.searchByN('cities');">Cities</li>
                                <li onclick="searchBar2.searchByN('other');">Other Venues</li>
                                <li onclick="searchBar2.searchByN('all');">All Suppliers</li>
                                <li onclick="searchBar2.searchByN('member');">People</li>
                            </ul>
                        </span>
                    </span>
                    <div class="key ">
                        <input id="nav_search_keywork" type="text" onblur="if(this.value==''){ this.value='Key in Keyword'}" onfocus="if(this.value=='Key in Keyword'){ this.value=''}" value="Key in Keyword" class="">
                    </div>
                </div>
            </div>
            <div class="supplierBox">
                <div class="info2">
                    <div class="navList">
                        <div class=" bg">
                            <a class="fold unfold" href="/Profile/@userId"><span class="line">Newsfeed</span></a>
                            <a class="fold" href="/Connection/Connection/@userId"><span class="line">Connections</span></a>
                            <a class="fold" href="/Account/ProPhotos/@userId"><span class="line">Photos</span></a>
                            <a class="fold" href="/MyTravel/@userId/3"><span class="line">My Travels</span></a>
                            @if (mid == userId)
                            {
                                <a class="fold" href="/MyList"><span class="line">My Lists</span></a>
                            }
                            <a class="fold lastLi" href="/Services/@userId/43">Services</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $(window).scroll(function () {
            if ($(this).scrollTop() > 115) {
                $(".topBar").show();
                if ($(this).scrollTop() > 280) {
                    $(".topBar").find(".supplierBox ").show();
                } else {
                    $(".topBar").find(".supplierBox ").hide();
                }
                if (!searchBar2.isNav) {
                    $('#nav_search_keywork').val($('#searchBar2_keyWord').val());
                    searchBar2.isNav = true;
                }
            } else {
                $(".topBar").hide();
                if (searchBar2.isNav) {
                    $('#searchBar2_keyWord').val($('#nav_search_keywork').val());
                    searchBar2.isNav = false;
                }
            }
        });
    })
</script>

}