﻿<div class="topBar">
    <div id="topBar_warp" class="wrap">
        <div class="fixbox">
            @Html.Partial("Widget/Nav/_Profile")
            <div class="tabNav">
                <div class="right txt">
                    <a href="#">Have a look at yout final list of travel before completing them!
                        <img src="/images/icon/arrow_down_double.gif" /></a>
                </div>
                <ul>
                    <li class="active"><a class="addTravels" href="javascript:void(0);">Add Travels</a></li>
                    <li class=""><a class="histiory" href="/Supplier/TravelHistory" onclick="changeLink('History');return false;">My Travel History</a></li>
                </ul>
            </div>
        </div>
        <div class="stepTitle">
            <div class="stepBox">
                <div class="bg">
                    <a href="javascript:void(0);" onclick="jTravelsAdd.Step1(0);"></a>
                    <a href="javascript:void(0);" onclick="jTravelsAdd.Step2(0);"></a>
                    <a href="javascript:void(0);" onclick="jTravelsAdd.Step3(0);"></a>
                    <a class="last" href="javascript:void(0);" onclick="jTravelsAdd.Step4(0);"></a>
                </div>
            </div>
            <div class="rightCol right mR10">
                <div id="stepTitle_1" class="btnControl">
                    <a class="btnBack btnBackDisabled" href="javascript:void(0);"><span class="arrowBack">Back</span></a>
                    <a class="btnNext" href="javascript:void(0);" onclick="jTravelsAdd.Step2(1);"><span class="arrowNext">Next</span></a>
                    <a class="btnFinish" href="javascript:void(0);" onclick="jTravelsAdd.Step4(1);">COMPLETE</a>
                </div>
                <div id="stepTitle_2" class="btnControl" style="display: none;">
                    <a href="javascript:void(0);" class="btnBack" onclick="jTravelsAdd.Step1(2);"><span class="arrowBack" title="See countries">BACK</span></a>
                    <a href="javascript:void(0);" class="btnNext" onclick="jTravelsAdd.Step3(2);"><span class="arrowNext" title="See venues in these cities">NEXT</span></a>
                    <a href="javascript:void(0);" class="btnFinish" onclick="jTravelsAdd.Step4(2);" title="Save to your travel history">COMPLETE</a>
                </div>
                <div id="stepTitle_3" class="btnControl" style="display: none;">
                    <a href="javascript:void(0);" class="btnBack" onclick="jTravelsAdd.Step2(3);"><span class="arrowBack" title="See cities">BACK</span></a>
                    <a href="javascript:void(0);" class="btnNext btnNextDisabled"><span class="arrowNext">NEXT</span></a>
                    <a href="javascript:void(0);" class="btnFinish" onclick="jTravelsAdd.Step4(3);" title="Save to your travel history">COMPLETE</a>
                </div>
                <div id="stepTitle_4" class="btnControl btnControl2" style="display: none;">
                    <a href="javascript:void(0);" class="btnBack" onclick="jTravelsAdd.back();"><span class="arrowBack" title="See venues">Back</span></a>
                    <a href="javascript:void(0);" class="btnFinish" onclick="jTravelsAdd.btnConfrim();">COMPLETE</a>
                </div>
            </div>
        </div>
        <div class="letterBarVertical" style="display: none">
            <a href="#">A</a>
            <a class="active" href="#">B</a>
            <a href="#">C</a>
            <a href="#">D</a>
            <a href="#">E</a>
            <a href="#">F</a>
            <a href="#">G</a>
            <a href="#">H</a>
            <a href="#">I</a>
            <a href="#">J</a>
            <a href="#">K</a>
            <a href="#">L</a>
            <a href="#">M</a>
            <a href="#">N</a>
            <a href="#">O</a>
            <a href="#">P</a>
            <a href="#">Q</a>
            <a href="#">R</a>
            <a href="#">S</a>
            <a href="#">T</a>
            <a href="#">U</a>
            <a href="#">V</a>
            <a href="#">W</a>
            <a href="#">X</a>
            <a href="#">Y</a>
            <a href="#">Z</a>
        </div>
    </div>

</div>
<script type="text/javascript">
    $(function () {
        $(window).scroll(function () {
            if ($(this).scrollTop() > 210) {
                $(".topBar").show();
                //if ($(this).scrollTop() > 580) {
                //    $(".topBar").find(".letterBarVertical ").show();
                //    $(".countriesBox").find(".letterBarVertical ").hide();
                //} else {
                //    $(".topBar").find(".letterBarVertical ").hide();
                //    $(".countriesBox").find(".letterBarVertical ").show();
                //}
            } else {
                $(".topBar").hide();
            }
        });
    })
</script>
