﻿@{
    Layout = "";
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>I-Meet</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/js/effect.js"></script>
    <script type="text/javascript" src="/js/scroll.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            checkboxshow();
            scroll_init(scroll_blue);
            selectSpan();
            searchTab();
            photosList();
            popup2();
        })
    </script>
</head>
<body>
    <div class="overLayout" style="width: 1080px; height: 1232px;"></div>
    <div class="popup2" style="width: 1004px;">
        <div class="popupMain">
            <a href="#" class="close" title="Close">X</a>
            <div class="fixbox">
                <div class="imgBig">
                    <img src="/images/photos/imgW570.jpg" alt="" />
                </div>
                <div class="commentBox">
                    <div class="scrollBox">
                        <ul class="fixbox">
                            <li>
                                <dl>
                                    <dt class="fixbox">
                                        <a href="#" class="userPic">
                                            <img src="/images/avatar/w55_03.gif" alt="User Name"></a>
                                        <div class="country"><a href="#">United States</a><span class="time">March3, 2012</span></div>
                                    </dt>
                                    <dd>
                                        <p>Though most notably a memorial to former U.S. presidents George Washington, Thomas Jefferson, Theodore Roosevelt and Abraham Lincoln, the 60-foot granite sculpture.</p>
                                        <div class="operating">
                                            <a href="#">Comments (8)  </a>
                                            <div class="replyBox">
                                                <ul>
                                                    <li>
                                                        <a class="userPic" href="#">
                                                            <img alt="" src="/images/avatar/w38_01.gif"></a>
                                                        <div class="replyMain">
                                                            <span class="time italic">wrote a comment . April 4, 2012</span>
                                                            <a class="name" href="#">Mandy</a>
                                                            <p>I love United States. I feel like this has to be said out loud at this point in time simply because well.</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <a class="userPic" href="#">
                                                            <img alt="" src="/images/avatar/w38_01.gif"></a>
                                                        <div class="replyMain">
                                                            <span class="time italic">wrote a comment . April 4, 2012</span>
                                                            <a class="name" href="#">Mandy</a>
                                                            <p>I love United States. I feel like this has to be said out loud at this point in time simply because well.</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <a class="userPic" href="#">
                                                            <img alt="" src="/images/avatar/w38_01.gif"></a>
                                                        <div class="replyMain">
                                                            <span class="time italic">wrote a comment . April 4, 2012</span>
                                                            <a class="name" href="#">Mandy</a>
                                                            <p>I love United States. I feel like this has to be said out loud at this point in time simply because well.</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <a class="userPic" href="#">
                                                            <img alt="" src="/images/avatar/w38_01.gif"></a>
                                                        <div class="replyMain">
                                                            <span class="time italic">wrote a comment . April 4, 2012</span>
                                                            <a class="name" href="#">Mandy</a>
                                                            <p>I love United States. I feel like this has to be said out loud at this point in time simply because well.</p>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <a class="userPic" href="#">
                                                            <img alt="" src="/images/avatar/w38_01.gif"></a>
                                                        <div class="replyMain">
                                                            <span class="time italic">wrote a comment . April 4, 2012</span>
                                                            <a class="name" href="#">Mandy</a>
                                                            <p>I love United States. I feel like this has to be said out loud at this point in time simply because well.</p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                    <div class="replyText">
                        <textarea>Write a message...</textarea>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>
</html>
