﻿@{
    //ViewBag.Title = "PostVisit";
    Layout = "~/Views/Shared/_Layout.cshtml";

    PostVisitItem sls = ViewBag.PostVisitInfo as PostVisitItem;
    int ibtType = ViewBag.IbtType;

    Profile profile = ViewBag.Profile as Profile;
    IMeet.IBT.Services.SupplierService supplyService = new IMeet.IBT.Services.SupplierService();
    IMeet.IBT.Services.ProfileService profileService = new IMeet.IBT.Services.ProfileService();
    IMeet.IBT.Services.NewsFeedService feedService = new IMeet.IBT.Services.NewsFeedService();
    List<SelectListItem> yearList = ViewBag.YearList;
    List<SelectListItem> monthList = ViewBag.MonthList;
    List<SelectListItem> dayList = ViewBag.DayList;
    DateTime dt = DateTime.Now;
    string experiences = "";
    string displayImage = "display:block";
    string classOnlyRead = "flase";
    string url = Request.RawUrl.ToString();
    string pvId = "";
    int activeType = 0;
    int newsfeedId = 0;
    if (url.IndexOf("newsfeedId") > 0 && !string.IsNullOrWhiteSpace(Request.QueryString["newsfeedId"].ToString()))
    {
        newsfeedId = Convert.ToInt32(Request.QueryString["newsfeedId"].ToString());
        classOnlyRead = "true";
        displayImage = "display:none";
        experiences = feedService.GetNewsFeedInfo(newsfeedId).ObjVal;
        dt = feedService.GetNewsFeedInfo(newsfeedId).CreateDate;
        activeType = feedService.GetNewsFeedInfo(newsfeedId).ActiveType;
    }

    yearList.FirstOrDefault(y => y.Value == dt.Year.ToString()).Selected = true;
    monthList.FirstOrDefault(m => m.Value == dt.Month.ToString()).Selected = true;
    dayList.FirstOrDefault(d => d.Value == dt.Day.ToString()).Selected = true;

    int UserId = profileService.GetUserId();
    IMeet.IBT.DAL.User currentUser = profileService.GetUserInfo(UserId);
    IMeet.IBT.Services.SNSConnectService snsConnectService = new IMeet.IBT.Services.SNSConnectService();
    string fShare = "off";
    string lShare = "off";
    string tShare = "off";
    string iShare = "off";
    string fShareChecked = string.Empty, lShareChecked = string.Empty, tShareChecked = string.Empty, iShareChecked = string.Empty;
    var linkedinShare = snsConnectService.GetSNSConnect(UserId, IMeet.IBT.Services.Identifier.SnsType.LinkedIn);
    if (linkedinShare != null && linkedinShare.UserId > 0)
    {
        lShareChecked = "uncheckbox";
        lShare = "on";
    }
    var facebookShare = snsConnectService.GetSNSConnect(UserId, IMeet.IBT.Services.Identifier.SnsType.Facebook);
    if (facebookShare != null && facebookShare.UserId > 0)
    {
        fShareChecked = "uncheckbox";
        fShare = "on";
    }
    var twitterShare = snsConnectService.GetSNSConnect(UserId, IMeet.IBT.Services.Identifier.SnsType.Twitter);
    if (twitterShare != null && twitterShare.UserId > 0)
    {
        tShareChecked = "uncheckbox";
        tShare = "on";
    }
    var imeetShare = snsConnectService.GetSNSConnect(UserId, IMeet.IBT.Services.Identifier.SnsType.IMeet);
    if (imeetShare != null && imeetShare.UserId > 0)
    {
        iShareChecked = "uncheckbox";
        iShare = "on";
    }
    string imgSrc = "";
    if (sls.SupplyId > 0)
    {
        imgSrc = PageHelper.GetSupplyPhoto(sls.SupplyId, sls.ShowImgSrc, IMeet.IBT.Services.Identifier.SuppilyPhotoSize._mn);
    }
    else
    {
        imgSrc = sls.ShowImgSrc;
    }
    string displaySupply = "display:none";
    string displayCity = "display:none";
    string classmL5 = "mL5";
    if (sls.SupplyId > 0)
    {
        displaySupply = string.Empty;
        displayCity = string.Empty;
    }
    else if (sls.CityId > 0)
    {
        displaySupply = string.Empty;
        classmL5 = string.Empty;
    }
    string shareUrl = string.Empty;
    Supply supply = null;
    switch (ibtType)
    {
        case (int)IMeet.IBT.Services.Identifier.IBTType.Country:
            {
                shareUrl = "/Country/About/1/" + sls.CountryId;
                break;
            }
        case (int)IMeet.IBT.Services.Identifier.IBTType.City:
            {
                shareUrl = "/City/About/2/" + sls.CityId;
                break;
            }
        default:
            {
                supply = supplyService.GetSupplyDetail(sls.SupplyId);
                shareUrl = "/Supplier/v/" + sls.SupplyId;
                break;
            }
    }
    
}

@Html.Partial("Widget/_Header")
@section PageSide{
    @Html.Partial("Widget/_Advertisement")
    @Html.Partial("Widget/_Video")
    @Html.Partial("Widget/_IBT")
}

<script type="text/javascript">
    $(function () {
        //checkboxshow();
        //scroll_init(scroll_blue);
        //selectSpan();
        //searchTab();
        postRadio();
        toggle();
        ibt.PvPopLoad();
    });
    function pvRemoveImg(objId, attId) {
        DelImg(objId, attId);
    }
    function DelImg(objId, attId) {
        if (confirm('Do you really want to delete this article data?')) {
            $("span[attId=" + attId + "]").remove();
            var json_data = { objId: objId, attId: attId };
            $.post("/Supplier/PostVisitIsDel", json_data, function (json) {
                if (json.Success) {
                    if (attId == ibt.rorate_attid)
                    {
                        $('#pv_rorate_img img').attr('src', 'http://media-cache-ec0.pinimg.com/avatars/pinteres098_1375191904_140.jpg');
                    }
                    //Boxy.alert(json.Message, null, { title: "Del Img" });
                    //$(".boxyInner").addClass("popup");
                }
                //else {
                //    Boxy.alert(json.Message, null, { title: "Del Img" });
                //    $(".boxyInner").addClass("popup");
                //}
            }, "json");
        } else { return false }
    }
</script>
<input id="newsfeedId" name="newsfeedId" type="hidden" value="@newsfeedId"/>
<input id="activeType" name="activeType" type="hidden" value="@activeType"/>
<input type="hidden" id="handleType" value="0" />
<input type="hidden" id="postType" value="0" />
<input type="hidden" id="pvGuid" value="@System.Guid.NewGuid().ToString().Replace("-", "")" />
<input type="hidden" id="pvAttId" value="" />
<input type="hidden" id="pvSupplyId" value="@sls.SupplyId" />
<input type="hidden" id="selDate" value="false" />
<input type="hidden" id="countryId" value="@sls.CountryId" />
<input type="hidden" id="cityId" value="@sls.CityId" />
<input type="hidden" id="pvIbtType" value="@ibtType" />
<input type="hidden" id="hidTitle" value="@sls.Title" />
<input type="hidden" id="hidCity" value="@sls.CityName" />
<input type="hidden" id="hidState" value="@sls.InfoState" />
<input type="hidden" id="hidCountry" value="@sls.CountryName" />
<input type="hidden" id="hidSupplierURL" value="@shareUrl" />
<input type="hidden" id="hidMeetingPlanner" value="@(currentUser != null ? currentUser.IsMeetingPlanner() : false)" />

<div id="postVisit" class="postVisit">
    <ul>
        <li class="feature feedList">
            <span class="operating">
                <span class="rating"><span class="f10  mR5">RATING</span>
                    <span class="IBTRating" data-rating="@sls.Rating" data-ibtType="@ibtType" data-objId="@sls.ObjId"></span>
                </span>
            </span>
            <a href="@sls.TitleUrl" class="img">
                <img src="@imgSrc" alt=""></a>
            <div class="info">
                <dl class="">
                    <dt><a class="title" href="/Profile">@profile.Firstname</a> <span class="f15">posted visit to</span> <a href="@sls.TitleUrl">@sls.Title</a></dt>
                    <dd class="location f11">@sls.CityName , @sls.CountryName</dd>
                    <dd>
                        <div class="choose  checkboxTxtBox">
                            <span class="checkboxTxt @Html.Raw(sls.Recommended.Equals(IMeet.IBT.Common.Utils.IntToByte(1)) ? "uncheckbox" : "") mR5" onclick="ibt.rrwb_rwb(this);" data-postType="0" data-rrwbType="2"  data-ibtType="@ibtType" data-val="@Convert.ToInt32(sls.Recommended)" data-objId="@sls.ObjId" data-readonly="@classOnlyRead">
                                <span class="bg"><span class="alignM"></span><span class="txt">Recommended</span></span>
                            </span>
                            @{if (!(supply != null && supply.ServiceType == (int)IMeet.IBT.Services.Identifier.ServiceType.ServiceProvider))
                              {
                                <span class="checkboxTxt @Html.Raw(sls.WanttoGo.Equals(IMeet.IBT.Common.Utils.IntToByte(1)) ? "uncheckbox" : "") mR5" onclick="ibt.rrwb_rwb(this);" data-postType="0" data-rrwbType="3"  data-ibtType="@ibtType" data-val="@Convert.ToInt32(sls.WanttoGo)" data-objId="@sls.ObjId" data-readonly="@classOnlyRead">
                                    <span class="bg"><span class="alignM"></span><span class="txt">Want to Go/Go Back</span></span>
                                </span>
                                <span class="checkboxTxt @Html.Raw(sls.BucketList.Equals(IMeet.IBT.Common.Utils.IntToByte(1)) ? "uncheckbox" : "")" onclick="ibt.rrwb_rwb(this);" data-postType="0" data-rrwbType="4"  data-ibtType="@ibtType" data-val="@Convert.ToInt32(sls.BucketList)" data-objId="@sls.ObjId" data-readonly="@classOnlyRead">
                                    <span class="bg"><span class="alignM"></span><span class="txt">Bucket List</span></span>
                                </span>
                              }
                            }
                        </div>
                    </dd>
                </dl>
            </div>
        </li>
        <li>
            <h2>Tell Us Your Experience </h2>
            <div class="txtMain">
                <textarea id="experiences">Write a message...</textarea>
            </div>
        </li>
        <li class="bonusPoints">
            <h2><span id="pvn_toggle" class="toggle expand"></span><a href="javascript:void(0);" class="btn">
                <img src="/images/button/btn_add_bonus_points.gif" /></a>For Meeting & Event- Related Posts Only</h2>
            <div class="toggleMain">
                <dl class="challenges fixbox">
                    <dt class="fixbox">Purpose </dt>
                    <dd class="radio">
                        <input type="radio" name="checked" checked="checked" id="onSite" />
                        <label for="onSite">On-Site Management</label><input class="mL20" type="radio" name="checked" id="site" />
                        <label for="site">Site Inspection</label><input class="mL20" type="radio" name="checked" id="general" />
                        <label for="general">General Travel</label>
                    </dd>
                </dl>
                <dl id="pvn_challenges" class="challenges fixbox">
                    <dt class="fixbox">Challenges Experienced With This Event</dt>
                    <dd><span id="isPoloticalSocialCrisis" class="checkboxBig"></span>Political / Social Crisis</dd>
                    <dd><span id="isStrike" class="checkboxBig"></span>Strike</dd>
                    <dd><span id="isNaturalDisaster" class="checkboxBig"></span>Natural Disaster</dd>
                    <dd><span id="isGobalAudience" class="checkboxBig"></span>Global Audience</dd>
                    <dd><span id="isNonHotelVenue" class="checkboxBig"></span>Non-Hotel Venue</dd>
                    <dd><span id="isGroupAttendees" class="checkboxBig"></span>Group 500+ Attendees</dd>
                    <dd><span id="isVirtualComponent" class="checkboxBig"></span>Virtual Component</dd>
                    <dd><span id="isCPLP" class="checkboxBig"></span><span class="inlineBox alignM">Celebrity/Political<br />
                        Leader Participating</span></dd>
                </dl>

                <div class="txtMain">
                    <textarea id="meetPlanComment">Write your meeting planning comments...</textarea>
                </div>
            </div>
        </li>
        <li>
            <h2>Date</h2>
            <form>
                @Html.DropDownList("dd_day", dayList, new Dictionary<string, object>() { { "class", "w100 mR5" } })/
                @Html.DropDownList("dd_month", monthList, new Dictionary<string, object>() { { "class", "w120 mL5 mR5" } })/
                @Html.DropDownList("dd_year", yearList, new Dictionary<string, object> { { "class", "w130 mL5" } })
                <span id="includeDate" class="checkboxBig"></span>Include date in your travel
            </form>
        </li>
        <li>
            <h2>Upload Your Photos</h2>
            <div class="upload">
                <a href="#" title="Upload your experience"></a>
                    <span id="upload_span" class="rightCol" style="display: none;">
                        <div class="mT5 fixbox" id="pv_fileList">
                            <div class="fileBox">
                                <a href="javascript:void(0);">
                                    <img src="/images/blue_add_w85.gif" /></a>
                                <input id="file_upload" name="file_upload" type="file" multiple="false">
                            </div>
                            <div id="file_progress" style="display: none;">
                                <div class="bar" style="width: 0%; height: 3px; background: green;"></div>
                            </div>
                            <div id="queue"></div>
                        </div>
                    </span>
                    <span id="upload_span_flash" class="rightCol" style="display: none;">
                        <div class="mT5 fixbox" id="pv_fileList_flash">
                            <div id="queue_flash"></div>
                            <input id="file_upload_flash" name="file_upload" type="file" multiple="false">
                        </div>
                    </span>
            </div>
            <div class="rotatePhotoTop right">
                <ul>
                    <li class="rotateButtonLeft"><a href="javascript:void(0);" onclick="ibt.rorate(3);" class="rotatePhotoAntiClkwise"></a></li>
                    <li class="rotateButtonMid"><a href="javascript:void(0);" class="rotatePhotoTop"></a></li>
                    <li class="rotateButtonRight"><a href="javascript:void(0);" onclick="ibt.rorate(1);" class="rotatePhotoClkwise"></a></li>
                </ul>
            </div>

                <div id="pv_rorate_img" class="photoPreview right">
               <img src="/images/globe.png" />
            </div>

@*            <div class="rotatePhotoBtm right">
                <ul>
                    <li class="rotateButtonLeft"><a href="javascript:void(0);" class="rotatePhotoLeft"></a></li>
                    <li class="rotateButtonMid"><a href="javascript:void(0);" class="rotatePhotoBottom"></a></li>
                    <li class="rotateButtonRight"><a href="javascript:void(0);" class="rotatePhotoRight"></a></li>
                </ul>
            </div>*@
        </li>
        <li>
            <h2>Sharing</h2>
            <span class="rightCol alignT" id="pv_SnsList">
                <ul class="connect">
                    <li><span class="checkboxBig custom" id="share_on_facebook" data-name="@IMeet.IBT.Services.Identifier.SnsType.Facebook.ToString()" data-status="@fShare"></span>
                        <img alt="" src="/images/logo/facebook_h26.gif" class="mR5">
                        Facebook</li>
                    <li><span class="checkboxBig custom" id="share_on_linkedin" data-name="@IMeet.IBT.Services.Identifier.SnsType.LinkedIn.ToString()" data-status="@lShare"></span>
                        <img alt="" class="mR5" src="/images/logo/linkedin_h26.gif">
                        LinkedIn</li>
                    <li><span class="checkboxBig custom" id="share_on_twitter" data-name="@IMeet.IBT.Services.Identifier.SnsType.Twitter.ToString()" data-status="@tShare"></span>
                        <img alt="" class="mR5" src="/images/logo/twitter_h26.gif">
                        Twitter</li>
                    <li class="last"><span class="checkboxBig custom @iShareChecked" id="share_on_imeet" data-name="@IMeet.IBT.Services.Identifier.SnsType.IMeet.ToString()" data-status="@iShare"></span>
                        <img alt="" class="mR5" src="/images/logo/imeet_h26.gif">
                        I-Meet</li>
                </ul>
            </span>
        </li>
        @*        <li>
            <h2>Email</h2>
            <div class="mB10">
                <input type="text" class="inputBg" value="Email Address" style="color: #c2c2c2" onfocus="if(this.value='Email Address'){this.value='';this.style.color='#8a8a8a'}" onblur="if(this.value=' '){this.value='Email Address';this.style.color='#c2c2c2'}" />
            </div>
            <div class="email">
                <input type="text" class="inputBg" value="Email Address" style="color: #c2c2c2" onfocus="if(this.value='Email Address'){this.value='';this.style.color='#8a8a8a'}" onblur="if(this.value=' '){this.value='Email Address';this.style.color='#c2c2c2'}" />
                <a href="#" class="mL15 addMore">+ <span>Add More</span></a>
            </div>
        </li>*@
        <li style="@displaySupply">
            <h2>Count Additional Visit To: </h2>
            <span style="@displayCity" class="additional"><span id="ibtTypeChooseCity" class="checkboxBig"></span>This City</span>
            <span class="additional"><span id="ibtTypeChooseCountry" class="checkboxBig "></span>This Country</span>
        </li>
    </ul>

</div>
<div class=" mT20 alignR mB20">
    <a href="javascript:history.go(-1);" class="btnGrayH45"><span class="bg">Back</span></a>
    <a href="javascript:void(0);" onclick="ibt.PostVisitNSave(this);" class="btnBlueH45 mL15"><span class="bg">PUblish</span></a>
</div>
<div id="pvn_pop" style="display: none;">
    <div class="popupMain" style="width: 350px;">
        <div style="text-align: center;">
            <p style="font-size: 20px;">You have successfully posted a visit!</p>
            <p class="italic C31AEE3">
                If you have activated you Meeting Professional Badge,<br />
                points will be posted to you summary.
            </p>
        </div>
        <div class="answers">
            <a class="btnBlueH45" href="/account/pointSummary"><span class="bg" style="width: 150px">SEE POINTS SUMMARY</span></a>
            <br />
            <a class="btnBlueH45" href="/account/pointSummary"><span class="bg" style="width: 150px">ACTIVATE MY BADGE</span></a>
            <br />
            @*<a class="btnGrayH45" href="javascript:history.go(-1);"><span class="bg" style="width:150px">OK</span></a>*@
            <a class="btnGrayH45" href="@(Request.UrlReferrer != null ? (Request.UrlReferrer.AbsoluteUri.ToLower().Contains(@"/search/listing") ? "/search/listing" : Request.UrlReferrer.AbsoluteUri) : Request.Url.AbsolutePath)"><span class="bg" style="width: 150px">OK</span></a>
        </div>
    </div>
</div>
<div id="loading" style="display: none;">
    <div class="w200 popupMain alignC">
        <div class="mTB15">
            <p>
                <img src="/images/icon_waiting.gif">Processing Your Request.
            </p>
        </div>
    </div>
</div>
@section PageFoot{
    <script src="/js/jQuery-File-Upload-8.1.0/js/jquery.fileupload.js"></script>
    <script type="text/javascript">
        var myloadingbox = null;
        $(function () {
            $("#experiences").focus(function () {
                var val = "Write a message...";
                if (val === $(this).val()) { $(this).val(""); this.style.background = 'none'; }
            }).blur(function () {
                if ($(this).val() == "") { $(this).val("Write a message..."); this.style.background = 'url(/images/line_dashed.gif) repeat-x scroll left 30px transparent'; }
            });
            $("#meetPlanComment").focus(function () {
                var val2 = "Write your meeting planning comments...";
                if (val2 === $(this).val()) { $(this).val(""); $(this).val(""); this.style.background = 'none'; }
            }).blur(function () {
                if ($(this).val() == "") { $(this).val("Write your meeting planning comments..."); this.style.background = 'url(/images/line_dashed.gif) repeat-x scroll left 30px transparent'; }
            });
        });
        function showPVNPop() {
            var mybox = null;
            mybox = new Boxy($("#pvn_pop").html(), {
                title: "Post Visit",
                modal: true,
                center: true,
                unloadOnHide: true,
                closeText: "X",
                afterHide: function (e) { },
                afterShow: function (e) { }
            });
            $(".boxyInner").addClass("popup");
        }
        function showPop() {
            var mybox = null;
            mybox = new Boxy($("#loading").html(), {
                title: "Please wait... ",
                modal: true,
                center: true,
                unloadOnHide: true,
                closeText: false,
                afterHide: function (e) { myloadingbox = null; },
                afterShow: function (e) { }
            });
            myloadingbox = mybox;
            $(".boxyInner").addClass("popup");
        }
    </script>
}
@section PageNanigation{
    <div class="topBar">
        <div class="wrap">
            <div class="fixbox">
                @Html.Partial("Widget/Nav/_Profile")
                <div class="postVisit">
                    <ul>
                        <li class="feature feedList">
                            <span class="btn">
                                <a href="javascript:history.go(-1);" class="inlineBox">BACK</a>
                                <a href="javascript:void(0);" onclick="ibt.PostVisitNSave(this);" class="inlineBox rightCol">PUBLISH</a>
                            </span>
                            <a href="@sls.TitleUrl" class="img">
                                <img src="@imgSrc" alt=""></a>
                            <div class="info">
                                <dl class="">
                                    <dt><a class="title" href="/Profile">@profile.Firstname</a> <span class="f15">posted visit to</span> <a href="@sls.TitleUrl">@sls.Title</a></dt>
                                    <dd class="location f11">@sls.CityName , @sls.CountryName</dd>
                                </dl>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(window).scroll(function () {
            if ($(this).scrollTop() > 180) {
                $(".topBar").show();
            } else {
                $(".topBar").hide();
            }
        });
    </script>
}