﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string membersNum = ViewBag.MembersNum;
    string supplyNum = ViewBag.supplyNum;

    //string searchNum = ViewBag.SearchNum;
}
@Html.Partial("Widget/_Header")
@Html.Partial("Widget/_Search")
<input type="hidden" id="listType" value="Country" />
<input type="hidden" id="filterLetter" value="" />
<input type="hidden" id="hidkeyword" value="@ViewBag.keyword" />
<input type="hidden" id="hidtabcount" value="" />
<input type="hidden" id="hidtab2count" value="" />
<input type="hidden" id="hidcount" value="" />
<div class="gray2Colum searchList ">
    <div class="fixbox myListBox searchBox">
        <div class="listNav" id="listnav">
            <a href="javascript:void(0);" onclick="change(this);baseSearch.goTab(this,0);" class="btnBlueH34 btnActive" id="country"><span class="bg"><span class="alignM"></span><span class="txt">Countries ( <span id="SearchCountry_count">0</span> )</span></span></a>
            <a href="javascript:void(0);" onclick="change(this);baseSearch.goTab(this,2);" class="btnBlueH34" id="city"><span class="bg"><span class="alignM"></span><span class="txt">Cities ( <span id="SearchCity_count">0</span> )</span></span></a>
            @*                          <a  href="javascript:void(0);" onclick="baseSearch.goTab(this,3);" class="btnBlueH34"><span class="bg"><span class="alignM"></span><span class="txt">Venues (0)</span></span></a>*@
            <a href="javascript:void(0);" onclick="change(this);baseSearch.goTab(this,4);" class="btnBlueH34" id="supply"><span class="bg"><span class="alignM"></span><span class="txt">Suppliers ( <span id="SearchSupplier_count">@supplyNum</span> ）</span></span></a>
            <a href="javascript:void(0);" onclick="change(this);baseSearch.goTab(this,1);" class="btnBlueH34" id="member"><span class="bg"><span class="alignM"></span><span class="txt">Members ( <span id="SearchMember_count">@membersNum</span> ）</span></span></a>
        </div>
        <div class="listMain">
            <div class="fixbox mT15">
                <span class="smallSearch right mR15">
                    @* <input type="text" value="" id="SearchKeyword" >
                        <span class="select">
                            <span class="arrow">Filter by Country</span>
                            <div class="list" style="display: none;">
                                <ul>
                                    <li>Filter by Country</li>
                                    <li>Filter by City</li>
                                    <li>Filter by I've Been There</li>
                                    <li>Filter by Recommended</li>
                                    <li class="last">Filter by Want to Go</li>
                                </ul>
                            </div>
                        </span>
                       <a class="searchBtn" href="javascript:void(0);" onclick="baseSearch.goTab();"><img alt="Search" src="/images/icon/search.gif"></a>*@
                </span>
                <h3 class="mL10 " id="baseSearch_title">Search Results
                                <span class="txt"></span>
                </h3>
            </div>
            <div class="letterBar mB15">
                <div class="bg">
                    <div class="main" id="quickSearch">
                        @for (int i = 65; i < 91; i++)
                        {
                            <a href="javascript:void(0);" onclick="baseSearch.quickSearch(this,'@Convert.ToChar(i).ToString()');">@Convert.ToChar(i).ToString()</a>
                        }
                    </div>
                </div>
            </div>
            <div class="feedList" id="feedDiv">
                <ul class="listUl" id="filterList">
                </ul>
                <a id="clickloadmore_filterList" href="javascript:void(0);" class="btnLoadMore" onclick="baseSearch.GetSearchListOnClick();">+ Load More</a>
            </div>
            <div class="searchList feedList" id="searchDiv">
                <div class="connectionsBox ">
                    <ul class="fixbox" id="searchList">
                        @*<li>
                                    	<div class="fixbox">
                                          <span class="btnBg IEPng right">
                                                	<a href="#"><img alt="Email" src="/images/icon/img.gif" class="readEmail"></a>
                                                	<a href="#"><img alt="" src="/images/icon/img.gif" class="addFriend2"></a>
                                                </span>
                                            <a class="userPic" href="#"><img alt="User Name" src="/images/avatar/w50_02.gif"></a>
                                           <dl>
                                                <dt><a href="#">Mark Jones</a><span class="txt">California, USA</span></dt>
                                                <dd class="italic Ca0a0a0">Last Been To:<strong>Paris,France</strong></dd>
                                           </dl> 
                                           </div>
                                    </li>*@
                    </ul>
                    <a id="clickloadmore_searchList" href="javascript:void(0);" class="btnLoadMore" onclick="baseSearch.GetSearchListOnClick();">+ Load More</a>

                    @*  <div class="mT20 alignC"><img src="/images/icon/loading.gif" /></div>*@
                </div>
            </div>
        </div>
    </div>
</div>
@section PageSide{
    @Html.Partial("Widget/_Advertisement")
    @Html.Partial("Widget/_Promotions")
    @Html.Partial("Widget/_IBT")
}
@section PageFoot{
    <script src="/js/connection.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#baseKeyword").attr("value", $("#hidkeyword").val());
            baseSearch.initData();
            //baseSearch.init();
            checkboxshow();
            // baseSearch.SupplyResultCount(1);
            // baseSearch.MemberResultCount(1);
            $("#country").change(this);
            document.getElementById("feedDiv").style.display = "block";
        });
        function change(whichLink) {
            var box = document.getElementById("listnav");
            var links = box.getElementsByTagName("a");
            for (var i = 0; i < links.length; i++) {
                links[i].setAttribute("class", "btnBlueH34");
                whichLink.setAttribute("class", "btnBlueH34 btnActive");
            }
        }
    </script>
}
