﻿<div class="banner">
    <div class="main">
        <ul>
            <li class="active">
                <img src="/images/banner.jpg" alt="" border="0" usemap="#Map2" />
                <map name="Map2" id="Map2">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <area shape="rect" coords="491,107,715,185" />
                    }
                    else
                    {
                        <area shape="rect" coords="491,107,715,185" href="/account/signup" />
                    }
                </map>
            </li>
            <li>
                <img src="/images/banner_02.jpg" alt="" border="0" usemap="#Map" />
                <map name="Map" id="Map">
                    <area shape="rect" coords="287,142,502,200" href="@(User.Identity.IsAuthenticated ? "/account/pointsummary" : "/account/signup")" />
                </map>
            </li>
        </ul>

    </div>
</div>
