﻿<div class="column">
            <h2 class="blugBigBg"><span class="bg">Most Visited Places</span></h2>
                <ul class="feedBox">
                    <li><a class="img" href="/Supplier/v/5-Le-Palais-de-la-Méditerranée"><img alt="" src="/images/photos/imgW50_01.gif"></a>
                            <dl>
                                <dt><a href="/Supplier/v/5-Le-Palais-de-la-Méditerranée">Helmsley Park Lane Hotel</a>
                                        <span class="location">New York, United States</span>
                                </dt>
                                <dd><span class="rating">RATING</span> 
                                        <span class="starW15 full"></span> 
                                        <span class="starW15 full"></span> 
                                        <span class="starW15 full"></span> 
                                        <span class="starW15 full"></span>
                                        <span class="starW15"></span> 
                                    </dd>
                                    <dd>
                                    <div class="choose">
                                        <span class="checkboxMTxt uncheckbox ">
                                            <span class="bg"><span class="alignM"></span><span class="txt">Recommended</span></span>
                                        </span>
                                        <span class="checkboxMTxt uncheckbox">
                                            <span class="bg"><span class="alignM"></span><span class="txt">Want to Go/Go Back</span></span>
                                        </span>
                                        <span class="checkboxMTxt">
                                            <span class="bg"><span class="alignM"></span><span class="txt">Bucket List</span></span>
                                        </span>
                                    </div>
                                    </dd>
                                    <dd class="btn"><a class="btnBlueH33"  onclick="ibt.loadUrlPop('/Supplier/PostVisit','Get');" href="javascript:void(0);"><span class="bg">I've Been There</span></a></dd>
                                    <dd class="operating">
                                        <a href="#">Comments(8)</a> |  <a href="#">Share</a>
                                    </dd>
                            </dl>
                    </li>
                    <li><a class="img" href="/Supplier/v/5-Le-Palais-de-la-Méditerranée"><img alt="" src="/images/photos/imgW50_01.gif"></a>
                            <dl>
                                <dt><a href="/Supplier/v/5-Le-Palais-de-la-Méditerranée">Helmsley Park Lane Hotel</a>
                                        <span class="location">New York, United States</span>
                                </dt>
                                <dd><span class="rating">RATING</span> 
                                        <span class="starW15 full"></span> 
                                        <span class="starW15 full"></span> 
                                        <span class="starW15 full"></span> 
                                        <span class="starW15 full"></span>
                                        <span class="starW15"></span> 
                                    </dd>
                                    <dd>
                                    <div class="choose">
                                        <span class="checkboxMTxt uncheckbox ">
                                            <span class="bg"><span class="alignM"></span><span class="txt">Recommended</span></span>
                                        </span>
                                        <span class="checkboxMTxt uncheckbox">
                                            <span class="bg"><span class="alignM"></span><span class="txt">Want to Go/Go Back</span></span>
                                        </span>
                                        <span class="checkboxMTxt">
                                            <span class="bg"><span class="alignM"></span><span class="txt">Bucket List</span></span>
                                        </span>
                                    </div>
                                    </dd>
                                    <dd class="btn"><a class="btnBlueH33"  onclick="ibt.loadUrlPop('/Supplier/PostVisit','Get');" href="javascript:void(0);"><span class="bg">I've Been There</span></a></dd>
                                    <dd class="operating">
                                        <a href="#">Comments(8)</a> |  <a href="#">Share</a>
                                    </dd>
                            </dl>
                    </li>
                    <li class="NBorderB"><a class="img" href="/Supplier/v/5-Le-Palais-de-la-Méditerranée"><img alt="" src="/images/photos/imgW50_01.gif"></a>
                            <dl>
                                <dt><a href="/Supplier/v/5-Le-Palais-de-la-Méditerranée">Helmsley Park Lane Hotel</a>
                                        <span class="location">New York, United States</span>
                                </dt>
                                <dd><span class="rating">RATING</span> 
                                        <span class="starW15 full"></span> 
                                        <span class="starW15 full"></span> 
                                        <span class="starW15 full"></span> 
                                        <span class="starW15 full"></span>
                                        <span class="starW15"></span> 
                                    </dd>
                                    <dd>
                                    <div class="choose">
                                        <span class="checkboxMTxt uncheckbox ">
                                            <span class="bg"><span class="alignM"></span><span class="txt">Recommended</span></span>
                                        </span>
                                        <span class="checkboxMTxt uncheckbox">
                                            <span class="bg"><span class="alignM"></span><span class="txt">Want to Go/Go Back</span></span>
                                        </span>
                                        <span class="checkboxMTxt">
                                            <span class="bg"><span class="alignM"></span><span class="txt">Bucket List</span></span>
                                        </span>
                                    </div>
                                    </dd>
                                    <dd class="btn"><a class="btnBlueH33"  onclick="ibt.loadUrlPop('/Supplier/PostVisit','Get');" href="javascript:void(0);"><span class="bg">I've Been There</span></a></dd>
                                    <dd class="operating">
                                        <a href="#">Comments(8)</a> |  <a href="#">Share</a>
                                    </dd>
                            </dl>
                    </li>
                </ul>
    </div>
