﻿@{
    var data = ViewData["data"] as IEnumerable<SupplyHomeListShort>;
    var tabName = ViewData["tabName"];
    string imgShow = "";
 }
<script src="/js/jquery.raty.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        FeedRating();
    });
    function FeedRating() {
        $('.FeedRating').raty({
            readOnly: true,
            score: function () {
                return $(this).attr('data-rating');
            },
            click: function (score, evt) {
                //ibt.rrwb_rating($(this).attr('data-ibtType'), $(this).attr('data-objId'), score);
            }
        });
    }
</script>
<div class="column @Html.Raw(ViewData["tabIdx"].ToString() == "0" ? "mR20" : "")">
    <h2 class="blugBigBg"><span class="bg">@tabName</span></h2>
    <ul class="feedBox">
        @foreach (var item in data)
        {
            <li><a class="img" href="@item.TitleUrl">
                @if (item.objType == (int)IMeet.IBT.Services.Identifier.IBTType.Supply)
                {
                    imgShow = PageHelper.GetSupplyPhoto(item.SupplyId, item.CoverPhotoSrc, IMeet.IBT.Services.Identifier.SuppilyPhotoSize._xtn);
                }
                else
                {
                    imgShow = item.CoverPhotoSrc.ToString();
                }
                <img alt="" src="@imgShow"></a>
                <dl>
                    <dt><a href="@item.TitleUrl">@item.Title</a>
                        @{
                if (item.objType == (int)IMeet.IBT.Services.Identifier.IBTType.Supply)
                {
                            <span class="location">@item.CityName, @item.CountryName</span>
                }
                else if (item.objType == (int)IMeet.IBT.Services.Identifier.IBTType.Country)
                {
                            <span class="location"></span>
                }
                else
                {
                            <span class="location">@item.CountryName</span>
                }
                        }
                    </dt>
                    <dd><span class="rating">RATING</span>
                        <span class="FeedRating" data-rating="@item.Rating.ToString()" data-ibtType="@item.objType.ToString()" data-objId="@item.ObjId.ToString()"></span>
                    </dd>
                    <dd>
                        <div class="choose" style="display: none;">
                            <span class="checkboxMTxt @Html.Raw(item.RecommendedCount == 1 ? "uncheckbox" : "")" onclick="ibt.rrwb_rwb(this);" data-rrwbType="2"  data-ibtType="3" data-val="@item.RecommendedCount" data-objId="@item.SupplyId.ToString()" data-readonly="true" >
                                <span class="bg"><span class="alignM"></span><span class="txt">Recommended</span></span>
                            </span>
                            <span class="checkboxMTxt @Html.Raw(item.WanttoGoCount == 1 ? "uncheckbox" : "")" onclick="ibt.rrwb_rwb(this);" data-rrwbType="3"  data-ibtType="3" data-val="@item.WanttoGoCount" data-objId="@item.SupplyId.ToString()" data-readonly="true" >
                                <span class="bg"><span class="alignM"></span><span class="txt">Want to Go/Go Back</span></span>
                            </span>
                            <span class="checkboxMTxt @Html.Raw(item.BucketListCount == 1 ? "uncheckbox" : "")" onclick="ibt.rrwb_rwb(this);" data-rrwbType="4"  data-ibtType="3" data-val="@item.BucketListCount" data-objId="@item.SupplyId.ToString()" data-readonly="true">
                                <span class="bg"><span class="alignM"></span><span class="txt">Bucket List</span></span>
                            </span>
                        </div>
                    </dd>
                    <dd class="btn">
                        <a class="btnBlueH33" href="@PageHelper.PostVisitNUrl(item.objType,item.ObjId)">
                            @if (item.IbtCount < 1)
                            {  
                                <span class="bg">I've Been There</span>
                            }
                            else
                            {
                                <span class="btnBlueNumH33"><span class="btnBlueAddH33">I've Been There</span>@item.IbtCount</span>
                            }
                        </a></dd>
                    @*<dd class="operating">
                                    <a href="@Html.Raw(item.SupplyUrl+"#Comments")">Comments(@item.CommentsCount)</a> |  <a onclick="ibt.Share(3,@item.SupplyId)" href="javascript:void(0);">Share</a>
                                </dd>*@
                </dl>
            </li>
        }
    </ul>
</div>

