﻿@{
    IMeet.IBT.Services.SupplierService supplierService = new IMeet.IBT.Services.SupplierService();
    IMeet.IBT.Services.ProfileService profileService = new IMeet.IBT.Services.ProfileService();
    int UserId = profileService.GetUserId();
    int ibtType = (int)ViewBag.IbtType;
    Country country = null;
    City city = null;
    
    if (ibtType == (int)IMeet.IBT.Services.Identifier.IBTType.City)
    {
        city = ViewBag.IbtObject as City;
        country = supplierService.GetCountryInfo(city.CountryId);
    }
    if(ibtType==(int)IMeet.IBT.Services.Identifier.IBTType.Country)
    {
        country=ViewBag.IbtObject as Country;
    }
    List<FeedList> feedList = ViewBag.FeedList as List<FeedList>;
}

@if (ibtType == (int)IMeet.IBT.Services.Identifier.IBTType.Country)
{
    foreach (var i in feedList){ 
        if(i.ActiveType==(int)IMeet.IBT.Services.Identifier.FeedActiveType.PostComments)
        {
           <li><a class="userPic" href="@("/Profile/"+i.UserId)"><img alt="@i.FirstName" src="@(PageHelper.GetUserAvatar(i.UserId,(int)IMeet.IBT.Services.Identifier.AccountSettingAvatarSize._xat))"></a>
                <dl>
                    <dt><a href="@("/Profile/"+i.UserId)">@(i.FirstName)</a>
                        <span class="f15 ">has written a post to <a class="f15" href="/Country/NewsFeed/@ibtType/@country.CountryId">@country.CountryName</a></span>
                        <span class="time">@i.CreateDate.ToString("MMM dd, yyyy")</span>
                    </dt>
                    <dd>
                        <p>@Html.Raw(i.ObjVal)</p>
                        <div class="fixbox photo">
                            @foreach (var att in i.AttachmentList){
                                <a href="javascript:void(0);" onclick="PhotoManage.GetPhotoDetail(@att.AttId,@i.NewsFeedId);"><img src="@(att.SourceFileName+"_tn.jpg")" alt="" class="mR10"/></a>
                            }
                        </div>
                        <div id="ibtcommon_operating_@(i.NewsFeedId)" class="operating">
                            <a id="@("ibtcommon_comments_"+i.NewsFeedId)" href="javascript:void(0);" onclick="ibt_common.getFeedComment(@i.NewsFeedId,1);" data-newsFeedId="@i.NewsFeedId" data-comments="@i.CommentCount"> Comments (@i.CommentCount)  </a> @*| <a href="javascript:void(0);">Share</a>*@
                            <div id="@("replyBox_"+i.NewsFeedId.ToString())" class="replyBox">	
                            </div>
                        </div>
                    </dd>
                </dl>
         </li>
       }else{
         <li class="feed">
             <span class="operating">
                    <span class="rating"><span class="f10  mR5"> RATING</span>
                        <span class="ibt_rating" data-rating="@i.Rating"></span>
                    </span>
                    <a href="@PageHelper.PostVisitNUrl(i.IBTType,i.ExObjId)" class="btnBlueH45">
                        @if((int)ViewBag.IBTCount==0){
                            <span class="bg">I've been there</span>
                        }else{
                            <span class="btnBlueNumH45"><span class="btnBlueAddH45">I've been there</span><span data-ibtcount="@i.IbtCount" id="@Html.Raw("feedIBTCount_"+i.NewsFeedId)">@i.IbtCount</span></span>
                        }
                    </a>
             </span>
             <a class="userPic" href="@("/Profile/"+i.UserId)"><img alt="" src="@PageHelper.GetUserAvatar(i.UserId,(int)IMeet.IBT.Services.Identifier.AccountSettingAvatarSize._xat)"></a>
             <dl class="info">
                 @{
                    string str = string.Empty;
                    string str2 = string.Empty;
                    switch(i.ActiveType)
                    {
                        case (int)IMeet.IBT.Services.Identifier.FeedActiveType.Rating:
                            str = " has rated ";
                            break;
                        case (int)IMeet.IBT.Services.Identifier.FeedActiveType.Recommended:
                            str = " recommended ";
                            break;
                        case (int)IMeet.IBT.Services.Identifier.FeedActiveType.WantGoBack:
                            str = " want to go/go back to ";
                            break;
                        case (int)IMeet.IBT.Services.Identifier.FeedActiveType.BucketList:
                            str = " has added ";
                            str2 = " to "+i.ExGender+" bucket list";
                            break;
                        case (int)IMeet.IBT.Services.Identifier.FeedActiveType.PostVisit:
                            str = " posted a visit to ";
                            break;
                        default:
                            str = " posted a visit to ";
                            break;
                    }
                  }
                <dt><a href="@("/Profile/"+i.UserId)" >@i.FirstName</a> <span class="f15">@str<a href="/Country/NewsFeed/@ibtType/@country.CountryId">@country.CountryName</a>@str2</span> <span class="time">@i.CreateDate.ToString("MMMM dd yyyy")</span>
                <div class="choose">
                    <span class="checkBg">
                        <img width="36" src="@country.FlagSrc" class="mR5" alt="" href="/Country/About/@ibtType/@country.CountryId" />
                        <span class="checkboxMTxt mR5 @(i.Recommended==1?"uncheckbox":string.Empty) cursordefault" data-readonly="true">
                            <span class="bg"><span class="alignM"></span><span class="txt">Recommended</span></span>
                        </span><span class="line"></span><span class="checkboxMTxt mL5 @(i.WanttoGo==1?"uncheckbox":string.Empty) cursordefault" data-readonly="true">
                            <span class="bg"><span class="alignM"></span><span class="txt">Want to Go/Go Back</span></span>
                        </span><span class="line"></span><span class="checkboxMTxt mR5 mL5 @(i.BucketList==1?"uncheckbox":string.Empty) cursordefault" data-readonly="true">
                            <span class="bg"><span class="alignM"></span><span class="txt">Bucket List</span></span>
                        </span>
                    </span>
                    @{
                           int ibtCount = (int)ViewBag.IBTCount;
                           int friendCount = (int)ViewBag.IBTFriendsCount;
                           string strcount = friendCount <= 1 ? friendCount.ToString() + " Friend" : friendCount.ToString() + " Friends";
                           System.Text.StringBuilder sb = new System.Text.StringBuilder();
                           
                           if (friendCount == 0){
                               sb.Append("Friends That Have Been Here: " + friendCount);}
                           else{
                               sb.Append("Friends That Have Been Here: <a href=\"javascript:void(0);\" onclick=\"ibt.loadUrlPop('/ShowFriend/" + i.IBTType.ToString() + "/" + i.ExObjId.ToString() + "','Get','',null,' " + strcount + " Who\\'ve Been There');\">" + friendCount + "</a>");
                           }
                     }
                    <span class="friendsInfo  italic f10 C7a7a7a mT5">@Html.Raw(sb.ToString())</span>
                </div>
              </dt>
                <dd>
                    @if (i.UserId == UserId && (i.ActiveType == (int)IMeet.IBT.Services.Identifier.FeedActiveType.AddTravel || i.ActiveType == (int)IMeet.IBT.Services.Identifier.FeedActiveType.IBT || i.ActiveType == (int)IMeet.IBT.Services.Identifier.FeedActiveType.PostVisit))
                    {
                        int IBTId = supplierService.GetIBTInfo(i.UserId, i.SupplyId, i.CountryId, i.CityId).IBTId;
                        <div class="relative">
                            <div class="editBox select">
                                <span class="arrow">&nbsp;</span>
                                <div class="list">
                                    <ul>
                                        <li onclick="@("ibt.IveBeenThere('/PostVisit/"+@i.IBTType+"/"+@i.ExObjId+"?newsfeedId="+@i.NewsFeedId+"','Get','',function(){$('#handleType').val(1);ibt.PvPopLoad();},'Edit POst visit');")">Edit</li>
                                        <li onclick="@("jTravelFeed.DelPVNewsfeed(" + @i.NewsFeedId + "," + @i.NewsFeedId + "," + @IBTId +");")">Delect</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="photo">
                        @foreach(var photo in i.AttachmentList){
                            <a href="javascript:void(0);" onclick="PhotoManage.GetPhotoDetail(@photo.AttId,@i.NewsFeedId);"><img src="@(photo.SourceFileName+"_tn.jpg")" alt="" class="mR10"/></a>
                        }
                    </div>
                    <p>@Html.Raw(i.ObjVal)</p>
                    <span id="ibtcommon_operating_@(i.NewsFeedId)" class="commentsTxt">
                        <a id="@("ibtcommon_comments_"+i.NewsFeedId)" href="javascript:void(0);" onclick="ibt_common.getFeedComment(@i.NewsFeedId,1);" data-newsFeedId="@i.NewsFeedId" data-comments="@i.CommentCount">Comments(@i.CommentCount)</a>
                        <div id="@("replyBox_"+i.NewsFeedId.ToString())" class="replyBox"></div>
                    </span>
                    @if (i.IbtCount > 1 && (i.ActiveType == (int)IMeet.IBT.Services.Identifier.FeedActiveType.AddTravel || i.ActiveType == (int)IMeet.IBT.Services.Identifier.FeedActiveType.IBT || i.ActiveType == (int)IMeet.IBT.Services.Identifier.FeedActiveType.PostVisit))
                    {
                        <div class="history">
                            <span class="sliderD sliderU " id="@("feedHistoryTxt_"+i.NewsFeedId)" onclick="feedHistory.ShowFeedHistory(2,@i.NewsFeedId,@i.IBTType,@i.ExObjId,@i.UserId);" > view history  </span>
                            <div class="historyList" id="@("feedHistoryList_"+i.NewsFeedId)"></div>
                        </div>
                    }
                </dd>
             </dl>
         </li>
       }
    } 
}

@if (ibtType == (int)IMeet.IBT.Services.Identifier.IBTType.City)
{
    foreach (var i in feedList) { 
        if(i.ActiveType==(int)IMeet.IBT.Services.Identifier.FeedActiveType.PostComments){
            <li><a class="userPic" href="/Profile/@i.UserId"><img alt="@(i.FirstName)" src="@PageHelper.GetUserAvatar(i.UserId,(int)IMeet.IBT.Services.Identifier.AccountSettingAvatarSize._xat)"></a>
                    <dl>
                        <dt><a href="/Profile/@i.UserId">@(i.FirstName)</a>
                            <span class="f15 ">has written a post to <a class="f15" href="/City/NewsFeed/@ibtType/@city.CityId">@city.CityName</a></span>
                            <span class="time">@i.CreateDate.ToString("MMM dd, yyyy")</span>
                        </dt>
                        <dd>
                            <p>@Html.Raw(i.ObjVal)</p>
                            <div class="fixbox photo">
                                @foreach (var att in i.AttachmentList){
                                   <a href="javascript:void(0);" onclick="PhotoManage.GetPhotoDetail(@att.AttId,@i.NewsFeedId);"><img src="@(att.SourceFileName+"_tn.jpg")" alt="" class="mR10"/></a>
                                }
                            </div>
                            <div id="ibtcommon_operating_@(i.NewsFeedId)" class="operating">
                                <a id="@("ibtcommon_comments_"+i.NewsFeedId)" href="javascript:void(0);" onclick="ibt_common.getFeedComment(@i.NewsFeedId,1);" data-newsFeedId="@i.NewsFeedId" data-comments="@i.CommentCount"> Comments (@i.CommentCount)  </a> @*| <a href="javascript:void(0);">Share</a>*@
                                <div id="@("replyBox_"+i.NewsFeedId.ToString())" class="replyBox">	
                                </div>
                            </div>
                        </dd>
                    </dl>
            </li>
        }else{
            <li class="feed">
             <span class="operating">
                    <span class="rating"><span class="f10  mR5"> RATING</span>
                        <span class="ibt_rating" data-rating="@i.Rating" readonly="readonly"></span>
                    </span>
                    <a href="@PageHelper.PostVisitNUrl(i.IBTType,i.ExObjId)" class="btnBlueH45">
                        @if((int)ViewBag.IBTCount==0){
                            <span class="bg">I've been there</span>
                        }else{
                            <span class="btnBlueNumH45"><span class="btnBlueAddH45">I've been there</span><span data-ibtcount="@i.IbtCount" id="@Html.Raw("feedIBTCount_"+i.NewsFeedId)">@i.IbtCount</span></span>
                        }
                    </a>
             </span>
             <a class="userPic" href="@("/Profile/"+i.UserId)"><img alt="" src="@PageHelper.GetUserAvatar(i.UserId,(int)IMeet.IBT.Services.Identifier.AccountSettingAvatarSize._xat)"></a>
             <dl class="info">
                 @{
                    string str = string.Empty;
                    string str2 = string.Empty;
                    switch(i.ActiveType)
                    {
                        case (int)IMeet.IBT.Services.Identifier.FeedActiveType.Rating:
                            str = " has rated ";
                            break;
                        case (int)IMeet.IBT.Services.Identifier.FeedActiveType.Recommended:
                            str = " recommended ";
                            break;
                        case (int)IMeet.IBT.Services.Identifier.FeedActiveType.WantGoBack:
                            str = " want to go/go back to ";
                            break;
                        case (int)IMeet.IBT.Services.Identifier.FeedActiveType.BucketList:
                            str = " has added ";
                            str2 = " to "+i.ExGender+" bucket list";
                            break;
                        case (int)IMeet.IBT.Services.Identifier.FeedActiveType.PostVisit:
                            str = " posted a visit to ";
                            break;
                        default:
                            str = " posted a visit to ";
                            break;
                    }
                  }
                <dt><a href="@("/Profile/"+i.UserId)" >@i.FirstName</a> <span class="f15">@str<a href="/City/NewsFeed/@ibtType/@city.CityId">@city.CityName</a>@str2</span> <span class="time">@i.CreateDate.ToString("MMM dd, yyyy")</span>
                <div class="choose">
                    <span class="checkBg">
                        <img width="36" src="@(string.IsNullOrEmpty(city.FlagSrc)?country.FlagSrc:city.FlagSrc)" class="mR5" alt="" href="/City/About/@ibtType/@city.CityId" />
                        <span class="cursordefault checkboxMTxt mR5 @(i.Recommended==1?"uncheckbox":string.Empty)" data-readonly="true">
                            <span class="bg"><span class="alignM"></span><span class="txt">Recommended</span></span>
                        </span><span class="line"></span><span class="cursordefault checkboxMTxt mL5 @(i.WanttoGo==1?"uncheckbox":string.Empty)" data-readonly="true">
                            <span class="bg"><span class="alignM"></span><span class="txt">Want to Go/Go Back</span></span>
                        </span><span class="line"></span><span class="cursordefault checkboxMTxt mR5 mL5 @(i.BucketList==1?"uncheckbox":string.Empty)" data-readonly="true">
                            <span class="bg"><span class="alignM"></span><span class="txt">Bucket List</span></span>
                        </span>
                    </span>
                    @{
                           int ibtCount = (int)ViewBag.IBTCount;
                           int friendCount = (int)ViewBag.IBTFriendsCount;
                           string strcount = friendCount <= 1 ? friendCount.ToString() + " Friend" : friendCount.ToString() + " Friends";
                           System.Text.StringBuilder sb = new System.Text.StringBuilder();

                           if (friendCount == 0)
                           {
                               sb.Append("Friends That Have Been Here: " + friendCount);
                           }
                           else
                           {
                               sb.Append("Friends That Have Been Here: <a href=\"javascript:void(0);\" onclick=\"ibt.loadUrlPop('/ShowFriend/" + i.IBTType.ToString() + "/" + i.ExObjId.ToString() + "','Get','',null,' " + strcount + " Who\\'ve Been There');\">" + friendCount + "</a>");
                           }
                     }
                    <span class="friendsInfo  italic f10 C7a7a7a mT5">@Html.Raw(sb.ToString())</span>
                </div>
                </dt>
                <dd>
                    @if (i.UserId == UserId && (i.ActiveType == (int)IMeet.IBT.Services.Identifier.FeedActiveType.AddTravel || i.ActiveType == (int)IMeet.IBT.Services.Identifier.FeedActiveType.IBT || i.ActiveType == (int)IMeet.IBT.Services.Identifier.FeedActiveType.PostVisit))
                    {
                        int IBTId = supplierService.GetIBTInfo(i.UserId, i.SupplyId, i.CountryId, i.CityId).IBTId;
                        <div class="relative">
                            <div class="editBox select">
                                <span class="arrow">&nbsp;</span>
                                <div class="list">
                                    <ul>
                                        <li onclick="@("ibt.IveBeenThere('/PostVisit/" + @i.IBTType + "/" + @i.ExObjId + "?newsfeedId="+i.NewsFeedId+"','Get','',function(){$('#handleType').val(1);ibt.PvPopLoad();},'Edit POst visit');")">Edit</li>
                                        <li onclick="@("jTravelFeed.DelPVNewsfeed(" + @i.NewsFeedId + "," + @i.NewsFeedId + "," + @IBTId + ");")">Delect</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="photo">
                        @foreach(var photo in i.AttachmentList){
                             <a href="javascript:void(0);" onclick="PhotoManage.GetPhotoDetail(@photo.AttId,@i.NewsFeedId);"><img src="@(photo.SourceFileName+"_tn.jpg")" alt="" class="mR10"/></a>
                        }
                    </div>
                    <p>@Html.Raw(i.ObjVal)</p>
                    <span id="ibtcommon_operating_@(i.NewsFeedId)" class="commentsTxt">
                        <a id="@("ibtcommon_comments_"+i.NewsFeedId)" href="javascript:void(0);" onclick="ibt_common.getFeedComment(@i.NewsFeedId,1);" data-newsFeedId="@i.NewsFeedId" data-comments="@i.CommentCount">Comments(@i.CommentCount)</a>
                        <div id="@("replyBox_"+i.NewsFeedId.ToString())" class="replyBox"></div>
                    </span>
                    @if (i.IbtCount > 1 && (i.ActiveType == (int)IMeet.IBT.Services.Identifier.FeedActiveType.AddTravel || i.ActiveType == (int)IMeet.IBT.Services.Identifier.FeedActiveType.IBT || i.ActiveType == (int)IMeet.IBT.Services.Identifier.FeedActiveType.PostVisit))
                    {
                        <div class="history">
                            <span class="sliderD sliderU " id="@("feedHistoryTxt_"+i.NewsFeedId)" onclick="feedHistory.ShowFeedHistory(2,@i.NewsFeedId,@i.IBTType,@i.ExObjId,@i.UserId);" > view history  </span>
                            <div class="historyList" id="@("feedHistoryList_"+i.NewsFeedId)"></div>
                        </div>
                    }
                </dd>
             </dl>
         </li>
        }
    }
}