﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@Html.Raw(ViewBag.Title)</title>
    <meta name="keywords" content="@Html.Raw(ViewBag.Keywords)" />
    <meta name="description" content="@Html.Raw(IMeet.IBT.Common.StringHelper.checkStr(ViewBag.Description))" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link href="/js/boxy/boxy.css" rel="stylesheet" />
    @* <link type="text/css" href="/js/bvalidator/bvalidator.css" rel="stylesheet" />*@
    <link href="/js/bvalidator/signupstyle.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript">
         @if (HttpContext.Current.User.Identity.IsAuthenticated)
         {
            <text>var UserId =</text> @Html.Raw(HttpContext.Current.User.Identity.Name + ";") 
         }
         else
         {
            <text>var UserId = 0;</text>
         }
    </script>
    @RenderSection("PageHead", required: false)
</head>
<body>
    <div class="wrapper">
        <div class="wrapBg fixbox">
            <div class="side bgdge">
                @RenderSection("PageSide", required: false)
            </div>

            <div class="content" id="page_content">
                @RenderBody()

                @Html.Partial("Widget/_Footer")
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/jquery-ui-1.9.0.custom.min.js"></script>
    <script type="text/javascript" src="/js/scroll.js"></script>
    <script type="text/javascript" src="/js/boxy/jquery.boxy.js"></script>
    <script type="text/javascript" src="/js/ibt.js?v=1.0"></script>
    <script type="text/javascript" src="/js/effect.js?v=1.0"></script>
    <script type="text/javascript" src="/js/bvalidator/jquery.bvalidator.js"></script>
    @* <script type="text/javascript" src="/js/bvalidator/jquery.bvalidator-yc.js"></script>*@
    <script type="text/javascript" src="/js/jquery.raty.min.js"></script>
    <script type="text/javascript" src="/js/uploadify/jquery.uploadify.min.js"></script>

    <!--[if IE 6]>
    <script src="/js/DD_belatedPNG_0.0.8a-min.js" mce_src="/js/DD_belatedPNG_0.0.8a-min.js"></script>
    <script type="text/javascript">DD_belatedPNG.fix('img,.mapTip,.mapTips .bot,.slideBox ul li dt .more ,.starW12');</script>
    <![endif]-->
    @RenderSection("PageFoot", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
            checkboxshow();
            searchTab();
            selectSpan();
            var scorlltop =$(document).scrollTop();
            $(".boxyWrapper").css("top",scorlltop+95+"px")
            scroll_init(scroll_blue);
            //popup();
            $(".fadeClick").fadeClick();
            inputText();
        })
        function showPop2(){
            var mybox = null;
            var  popupHtml= $("#videoPopup").html();
            mybox = new Boxy($("#videoPopup").html(), {
                title:"How To Post Visits and Earn Points",
                modal: true, 
                center: true, 
                unloadOnHide: true,
                closeText:"x", 
                afterHide: function(e) {$(".wrapper").after("<div id='videoPopup' style='display: none;'>"+ popupHtml +"</div>"); }, 
                afterShow: function(e) {
                }
            });
            $(".boxyInner").addClass("popup");
            $("#videoPopup").remove();
            $(".popup").find(".clickNext").click(function(){
                $(this).hide();
                $(this).prev("div").hide().css("opacity",0);
                $(this).next("div").show();	
            })	 
            //$(".boxyWrapper").css("top",scorlltop+95+"px");
        }
        function showPop2_addTravel(){
            var mybox = null;
            var  popupHtml= $("#addTravel_videoPopup").html();
            mybox = new Boxy($("#addTravel_videoPopup").html(), {
                title:"How To Post Visits and Earn Points",
                modal: true, 
                center: true, 
                unloadOnHide: true,
                closeText:"x", 
                afterHide: function(e) {$(".wrapper").after("<div id='addTravel_videoPopup' style='display: none;'>"+ popupHtml +"</div>"); }, 
                afterShow: function(e) {}
            });
            $(".boxyInner").addClass("popup");
            $("#addTravel_videoPopup").remove();
            $(".popup").find(".clickNext").click(function(){
                $(this).hide();
                $(this).prev("div").hide().css("opacity",0);
                $(this).next("div").show();	
            })	 
            checkboxshow();
            selectSpan();
            var scorlltop =$(document).scrollTop();
            $(".boxyWrapper").css("top",scorlltop+95+"px")
        }
        function showPopHowToPostVisit() {
            var mybox = null;
            mybox = new Boxy($("#howToPostVisit").html(), {
                title: "How To Post Visits and Earn Points",
                modal: true,
                center: true,
                unloadOnHide: true,
                closeText: "X",
                afterHide: function (e) { },
                afterShow: function (e) { }
            });
            $(".boxyInner").addClass("popup");
            checkboxshow();
            selectSpan();
        }
    </script>
    <div class="overLayout" style="display: none;" onclick="PhotoManage.DeletePhotoPopup();"></div>
    <div id="_photoalbumDetail" style="width: 100%;"></div>

    <div id="videoPopup" style="display: none;">
        <div class=" popupMain" style="width: 575px; padding-bottom: 0;">
            <div class="postPoints">

                <div class="clickNext pointer" style="display: block">
                    <img src="/images/introduction/search_bar/step1.jpg" border="0" />
                </div>
                <div class="clickNext pointer" style="display: none">
                    <img src="/images/introduction/search_bar/step2.jpg" border="0">
                </div>
                <div class="clickNext pointer" style="display: none">
                    <img src="/images/introduction/search_bar/step3.jpg" border="0" />
                </div>
                <div class="clickNext pointer" style="display: none">
                    <img src="/images/introduction/search_bar/step4.jpg" border="0">
                </div>
                <div class="clickNext pointer" style="display: none">
                    <img src="/images/introduction/search_bar/step5.jpg" border="0" />
                </div>
                <div style="display: none">
                    <img src="/images/introduction/search_bar/step6.jpg" border="0" usemap="#Map6" />
                    <map name="Map6" id="Map6" onclick="Boxy.get(this).hideAndUnload();" class="pointer">
                        <area shape="rect" coords="491,383,571,417" href="javascript:void(0);" />
                    </map>
                </div>
            </div>
        </div>
    </div>

    <div id="addTravel_videoPopup" style="display: none;">
        <div class=" popupMain" style="width: 575px; padding-bottom: 0;">
            <div class="postPoints">
                <div class="clickNext pointer" style="display: block">
                    <img src="/images/introduction/add_travel/step1.jpg" border="0" />
                </div>
                <div class="clickNext pointer" style="display: none">
                    <img src="/images/introduction/add_travel/step2.jpg" border="0" />
                </div>
                <div class="clickNext pointer" style="display: none">
                    <img src="/images/introduction/add_travel/step3.jpg" border="0" />
                </div>
                <div class="clickNext pointer" style="display: none">
                    <img src="/images/introduction/add_travel/step4.jpg" border="0" />
                </div>
                <div class="clickNext pointer" style="display: none">
                    <img src="/images/introduction/add_travel/step5.jpg" border="0" />
                </div>
                <div class="clickNext pointer" style="display: none">
                    <img src="/images/introduction/add_travel/step6.jpg" border="0" />
                </div>
                <div class="clickNext pointer" style="display: none">
                    <img src="/images/introduction/add_travel/step7.jpg" border="0" />
                </div>
                <div class="clickNext pointer" style="display: none">
                    <img src="/images/introduction/add_travel/step8.jpg" border="0" />
                </div>
                <div style="display: none">
                    <img src="/images/introduction/add_travel/step9.jpg" border="0" usemap="#MapAT9" />
                    <map name="MapAT9" id="MapAT9" onclick="Boxy.get(this).hideAndUnload();" class="pointer">
                        <area shape="rect" coords="491,383,571,417" href="javascript:void(0);" />
                    </map>
                </div>
            </div>

        </div>
    </div>

    <div id="howToPostVisit" style="display: none;">
        <div class="W600 popupMain">
            <div class="postPoints">

                <h2 class="">There are
                    <br />
                    <span class="num">2 WAYS</span> <span class="sub italic">to post visits</span> </h2>

                <p class="alignC">
                    Both methods build your travel history & credit
                    <br />
                    your Meeting Professional Badge!
                </p>


                <div class="mT40 alignC mB20">
                    <a href="javascript:void(0);" onclick="showPop2();" class="mR15">
                        <img src="/images/button/btn_post.png" /></a>
                    <a href="javascript:void(0);" onclick="showPop2_addTravel();">
                        <img src="/images/button/btn_more.png" /></a>
                </div>

            </div>

        </div>
    </div>

    @RenderSection("PageNanigation", required: false)
</body>
</html>

