﻿<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/App/css/style.css" type="text/css" />
    <link rel="Stylesheet" href="/App/css/style_admin.css" type="text/css" />
    <link href="/App/js/boxy/boxy.css" rel="stylesheet" />
    <link href="/App/js/bvalidator/bvalidator.css" rel="stylesheet" />
    <script type="text/javascript" src="/App/js/jquery-1.7.1.min.js"></script>
    <script src="/App/js/boxy/jquery.boxy.js"></script>
    <script src="/App/js/bvalidator/jquery.bvalidator.js"></script>
    <script type="text/javascript" src="/App/js/effect.js"></script>
    <script type="text/javascript" src="/App/js/ibtAdmin.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            selectSpan();
            tableBox();
            control();
        })
    </script>
    @RenderSection("PageHead", required: false)
</head>
<body>
    <div class="wrapper">
        <div class="wrapBg fixbox">
            @Html.Partial("_AdminHeader")
            <div class="content">
                <div class="grayBox">
                    @if (!string.IsNullOrEmpty(ViewBag.PageTitle2))
                    {
                        <h2 class="blugBigBg"><span class="bg">@Html.Raw(ViewBag.PageTitle)</span><span class="subTitle"><span class="bg">@ViewBag.PageTitle2</span> </span></h2>
                    }
                    else
                    {
                        <h2 class="blugBigBg">
                            <span class="bg">@ViewBag.PageTitle</span>
                        </h2>
                    }
                    @Html.Partial("_AdminMenu")
                </div>
                @RenderBody()
            </div>
        </div>
    </div>
    @RenderSection("PageFoot", required: false)
</body>
</html>
