﻿@{
    int showType = 0;
    string localUrl = HttpContext.Current.Request.Url.ToString();
    var list = Widget.GetWidgetAdsIBT(localUrl, out showType);
    string url = "#";
 }
<script type="text/javascript">
    //统计点击数、浏览数
    function GetAdsCountOfHBrowse(objId) {
        if (UserId == 0) {
            ibt.loadUrlPop('/account/login', 'Get', '', function () { $('#pop_login').bValidator({ singleError: true }); $('.boxyInner').addClass('popup'); inputText(); }, 'Login With');
            return;
        }
        $('#hidMediaId').val(objId);
        $('#hidUrl').val(window.location.href);
        var json_data = { objId: $('#hidMediaId').val(), localUrl: $('#hidUrl').val() };
        $.post("/Widget/StatisticsWidgetHit", json_data, function (json) {
            if (json.Success) {
            }
        }, "json");
    }
    function goLink(url) {
        var form = $("<form>").attr("method", "post").attr("target", "_blank").attr("action", url);
        $(form).appendTo(document.body).submit();
        $(form).remove();
    }
</script>
<input type="hidden" id="hidMediaId" name="hidMediaId" value="" />
<input type="hidden" id="hidsupplyId" name="hidsupplyId" value="" />
<input type="hidden" id="hidUrl" name="hidUrl" value="" />

<div class="box ">
    <h2 class="blugBg"><span class="bg">Advertisement</span></h2>

    @foreach (var item in list)
    {
        <div class="ads mR10">
            @*            @if (item.IsLink == true)
            {
                url = item.TargetUrl;
            }*@
            @if (item.IsLink == true)
            {
                if (!string.IsNullOrEmpty(item.TargetUrl))
                {
                    url = item.TargetUrl;
                }
            }
            else if (item.SupplyId > 0)
            {
                url = "http://" + Request.Url.Authority + "/Supplier/v/" + item.SupplyId.ToString() + "-" + IMeet.IBT.Common.UrlSeoUtils.BuildValidUrl(item.Title);
            }

            @if (url != "#")
            {
                if (item.MediaType == 2)
                {         
                <a href="@url" target="_blank" onclick="GetAdsCountOfHBrowse(@item.MediaId,@item.SupplyId);">
                    <img src="@Html.Raw(string.IsNullOrEmpty(item.FileSrc) ? "" : item.FileSrc + "_ads.jpg")" alt="@item.Title" /></a>
                }
                else
                {
                @Html.Raw("<a href=\"javascript:void(0);\"  onclick=\"GetAdsCountOfHBrowse(" + item.MediaId + ");goLink('" + url + "');\">" + item.Code + "</a>")
                }
                <a class="linkBlock" href="@url" target="_blank">
                    <div class="pointer" onclick="GetAdsCountOfHBrowse(@item.MediaId,@item.SupplyId);">
                        <h2>@item.Title</h2>
                        @if (item.Desp.ToString().Contains("<") || item.Desp.ToString().Contains(">"))
                        {
                            <p>@Html.Raw(item.Desp.ToString())</p>
                        }
                        else
                        {     
                            @Html.Raw(string.IsNullOrEmpty(item.Desp.ToString()) ? "" : "<p>" + IMeet.IBT.Common.StringHelper.Truncate(item.Desp, 150, "...") + "</p>")
                        }
                    </div>
                </a>
            }
            else
            {
                if (item.MediaType == 2)
                {         
                <a href="javascript:void(0);" onclick="GetAdsCountOfHBrowse(@item.MediaId,@item.SupplyId);">
                    <img src="@Html.Raw(string.IsNullOrEmpty(item.FileSrc) ? "" : item.FileSrc + "_ads.jpg")" alt="@item.Title" /></a>
                }
                else
                {
                @Html.Raw("<a href=\"javascript:void(0);\"  onclick=\"GetAdsCountOfHBrowse(" + item.MediaId + ");\">" + item.Code + "</a>")
                }
                <div class="pointer" onclick="GetAdsCountOfHBrowse(@item.MediaId,@item.SupplyId);">
                    <h2>@item.Title</h2>
                    @if (item.Desp.ToString().Contains("<") || item.Desp.ToString().Contains(">"))
                    {
                        <p>@Html.Raw(item.Desp.ToString())</p>
                    }
                    else
                    {     
                        @Html.Raw(string.IsNullOrEmpty(item.Desp.ToString()) ? "" : "<p>" + IMeet.IBT.Common.StringHelper.Truncate(item.Desp, 150, "...") + "</p>")
                    }
                </div>
            }
        </div>
    }


</div>
