﻿@{
    IMeet.IBT.Services.ProfileService profileService = new IMeet.IBT.Services.ProfileService();
    int userId = profileService.GetUserId();
    Profile profile = profileService.GetUserProfile(userId);
    int? roleId = profileService.GetUserInfo(userId).RoleId;
}

@if (User.Identity.IsAuthenticated)
{
    <div class="header">
        <div class="fixbox">
            <span class="mySelf">
                <a href="/Profile">
                    <img style="width:26px; height:26px;" src="@PageHelper.GetUserAvatar(userId, (int)IMeet.IBT.Services.Identifier.AccountSettingAvatarSize._xxlat)" />
                    @profile.Firstname</a>

                <a class="message" href="/Connection/Message">@profileService.GetTotalCount(userId)</a>
                <span class="select selecBtnList" style="z-index: 0;">

                    <span class="title">
                        <a class="downArrow" href="#"></a>
                    </span>
                    <span class="list" style="display: none;">
                        <ul>
                            <li><a href="/account/welcome" id="h_Wel" onclick="">Welcome</a></li>
                            <li><a href="/Account/AccountSetting" id="h_Pro" onclick="changeLink('EditProfile');return false;">My Account</a></li>
                            <li><a href="javascript:void(0);" id="h_HTPV" onclick="showPopHowToPostVisit();">How To Post Visits</a></li>
                            <li class="lineT"></li>
                            <li><a href="/Connection/Message/@userId" id="h_Msg" onclick="changeLink('Message');return false;"><span class="num">@profileService.GetMsgCount(userId)</span>Messages </a></li>
                            <li><a href="/Connection/Connection/@userId" id="h_Con" onclick="changeLink('Connection');return false;">Connections</a></li>@*<span class="num">@profileService.GetConnectionCount(userId)</span>*@
                            <li><a href="/Account/FriendRequest/@userId" id="h_Req" onclick="changeLink('Request');return false;"><span class="num">@profileService.GetRequestCount(userId)</span> Friends Requests</a></li>
                            <li><a href="/Connection/InviteFriend/@userId" id="h_Inv" onclick="changeLink('Invite');return false;">Invite Friends</a></li>
                            <li class="lineT"></li>
                            <li><a href="/Home/Index" id="h_about" onclick="changeLink('About');return false;">About</a></li>
                            <li><a href="/contact_us" id="h_Help" onclick="changeLink('Contact');return false;">Help</a></li>
                            <li><a href="/PrivacyPolicy" id="h_Privacy" onclick="changeLink('Privacy');return false;">Privacy</a></li>
                            <li><a href="/Account/LogOff" id="h_Logout" onclick="changeLink('Logout');return false;">Log Out</a></li>
                            @*<li><a href="/Account/BCreateUser?accessToken=&tokenSecret=&snsType=&snsId=&firstName=&lastName=&email=&city=&country=" >BCreateUser</a></li>*@
                            @if (roleId == 1)
                            {
                                <li id="adminList"><a href="/admin/home/MemberManage" id="h_Admin">Admin</a></li>
                            }

                        </ul>
                    </span>

                </span>
            </span>
            <div class="menu">
                <a href="/home/index" class="" id="a_about" onclick="changeLink('About');return false;">About</a>
                <a href="/home" class="" id="a_home" onclick="changeLink('Home');return false;">HOME</a>
                <a href="/supplier/travelsadd" class="" id="a_addtravels" onclick="changeLink('AddTravel');return false;">Add+History</a>
                <a href="/account/pointsummary" class="" id="a_pointsummary" onclick="changeLink('PointSummary');return false;">MY BADGE</a>
                <a href="/profile" class="" id="a_profile" onclick="changeLink('Profile');return false;">MY INFO</a>
            </div>
            <a class="logo" href="/home" onclick="changeLink('Home');return false;">i 've Been There!</a>
        </div>
    </div>
}
else
{
    <div class="header">
        <div class="fixbox">
            <div class="menu">
                <a href="javascript:void(0);" onclick="ibt.loadUrlPop('/account/login','Get','',function(){$('#pop_login').bValidator({singleError:true});  $('.boxyInner').addClass('popup');inputText();},'Login<span class=\'f12\'>(Required For This Activity)</span>');" class="C31AEE3">Login</a> |
               <a class="C31AEE3" href="/Account/signup">Sign Up</a>
                @* @Html.ActionLink("Sign Up", "signup",null,new{@class="C31AEE3"})*@
            </div>
            <a class="logo" href="/home">i 've Been There!</a>
        </div>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
    });
    function changeActive() {

    }
    function changeLink(name) {
        if ($("#hidePageType").val() == "1" && $("#iptCountryIds").val() != "") {
            Boxy.confirmNoOrYes("Would you like to SAVE your selections to your travel history and profile?",
                function () {
                    if (name == "About") {
                        location.href = "/Home/Index";
                    }
                    else if (name == "History") {
                        location.href = "TravelHistory";
                    }
                    else if (name == "AddTravel") {
                        location.href = "/Supplier/TravelsAdd";
                    }
                    else if (name == "Profile") {
                        location.href = "/profile";
                    }
                    else if (name == "PointSummary") {
                        location.href = "/account/pointsummary";
                    }
                    else if (name == "Contact") {
                        location.href = "/contact_us";
                    }
                    else if (name == "Terms") {
                        location.href = "/TermsOfUse";
                    }
                    else if (name == "Privacy") {
                        location.href = "/PrivacyPolicy";
                    }
                    else if (name == "Imeet") {
                        location.href = "http://www.i-meet.com";
                    }
                    else if (name == "Facebook") {
                        location.href = "https://www.facebook.com/worldtravelnotebook";
                    }
                    else if (name == "Twitter") {
                        location.href = "http://twitter.com";
                    }
                    else if (name == "Linkedin") {
                        location.href = "http://www.linkedin.com/groups/Ive-Been-There-4770767";
                    }
                    else if (name == "Message") {
                        location.href = "/Connection/Message/@userId";
                    }
                    else if (name == "Connection") {
                        location.href = "/Connection/Connection/@userId";
                    }
                    else if (name == "Invite") {
                        location.href = "/Connection/InviteFriend/@userId";
                    }
                    else if (name == "Request") {
                        location.href = "/Account/FriendRequest/@userId";
                    }
                    else if (name == "EditProfile") {
                        location.href = "/Account/AccountSetting";
                    }
                    else if (name == "Logout") {
                        location.href = "/Account/LogOff";
                    }
                    else {
                        location.href = "/home";
                    }
                },
                function () { jTravelsAdd.Step4(0); },
                { title: 'confirm' });
    $(".boxyInner").addClass("popup");
} else {
    if (name == "About") {
        location.href = "/Home/Index";
    }
    else if (name == "History") {
        location.href = "TravelHistory";
    }
    else if (name == "AddTravel") {
        location.href = "/Supplier/TravelsAdd";
    }
    else if (name == "Profile") {
        location.href = "/profile";
    }
    else if (name == "PointSummary") {
        location.href = "/account/pointsummary";
    }
    else if (name == "Contact") {
        location.href = "/contact_us";
    }
    else if (name == "Terms") {
        location.href = "/TermsOfUse";
    }
    else if (name == "Privacy") {
        location.href = "/PrivacyPolicy";
    }
    else if (name == "Imeet") {
        location.href = "http://www.i-meet.com";
    }
    else if (name == "Facebook") {
        location.href = "https://www.facebook.com/worldtravelnotebook";
    }
    else if (name == "Twitter") {
        location.href = "http://twitter.com";
    }
    else if (name == "Linkedin") {
        location.href = "http://www.linkedin.com/groups/Ive-Been-There-4770767";
    }
    else if (name == "Message") {
        location.href = "/Connection/Message/@userId";
    }
    else if (name == "Connection") {
        location.href = "/Connection/Connection/@userId";
    }
    else if (name == "Invite") {
        location.href = "/Connection/InviteFriend/@userId";
    }
    else if (name == "Request") {
        location.href = "/Account/FriendRequest/@userId";
    }
    else if (name == "EditProfile") {
        location.href = "/Account/AccountSetting";
    }
    else if (name == "Logout") {
        location.href = "/Account/LogOff";
    }
    else {
        location.href = "/home";
    }
}
}
</script>
