﻿@{
    IMeet.IBT.Services.SearchService searchService = new IMeet.IBT.Services.SearchService();
    IMeet.IBT.Services.SupplierService supplierService = new IMeet.IBT.Services.SupplierService();
}
<script src="/js/jSearch.js"></script>
<script src="/js/jAdvancedSearch.js"></script>
<link href="/js/ui/jquery-ui.css" rel="stylesheet" />
<script src="/js/ui/jquery-ui.js"></script>
<script type="text/javascript">
    $(function () {
        $("#baseKeyword").focus(function () {
            var val = "POST A VISIT HERE!  Find, Rate and ADD to your Travels - Countries, Cities, Hotels, Venues and More";
            if ($(this).val() == val) {
                $(this).val("");
            }
        }).blur(function () {
            if ($(this).val() == "") {
                $(this).val("POST A VISIT HERE!  Find, Rate and ADD to your Travels - Countries, Cities, Hotels, Venues and More");
            }
        });
        $("#baseKeyword").autocomplete({
            source: function (request, response) {
                baseSearch.goSearch();
                resultSearch();
            },
            minLength: 2
        });
        GetByJquery();
        $("#ddlCountry").change(function () {
            GetCity();
            var value = $("#ddlCountry").val();       
            var url = document.location.href;
            if (url.indexOf("ResultSearch") > -1) {
                $("#rs_hidcountryId").attr("value", value);  
            }
            else {
                $("#hidfldCountry").attr("value", value); 
            }
        });
        $("#ddlCity").change(function () {
            var value = $("#ddlCity").val();
            var url = document.location.href;
            if (url.indexOf("ResultSearch") > -1) {
                $("#rs_hidcityId").attr("value", value);
            }
            else {
                $("#hidfldCity").attr("value", value);
            }
        });
    });
    function sub(e) {
        var e = e || window.event;
        var keyCode = e.keyCode || e.which;
        var oTarget = e.srcElement || e.target;
        if (keyCode == 13) {
            resultSearch();
            //document.getElementById("btnSearch").click();
        }
    }
    function resultSearch() {
        if ($("#baseKeyword").val() == "") {
            window.location = "/Search/Index";
        }
        else {
            document.getElementById("btnSearch").click();
        }
    }
    function GetByJquery() {
        $("#ddlCountry").empty();
        $.getJSON("/Account/GetCountry", function (data) {
            $.each(data, function (i, item) {
                $("#ddlCountry").append($("<option></option>").val(i).text(item));
            });
            GetCity();
        });
        $("#ddlCountry").prepend($("<option></option>").val("-1").text("Select Country"));
    }
    function GetCity() {
        $("#ddlCity").empty();
        var url = "/Account/GetCity/" + $("#ddlCountry").val() + "/";
        $.getJSON(url, function (data) {
            $.each(data, function (i, item) {
                $("<option></option>")
                .val(i)
                .text(item)
                .appendTo($("#ddlCity"));
            });
        });
        $("#ddlCity").prepend($("<option></option>").val("-1").text("Select City"));
    }

    function GetSelectItem() {
        $('#selectedItem').empty();
        var selAttrIds = ibt.getCheckboxVal("#tbodyType tr>td>span", "data-attrId");
        $("#hidSelAttrId").val(selAttrIds);
        var url = document.location.href;
        if (url.indexOf("ResultSearch") > -1) {
            $("#hidcateIds").val(selAttrIds);
        }
        var json_data = { selAttrIds: $("#hidSelAttrId").val() };
        $.ajax({
            url: '/Search/SelectItemAjx', async: false, dataType: "json", data: json_data, type: 'post', success: function (json) {
                if (json.Success) {
                    if ($("#hidSelAttrId").val() != "") {
                        $('#selectedItem').append(json.Message);
                    }
                    else {
                        $('#selectedItem').append("<span style=\"color: #31AEE3; padding-left: 10px;\">Select Category</span>");
                    }
                }
            }
        });
    }
    function remove_item(objId) {
        $("span[objId=" + objId + "]").remove();
        $(".checkboxSmall").each(function () {
            $("span[data-attrId=" + objId + "]").removeClass("uncheckbox");
        });
        cateIds = $("#hidSelAttrId").val();
        $("#hidSelAttrId").val("");
        $("#hidcateIds").val("");
        ch = new Array;
        ch2 = new Array;
        ch = cateIds.split(",");
        for (i = 0; i <= ch.length; i++) {
            if (objId != ch[i] && ch[i] != undefined) {
                ch2.push(ch[i]);
            }
        }
        $("#hidSelAttrId").val(ch2);
        $("#hidcateIds").val(ch2);
        if ($("#hidSelAttrId").val() == "" || $("#hidcateIds").val() == "") {
            $('#selectedItem').append("<span style=\"color: #31AEE3; padding-left: 10px;\">Select Category</span>");
        }

    }
    function skiplink() {
        var url = document.location.href;
        if (url.indexOf("ResultSearch") > -1) {
            window.location.href = "/Search/ResultSearch?countryId=" + $('#rs_hidcountryId').val() + "&cityId=" + $('#rs_hidcityId').val() + "&cateIds=" + $('#hidcateIds').val() + "&sortBy=" + $('#hidsortby').val();
        }
        else {
            window.location.href = "/Search/ResultSearch?countryId=" + $('#hidfldCountry').val() + "&cityId=" + $('#hidfldCity').val() + "&cateIds=" + $('#hidSelAttrId').val() + "&sortBy=" + $('#IsShowMySearch').val();
        }
    }
    function link() {
        //$("a[name='btnGo']").each(function () {
        window.location.href = "/Search/Index/" + $('#baseKeyword').val();
        //});
    }

</script>
<input type="hidden" id="hidSupplycount" value="" />
<input type="hidden" id="hidMembercount" value="" />
<input type="hidden" id="hidSelAttrId" value="" />

<div class="search" style="display: none;">
    <div class="searchChosse" id="searchChosse">
        <a class="oneActive" href="#">Search</a><a class="two" href="#">Advanced Search</a>
        <a class="btnGray mL10" href="/Search/BrowseByCountry"><span class="bg">Browse by Country</span></a>
    </div>
    <div class="searchBar clear">
        <div style="display: block;" class="one" id="oneBar">
            <input type="button" class="btnSearch" id="btnSearch" style="display: none;" />
            <a class="btn" href="javascript:void(0);" onclick="link()">GO! &gt;</a>
            <input type="text" value="POST A VISIT HERE!  Find, Rate and ADD to your Travels - Countries, Cities, Hotels, Venues and More" id="baseKeyword" onkeydown="sub(event);">
            <div class="dropDownList" style="display: none;">
                <ul>
                    <li id="countryList">
                        <div class="title"><a href="#">Country</a></div>
                        <div class="info" id="countryDiv">
                            @* <dl>
                                        <dt><a href="#"><img alt="" src="/images/photos/Uk.gif"></a></dt>
                                        <dd><a href="#">United Kingdom, <strong>United Kingdom</strong> </a></dd>
                                        <dd>United Kingdom, United Kingdom</dd>
                                        <dd>Country</dd>
                                    </dl>*@
                        </div>
                    </li>
                    <li id="cityList">
                        <div class="title"><a href="#">City</a></div>
                        <div class="info" id="cityDiv">
                            @* <dl>
                                        <dt><a href="#"><img alt="" src="/images/photos/bath.gif"></a></dt>
                                        <dd><a href="#">Bath </a></dd>
                                        <dd>Bath, <strong>United Kingdom</strong></dd>
                                        <dd><i>City</i></dd>
                                    </dl>
                                    <dl>
                                        <dt><a href="#"><img alt="" src="/images/photos/brighton.gif"></a></dt>
                                        <dd><a href="#">Brighton &amp; Hove </a></dd>
                                        <dd>Brighton &amp; Hove, <strong>United Kingdom</strong></dd>
                                        <dd><i>City</i></dd>
                                    </dl>
                                    <dl>
                                        <dt><a href="#"><img alt="" src="/images/photos/birmingham.gif"></a></dt>
                                        <dd><a href="#">Birmingham </a></dd>
                                        <dd>Birmingham, <strong>United Kingdom</strong></dd>
                                        <dd><i>City</i></dd>
                                    </dl>*@
                        </div>
                    </li>
                    <li style="display: none;">
                        <div class="title"><a href="#">Venues</a></div>
                        <div class="info">
                            <dl>
                                <dt><a target="_blank" href="supplier_listing.html">
                                    <img alt="" src="/images/photos/crowne.gif"></a></dt>
                                <dd><a target="_blank" href="supplier_listing.html">Crowne Plaza Hotel Reading</a></dd>
                                <dd>Richfield Avenue Reading,<strong>United Kingdom</strong></dd>
                                <dd><i>Hotel</i></dd>
                            </dl>
                            <dl>
                                <dt><a target="_blank" href="supplier_listing2.html">
                                    <img alt="" src="/images/photos/abbey.gif"></a></dt>
                                <dd><a target="_blank" href="supplier_listing2.html">Abbey Hotel</a></dd>
                                <dd>Stafford,<strong>United Kingdom</strong></dd>
                                <dd><i>Hotel</i></dd>
                            </dl>
                            <dl>
                                <dt><a target="_blank" href="supplier_listing.html">
                                    <img alt="" src="/images/photos/crowne.gif"></a></dt>
                                <dd><a target="_blank" href="supplier_listing.html">Crowne Plaza Hotel Reading</a></dd>
                                <dd>Richfield Avenue Reading,<strong>United Kingdom</strong></dd>
                                <dd><i>Hotel</i></dd>
                            </dl>
                            <dl>
                                <dt><a target="_blank" href="supplier_listing2.html">
                                    <img alt="" src="/images/photos/abbey.gif"></a></dt>
                                <dd><a target="_blank" href="supplier_listing2.html">Abbey Hotel</a></dd>
                                <dd>Stafford,<strong>United Kingdom</strong></dd>
                                <dd><i>Hotel</i></dd>
                            </dl>
                        </div>
                    </li>
                    <li id="supplyList">
                        <div class="title"><a href="#">Supplier</a></div>
                        <div class="info" id="supplyDiv">
                            @*<dl>
                                        <dt><a target="_blank" href="supplier_listing.html"><img alt="" src="/images/photos/crowne.gif"></a></dt>
                                        <dd><a target="_blank" href="supplier_listing.html">Crowne Plaza Hotel Reading</a></dd>
                                        <dd>Richfield Avenue Reading,<strong>United Kingdom</strong></dd>
                                    </dl>   *@
                        </div>
                    </li>
                    <li id="memberList">
                        <div class="title"><a href="#">Member</a></div>
                        <div class="info" id="memberDiv">
                            @* <dl>
                                        <dt><a class="userPic" href="#"><img alt="User Name" src="/images/avatar/w50_02.gif"></a></dt>
                                        <dd><a href="#">Mark Jones</a></dd>
                                        <dd><span class="txt">California, USA</span></dd>
                                    </dl>     *@
                        </div>
                    </li>
                </ul>
                <div class="bot" id="resultALL">@*<a href="/Search/Index">See more results for United Kingdom Around <span id="resultSearch_count">0</span> results found    〉</a>*@</div>
            </div>
        </div>
        <div style="display: none;" class="two" id="twoBar">
            <a name="skipname" class="btn" onclick="skiplink();" href="javascript:void(0);">GO! &gt;</a>
            <select id="ddlCountry" class="w140 left">
            </select>
            <input id="hidfldCountry" name="hidfldCountry" value="-1" type="hidden" />
            @* <span class="select w140" style="z-index: 0;">
                        <span class="title arrow" id="countryName">Select Country</span>
                            <span class="list" style="display: none;">
                                <div class="scrollBox" style="height: 200px;">
                            <ul id="ddlCountry">
                                 @{
                                    foreach (var countryItem in supplierService.GetAllCountry())
                                    {
                         <li data-countryId="@countryItem.CountryId" onclick="GetCity('@countryItem.CountryId');">@countryItem.CountryName</li>
                                    }
 }
                            </ul>
                                    </div>
                        </span>
                    </span>*@
            <select id="ddlCity" class="w140 left"></select>
            <input id="hidfldCity" name="hidfldCity" value="" type="hidden" />
            @*         <span class="select w140" style="z-index: 0;">
                        <span class="title arrow">Select City</span>                       
                            <span class="list" style="display: none;">
                                <div class="scrollBox" style="height: 200px;">
                            <ul id="ddlCity">  
                               
                            </ul>
                                    </div>
                        </span>
                    </span>*@
            <span class="select selecBtnList w200" style="z-index: 0;">
                <span class="title">
                    <a class="downArrow" href="#"></a>
                    <span class="selected" id="selectedItem">
                        <span style="color: #31AEE3; padding-left: 10px;">Select Category</span>
                        @* <span class="selectedBox">Garden <a href="#">x</a></span>
                            <span class="selectedBox">School <a href="#">x</a></span>
                            <span class="selectedBox">Pharmacy <a href="#">x</a></span>
                            <span class="selectedBox">Pharmacy <a href="#">x</a></span>*@
                    </span>
                </span>
                <span class="list w200" style="display: none;">
                    <span class="selected" id="hidselectedItem">
                        @*<span class="selectedBox">Garden <a href="#">x</a></span>
                                <span class="selectedBox">Hotel <a href="#">x</a></span>
                                <span class="selectedBox">Cafe <a href="#">x</a></span>
                                <span class="selectedBox">Pharmacy <a href="#">x</a></span>*@
                    </span>
                    @*<img alt="" src="/images/text_oops_maximum_number_of_tags_selected.gif">*@
                    <table cellspacing="0" cellpadding="0" border="0" id="typeTab">
                        <tbody id="tbodyType">
                            @{
                                foreach (var item in searchService.GetAttributeDataList())
                                {
                                    //for (int i = 0; i < searchService.GetAttributeDataList().Count; i++)
                                    //{
                                    //    if (i % 2 == 0)
                                    //    {
                                <tr>
                                    <td onclick="GetSelectItem();"><span class="checkboxSmall" data-attrId="@item.AttrDataId" data-attrName="@item.AttrDataName"></span>@item.AttrDataName </td>
                                </tr>@*
                                                }
                                            }*@
                                }
 @* <tr><td width="40%"><span class="uncheckboxSmall uncheckbox"></span>Cafe </td><td width="40%"><span class="uncheckboxSmall"></span>Hotel </td></tr>
                                <tr><td><span class="checkboxSmall"></span>Club </td><td><span class="checkboxSmall"></span>Spa </td></tr>
                                <tr><td><span class="checkboxSmall"></span>Bars </td><td><span class="checkboxSmall"></span>Salon </td></tr>
                                <tr><td><span class="checkboxSmall"></span>Dessert </td><td><span class="uncheckboxSmall"></span>Restaurant </td></tr>
                                <tr><td><span class="checkboxSmall"></span>Parks </td><td><span class="uncheckboxSmall"></span>Wine Bar </td></tr>*@
                            
 }
                        </tbody>
                    </table>
                </span>
            </span>
            @*<select id="ddlPopular" class="select w140" >
                     </select>
                     <input id="hidfldPopular " name="hidfldPopular" value="" type="hidden" /> *@
            <input type="hidden" id="IsShowMySearch" value="0" />
            <span class="select w140" style="z-index: 0;">
                <span class="title arrow" id="sortbyTitle">Select Ratings</span>
                <span class="list" style="display: none;">
                    <ul id="recommendList">
                        <li onclick="advancedSearch.changeSort(1);" id="Recommended">Recommended</li>
                        <li onclick="advancedSearch.changeSort(2);" id="Visited">Most Visited</li>
                    </ul>
                </span>
            </span>

        </div>
    </div>
</div>
