﻿<script src="/js/jSearch.js"></script>
<script src="/js/jAdvancedSearch.js"></script>
<link href="/js/ui/jquery-ui.css" rel="stylesheet" />
<script src="/js/ui/jquery-ui.js"></script>
<div class="searchBar2">
    <div class="main">
        <div class="btnBox right">
            <a href="javascript:void(0);" onclick="searchBar2.goLink();" class="btn btnSearch btnActive left"><span>Search</span></a>
            <a href="/search/listing?s=countries" class="btn left">Browse by Country</a>
        </div>
        <span class="select w120 left">
            <span class="arrow">Search By</span>
            <span class="list">
                <ul>
                    <li onclick="searchBar2.searchByN('hotels');">Hotels</li>
                    <li onclick="searchBar2.searchByN('countries');">Countries</li>
                    <li onclick="searchBar2.searchByN('cities');">Cities</li>
                    <li onclick="searchBar2.searchByN('other');">Other Venues</li>
                    <li onclick="searchBar2.searchByN('all');">All Suppliers</li>
                    <li onclick="searchBar2.searchByN('member');">People</li>
                </ul>
            </span>
        </span>
        <div class="key ">
            <input id="searchBar2_keyWord" type="text" class="" value="Key in Keyword" onfocus="if(this.value=='Key in Keyword'){ this.value=''; document.getElementById('howToUse').style.display='none';}" onblur="if(this.value==''){ this.value='Key in Keyword';document.getElementById('howToUse').style.display='block';}" />
            <a href="javascript:void(0);" class="iconVideo" id="howToUse" onclick="showPop2();">How To Post Visits?</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    var searchBar2 = {
        searchBy: "hotels",
        searchByN: function (type) {
            searchBar2.searchBy = type;
            var searchByName = 'hotels';
            switch (searchBar2.searchBy) {
                case "countries":
                    searchByName = 'Countries';
                    break;
                case 'cities':
                    searchByName = 'Cities';
                    break;
                case 'other':
                    searchByName = 'Other Venues';
                    break;
                case 'all':
                    searchByName = 'All Suppliers';
                    break;
                case 'member':
                    searchByName = 'People';
                    break;
                default:
                    searchByName = "Hotels";
                    break;
            }
            $('.searchBar2 .select .arrow').html(searchByName);
        },
        isNav:false,
        goLink: function () {
            var keyWord = "";
            if (!searchBar2.isNav) {
                if ($("#searchBar2_keyWord").val() != "Key in Keyword")
                    keyWord = "&k=" + encodeURIComponent($("#searchBar2_keyWord").val());
            } else {
                if($("#nav_search_keywork").val()!="Key in Keyword")
                    keyWord = "&k=" + encodeURIComponent($("#nav_search_keywork").val());
            }
            window.location.href = "/search/listing?s=" + searchBar2.searchBy + keyWord;
        }
    }
</script>