﻿@{
    IMeet.IBT.DAL.Models.UserTravelBadge utb = null;
    IMeet.IBT.DAL.User user = null;
    if (User.Identity.IsAuthenticated)
    {
        IMeet.IBT.Services.ITravelBadgeService _travelBadgeService = StructureMap.ObjectFactory.GetInstance<IMeet.IBT.Services.ITravelBadgeService>();
        utb = _travelBadgeService.GetUserTravelbadge();
        user = utb.User;
    }
}

<div class="box ">
    <div class="alignR"><a class="underline allLink" href="/account/pointSummary">Learn More</a></div>
    <div class="img">
        @if (User.Identity.IsAuthenticated)
        {
            <a href="/account/pointSummary">
                <img alt="Travel Badge" src="@utb.TravelBadgeLogo"></a>
        }
        else
        {
            <a href="/account/pointSummary">
                <img alt="Travel Badge" src="/images/logo/travel_badge/travel_badge.png"></a>
        }
    </div>

    <div class="alignC">
        <a href="/travelbadge/badgespecials" class="btnBlueDeepH54">
            <span class="bg">
                <span class="arrow">MORE WAYS TO EARN<br />
                    POINTS.SEE SPECIALS</span>
            </span>
        </a>
    </div>

    @if (User.Identity.IsAuthenticated && user != null && user.IsActivate == (int)IMeet.IBT.Services.Identifier.IsActivate.True)
    { 
        <dl class="travelBadge">
            <dt><a href="/profile">@(user.Profile.Firstname + " " + user.Profile.Lastname)</a></dt>
            <dd><a href="javascript:void(0);" class="iconCountries"><span class="num">@utb.UserPermanentPoint.CountryNumber</span>Countries</a></dd>
            <dd><a href="javascript:void(0);" class="iconCities"><span class="num">@utb.UserPermanentPoint.CityNumber</span>Cities</a></dd>
            <dd><a href="javascript:void(0);" class="iconVenues"><span class="num">@utb.UserPermanentPoint.PlacesNumber</span>Venues</a></dd>
        </dl>
    }

@*    <dl>
        <dt>MEETING PROFESSIONAL BADGE</dt>
        <dd>Track and Record Events Planned. Site inspections, Ratings, Where You want to Go Back</dd>
        <dd class="C7a7a7a">Earn Points.  Light Up Your Stars!</dd>
    </dl>*@
</div>

