﻿<div class="box NBorderB">
    <h2 class="blugBg"><span class="bg">Why i've been there?</span></h2>
    <a href="http://i-meet.com/" target="_blank">
        <img src="/images/logo/imeet_h64.jpg" alt="104 x 64" /></a>
    <p class="C676767">As a benefit of your i-Meet membership, you're already registered here!</p>
    <p class="C676767">Use your i-Meet email address and password to get started!</p>
    <ol>
        <li>
            <h3>Record your travels.</h3>
            <p>Countries, Cities, Hotels, Venues.</p>
            <p>Post Photos. Comments.</p>
            <p>Your Travel History.</p>
            <p>All in one place!</p>
        </li>
        <li>
            <h3>SHARE YOUR  EXPERIENCES</h3>
            <p>Create Your Travel Map.</p>
            <p>Share It &amp; Your Recommendations.></p>
            <p>See Your Friends' Travels.</p>
            <p>See Who's Been Where!</p>
        </li>
        <li>
            <h3>MEETING PROFESSIONAL BADGE</h3>
            <p>Track and Record Events Planned.  Site Inspections.  Ratings.  Where You Want to Go Back..</p>
            <p>Earn Points.  Light Up Your Stars!</p>
        </li>
    </ol>
</div>
