﻿<div class="tableList">
<table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tr>
        <th width="30%">Membership</th>
        <th width="30%">Supplier</th>
        <th width="30%">Content Management</th>
    </tr>
    <tr>
        <td class="first"><a href="/admin/home/MemberManage">Membership Management</a></td>
        <td class="first"><a href="/admin/home/SupplierManage">Supplier Management</a></td>
        <td class="first" ><a href="#">Travels Reports Management</a> (Work in Progress)</td>
    </tr>
    <tr>
        <td><a href="#">Membership Reports Management</a> (Work in Progress)</td>
        <td><a href="/admin/home/SupplierTypeManage">Supplier Type Management</a></td>
        <td><a href="/admin/home/LandingManage">Landing Page Management</a></td>
    </tr>
    <tr>
        <td><a href="#">Email Update</a> (Work in Progress)</td>
        <td><a href="#">Media Management</a>(Work in Progress)</td>
        <td><a href="/admin/home/Destination">Home Page Management</a></td>
    </tr>
    <tr>
		<td>
			<a href="/admin/home/GetActivatedUsersList">Activated Users List (Download File)</a>
		</td>
        <td><a href="#">Supplier Reports Management</a> (Work in Progress)</td>
        <td><a href="/admin/home/WidgetCountriesManage">Widget Management</a></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
         <td><a href="#">Supplier Reports Scheduler</a> (Work in Progress)</td>
        <td><a href="/admin/home/SpecialAdsManage">Ads and Promotions Management</a></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td><a href="/admin/home/SupplierBatchImport">Supplier Batch Import</a> (Work in Progress)</td>
         <td><a href="/admin/home/CountryManage">Countries and Cities Management</a></td>
    </tr>
     <tr>
        <td>&nbsp;</td>
        <td><a href="#">Photo Reports Management</a> (Work in Progress)</td>
        <td><a href="/admin/home/badgespecials">Manage Meeting Professional Badge</a></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td><a href="/admin/home/emaillist">Email Campaign Management</a></td>
    </tr>
</table>
</div>
