﻿@{
    ViewBag.Title = "InviteFriend";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("Widget/_Header")
<script src="/js/invite.js"></script>
<script type="text/javascript">
     //Begin
    function checkFields() {
        var str = "";
        $('input:text').each(function () {
            if ($(this).val() == "Email Address") {
                $(this).attr("value","");
            }
                str += $(this).val();     
        });
        if ((str != "" || str != "Email Address") && $("#txtmsg").val() != "") {
            invite.invitefriend(); 
        }
        else {
            alert('All Text Bar are empty!');
        }
        //email = document.emailform.inputemail.value;
    }
    //  End -->

    function countCharacters() {
        var max = 300;
        var keyword = document.getElementById("txtmsg").value;
        if (keyword.length > max) {
            document.getElementById("txtmsg").value = keyword.substring(0, max);
            document.getElementById("spnCharLeft").innerHTML = "0";
        }
        else {
            document.getElementById("spnCharLeft").innerHTML = max - keyword.length;
        }
    }
    $(document).ready(function ()
    {
        countCharacters();
        $('#emailform').bValidator();
    });
</script>
 <div class="grayBg">
            	<div class="grayBox">
                	<h2 class="blugBigBg"><span class="bg">Invite Friends</span></h2>
                    <div class="inviteBox">
                    	<div class="navList">
                        	<ul class="fixbox">
                            	<li class="active"><a href="#" class="iconEmail">Email</a></li>
                                <li><a href="/invite/facebook" class="facebookH26 ">Facebook</a></li>
@*                                <li><a href="invite_friend.html" class="twitterH26">LinkedIn</a></li>
                                <li><a href="invite_friend.html" class="linkedinH26">i-Meet</a></li>*@
                            </ul>
                        </div>
                        <div class="main">
                          <h3 class="">Invite Your Friends to I've Been There!</h3>
                        	<form id="emailform" name="emailform" method="post" >
                            	<p><input class="inputBg" id="inputemail" name="inputemail" type="text" value="Email Address" data-bvalidator="email" />
                                   @* <span class="error">*The Email Address you have just entered is invaild.</span>*@</p>
                            	<p><input class="inputBg" id="inputemail" name="inputemail2" type="text" value="Email Address" data-bvalidator="email"/></p>
                            	<p><input class="inputBg" id="inputemail" name="inputemail3" type="text" value="Email Address"  data-bvalidator="email"/></p>
                            	<p><input class="inputBg" id="inputemail" name="inputemail4" type="text" value="Email Address" data-bvalidator="email" /></p>
                            	<p><textarea id="txtmsg" name="txtmsg"  onkeydown="countCharacters();" onkeyup="countCharacters();"></textarea><br />
                                     <span class="n_characters w300">characters left: <span class="character_count" id="spnCharLeft">300</span></span>
                            	</p>
                                <a href="javascript:void(0);" class="btnBlueH45 mT15" onclick="checkFields();"><span class="bg">Send Invites</span></a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
@section PageSide{
    @Html.Partial("Widget/_Advertisement")
    @Html.Partial("Widget/_Promotions")
    @Html.Partial("Widget/_IBT")
}
