﻿@{
    var rpList = ViewData["RecentPlacesList"] as List<RecentPlacesItem>;
    string showImg = "";
    string savename = "";
    string shwoAvatar = "";
    string path = "";
    string avatarpath = "";
 }
<script type="text/javascript">
    $(document).ready(function () {
        scorllSlide();
    });
</script>
<div class="mTB15">
    <h2 class="barBg"><span class="bg"><span class="C0d4b4d">The Recent Places that</span> We've Been</span></h2>
    <div class="totleBox2 totleGray">
        <ul class="fixbox">
            <li class="firstLi">
                <div class="box"><span class="numBox">@Widget.IbtStatistics(1, 0)</span> Countries</div>
            </li>
            <li>
                <div class="box"><span class="numBox">@Widget.IbtStatistics(2, 0)</span> Cities</div>
            </li>
            <li>
                <div class="box"><span class="numBox">@Widget.IbtStatistics(3, 0)</span> Hotels</div>
            </li>
            <li>
                <div class="box"><span class="numBox">@Widget.IbtStatistics(4, 0)</span> Lifestyle</div>
            </li>
            <li class="">
                <div class="box"><span class="numBox">@Widget.IbtStatistics(5, 0)</span> Attractions</div>
            </li>
        </ul>
    </div>
    <div class="fadeList">
        <div class="screen">
            <ul>
                @foreach (var item in rpList)
                {
                    if (!PageHelper.GetUserAvatar(item.UserId, (int)IMeet.IBT.Services.Identifier.AccountSettingAvatarSize._mn).Contains("9ab2285b"))
                    {
                        if (item.SupplyId > 0)
                        {
                            showImg = PageHelper.GetSupplyPhoto(item.SupplyId, item.CoverPhotoSrc, IMeet.IBT.Services.Identifier.SuppilyPhotoSize._xtn);
                        }
                        else
                        {
                            showImg = item.FlagSrc;
                        }
                        savename = item.UserId.ToString() + "_130.jpg";
                        path = "/Staticfile/Avatar/" + (item.UserId / 1000) + "/" + item.UserId.ToString() + "/";
                        avatarpath = path + savename;
                        if (!File.Exists(HttpContext.Current.Server.MapPath("~" + avatarpath)))
                        {
                            shwoAvatar = PageHelper.GetUserAvatar(item.UserId, (int)IMeet.IBT.Services.Identifier.AccountSettingAvatarSize._mn);
                        }
                        else
                        {
                            shwoAvatar = PageHelper.GetUserAvatar(item.UserId, (int)IMeet.IBT.Services.Identifier.AccountSettingAvatarSize._mn);
                        }
                    <li>
                        <span class="photos">
                            <span class="middle"></span>
                            <a href="@item.ProfileUrl">
                                <img alt="Photos Name" src="@shwoAvatar"></a>
                            <a class="userPic" href="@item.SupplyUrl">
                                <img alt="@item.Title" src="@showImg"></a>
                        </span>

                        @{
                        if (item.SupplyId > 0)
                        {   <p><a href="@item.ProfileUrl"><strong>@item.Firstname</strong></a> posted a visit to <a href="@item.SupplyUrl"><strong>@item.Title</strong></a></p>
                            <div class="f10">@item.CityName,@item.CountryName</div> }
                        else if (item.SupplyId == 0 && item.CityId == 0)
                        {  <p><a href="@item.ProfileUrl"><strong>@item.Firstname</strong></a> posted a visit to <a href="/Country/About/1/@item.CountryId"><strong>@item.CountryName</strong></a></p>
                            <div class="f10"></div>}
                        else
                        { <p><a href="@item.ProfileUrl"><strong>@item.Firstname</strong></a> posted a visit to <a href="/City/NewsFeed/2/@item.CityId"><strong>@item.CityName</strong></a> , <a href="/Country/About/1/@item.CountryId"><strong>@item.CountryName</strong></a></p>
                            <div class="f10"></div>}
                        }
                        <div class="btn">

                            @{
                        if (item.SupplyId > 0)
                        {   
                                <a class="btnBlueH23" href="@PageHelper.PostVisitNUrl(3,item.SupplyId)">
                                    @if (item.IbtCount < 1)
                                    {
                                        <span class="bg">I've Been There</span>
                                    }
                                    else
                                    {
                                        <span class="btnBlueNumH23"><span class="btnBlueAddH23">I've Been There</span>@item.IbtCount</span>
                                    }</a>
                        }
                        else if (item.SupplyId == 0 && item.CityId == 0)
                        {   
                                <a class="btnBlueH23" href="@PageHelper.PostVisitNUrl(1,item.CountryId)">
                                    @if (item.IbtCount < 1)
                                    {
                                        <span class="bg">I've Been There</span>
                                    }
                                    else
                                    {
                                        <span class="btnBlueNumH23"><span class="btnBlueAddH23">I've Been There</span>@item.IbtCount</span>
                                    }</a>
                        }
                        else
                        {  <a class="btnBlueH23" href="@PageHelper.PostVisitNUrl(2,item.CityId)">
                            @if (item.IbtCount < 1)
                            {
                                <span class="bg">I've Been There</span>
                            }
                            else
                            {
                                <span class="btnBlueNumH23"><span class="btnBlueAddH23">I've Been There</span>@item.IbtCount</span>
                            }</a>
                        }
                            }
                        </div>
                    </li>
                    }
                }

            </ul>
        </div>
        <span class="prev" style="cursor: pointer;"></span>
        <span class="next" style="cursor: pointer;"></span>
    </div>
</div>
