﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("Widget/_Header")
<script type="text/javascript">
    $(document).ready(function () {
        $("#a_pointsummary").attr("class", "active");
    });
</script>
@section PageSide{
    @Html.Partial("Widget/_TravelBadge")
    @Html.Partial("Widget/_Advertisement")
    @Html.Partial("Widget/_Video")
    @Html.Partial("Widget/_IBT")
}
<div class="bgdgeBox">
    <div class="navList">
        <div class=" bg">
            <a href="/account/pointsummary" class=" fold">Point<br />
                Summary</a>
            <a href="/travelbadge/about" class="fold">About</a>
            <a href="/travelbadge/earning" class="fold">Earning<br />
                Points</a>
            <a href="/travelbadge/achievement" class="fold unfold">Achievement<br />
                Levels</a>
            <a href="/travelbadge/rewards" class="fold">Rewards</span></a>
            <a href="/supplier/travelsadd" class="btn btnBlueH53"><span class="bg"><span class="arrow">Earn Points &  <br />Post Visits Now</span></span></a>
            @*            <a href="#" class="fold  lastLi">Set up Travel Badge
                <br />
                Signature</a>*@
        </div>
    </div>
    <div class="txtBox ">
        <p>The Meeting Professional Badge is designed to acknowledge your experience, and to show your colleagues and clients your level of achievement – another personal credential to indicate your professional qualifications.</p>
        <div class="mTB15">
            <img src="/images/achievement_img.jpg" /></div>

                        <h2 class="blugBigBg mT40"><span class="bg"><span class="f30 inlineBox alignM  sign">*</span> <span class="inlineBox  alignM">WORLD CLASS - An Extraordinary Designation</span></span></h2>
                        <p class="mL30">
                            <span class="bold">"World Class"</span> is an exclusive, invitation-only club membership that honors those professional meeting planners with the depth, breadth, and scope of experience that is truly worthy of this unique designation.  The criteria for entry into this elite group is extensive, and includes a minimum point level of 15,000, as well as providing 5 professional recommendations, 
an independent review and validation of your recorded experiences, and a personal interview with the World Class 
selection committee.
                        </p>
    </div>
</div>

@section PageFoot{
    <script type="text/javascript">
    </script>
}
@section PageNanigation{
    @Html.Partial("Widget/Nav/_TravelBadgeBar")
<script type="text/javascript">
    $(function () {
        ibt_travelBadge_index = 3;
        $('#_travelBadgeBar a:eq(' + ibt_travelBadge_index + ')').addClass('unfold');
    });
</script>
}