﻿@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>I've Been There - Badge Overview</title>
    <link rel="stylesheet" type="text/css" href="/style/css/style.css">
</head>

<body>
    <!-- Main Container -->
    <div id="mainContainer">
        <!-- Header -->
        <div id="headerContainer" class="left">
            <div class="badgeLogo">
                <img src="/style/images/logo_badge.png" width="155" height="155" alt="Meeting Professional Badge Logo" />
            </div>

            <div class="headerText">
                <h1>MEETING PROFESSIONAL BADGE</h1>
                <p>The industry's only acknowledgement of your on-the ground experience!</p>
            </div>
        </div>
        <!-- End of Header -->

        <!-- Section 1 -->
        <div id="sectionOneContainer" class="left">
            <div class="partOneContainer left">
                <div class="infoGraphic left">
                    <img src="/style/images/icon_roundlocations.gif" width="123" height="123" alt="ICON - Record all your travels. All in one place." class="iconLocations" />
                </div>

                <div class="contentBlue left">
                    <h2>Record all your travels.<br />
                        All in one place.</h2>
                    <p>We've made it <strong>fast and easy</strong> to create your travel history,and the more entries you make, the <strong>more stars</strong> light up on your Badge. Your experience create an identity for you that enhance your <strong>industry credentials</strong>, a strong indication of your accomplishment and world acknowledge.</p>
                </div>
            </div>
            <div class="deviderBlue left"></div>
            <div class="partOneContainer left">
                <div class="infoGraphic left">
                    <img src="/style/images/icon_roundpoints.gif" width="123" height="123" alt="ICON - Get POINTS towards Your Badge" class="iconPoints" />
                </div>

                <div class="contentBlue left">
                    <h2>Get POINTS towards<br />
                        Your Badge</h2>
                    <p>Record and save <strong>ALL</strong> your travels - post visits to countries, cities, hotels and other venues where you've managed events or site inspections. Include business trips and personal vacations to round out your experience.</p>
                </div>
            </div>
            <div class="deviderBlue left"></div>
            <div class="partOneContainer left">
                <div class="infoGraphic left">
                    <img src="/style/images/icon_roundrewards.gif" width="123" height="123" alt="ICON - Earn REWARDS" class="iconRewards" />
                </div>

                <div class="contentBlue left">
                    <h2>Earn REWARDS<br />
                        <br />
                    </h2>
                    <p>You'll be continuously recognized for your <strong>level of experience</strong> through the Badge and through our <strong>Rewards program</strong>.</p>
                </div>
            </div>
        </div>
        <!-- End of Section 1 -->

        <!-- Section 2 -->
        <div id="sectionTwoContainer" class="left">
            <div class="valuableContainer">
            </div>

            <div class="valuableContent">
                <h2>There's MORE that's VALUABLE here</h2>
                <p>
                    Meetings Professionals' Ratings, Comments, Photos and Expereience <strong>Are Valuable</strong>. The more post compiled, the better the <strong>industry intelligence</strong> and opportunities to network and share!<br />
                    <br />
                    So when you <strong>activate your Badge</strong>, you're also getting access to relevant information<br />
                    from your peers.
                </p>
            </div>

            <div class="activeBtnContainer">
                <a href="http://ive-been-there.com/account/pointSummary" class="activeBtn" target="_blank" title="NOW YOU CAN ACTIVATE YOUR BADGE"></a>
            </div>
        </div>
        <!-- End of Section 2 -->

        <!-- Footer -->
        <div id="footerContainer" class="left">
            <div class="footerContent">
                <h2>It's Easy to begin.</h2>
                <p>
                    There's no cost to participate. New members please visit <a href="http://www.ive-been-there.com/" target="_blank" title="I've Been There"><u>www.ive-been-there.com</u></a> to register and activate.<br />
                    <br />
                    <a href="http://ive-been-there.com/Account/PointSummary" target="_blank" title="Special Activation Link for i-Meet Members"><u>Special Activation Link for i-Meet Members</u></a>: you're already registered automatically, so you just need to activate. You must<br />
                    log-in to begin posting your experience and building your Meeting Professional Badge.
                </p>
            </div>

            <div class="startBtnContainer">
                <a href="http://www.i-meet.info/WelcomeBADGE/" class="startNowBtn" target="_blank" title="START NOW! for brief tips on how to begin"></a>
            </div>
        </div>
        <!-- End of Footer -->

        <!-- Logos -->
        <div id="logosContainer" class="left">
            <div class="smallIcons left">
                <img src="/style/images/logo_americanexpress.png" width="275" height="47" alt="American Express MEETINGS & EVENTS Logo" />
            </div>

            <div class="smallIcons left">
                <img src="/style/images/logo_imeet.png" width="72" height="44" alt="i-Meet Logo" />
            </div>

            <div class="smallIcons left">
                <img src="/style/images/logo_ibt.png" width="180" height="42" alt="I've Been There Logo" />
            </div>
        </div>
        <!-- End of Logos -->
    </div>
    <!-- End of Main COntainer -->
</body>
</html>
