﻿@{
    Layout = "~/Views/Shared/_Static.cshtml";
}

<div class="articleBox">
    <h2>I've Been There - Privacy Policy  </h2>
    <div class="main">
        <p>
            We take your privacy very seriously therefore we will not sell or distribute your personal information for any commercial purpose other than as set forth herein.  While providing an interesting environment for users to share information, we have set the following policies regarding the privacy of your information ("Privacy Policy"). We work hard to earn and keep your trust, so we adhere to the following principles to protect your privacy. This Privacy Policy applies only to information we collect or process from our website at www.Ive-Been-There.com (the "Site"). We are JFP Holdings, LLC, a Delaware limited liability company, doing business as I've Been There ("We", I've Been There or "IBT"). 
        </p>

        <p>
            <strong class="big">Personal Information</strong>. By registering, you may provide us with information that is personal to you, and can identify you, such as your name, address, email address, occupation, and professional employment (the "Personal Information"). You can access the Personal Information that we have collected and that we still maintain by contacting us as described below in "Contact Us." You can correct factual errors in your Personal Information by sending us a request that credibly shows that our records are incorrect, although we may refuse such requests at our sole discretion. We may use your contact information to contact you if necessary. We may use your Personal Information to enable you to share your information with other IBT members. To protect your privacy and security, we will also take reasonable steps to verify your identity before granting access to your Personal Information or permitting you to make corrections. 
        </p>
        <p>
            <strong class="big">Non-Personal Information</strong>. Once a User, you may, at your sole discretion, provide additional information in the IBT Profile section describing and/or posting your travel experiences or uploading photos or video ("Non-Personal Information").  Providing additional information beyond what is required at registration is entirely optional, but enables you to better identify and market yourself in order to meet new people and find new business opportunities in the IBT system. However, to the extent that such additional information is not Personal Information, we will treat it as Non-Personal Information. Other information, that is not Personal Information, may be collected by IBT from the Site such as, for example, patterns of utilization, and is exclusively owned by IBT. This information can be utilized by IBT in such manner as IBT, in its sole discretion, deems appropriate. Our Site may collect Non-Personal Information from you in order to track patterns of utilization, or collect data in aggregate, anonymized form to continuously improve our Site. However, such data shall not be traceable back to any individual and shall not be used to identify an individual. 
        </p>

        <p>
            <strong class="big">Cookies</strong>. We may keep track of your passwords, serve advertisements, and personalize your services by providing you a Cookie when you log in to the Site. Cookies are small files that are saved on your computer for record-keeping purposes and that contain information about you, such as your username and password. We use Cookies to help deliver content, time your session and to automatically log you out of our Site if you exceed the maximum minutes of inactivity. We also use Cookies to be able to (i) recognize you when you access the Site so that you do not have to re-enter your Personal Information or other information each time you visit; (ii) customize and personalize the user experience we make available to you; and (iii) maintain the "state" of your current visit (e.g., to maintain a list of your most recent searches). Other web sites cannot use Cookies created by our Site, and we do not use Cookies to track your activities outside of our Site. The Cookies we set are programmed to expire when you close your browser, although when you choose "Remember Me" option, your data shall be stored on that computer through a cookie. We do not link information from Cookies to Personal Information without your permission. We may use web beacons, for example, to collect Non-Personal Information about your use of the Site or to statistically monitor how many people are using our Site. . However, if your browser settings do not allow Cookies, you will not be able to use the Site. 
        </p>

        <p>
            <strong class="big">Information about your Contacts</strong>. In order to invite others to connect with you directly in IBT, you will enter their names and email addresses. This information will be used by IBT to send your invitation including a message of introduction from IBT. The names and email addresses of people that you invite will be used only to send your invitation and reminders. All contact information entered, or uploaded, by you will be treated as Personal Information. 
        </p>

        <h3>IBT Communications: </h3>

        <p>
            IBT will communicate with you through email and notices posted on the Site. These include various emails which help inform new Users about various features of the service and IBT Notifications that you have subscribed to in your profile settings . 
        </p>

        <h3>Customized Content: </h3>

        <p>
            Information you provide at registration or in your Profile section is also used to customize your experience on the Site. For example, when you login to your account we will display the screen names of new users who have recently joined your network. 
        </p>

        <h3>Children: </h3>

        <p>
            Persons under the age of eighteen (18) are not eligible to use our service. 
        </p>

        <h3>Partnering with Other Organizations, Offer Combined Services, Links to Outside Websites: </h3>
        <p>
            IBT partners with other online services to give you the combined results of both services. Whenever we offer such combined services, it will be your choice to make use of the combined services or not. In these cases, your Personal   Information will only be passed from IBT to the partner if you choose to use the combined service. For example IBT offers links to various helpful hospitality-oriented services. These links may or may not be companies managed by IBT and will have their own privacy policies and terms of service. 
        </p>

        <h3>Communications Between Users: </h3>
        <p>
            Many emails you initiate through IBT, an invitation sent to a non-User for instance, may provide your email address and name in the message header. Emails you initiate may also provide additional Non-Personal Information about other individuals in your network but usually do not list the Personal Information of the individuals with whom you are connected. Other communications that you initiate through the Site, like a request for contact, will list your name as the initiator but will not include your personal contact information. Your contact information will only be shared with another user if both of you have indicated that you would like to establish contact with each other. 
        </p>
        <h3>Security:</h3>
        <p>
            In order to secure your Personal Information, access to your data on IBT is password-protected. To protect any data you store on our servers we also regularly audit our system and currently use a tier-one secured-access data center. 
        </p>
        <h3>Change or Discontinue Your Account: </h3>
        <p>
            You can review and revise the Personal Information you provided us or to the settings for your IBT account, by editing your Personal Information on your Profile page. If you close your IBT account, we will remove your name and other personally identifiable information from our publicly viewable data. We may retain certain data contributed by you if it may be necessary to prevent fraud or future abuse, and for our business purposes, such as analysis of aggregated, non-personally-identifiable data, account recovery, or if required by law. All retained data will continue to be subject to the terms of this Privacy Policy. To close your account and remove your information from the Service, please contact us, using your IBT email address, at <a href="mailto:contact@IBT.com ">contact@IBT.com</a> <span class="yellowBg">or by letter to the address listed in "Contact Us"</span>. You will receive a response from us if we receive your request. 
        </p>
        <h3>IBT Does Not: </h3>
        <ul>
            <li>Rent or sell your Personal Information to third parties for marketing purposes. </li>
            <li>Release any Personal Information to third parties except as stated in this Privacy Policy.</li>
        </ul>
        <p>
            Notice of all changes that materially affect ways in which your Personal Information may be used or shared will be posted in updates to this Privacy Policy. Notice shall be deemed provided upon posting of updates of the Privacy Policy on the Site. If you continue to use the Service after notice of changes have been sent to you or published on our Site, you hereby provide your consent to the changed practices 
        </p>
        <h3>Disclaimer: </h3>
        <p>We shall disclose Personal Information, at our sole discretion, in response to a court order, any judicial proceeding, or other legal process to exercise our legal rights or defend against legal claims. </p>
        <h3>Changes to this Privacy Policy: </h3>
        <p>IBT may update this Privacy Policy at any time. In the event there are significant changes in the way we treat your Personal Information, we may display a notice on this Site. Unless stated otherwise, our current Privacy Policy applies to all information that we have about you and your account collected via the Site. </p>
        <h3>Contact Us: </h3>
        <p>If you have questions or comments about this Privacy Policy, or would like to contact us for any reason, please email us at <a href="mailto: contact@IBT.com">contact@IBT.com</a> or contact us at: </p>
    </div>
    <div class="info">
        IBT, LLC
    <br />
        Attn: Privacy Policy Issues
    <br />
        52 Riley Road, Suite 364
    <br />
        Celebration, FL  34747 

    </div>


</div>
