﻿@{
    Layout = "~/Views/Shared/_Static.cshtml";
}
  <div class="articleBox">
  	<h2>I've Been There - Terms of Use  </h2>
    <div class="main">
    <p>
Welcome to I've Been There, a property of JFP Holdings, LLC, a Delaware limited liability company ("IBT" or "Company"), the hospitality-oriented social network that connects you with other hospitality industry professionals around the world (the "Service"). By accessing or using our web site at www.Ive-Been-There.com (the "Site") or the mobile version of the Site ("Mobile Service") by posting a Share Button on your site, or by clicking "Sign me up", you ("you" or the "User") signify that you have read, understand and agree to be bound by these terms of use ("Terms " or "Agreement"), whether or not you are a registered member of IBT. We reserve the right, at our sole discretion, to change, modify, add, or delete portions of these Terms at any time without further notice. Your continued use of the Service or the Site after any such changes constitutes your acceptance of the new Terms. It is your responsibility to regularly check the Site to determine if there have been changes to these Terms and to review such changes. If you do not agree to abide by these or any future Terms, do not use or access (or continue to use or access) the Service or the Site. Moreover, to the extent you visit related web sites which utilize all or part of the Site's platform and content, you should review the terms of use and privacy policies provided by such web sites, as such web sites may or may not be affiliated with IBT. 
    </p>
    
    <p class="uppercase bold">
    PLEASE READ THESE TERMS CAREFULLY AS THEY CONTAIN IMPORTANT INFORMATION REGARDING YOUR LEGAL RIGHTS, REMEDIES AND OBLIGATIONS. THESE INCLUDE VARIOUS LIMITATIONS AND EXCLUSIONS, AND A DISPUTE RESOLUTION CLAUSE THAT GOVERNS HOW DISPUTES WILL BE RESOLVED.
    </p>
    
  
  <h3>Eligibility  </h3>
  
Membership in the Service is void where prohibited. This Site is intended solely for users who are eighteen (18) years of age or older. Any registration by, use of or access to the Site by anyone under 18, is unauthorized, unlicensed and in violation of these Terms. By using the Service or the Site, you represent and warrant that (a) you are 18 or older, (b) that you agree to and to abide by all of the terms and conditions of this Agreement, (c) have not been previously been suspended or removed from the Service, and (d) that you have full power to enter into this Agreement. 
  </p> 
  
  <h3>Registration Data; Account Security </h3> 
  
  <p>
In consideration of your use of the Site, User represents and warrants to (a) provide accurate, current and complete information about you as may be prompted by any registration forms on the Site ("User Data"); (b) maintain the security of your password and identification; (c) maintain and promptly update the User Data, and any other information you provide to Company, to keep it accurate, current and complete, and (d) be fully and solely responsible for all use of your account and for any actions that take place using your account. You represent and warrant that you will not sell, trade, or otherwise transfer your account or any information therein, to another party or charge anyone for access to any portion of the Service, or any information therein. In addition to the foregoing, you shall not sell, license, or transfer your account or any information therein, to another. 
  </p>
  
  <h3>Proprietary Rights in the Site and Content; Limited License  </h3>
  
  <p>
All content on the Site and available through the Site and Service including, without limitation, designs, text, graphics, artwork, pictures, photographs, video, information, applications, software, music, sound and any other files, and their selection and arrangement (the "Content"), and the Site, are the sole and exclusive property of the Company, its users or its licensors. You shall not whatsoever duplicate, modify, copy, distribute, frame, reproduce, rebrand, republish, download, scrape, crawl, spider, display, transmit, distribute, perform, post, transmit, or sell any part of the Site or Content in any form or by any means, in whole or in part, without the Company's prior written permission.
  </p>
  
  <p>
  You also agree not to use the Service or the Site to (a) disseminate or transmit unsolicited communications, (b) disseminate or transmit material that, to a reasonable person or to IBT may be abusive, obscene, pornographic, defamatory, harassing, grossly offensive, vulgar, threatening, or malicious, (c) upload, disseminate or transmit files, graphics, software, or other material that actually or potentially infringes the copyright, trademark, patent, trade secret, or any other intellectual property right of any third party, (d) create a false identity or to otherwise attempt to mislead any person as to the identity or origin of any communication, (e) reverse engineer, decompile, disassemble, decipher or otherwise attempt to derive the source code for any underlying intellectual property of Company, (f) interfere, disrupt, or attempt to gain unauthorized access to other accounts on the Service or any other computer network, (g) disseminate or transmit viruses, trojan horses, or any other malicious code or program, (h) deep-link to the Site for any purpose without prior written permission of Company, (i) "frame" or "mirror" or otherwise simulate the look and feel, or appearance or function, of the Site, (j) provide information that you do not have the authority to disclose under any law in any jurisdiction, (k) for more than one User account, register for a User account on behalf of an individual other than yourself, or register for a User account on behalf of any group or entity, or (l) engage in any other activity deemed by Company to be an unacceptable or inappropriate use of the Services or the Site. 
  </p>
  
  <h3>Access to Site and Content</h3>
  <p>
Provided that you are eligible for use of the Site, you are granted a limited license to access and use the Site and the Content solely for your personal use and to download or print a copy of any portion of the Content to which you have properly gained access solely for your personal, non-commercial use, provided that you keep all copyright or other proprietary notices intact. Such license is subject to these Terms and does not permit use of any data mining, robots, scraping or similar data gathering or extraction methods. Any use of the Site or the Content other than as specifically authorized herein, without the prior written permission of Company, is strictly prohibited and will terminate the license granted herein. Such unauthorized use may also violate applicable laws including patent, copyright and trademark laws and applicable communications regulations and statutes. Unless explicitly stated herein, nothing in these Terms shall be construed as conferring any license to intellectual property rights, whether by estoppel, implication or otherwise. This license is revocable at any time without notice and with or without cause. 
  </p>
  
  <h3>User Conduct </h3>
  <p>
You understand that except for advertising programs offered by us on the Site, the Service and the Site are available only for your non-commercial, personal use. You understand and agree that IBT grants you a limited, non-transferable and revocable license in any trademarks, copyrights and/or any other intellectual property in, or related to, the Site, Content and/or Service. You represent, warrant and covenant that no materials of any kind submitted through your account, or used in connection with advertising programs, or otherwise posted, transmitted, or shared by you on or through the Service will violate or infringe upon the rights of any third party, including copyright, trademark, privacy, publicity or other personal or proprietary rights; or contain libelous, defamatory or otherwise unlawful material. 
</p>
	<h3>User Content Posted on the Site </h3>
    <p>
You are solely responsible for the photos, profiles (including your name, image and likeness), messages, notes, text, information, photos, video, advertisements, marketing, and other content that you upload, publish or display (hereinafter, "post") on or through the Service or the Site, or transmit to or share with other users (collectively the "User Content"). You may not post, transmit, or share User Content on the Site or Service that you did not create or that you do not have permission to post. You understand and agree that the Company may, but is not obligated to, review the Site and may delete or remove (without notice) any User Content in its sole discretion, for any reason or no reason, including User Content that in the sole judgment of the Company violates this Agreement or the IBT Code of Conduct, or which might be offensive, illegal, or that might violate the rights, harm, or threaten the safety of users or others. You are solely responsible at your sole cost and expense for creating backup copies and replacing any User Content you post or store on the Site or provide to the Company. 
    </p>
    <p>
When you post User Content to the Site, you authorize and direct us to make such copies thereof as we deem necessary in order to facilitate the posting and storage of the User Content on the Site. By posting User Content to any part of the Site, you automatically grant, and you represent and warrant that you have the right to grant, to the Company an irrevocable, perpetual, non-exclusive, transferable, fully paid, worldwide license (with the right to sublicense) to use, copy, publicly perform, publicly display, reformat, translate, excerpt (in whole or in part) and distribute such User Content for any purpose, commercial, advertising, or otherwise, on or in connection with the Site or the promotion thereof, to prepare derivative works of, improve, publish, remove, retain, or incorporate into other works, such User Content, and to grant and authorize sublicenses of the foregoing. You may remove your User Content from the Site at any time. If you choose to remove your User Content, the license granted above will automatically expire; however, you acknowledge that the Company may retain archived copies of your User Content. IBT does not assert any ownership over your User Content; rather, as between us and you, subject to the rights granted to us in these Terms, you retain full ownership of all of your User Content and any intellectual property rights or other proprietary rights associated with your User Content. 
    </p>
    <p>
   You acknowledge and agree that any questions, comments, suggestions, ideas, feedback or other information about the Site or the Service ("Submissions"), provided by you to Company are not confidential and shall become the sole property of Company. Company shall own exclusive rights, including all intellectual property rights, and shall be entitled to the unrestricted use and dissemination of these Submissions for any purpose, commercial or otherwise, without acknowledgment or compensation to you. 
    </p>
    
    <p>
    We respect the intellectual property rights of others and we prohibit Users from uploading, posting or otherwise transmitting on the Site or Service any materials that violate another party's intellectual property rights. When we receive proper Notification of Alleged Copyright Infringement as described in our IBT Copyright Policy, we promptly remove or disable access to the allegedly infringing material and terminate the accounts of repeat infringers as described herein in accordance with the Digital Millennium Copyright Act. If you believe that any material on the Site infringes upon any copyright which you own or control, you may send a written notification of such infringement to our Designated Agent. Please see our IBT Copyright Policy for more information on how to report infringement of your copyright. 
    </p>
    <h3>Mobile Services</h3>
    <p>
In the event that you use Mobile Services, you agree that Company may communicate with you by SMS, MMS, text message or other electronic means and that certain information about your usage of the Mobile Services may be communicated to Company. Subject to your mobile device carrier's restrictions, Mobile Services may cause icons and data to be displayed on and through your mobile device, and may be updated on a periodic basis by connecting to and transferring data from servers through the Internet and/or communication systems to provide content updates and to populate your mobile device. You shall be responsible for all charges imposed by your wireless provider. 
    </p>
    <h3>Forums</h3>
   <p> IBT may provide public forums where users may post observations and comments. IBT shall not be responsible for the use of ideas and information that you post in the public forum. Any idea or information that you post on IBT's public forum shall be considered public information. 
 </p>
 	<h3>Share Service </h3>
    <p>Company offers a feature whereby Users can share with others or post to their own member profile, videos, articles ("User Material") and other Third Party Material from, and/or links to, Third Party Sites through the Service (the "Share Service"). You acknowledge and agree that your use of the Share Service and all User Material shared through the Share Service is subject to, and will fully comply with the terms and conditions set forth in these Terms. You also hereby grant each user of the Site a non-exclusive, perpetual, irrevocable, worldwide license to access your User Material through the Site, and to use, reproduce, distribute, display and perform such User Material as permitted through the functionality of the Site and under these Terms. </p>
    <h3>IBT Marketing</h3>
    <p>IBT may update this Privacy Policy at any time. In the event there are significant changes in the way we treat your Personal Information, we may display a notice on this Site. Unless stated otherwise, our current Privacy Policy applies to all information that we have about you and your account collected via the Site. </p>
  <h3>Contact Us: </h3>
  <p>All listings posted on or through IBT and all transactions conducted in connection therewith are subject to and governed by the IBT Marketplace Guidelines (the "Guidelines") as well as these Terms. When you use IBT Marketplace in any manner you are agreeing to abide by and be subject to the Guidelines and the other applicable rules set forth in these Terms. The Guidelines are subject to change without prior notice at any time, in the Company's sole discretion, so you should review the Guidelines each time you use IBT Marketplace. Parties to a transaction are solely responsible for all interactions with each other, for arranging for payment and the exchange of the goods or services purchased if applicable, and for the results and performance of any transaction or relationship entered into through IBT Marketplace. <span class="uppercase bold">YOU ACKNOWLEDGE THAT IBT IS NOT RESPONSIBLE OR LIABLE FOR ANY ACTION OR INACTION OF ANY PARTY TO A TRANSACTION, FOR ANY FAILURE TO PERFORM, TO PAY ANY AMOUNTS DUE, OR TO DELIVER ANY MERCHANDISE OR SERVICES AS PROMISED, OR FOR ANY OTHER ASPECT OF THE TRANSACTION.</span> Any fees or payments collected by IBT applicable to IBT Marketplace are set forth on the Site, and all terms and conditions applicable to such fees are set forth in these Terms or the Guidelines.  However, please note that the Terms and Guidelines do not apply to your purchases of products or services from third parties through IBT Marketplace, as those transactions are strictly between you and the other party to the transaction. ALL USE OF IBT MARKETPLACE IS PROVIDED "AS IS" AND AT YOUR OWN RISK. </p>
 
 <h3>Copyright and Repeat Infringer Policy</h3>
 <p>
 IBT is committed to complying with copyright and related laws, and expects all users of the Site to comply with such laws as well. Using the Site to transmit (whether by email, uploading, posting, or otherwise) any information or items without express permission of the owner of such information or items or to engage in any activity that infringes any copyright or any other right of a third party violates these legal provisions. User represents and warrants to IBT (a) that User owns, or is otherwise lawfully authorized to use, any files, data, text, or other information that User may transmit to or through the Site, and (b) that any use of the files, data, text, or other information supplied by User does not violate these legal notices and will not cause injury to any person or entity.
 </p>
 <p>
 If you believe that your work has been copied on our Site, or any of our other systems or networks in a way that constitutes infringement under the U.S. Copyright Act, please provide the following information to IBT for receipt of notification of claimed infringement (to ensure that your notification complies with the requirement of the U.S. Digital Millennium Copyright Act, please see 17 U.S.C. § 512(c)(3)): 
 </p>
 
 <ul>
 	<li>An electronic or physical signature of the person authorized to act on behalf of the owner of the copyright interest; </li>
    <li>description of the copyrighted work that you claim has been infringed; </li>
    <li>A description of where the material that you claim is infringing is located on the Site; </li>
   <li>Your address, telephone number, and email address;</li>
   <li>A statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law;</li>
 </ul>
 
 <p>
 A statement by you, made under penalty of perjury, that the above information in your notification is accurate and that you are the copyright owner or authorized to act on the copyright owner's behalf. 
 </p>
  <div class="info">
IBT can be contacted at: <br />
IBT, LLC<br />
52 Riley Road, Suite 364 <br />
Celebration, FL 34747<br />
<a href="mailto:contact@IBT.com">contact@IBT.com</a>
  </div>
  <p>
  Upon receipt of such notification, IBT may, in its sole discretion, remove or disable the alleged infringing material. In accordance with the U.S. Digital Millennium Copyright Act (DMCA) and other applicable law, Company may terminate, at Company's sole discretion, members who are deemed to be repeat infringers. Company may also at its sole discretion limit access to the Site and/or terminate the memberships of any users who the Company believes infringe any intellectual property rights of others, whether or not there is any repeat infringement. 
  </p>
  
  <h3>Third Party Websites and Content </h3>
  <p>
  The Site may contain (or you may be sent through the Site or the Service) links to other web sites, including, but not limited to, certain white-label web sites ("Third Party Sites") as well as articles, photographs, text, graphics, pictures, video, information, applications, software and other content or items belonging to or originating from third parties ("Third Party Material"). Company shall not be responsible for monitoring or checking for accuracy such Third Party Sites and Third Party Material, or access to these Third Party Sites and Third Party Material posted on, available through or installed from the Site. Inclusion of, linking to or permitting the use or installation of any Third Party Site or any Third Party Content does not imply approval or endorsement by Company. User shall be solely responsible should User wish to leave the Site and access Third Party Sites or to use or install any Third Party Material. 
  </p>
  
  <h3>User Disputes </h3>
  <p>You are solely responsible for your interactions with other IBT Users. We reserve the right, but have no obligation, to monitor disputes between you and other Users. </p>
 <h3>LIMITATION OF LIABILITY AND WARRANTY </h3>
 <p class="uppercase bold">YOU AGREE THAT YOUR USE OF THE SITE SHALL BE AT YOUR SOLE RISK. TO THE FULLEST EXTENT PERMITTED BY LAW, IBT, ITS OFFICERS, DIRECTORS, EMPLOYEES, AND AGENTS DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, IN CONNECTION WITH THE SITE AND YOUR USE THEREOF. IBT MAKES NO WARRANTIES OR REPRESENTATIONS ABOUT THE ACCURACY OR COMPLETENESS OF THIS SITE'S CONTENT OR THE CONTENT OF ANY THIRD-PARTY WEBSITES LINKED TO THIS SITE AND ASSUMES NO LIABILITY OR RESPONSIBILITY FOR ANY (I) ERRORS, MISTAKES, OR INACCURACIES OF CONTENT, (II) PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO AND USE OF OUR SITE, (III) ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SECURE SERVERS AND/OR ANY AND ALL PERSONAL INFORMATION AND/OR FINANCIAL INFORMATION STORED THEREIN, (IV) ANY INTERRUPTION OR CESSATION OF TRANSMISSION TO OR FROM OUR SITE, (V) ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE WHICH MAY BE TRANSMITTED TO OR THROUGH OUR SITE BY ANY THIRD PARTY, AND/OR (VI) ANY ERRORS OR OMISSIONS IN ANY CONTENT OR FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF THE USE OF ANY CONTENT POSTED, EMAILED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE VIA THE SITE. IBT DOES NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME RESPONSIBILITY FOR ANY PRODUCT OR SERVICE ADVERTISED OR OFFERED BY A THIRD PARTY THROUGH THE SITE OR ANY HYPERLINKED WEBSITE OR FEATURED IN ANY BANNER OR OTHER ADVERTISING, AND IBT WILL NOT BE A PARTY TO OR IN ANY WAY BE RESPONSIBLE FOR MONITORING ANY TRANSACTION BETWEEN YOU AND THIRD-PARTY PROVIDERS OF PRODUCTS OR SERVICES. AS WITH THE PURCHASE OF A PRODUCT OR SERVICE THROUGH ANY MEDIUM OR IN ANY ENVIRONMENT, YOU SHOULD USE YOUR BEST JUDGMENT AND EXERCISE CAUTION WHERE APPROPRIATE. </p>
 
 <p class="uppercase bold">
 THE SITE AND SERVICE ARE PROVIDED TO YOU ON AN "AS IS" AND "AS AVAILABLE" BASIS. IN NO EVENT WILL COMPANY OR ITS DIRECTORS, EMPLOYEES OR AGENTS BE LIABLE TO USER OR ANY THIRD PERSON FOR ANY INDIRECT, CONSEQUENTIAL, EXEMPLARY, INCIDENTAL, SPECIAL OR PUNITIVE DAMAGES, INCLUDING FOR ANY LOST PROFITS OR LOST DATA ARISING FROM USER'S USE OF THE SITE OR THE SERVICE, ANY PLATFORM APPLICATIONS OR ANY OF THE CONTENT OR OTHER MATERIALS ON, ACCESSED THROUGH OR DOWNLOADED FROM THE SITE, EVEN IF THE COMPANY IS AWARE OR HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. 
 </p>
 
 <p class="uppercase bold">
 NOTWITHSTANDING ANYTHING TO THE CONTRARY CONTAINED HEREIN, THE COMPANY'S LIABILITY TO USER FOR ANY CAUSE WHATSOEVER, AND REGARDLESS OF THE FORM OF THE ACTION, WILL AT ALL TIMES BE LIMITED TO THE AMOUNT PAID, IF ANY, BY USER TO COMPANY FOR THE SERVICE DURING THE TERM OF MEMBERSHIP, BUT IN NO CASE WILL THE COMPANY'S LIABILITY TO USER EXCEED $1000. 
 </p>
 
 <p class="uppercase bold">
 CERTAIN APPLICABLE LAWS MAY NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES. IF THESE LAWS APPLY TO YOU, SOME OR ALL OF THE ABOVE DISCLAIMERS, EXCLUSIONS OR LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MAY HAVE ADDITIONAL RIGHTS. 
 </p>
 <h3>Termination</h3>
 <p>The Company may terminate your membership, delete your profile and any content or information that you have posted on the Site and/or prohibit you from using or accessing the Service or the Site (or any portion, aspect or feature of the Service or the Site) for any reason, or no reason, at any time in its sole discretion, with or without notice, including if it believes that you are under the age of 18. When we are notified that a User has died, we will generally, but are not obligated to, keep the User's account active under a special memorialized status for a period of time determined by us to allow other Users to post and view comments. 
 </p>
 <h3>Governing Law; Venue and Jurisdiction</h3>
 <p>
 By visiting or using the Site and/or the Service, you agree that the laws of the State of Delaware, without regard to principles of conflict of laws, will govern these Terms and any dispute of any sort that might arise between you and the Company or any of our affiliates. With respect to any disputes or claims not subject to arbitration (as set forth below), you agree not to commence or prosecute any action in connection therewith other than in the state and federal courts of Florida, and you hereby consent to, and waive all defenses of lack of personal jurisdiction and forum non conveniens with respect to, venue and jurisdiction in the state and federal courts of Florida. 
 </p>
 
 <h3>Arbitration</h3>
 <p>
 	<span class="uppercase bold">
    YOU AND COMPANY AGREE THAT, THE SOLE AND EXCLUSIVE FORUM AND REMEDY FOR ANY AND ALL DISPUTES AND CLAIMS RELATING IN ANY WAY TO OR ARISING OUT OF THESE TERMS, THE SITE AND/OR THE SERVICE (INCLUDING YOUR VISIT TO OR USE OF THE SITE AND/OR THE SERVICE) SHALL BE FINAL AND BINDING ARBITRATION, </span>
    except that: (a) to the extent that either of us is alleged to have in any manner infringed upon or violated or threatened to infringe upon or violate the other party's patent, copyright, trademark or trade secret rights, or you have otherwise violated any of the User conduct rules set forth above or in the Code of Conduct, then the parties acknowledge that arbitration is not an adequate remedy at law and that injunctive or other appropriate relief may be sought; and (b) no disputes or claims relating to any transactions you enter into with a third party through the IBT Marketplace may be arbitrated under these Terms. 
 </p>
 
 <p>
 Arbitration under this Agreement shall be conducted by the American Arbitration Association (the "AAA") under its Commercial Arbitration Rules and, in the case of consumer disputes, the AAA's Supplementary Procedures for Consumer Related Disputes ( the "AAA Consumer Rules") (collectively the "AAA Rules"). The location of the arbitration and the allocation of costs and fees for such arbitration shall be determined in accordance with such AAA Rules and shall be subject to the limitations provided for in the AAA Consumer Rules (for consumer disputes). If such costs are determined to be excessive in a consumer dispute, the Company will be responsible for paying all arbitration fees and arbitrator compensation in excess of what is deemed reasonable. The arbitrator's award shall be binding and may be entered as a judgment in any court of competent jurisdiction. 
 </p>
<p>
To the fullest extent permitted by applicable law, NO ARBITRATION OR CLAIM UNDER THESE TERMS SHALL BE JOINED TO ANY OTHER ARBITRATION OR CLAIM, INCLUDING ANY ARBITRATION OR CLAIM INVOLVING ANY OTHER CURRENT OR FORMER USER OF THE SERVICE, AND NO CLASS ARBITRATION PROCEEDINGS SHALL BE PERMITTED. In no event shall any claim, action or proceeding by you related in any way to the Site and/or the Service (including your visit to or use of the Site and/or the Service) be instituted more than three (3) years after the cause of action arose. 
</p>
<h3>Indemnity</h3>
<p>
You agree to indemnify and hold the Company, its subsidiaries and affiliates, and each of their directors, officers, agents, contractors, partners and employees, harmless from and against any loss, liability, claim, demand, damages, costs and expenses, including reasonable attorney's fees, arising out of or in connection with any User Content, any Third Party Material you post or share on or through the Site (including through the Share Service), your use of the Service or the Site, your conduct in connection with the Service or the Site or with other users of the Service or the Site, or any violation of this Agreement or of any law or the rights of any third party. 
</p>
  
  <h3>Assignment</h3>
  <p>User may not assign or delegate any rights under these Terms. Company may freely assign or delegate any and all of its rights under the Terms without User's consent. </p>
  
  <h3>Definitions and Constructions</h3>
  <p>Unless otherwise specified, the terms "includes", "including", "e.g.,", "for example", and other similar terms are deemed to include the term "without limitation" immediately thereafter. Terms used in these Terms with the initial letter(s) capitalized will have the meaning attributed to them in these Terms. </p>
  
  <h3>Other </h3>
  <p>These Terms constitute the entire agreement between you and Company regarding the use of the Site and/or the Service, superseding any prior agreements between you and Company relating to your use of the Site or the Service. The failure of Company to exercise or enforce any right or provision of these Terms shall not constitute a waiver of such right or provision in that or any other instance. If any provision of this Agreement is held invalid, the remainder of this Agreement shall continue in full force and effect. If any provision of these Terms shall be deemed unlawful, void or for any reason unenforceable, then that provision shall be deemed severable from these Terms and shall not affect the validity and enforceability of any remaining provisions. </p>
  </div> 
  </div>
