﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("Widget/_Header")
@Html.Partial("Widget/_Search")
@Html.Partial("Widget/_SearchBar2")
<input type="hidden" id="listType" value="@(Request.QueryString.AllKeys.Contains("listType") ? Request.QueryString["listType"].ToString() : "Country")" />
<input type="hidden" id="filterLetter" value="" />
<input type="hidden" id="hidsortby" value="@Request.QueryString["sortBy"].ToString()" />
<input type="hidden" id="hidcateIds" value="@Request.QueryString["cateIds"].ToString()" />
<input type="hidden" id="rs_hidcountryId" value="@Request.QueryString["countryId"].ToString()" />
<input type="hidden" id="rs_hidcityId" value="@Request.QueryString["cityId"].ToString()" />
<input type="hidden" id="hidtabcount" value="" />
<input type="hidden" id="hidtab2count" value="" />
<input type="hidden" id="hidcount" value="" />
<div class="gray2Colum searchList ">
    <div class="fixbox myListBox searchBox">
        <div class="listNav" id="listnav">
            <a href="javascript:void(0);" onclick="change(this);advancedSearch.goTab(this,0);" class="btnBlueH34 btnActive" id="country"><span class="bg"><span class="alignM"></span><span class="txt">Countries ( <span id="SearchCountry_count">0</span> )</span></span></a>
            <a href="javascript:void(0);" onclick="change(this);advancedSearch.goTab(this,1);" class="btnBlueH34" id="city"><span class="bg"><span class="alignM"></span><span class="txt">Cities ( <span id="SearchCity_count">0</span> )</span></span></a>
            <a href="javascript:void(0);" onclick="change(this);advancedSearch.goTab(this,2);" class="btnBlueH34" id="supply"><span class="bg"><span class="alignM"></span><span class="txt">Suppliers ( <span id="SearchSupplier_count">0</span> ）</span></span></a>
            <a href="javascript:void(0);" onclick="change(this);advancedSearch.goTab(this,3);" class="btnBlueH34" id="member"><span class="bg"><span class="alignM"></span><span class="txt">Members ( <span id="SearchMember_count">0</span> ）</span></span></a>
        </div>
        <div class="listMain">
            <div class="fixbox mT15">
                <span class="smallSearch right mR15"></span>
                <h3 class="mL10 " id="advancedSearch_title">Search Results
                                <span class="txt"></span>
                </h3>
            </div>
            <div class="letterBar mB15">
                <div class="bg">
                    <div class="main" id="quickSearch">
                        @for (int i = 65; i < 91; i++)
                        {
                            <a href="javascript:void(0);" onclick="advancedSearch.quickSearch(this,'@Convert.ToChar(i).ToString()');">@Convert.ToChar(i).ToString()</a>
                        }
                    </div>
                </div>
            </div>
            <div class="feedList" id="feedDiv">
                <ul class="listUl" id="filterList">
                </ul>
                <a id="clickloadmore_filterList" href="javascript:void(0);" class="btnLoadMore" onclick="advancedSearch.GetSearchListOnClick();">+ Load More</a>
            </div>
            <div class="searchList feedList" id="searchDiv">
                <div class="connectionsBox ">
                    <ul class="fixbox" id="searchList">
                    </ul>
                    <a id="clickloadmore_searchList" href="javascript:void(0);" class="btnLoadMore" onclick="advancedSearch.GetSearchListOnClick();">+ Load More</a>
                </div>
            </div>
        </div>
    </div>
</div>
@section PageSide{
    @Html.Partial("Widget/_Advertisement")
    @Html.Partial("Widget/_Promotions")
    @Html.Partial("Widget/_IBT")
}
@section PageFoot{
    <script src="/js/connection.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            advancedSearch.initData();
            advancedSearch.init();
            checkboxshow();
            searchTab();
            initSearchedTab();
            selectCateData();
        });
        function change(whichLink) {
            var box = document.getElementById("listnav");
            var links = box.getElementsByTagName("a");
            for (var i = 0; i < links.length; i++) {
                links[i].setAttribute("class", "btnBlueH34");
                whichLink.setAttribute("class", "btnBlueH34 btnActive");
            }
        }
        function initSearchedTab() {
            var choose = document.getElementById("searchChosse");
            var tabs = choose.getElementsByTagName("a");
            for (var i = 0; i < tabs.length; i++) {
                tabs[0].setAttribute("class", "one");
                tabs[1].setAttribute("class", "twoActive");
            }
            document.getElementById("oneBar").style.display = "none ";
            document.getElementById("twoBar").style.display = "block ";
            setTimeout("selectCountryData()", 1000);
            var t = setTimeout;
            clearTimeout(t);
            if ($("#hidsortby").val() == "1") {
                $("#Recommended").addClass("selected");
                $("#sortbyTitle").html("Recommended");
            }
            else if ($("#hidsortby").val() == "2") {
                $("#Visited").addClass("selected");
                $("#sortbyTitle").html("Most Visited");
            }
            else {
                $("#sortbyTitle").html("Select Ratings");
            }
        }
        function selectCountryData() {
            $("#ddlCountry option[value='" + $("#rs_hidcountryId").val() + "']").attr("selected", "selected");
            GetCity();
            setTimeout("selectCityData()", 1000);
            var t = setTimeout;
            clearTimeout(t);
        }
        function selectCityData() {
            $("#ddlCity option[value='" + $("#rs_hidcityId").val() + "']").attr("selected", "selected");
        }
        function selectCateData() {
            $("#tbodyType tr>td>span").each(function () {
                var attrId = $(this).attr("data-attrId");
                var attrName = $(this).attr("data-attrName");
                cateIds = $("#hidcateIds").val();
                ch = new Array;
                ch = cateIds.split(",");
                for (i = 0; i <= ch.length; i++) {
                    if (attrId == ch[i]) {
                        $(this).addClass("uncheckbox");
                    }
                }

            });
            GetSelectItem();
        }
    </script>
}
