﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Partial("Widget/_Header")
<script type="text/javascript">
    //$(document).ready(function () {
        $("#a_home").attr("class", "active");
    //});
</script>
@*@Html.Partial("Widget/_Search")*@
@Html.Partial("Widget/_SearchBar2")
@Html.Partial("Widget/Home/_DestinationWeek", new ViewDataDictionary { {"data",ViewBag.DestinationWeekList}})
@Html.Partial("Widget/Home/_TRP", new ViewDataDictionary { {"RecentPlacesList",ViewBag.RecentPlacesList}})

<div class="mTB15 mostBox">
    @Html.Partial("Widget/Home/_MRPMVP",new ViewDataDictionary{{"data",ViewBag.MostRecommendedPlaces},{"tabName","Most Recommended Places"},{"tabIdx",0}})
    @Html.Partial("Widget/Home/_MRPMVP",new ViewDataDictionary{{"data",ViewBag.MostVisitedPlaces},{"tabName","Most Visited Places"},{"tabIdx",1}})
</div>

@section PageSide{
    @*@Html.Partial("Widget/_TravelBadge2")*@
    @Html.Partial("Widget/_TravelBadge")
    @Html.Partial("Widget/_Advertisement")
    @Html.Partial("Widget/_Video")
    @Html.Partial("Widget/_IBT")
}

@section PageFoot{
        <script type="text/javascript">

    </script>
}

@section PageNanigation{
    @Html.Partial("Widget/Nav/_NavSearch")
}