﻿@{
    //ViewBag.Title = "Home Page";

    string membersNum = ViewBag.MembersNum;
    string postedVisitsNum = ViewBag.PostedVisits;
    string startUrl = "/Account/signup";
    IMeet.IBT.Services.ProfileService profileService = new IMeet.IBT.Services.ProfileService();
    int mid = profileService.GetUserId(); //当前登录用户ID
    if (mid > 0)
    {
        startUrl = "/home";
    }
}
@Html.Partial("Widget/_Header")
<script type="text/javascript">
    $(function () {
        banner();
    });
    $("#a_about").attr("class", "active");
</script>
@Html.Partial("Widget/Home/_Banner")

<div class="memberNum fixbox mT10">
    <dl>
        <dt>The world is interesting.  </dt>
        <dd>
            Exploring it is fascinating.
            Recording your visits (past and present) is now easy and fun!
        </dd>
        <dd><a class="underline" href="@startUrl">Let's Get Started!</a></dd>
        <dd class="f12"> Members  Have Visited </dd>
    </dl>
    <div class="numMain">
        <span class="inlineBox alignM relative">
            <span class="numBg inlineBox">
                <span class="bg inlineBox">
                    @for (int i = 0; i < membersNum.Length; i++)
                    {
                        <span class="inlineBox num">@membersNum.Substring(i, 1)<span class="line"></span></span>
                    }
                </span>
            </span>
            <span class="title"> members</span>
        </span>
        <span class="f30 C31AEE3 inlineBox alignM txt"> &amp; </span>
        <span class="inlineBox alignM relative ">
            <span class="numBg inlineBox">
                <span class="bg inlineBox">
                    @for (int i = 0; i < postedVisitsNum.Length; i++)
                    {
                        <span class="inlineBox num">@postedVisitsNum.Substring(i, 1)<span class="line"></span></span>
                    }
                </span>
            </span>
            <span class="title"> POSTED VISITS</span>
        </span>
    </div>
</div>

<div class="totleBox2 totleGray">
    <ul class="fixbox">
        <li><div class="box"><span class="numBox">@Widget.IbtStatistics(1, 0)</span> Countries</div></li>
        <li><div class="box"><span class="numBox">@Widget.IbtStatistics(2, 0)</span> Cities</div></li>
        <li><div class="box"><span class="numBox">@Widget.IbtStatistics(3, 0)</span> Hotels</div></li>
        <li><div class="box"><span class="numBox">@Widget.IbtStatistics(4, 0)</span> Lifestyle</div></li>
        <li class="Nbg"><div class="box"><span class="numBox">@Widget.IbtStatistics(5, 0)</span> Attractions</div></li>
    </ul>
</div>


<div class="grayLineBg">
    <div class="mapBox">
        <div id="map_canvas" class="mapBox"></div>
    </div>
    @*    <div id="usegmm22" onclick="ibtMap.boxNextPrev(true);">boxNextPrev</div>*@
</div>

@section PageSide{
    @Html.Partial("Widget/_WBT")
    @Html.Partial("Widget/_Landing")
    @* @Html.Partial("Widget/_Promotions")*@
    @Html.Partial("Widget/_IBT")
}

@section PageFoot{
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="/js/infobox.js"></script>
    <script src="/js/indexMaps.js"></script>
    <script type="text/javascript">

        indexMaps.source = @Html.Raw(ViewBag.MapsTopList);

        indexMaps.init(indexMaps.source);
    </script>

}
@if (Session["logoffValue"] != "LogOut" && mid < 0 )
{
    <script type="text/javascript">        
        function pop_up1(){
            ibt.loadUrlPop('/account/login','Get','',function(){$('#pop_login').bValidator({singleError:true});  $('.boxyInner').addClass('popup');inputText();}, 'Login To Continue Posting');
        }
        function pop_up(){
            ibt.loadUrlPop('/Account/Login_popup', 'Get', '', function (value) {
                if(typeof value!="undefined"&&value=="show_1"){
                    pop_up1(); 
                }
            }, 'Login');
        }
        $(document).ready(function (){
            pop_up();
        })
    </script>
}


