﻿@{
    Layout = null;
    var _userId = ViewBag.PersonalProfile.UserID;
    var PPID = ViewBag.PersonalProfile.PPID;

    var TravelBadge = "";
    var DisplayLinks = "";
    var DisplayIndustryProfessional = "";
    var DisplayMeetingSiteManagement = "";
    var PublishMeetingExperiences = "";
    var DisplayMeetingSiteInspection = "";
    var DisplayMeetingBusinessTrips = "";
    var DisplayMeetingDestinationFamiliarization = "";
    var DisplayMeetingSpecialties = "";
    var DisplayBookingEventsSources = "";
    var DisplayBookingSpecialties = "";
    var DisplayMeetingChallenges = "";
    var IsMeetingPolitical = "";
    var IsMeetingNonHotelVenue = "";
    var IsMeetingStrike = "";
    var IsMeetingGroup500Attendees = "";
    var IsMeetingNatural = "";
    var IsMeetingVirtualComponent = "";
    var IsMeetingGlobalAudience = "";
    var IsMeetingCelebrity = "";
    var PublishBookingContracting = "";
    var DisplayBookingVenuesContracted = "";

    if (ViewBag.PersonalProfile.User.IsActivate == 1) { TravelBadge = "checked"; }
    if (ViewBag.PersonalProfile.DisplayLinks) { DisplayLinks = "checked"; }
    if (ViewBag.PersonalProfile.DisplayIndustryProfessional) { DisplayIndustryProfessional = "checked"; }
    if (ViewBag.PersonalProfile.PublishMeetingExperiences) { PublishMeetingExperiences = "checked"; }
    if (ViewBag.PersonalProfile.DisplayMeetingSiteManagement) { DisplayMeetingSiteManagement = "checked"; }
    if (ViewBag.PersonalProfile.DisplayMeetingSiteInspection) { DisplayMeetingSiteInspection = "checked"; }
    if (ViewBag.PersonalProfile.DisplayMeetingBusinessTrips) { DisplayMeetingBusinessTrips = "checked"; }
    if (ViewBag.PersonalProfile.DisplayMeetingDestinationFamiliarization) { DisplayMeetingDestinationFamiliarization = "checked"; }
    if (ViewBag.PersonalProfile.DisplayMeetingSpecialties) { DisplayMeetingSpecialties = "checked"; }
    if (ViewBag.PersonalProfile.DisplayMeetingChallenges) { DisplayMeetingChallenges = "checked"; }
    if (ViewBag.PersonalProfile.IsMeetingPolitical) { IsMeetingPolitical = "checked"; }
    if (ViewBag.PersonalProfile.IsMeetingStrike) { IsMeetingStrike = "checked"; }
    if (ViewBag.PersonalProfile.IsMeetingNatural) { IsMeetingNatural = "checked"; }
    if (ViewBag.PersonalProfile.IsMeetingGlobalAudience) { IsMeetingGlobalAudience = "checked"; }
    if (ViewBag.PersonalProfile.IsMeetingNonHotelVenue) { IsMeetingNonHotelVenue = "checked"; }
    if (ViewBag.PersonalProfile.IsMeetingGroup500Attendees) { IsMeetingGroup500Attendees = "checked"; }
    if (ViewBag.PersonalProfile.IsMeetingVirtualComponent) { IsMeetingVirtualComponent = "checked"; }
    if (ViewBag.PersonalProfile.IsMeetingCelebrity) { IsMeetingCelebrity = "checked"; }
    if (ViewBag.PersonalProfile.PublishBookingContracting) { PublishBookingContracting = "checked"; }
    if (ViewBag.PersonalProfile.DisplayBookingEventsSources) { DisplayBookingEventsSources = "checked"; }
    if (ViewBag.PersonalProfile.DisplayBookingSpecialties) { DisplayBookingSpecialties = "checked"; }
    if (ViewBag.PersonalProfile.DisplayBookingVenuesContracted) { DisplayBookingVenuesContracted = "checked"; }



    //ViewBag.Company
}
<!DOCTYPE html>
<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>I've Been There! - Edit Personal Pages</title>
    <link rel="stylesheet" type="text/css" href="/App/css/personalProfile/main.css" />
</head>

<body>
    <div id="wrapper">
        <div id="header">
            <ul class="headerHolder">
                <li class="headerHd"><h3><b>Edit</b> Personal Pages</h3></li>
                <li class="headerShares">
                    <div class="hdShareHd left"><p>Share with:</p></div>
                    <div class="hdShares left">
                        <ul>
                            <li class="hdShareCnt left"><a href="" target="_blank" class="shareFacebook"></a></li>
                            <li class="hdShareCnt left"><a href="" target="_blank" class="shareTwitter"></a></li>
                            <li class="hdShareCnt left"><a href="" target="_blank" class="shareLinkedIn"></a></li>
                        </ul>
                    </div>
                    <div class="hdInput left"><input type="text" class="hdInputAdds" /></div>
                </li>
                <li class="headerButtons">
                    <div class="headerBtn">
                        <ul>
                            <li class="hdButton left"><a href="@("/PersonalProfile/profile/" + _userId)" target="_blank" class="btn-hdPreview"></a></li>
                            <li class="hdButton left"><a href="javascript:void(0);" onclick="PersonalPage.save();" class="btn-hdSave"></a></li>
                            <li class="hdButton left"><a href="javascript:void(0);" onclick="" class="btn-hdCancel"></a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div><!-- end of #header -->

        <div id="profile">
            <div class="profCvPhoto">
                <div class="profCvPhotoContainer left">
                    <div class="profCvPhotoHold"><img src="/App/images/personalProfile/cover_img.jpg" alt="" /></div>
                    <div class="profCvDefault left"><a class="btn-defaultCvPhoto"><span>Default Cover Photo</span></a></div>
                    <div class="profCvUpload right"><a class="btn-uploadCvPhoto"><span>Upload Cover Photo</span></a></div>
                </div>

                <div class="profCvPhotoRefer left"><p>cover photo advise to upload resolution <b>1024x768</b> or higher</p></div>
            </div><!-- profile cover photo -->

            <div class="profDetWrapper">
                <div class="profDetPhHolder profDetRequired">
                    <div class="profPhotoContainer">
                        <img />
                        <div class="profPhotoUpload"><a class="btn-uploadProfPhoto"><span>Upload Profile</span></a></div>
                    </div>
                </div>

                <div class="profDetIntroContainer">
                    <input type="hidden" name="txtPPID" value="@PPID" id="txtPPID" />
                    <ul>
                        <li class="profDetIntroFields">
                            <div class="profDetIntTag profDetRequired"><p>Name :</p></div>
                            <div class="profDefIntField">
                                <input type="text" id="pp_txtFname" placeholder="First Name" value="@ViewBag.PersonalProfile.User.Profile.Firstname" readonly="readonly" class="profDetFieldMd" />
                                <input type="text" id="pp_txtLname" placeholder="Last Name" value="@ViewBag.PersonalProfile.User.Profile.Lastname" readonly="readonly" class="profDetFieldSm" />
                            </div>
                        </li>
                        <li class="profDetIntroFields">
                            <div class="profDetIntTag profDetRequired"><p>Professional headline :</p></div>
                            <div class="profDefIntField"><input type="text" id="pp_txtProfessionalHeadline" placeholder="Job Title" value="@ViewBag.PersonalProfile.User.Profile.JobTitle" readonly="readonly" class="profDetFieldLg" /></div>
                        </li>
                        <li class="profDetIntroFields">
                            <div class="profDetIntTag profDetRequired"><p>Country :</p></div>
                            <div class="profDefIntField"><input type="text" placeholder="Coutnry" value="@ViewBag.UserCountryName" readonly="readonly" class="profDetFieldLg" /></div>
                        </li>
                        <li class="profDetIntroFields">
                            <div class="profDetIntTag profDetRequired"><p>City :</p></div>
                            <div class="profDefIntField"><input type="text" placeholder="City" class="profDetFieldLg" readonly="readonly" /></div>
                        </li>
                        <li class="profDetIntroFields">
                            <div class="profDetIntTag profDetRequired"><p>Current Company :</p></div>
                            <div class="profDefIntField"><input type="text" placeholder="Company Name or Company Website" class="profDetFieldLg" readonly="readonly" /></div>
                        </li>
                        <li class="profDetIntroFields">
                            <div class="profDetIntTag profDetRequired"><p>Travel Badge :</p></div>
                            <div class="profDefIntField"><input id="proftravelBadge" type="checkbox" readonly="readonly" @TravelBadge class="defCheckboxSm" /><label class="defLabelSm" for="proftravelBadge"></label></div>
                        </li>
                    </ul>
                </div>

                <div class="profDetIntroRefer"><p>all * fields are required to be filled in</p></div>
            </div><!-- profile details wrapper -->
        </div><!-- end of #profile -->
        <!-- General Information -->
        <div id="contentHolder">
            <div class="contentHdHolder">
                <div class="cntHdHoldFold"></div>
                <div class="cntHdHoldTitle"><h3>General Info</h3></div>
                <div class="cntHdHoldEnd"></div>
            </div>

            <div class="generalInfoWrapper">
                <ul class="generalHolder">
                    <!-- Links -->
                    <li class="generalContainer">
                        <div class="genrCatHolder">
                            <div class="genrCatIcon left">
                                <img src="~/App/images/personalProfile/icons/icon_link.png" alt="Links" />
                            </div>
                            <div class="genrCatTitle left"><p>Links</p></div>
                            <div class="genrCatDisplay left"><input type="checkbox" class="defCheckboxSm" @DisplayLinks id="giLinks" /><label class="defLabelSm" for="giLinks"></label><span>Display</span></div>
                        </div>

                        <ul class="genLinksFldHolder" id="linksList">
                            <li class="genLinksFldCont"><input type="text" placeholder="website URL" /></li>
                            <li class="genLinksFldCont"><input type="text" placeholder="website URL" /><a class="btn-genLinksFldClosed">x</a></li>

                            <li class="genLinksFldCont"><input type="text" placeholder="website URL" /><a class="btn-genLinksFldClosed">x</a></li>
                            <li class="genLinksFldCont"><input type="text" placeholder="website URL" /><a class="btn-genLinksFldClosed">x</a></li>
                            <li class="genLinksFldCont"><input type="text" placeholder="website URL" /><a class="btn-genLinksFldClosed">x</a></li>
                            <li class="genLinksFldCont"><input type="text" placeholder="website URL" /><a class="btn-genLinksFldClosed">x</a></li>

                            <div class="addColBtn left"><a class="btn-addMoreSm"></a></div>
                        </ul>
                    </li>

                    <!-- Industry Professional Development -->
                    <li class="generalContainer">
                        <div class="genrCatHolder">
                            <div class="genrCatIcon left"><img src="/App/images/personalProfile/icons/icon_industry.png" alt="Industry Professional Development" /></div>
                            <div class="genrCatTitle left"><p>Industry Professional Development</p></div>
                            <div class="genrCatDisplay left"><input type="checkbox" @DisplayIndustryProfessional class="defCheckboxSm" id="giIndustPrff" /><label class="defLabelSm" for="giIndustPrff"></label><span>Display</span></div>
                        </div>

                        <ul class="genLinksFldHolder">
                            <li class="genLinksFldCont"><input type="text" placeholder="e.g. certification, events, etc" /></li>
                            <li class="genLinksFldCont"><input type="text" placeholder="e.g. certification, events, etc" /><a class="btn-genLinksFldClosed">x</a></li>
                            <li class="genLinksFldCont"><input type="text" placeholder="e.g. certification, events, etc" /><a class="btn-genLinksFldClosed">x</a></li>

                            <!-- <li class="genLinksFldCont"><input type="text" placeholder="e.g. certification, events, etc" /><a class="btn-genLinksFldClosed">x</a></li>
                            <li class="genLinksFldCont"><input type="text" placeholder="e.g. certification, events, etc" /><a class="btn-genLinksFldClosed">x</a></li>
                            <li class="genLinksFldCont"><input type="text" placeholder="e.g. certification, events, etc" /><a class="btn-genLinksFldClosed">x</a></li> -->

                            <div class="addColBtn left"><a class="btn-addMoreSm"></a></div>
                        </ul>
                    </li>

                    <!-- Photo -->
                    <li class="generalContainer">
                        <div class="genrCatHolder">
                            <div class="genrCatIcon left"><img src="~/App/images/personalProfile/icons/icon_photo.png" alt="Links" /></div>
                            <div class="genrCatTitle left"><p>Photo</p></div>
                            <div class="genrCatDisplay left hide"><input type="checkbox" class="defCheckboxSm" id="giPhoto" /><label class="defLabelSm" for="giPhoto"></label><span>Display</span></div>
                        </div>

                        <ul class="genPhotoHolder">
                            <li class="genPhotoCol">
                                <div class="genPhotoContainer genPhotoImgOn">
                                    <!-- for image --><div class="genPhotoImage"><img src="~/App/images/personalProfile/cover_img.jpg" alt="testing 1, 2, 3" /></div>
                                    <!-- hover remove --><div class="genPhotoRemove hide"></div>
                                    <!-- hover upload --><div class="genPhotoUpload hide"></div>
                                    <!-- remove button --><a class="btn-genPhotoCancel hide">x</a>
                                </div>
                            </li>

                            <li class="genPhotoCol">
                                <div class="genPhotoContainer genPhotoImgOff">
                                    <!-- for image --><div class="genPhotoImage"></div>
                                    <!-- hover remove --><div class="genPhotoRemove"></div>
                                    <!-- hover upload --><div class="genPhotoUpload"></div>
                                    <!-- remove button --><a class="btn-genPhotoCancel">x</a>
                                </div>
                            </li>

                            <li class="genPhotoCol">
                                <div class="genPhotoContainer genPhotoImgOff">
                                    <!-- for image --><div class="genPhotoImage"></div>
                                    <!-- hover remove --><div class="genPhotoRemove hide"></div>
                                    <!-- hover --><div class="genPhotoUpload hide"></div>
                                    <!-- remove button --><a class="btn-genPhotoCancel hide">x</a>
                                </div>
                            </li>

                            <div class="addColBtn left"><a class="btn-addMoreLg"></a></div>
                        </ul>
                    </li>
                </ul>
            </div>
        </div><!-- end of #contentHolder || General Information-->
        <!-- Where I've Been -->
        <div id="contentHolder">
            <div class="contentHdHolder">
                <div class="cntHdHoldFold"></div>
                <div class="cntHdHoldTitle"><h3>Where I've Been</h3></div>
                <div class="cntHdHoldEnd">
                </div>
            </div>
            <div class="ivbMap"></div>
            <ul class="ivbMCounter">
                <li class="ivbMCounterCol">
                    <span class="imcFigures left">
                        @Widget.IbtStatistics(1, _userId)
                    </span><span class="imcDescp left">Countries</span>
                </li>

                <li class="ivbMCounterCol"><span class="imcFigures left">@Widget.IbtStatistics(2, _userId)</span><span class="imcDescp left">Cities</span></li>

                <li class="ivbMCounterCol"><span class="imcFigures left">@Widget.IbtStatistics(3, _userId)</span><span class="imcDescp left">Hotels</span></li>

                <li class="ivbMCounterCol"><span class="imcFigures left">@Widget.IbtStatistics(4, _userId)</span><span class="imcDescp left">Lifestyle</span></li>

                <li class="ivbMCounterCol"><span class="imcFigures left">@Widget.IbtStatistics(5, _userId)</span><span class="imcDescp left">Attractions</span></li>
            </ul>

            <div class="interacHistHeader">
                <div class="ihhIconHolder left"><img src="~/App/images/personalProfile/icons/icon_time.png" alt="Interactive Travel & Meetings History" /></div>
                <div class="ihhHeader left"><p>Interactive Travel & Meetings History</p><span>Drag and drop your experiences to change their order</span></div>

                <div class="ihhButtonHld right"><a>+ Add A New Experience</a></div>
            </div>

            <div class="ihhDivideHold"></div>

            <ul class="ihhCountriesWrapper">
                <!-- A Country -->
                <li class="ihhCountriesHolder">
                    <div class="ihhCountriesDisplay">
                        <div class="ihhCountriesIcons"><img src="~/App/images/personalProfile/countries/cntrs_canada.png" alt="Canada" /></div>
                        <div class="ihhCountriesName"><p>Canada</p></div>
                        <div class="ihhDashedLines"><svg><g fill="none" stroke="rgba(102,102,102,0.23)" stroke-width="1"><path stroke-dasharray="5,5" d="M5 13 660 13" /></g></svg></div>
                        <div class="ihhCitiesFigure"><p>3</p></div>
                        <div class="ihhCntMoreButtons"><a class="btn-ihhCitiesInfo">&#5167;</a></div>
                    </div>
                    <!-- Cities Content -->
                    <div class="ihhCitiesDisplay hide">
                        <ul class="ihhCitiesHolder">
                            <li class="ihhCitiesCol"><p><span class="ihhCitiesName">Maryland</span> / City</li>
                            <li class="ihhCitiesCol"><p><span class="ihhCitiesName">New York</span> / City</li>
                            <li class="ihhCitiesCol"><p><span class="ihhCitiesName">Dallas</span> / City</li>
                        </ul>
                        <div class="ihhCitiesDivider"></div>
                    </div>
                </li><!-- end of A Country -->
                <!-- A Country -->
                <li class="ihhCountriesHolder">
                    <div class="ihhCountriesDisplay">
                        <div class="ihhCountriesIcons"><img src="~/App/images/personalProfile/countries/cntrs_canada.png" alt="Canada" /></div>
                        <div class="ihhCountriesName"><p>Canada</p></div>
                        <div class="ihhDashedLines"><svg><g fill="none" stroke="rgba(102,102,102,0.23)" stroke-width="1"><path stroke-dasharray="5,5" d="M5 13 660 13" /></g></svg></div>
                        <div class="ihhCitiesFigure"><p>88</p></div>
                        <div class="ihhCntMoreButtons"><a class="btn-ihhCitiesInfo">&#5167;</a></div>
                    </div>
                    <!-- Cities Content -->
                    <div class="ihhCitiesDisplay hide">
                        <ul class="ihhCitiesHolder">
                            <li class="ihhCitiesCol"><p><span class="ihhCitiesName">Maryland</span> / City</li>
                            <li class="ihhCitiesCol"><p><span class="ihhCitiesName">New York</span> / City</li>
                            <li class="ihhCitiesCol"><p><span class="ihhCitiesName">Dallas</span> / City</li>
                        </ul>
                        <div class="ihhCitiesDivider"></div>
                    </div>
                </li><!-- end of A Country -->
                <!-- A Country -->
                <li class="ihhCountriesHolder">
                    <div class="ihhCountriesDisplay">
                        <div class="ihhCountriesIcons"><img src="~/App/images/personalProfile/countries/cntrs_canada.png" alt="Canada" /></div>
                        <div class="ihhCountriesName"><p>Canada</p></div>
                        <div class="ihhDashedLines"><svg><g fill="none" stroke="rgba(102,102,102,0.23)" stroke-width="1"><path stroke-dasharray="5,5" d="M5 13 660 13" /></g></svg></div>
                        <div class="ihhCitiesFigure"><p>88</p></div>
                        <div class="ihhCntMoreButtons"><a class="btn-ihhCitiesInfo">&#5167;</a></div>
                    </div>
                    <!-- Cities Content -->
                    <div class="ihhCitiesDisplay hide">
                        <ul class="ihhCitiesHolder">
                            <li class="ihhCitiesCol"><p><span class="ihhCitiesName">Maryland</span> / City</li>
                            <li class="ihhCitiesCol"><p><span class="ihhCitiesName">New York</span> / City</li>
                            <li class="ihhCitiesCol"><p><span class="ihhCitiesName">Dallas</span> / City</li>
                        </ul>
                        <div class="ihhCitiesDivider"></div>
                    </div>
                </li><!-- end of A Country -->
                <!-- A Country -->
                <li class="ihhCountriesHolder">
                    <div class="ihhCountriesDisplay">
                        <div class="ihhCountriesIcons"><img src="~/App/images/personalProfile/countries/cntrs_canada.png" alt="Canada" /></div>
                        <div class="ihhCountriesName"><p>Canada</p></div>
                        <div class="ihhDashedLines"><svg><g fill="none" stroke="rgba(102,102,102,0.23)" stroke-width="1"><path stroke-dasharray="5,5" d="M5 13 660 13" /></g></svg></div>
                        <div class="ihhCitiesFigure"><p>88</p></div>
                        <div class="ihhCntMoreButtons"><a class="btn-ihhCitiesInfo">&#5167;</a></div>
                    </div>
                    <!-- Cities Content -->
                    <div class="ihhCitiesDisplay hide">
                        <ul class="ihhCitiesHolder">
                            <li class="ihhCitiesCol"><p><span class="ihhCitiesName">Maryland</span> / City</li>
                            <li class="ihhCitiesCol"><p><span class="ihhCitiesName">New York</span> / City</li>
                            <li class="ihhCitiesCol"><p><span class="ihhCitiesName">Dallas</span> / City</li>
                        </ul>
                        <div class="ihhCitiesDivider"></div>
                    </div>
                </li><!-- end of A Country -->
                <!-- A Country -->
                <li class="ihhCountriesHolder">
                    <div class="ihhCountriesDisplay">
                        <div class="ihhCountriesIcons"><img src="~/App/images/personalProfile/countries/cntrs_canada.png" alt="Canada" /></div>
                        <div class="ihhCountriesName"><p>Canada</p></div>
                        <div class="ihhDashedLines"><svg><g fill="none" stroke="rgba(102,102,102,0.23)" stroke-width="1"><path stroke-dasharray="5,5" d="M5 13 660 13" /></g></svg></div>
                        <div class="ihhCitiesFigure"><p>88</p></div>
                        <div class="ihhCntMoreButtons"><a class="btn-ihhCitiesInfo">&#5167;</a></div>
                    </div>
                    <!-- Cities Content -->
                    <div class="ihhCitiesDisplay hide">
                        <ul class="ihhCitiesHolder">
                            <li class="ihhCitiesCol"><p><span class="ihhCitiesName">Maryland</span> / City</li>
                            <li class="ihhCitiesCol"><p><span class="ihhCitiesName">New York</span> / City</li>
                            <li class="ihhCitiesCol"><p><span class="ihhCitiesName">Dallas</span> / City</li>
                        </ul>
                        <div class="ihhCitiesDivider"></div>
                    </div>
                </li><!-- end of A Country -->
            </ul>
        </div><!-- end of #contentHolder || Where I've Been-->
        <!-- Meeting Experiences -->
        <div id="contentHolder">
            <div class="contentHdHolder">
                <div class="cntHdHoldFold"></div>
                <div class="cntHdHoldTitle"><h3>Meeting Experiences</h3></div>
                <div class="cntHdHoldEnd"></div>
            </div>
            <div class="contentDspHolder">
                <div class="contentDspTexts"><input type="checkbox" class="defCheckboxLg" @PublishMeetingExperiences id="meChkDisplay" /><label class="defLabelLg" for="meChkDisplay"></label><p>publish this section</p></div>
            </div>

            <ul class="meScoresWrapper">
                <li class="meScoresHolder">
                    <div class="meScoresBox">
                        <div class="meScoreTitle"><h3>On-site Management</h3></div>
                        <div class="meScoreDispStat"><input type="checkbox" @DisplayMeetingSiteManagement class="defCheckboxSm" id="meOnsiteMngm" /><label class="defLabelSm" checked for="meOnsiteMngm"></label><span>Display</span></div>
                        <div class="meScoreTexts"><p>Drag the slider to represent your skill level</p></div>
                        <div class="meScoreRates"><p>11 - 20</p></div>
                        <!-- Score Drag Scroller -->
                        <div class="pfadmScbrdWrapper" id="MeetingSiteManagement">
                            <div class="pfadmScbrdHolder">
                                <div class="pfadmScbrdBased">
                                    <div class="pfadmScbrdHghlghtBase"><div class="pfadmScbrdHghlghts pfadmScbrdHglgh04"></div></div>
                                    <ul class="pfadmScbrdPltfrmBased">
                                        <li class="pfadmScbrdPltfrmBox"><span class="step1"><a class="btn-pfadmScbrdPlatform pfadmScbrdPltformAct"></a></span></li>
                                        <li class="pfadmScbrdPltfrmBox"><span class="step2"><a class="btn-pfadmScbrdPlatform pfadmScbrdPltformAct"></a></span></li>
                                        <li class="pfadmScbrdPltfrmBox"><span class="step3"><a class="btn-pfadmScbrdPlatform pfadmScbrdPltformAct"></a></span></li>
                                        <li class="pfadmScbrdPltfrmBox"><span class="step4"><a class="btn-pfadmScbrdPlatform pfadmScbrdPltformAct"></a></span></li>
                                        <li class="pfadmScbrdPltfrmBox"><span class="step5"><a class="btn-pfadmScbrdPlatform"></a></span></li>
                                    </ul>
                                    <div class="pfadmScbrdButton pfadmScbrdBtn04"></div>
                                </div>
                            </div>
                        </div>
                        <!-- end of Score Drag Scroller -->
                    </div>
                </li>

                <li class="meScoresHolder">
                    <div class="meScoresBox">
                        <div class="meScoreTitle"><h3>Site Inspections</h3></div>
                        <div class="meScoreDispStat"><input type="checkbox" @DisplayMeetingSiteInspection class="defCheckboxSm" id="meSiteInspec" /><label class="defLabelSm" for="meSiteInspec"></label><span>Display</span></div>
                        <div class="meScoreTexts"><p>Drag the slider to represent your skill level</p></div>
                        <div class="meScoreRates"><p>11 - 20</p></div>
                        <!-- Score Drag Scroller -->
                        <div class="pfadmScbrdWrapper" id="MeetingSiteInspection">
                            <div class="pfadmScbrdHolder">
                                <div class="pfadmScbrdBased">
                                    <div class="pfadmScbrdHghlghtBase"><div class="pfadmScbrdHghlghts pfadmScbrdHglgh04"></div></div>
                                    <ul class="pfadmScbrdPltfrmBased">
                                        <li class="pfadmScbrdPltfrmBox"><span class="step1"><a class="btn-pfadmScbrdPlatform pfadmScbrdPltformAct"></a></span></li>
                                        <li class="pfadmScbrdPltfrmBox"><span class="step2"><a class="btn-pfadmScbrdPlatform pfadmScbrdPltformAct"></a></span></li>
                                        <li class="pfadmScbrdPltfrmBox"><span class="step3"><a class="btn-pfadmScbrdPlatform pfadmScbrdPltformAct"></a></span></li>
                                        <li class="pfadmScbrdPltfrmBox"><span class="step4"><a class="btn-pfadmScbrdPlatform pfadmScbrdPltformAct"></a></span></li>
                                        <li class="pfadmScbrdPltfrmBox"><span class="step5"><a class="btn-pfadmScbrdPlatform"></a></span></li>
                                    </ul>
                                    <div class="pfadmScbrdButton pfadmScbrdBtn04"></div>
                                </div>
                            </div>
                        </div>
                        <!-- end of Score Drag Scroller -->
                    </div>
                </li>

                <li class="meScoresHolder">
                    <div class="meScoresBox">
                        <div class="meScoreTitle"><h3>Business Trips</h3></div>
                        <div class="meScoreDispStat"><input type="checkbox" @DisplayMeetingBusinessTrips class="defCheckboxSm" id="meBusinTrips" /><label class="defLabelSm" for="meBusinTrips"></label><span>Display</span></div>
                        <div class="meScoreTexts"><p>Drag the slider to represent your skill level</p></div>
                        <div class="meScoreRates"><p>11 - 20</p></div>
                        <!-- Score Drag Scroller -->
                        <div class="pfadmScbrdWrapper" id="MeetingBusinessTrips">
                            <div class="pfadmScbrdHolder">
                                <div class="pfadmScbrdBased">
                                    <div class="pfadmScbrdHghlghtBase"><div class="pfadmScbrdHghlghts pfadmScbrdHglgh04"></div></div>
                                    <ul class="pfadmScbrdPltfrmBased">
                                        <li class="pfadmScbrdPltfrmBox"><span class="step1"><a class="btn-pfadmScbrdPlatform pfadmScbrdPltformAct"></a></span></li>
                                        <li class="pfadmScbrdPltfrmBox"><span class="step2"><a class="btn-pfadmScbrdPlatform pfadmScbrdPltformAct"></a></span></li>
                                        <li class="pfadmScbrdPltfrmBox"><span class="step3"><a class="btn-pfadmScbrdPlatform pfadmScbrdPltformAct"></a></span></li>
                                        <li class="pfadmScbrdPltfrmBox"><span class="step4"><a class="btn-pfadmScbrdPlatform pfadmScbrdPltformAct"></a></span></li>
                                        <li class="pfadmScbrdPltfrmBox"><span class="step5"><a class="btn-pfadmScbrdPlatform"></a></span></li>
                                    </ul>
                                    <div class="pfadmScbrdButton pfadmScbrdBtn04"></div>
                                </div>
                            </div>
                        </div>
                        <!-- end of Score Drag Scroller -->
                    </div>
                </li>

                <li class="meScoresHolder">
                    <div class="meScoresBox">
                        <div class="meScoreTitle"><h3>Destination Familiarization</h3></div>
                        <div class="meScoreDispStat"><input type="checkbox" @DisplayMeetingDestinationFamiliarization class="defCheckboxSm" id="meDestinFamilr" /><label class="defLabelSm" for="meDestinFamilr"></label><span>Display</span></div>
                        <div class="meScoreTexts"><p>Drag the slider to represent your skill level</p></div>
                        <div class="meScoreRates"><p>11 - 20</p></div>
                        <!-- Score Drag Scroller -->
                        <div class="pfadmScbrdWrapper" id="MeetingDestinationFamiliarization">
                            <div class="pfadmScbrdHolder">
                                <div class="pfadmScbrdBased">
                                    <div class="pfadmScbrdHghlghtBase"><div class="pfadmScbrdHghlghts pfadmScbrdHglgh04"></div></div>
                                    <ul class="pfadmScbrdPltfrmBased">
                                        <li class="pfadmScbrdPltfrmBox"><span class="step1"><a class="btn-pfadmScbrdPlatform pfadmScbrdPltformAct"></a></span></li>
                                        <li class="pfadmScbrdPltfrmBox"><span class="step2"><a class="btn-pfadmScbrdPlatform pfadmScbrdPltformAct"></a></span></li>
                                        <li class="pfadmScbrdPltfrmBox"><span class="step3"><a class="btn-pfadmScbrdPlatform pfadmScbrdPltformAct"></a></span></li>
                                        <li class="pfadmScbrdPltfrmBox"><span class="step4"><a class="btn-pfadmScbrdPlatform pfadmScbrdPltformAct"></a></span></li>
                                        <li class="pfadmScbrdPltfrmBox"><span class="step5"><a class="btn-pfadmScbrdPlatform"></a></span></li>
                                    </ul>
                                    <div class="pfadmScbrdButton pfadmScbrdBtn04"></div>
                                </div>
                            </div>
                        </div>
                        <!-- end of Score Drag Scroller -->
                    </div>
                </li>

                <li class="meScoresHolder">
                    <div class="meScoresBox">
                        <div class="meScoreTitle"><h3>Specialties</h3></div>
                        <div class="meScoreDispStat"><input type="checkbox" @DisplayMeetingSpecialties class="defCheckboxSm" id="meSpecialties" /><label class="defLabelSm" for="meSpecialties"></label><span>Display</span></div>
                        <div class="meScoreTexts"><p>List the type of program experience (e.g. Experienced in Consumer Products).</p></div>
                    </div>

                    <div class="specTxts">
                        <textarea class="specTextField" id="txtMeetingSpecialties">@ViewBag.PersonalProfile.MeetingSpecialties</textarea>
                        <p><span>300</span> characters left</p>
                    </div>
                </li>

                <li class="meScoresHolder">
                    <div class="meScoresBox">
                        <div class="meScoreTitle"><h3>Meeting Challenges Experienced</h3></div>
                        <div class="meScoreDispStat"><input type="checkbox" @DisplayMeetingChallenges class="defCheckboxSm" id="meMeetingChllg" /><label class="defLabelSm" for="meMeetingChllg"></label><span>Display</span></div>
                        <div class="meScoreTexts"><p>Select the meeting challenges you have experienced.</p></div>
                    </div>

                    <ul class="mceCheckLists">
                        <li class="mceCheckCol"><span class="mceCheckCont"><input type="checkbox" class="mceCheckbox" id="mceCbPolitic" @IsMeetingPolitical /><label class="mceCheckLabel" for="mceCbPolitic"></label></span><span class="mceCheckText">Political / Social Crisis</span></li>
                        <li class="mceCheckCol"><span class="mceCheckCont"><input type="checkbox" class="mceCheckbox" id="mceCbStrike" @IsMeetingStrike /><label class="mceCheckLabel" for="mceCbStrike"></label></span><span class="mceCheckText">Strike</span></li>
                        <li class="mceCheckCol"><span class="mceCheckCont"><input type="checkbox" class="mceCheckbox" id="mceCbNaturalDis" @IsMeetingNatural /><label class="mceCheckLabel" for="mceCbNaturalDis"></label></span><span class="mceCheckText">Natural Disaster</span></li>
                        <li class="mceCheckCol"><span class="mceCheckCont"><input type="checkbox" class="mceCheckbox" id="mceCbGlobAud" @IsMeetingGlobalAudience /><label class="mceCheckLabel" for="mceCbGlobAud"></label></span><span class="mceCheckText">Global Audience</span></li>
                        <li class="mceCheckCol"><span class="mceCheckCont"><input type="checkbox" class="mceCheckbox" id="mceCbNonHtVn" @IsMeetingNonHotelVenue /><label class="mceCheckLabel" for="mceCbNonHtVn"></label></span><span class="mceCheckText">Non-Hotel Venue</span></li>
                        <li class="mceCheckCol"><span class="mceCheckCont"><input type="checkbox" class="mceCheckbox" id="mceCbGrpAttnd" @IsMeetingGroup500Attendees /><label class="mceCheckLabel" for="mceCbGrpAttnd"></label></span><span class="mceCheckText">Group 500+ Attendees</span></li>
                        <li class="mceCheckCol"><span class="mceCheckCont"><input type="checkbox" class="mceCheckbox" id="mceCbVirtComp" @IsMeetingVirtualComponent /><label class="mceCheckLabel" for="mceCbVirtComp"></label></span><span class="mceCheckText">Virtual Component</span></li>
                        <li class="mceCheckCol"><span class="mceCheckCont"><input type="checkbox" class="mceCheckbox" id="mceCbCelbPolict" @IsMeetingCelebrity /><label class="mceCheckLabel" for="mceCbCelbPolict"></label></span><span class="mceCheckText">Celebrity / Political Leader Participating</span></li>
                    </ul>
                </li>
            </ul>
        </div><!-- end of #contentHolder || Meeting Experiences -->
        <!-- Booking & Contracting Experience -->
        <div id="contentHolder">
            <div class="contentHdHolder">
                <div class="cntHdHoldFold"></div>
                <div class="cntHdHoldTitle"><h3>Booking & Contracting Experience</h3></div>
                <div class="cntHdHoldEnd"></div>
            </div>
            <div class="contentDspHolder">
                <div class="contentDspTexts"><input type="checkbox" class="defCheckboxLg" id="bookCntrExp" name="Booking" value="bookCntrExp" @PublishBookingContracting /><label class="defLabelLg" for="bookCntrExp"></label><p>publish this section</p></div>
            </div>

            <ul class="meScoresWrapper">
                <li class="meScoresHolder">
                    <div class="meScoresBox">
                        <div class="meScoreTitle"><h3>Events Sourced</h3></div>
                        <div class="meScoreDispStat"><input type="checkbox" @DisplayBookingEventsSources class="defCheckboxSm" id="bkEventsSourced" /><label class="defLabelSm" for="bkEventsSourced"></label><span>Display</span></div>
                        <div class="meScoreTexts"><p>Drag the slider to represent your skill level</p></div>
                        <div class="meScoreRates"><p>6 - 10</p></div>
                        <!-- Score Drag Scroller -->
                        <div class="pfadmScbrdWrapper" id="BookingEventsSources">
                            <div class="pfadmScbrdHolder">
                                <div class="pfadmScbrdBased">
                                    <div class="pfadmScbrdHghlghtBase"><div class="pfadmScbrdHghlghts pfadmScbrdHglgh04"></div></div>
                                    <ul class="pfadmScbrdPltfrmBased">
                                        <li class="pfadmScbrdPltfrmBox"><span class="step1"><a class="btn-pfadmScbrdPlatform pfadmScbrdPltformAct"></a></span></li>
                                        <li class="pfadmScbrdPltfrmBox"><span class="step2"><a class="btn-pfadmScbrdPlatform pfadmScbrdPltformAct"></a></span></li>
                                        <li class="pfadmScbrdPltfrmBox"><span class="step3"><a class="btn-pfadmScbrdPlatform pfadmScbrdPltformAct"></a></span></li>
                                        <li class="pfadmScbrdPltfrmBox"><span class="step4"><a class="btn-pfadmScbrdPlatform pfadmScbrdPltformAct"></a></span></li>
                                        <li class="pfadmScbrdPltfrmBox"><span class="step5"><a class="btn-pfadmScbrdPlatform"></a></span></li>
                                    </ul>
                                    <div class="pfadmScbrdButton pfadmScbrdBtn04"></div>
                                </div>
                            </div>
                        </div>
                        <!-- end of Score Drag Scroller -->
                    </div>
                </li>

                <li class="meScoresHolder">
                    <div class="meScoresBox">
                        <div class="meScoreTitle"><h3>Specialties</h3></div>
                        <div class="meScoreDispStat"><input type="checkbox" @DisplayBookingSpecialties class="defCheckboxSm" id="bkSpecialities" /><label class="defLabelSm" for="bkSpecialities"></label><span>Display</span></div>
                        <div class="meScoreTexts"><p>List the type of program experience (e.g. Experienced in Consumer Products).</p></div>
                    </div>

                    <div class="specTxts">
                        <textarea class="specTextField" id="txtBookingEventsSources">@ViewBag.PersonalProfile.BookingSpecialties</textarea>
                        <p><span>300</span> characters left</p>
                    </div>
                </li>

                <li class="meScoresHolder">
                    <div class="meScoresBox">
                        <div class="meScoreTitle"><h3>Venues Contracted</h3></div>
                        <div class="meScoreDispStat"><input type="checkbox" @DisplayBookingVenuesContracted class="defCheckboxSm" id="bkVenCntr" /><label class="defLabelSm" for="bkVenCntr"></label><span>Display</span></div>
                        <div class="meScoreTexts hide"><p>List the type of program experience (e.g. Experienced in Consumer Products).</p></div>
                    </div>

                    <div class="venuesAddButton"><a class="btn-addVenuesContracted"><span>+</span> Add New</a></div>

                    <div class="venueNewAddHolder">
                        <div class="venueNewAddList">
                            <div class="vcInsertImage left"><span class="vcInsertImgDescp">Venue Logo</span><div class="vcInsertPhoto"></div></div>

                            <div class="vcInsertInfos left">
                                <div class="vcInsertDescp">Input the name of the Vanue and select from the list provided.</div>
                                <div class="vcInsertName"><input type="text" placeholder="Venue Name" /></div>
                            </div>

                            <div class="vcInsertButtons right">
                                <a class="btn-vcInstSave">SAVE</a>
                                <a class="btn-vcInstCancel">cancel</a>
                            </div>
                        </div>
                    </div>

                    <ul class="vcVenuesListing">
                        <li class="vcVenuesRow">
                            <div class="vcVenImage left"><div class="vcVenPhoto"><img src="/App/images/personalProfile/venues_img.jpg" alt="Venues Photo" /></div></div>

                            <div class="vcVenInfos left">
                                <div class="vcVenName"><span>THE WESTIN PALACE MADRID</span></div>
                                <div class="vcVenCountry"><span><span>Spain</span> (Country)</span></div>
                                <div class="vcVenCity"><span><span>Madrid</span> (Cities)</span></div>
                            </div>

                            <div class="vcVenButton right"><a class="btn-vcVenDelete">X</a></div>
                        </li>

                        <li class="vcVenuesRow">
                            <div class="vcVenImage left"><div class="vcVenPhoto"><img src="/App/images/personalProfile/venues_img.jpg" alt="Venues Photo" /></div></div>

                            <div class="vcVenInfos left">
                                <div class="vcVenName"><span>THE WESTIN PALACE MADRID</span></div>
                                <div class="vcVenCountry"><span><span>Spain</span> (Country)</span></div>
                                <div class="vcVenCity"><span><span>Madrid</span> (Cities)</span></div>
                            </div>

                            <div class="vcVenButton right"><a class="btn-vcVenDelete">X</a></div>
                        </li>

                        <li class="vcVenuesRow">
                            <div class="vcVenImage left"><div class="vcVenPhoto"><img src="/App/images/personalProfile/venues_img.jpg" alt="Venues Photo" /></div></div>

                            <div class="vcVenInfos left">
                                <div class="vcVenName"><span>THE WESTIN PALACE MADRID</span></div>
                                <div class="vcVenCountry"><span><span>Spain</span> (Country)</span></div>
                                <div class="vcVenCity"><span><span>Madrid</span> (Cities)</span></div>
                            </div>                            <div class="vcVenButton right"><a class="btn-vcVenDelete">X</a></div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!-- end of #contentHolder || Booking & Contracting Experience -->
    </div><!-- end of #wrapper -->
    <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>-->
    <script type="text/javascript" src="/App/js/personalPage/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/App/js/personalPage/main.js"></script>
    <script>

    $(document).ready(function () {
        DSlider.init();
        DSlider.setLevel('MeetingSiteManagement', @ViewBag.PersonalProfile.MeetingSiteManagement);
        DSlider.setLevel('MeetingSiteInspection', @ViewBag.PersonalProfile.MeetingSiteInspection);
        DSlider.setLevel('MeetingBusinessTrips', @ViewBag.PersonalProfile.MeetingBusinessTrips);
        DSlider.setLevel('MeetingDestinationFamiliarization', @ViewBag.PersonalProfile.MeetingDestinationFamiliarization);
        DSlider.setLevel('BookingEventsSources', @ViewBag.PersonalProfile.BookingEventsSources);
        });

    </script>


</body>
</html>
