﻿@{
    Layout = null;
    var _userId = ViewBag.PersonalProfile.UserID;
    //ViewBag.Title = "Profile ";
    //var _linksList = ViewBag.Links;
    var countVar = ViewBag.CoutriesList;

    var ee = ViewBag.PersonalProfile.PersonalProfileLinks;

    var MeetingSiteManagement = "vratingRates0" + ViewBag.PersonalProfile.MeetingSiteManagement;
    var MeetingSiteInspection = "vratingRates0" + ViewBag.PersonalProfile.MeetingSiteInspection;
    var MeetingBusinessTrips = "vratingRates0" + ViewBag.PersonalProfile.MeetingBusinessTrips;
    var MeetingDestinationFamiliarization = "vratingRates0" + ViewBag.PersonalProfile.MeetingDestinationFamiliarization;
    var BookingEventsSources = "vratingRates0" + ViewBag.PersonalProfile.BookingEventsSources;

}
<!DOCTYPE html>
<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>I've Been There! - My Profile</title>
    <link rel="stylesheet" type="text/css" href="~/App/css/personalProfile/main.css" />
</head>

<body>
    <div id="wrapperView">
        <!-- My Profile Detai;s -->
        <div id="myProfDetails">
            <div class="myProfDtsec01">
                <div class="myProfDtCover">
                    <div class="myProfDtCvImg">
                        @if (string.IsNullOrWhiteSpace(ViewBag.PersonalProfile.CoverPageURL))
                        {
                            <img src="~/App/images/personalProfile/cover_img.jpg" alt="Cover Images" />
                        }
                        else
                        {
                            <img src="@ViewBag.PersonalProfile.CoverPageURL" alt="Cover Images" />
                        }

                    </div>
                    <div class="myProfDtCvShadeTop"></div><div class="myProfDtCvShadeBtm"></div>

                    <!-- Profile Intro -->
                    <div class="myProfIntro01Wrapper">
                        <div class="myProfIntro01Holder">
                            <div class="myProfIntroCol-left">
                                <div class="myProfIntroCol-leftInn">
                                    <div class="myProfIntroIcons"><img src="~/App/images/personalProfile/icons/icon_white_profile.png" alt="Profile Icon" /></div>
                                    <div class="myProfIntroText">
                                        <p>
                                            @ViewBag.PersonalProfile.User.Profile.Firstname
                                            @ViewBag.PersonalProfile.User.Profile.Lastname
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="myProfIntro01Wrapper">
                        <div class="myProfIntro01Holder">
                            <div class="myProfIntroCol-right">
                                <div class="myProfIntroCol-rightInn">
                                    <div class="myProfIntroIcons"><img src="~/App/images/personalProfile/icons/icon_white_location.png" alt="Location Icon" /></div>
                                    <div class="myProfIntroText">
                                        <p class="mptLocations">
                                            @ViewBag.UserCountryName
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="myProfIntro02Wrapper">
                        <div class="myProfIntro02Holder">
                            <div class="myProfIntroCol02-left">
                                <div class="myProfIntroCol02-leftInn">
                                    <div class="myProfIntroText">
                                        <p>
                                            @ViewBag.PersonalProfile.User.Profile.JobTitle
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- end of profile Intro -->
                    <!-- Profile Photo -->
                    <div class="myProfileImgCol">
                        <div class="myProfileImg"><div class="myProfilePhoto"><img src="~/App/images/personalProfile/gall_photo03.jpg" alt="Profile Photo" /></div></div>
                        <div class="myProfileIcons"><img src="~/App/images/personalProfile/icons/icon_meet_profess.png" alt="Meeting Professional Icon" /></div>
                    </div>
                </div><!-- end of .myProfDtCover -->

                <div class="myProfLogoHolder"><a class="myProfLogo"><img src="~/App/images/personalProfile/logo_ivebeenthere.png" alt="I've Been There!" /></a></div>
                <div class="myProfSocialHolder">
                    <div class="myProfSocialText"><p>Share with</p></div>
                    <ul class="myProfSocialIcons">
                        <li class="myProfSocialBtn"><a class="btn-myprofBtnFb"></a></li>
                        <li class="myProfSocialBtn"><a class="btn-myprofBtnTwitt"></a></li>
                        <li class="myProfSocialBtn"><a class="btn-myprofBtnLIn"></a></li>
                    </ul>
                </div>
            </div><!-- end of .myProfDtsec01 -->

            <div class="myProfDtsec02">
                <div class="myProfDtCntCol">
                    <div class="myProfCntHeaders"><div class="mypfCntHdContainer"><img src="~/App/images/personalProfile/icons/icon_link.png" alt="Links Icon" /><h3>Links</h3></div></div>

                    <ul class="myProfCntInfo">
                        @foreach (var item in ViewBag.PersonalProfile.PersonalProfileLinks)
                        {
                            <li class="mypfCntInfoCol"><span>@item.Address</span></li>
                        }
                    </ul>
                </div>

                <div class="myProfDtCntCol">
                    <div class="myProfCntHeaders"><div class="mypfCntHdContainer"><img src="~/App/images/personalProfile/icons/icon_industry.png" alt="Industry Icon" /><h3>Industry Professional Development</h3></div></div>

                    <ul class="myProfCntInfo">
                        @foreach (var item in ViewBag.PersonalProfile.PersonalProfileProfessionals)
                        {
                            <li class="mypfCntInfoCol"><span>@item.Professional</span></li>
                        }
                    </ul>
                </div>
            </div><!-- end of .myProfDtsec02 -->

            <div class="secDividerWrapper"><div class="secDividerHolderSm"><svg><g fill="none" stroke="rgba(190,190,190,1)" stroke-width="1"><path stroke-dasharray="5,5" d="M5 13 1000 13" /></g></svg></div></div>

            <div class="myProfDtsec03">
                <ul class="myProfDataCnt">
                    <li class="myProfDataCol">
                        <div class="mypfDataFigures">
                            <span>
                                @Widget.IbtStatistics(1, _userId)
                            </span>
                        </div>
                        <div class="mypfDataCatg"><span>Countries</span></div>
                    </li>

                    <li class="myProfDataCol">
                        <div class="mypfDataFigures">
                            <span>
                                @Widget.IbtStatistics(2, _userId)
                            </span>
                        </div>
                        <div class="mypfDataCatg"><span>Cities</span></div>
                    </li>

                    <li class="myProfDataCol">
                        <div class="mypfDataFigures">
                            <span>
                                @Widget.IbtStatistics(3, _userId)
                            </span>
                        </div>
                        <div class="mypfDataCatg"><span>Hotels</span></div>
                    </li>

                    <li class="myProfDataCol">
                        <div class="mypfDataFigures">
                            <span>
                                @Widget.IbtStatistics(4, _userId)
                            </span>
                        </div>
                        <div class="mypfDataCatg"><span>Lifestyle</span></div>
                    </li>

                    <li class="myProfDataCol">
                        <div class="mypfDataFigures">
                            <span>
                                @Widget.IbtStatistics(5, _userId)
                            </span>
                        </div>
                        <div class="mypfDataCatg"><span>Attractions</span></div>
                    </li>
                </ul>
            </div><!-- end of .myProfDtsec03 -->
        </div><!-- end of #myProfDetails -->
        <!-- My Gallery -->
        <div id="myGallery">
            <div class="profVwHeader"><h1 class="h1Blue">MY GALLERY</h1></div>
            <div class="mygallSubhead"><h3>Check out my travel photos and click to see them</h3></div>

            <div class="mygallImgWrapper">
                <div class="mygallImgHolder">
                    <div class="mygallImgColLg"><img src="~/App/images/personalProfile/gall_photo01.jpg" alt="Gallery Photo" /></div>
                    <div class="mygallImgColSm"><img src="~/App/images/personalProfile/gall_photo02.jpg" alt="Gallery Photo" /></div>
                    <div class="mygallImgColSm"><img src="~/App/images/personalProfile/gall_photo03.jpg" alt="Gallery Photo" /></div>
                    <div class="mygallImgColSm"><img src="~/App/images/personalProfile/gall_photo01.jpg" alt="Gallery Photo" /></div>
                    <div class="mygallImgColSm"><img src="~/App/images/personalProfile/gall_photo02.jpg" alt="Gallery Photo" /></div>
                    <div class="mygallImgColLg"><img src="~/App/images/personalProfile/gall_photo03.jpg" alt="Gallery Photo" /></div>
                    <div class="mygallImgColLg"><img src="~/App/images/personalProfile/gall_photo01.jpg" alt="Gallery Photo" /></div>
                    <div class="mygallImgColSm"><img src="~/App/images/personalProfile/gall_photo02.jpg" alt="Gallery Photo" /></div>
                    <div class="mygallImgColSm"><img src="~/App/images/personalProfile/gall_photo03.jpg" alt="Gallery Photo" /></div>
                </div>
                <div class="mygallButton"><a class="btn-gallMorePhotos"><span>more</span></a></div>
            </div>
        </div><!-- end of #myGallery -->
        <!-- Travel History -->
        @if (ViewBag.CoutriesList.Count > 0)
        {
            var rowsNo = ViewBag.CoutriesList.Count / 4;
            <div id="travelHistory">
                <div class="profVwHeader"><h1 class="h1White">TRAVEL HISTORY</h1></div>
                <div class="trvhstCntsec01">
                    <ul class="trvhstListWrapper">

                        <!-- Travel List row 01 -->
                        @for (int i = 0; i <= rowsNo; i++)
                        {
                            <li class="trvhstListRow">
                                <dl class="trvhstListCont">
                                    <dt class="trvhstListCol">
                                        @for (int j = (i * 4); ((j < ((i * 4) + 4)) && (j < ViewBag.CoutriesList.Count)); j++)
                                        {
                                            <div class="trvhstCntContainer"><span class="trvhstContCountry">@ViewBag.CoutriesList[j][1].ToString()</span><span class="trvhstContFigure">3</span></div>
                                        }
                                    </dt>

                                    <dt class="trvhstListCol">
                                        <div class="trvhstListCtsWrapper hide">
                                            <div class="trvhstListCtsHolder">
                                                <div class="trvhstListCtsArrow thLstCtsArw01 hide"></div>
                                                @for (int j = (i * 4); ((j < ((i * 4) + 4)) && (j < ViewBag.CoutriesList.Count)); j++)
                                                {
                                                    <ul class="trvhstListCtsContainer ">
                                                        @foreach (var item in @ViewBag.CitiesList)
                                                        {
                                                            if (item.CountryId == int.Parse(ViewBag.CoutriesList[j][0].ToString()))
                                                            {
                                                                <li class="trvhstListCtsCol"><p><span>@item.CityName </span>&nbsp;/&nbsp;City</p></li>
                                                            }
                                                        }
                                                    </ul>
                                                }
                                            </div>
                                        </div>
                                    </dt>
                                </dl>
                            </li>
                        }
                        <!-- end of Travel List Row 01 -->

                    </ul>

                    <div class="trvhstButtons"><a class="btn-travelMoreHistory"><span>more</span></a></div>

                </div><!-- end of .trvhstCntsec01 -->
                <div class="prvthMapWrapper"><div class="prvthMap"><!-- map insert here --></div></div>
            </div>
        }
        <!-- end of #travelHistory -->
        <!-- Meeting Experiences -->
        <div id="mtgExpWrapper">
            <div class="profVwHeader"><h1 class="h1Blue">MEETING EXPERIENCES</h1></div>

            <!-- View pg - Rating Section -->
            <div class="viewRatingSection">
                <div class="pvSecHeader"><h2 class="sech2Blue">TRAVEL AND MEETING SKILLS</h2></div>

                <div class="vratingIconHolder">
                    <div class="vratingColTexts"></div>
                    <div class="vratingImgCols"><img src="~/App/images/personalProfile/icons/icon_rates_bronze.png" alt="Reward Bronze" /><span>1 - 5</span></div>
                    <div class="vratingImgCols"><img src="~/App/images/personalProfile/icons/icon_rates_silver.png" alt="Reward Silver" /><span>6 - 10</span></div>
                    <div class="vratingImgCols"><img src="~/App/images/personalProfile/icons/icon_rates_gold.png" alt="Reward Gold" /><span>11 - 20</span></div>
                    <div class="vratingImgCols"><img src="~/App/images/personalProfile/icons/icon_rates_trophy.png" alt="Reward Trophy" /><span>20+</span></div>
                </div>
                <div class="vratingWrapper">
                    <ul class="vratingHolder">
                        <!-- rating 01 -->
                        <li class="vratingLines">
                            <div class="vratingColTexts">&nbsp;</div>
                            <div class="vratingColSub">&nbsp;</div>
                            <div class="vratingColSub">&nbsp;</div>
                            <div class="vratingColSub">&nbsp;</div>
                            <div class="vratingColSub">&nbsp;</div>
                        </li>
                        <li class="vratingContainer">
                            <div class="vratingColTexts"><p>On-site Management</p></div>
                            <div class="vratingScaleHolder">
                                <div class="vratingScaleFrame"><div class="vratingBarBlue @MeetingSiteManagement"></div></div>
                            </div>
                        </li>
                        <!-- end of rating 01 -->
                        <!-- rating 02 -->
                        <li class="vratingLines">
                            <div class="vratingColTexts">&nbsp;</div>
                            <div class="vratingColSub">&nbsp;</div>
                            <div class="vratingColSub">&nbsp;</div>
                            <div class="vratingColSub">&nbsp;</div>
                            <div class="vratingColSub">&nbsp;</div>
                        </li>
                        <li class="vratingContainer">
                            <div class="vratingColTexts"><p>Site Inspection</p></div>
                            <div class="vratingScaleHolder">
                                <div class="vratingScaleFrame"><div class="vratingBarBlue @MeetingSiteInspection"></div></div>
                            </div>
                        </li>
                        <!-- end of rating 02 -->
                        <!-- rating 03 -->
                        <li class="vratingLines">
                            <div class="vratingColTexts">&nbsp;</div>
                            <div class="vratingColSub">&nbsp;</div>
                            <div class="vratingColSub">&nbsp;</div>
                            <div class="vratingColSub">&nbsp;</div>
                            <div class="vratingColSub">&nbsp;</div>
                        </li>
                        <li class="vratingContainer">
                            <div class="vratingColTexts"><p>Business Trips</p></div>
                            <div class="vratingScaleHolder">
                                <div class="vratingScaleFrame"><div class="vratingBarBlue @MeetingBusinessTrips"></div></div>
                            </div>
                        </li>
                        <!-- end of rating 03 -->
                        <!-- rating 04 -->
                        <li class="vratingLines">
                            <div class="vratingColTexts">&nbsp;</div>
                            <div class="vratingColSub">&nbsp;</div>
                            <div class="vratingColSub">&nbsp;</div>
                            <div class="vratingColSub">&nbsp;</div>
                            <div class="vratingColSub">&nbsp;</div>
                        </li>
                        <li class="vratingContainer">
                            <div class="vratingColTexts"><p>Destination Familiarizations</p></div>
                            <div class="vratingScaleHolder">
                                <div class="vratingScaleFrame"><div class="vratingBarBlue @MeetingDestinationFamiliarization"></div></div>
                            </div>
                        </li>
                        <!-- end of rating 04 -->
                        <!-- rating 010 || Specialties -->
                        <li class="vratingContainer">
                            <div class="vratingColTexts"><p>Specialties<span> List of program experience</span></p></div>
                            <div class="vratingScaleHolder"><p class="vratingScaleInfos">Experienced in Parmaceutrical/Healthcare, Technology, Consumer Products, and Trade Show</p></div>
                        </li>
                        <!-- end of rating 010 || Specialties -->
                    </ul>
                </div>
            </div><!-- end of View pg - Rating Section -->
            @if (ViewBag.PersonalProfile.DisplayMeetingChallenges)
            {
                <div class="secDividerWrapper"><div class="secDividerHolderSm"><svg><g fill="none" stroke="rgba(190,190,190,1)" stroke-width="1"><path stroke-dasharray="5,5" d="M5 13 1000 13" /></g></svg></div></div>
                <div class="mtgExpsec02">
                    <div class="pvSecHeader"><h2 class="sech2Blue">MEETING CHALLENGES EXPERIENCED</h2></div>
                    <ul class="mtchInfoWrapper">
                        @if (ViewBag.PersonalProfile.IsMeetingGroup500Attendees)
                        {
                            <li class="mtchInfoHolder">
                                <div class="mtchInfoImg"><img src="~/App/images/personalProfile/icons/icon_mtch_grpattends.png" alt="Group 500+ Attendees" /></div>
                                <div class="mtchInfoTexts"><p>Group 500+ Attendees</p></div>
                            </li><!-- #1 -->
                        }

                        @if (ViewBag.PersonalProfile.IsMeetingGlobalAudience)
                        {
                            <li class="mtchInfoHolder">
                                <div class="mtchInfoImg"><img src="~/App/images/personalProfile/icons/icon_mtch_globaudn.png" alt="Global Audience" /></div>
                                <div class="mtchInfoTexts"><p>Global Audience</p></div>
                            </li><!-- #2 -->
                        }

                        @if (ViewBag.PersonalProfile.IsMeetingNonHotelVenue)
                        {
                            <li class="mtchInfoHolder">
                                <div class="mtchInfoImg"><img src="~/App/images/personalProfile/icons/icon_mtch_nhtlven.png" alt="Non-Hotel Venue" /></div>
                                <div class="mtchInfoTexts"><p>Non-Hotel Venue</p></div>
                            </li><!-- #3 -->
                        }

                        @if (ViewBag.PersonalProfile.IsMeetingVirtualComponent)
                        {
                            <li class="mtchInfoHolder">
                                <div class="mtchInfoImg"><img src="~/App/images/personalProfile/icons/icon_mtch_virtualcomp.png" alt="Virtual Component" /></div>
                                <div class="mtchInfoTexts"><p>Virtual Component</p></div>
                            </li><!-- #4 -->
                        }

                        @if (ViewBag.PersonalProfile.IsMeetingStrike)
                        {
                            <li class="mtchInfoHolder">
                                <div class="mtchInfoImg"><img src="~/App/images/personalProfile/icons/icon_mtch_strike.png" alt="Strike" /></div>
                                <div class="mtchInfoTexts"><p>Strike</p></div>
                            </li><!-- #5 -->
                        }

                        @if (ViewBag.PersonalProfile.IsMeetingPolitical)
                        {
                            <li class="mtchInfoHolder">
                                <div class="mtchInfoImg"><img src="~/App/images/personalProfile/icons/icon_mtch_political.png" alt="Political / Social Crisis" /></div>
                                <div class="mtchInfoTexts"><p>Political / Social Crisis</p></div>
                            </li><!-- #6 -->
                        }

                        @if (ViewBag.PersonalProfile.IsMeetingNatural)
                        {
                            <li class="mtchInfoHolder">
                                <div class="mtchInfoImg"><img src="~/App/images/personalProfile/icons/icon_mtch_natdisaster.png" alt="Natural Disaster" /></div>
                                <div class="mtchInfoTexts"><p>Natural Disaster</p></div>
                            </li><!-- #7 -->
                        }

                        @if (ViewBag.PersonalProfile.IsMeetingCelebrity)
                        {

                            <li class="mtchInfoHolder">
                                <div class="mtchInfoImg"><img src="~/App/images/personalProfile/icons/icon_mtch_celebpolt.png" alt="Celebrity / Political Leader Participating" /></div>
                                <div class="mtchInfoTexts"><p>Celebrity / Political Leader Participating</p></div>
                            </li><!-- #8 -->
                        }
                    </ul>
                </div><!-- end of Meeting Experiences Section 02 -->
            }
        </div><!-- end of #mtgExpWrapper -->
        <!-- Booking & Contracting Experience -->
    @if (ViewBag.PersonalProfile.PublishBookingContracting)
    { 
        <div id="bkCntrExpWrapper">
            <div class="profVwHeader"><h1 class="h1Blue">BOOKING & CONTRACTING EXPERIENCE</h1></div>

            <!-- View pg - Rating Section -->
            <div class="viewRatingSection">
                <div class="pvSecHeader"><h2 class="sech2Blue">TRAVEL AND MEETING SKILLS</h2></div>

                <div class="vratingIconHolder">
                    <div class="vratingColTexts"></div>
                    <div class="vratingImgCols"><img src="~/App/images/personalProfile/icons/icon_rates_bronze.png" alt="Reward Bronze" /><span>1 - 5</span></div>
                    <div class="vratingImgCols"><img src="~/App/images/personalProfile/icons/icon_rates_silver.png" alt="Reward Silver" /><span>6 - 10</span></div>
                    <div class="vratingImgCols"><img src="~/App/images/personalProfile/icons/icon_rates_gold.png" alt="Reward Gold" /><span>11 - 20</span></div>
                    <div class="vratingImgCols"><img src="~/App/images/personalProfile/icons/icon_rates_trophy.png" alt="Reward Trophy" /><span>20+</span></div>
                </div>
                <div class="vratingWrapper">
                    <ul class="vratingHolder">
                        <!-- rating 01 -->
                        <li class="vratingLines">
                            <div class="vratingColTexts">&nbsp;</div>
                            <div class="vratingColSub">&nbsp;</div>
                            <div class="vratingColSub">&nbsp;</div>
                            <div class="vratingColSub">&nbsp;</div>
                            <div class="vratingColSub">&nbsp;</div>
                        </li>
                        <li class="vratingContainer">
                            <div class="vratingColTexts"><p>Event Sourced</p></div>
                            <div class="vratingScaleHolder">
                                <div class="vratingScaleFrame"><div class="vratingBarBlue @BookingEventsSources></div></div>
                            </div>
                        </li>
                        <!-- end of rating 01 -->
                        <!-- rating 010 || Specialties -->
                        <li class="vratingContainer">
                            <div class="vratingColTexts"></div>
                            <div class="vratingScaleHolder"><p class="vratingScaleInfos">Experienced in Parmaceutrical/Healthcare, Technology, Consumer Products, and Trade Show</p></div>
                        </li>
                        <!-- end of rating 010 || Specialties -->
                    </ul>
                </div>
            </div><!-- end of View pg - Rating Section -->

            <div class="secDividerWrapper"><div class="secDividerHolderSm"><svg><g fill="none" stroke="rgba(190,190,190,1)" stroke-width="1"><path stroke-dasharray="5,5" d="M5 13 1000 13" /></g></svg></div></div>

            <div class="bksec02">
                <div class="pvSecHeader"><h2 class="sech2Blue">VENUE SOURCING EXPERIENCE</h2></div>

                <div class="vnCntrWrapper">
                    <div class="vnCntrHolder">
                        <ul class="vnCntrContainer">
                            <!-- Venue#1 -->
                            <li class="vnCntrCol">
                                <div class="vnCntrVnImg"><div class="nvCntrVnPhoto"><img src="~/App/images/personalProfile/venues_img.jpg" alt="Venue Logo" /></div></div>

                                <div class="vnCntrVnInfo">
                                    <div class="vnCntrVnInName"><h4>THE WESTIN PALACE MADRID</h4></div>
                                    <div class="vnCntrVnInPlc"><p class="left"><span>Spain</span> (Country)</p> <p class="right"><span>Madrid</span> (Cities)</p></div>
                                </div>
                            </li><!-- end of Venue#1 -->
                            <!-- Venue#2 -->
                            <li class="vnCntrCol">
                                <div class="vnCntrVnImg"><div class="nvCntrVnPhoto"><img src="~/App/images/personalProfile/venues_img.jpg" alt="Venue Logo" /></div></div>

                                <div class="vnCntrVnInfo">
                                    <div class="vnCntrVnInName"><h4>THE WESTIN PALACE MADRID</h4></div>
                                    <div class="vnCntrVnInPlc"><p class="left"><span>Spain</span> (Country)</p> <p class="right"><span>Madrid</span> (Cities)</p></div>
                                </div>
                            </li><!-- end of Venue#2 -->
                            <!-- Venue#3 -->
                            <li class="vnCntrCol">
                                <div class="vnCntrVnImg"><div class="nvCntrVnPhoto"><img src="~/App/images/personalProfile/venues_img.jpg" alt="Venue Logo" /></div></div>

                                <div class="vnCntrVnInfo">
                                    <div class="vnCntrVnInName"><h4>THE WESTIN PALACE MADRID</h4></div>
                                    <div class="vnCntrVnInPlc"><p class="left"><span>Spain</span> (Country)</p> <p class="right"><span>Madrid</span> (Cities)</p></div>
                                </div>
                            </li><!-- end of Venue#3 -->
                            <!-- Venue#4 -->
                            <li class="vnCntrCol">
                                <div class="vnCntrVnImg"><div class="nvCntrVnPhoto"><img src="~/App/images/personalProfile/venues_img.jpg" alt="Venue Logo" /></div></div>

                                <div class="vnCntrVnInfo">
                                    <div class="vnCntrVnInName"><h4>THE WESTIN PALACE MADRID</h4></div>
                                    <div class="vnCntrVnInPlc"><p class="left"><span>Spain</span> (Country)</p> <p class="right"><span>Madrid</span> (Cities)</p></div>
                                </div>
                            </li><!-- end of Venue#4 -->
                            <!-- Venue#5 -->
                            <li class="vnCntrCol">
                                <div class="vnCntrVnImg"><div class="nvCntrVnPhoto"><img src="~/App/images/personalProfile/venues_img.jpg" alt="Venue Logo" /></div></div>

                                <div class="vnCntrVnInfo">
                                    <div class="vnCntrVnInName"><h4>THE WESTIN PALACE MADRID</h4></div>
                                    <div class="vnCntrVnInPlc"><p class="left"><span>Spain</span> (Country)</p> <p class="right"><span>Madrid</span> (Cities)</p></div>
                                </div>
                            </li><!-- end of Venue#5 -->
                            <!-- Venue#6 -->
                            <li class="vnCntrCol">
                                <div class="vnCntrVnImg"><div class="nvCntrVnPhoto"><img src="~/App/images/personalProfile/venues_img.jpg" alt="Venue Logo" /></div></div>

                                <div class="vnCntrVnInfo">
                                    <div class="vnCntrVnInName"><h4>THE WESTIN PALACE MADRID</h4></div>
                                    <div class="vnCntrVnInPlc"><p class="left"><span>Spain</span> (Country)</p> <p class="right"><span>Madrid</span> (Cities)</p></div>
                                </div>
                            </li><!-- end of Venue#6 -->
                            <!-- Venue#7 -->
                            <li class="vnCntrCol">
                                <div class="vnCntrVnImg"><div class="nvCntrVnPhoto"><img src="~/App/images/personalProfile/venues_img.jpg" alt="Venue Logo" /></div></div>

                                <div class="vnCntrVnInfo">
                                    <div class="vnCntrVnInName"><h4>THE WESTIN PALACE MADRID</h4></div>
                                    <div class="vnCntrVnInPlc"><p class="left"><span>Spain</span> (Country)</p> <p class="right"><span>Madrid</span> (Cities)</p></div>
                                </div>
                            </li><!-- end of Venue#7 -->
                        </ul>

                        <div class="vnCntrBtnLeft"><a class="btn-vnCntrPrev">&#60;</a></div>
                        <div class="vnCntrBtnRight"><a class="btn-vnCntrNext">&#62;</a></div>
                    </div>
                </div>
            </div><!-- end of Booking section 2 -->
        </div>
    }
    <!-- end of #bkCntrExpWrapper -->
    </div><!-- end of #wrapper -->
</body>
</html>
