﻿<div class="footer">
<div  class="head">
    <span class="right">
        <a href="http://www.i-meet.com" id="f_imeet" onclick="changeLink('Imeet');return false;"><img src="/images/logo/I-Meet-ICON48.gif" alt="I-Meet"  width="27" height="27"/></a>
        <a href="https://www.facebook.com/worldtravelnotebook" id="f_facebook" onclick="changeLink('Facebook');return false;"><img src="/images/logo/facebook_h26.gif"></a>
        <a href="http://twitter.com" id="f_twitter" onclick="changeLink('Twitter');return false;"><img src="/images/logo/twitter_h26.gif"></a>
        <a href="http://www.linkedin.com/groups/Ive-Been-There-4770767" id="f_linkedin" onclick="changeLink('Linkedin');return false;"><img src="/images/logo/linkedin_h26.gif"></a>
    </span>
    <span class="link">
        <a href="/home" id="f_home" onclick="changeLink('Home');return false;">HOME</a> |
        <a href="/Home/Index" id="f_about" onclick="changeLink('About');return false;">ABOUT</a> |
        <a href="/contact_us" id="f_contact" onclick="changeLink('Contact');return false;">CONTACT US</a> |
        <a href="/TermsOfUse" id="f_terms" onclick="changeLink('Terms');return false;">TERMS OF USE</a> |
        <a href="/PrivacyPolicy" id="f_privacy" onclick="changeLink('Privacy');return false;">PRIVACY</a>
        <br />2010-@DateTime.Now.Year i-Meet All rights reserved.
    </span>
    </div>
</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39524130-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
