﻿@{
    IMeet.IBT.Services.IProfileService _profileService = new IMeet.IBT.Services.ProfileService();
    int userid = _profileService.GetUserId();
    int showType = 0;
    var list = Widget.GetWidgetIBT(out showType);

    int[] cids = (from a in list select a.ObjId).ToArray();
    var citylist = Widget.GetCitiesByCids(cids);
            //int IBTType = list != null && list.Count > 0 ? list[0].IBTType : 0;
 }

<div class="box chooseBox NBorderB">
    <h2 class="blugBg"><span class="bg">Record Your Visits. Fast.</span></h2>
    <h3 class="title">Simply
        <img src="/images/icon/correct.gif" />
        and  save to your history
    </h3>
    <div class="fixbox">

        @if (showType == 3)
        {
            @Html.Raw("<div style=\"height:598px;\" class=\"scrollBox\">")
        }
        <ul class="nameLIst" id="wg_ibt_nameList">
            @foreach (var item in list)
            {
                int city = 0; int country = 0;
                if (showType == 1)
                {
                    //城市
                    var _country = (from a in citylist where a.CityId == item.ObjId select a).FirstOrDefault();
                    if (_country != null)
                    {
                        country = _country.CountryId;
                    }
                    city = item.ObjId;
                }
                else
                {
                    //国家
                    country = item.ObjId;
                }
                
                <li><span class="name">@item.ObjName</span><span class="checkbox" onclick="widget.checkbox(this);" data-cityId="@city"  data-objId="@country" ></span></li>
            }
        </ul>
        @if (showType == 3)
        {
            @Html.Raw("</div>")
        }
        @if (showType == 3)
        {
            <ul class="letterChoose" id="wg_ibt_letterChoose">
                <li><a href="javascript:void(0);" onclick="widget.Search(this,'A');">A</a></li>
                <li><a href="javascript:void(0);" onclick="widget.Search(this,'B');">B</a></li>
                <li><a href="javascript:void(0);" onclick="widget.Search(this,'C');">C</a></li>
                <li><a href="javascript:void(0);" onclick="widget.Search(this,'D');">D</a></li>
                <li><a href="javascript:void(0);" onclick="widget.Search(this,'E');">E</a></li>
                <li><a href="javascript:void(0);" onclick="widget.Search(this,'F');">F</a></li>
                <li><a href="javascript:void(0);" onclick="widget.Search(this,'G');">G</a></li>
                <li><a href="javascript:void(0);" onclick="widget.Search(this,'H');">H</a></li>
                <li><a href="javascript:void(0);" onclick="widget.Search(this,'I');">I</a></li>
                <li><a href="javascript:void(0);" onclick="widget.Search(this,'J');">J</a></li>
                <li><a href="javascript:void(0);" onclick="widget.Search(this,'K');">K</a></li>
                <li><a href="javascript:void(0);" onclick="widget.Search(this,'L');">L</a></li>
                <li><a href="javascript:void(0);" onclick="widget.Search(this,'M');">M</a></li>
                <li><a href="javascript:void(0);" onclick="widget.Search(this,'N');">N</a></li>
                <li><a href="javascript:void(0);" onclick="widget.Search(this,'O');">O</a></li>
                <li><a href="javascript:void(0);" onclick="widget.Search(this,'P');">P</a></li>
                <li><a href="javascript:void(0);" onclick="widget.Search(this,'Q');">Q</a></li>
                <li><a href="javascript:void(0);" onclick="widget.Search(this,'R');">R</a></li>
                <li><a href="javascript:void(0);" onclick="widget.Search(this,'S');">S</a></li>
                <li><a href="javascript:void(0);" onclick="widget.Search(this,'T');">T</a></li>
                <li><a href="javascript:void(0);" onclick="widget.Search(this,'U');">U</a></li>
                <li><a href="javascript:void(0);" onclick="widget.Search(this,'V');">V</a></li>
                <li><a href="javascript:void(0);" onclick="widget.Search(this,'W');">W</a></li>
                <li><a href="javascript:void(0);" onclick="widget.Search(this,'X');">X</a></li>
                <li><a href="javascript:void(0);" onclick="widget.Search(this,'Y');">Y</a></li>
                <li><a href="javascript:void(0);" onclick="widget.Search(this,'Z');">Z</a></li>
            </ul>
        }
    </div>

    <div class="btn">
        <input type="hidden" value="" id="ibt_ObjIds" />
        <input type="hidden" value="" id="ibt_CitiesIds" />
        <input type="hidden" value="" id="ibt_selLetter" />
        <input type="hidden" value="@showType" id="ibt_ibtType" />
        <a href="javascript:void(0);" onclick="widget.ibtAddMore()" class="btnBlue"><span class="bg">ADD + SAVE TO HISTORY</span></a>
        @if(userid<=0){
            <a  href="javascript:void(0);" class="italic mT5 inlineBox f11">Login required for this activity</a>
        }
        @*<a href="javascript:void(0);" onclick="widget.ibtSave();" class="btnBlueH37"><span class="bg">Save </span></a>*@
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $("#ibt_ObjIds").val("");
        $("#ibt_CitiesIds").val("");
        $("#ibt_selLetter").val("");
    });
</script>
