﻿@{
    IMeet.IBT.Services.IProfileService _profileService = new IMeet.IBT.Services.ProfileService();
    IMeet.IBT.Services.ITravelBadgeService _travelBadgeService = new IMeet.IBT.Services.TravelBadgeService(_profileService);
    int userid = _profileService.GetUserId();
    IMeet.IBT.DAL.User user = null;
    IMeet.IBT.DAL.Models.UserTravelBadge utb = null;
    if (userid > 0)
    {
        user = _profileService.GetUserInfo(userid);
        utb = _travelBadgeService.GetUserTravelbadge(user);
    }
}
<div class="box NBorderB">
    @if (user != null)
    {
        <h2 class="blugBg"><span class="bg">@(user.IsActivate == (int)IMeet.IBT.Services.Identifier.IsActivate.False ? "Activate now!" : "My Badge")</span></h2>
    }
    else
    {
        <h2 class="blugBg"><span class="bg">Activate now!</span></h2>
    }
    <div class="alignC mT10">
        <a href="/Account/PointSummary">
            <img alt="" src="@(user != null ? utb.TravelBadgeProfileLogo : "/images/logo/travel_badge/logo_trveler.jpg")"></a>
    </div>
    <p class="C676767">
        The industry's only <span class="bold">EXPERIENTIAL MEETINGS BADGE</span> brought to you by
        <br />
        i-Meet and American Express Meetings &amp; Events.
    </p>
    @if (user != null)
    {
        <a class="btnBlue" href="/Account/PointSummary">@(user.IsActivate == (int)IMeet.IBT.Services.Identifier.IsActivate.False ? "Activate now!" : "View More")</a>
    }
    else
    {
        <a class="btnBlue" href="javascript:void(0);" onclick="ibt.loadUrlPop('/account/login','Get','',function(){$('#pop_login').bValidator({singleError:true});  $('.boxyInner').addClass('popup');inputText();},'Login<span class=\'f12\'>(Required For This Activity)</span>');">Activate now!</a>
    }
</div>
