﻿@{
    IMeet.IBT.Services.SupplierService supplyService = new IMeet.IBT.Services.SupplierService();
    int showType = 0;
    string localUrl = HttpContext.Current.Request.Url.ToString();
    var list = Widget.GetWidgetSpecialOffersIBT(localUrl, out showType);
}
<script src="/js/jCookies.js"></script>
<script type="text/javascript">
    //统计点击数、浏览数
    function GetCountOfHBrowse(objId, ibtType, supplyId, countryId, cityId) {
        if (UserId == 0) {
            ibt.loadUrlPop('/account/login', 'Get', '', function () { $('#pop_login').bValidator({ singleError: true }); $('.boxyInner').addClass('popup'); inputText(); }, 'Login With');
            return;
        }
        $('#hidMediaId').val(objId);
        $('#hidsupplyId').val(supplyId);
        $('#hidcountryId').val(countryId);
        $('#hidcityId').val(cityId);
        $('#hidUrl').val(window.location.href);
        var json_data = { objId: $('#hidMediaId').val(), localUrl: $('#hidUrl').val() };
        $.post("/Widget/StatisticsWidgetHit", json_data, function (json) {
            if (json.Success) {
                //window.open('/Supplier/SpecialAds/' + $('#hidsupplyId').val());
                //var form = $("<form>").attr("method", "post").attr("action", '/Supplier/s/' + $('#hidsupplyId').val());
                var url = "";
                if (ibtType == "1") {
                    url = '/Country/Specials/1/' + $('#hidcountryId').val();
                }
                else if (ibtType == "2") {
                    url = '/City/Specials/2/' + $('#hidcityId').val();
                }
                else {
                    url = '/Supplier/v/' + $('#hidsupplyId').val() + '?p=specials';
                }
                $.setCookie('tabnum', "specials");
                var form = $("<form>").attr("method", "post").attr("action", url);
                $(form).appendTo(document.body).submit();
                $(form).remove();
            }
        }, "json");
    }
</script>
<input type="hidden" id="hidMediaId" name="hidMediaId" value="" />
<input type="hidden" id="hidsupplyId" name="hidsupplyId" value="" />
<input type="hidden" id="hidcountryId" name="hidcountryId" value="" />
<input type="hidden" id="hidcityId" name="hidcityId" value="" />
<input type="hidden" id="hidUrl" name="hidUrl" value="" />
<div class="box">
    <h2 class="blugBg"><a href="/SpecialsListing" class="right allLink">See All</a><span class="bg">Specials</span></h2>
    @foreach (var item in list)
    {
        //supplyName = supplyService.GetSupplyDetail(item.SupplyId).Title;
        //url = "/Supplier/v/" + item.SupplyId.ToString() + "-" + IMeet.IBT.Common.UrlSeoUtils.BuildValidUrl(supplyName);
        //specUrl = "/Supplier/s/" + item.SupplyId.ToString() + "-" + IMeet.IBT.Common.UrlSeoUtils.BuildValidUrl(supplyName);
        <div class="outline mT15 mR10">
            @if (item.MediaType == 2)
            {
                <a href="javascript:void(0);"  onclick="GetCountOfHBrowse(@item.MediaId,@item.IBTType ,@item.SupplyId,@item.CountryId,@item.CityId);">
                    <img src="@Html.Raw(string.IsNullOrEmpty(item.FileSrc) ? "" : item.FileSrc + "_vd.jpg")" alt="@item.Title" /></a>
            }
            else
            {
                @Html.Raw("<a href=\"javascript:void(0);\" onclick=\"GetCountOfHBrowse(" + item.MediaId + "," + item.IBTType + "," + item.SupplyId + "," + item.CountryId + "," + item.CityId + ");\">" + item.Code + "</a>")
            }
            <div class="pointer" onclick="GetCountOfHBrowse(@item.MediaId,@item.IBTType ,@item.SupplyId,@item.CountryId,@item.CityId);">
                <h3>@item.Title</h3>
                @{
            if (item.Desp.ToString().Contains("<") || item.Desp.ToString().Contains(">"))
            {
                    <p>@Html.Raw(item.Desp.ToString())</p>
            }
            else
            {     
                    @Html.Raw(string.IsNullOrEmpty(item.Desp.ToString()) ? "" : "<p>" + IMeet.IBT.Common.StringHelper.Truncate(item.Desp, 150, "...") + "</p>")
            }
                }
            </div>
        </div>
       
    }
</div>
@*<div class="box">
                <h2 class="blugBg"><span class="bg">promotions</span></h2>
                <div class="scrollBox promotion" style="overflow: hidden; position: relative; padding: 0px;"><div style="top: 0px; z-index: 3; position: relative; padding-right: 14px;" class="jscroll-c"><div style="height:0px;overflow:hidden"></div>
                    <dl>
                        <dt>Holiday Inn</dt>
                        <dd>
                            <span class="img"><img alt="Photos name" src="/images/photos/imgW97_01.jpg"></span>
                            <div class="main">
                                    <p><span class="C11465c uppercase">The only place you can find cheap and affordable rooms</span><br>
                                    Holiday Inn Hotels participate in the Priority Club Rewards programme, so you can earn points 
                                    </p>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>One Piece Restaurant</dt>
                        <dd>
                            <span class="img"><img alt="Photos name" src="/images/photos/imgW97_02.jpg"></span>
                            <div class="main">
                                    <p><span class="C11465c uppercase">now you can have the real-life culinary interpretation of the infamous Devil fruit!</span>
                                    </p>
                                    <p class="uppercase">Only @Html.Raw("@") One Piece!</p>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>Round Hotel</dt>
                        <dd>
                            <span class="img"><img alt="Photos name" src="/images/photos/imgW97_03.jpg"></span>
                            <div class="main">
                                    <p>The shape is uber-modern, with a helix-shape floor space surrounding an empty core. Apparently this means that from inside the hotel you'll be able to 
                                    </p>
                            </div>
                        </dd>
                    </dl>
                </div><div style="height: 100%; top: 0px; right: 0px; -moz-user-select: none; position: absolute; z-index: 3; width: 14px; background: url(&quot;/images/scroll_bg_top.gif&quot;) repeat-y scroll -48px 0px transparent;" unselectable="on" class="jscroll-e"><div style="position: absolute; top: -1px; width: 100%; left: -3px; background: url(&quot;/images/scroll_bg_top.gif&quot;) repeat scroll 0px 0px transparent; overflow: hidden; height: 0px;" class="jscroll-u"></div><div style="background: url(&quot;/images/scroll_bg_bot.gif&quot;) no-repeat scroll left bottom transparent; position: absolute; left: 0px; -moz-user-select: none; top: 0px; border-color: rgb(181, 181, 181); width: 12px; height: 207.556px;" unselectable="on" class="jscroll-h"><div class="jscroll-hD"></div></div><div style="position: absolute; bottom: 0px; width: 100%; left: -3px; background: url(&quot;/images/scroll_bg_top.gif&quot;) repeat scroll 0px -14px transparent; overflow: hidden; height: 0px;" class="jscroll-d"></div></div></div>
            </div>*@
